<script type="text/javascript">
  function add_regions(){
    var all_id = $("#regions_id").val();
    var arry_region = all_id.split('#');
    var add = 0;
    if($("#region_name_input").val()!=''){
      for(var x=0; x < arry_region.length; x++){
        if((arry_region[x]!='')&&(arry_region[x]==$("#region_name_input").val())){
          add = 1
        }
      }
      if(add != 1){
        var new_regions = $("#regions_id").val() + ',' + $("#region_name_input").val()
        var currentdate = new Date();
        var id_region = currentdate.getTime();
        var region_name = $("#region_name_input").val();
        $("#regions_id").attr('value', new_regions);
        $("#regions").append('<div id="'+id_region+'"style="padding-left:176px;width:200px"class="property_type_selected">'+region_name+'\
         <a href="javascript:remove_region('+id_region+',\''+region_name+'\')">x</a></div>');
      }
    }
  }

  function remove_region(id,region){
    var all_id = $("#regions_id").val();
    var arry_region = all_id.split(',');
    arry_region.splice(arry_region.indexOf(region), 1);
    $("#regions_id").val("");
    $("#regions_id").attr("value", arry_region);
    $('#regions div#'+id).remove();
  }

  function add_suburbs(){
    var all_id = $("#suburbs_id").val();
    var arry_suburb = all_id.split(',');
    var add = 0;
    if($("#suburb_name_input").val()!=''){
      for(var x=0; x < arry_suburb.length; x++){
        if((arry_suburb[x]!='')&&(arry_suburb[x]==$("#suburb_name_input").val())){
          add = 1
        }
      }
      if(add != 1){
        var new_suburbs = $("#suburbs_id").val() + ',' + $("#suburb_name_input").val()
        var currentdate = new Date();
        var id_suburb = currentdate.getTime();
        var suburb_name = $("#suburb_name_input").val();
        $("#suburbs_id").attr('value', new_suburbs);
        $("#suburbs").append('<div id="'+id_suburb+'"style="padding-left:176px;;width:200px"class="property_type_selected">'+suburb_name+'\
         <a href="#" onclick="remove_suburb('+id_suburb+',\''+suburb_name+'\')">x</a></div>');
      }
    }
  }

  function remove_suburb(id,suburb){
    var all_id = $("#suburbs_id").val();
    var arry_suburb = all_id.split(',');
    arry_suburb.splice(arry_suburb.indexOf(suburb), 1);
    $("#suburbs_id").val("");
    $("#suburbs_id").attr("value", arry_suburb);
    $("#suburbs div#"+id).remove();
  }

  function tenant_flexbox(){
    var query = "<%= @tenant_name %>";
    jQuery("#tenant_name").flexbox('<%= auto_complete_tenant_agent_office_search_results_path(@agent, @office) %>',{
      customParameters: {q: query},
      method: 'post',
      watermark: query,
      showArrow: false,
      inputClass: 'single',
      minChars: 2,
      width:200,
      queryDelay: 300,
      paging:true,
      highlightMatches:true,
      containerClass:'ffbContainer',
      onSelect: function(){
        $("#tenant").attr('value', this.getAttribute('hiddenValue'));
      }
    });
  }

  function region_flexbox(){
    var query = "<%= @region_name %>";
    jQuery("#region_name").flexbox('<%= auto_complete_region_agent_office_search_results_path(@agent, @office) %>',{
      customParameters: {q: query},
      method: 'post',
      watermark: query,
      showArrow: false,
      inputClass: 'single',
      minChars: 2,
      width:200,
      queryDelay: 300,
      paging:true,
      highlightMatches:true,
      containerClass:'ffbContainer',
      onSelect: function(){
        add_regions();
        $("#region_input").attr('value', this.getAttribute('hiddenValue'));
        $("#region_name_input").val("");
      }
    });
  }


  function suburb_flexbox(){
    var query = "<%= @suburb_name %>";
    jQuery("#suburb_name").flexbox('<%= auto_complete_suburb_agent_office_search_results_path(@agent, @office) %>',{
      customParameters: {q: query},
      method: 'post',
      watermark: query,
      showArrow: false,
      inputClass: 'single',
      minChars: 2,
      width:200,
      queryDelay: 300,
      paging:true,
      highlightMatches:true,
      containerClass:'ffbContainer',
      onSelect: function(){
        add_suburbs();
        $("#suburb_input").attr('value', this.getAttribute('hiddenValue'));
        $("#suburb_name_input").val("");
      }
    });
  }

  $(document).ready(function(){
    <% if params[:listing_type].blank? %>
      $(".buttons").click();
    <%end%>
    tenant_flexbox();
    //region_flexbox();
    //suburb_flexbox();
    jQuery("#indicator1").ajaxStart(function(){
      jQuery(this).show();
    });
    jQuery("#indicator1").ajaxStop(function(){
      jQuery(this).hide();
    });
    $('.form_area').show();
    $('input#listing_type_projectsale').attr('checked', 'checked');
    $("#region_name_input").css("margin-left","176px");
    $("#region_name_input").css("margin-top","-20px");
    $("#suburb_name_input").css("margin-left","176px");
    $("#suburb_name_input").css("margin-top","-20px");
    //$('a#history_link').css("display", "none");
    $('.advanced_commercial_search').css("display", "none");
    $('.advanced_search').click(function(){
      if ($('a.advanced_search').text() == 'Refine Filter Criteria')
      {
        $('a.advanced_search').text('Close Refine Filter Criteria');
        $('dd.sinput').css("display", "none");
        $('li.non-separator').css("display", "none");
        $('li.separator').css("display", "block");
        $('.form_area').css("display", "block");

        $('.keyword').css("display", "none");
        $('.btns_green').css("margin-left", "-10px");
        $('.btn_grey').css("margin-left", "30px");
      }else{
        $('a.advanced_search').text('Refine Filter Criteria');
        $('dd.sinput').css("display", "block");
        $('li.non-separator').css("display", "block");
        $('li.separator').css("display", "none");
        $('.form_area').css("display", "none");
        $('input#listing_type_projectsale').removeAttr('checked');
        $('.keyword').css("display", "block");
      }
    });
<% unless params[:search_keyword].blank? %>
      var keyword = $('input#search_keyword').val();
      $('input#search_keyword_name').val(keyword);
      $('input#keyword').val(keyword);
<%end%>
<% unless params[:search_keyword_advanced].blank? %>
      var keyword_advanced = $('input#search_keyword_advanced').val();
      $('input#search_keyword_name').val(keyword_advanced);
      $('input#keyword').val(keyword_advanced);
<%end%>
<%unless params[:listing_type].blank?%>
      $(".advanced_search").click();
  <% if ["Commercial", "CommercialBuilding"].include?(params[:listing_type]) %>
        $("#listing_type_commercial").attr("checked", "checked");
        $('div.advanced_commercial_search').css("display", "block");
        $('dl#commercial').css("display", "block");
        $('li.commercial').css("display", "block");
        $('li.residential').css("display", "none");
        $('dl#residential').css("display", "none");
        $('dl#residential_building').css("display", "none");
        $('div.non_commercial_advanced_search').css("display", "none");
        $('label#residential_building').hide();
        $("#availiability").val("<%=params[:availiability]%>").attr("selected", "selected");
        $("#list_status_commercial").val("<%=params[:list_status_commercial]%>").attr("selected", "selected");
        $("#commercial_type").val("<%=params[:commercial_type]%>").attr("selected", "selected");
    <% if params[:state].present? %>
          $("#state").find("option[value='<%= params[:state] %>']").attr('selected', true);
    <%end%>
        $("#region").val("<%=params[:region]%>").attr("selected", "selected");
        $("#suburb").val("<%=params[:suburb]%>");
        $("#agent_internal").val("<%=params[:agent_internal]%>").attr("selected", "selected");
        $("#external_company").val("<%=params[:external_company]%>").attr("selected", "selected");
        $("#agent_external").val("<%=params[:agent_external]%>").attr("selected", "selected");
        $("#yield_from").val("<%=params[:yield_from]%>");
        $("#yield_to").val("<%=params[:yield_to]%>");
        $("#building_from").val("<%=params[:building_from]%>");
        $("#building_to").val("<%=params[:building_to]%>");
        $("#land_from").val("<%=params[:land_from]%>");
        $("#land_to").val("<%=params[:land_to]%>");
        $("#price_from_commercial").val("<%=params[:price_from_commercial]%>");
        $("#price_to_commercial").val("<%=params[:price_to_commercial]%>");
        $("#annual_rental_from").val("<%=params[:annual_rental_from]%>");
        $("#annual_rental_to").val("<%=params[:annual_rental_to]%>");
        $("#floor_from").val("<%=params[:floor_from]%>");
        $("#floor_to").val("<%=params[:floor_to]%>");
        $("#office_from").val("<%=params[:office_from]%>");
        $("#office_to").val("<%=params[:office_to]%>");
        $("#warehouse_from").val("<%=params[:warehouse_from]%>");
        $("#warehouse_to").val("<%=params[:warehouse_to]%>");
        $("#rent_from").val("<%=params[:rent_from]%>");
        $("#rent_to").val("<%=params[:rent_to]%>");
        $("#lease_from").val("<%=params[:lease_from]%>");
        $("#lease_to").val("<%=params[:lease_to]%>");
        $("#tenant").val("<%=params[:tenant]%>");

        //Populate
        //$("li.commercial #list_status").val("<%#=params[:list_status]%>").attr("selected", "selected");
    <% unless params[:type_commercial].blank? %>
      <% params[:type_commercial].each do |com_type| %>
            $("#type_commercial_<%=com_type.downcase.gsub(" ", "_").gsub("/", "_").gsub("&", "_")%>").attr("checked", "checked");
      <%end%>
    <%end%>
        //End
  <%elsif ["ResidentialSale", "ResidentialLease", "NewDevelopment", "HolidayLease", "LandRelease"].include?(params[:listing_type]) %>
        $("#listing_type_residentialsale").attr("checked", "checked");
        $('div.advanced_commercial_search').css("display", "block");
        $('dl#residential').css("display", "block");
        $('dl#residential_building').css("display", "block");
        $('dl#commercial').css("display", "none");
        $('li.commercial').css("display", "none");
        $('li.residential').css("display", "block");
        $('div.non_commercial_advanced_search').css("display", "none");
        $('label#residential_building').show();

        //Populate
        $("#availiability").val("<%=params[:availiability]%>").attr("selected", "selected");
        $("#list_status_residential").val("<%=params[:list_status_residential]%>").attr("selected", "selected");
    <% if params[:state].present? %>
          $("#state").find("option[value='<%= params[:state] %>']").attr('selected', true);
    <%end%>
        $("#region").val("<%=params[:region]%>").attr("selected", "selected");
        $("#suburb").val("<%=params[:suburb]%>");
        $("#agent_internal").val("<%=params[:agent_internal]%>").attr("selected", "selected");
        $("#external_company").val("<%=params[:external_company]%>").attr("selected", "selected");
        $("#agent_external").val("<%=params[:agent_external]%>").attr("selected", "selected");
        $("#yield_from").val("<%=params[:yield_from]%>");
        $("#yield_to").val("<%=params[:yield_to]%>");
        $("#building_from").val("<%=params[:building_from]%>");
        $("#building_to").val("<%=params[:building_to]%>");
        $("#land_from").val("<%=params[:land_from]%>");
        $("#land_to").val("<%=params[:land_to]%>");
        $("#price_from_residential").val("<%=params[:price_from_residential]%>");
        $("#price_to_residential").val("<%=params[:price_to_residential]%>");
        $("#annual_rental_from").val("<%=params[:annual_rental_from]%>");
        $("#annual_rental_to").val("<%=params[:annual_rental_to]%>");
        $("#floor_from").val("<%=params[:floor_from]%>");
        $("#floor_to").val("<%=params[:floor_to]%>");
        $("#office_from").val("<%=params[:office_from]%>");
        $("#office_to").val("<%=params[:office_to]%>");
        $("#warehouse_from").val("<%=params[:warehouse_from]%>");
        $("#warehouse_to").val("<%=params[:warehouse_to]%>");
        $("#rent_from").val("<%=params[:rent_from]%>");
        $("#rent_to").val("<%=params[:rent_to]%>");
        $("#lease_from").val("<%=params[:lease_from]%>");
        $("#lease_to").val("<%=params[:lease_to]%>");
        $("#tenant").val("<%=params[:tenant]%>");
    <% unless params[:type].blank? %>
      <% params[:type].each do |type| %>
        <% if type == "Acreage/Semi-Rural" %>
              $("#type_acreage_semi_rural").attr("checked", "checked");
        <%elsif type == "Development/knockdown"%>
              $("#type_development_knockdown").attr("checked", "checked");
        <%elsif type == "Vicarage/Parsonage/Rectory"%>
              $("#type_vicarage_parsonage_rectory").attr("checked", "checked");
        <%elsif type == "Garage/Parking"%>
              $("#type_garage_parking").attr("checked", "checked");
        <%elsif type == "Mobile/Manufactured"%>
              $("#type_mobile_manufactured").attr("checked", "checked");
        <%else%>
              $("#type_<%=type.downcase.gsub(" ", "_").gsub("/", "_").gsub("&", "_")%>").attr("checked", "checked");
        <%end%>
      <%end%>
    <%end%>
    <%unless params[:residential_building].blank? %>
      <% params[:residential_building].each do |res_build| %>
            $("#residential_building_<%= res_build.gsub(" ", "_").downcase %>").attr("checked", "checked");
      <%end%>
    <%end%>
        //End
  <%else%>
        $('input#listing_type_projectsale').attr('checked','checked');
        $('div.advanced_commercial_search').css("display", "none");
        $('div.non_commercial_advanced_search').css("display", "block");

        //Populate
        <% if params[:listing_type] == 'ProjectSale' %>
          $("#property_type").val("<%=params[:property_type]%>").attr("selected", "selected");
        <%elsif params[:listing_type] == 'BusinessSale' %>
          <%unless params[:business_type].blank? %>
            $("#business_type").find("option[value='<%= params[:business_type] %>']").attr('selected', 'selected');
            change_category('<%=params[:business_type]%>');
            <% unless params[:business_category].blank? %>
              $("#business_category").find("option[value='<%= @business_category %>']").attr('selected', 'selected');
            <%end%>
          <%end%>
        <%end%>

        $("#price_from").val("<%=params[:price_from]%>");
        $("#price_to").val("<%=params[:price_to]%>");
        $("#deal_type").val("<%=params[:deal_type]%>").attr("selected", "selected");
        $("#suites").val("<%=params[:suites]%>").attr("selected", "selected");
        $("#range_from").val("<%=params[:range_from]%>").attr("selected", "selected");
        $("#range_to").val("<%=params[:range_to]%>").attr("selected", "selected");
        //End
  <%end%>
<%else%>
      $("#state").find("option[value='<%=@property.state rescue nil %>']").attr('selected', true);
      $("#region_name_input").find("option[value='<%=@property.town_village rescue nil %>']").attr('selected', true);
      $("#suburb_name_input").find("option[value='<%=@property.suburb rescue nil %>']").attr('selected', true);
<%end%>
  });

  $('input.listing_type').live('change', function(){
    var checked = $('input.listing_type:checked').val() == 'Commercial';
    var checked_residential = $('input.listing_type:checked').val() == 'Residential';
    if (checked)
    {
<% params[:residential_building] = nil %>
      $('div.advanced_commercial_search').css("display", "block");
      $('dl#commercial').css("display", "block");
      $('li.commercial').css("display", "block");
      $('li.residential').css("display", "none");
      $('dl#residential').css("display", "none");
      $('dl#residential_building').css("display", "none");
      $('div.non_commercial_advanced_search').css("display", "none");
      $('label#residential_building').hide();
    }else if (checked_residential){
      $('div.advanced_commercial_search').css("display", "block");
      $('dl#residential').css("display", "block");
      $('dl#residential_building').css("display", "block");
      $('dl#commercial').css("display", "none");
      $('li.commercial').css("display", "none");
      $('li.residential').css("display", "block");
      $('div.non_commercial_advanced_search').css("display", "none");
      $('label#residential_building').show();
    }else{
      $('div.advanced_commercial_search').css("display", "none");
      $('div.non_commercial_advanced_search').css("display", "block");
    }
  });

  $('button.btn_img_search').live('click', function(){
    $('input.btn_img_search').click();
  });

  $("#state").live("change", function(){
    populate_regions();
  });

  $("#region_name_input").live("change", function(){
    add_regions();
    populate_suburbs();
  });

  $("#suburb_name_input").live("change", function(){
    add_suburbs();
  });

  $("#business_type").live('change', function(){
    change_category($(this).val());
  })

  function change_category(ptype){
    var base_address = $("li.business_category");
    var controller = "<%= change_property_types_agent_office_search_results_path(@agent, @office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data: {"ptype" : ptype},
      dataType:"html",
      beforeSend:function(){
        $('#business_type').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#business_category').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
      },
      success:function(data){
        $('#business_type').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#business_category').removeAttr('disabled').css('background-color', '#FFFFFF');
        jQuery("li.business_category").html(data);
         <% unless params[:business_category].blank? %>
            $("#business_category").val("<%=params[:business_category]%>").attr("selected", "selected");
          <%end%>
      }
    })
  }


  function populate_suburbs(){
    var base_address = $("li.suburbs");
    var controller = "<%= populate_suburbs_agent_office_search_results_path(@agent, @office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data: {"region_name" : $('#region_name_input').val(), "state_name" : $('#state').val(), "arr_suburb" : $("#suburbs_id").val()},
      dataType:"html",
      beforeSend:function(){
        $('#state').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#region_name_input').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#suburb_name_input').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
      },
      success:function(data){
        $('#state').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#region_name_input').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#suburb_name_input').removeAttr('disabled').css('background-color', '#FFFFFF');
        jQuery("li.suburbs").html(data);
      }
    })
  }

  function populate_regions(){
    var base_address = $("ul.locations");
    var controller = "<%= populate_regions_agent_office_search_results_path(@agent, @office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data: {"state_name" : $('#state').val()},
      dataType:"html",
      beforeSend:function(){
        $('#state').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#region_name_input').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#suburb_name_input').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
      },
      success:function(data){
        $('#state').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#region_name_input').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#suburb_name_input').removeAttr('disabled').css('background-color', '#FFFFFF');
        jQuery("ul.locations").html(data);
      }
    })
  }
</script>
<script type="text/javascript">
  $(function(){
    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
    });
    $('.loading').hide();
  });
</script>
<div class="basic_search">
  <div class="clearer"></div>
  <h3>Refine Filter Criteria</h3>
  <% form_tag "/agents/#{@agent.id}/offices/#{@office.id}/properties/#{@property.id}/match_contacts", :method => 'get' do %>
    <div class="form_area">
      <ul class="form_listing position_left">
        <li>
          <label for="keyword">keyword</label>
          <%= text_field_tag :search_keyword_advanced, params[:search_keyword_advanced],:class => "single", :placeholder => "Search keywords..." %>
        </li>
        <%= hidden_field_tag "listing_type", @property.type.to_s %>
        <div class="clearer"></div>
      </ul>

      <div class="advanced_commercial_search">
        <div class="clearer"></div>
        <h3 class="caption_form">
          <span>General Details</span>
        </h3>
        <ul class="form_listing width_full">
          <li>
            <label for="keyword" class="position_left">type</label>
            <dl id="residential" class="list_checkbox position_left">
              <% @residential_types.each do |rtype| %>
                <dd>
                <input id="type_<%=rtype.name.downcase.gsub(" ", "_").gsub("/", "_").gsub("&", "_")%>" type="checkbox" value="<%=rtype.name%>" name="type[]" checked="<%= rtype.name == @property.property_type ? true : false %>"/>
                  <label for="<%=rtype.name%>"><%=rtype.name%></label>
                </dd>
              <%end%>
            </dl>
            <dl id="commercial" class="list_checkbox position_left">
              <% @commercial_types.each do |ctype| %>
                <dd>
                  <input id="type_commercial_<%=ctype.name.downcase.gsub(" ", "_").gsub("/", "_")%>" type="checkbox" value="<%=ctype.name%>" name="type_commercial[]" <%= ctype.name == @property.property_type ? "checked" : "" %>/>
                  <label for="<%=ctype.name%>"><%=ctype.name%></label>
                </dd>
              <%end%>
            </dl>
            <div class="clearer"></div>
          </li>
          <li>
            <label for="keyword" class="position_left" id="residential_building">residential buildings</label>
            <dl id="residential_building" class="list_checkbox position_left" >
              <% @residential_buildings.each do |residential_building| %>
                <dd>
                  <input id="residential_building_<%=residential_building.gsub(" ", "_").downcase%>" type="checkbox" value="<%=residential_building%>" name="residential_building[]" class="parent_building" />
                  <label for="<%=residential_building%>"><%=residential_building%></label>
                </dd>
              <%end%>
            </dl>
            <div class="clearer"></div>
          </li>
          <li>
            <label for="property_type">Availiability Type</label>
            <% if params[:availiability].present? %>
              <%= select_tag :availiability, options_for_select(availiability_options, params[:availiability]) %>
            <%else%>
              <%= select_tag :availiability, options_for_select(availiability_options, @status) %>
            <%end%>
          </li>
          <li class="commercial">
            <label for="property_type">listing select status</label>
            <%= select_tag :list_status_commercial, options_for_select(status_property_commercial, @deal_type) %>
          </li>
          <li class="commercial">
            <label for="property_type">property type</label>
            <%= select_tag :commercial_type, options_for_select(commercial_type, @property.type.to_s) %>
          </li>
          <li class="residential">
            <label for="property_type">listing select status</label>
            <%= select_tag :list_status_residential, options_for_select(status_property_residential) %>
          </li>
        </ul>

        <ul class="form_listing position_left locations">
          <li>
            <h3 class="caption_form">
              <span>Location Details</span>
            </h3>
          </li>
          <li>
            <label for="state">State</label>
            <%= select_tag 'state', options_for_select(@states), {:class => "select_box"} %>
          </li>
          <li>
            <label for="state">Region</label>
            <% if params[:listing_type].blank? %>
              <%= select_tag 'region_name_input', options_for_select(@regions), {:class => "select_box"} %>
            <%else%>
              <% unless params[:regions_id].blank? || params[:state].blank? %>
                <% @regions = TownCountry.find_all_by_state_name(params[:state]).map{|x|[x.name,x.name]}.unshift(['Please select', '']) %>
                <%= select_tag 'region_name_input', options_for_select(@regions, params[:regions_id].split(',').last), {:class => "select_box"} %>
              <%else%>
                <%= select_tag 'region_name_input', options_for_select(['Please select', '']), {:class => "select_box"} %>
              <%end%>
            <%end%>
            <%= hidden_field_tag 'regions_id', @all_regions %>
            <div id="regions" style="width:300px;"><%= @all_regions_list %></div>
          </li>
          <li class="suburbs">
            <label for="state">Suburb</label>
            <% if params[:listing_type].blank? %>
              <%= select_tag 'suburb_name_input', options_for_select(@suburbs), {:class => "select_box"} %>
            <%else%>
              <% unless params[:suburbs_id].blank? || params[:regions_id].blank? %>
                <% @suburbs = Suburb.find_all_by_region_name(params[:regions_id].split(',').last).map{|x|[x.name,x.name]}.unshift(['Please select', '']) %>
                <%= select_tag 'suburb_name_input', options_for_select(@suburbs, params[:suburbs_id].split(',').last), {:class => "select_box"} %>
              <%else%>
                <%= select_tag 'suburb_name_input', options_for_select(['Please select', '']), {:class => "select_box"} %>
              <%end%>
            <%end%>
            <%= hidden_field_tag 'suburbs_id', @all_suburbs %>
            <div id="suburbs" style="width:300px;"><%= @all_suburbs_list %></div>
          </li>
        </ul>

        <div class="clearer"></div>
        <ul class="form_listing position_left">
          <li>
            <h3 class="caption_form">
              <span>Sale Filters</span>
            </h3>
          </li>
          <li class="two_field">
            <label for="yield">Yield (%)</label>
            <%= text_field_tag :yield_from, nil, :class => "first_form" %>
            <label for="to_yield" class="second">to</label>
            <%= text_field_tag :yield_to, nil %>
          </li>
          <li class="two_field">
            <label for="building">Floor area</label>
            <%= text_field_tag :building_from, @area_from, :class => "first_form" %>
            <label for="to_building" class="second">to</label>
            <%= text_field_tag :building_to, @area_to %>
          </li>
          <li class="two_field">
            <label for="land">Land area</label>
            <%= text_field_tag :land_from, @land_area, :class => "first_form" %>
            <label for="to_land" class="second">to</label>
            <%= text_field_tag :land_to, @land_area %>
          </li>
          <li class="two_field commercial">
            <label for="asking">Asking Price</label>
            <%= text_field_tag :price_from_commercial, @sale_price_from, :class => 'first_form' %>
            <label for="to_asking" class="second">to</label>
            <%= text_field_tag :price_to_commercial, @sale_price_to %>
          </li>
          <li class="two_field residential">
            <label for="asking">Asking Price</label>
            <%= text_field_tag :price_from_residential, @price_from_residential, :class => 'first_form' %>
            <label for="to_asking" class="second">to</label>
            <%= text_field_tag :price_to_residential, @price_to_residential %>
          </li>
          <li class="two_field">
            <label for="annual">Annual Rental</label>
            <%= text_field_tag :annual_rental_from, @rental_from, :class => 'first_form' %>
            <label for="to_annual" class="second">to</label>
            <%= text_field_tag :annual_rental_to, @rental_to %>
          </li>
        </ul>
        <% if @property.type.to_s == "Commercial" && @property.deal_type.to_s == "Lease" %>
          <ul class="form_listing position_right">
            <li>
              <h3 class="caption_form">
                <span>Rental Filters</span>
              </h3>
            </li>
            <li class="two_field">
              <label for="floorArea">Total Floor Area</label>
              <%= text_field_tag :floor_from, @floor_area, :class => 'first_form' %>
              <label for="to_floorArea" class="second">to</label>
              <%= text_field_tag :floor_to, @floor_area %>
            </li>
            <li class="two_field">
              <label for="office">Office</label>
              <%= text_field_tag :office_from, @office_area, :class => 'first_form' %>
              <label for="to_office" class="second">to</label>
              <%= text_field_tag :office_to, @office_area %>
            </li>
            <li class="two_field">
              <label for="warehouse">Warehouse</label>
              <%= text_field_tag :warehouse_from, @warehouse_area, :class => 'first_form' %>
              <label for="to_warehouse" class="second">to</label>
              <%= text_field_tag :warehouse_to, @warehouse_area %>
            </li>
            <li class="two_field">
              <label for="rent">Rent</label>
              <%= text_field_tag :rent_from, @current_rent, :class => 'first_form' %>
              <label for="to_rent" class="second">to</label>
              <%= text_field_tag :rent_to, @current_rent %>
            </li>
            <li class="two_field">
              <label for="leaseexpiry">Lease expiry</label>
              <%= text_field_tag :lease_from, @lease_start, :class => "first_form datepicker" %>
              <label for="to_leaseexpiry" class="second">to</label>
              <%= text_field_tag :lease_to, @lease_end, :class => "single datepicker" %>
            </li>
            <li>
              <label for="tenant">Tenant</label>
              <div id="tenant_name" style="padding-left: 176px; margin-top: -19px;"></div>
              <%= hidden_field_tag :tenant, @tenant_id,:class => 'single' %>
            </li>
          </ul>
        <%end%>
      </div>
      <div class="non_commercial_advanced_search">
        <ul class="form_listing position_right">
          <li>
            <% if @property.type.to_s == "BusinessSale" %>
              <label for="business_type" class="business_sale">business type</label>
              <%= select_tag :business_type, options_for_select(@business_type, @property.property_type) %>
            <%elsif @property.type.to_s == "ProjectSale" %>
              <label for="property_type">property type</label>
              <%= select_tag 'property_type', options_for_select(@property_type, @ptype) %>
            <%end%>
          </li>
          <% if @property.type.to_s == "BusinessSale" %>
            <li class="business_category">
              <label for="business_category" class="business_sale">category</label>
              <select id="business_category" class="select_box" name="business_category" >
                <option value=''>Please select</option>
              </select>
            </li>
          <%end%>
          <li class="two_field">
            <label for="price_range">price range</label>
            <%= text_field_tag :price_from, @price, :class => 'first_form' %>
            <label for="to" class="second">to</label>
            <%= text_field_tag :price_to, @price_to %>
          </li>
          <li>
            <label for="deal_type">status</label>
            <%= select_tag :deal_type, options_for_select(status_property_residential) %>
          </li>
          <li>
            <label for="suites">suites</label>
            <%= select_tag :suites, options_for_select(@suites, @number_of_suites) %>
          </li>
          <li class="two_field" last>
            <label for="sqm_range">sqm range</label>
            <%= select_tag :range_from, options_for_select(@ranges, @size_from), :class => "first_form" %>

            <label for="to_sqm_range" class="second">to</label>
            <%= select_tag :range_to, options_for_select(@ranges, @size_to) %>
          </li>
        </ul>
      </div>
      <div class="clearer"></div>
      <%= submit_tag 'Match', :class => 'buttons btns_yellow' %>
    </div>

  <%end%>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#tenant_name_input").attr("name", "tenant_name_input").css("width", "320px");
<% if params[:listing_type].blank? %>
      $("#tenant_name_input").val('<%= @tenant %>');
<%else%>
      $("#tenant_name_input").val('<%= params[:tenant_name_input] %>');
<%end%>
<% if ["ResidentialSale", "ResidentialLease", "NewDevelopment", "HolidayLease", "LandRelease"].include?(@property.type) || ["ResidentialSale", "ResidentialLease", "NewDevelopment", "HolidayLease", "LandRelease"].include?(params[:listing_type]) %>
      //$("#listing_type_residentialsale").attr('checked', true);
      $('div.advanced_commercial_search').css("display", "block");
      $('dl#residential').css("display", "block");
      $('dl#residential_building').css("display", "block");
      $('dl#commercial').css("display", "none");
      $('li.commercial').css("display", "none");
      $('li.residential').css("display", "block");
      $('div.non_commercial_advanced_search').css("display", "none");
      $('label#residential_building').show();
  <% if !params[:availiability].present? %>
        $("#availiability").find("option[value='<%=@property.status%>']").attr('selected', 'selected');
  <%end%>
  <% if params[:listing_type].blank? %>
    <% unless @property.features.blank? %>
      <% @features.each do |feature| %>
            $("input:checkbox#type_<%= feature.downcase!.gsub("/", "_").gsub(" ", "_").gsub("-", "_") %>").attr('checked', true);
      <%end%>
    <%end%>
    <% if @property.type == "NewDevelopment" %>
      <% unless @property.suburb.blank? %>
            $("input:checkbox#residential_building_<%=@property.suburb.downcase%>").attr('checked', true);
      <%end%>
    <%else%>
      <% unless @property.parent_listing_id.blank? %>
        <% if @property.is_parent_residential_building? == true %>
              $("input:checkbox#residential_building_<%=@property.get_parent_building_suburb.downcase%>").attr('checked', true);
        <%end%>
      <%end%>
    <%end%>
  <%else%>
    <% unless params[:residential_building].blank? %>
      <% params[:residential_building].each do |x| %>
            $(":checkbox[value='<%= x %>']").attr('checked', true);
      <%end%>
    <%end%>
    <% unless params[:type].blank? %>
      <% params[:type].each do |type| %>
            $(":checkbox[value='<%= type %>']").attr('checked', true);
      <%end%>
    <%end%>
  <%end%>
<% elsif ["Commercial", "CommercialBuilding"].include?(@property.type) || ["Commercial", "CommercialBuilding"].include?(params[:listing_type]) %>
      $("#listing_type_commercial").attr('checked', true);
      $('div.advanced_commercial_search').css("display", "block");
      $('dl#commercial').css("display", "block");
      $('li.commercial').css("display", "block");
      $('li.residential').css("display", "none");
      $('dl#residential').css("display", "none");
      $('dl#residential_building').css("display", "none");
      $('div.non_commercial_advanced_search').css("display", "none");
      $('label#residential_building').hide();
<%else %>
      $('div.advanced_commercial_search').css("display", "none");
      $('div.non_commercial_advanced_search').css("display", "block");
<%end%>
  });
</script>
