<script type="text/javascript">
  function contact_flexbox(){
    var query = "<%= @contact_name %>";
    jQuery("#contact_name").flexbox('<%= auto_complete_agent_office_property_match_contacts_path(@agent, @office, @property) %>',{
      customParameters: {q: query},
      method: 'post',
      watermark: query,
      showArrow: false,
      inputClass: 'single',
      minChars: 2,
      width:200,
      queryDelay: 300,
      paging:false,
      highlightMatches:false,
      containerClass:'ffbContainer',
      onSelect: function(){
        $('#contact_id').attr('value', this.getAttribute('hiddenValue'));
      }
    });
  }

  $(document).ready(function(){
    contact_flexbox();
  });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    jQuery("#indicator1").ajaxStart(function(){
      jQuery(this).show();
    });
    jQuery("#indicator1").ajaxStop(function(){
      jQuery(this).hide();
    });
  })

</script>
<div class="block help full sub-opt-nav">
  <%= render :partial => 'properties/listing_tab' %>
</div>
<% form_for :email_configuration, @email, :method => :get, :url => agent_office_property_match_contacts_path(@agent,@office,@property), :html => {:class => 'propertyform full', :id=> "form_new"} do |email| %>
  <%= email.error_messages :class => 'errortext' %>
<table class="email-tab">
    <tr class="email-configuration">
      <td class="email-configuration"><h3>Sender</h3></td>
      <td class="email-configuration"></td>
    </tr>
    <tr style="background: transparent">
      <td class="grey-table">Sender Email</td>
      <td><%= email.text_field :sender_email, :value => "#{current_user.email}",:class => "single" %></td>
    </tr>
    <tr style="background: transparent">
      <td class="grey-table">Sender Name</td>
      <td><%= email.text_field :sender_name, :value => "#{current_user.full_name}", :class => "single" %></td>
    </tr>
    <tr style="background: transparent">
      <td class="grey-table">Send BCC</td>
      <td><%= email.text_field :send_bcc, :value => "#{current_user.email}", :class => "single" %></td>
    </tr>
  </table>
<table class="email-tab">
    <tr class="email-configuration">
      <td class="email-configuration"><h3>Sender</h3></td>
      <td class="email-configuration"></td>
    </tr>
    <tr style="background: transparent">
      <td class="grey-table-bottom">Date</td>
      <td><%= Time.now.strftime('%d/%m/%Y') %></td>
    </tr>
    <tr style="background: transparent">
      <td class="grey-table-bottom">Contact Name</td>
      <td><%= email.text_field :contact_name, :value => "%first_name%", :class => "single", :disabled => true %></td>
    </tr>
    <tr style="background: transparent">
      <td class="grey-table-bottom">Title</td>
      <td><%= email.text_field :title, :value => "New #{@property.aliasize} (#{Time.now.strftime('%d/%m/%Y')})", :class => "single" %></td>
    </tr>
    <tr style="background: transparent">
      <td class="grey-table-bottom">Comments</td>
      <td><%= email.text_area :comments %></td>
    </tr>
  </table>
  <br/>
  <div class="match-contacts-selected">
    <h3>Selected contact : <%= @selected_contacts.size %> for Selected Contacts</h3>
    <br/>
    <%= hidden_field_tag :contact_id, :class => "single" %>
    <div id="propertydatadiv" class="group">
      <div class="set">
        <fieldset class="pf_fs5">
          <ul class="pf-ul">
            <li class="li--23"><label><span>Contact Name</span></label>
              <div id="contact_name"></div>
              <span id="indicator1" style="display:none;"><img src="/images/search-loader.gif" id="contact-loader"></img></span>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
    <br/>
    <%= render :partial => 'contact_filter' %>
  </div>
  <br/>
  <div class="clear"></div>
  <a href="javascript:$('#form_new').submit()" style="float:right;margin-left: 5px" class="buttons">Send</a>
  <span style="padding-left: 2px"></span>
  <a href="<%=@url_search%>" class="buttons" style="float:right">Cancel</a>
<%end%>