<div class="group">

  <div class="set half leader">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th colspan="2" class="first_cell">Team Member Details</th>
        </tr>
        <tr>
          <td class="field first_cell">First Name:<span style="color:red;font-weight:bold;">*</span></td>
          <td class="value">
            <%= form.text_field :first_name, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Last Name:<span style="color:red;font-weight:bold;">*</span></td>
          <td class="value">
            <%= form.text_field :last_name, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Email:<span style="color:red;font-weight:bold;">*</span></td>
          <td class="value">
            <%= form.text_field :email, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Phone:</td>
          <td class="value">
            <%= form.text_field :phone, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Fax:</td>
          <td class="value">
            <%= form.text_field :fax, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Mobile:</td>
          <td class="value">
            <%= form.text_field :mobile, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Username:<span style="color:red;font-weight:bold;">*</span></td>
          <td class="value">
            <%= form.text_field :login, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Password:<span style="color:red;font-weight:bold;">*</span></td>
          <td class="value">
            <%= form.password_field :password, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Retype Password:<span style="color:red;font-weight:bold;">*</span></td>
          <td class="value">
            <%= form.password_field :password_confirmation, :class => 'single' %>
          </td>
        </tr>
        <% if %w(edit update).include?(params[:action]) %>
        <tr>
          <td class="field first_cell" style="vertical-align: top;">Photo:
            <!-- <br /><small class="lite">Should be exactly<br />50 x 50 and under 50 KB.</small>--></td>
          <td class="value">
            <div class="pack file_button">
              <%= file_field_tag 'avatar[uploaded_data]', :size => 30 %>
            </div>
            <div class="file_show">
              <%= image_tag (@user.avatar ? @user.avatar.public_filename : image_path('default_avatar.jpg')), :width => 50, :height => 50, :class => 'team_photo', :alt => @user.full_name  %>
            </div>
            <div class="clearer"></div>
            <div class="action_button">
              <button name="photosubmit" type="button" value="Upload Photos" onclick="$('#update_form').submit();">
                <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/> Upload Photo
              </button>
            </div>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

        <div class="set half follower">
        <div class="group">
                <table cellpadding="0" cellspacing="0" class="update_table full">
                        <tr>
                                <th colspan="2" class="first_cell">Team Member Privileges</th>
                        </tr>
                        <tr>
                                <td class="field first_cell">Team Member Access:</td>
                                <td class="value">
                  <% if ['update','edit'].include?controller.action_name %>
                    <%= form.select :access_level, developer_user_access_level_select %>
                  <%else%>
									  <%= form.select :access_level, developer_user_access_level_select, :selected => 2 %>
                  <%end%>
                                </td>
                        </tr>
                        <tr>
                            <td class="field first_cell" colspan="2">Automatically Assign User to All Tickets:&nbsp;
                                <%= form.check_box :assign_to_all_ticket, :class => 'checkbox'  %>
                            </td>
                        </tr>
                </table>
                <% if %w(new create).include?(params[:action]) %>
        <table>
        <tr>
          <td class="field first_cell" style="vertical-align: top;">Photo:
            <br /><small class="lite">(150 * 150 pixels)</small></td>
          <td class="value">
            <div class="pack file_button">
              <%= file_field_tag 'avatar[uploaded_data]', :size => 30 %>
            </div>
            <div class="file_show">
              <%= image_tag (@user.avatar ? @user.avatar.public_filename : image_path('default_avatar.jpg')), :width => 50, :height => 50, :class => 'team_photo', :alt => @user.full_name  %>
            </div>
          </td>
        </tr>
       </table>
       <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <td class="field first_cell">Send Notification?</td>
          <td class="value">
            <%= check_box_tag 'notification', nil, false, :class => 'checkbox' %>
          </td>
        </tr>
       </table>
        <% end %>
        </div>
        </div>

<div class="clearer"></div>
</div>
