<tr class="<%= cycle 'alt', '' %>">
  <td class="first_cell value">
    <%= link_to 'Edit', edit_developer_developer_user_path(@developer,row) %>
  </td>
  <td class="value"><%=h row.full_name %></td>
  <td class="value">
    <%= mail_to row.email, row.email, :title => 'Send this client a message' %>
  </td>
  <td class="value"><%=h row.phone %></td>
  <td class="value"><%=h row.mobile %></td>
  <td class="value">
	<% if row.full_access? %>
		Account Admin |
		<%=h row.access %>
	<% else %>	
		<%=h row.access %>
	 	| 
		<%= link_to('Delete', developer_developer_user_path(@developer,row), :method => 'delete', :confirm => 'Are you sure?') %>
	<% end -%>
  </td>
</tr>
