<!-- NOTE TO DEVELOPER: This form is used for both Adding and Updating Team Members. It should be blank if you're adding a Team member. Title should say Add a Team Member. And it should have all previously entered values when you are Updating a Team Member and the title should be Update a Team Member. Thanks! -->

<div class="title_block block">
  <h2>Update a Team Member</h2>
  <div class="clearer"></div>
</div>


<div id="clientdiv" class="block accounts full">
  <% form_for :user, @user, :url => developer_developer_user_path(@developer,@user), :html => {:method => :put, :class => 'update_form', :name => 'update_form', :id => 'update_form', :multipart => true} do |f| %>

    <%= f.error_messages :class => 'errortext' %>

    <%= render :partial => 'form', :object => f %>

    <div class="action_button">
      <button name="update" type="button" value="Update" onclick="$('#update_form').submit();">
        <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/> Update
      </button>

      <span>or&nbsp;&nbsp;</span>

      <% link_to developer_developer_user_path(@developer,@user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" do %>
        <img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/> Delete
      <% end %>
    </div>	<!-- NOTE TO DEVELOPER: If user is Adding, this should be the file: ../includes/action_add_cancel.php. -->

  <% end %>
</div><!-- end #clientdiv -->
