<div class="block full">
  <div id="sidebar" class="block files quarter">
    <div class="upload_button">
      <% link_to new_developer_developer_user_path(@developer), :class => 'btn' do %>
        <img src="/images/icons/misc/24-em-plus.gif" alt="24-em-plus" width="18" height="19"/>Add a Team Member</a>
      <% end %>
    </div>
  </div>
  <h2>Team Members</h2>
</div>

<div class="block tables full">
  <div class="group">
    <table class="team_members_table" width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <th class="first_cell field">Edit</th>
        <th class="field">Name</th>
        <th class="field">Email</th>
        <th class="field">Phone</th>
        <th class="field">Mobile/Cell</th>
        <th class="field">Access</th>
      </tr>

      <%= render :partial => 'row', :collection => @users %>

    </table>
  </div>
</div>
