	<% if msg.peding_archivable_by?(current_user) -%>
		<div id="request_archive_<%= msg.id %>" style="display:none;">
			<div id="request_archive_<%= msg.id %>_inner">
			<%= thickbox_close_button %>
			<h3>Archive this Message</h3>
			<p>Request for this message to be archived.</p>
			<p>
				<%= link_to_remote 'Yes', :url => request_archive_message_comments_path(msg), :method => :put, :complete => '' %>
				or
				<%= link_to_function 'No', 'tb_remove();'%>
			</p>
			</div>
		</div>
	<% end -%>