<% if (status != 'internal' && comment.internal_chat != true) || (status == 'internal') %>
<% content_tag_for :li, comment, :class => "tabularrow set" do %>
	<% can_edit = comment.editable_by?(current_user) && comment.rating.nil? %>
	<div id="comment_detail_<%= comment.id %>">
		<div>
      <% unless comment.commenter.nil? -%>
        <%= user_avatar(comment.commenter, { :class => "avatar mini" }) %>
      <% end -%>
      <div>
        <%= comment.created_at.utc.strftime("%H:%M") %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= comment.created_at.to_s(:brief) %>
        <br/>
        <%= h comment.commenter.full_name unless comment.commenter.nil? %>&nbsp;&nbsp;&nbsp;&nbsp;
        <% if can_edit -%>
          <%= link_to_function 'Edit', "$('#comment_detail_#{comment.id}').hide();$('#comment_edit_#{comment.id}').show();" %>
          <%= link_to_remote image_tag('delete.gif'), :url => message_comment_path(@message, comment), :method => :delete, :confirm => 'Are you sure to delete this comment?' %>
        <% end -%>
		  </div>
      <br/>
			<% if comment.rating %>
				<p>The user who created this message has rated the support provided by you:</p>
				<p>Rating: <%= message_rating(comment.rating) %></p>
				<p>Their Feedback:</p>
			<% end %>
			<%= simple_format(comment.comment) %>
		</div>
	
		<% if comment.file %>
			<p>
				<%= link_to comment.file.filename, comment.file.public_filename %> (<%= number_to_human_size(comment.file.size) %>)
			</p>
		<% end %>
	</div>
	<% if can_edit -%>
		<div id="comment_edit_<%= comment.id %>" style="display:none;"><%= render :partial => "message_comments/edit", :locals => { :comment => comment } %></div>
	<% end -%>
<% end %>
<% end -%>