<% form_tag '', :method => :get, :id => 'filter_form' do %>
	<div class="sideblock">
	<h3 class="full">Sort</h3>
	<ul class="filesortby">
		<li class="li--3">
			<input class='sortby_select' id="sortatoz" name="sortby" type="radio" value="title" <% if params[:sortby] == 'title' -%> checked="checked"<% end -%> />
			<label><span>A to Z</span></label>
		</li>
		<li class="li--4">
			<input class='sortby_select' id="sortydatetime" name="sortby" type="radio" value="date" <% if params[:sortby] == 'date' -%> checked="checked"<% end -%> />
			<label><span>Date</span></label>
		</li>
		<li class="li--5">
			<input class='sortby_select' id="sortfilesize" name="sortby" type="radio" value="status" <% if params[:sortby] == 'status' -%> checked="checked"<% end -%> />
			<label><span>Status</span></label>
		</li>
		<li class="li--6">
			<input class='sortby_select' id="sortprivateshared" name="sortby" type="radio" value="from" <% if params[:sortby] == 'from' -%> checked="checked"<% end -%> />
			<label><span>From</span></label>
		</li>
		<% if params[:controller] == 'messages_d' && params[:action] =~ /client$/ -%>
			<li class="li--6">
				<input class='sortby_select' id="sortprivateshared" name="sortby" type="radio" value="offices" <% if params[:sortby] == 'offices' -%> checked="checked"<% end -%> />
				<label><span>Offices</span></label>
			</li>
		<% end -%>
	</ul>
	</div>

	<div class="sideblock">
	<h3 class="full">Category
		<% if AdminUser === current_user -%>
			<small class="formgrouplinks"><%= link_to 'Edit', message_categories_path %></small>
		<% elsif DeveloperUser === current_user && params[:action] == 'client' -%>
			<small class="formgrouplinks"><%= link_to 'Edit', developer_message_categories_path(@developer) %></small>
		<% end -%>
	</h3>
	<ul class="filecategorieslist">
	<%= hidden_field_tag :category, params[:category] %>
	<% show_topic = params[:controller] == 'messages' || (params[:controller] == 'messages_d' && params[:action] =~ /commercial_loop_crm$/) -%>
	<% if show_topic -%>
		<%= hidden_field_tag :topic, params[:topic] %>
		<% categories = MessageCategory.system_categories -%>
	<% else -%>
		<% categories = current_user.developer.message_categories unless current_user.blank? -%>
	<% end -%>
		<li><%= link_to_function 'All Messages', 'filter_category();' %></li>
    <% unless categories.blank? %>
      <% categories.each do |cate| -%>
        <li>
          <%= link_to_function h(cate.name), "filter_category(#{cate.id});" %>
          <% if show_topic && cate.message_topics && cate.message_topics.size > 0 -%>
            <ul class="message_topic">
            <% cate.message_topics.each do |t| -%>
              <li><%= link_to_function h(t.name), "filter_topic(#{t.id});" %></li>
            <% end -%>
            </ul>
          <% end -%>
        </li>
      <% end -%>
    <% end -%>
	</ul>
	</div>
	
	
	<% if params[:controller] == 'messages_d' && params[:action] =~ /client$/ -%>
		<%= hidden_field_tag :office, params[:office] %>
	<% end -%>

<% end %>

<script type="text/javascript" charset="utf-8">
	function submit_filter_form() {
		$('#filter_form').submit();
	}
	
	function filter_category(cate) {
		$('#category').val(cate);
		submit_filter_form();
	}
	
	function filter_topic(topic) {
		$('#topic').val(topic);
		submit_filter_form();
	}
	
	function filter_office(office) {
		$('#office').val(office);
		submit_filter_form();
	}
	
	$(function(){ $('.sortby_select').click(
		function() { submit_filter_form(); }
	) });
</script>