<div class="group">
  <% if @status == 'internal' && @message.quote == true %>
  <div style="font-size:9pt;background: none repeat scroll 0 0 #FFFFFF; margin: 0 0 5px; padding: 5px;">
    Note: Do not complete this we just need to know how much time is involved to complete the task. So please provide us with a time estimate which we can tall the client. if the client approves then I will request you complete the adjustment.
  </div>
  <% end %>
  <div class="tabularrow set">
    <%= user_avatar(@message.sender, { :class => "avatar mini" }) %>
    <div class="clearer"></div>
    <%= simple_format(@message.message) %>
    <% if @message.file %>
      <p><%= link_to @message.file.filename, @message.file.public_filename %></p>
    <% end %>
    <div class="clearer"></div>
  </div>

  <h4 id="comments_count"><%= render :partial => "messages/comment_count", :locals => { :count => @status != 'internal' ? @message.message_comments.comments_without_teammember.count : @message.message_comments.count } %></h4>
  <ul id="comments">
    <%= render :partial => "messages/comment", :collection => @message.message_comments, :locals => { :status => @status } %>
  </ul>
  <div class="clearer"></div>
</div><!-- end first date .group -->

<%= render :partial => "message_comments/new", :locals => { :status => @status } %>