<div class="tabularrow <% unread ? 'user_message' : 'archived_message' -%> set">
<div class="rowicon">
    <% link_to path, :alt => h(msg.title) do %>
    <% if !unread -%>
      <% if !msg.message_comments.last.nil? -%>
        <% if msg.message_comments.last.commenter_id == current_user.id -%>
          <%= read_n_replied_messages_icon %>
        <% else -%>
          <%= read_messages_icon %>
        <% end %>
      <% else -%>
        <%= read_messages_icon %>
      <% end %>
    <% else -%>
      <%= unread_messages_icon %>
    <% end -%>
    <span class="overlay"><%= msg.message_comments.comments_without_teammember.count %></span>
   <% end %>
</div>
<div class="rowblock">
  <h3><%= link_to h(msg.title), path %></h3>
  <p class="rowdate">
  <strong><%= h msg.sender.blank? ? '-' : (msg.sender.full_name.blank? ? '-' : msg.sender.full_name) %></strong>
  <strong>
    <% if AgentMessage === msg -%>
      <%= h '- '+msg.sender.developer.name %>
    <% elsif DeveloperMessage === msg -%>
      <%= h msg.sender.respond_to?("office") ? '- '+msg.sender.office.name : '- '+ (msg.sender.blank? ? '-' : (msg.sender.full_name.blank? ? '-' : msg.sender.full_name))%>
    <% end -%>
  </strong>
  <br />
  <strong>Submitted: <%= msg.created_at.utc.strftime("%d/%m/%Y %H:%M") %></strong>
  </p>
  <%= render :partial => 'messages/archive_request_dialog', :locals => { :msg => msg } %>
</div>
<div class="rowblock" style="margin-right:5px;">
  <% if msg.message_comments.comments_without_teammember.count > 0 -%>
    <div style="margin-bottom:17px;">
      <p class="rowcomments">Last comment by
        <% link_to path + "#message_comment_#{msg.message_comments.comments_without_teammember[msg.message_comments.comments_without_teammember.count-1].id}" do -%>
        <strong><%= h msg.message_comments.comments_without_teammember[msg.message_comments.comments_without_teammember.count-1].commenter.try.full_name  %></strong>
        <% end -%>
        <%= time_ago_in_words_zone_now(msg.message_comments.comments_without_teammember[msg.message_comments.comments_without_teammember.count-1].created_at.utc.to_time) + " ago" %></p>
    </div>
  <% end -%>
  <div style="font-weight:bold;"><p>Est. Time to Complete: <%= link_to "#{get_estimation_left(msg)}", add_estimation_developer_messages_path(@developer)+"?message_id=#{msg.id}&KeepThis=true&TB_iframe=true&height=380&width=500&modal=true",:class =>"thickbox", :style=> "text-decoration:none;" %></p></div>
</div>

<div style="padding: 0 0 12px;margin-right:5px;float:right;">
  <div style="font-size:8pt;margin-bottom: 17px;">
    <b>Status:
      <span id="pr<%= msg.id %>"><a href="javascript:change_priority('<%= msg.id %>');"  style="color:<%= get_priority_color(msg.priority) %>"><%= (msg.priority.blank? ? "set priority" : msg.priority )%></a></span>
    </b>
    <div id="wrp<%= msg.id %>" class="wrp">
      <% form_tag update_priority_developer_messages_path(@developer)+"?message_id=#{msg.id}", :method => 'post', :id => "form#{msg.id}" do %>
        <%= select_tag 'priority', options_for_select(@priorities.map{|n, i| [n, i]}.unshift(['Please select', nil]), msg.priority), :class => 'select_box', :onchange => "$('#form#{msg.id}').submit();" %>
      <% end %>
    </div>
  </div>
  <div style="text-align:right;"><p><%= render :partial => 'messages/archive_icon', :locals => { :msg => msg } %></p></div>
</div>
<div class="clearer"></div>
</div>
<script type="text/javascript">
  $(document).ready(function(){ $(".wrp").hide(); });
  function change_priority(msg_id){ $("#wrp"+msg_id).toggle(); }
</script>