<div id="recipients_selector" style="display: none;">
	<% if AdminUser === current_user
		users = AdminUser.all(:order => 'first_name asc')
		target = assign_recipients_message_path(msg)
	else
		users = current_user.developer.developer_users.all(:order => 'first_name asc')
		target = assign_recipients_developer_message_path(@developer, msg)
	end -%>
	
	<% remote_form_for msg, :url => target, :html => {:class => "postuploadform"} do %>
	<fieldset>
	<h3>Recipients</h3>
	<% recipient_ids = msg.message_recipients.map(&:user_id) %>
	
	<p class="sleectrecipient">
		<span class="selectreceiptionsdiv">
	<% users.each do |user| -%>
		<%= check_box_tag "recipients[]", user.id, msg.sender == user || recipient_ids.include?(user.id), :checked => (msg.sender == user || recipient_ids.include?(user.id)) ? true : false %>
		<label><span><%= h user.full_name %></span></label>&nbsp;&nbsp;&nbsp;
		</span>
	<% end -%>
	</p>
	
	<p>
		<%= submit_tag 'Update' %> or <%= link_to_function 'Cancel', 'toggle_recipients_selector();' %>
	</p>
	</fieldset>
	<% end %>
</div>