<hr class="separator" />

<div id="tabulardiv" class="block files threequarters">
	
	
<div class="title_block block">
<h2>
	<%= h @message.title %>
</h2>
<p  class="float-left">

	<%= @message.created_at.utc.to_s(:brief) %> by
	<%= h @message.sender.blank? ? '?' : (@message.sender.full_name.blank? ? '?' : @message.sender.full_name) %> -

	<strong>
		<%= h @message.sender.blank? ? '?' : (@message.sender.developer.blank? ? '?' : @message.sender.developer.name) %>
	</strong>
	&nbsp;&nbsp;|&nbsp;&nbsp;
	Filed in: <strong><%= h @message.category.name %></strong>


	&nbsp;&nbsp;|&nbsp;&nbsp;

	<%= render :partial => 'messages/archive_icon', :locals => { :msg => @message } %>

  &nbsp;&nbsp;|&nbsp;&nbsp;

	<%= link_to_function 'Recipients', 'toggle_recipients_selector();' %>
</p>
<%= render :partial => 'back_to_messages' %>
<div class="clearer"></div>
<h6>
  <%= link_to 'Client Ticket', message_path(@message), :style => params[:action] == 'show' ? "background-color:yellow" : "" %> |
  <%= link_to 'Internal Chat', internal_chat_path(@message.id), :style => params[:action] == 'internal' ? "background-color:yellow" : "" %>
</h6>
<%= render :partial => 'messages/recipients_selector', :locals => { :msg => @message } %>

</div>

<%= render :partial => 'messages/archive_request_dialog', :locals => { :msg => @message } %>

<%= render :partial => 'messsage_detail' %>


</div><!-- end #tabulardiv -->

<div id="sidebar" class="block files quarter">


</div><!-- end #sidebar -->
