<p class="float-right" style="margin-right:10px;">
    <% unless AdminMessage === msg || msg == "admin" -%>
      <%= link_to 'Back to Messages', client_developer_messages_path(@developer) %>
    <% else %>
      <%= link_to 'Back to Messages', commercial_loop_crm_developer_messages_path(@developer) %>
    <% end %>
</p>