<h6>
	<%= link_to_unless_current 'View Messages', client_developer_messages_path(@developer) %> |
	<%= link_to_unless_current 'View Archives', archives_client_developer_messages_path(@developer) %> |
        <%= link_to_unless_current 'Quote required', quote_required_developer_messages_path(@developer) %> |
        <%= link_to_unless_current 'Approved Quotes', quote_approved_developer_messages_path(@developer) %>
</h6>