<div class="set full">
	
<%= f.error_messages :class => 'errortext' %>
	
<fieldset class="fu_fs1">
		<p class="select_category"><label class="required"><strong>Select a category:</strong></label>&nbsp;
			<%= f.select :category_id, developer_message_categories_select_options(current_user.developer), :class => 'select_box' %>
		</p>
		<p class="required"><strong>Title:</strong><br />
			<%= f.text_field :title, :class => "single" %>
		</p>
		<p class="required"><strong>Message:</strong><br />
			<%= f.text_area :message, :rows => 8, :cols => 17, :class => 'area' %>
		</p>

		<% if @message.new_record? %>

		<p class="select_client"><label class="required"><strong>Select an Office:</strong><br /><small class="lite">To select multiple, hold the Ctrl key and click.</small></label>&nbsp;

		<% all_offices = current_user.developer.offices %>
		<%= select_tag 'offices_select', options_for_select(all_offices.map {|o| [o.full_name, o.id]}.unshift(["All Offices", -1])), :class => "select_box", :multiple => "multiple", :style => "width: 200px;" %>
		</p>

		<script type="text/javascript">
			function toggle_whole_office(office, show) {
				office.find('.all_in_office, .recipient').each(function(i) {
					this.checked = show;
				});	
				show ? office.show() : office.hide();
			}
			$(function() {
				$('#offices_select').click(function() {
					if ($('#offices_select option[value="-1"]').attr('selected')) {
						$('.office_recipients').each(function() {
							toggle_whole_office($(this), true);
						});
						return;
					}
					$('#offices_select option').each(function(i, ov) {
						ov = $(ov);
						var selected = ov.attr("selected");
						var value = ov.val();
						var office = $('#office_recipients_' + value);

						if (selected) {
							if (!office.is(':visible'))
								toggle_whole_office(office, true);
						}
						else {
							toggle_whole_office(office, false);
						}
					});
				});

				$('.all_in_office').click(function() {
					if (this.checked) {
						toggle_whole_office($(this).parent(), true);
					}
				});
			});
		</script>

		<p class="select_recipient">
			<label class="required"><strong>Select a Recipient:</strong>&nbsp;</label>
			<span class="selectreceiptionsdiv">
			<% all_offices.each do |office| %>
				<span id="office_recipients_<%= office.id %>" class="office_recipients" style="display:none;">
					<input type="checkbox" name="recipient" class="all_in_office" value="all" />
					<label><span>All Contacts at <%= h office.full_name %></span></label><br />

					<% office.agent_users.each do |user| %>
						<input type="checkbox" name="recipients[]" class="recipient" value="<%= user.id %>" /> 
						<label><span><%= h user.full_name %></span></label>&nbsp;&nbsp;&nbsp;
					<% end %>
          <br />
				</span>
			<% end %>
        <% @developer.developer_users.find(:all, :conditions => "`assign_to_all_ticket`=1").each do |user| %>
        <input type="hidden" name="recipients[]" class="recipient" value="<%= user.id %>" />
        <% end %>
			</span>
			<br class="clearer" />
		</p>
		<% end %>

		<%= render :partial => 'messages/message_form_file', :locals => { :f => f } %>
</fieldset>
</div>

		<div class="action_button">
				<button name="postmessage" type="submit" value="Post this Message">
					<img src="/images/icons/famfamfam/email.png" alt="email" width="16" height="16"/>
					Post this Message
				</button>

			<span>or&nbsp;&nbsp;</span>
			<a href="#" title="">
				<img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/>
				Cancel
			</a>
		</div>