<h6>
	<%= link_to_unless_current 'View Messages', commercial_loop_crm_developer_messages_path(@developer) %> |
	<% if params[:action] == 'unread_commercial_loop_crm' -%>
		View unread <span class="emphasis">(<%= current_user.unread_admin_messages_count %>)</span>
	<% else -%>
		<% link_to unread_commercial_loop_crm_developer_messages_path(@developer) do -%>
			View unread <span class="emphasis">(<%= current_user.unread_admin_messages_count %>)</span>
		<% end -%>
	<% end -%> |
	<%= link_to_unless_current 'View Archives', archives_commercial_loop_crm_developer_messages_path(@developer) %>
</h6>