<div class="set full">

<%= f.error_messages :class => 'errortext' %>

<fieldset class="fu_fs1">
		<p class="select_category"><label class="required"><strong>Select a category:</strong></label>&nbsp;
			<%= f.select :category_id, system_message_categories_select_options, {}, :class => 'select_box', :onchange => remote_function(:url => { :action => :topic_commercial_loop_crm }, :update => :select_topic_area, :method => :get, :with => "'category_id=' + value") %>
		</p>

		<div id="select_topic_area">
			<p class="select_topic"><label class="required"><strong>Select a topic:</strong></label>&nbsp;
				<%= select :message, :topic_id, message_topic_select_options(), {}, :class => 'select_box' %>
			</p>
		</div>

		<% unless @message.new_record? %>
		<script type="text/javascript" charset="utf-8">
			$(function(){ $('#message_category_id').trigger('change'); });
		</script>
		<% end %>

		<p class="required">
			<strong>Title:</strong><br />
			<%= f.text_field :title, :class => "single" %>
		</p>

		<p class="required"><strong>Message:</strong><br />
			<%= f.text_area :message, :class => "area", :rows => 8, :cols => 17 %>
		</p>

		<%= render :partial => 'messages/message_form_file', :locals => { :f => f } %>

</fieldset>
</div>

		<div class="action_button">
				<button name="postmessage" type="submit" value="Post this Message">
					<img src="/images/icons/famfamfam/email.png" alt="email" width="16" height="16"/>
					Post this Message
				</button>

			<span>or&nbsp;&nbsp;</span>
			<a href="#" title="">
				<img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/>
				Cancel
			</a>
		</div>