<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Agents <%= @title %></title>
  </head>
  <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
  <body>
  <div id="clientdiv" class="block accounts full">
   <br/>
   <div id="helpdiv" class="block help full">
     <% if flash.now[:notice] %>
       <div class='group' style="margin-top:0px;"><p class="help_message"><%= h flash.now[:notice] %></p></div>
     <% end %>
   </div>
  <% form_for :message, @message, :url => update_estimation_developer_messages_path(@developer), :html => {:class => 'propertyform full', :id => 'form_new'} do |f| %>
     <%= f.error_messages :class => 'errortext' %>
     <div class="block form follower" style="padding-right:5px;">
      <div id="propertydatadiv" class="group formdiv">
        <div class="set">
          <h6 class="full">Manage Estimation </h6>
          <fieldset class="pf_fs5">
            <input type="hidden" name="message_id" value="<%= @message.id %>"/>
            <ul class="pf-ul">
              <li class="li--17 required contact"><label><span>Estimation Days:</span></label>
                <%= f.select :estimation_day, @days, {}, {:style => "width:50px;"} %>&nbsp;day
              </li>
              <li class="li--17 required contact"><label><span>Estimation Hours:</span></label>
                <%= f.select :estimation_hour, @hours, {} ,{:style => "width:50px;"} %>&nbsp;hour
              </li>
              <li class="li--17 required contact"><label><span>Estimation Minutes:</span></label>
                <%= f.select :estimation_min, @minutes, {}, {:style => "width:50px;"} %>&nbsp;minute
              </li>
              <li class="li--23"><label><span>&nbsp;</span></label>
                <button name="btn_submit" type="submit" value="Submit">
                  <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Submit
                </button>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>
      <div id="propertydatadiv" class="group">
        <div class="action_button" style="border:none;">
          <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.location.reload();return false", :style =>"float:right;"%>
        </div>
       </div>
     </div>
    <% end %>
   </div>
</body>
</html>