<hr class="thick" />

<div id="tabulardiv" class="block files threequarters">

<div class="title_block block">
<h2>Client Messages</h2>

<%= render :partial => 'client_messages_nav' %>

<div class="float-right" style="margin-right:10px;">
<%= select_tag 'offices_select', options_for_select(@developer.offices.map {|o| [o.full_name, o.id.to_s]}.unshift(["All Clients", '-1']), params[:office]), :class => "select-box" %>
</div>

<script type="text/javascript" charset="utf-8">
	$(function() {
		$('#offices_select').change(
			function() {
				filter_office($('#offices_select').val());
			}
		);
	});
</script>

<div class="clearer"></div>
</div>

<div class="group">

	<% if @messages.blank? -%>
		<p>You don't have any messages yet.</p>
	<% else -%>
		<%= render :partial => 'message', :collection => @messages %>
    <%= will_paginate @messages %>
	<% end -%>
	
<div class="clearer"></div>
</div><!-- end first date .group -->

<div class="action_button">
	<span class="user_message"><%= unread_messages_icon %>Unread</span>
	<span class="user_message"><%= read_messages_icon %>Read</span>
  <span class="archived_message"><%= read_n_replied_messages_icon %>Read & Replied</span>
</div>

</div><!-- end #tabulardiv -->

<div id="sidebar" class="block files quarter">
<div class="upload_button">
  <% if @developer.support %>
    <a href="http://helpdesk.agentpoint.com.au/" class="btn" target="_blank">
      <img src="/images/icons/misc/24-em-plus.gif" alt="24-em-plus" width="18" height="19">
      Create a new message
    </a>
  <% else %>
    <a href="http://www.commercialloopcrm.com.au/api/" class="btn" target="_blank">
      <img src="/images/icons/misc/24-em-plus.gif" alt="24-em-plus" width="18" height="19"/>
        Create a new message
    </a>
  <% end %>
</div>


	<%= render :partial => 'messages/filter_form' %>
	
</div><!-- end #sidebar -->