
<%= render :partial => 'back_to_messages', :locals => { :msg => 'admin' } %>


<div class="title_block">
<h2>Edit Message</h2>
</div>

<hr class="thick" />

<p class="required">* Fields in bold are required</p>

<div id="fileuploaddiv" class="block files full">
<% form_for :message, :url => update_commercial_loop_crm_developer_message_path(@developer, @message), :html => { :method => :put, :class => "postuploadform full", :id => "postsuploadsform", :multipart => true } do |f| %>

<%= render :partial => 'commercial_loop_crm_form', :locals => { :f => f } %>

<% end %>
</div>