
<%= render :partial => 'back_to_messages', :locals => { :msg => 'admin' } %>

<div class="title_block">
<h2>Send a New Message to Commercial Loop</h2>
</div>

<hr class="thick" />

<p class="required">* Fields in bold are required</p>

<div id="fileuploaddiv" class="block files full">
<% form_for :message, :url => create_commercial_loop_crm_developer_messages_path(@developer), :html => { :class => "postuploadform full", :id => "postsuploadsform", :multipart => true } do |f| %>

<%= render :partial => 'commercial_loop_crm_form', :locals => { :f => f } %>

<% end %>
</div>