
<%= render :partial => 'back_to_messages', :locals => { :msg => 'client' } %>

<div class="title_block">
<h2>Send a New Message to a Client</h2>
</div>

<hr class="thick" />

<p class="required">* Fields in bold are required</p>

<div id="fileuploaddiv" class="block files full">
<% form_for :message, :url => create_client_developer_messages_path(@developer), :html => {:class => 'postuploadform full', :id => 'postsuploadsform', :multipart => true} do |f|%>

<%= render :partial => 'client_form', :locals => { :f => f } %>

<% end %>
</div>