<div class="threequarters" style="height:25px;"><%= render :partial => 'back_to_messages', :locals => { :msg => @message } %></div>
<hr class="separator" />
<div id="tabulardiv" class="block files threequarters">

<div class="title_block block">
<h2><%= h @message.title unless @message.blank? %></h2>
<p class="float-left" >
	<%= h @message.sender.blank? ? '-' : (@message.sender.full_name.blank? ? '-' : @message.sender.full_name)%>
	<strong>
	<% if AgentMessage === @message -%>
		<%= h '- '+@message.sender.developer.name %>
	<% elsif DeveloperMessage === @message -%>
	     <%= @message.sender.respond_to?("office") ? '- '+ @message.sender.office.name + " (Office Id: #{link_to @message.sender.office.id, edit_developer_agent_office_path(@message.sender.developer, @message.sender.office.agent, @message.sender.office), :target => '_blank'})"  : '- '+ (@message.sender.blank? ? '-' : (@message.sender.full_name.blank? ? '-' : @message.sender.full_name))%>
             <%= @message.sender.respond_to?("office") ? "&nbsp;&nbsp;|&nbsp;&nbsp;#{link_to "Agent System", agent_office_path(@message.sender.office.agent, @message.sender.office), :target => '_blank'}" : "" %>
	<% end -%>
	</strong>
	<% if @message.editable_by?(current_user) -%>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<% if AdminMessage === @message -%>
			<%= link_to 'Edit', edit_commercial_loop_crm_developer_message_path(@developer, @message) %>
		<% else -%>
			<%= link_to 'Edit', edit_client_developer_message_path(@developer, @message) %>
		<% end -%>
	<% end -%>

	&nbsp;&nbsp;|&nbsp;&nbsp;

	<%= render :partial => 'messages/archive_icon', :locals => { :msg => @message } %>
	
	<% if DeveloperMessage === @message %>
            &nbsp;&nbsp;|&nbsp;&nbsp;
	    <%= link_to_function 'Recipients', 'toggle_recipients_selector();' %>
	<% end %>
</p>
<p class="float-right" style="margin-right:10px;font-weight:bold;">Status: <%= @message.priority %> </p>
<div class="clearer"></div>
<div style="font-weight:bold;">
  <div style="width:40%;float:left;"><p>Submitted: <%= @message.created_at.utc.strftime("%d/%m/%Y %H:%M") %></p></div>
  <div style="width:30%;float:left;"><p>Est. Time to Complete: <%= link_to "#{get_estimation_left(@message)}", add_estimation_developer_messages_path(@developer)+"?message_id=#{@message.id}&KeepThis=true&TB_iframe=true&height=380&width=500&modal=true",:class =>"thickbox", :style=> "text-decoration:none;" %></p></div>
  <div style="width:20%;float:right;text-align:right;padding-right:10px;">
    <p>Quote Required: <%= link_to (@message.quote == true ? "Yes" : "No"), update_quote_developer_messages_path(@developer)+"?message_id=#{@message.id}" %>
    <% if @message.quote == true %>
    <br/> <%= (@message.quote_approved == true ? "Approved Quote" : link_to("Approve Quote", update_quote_approved_developer_messages_path(@developer)+"?message_id=#{@message.id}")) %></p>
    <% end %>
  </div>
</div>
<div class="clearer"></div>

<%= render :partial => 'messages/recipients_selector', :locals => { :msg => @message } %>

</div>
<% unless AdminMessage === @message -%>
<h6>
  <%= link_to 'Client Ticket', developer_message_path(@developer, @message), :style => params[:action] == 'show' ? "background-color:yellow" : "" %> |
  <%= link_to 'Internal Chat', developer_internal_chat_path(@developer.id, @message.id), :style => params[:action] == 'internal' ? "background-color:yellow" : "" %>
</h6>
<% end -%>
<%= render :partial => 'messages/archive_request_dialog', :locals => { :msg => @message } %>

<%= render :partial => 'messages/messsage_detail' %>

</div><!-- end #tabulardiv -->

<div id="sidebar" class="block files quarter">
<div class="upload_button">
  <% if @developer.support %>
    <a href="http://helpdesk.agentpoint.com.au/" class="btn" target="_blank">
        Create a new message
    </a>
  <%else%>
    <a href="http://www.commercialloopcrm.com.au/api/" class="btn" target="_blank">
      <img src="/images/icons/misc/24-em-plus.gif" alt="24-em-plus" width="18" height="19"/>
        Create a new message
    </a>
  <% end %>
	<%#= link_to 'Create a new message',
		AdminMessage === @message ? new_commercial_loop_crm_developer_messages_path(@developer) : new_client_developer_messages_path(@developer),
		:class => 'btn' %>
</div>


</div><!-- end #sidebar -->
