<p class="select_topic" id="select_topic_area"><label class="required"><strong>Select a topic:</strong></label>&nbsp;
	<%= select :message, :topic_id, message_topic_select_options(@category), {}, :class => 'select_box' %>
</p>