<p>
  <strong>Account Status</strong>: Your Account is <%= @developer.status.humanize %>,
  you have <%= pluralize(@developer.agents.count, 'Client') %>,
  <%= pluralize(@developer.developer_users.count, 'Staff Member') %>,
  and have <%= pluralize(@developer.properties_count, 'listing') %> in your database with <%= number_to_human_size(@developer.disk_usage) %> of data stored.
</p>