<div id="clientmessagecntrdiv" class="group">
<% if @client_messages.blank? %>
<%= dashboard_placeholder(270, "Messages from your clients will appear here") %>
<%end%>
<h3>Office Messages
<small class="formgrouplinks">
	Go to 
	<%= link_to 'Message Centre', client_developer_messages_path(@developer), :class => "formgrouplinks" %> |
	<%= link_to "#{@client_messages.count unless @client_messages.blank?} Read", client_developer_messages_path(@developer) %> |
	<%= link_to "#{(current_user.unread_client_messages_count if current_user.attribute_present?(:unread_client_messages_count)) unless current_user.blank? } Unread", unread_client_developer_messages_path(@developer) %>
</small></h3>

<table cellpadding="0" cellspacing="0" class="clientcntr_table">
	<tr>
		<th class="first_cell field">Date</th>
		<th class="field">Category</th>
		<th class="field">Office Name</th>
		<th class="field">From</th>
		<th class="field">Status</th>
		<th class="field">Actioned</th>
	</tr>
  <% unless @client_messages.blank? %>
    <% @client_messages.all(:order => 'created_at desc', :limit => 7).each do |msg | %>
      <tr class="<%= cycle('alt', '') %>">
        <td class="first_cell value"><%= msg.created_at.to_s(:short) %></td>
        <td class="value"><%= link_to h(msg.category.name), client_developer_messages_path(@developer, :category => msg.category.id), :style => "color:#0E7FC7" %></td>
        <% if AgentMessage === msg %>
          <td class="value"><%= h msg.sender.blank? ? '?' : (msg.sender.developer.blank? ? '?' : msg.sender.developer.name) %></td>
          <td class="value"><%= h msg.sender.blank? ? '?' : (msg.sender.full_name.blank? ? '?' : msg.sender.full_name) %></td>
        <% else %>
                <td class="value"><%= h (msg.sender.has_attribute?("office") ? msg.sender.office.full_name : (msg.sender.blank? ? '?' : (msg.sender.full_name.blank? ? '?' : msg.sender.full_name))) unless msg.sender.blank? %></td>
          <td class="value"><%= h msg.sender.blank? ? '?' : (msg.sender.full_name.blank? ? '?' : msg.sender.full_name)%></td>
        <% end %>
        <td class="value"><%= link_to(msg.unread_for_user?(current_user) ? 'Unread' : 'Read', developer_message_path(@developer, msg), :style => "color:#0E7FC7") %></td>
        <td class="value">
          <% if msg.message_comments_count > 0 -%>
            <%= link_to msg.message_comments.last.created_at.to_s(:short), developer_message_path(@developer, msg, :anchor=> "message_comment_#{msg.message_comments.last.id}"), :style => "color:#0E7FC7" %>
          <% else -%>
            <%= link_to "Reply", developer_message_path(@developer, msg, :anchor => "new_comment_form"), :style => "color:#0E7FC7" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
</div>
