<div id="devsummary" class="group">
<% if @developer.developer_summaries.countries.blank? %>
<%= dashboard_placeholder(270, "Your developer summary will appear here") %>
<%end%>
<h3>Developer Summary</h3>
<table width="100%" cellpadding="0" cellspacing="0" class="billingcntr_table">
	<tr>
		<th class="first_cell field th_country">Country</th>
		<th class="field th_clients" style="text-align:center;">Clients</th>
		<th colspan="3" class="field th_offices" style="text-align:center;">Offices</th>
		<th class="field th_team" style="text-align:center;">Team</th>
		<th colspan="3" class="field th_listings" style="text-align:center;">Listings</th>
	</tr>
	
	<tr>
		<th class="first_cell field th_country">&nbsp;</th>

		<th class="field th_clients total" style="text-align: center;">Total</th>

		<th class="first_cell field th_offices" style="text-align:center;">Active</th>
		<th class="field th_offices" style="text-align:center;">Inactive</th>
		<th class="field th_offices total" style="text-align:center;">Total</th>

		<th class="first_cell field th_team" style="text-align:center;">Total</th>

		<th class="first_cell field th_listings" style="text-align:center;">Active</th>
		<th class="field th_listings" style="text-align:center;">Inactive</th>
		<th class="field th_listings total" style="text-align:center;">Total</th>

	</tr>
	
	<% @developer.developer_summaries.countries.each do |summary| %>

		<tr class="alt">
			<td class="first_cell value td_country"><%= summary.country %></td>

			<td class="value td_total_clients td_clients total" style="text-align: center;">
				<%= link_to summary.client_t , developer_agents_path(@developer, :country => summary.country), :style => "color:#0E7FC7" %>
			</td>

			<td class="first_cell value td_active_offices td_offices" style="text-align:center;">
				<%= link_to summary.office_a , developer_offices_path(@developer, :status => 'active', :country => summary.country), :style => "color:#0E7FC7"  %>
			</td>
			<td class="value td_inactive_offices td_offices" style="text-align:center;">
				<%= link_to summary.office_i , developer_offices_path(@developer, :status => 'inactive', :country => summary.country), :style => "color:#0E7FC7" %>
			</td>
			<td class="value td_total_offices td_offices total" style="text-align:center;">
				<%= link_to summary.office_t , developer_offices_path(@developer, :country => summary.country), :style => "color:#0E7FC7" %>
			</td>

			<td class="first_cell value td_team total" style="text-align:center;"><%= summary.team %></td>

			<td class="first_cell value td_active_listings td_listings" style="text-align:center;"><%= summary.listing_a %></td>
			<td class="value td_inactive_listings td_listings" style="text-align:center;"><%= summary.listing_i %></td>
			<td class="value td_total_listings td_listings total" style="text-align:center;"><%= summary.listing_t %></td>
		</tr>

	<% end %>

	<% summary = @developer.developer_summaries.total.first %>
	<% if summary %>
		<tr class="alt">
			<td class="first_cell value td_country total"><strong>Total</strong></td>

			<td class="value td_total_clients td_clients total" style="text-align: center;">
				<%= link_to summary.client_t , developer_agents_path(@developer), :style => "color:#0E7FC7" %>
			</td>

			<td class="first_cell value td_active_offices td_offices" style="text-align:center;">
				<%= link_to summary.office_a , developer_offices_path(@developer, :status => 'active'), :style => "color:#0E7FC7"  %>
			</td>
			<td class="value td_inactive_offices td_offices" style="text-align:center;">
				<%= link_to summary.office_i , developer_offices_path(@developer, :status => 'inactive'), :style => "color:#0E7FC7" %>
			</td>
			<td class="value td_total_offices td_offices total" style="text-align:center;">
				<%= link_to summary.office_t , developer_offices_path(@developer), :style => "color:#0E7FC7" %>
			</td>

			<td class="first_cell value td_team total" style="text-align:center;"><%= summary.team %></td>

			<td class="first_cell value td_active_listings td_listings" style="text-align:center;"><%= summary.listing_a %></td>
			<td class="value td_inactive_listings td_listings" style="text-align:center;"><%= summary.listing_i %></td>
			<td class="value td_total_listings td_listings total" style="text-align:center;"><%= summary.listing_t %></td>
		</tr>
	<% end %>
</table>

</div>
