<div class="set half leader">
<% if @quicklinks.blank? %>
<%= dashboard_placeholder(750, "These are Quick Links to help you navigate around the System") %>
<%end%>
<div class="group">
<h3 class="full">Quick Links</h3>
	<table width="100%" cellpadding="0" cellspacing="0" class="help_center_table">

	  	<% if !@quicklinks.nil? %>
			<% @quicklinks.each do |k,v| %>
				<tr>
					<td class="first_cell"><a href="<%= translate_url_for_developer_user(v) %>" title="<%= k %>" style="color:#0E7FC7"><%= k %></a></td>
				</tr>
			<% end %>
	    <% end %>
	</table>
</div>
</div>
