<div id="billingcntrdiv" class="group">
  <% if @subscriptions.blank? %>
    <%= dashboard_placeholder(900, "Your billing summary will appear here") %>
  <%end%>
  <h3>Account Billing Centre <small class="formgrouplinks"><%= link_to "Go to Subscription History", billing_developer_developer_account_path(:developer_id => @developer.id) %> | </small></h3>
  <!-- <a href="credit_card_details.php" title="Credit Card Details">Credit Card Details</a></small></h3> -->
  <table width="100%" cellpadding="0" cellspacing="0" class="billingcntr_table">
    <tr>
      <th class="first_cell field">Profile ID</th>
      <th class="field">Date</th>
      <th class="field">Amount</th>
      <th class="field">Action</th>
    </tr>
    <% @subscriptions.each do |subscription| %>
      <tr class="alt">
        <td><%= subscription.profile_id rescue 'N/A'%></td>
        <td><%= subscription.updated_at.to_s(:short)%></td>
        <td><%= subscription.currency %> <%= sprintf("%.2f", subscription.billing_amount / 100.00) %>
          <%= SubscriptionManagement.format_periodicity(SubscriptionManager.all_tariff_plans[subscription.tariff_plan_id]['payment_term']['periodicity']) %>
        </td>
        <td><%= subscription.status.capitalize %></td>
      </tr>
    <% end %>
  </table>
</div>