<div id="zoocntrdiv" class="group">
<% if @zoo_messages.blank? %>
<%= dashboard_placeholder(270, "Messages between Commercial Loop and yourself will appear here") %>
<%end%>
	<h3>Commercial Loop CRM Messages
	<small class="formgrouplinks">
		Go to 
		<%= link_to 'Message Centre', commercial_loop_crm_developer_messages_path(@developer), :class => "formgrouplinks" %> |
		<%= link_to "#{@zoo_messages.count unless @zoo_messages.blank?} Read", commercial_loop_crm_developer_messages_path(@developer) %> |
		<%= link_to "#{(current_user.unread_admin_messages_count if current_user.attribute_present?(:unread_admin_messages_count)) unless current_user.blank? } Unread", unread_commercial_loop_crm_developer_messages_path(@developer) %>
	</small></h3>

	<table cellpadding="0" cellspacing="0" class="clientcntr_table">
		<tr>
			<th class="first_cell field">Date</th>
			<th class="field">Category</th>
			<th class="field">From</th>
			<th class="field">Status</th>
			<th class="field">Actioned</th>
		</tr>
    <% unless @zoo_messages.blank? %>
      <% @zoo_messages.all(:order => 'created_at desc', :limit => 7).each do |msg | %>
        <tr class="<%= cycle('alt', '') %>">
          <td class="first_cell value"><%= msg.created_at.to_s(:short) %></td>
          <td class="value"><%= link_to h(msg.category.name), commercial_loop_crm_developer_messages_path(@developer, :category => msg.category.id), :style => "color:#0E7FC7" %></td>
          <td class="value"><%= h msg.sender.full_name %></td>
          <td class="value"><%= link_to(msg.unread_for_user?(current_user) ? 'Unread' : 'Read', developer_message_path(@developer, msg), :style => "color:#0E7FC7") %></td>
          <td class="value">
            <% if msg.message_comments_count > 0 -%>
              <%= link_to msg.message_comments.last.created_at.to_s(:short), developer_message_path(@developer, msg, :anchor=> "message_comment_#{msg.message_comments.last.id}"), :style => "color:#0E7FC7" %>
            <% else -%>
              <%= link_to "Reply", developer_message_path(@developer, msg, :anchor => "new_comment_form"), :style => "color:#0E7FC7" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
	</table>
</div>
