<% form_for :conjuctional, :url => create_conjunctional_office_developer_path(@developer) do |f| %>
<h2>Add conjunctional office</h2>

  <div class="group">
    <div class="set full leader">
      <div class="group">
        <table cellpadding="0" cellspacing="0" class="update_table full">
          <tr>
            <th colspan="2" class="first_cell">Conjunctional Office Details</th>
          <tr>
            <td class="field first_cell">Conjunctional REA agent ID:</td>
            <td class="value">
              <%= f.text_field :conjunctional_rea_agent_id, :class => 'single fldrequired' %>
              <div style="clear:both;"></div>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">Conjunctional Office name:</td>
            <td class="value">
              <%= f.text_field :conjunctional_office_name, :class => 'single fldrequired' %>
              <div style="clear:both;"></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="action_button" style="border:none">
    <button name="update" type="submit" value="Update">
      <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/> Add conjunctional office
    </button>
  </div>
<% end %>