<script type="text/javascript">
  var newwindow;
  function poptastic(url)
  {
    newwindow=window.open(url,'name','height=screen.height,width=screen.width,resizable=yes,scrollbars=yes,toolbar=yes,status=yes');
    if (window.focus) {newwindow.focus()}
  }

  function check_field(){
    var status = 0;
    var include_local = 0;
    var invalid_ipn = 0;
    var invalid_url = 0;
    for(var i=0; i < $('#count_field').val(); i++){
      if($('#domain_name'+i).val() == '') status = 1;
      if($('#domain_ipn'+i).val() == '') status = 1;
      if($('#domain_ipn'+i).val().toLowerCase().indexOf("localhost") >= 0) include_local = 1;
      if($('#domain_ipn'+i).val().toLowerCase().indexOf("/index.php") < 0) invalid_ipn = 1;
      if(isUrl($('#domain_name'+i).val()) == false || isUrl($('#domain_ipn'+i).val()) == '') invalid_url = 1;
    }
    if(status == 1){
      alert("Please Fill Domain Name and Property Notification");
    }else{
      if(invalid_url == 1){
        alert("Please Fill Valid Domain Name and Property Notification");
      }else{
        if(include_local == 1){
          alert("Url can not include localhost address!");
        }else{
          if(invalid_ipn == 1){
            alert("Please Fill a valid Property Notification eg: http://yourdomain.com/index.php ");
          }else{
            $('#update_form').submit();
          }
        }
      }
    }
  }

  function isUrl(str) {
   var expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
   var regexp = new RegExp(expression);
   return regexp.test(str);
  }

</script>
<%unless @developer.blank?%>
<% form_for :developer, @developer, :url => "/developers/#{@developer.id}/update_developer_api", :html => {:multipart => true, :method => :put, :class => 'update_form', :name => 'update_form', :id => 'update_form'} do |f| %>
  <h2><%= @developer.name %></h2><br/><br/>

  <%= f.check_box :xml_api_enable %>Enable XML API<br/><br/>
  <%= f.check_box :http_api_enable%>Enable HTTP API<br/><br/>

  <h3>Property Listing XML</h3>
  <table cellspacing="0" cellpadding="0" class="export_settings_table full">
    <tr>
      <td class="field first_cell">Developer ID:</td>
      <td class="value">
        <%= @developer.id %>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">XML Url</td>
      <td class="value">
        <%unless @developer.status == 'inactive'%>
          <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/properties?developer_id=<%=@developer.id%>&page=1');">http://api.commercialloopcrm.com.au/api/properties?developer_id=<%=@developer.id%>&page=1</a>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">XML Url (Newly Updated)</td>
      <td class="value">
        <%unless @developer.status == 'inactive'%>
          <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/properties?developer_id=<%=@developer.id%>&updated');">http://api.commercialloopcrm.com.au/api/properties?developer_id=<%=@developer.id%>&updated</a>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">Access Key:</td>
      <td class="value">
        <%unless @developer.status == 'inactive'%>
          <%= @developer.access_key %>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">Private Key:</td>
      <td class="value">
        <%unless @developer.status == 'inactive'%>
          <%= @developer.private_key %>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
  </table>
  <br/>

  <h3>Team Member XML</h3>
  <table cellspacing="0" cellpadding="0" class="export_settings_table full">
    <tr>
      <td class="field first_cell">Office ID:</td>
      <td class="value">
        <%= @developer.id %>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">XML Url</td>
      <td class="value">
        <%unless @developer.status == 'inactive'%>
          <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/agents?developer_id=<%=@developer.id%>&page=1')">http://api.commercialloopcrm.com.au/api/agents?developer_id=<%=@developer.id%>&page=1</a>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">XML Url (Newly Updated)</td>
      <td class="value">
        <%unless @developer.status == 'inactive'%>
          <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/agents?developer_id=<%=@developer.id%>&updated');">http://api.commercialloopcrm.com.au/api/agents?developer_id=<%=@developer.id%>&updated</a>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">Access Key:</td>
      <td class="value">
        <%unless @developer.status == 'inactive'%>
          <%= @developer.access_key %>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">Private Key:</td>
      <td class="value">
        <%unless @developer.status == 'inactive'%>
          <%= @developer.private_key %>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
  </table>

  <h3>Office XML</h3>
  <table cellspacing="0" cellpadding="0" class="export_settings_table full">
    <tr>
      <td class="field first_cell">Office ID:</td>
      <td class="value">
        <%= @developer.id %>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">XML Url</td>
      <td class="value">
        <%unless @developer.status == 'inactive'%>
          <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/offices?developer_id=<%=@developer.id%>&page=1')">http://api.commercialloopcrm.com.au/api/offices?developer_id=<%=@developer.id%>&page=1</a>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">XML Url (Newly Updated)</td>
      <td class="value">
        <%unless @developer.status == 'inactive'%>
          <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/offices?developer_id=<%=@developer.id%>&updated');">http://api.commercialloopcrm.com.au/api/offices?developer_id=<%=@developer.id%>&updated</a>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">Access Key:</td>
      <td class="value">
        <%unless @developer.status == 'inactive'%>
          <%= @developer.access_key %>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">Private Key:</td>
      <td class="value">
        <%unless @developer.status == 'inactive'%>
          <%= @developer.private_key %>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
  </table>
    <%= render :partial => 'domain', :object => f %>
    <div class="action_button">
        <button name="update" type="button" value="Update" onclick="check_field();">
          <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/> Update
        </button>
        <span>or&nbsp;&nbsp;</span>
        <% link_to api_details_developer_path(@developer) do %>
          <%= image_tag 'icons/famfamfam/cancel.png', :alt => 'cancel' %> Cancel
        <% end %>
      </div>
  <%end%>
<%end%>