<div class="block accounts full" id="accountdiv">
  <h2>Exports Settings:</h2>
  <% form_for :export, :url => "/developers/#{@developer.id}/update_combined_exports", :html => {:method => :put, :class => 'results_filter_form', :name => 'update_form', :id => 'update_form'} do |f| %>
    <div class="group">
      <div id="alert" style="display:none;"></div>
      <table cellspacing="0" cellpadding="0" class="export_settings_table full">
        <tbody><tr>
            <th class="first_cell"><a title="" href="#">Portal</a></th>
            <th><a title="" href="#">Active Feeds</a></th>
            <th><a title="" href="#">Automatically subscribe</a></th>
          </tr>
          <% unless @portal_countries.blank? %>
            <% @portal_countries.each do |p_c| %>
              <% if p_c.portal.require_account_id != 1 %>
              <tr class="alt">
                <td class="td_portal_name first_cell">
                  <%= p_c.portal.portal_name %>
                </td>
                <td class="td_portal_feeds">
                   <% portal_combined = PortalCombined.find(:first, :conditions => "developer_id = #{@developer.id} and portal_id = #{p_c.portal.id}") %>
                   <% checked = portal_combined.blank? ? false : true %>
                   <%= check_box_tag "portal_feeds[]", "#{p_c.portal.id}", checked, {:id=>"checkbox_#{p_c.portal.id}",:onclick =>"hide_me(#{p_c.portal.id});"} %>
                </td>
                <td class="td_portal_feeds">
                   <% 
                     unless portal_combined.blank?
                      checked_auto = portal_combined.autosubcribe == true ? true : false
                     else
                      checked_auto = false
                     end
                   %>
                   <%= check_box_tag "portal_autos[]", "#{p_c.portal.id}", checked_auto, {:id=>"checkauto_#{p_c.portal.id}"} %>
                </td>
              </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody></table>
      <div class="clearer"/>
    </div>
    <div class="action_button">
      <button value="Update" type="button" name="update" onclick="check_account();">
        <img height="16" width="16" alt="pencil" src="/images/icons/famfamfam/pencil.png"/>
        Update
      </button>
    </div>
  <% end %>
</div>
<script  type="text/javascript">
   function hide_me(id){
      $("#checkauto_"+id).attr("checked", "");
      if($("#checkbox_"+id).attr("checked")){
        $("#checkauto_"+id).attr("checked", "checked");
      };
  }

  function check_account() {
    var answer = confirm ("Updating export settings could affect to all offices and all properties belongs to this developer. Do you still wish to continue? ")
    if(answer){
      $('#update_form').submit();
    }
  }
</script>
