<div class="block accounts full" id="accountdiv">
  <h2>Ecampaign:</h2>
  <% form_for :developer, :url => "/developers/#{@developer.id}/update_ecampaign", :html => {:method => :put, :class => 'results_filter_form', :name => 'update_form', :id => 'update_form'} do |f| %>
    <%= f.check_box :allow_ecampaign %>Allow ecampaigns to be sent to Contacts from all offices<br/><br/>
    <%= f.check_box :allow_listing_office %>Allow ecampaigns to show listings only for the office<br/><br/>
    <%= f.check_box :show_conjunction %>Display conjunctions tab for the office<br/><br/>
    <div class="action_button">
      <button value="Update" type="button" name="update" onclick="check_account();">
        <img height="16" width="16" alt="pencil" src="/images/icons/famfamfam/pencil.png"/>
        Update
      </button>
    </div>
  <% end %>
</div>
<script  type="text/javascript">
  function check_account() {
    //var answer = confirm ("Updating export settings could affect to all offices and all properties belongs to this developer. Do you still wish to continue? ")
    //if(answer){
      $('#update_form').submit();
    //}
  }
</script>
