<h1>Editing developer</h1>

<% form_for(@developer) do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td>*Name:</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>*Company:</td>
      <td><%= f.text_field :company %></td>
    </tr>
    <tr>
      <td>*URL:</td>
      <td><%= f.text_field :entry %>.commercialloopcrm.com.au</td>
    </tr>
  </table>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @developer %> |
<%= link_to 'Back', developers_path %>
