<div class="block full">
  <div id="sidebar" class="block files quarter">
    <div class="upload_button">
      <%= link_to "Add a New Developer", new_developer_path, :class => "btn" %>
    </div>
  </div>

  <div class="title_block half">
    <h2>Developer Summary&nbsp;&nbsp;&nbsp;<!--<small><#%= link_to "#{@active} Active", developers_path(:status => 'active') %> | <#%= link_to "#{@inactive} Inactive", developers_path(:status => 'inactive') %> | <#%= link_to "#{@overdue} Overdue", developers_path(:status => 'suspended') %></small>--></h2>
  </div>
  <div id="filtersresultsdiv" class="block threequarters filtersresultsdiv">
    <% form_tag developers_path, :class => "results_filter_form", :method => 'get' do %>
      <%= select_tag "developer", options_for_select(@developers.map{|s|[s.name, s.id]}.unshift(["All Developers", nil]), params[:developer]) %>
      <%= select_tag "country", options_for_select(Country.all.map{|c|[c.name, c.name]}.unshift(["All Countries", nil]), params[:country]) %>
      <%= select_tag "status", options_for_select(Developer::STATUS.map{|s|[s.capitalize, s]}.unshift(["All Status", nil]), params[:status]) %>
      <!-- Status are Active, Inactive, Suspended -->
      <%= select_tag "payments", options_for_select(Developer::PAYMENTS.map{|p| [p.capitalize, p]}.unshift(["All Payments", nil]), params[:payments]) %>
      <div class="action_button">
        <button name="filter" type="submit" value="Filter" class="filter"><img src="../images/icons/famfamfam/filter.png" alt="filter" width="16" height="16"/>
          Filter
        </button>
      </div>
    <% end %>
  </div><!-- end #filtersresultsdiv -->
</div>
<div class="block full">
  <form action="post" class="clientform full" id="clientsummarytable">

    <table class="client-list" cellspacing="0" cellpadding="0">
      <tr>
        <th class="first_cell"><a href="#" title="">Developer</a></th>
        <!-- NOTE TO DEVELOPER: The first cell in every row of any table should have a class of "first_cell" -->
        <th><a href="#" title="">ID</a></th>
        <th><a href="#" title="">Signed Up</a></th>
        <th><a href="#" title="">Signed In</a></th>
        <th><a href="#" title="">Status</a></th>
        <th><a href="#" title="">Clients</a></th>
        <th><a href="#" title="">Offices</a></th>
        <th><a href="#" title="">Listings</a></th>
        <th><a href="#" title="">Developer Systems</a></th>
        <th><a href="#" title="">Active Offices</a></th>
        <th><a href="#" title="">Support</a></th>
        <th>&nbsp;</th>
      </tr>
      <% for developer in @developers %>
        <tr class='<%= cycle("alt", "") %>'>
          <td><%= developer.name %></td>
          <td><%= developer.id %></td>
          <td><%= developer.created_at.to_s(:short) %></td>
          <td><%= developer.created_at.to_s(:short) %></td>
          <td><%= developer.status %></td>
          <td><%= developer.agents.count %></td>
          <td><%= developer.offices.count %></td>
          <td><%= developer.properties_count %></td>
          <td class="list_system"><a style="color: rgb(14, 127, 199);" href="<%= developer_path(developer) %>" target = "_blank" >System</a></td>
          <td><%= developer.active_offices.blank? ? "#{link_to "No", active_offices_status_path(developer.id, 1) }" : "#{link_to "Yes", active_offices_status_path(developer.id, 0) }" %></td>
          <td><%= developer.support.blank? ? "#{link_to "No", support_status_path(developer.id, 1) }" : "#{link_to "Yes", support_status_path(developer.id, 0) }" %></td>
        </tr>
      <% end %>
    </table>
  </form>
</div>
