<%= stylesheet_link_tag 'dashboard' %>
<div id="gcontent">
  <div class="get-started">
      <h2>Get started with commercial loop crm</h2><br/>
      <table>
          <tbody>
              <tr>
                  <td><div id="add-client-step" class="image">&nbsp;</div></td>
                  <td rowspan="2" class="middle"><span class="next">&nbsp;</span></td>
                  <td><div id="add-office-step" class="image">&nbsp;</div></td>
                  <td rowspan="2" class="middle"><span class="next">&nbsp;</span></td>
                  <td><div id="manage-office-step" class="image">&nbsp;</div></td>
              </tr>
              <tr>
                  <td><a id="add_client" class="button add-client" href="<%= new_developer_agent_path(@developer) %>" style="border: none; padding: 0">&nbsp;</a></td>
                  <td><a id="add_office" class="button add-office" href="<%= developer_agents_path(@developer) %>" style="border: none; padding: 0">&nbsp;</a></td>
                  <td><a id="manage_office" class="button manage-office" href="<%= developer_offices_path(@developer) %>" style="border: none; padding: 0">&nbsp;</a></td>
              </tr>
          </tbody>
      </table>
      <div class="desc">
          <div id="detail_add_client" class="step detail-add-client-step" style="display:none;" onclick="window.location='<%= new_developer_agent_path(@developer) %>';">
              <p><span class="circle">1</span>Client Details - Edit Office Contact and Address Details </p>
              <p><span class="circle">2</span>Client Account Holder - Setup detail accout</p>
              <p><span class="circle">3</span>Client Settings - Setup contacts for client</p>
              <p><span class="circle">4</span>API Keys - View API keys for the client allowing you to send their data to an application or their website</p>
          </div>
          <div id="detail_add_office" class="step detail-add-office-step" style="display:none;" onclick="window.location='<%= developer_agents_path(@developer) %>';">
              <p><span class="circle">1</span>Client Name - Edit Client Details </p>
              <p><span class="circle">2</span>Listing - total listings for each client</p>
              <p><span class="circle">3</span>API - Setup the API for the office allowing you to send their data to an application or their website</p>
              <p><span class="circle">4</span>View - View the Agent's System for an office and where the office will add and manage property and team member data</p>
              <p><span class="circle">5</span>Add Office - Where you add new office for selected client</p>
          </div>
          <div id="detail_manage_office" class="step detail-manage-office-step" onclick="window.location='<%= developer_offices_path(@developer) %>';">
              <p><span class="circle">1</span>Office Name - Edit Office Contact and Address Details </p>
              <p><span class="circle">2</span>Exports - Setup exports for property data to 3rd party portals for the office</p>
              <p><span class="circle">3</span>API - Setup the API for the office allowing you to send their data to an application or their website</p>
              <p><span class="circle">4</span>System - View the Agent's System for an office and where the office will add and manage property and team member data</p>
              <p><span class="circle">5</span>Subscribe Now - Where you subscribe to make the office Active and pay the monthly subscription fee for the office</p>
          </div>
          <div class="clear"></div>
      </div>
      <div class="clear"></div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
     $(".button").hover(function(){
       var id = $(this).attr("id");
       var detial_id = "detail_"+id;
       $("#detail_add_client").hide();
       $("#detail_add_office").hide();
       $("#detail_manage_office").hide();
       $("#"+detial_id).show();
     });
      $(".image").hover(function(){
       var id = $(this).attr("id");
       var vClass = ".detail-"+id;
       $("#detail_add_client").hide();
       $("#detail_add_office").hide();
       $("#detail_manage_office").hide();
       $(".desc").find(vClass).show();
      });
  });
</script>