<h1 id="logo">
  <%= @developer && @developer.company || image_tag("logo-commercial-loop.png") %>
</h1>
<% if flash[:error] %>
  <p style="color: red"><%= flash[:error] %></p>
<% end %>
<div id="login_box">
  <% form_tag session_path do -%>
    <p><%= label_tag 'login' %><br />
      <%= text_field_tag 'login', @login, :class => "single" %></p>

    <p><%= label_tag 'password' %><br/>
      <%= password_field_tag 'password', @password, :class => "single" %></p>
    <p><%= check_box_tag 'remember_me', '1', @remember_me %> <%= label_tag 'remember_me', 'Remember me on this computer' %></p>
    <% if @popup %>
      <%= hidden_field_tag('popup','1') %>
    <% end %>
    <div class="action_button">
      <button name="login_button" type="submit" value="Login">
        <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16" />
        Login
      </button>
      <!-- NOTE TO DEVELOPER: If this and other buttons don't work as the <button> tag, then if they can be <a> tags, that would be awesome too. Thanks! -->
    </div>
    <p class="float-right"><span style="margin-right:20px"><%= link_to "Sign Up", signup_path %></span><%= link_to "Forgot your username or password?", forgot_password_path %></p>

  <% end -%>
</div>
<div id="login_info_box"><p style="clear: both;font-size: 9px"><strong><i>Browsers: Internet Explorer 7+, Firefox 2+, Google Chrome, Safari, Opera</i></strong></p>
</div>
<script type="text/javascript">
  //<![CDATA[
  $("login").focus()
  //]]>
</script>
