<script type="text/javascript">
  window.onload = function() {
    window.opener.location.href="http://localhost:3000/"+"<%= agent_office_path(current_user.agent,current_user.office)+"/properties" %>";
    self.close()
  }
</script>
