<div class="title_block block">
  <h2 class="page_title">Notes For Contact <%= @agent_contact.full_name unless @agent_contact.blank? %></h2>
</div>
<div id="clientdiv" class="block accounts full">
<% form_for :contact_note, @contact_note, :url => agent_office_agent_contact_note_path(@agent,@office, @agent_contact), :html => {:class => 'propertyform full', :method => :put} do |f| %>
  <%= f.error_messages :class => 'errortext' %>
  <%= render :partial => 'note_form', :locals => {:form => f} %>
  <%= render :partial => 'note_list' %>
<% end %>
</div><!-- end #clientdiv -->

