<div class="title_block block sub-opt-nav">
  <h2 class="page_title"><%= @agent_contact.full_name unless @agent_contact.blank? %></h2>
  <div><%= render :partial => 'agent_contacts/contact_options' %></div>
</div>
<div id="clientdiv" class="block accounts full">
<% form_for :contact_note, @contact_note, :url => agent_office_agent_contact_notes_path(@agent,@office), :html => {:class => 'propertyform full'} do |f| %>
  <%= f.error_messages :class => 'errortext' %>
  <%= render :partial => 'note_form', :locals => {:form => f} %>
  <%= render :partial => 'note_list' %>
<% end %>
</div><!-- end #clientdiv -->
