<% content_for :head do %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_div { height: 100% }
  </style>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChQSpCH3SdXB4BFphbz9av5KUWhqMQzrk&sensor=false">
  </script>
  <script type="text/javascript">
    var map
    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(-34.397, 150.644),
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map_div"),
      mapOptions);
    }

    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyChQSpCH3SdXB4BFphbz9av5KUWhqMQzrk&sensor=false&callback=initialize";
      document.body.appendChild(script);
    }

    window.onload = loadScript;
  </script>
  <%= javascript_include_tag 'jquery.jmap.min', 'gmap.office' %>
<% end %>
<div class="set">
  <h6 class="full">Mapping Coordinates <small class="formgrouplinks"><%= link_to 'Map Address', '#', :id => 'submit_geocode' %></small></h6>

  <p><strong>Longitude:</strong>&nbsp;&nbsp;<span id='coordinate_latitude'></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Latitude:</strong>&nbsp;&nbsp;<span id='coordinate_longitude'></span></p>

<div id="mapcontainer">
<div id='map_div' style="width: 100%; height: <%= height %>; position: relative; background-color: rgb(229, 227, 223);"></div>
</div>
</div>
