<div class="title_block block">
  <h2 class="page_title">Campaign Copy</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= campaign_copy_agent_office_ealerts_path(@agent, @office) %>" method="post" name="frm1">
<input type="hidden" name="link_order" id="link_order" value="<%= @link_order %>"/>
<input type="hidden" name="list_order" id="list_order" value="<%= @list_order %>"/>

<div id="clientdiv" class="block accounts full">
  <div id="contactsdiv" class="block form group-bluesky">
    <div class="set">
       <div>
        <h6>Sender Details</h6><br/>
        <table class="border-less">
          <tr class="blue-bgcolor"><td class="wd-150">Email Title:</td>
          <td><input type="text" name="data[sender_title]" id="data_sender_title" class="single" style="width:350px;" value="<%= @data["sender_title"] unless @data.blank? %>" /></td></tr>
          <tr class="blue-bgcolor"><td class="wd-150">Email Description:</td>
          <td><textarea name="data[sender_description]" id="data_description" class="mceEditor"><%= @data["sender_description"] unless @data.blank? %></textarea></td></tr>
          <tr class="blue-bgcolor"><td class="wd-150">Email Sender:</td>
          <td><%= select_tag "data[sender_email]", options_for_select(@contacts, @data["sender_email"].to_i) %></td></tr>
        </table>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div  id="contactsdiv" class="block form group-bluesky">
    <div class="set">
       <div id="listcont">
        <h6>Select Listings</h6>
        <div id="setterlist"></div>
         <div class="bordered-cont" id="listcont_currentsales">
           <table class="border-less">
            <tr class="blue-bgcolor">
              <td colspan="3">
                <b>Current Sales:</b>
                <div class="wrp-order">Order <span style="font-size:11pt;">+</span></div>
                <div class="clearer"></div>
              </td>
            </tr>
            <tr class="blue-bgcolor">
            <td style="padding-left:10px;width:30%;"><input type="radio" name="data[current_sales]" value="1" <%= @data["current_sales"].blank? ? "checked" : (@data["current_sales"] == "1" ? "checked" : "") %>/>&nbsp;All</td>
            <td style="padding-left:10px;width:30%;"><input type="radio" name="data[current_sales]" value="2" <%= @data["current_sales"] == "2" ? "checked" : "" %>/>&nbsp;Only new listings since last Alert</td>
            <td><input type="radio" name="data[current_sales]" value="0" <%= @data["current_sales"] == "0" ? "checked" : "" %>/>&nbsp;Not displayed</td>
            </tr>
           </table>
         </div>
         <div class="bordered-cont" id="listcont_currentrentals">
           <table class="border-less">
            <tr class="blue-bgcolor">
              <td colspan="3">
                <b>Current Rentals:</b>
                <div class="wrp-order">Order <span style="font-size:11pt;">+</span></div>
                <div class="clearer"></div>
              </td>
            </tr>
            <tr class="blue-bgcolor">
              <td style="padding-left:10px;width:30%;"><input type="radio" name="data[current_rentals]" value="1" <%= @data["current_rentals"].blank? ? "checked" : (@data["current_rentals"] == "1" ? "checked" : "") %>/>&nbsp;All</td>
              <td style="padding-left:10px;width:30%;"><input type="radio" name="data[current_rentals]" value="2" <%= @data["current_rentals"] == "2" ? "checked" : "" %>/>&nbsp;Only new listings since last Alert</td>
              <td><input type="radio" name="data[current_rentals]" value="0" <%= @data["current_rentals"] == "0" ? "checked" : "" %>/>&nbsp;Not displayed</td>
            </tr>
           </table>
         </div>
         <div class="bordered-cont" id="listcont_opensales">
           <table class="border-less">
            <tr class="blue-bgcolor">
              <td colspan="3">
                <b>Open Times - Sales:</b>
                <div class="wrp-order">Order <span style="font-size:11pt;">+</span></div>
                <div class="clearer"></div>
              </td>
            </tr>
            <tr class="blue-bgcolor">
            <td style="padding-left:10px;width:30%;"><input type="radio" name="data[open_sales]" value="1" <%= @data["open_sales"].blank? ? "checked" : (@data["open_sales"] == "1" ? "checked" : "") %>/>&nbsp;All</td>
            <td style="padding-left:10px;width:30%;"><input type="radio" name="data[open_sales]" value="2" <%= @data["open_sales"] == "2" ? "checked" : "" %>/>&nbsp;Only new listings since last Alert</td>
            <td><input type="radio" name="data[open_sales]" value="0" <%= @data["open_sales"] == "0" ? "checked" : "" %>/>&nbsp;Not displayed</td>
            </tr>
           </table>
         </div>
         <div class="bordered-cont" id="listcont_openrentals">
           <table class="border-less">
            <tr class="blue-bgcolor">
              <td colspan="3">
                <b>Open Times - Rentals:</b>
                <div class="wrp-order">Order <span style="font-size:11pt;">+</span></div>
                <div class="clearer"></div>
              </td>
            </tr>
            <tr class="blue-bgcolor">
              <td style="padding-left:10px;width:30%;"><input type="radio" name="data[open_rentals]" value="1" <%= @data["open_rentals"].blank? ? "checked" : (@data["open_rentals"] == "1" ? "checked" : "") %>/>&nbsp;All</td>
              <td style="padding-left:10px;width:30%;"><input type="radio" name="data[open_rentals]" value="2" <%= @data["open_rentals"] == "2" ? "checked" : "" %>/>&nbsp;Only new listings since last Alert</td>
              <td><input type="radio" name="data[open_rentals]" value="0" <%= @data["open_rentals"] == "0" ? "checked" : "" %>/>&nbsp;Not displayed</td>
            </tr>
           </table>
         </div>
         <div class="bordered-cont" id="listcont_sold">
           <table class="border-less">
            <tr class="blue-bgcolor">
              <td colspan="3">
                <b>Sold listings:</b>
                <div class="wrp-order">Order <span style="font-size:11pt;">+</span></div>
                <div class="clearer"></div>
              </td>
            </tr>
            <tr class="blue-bgcolor">
              <td style="padding-left:10px;width:30%;"><input type="radio" name="data[sold]" value="1" <%= @data["sold"].blank? ? "checked" : (@data["sold"] == "1" ? "checked" : "") %>/>&nbsp;All</td>
              <td style="padding-left:10px;width:30%;"><input type="radio" name="data[sold]" value="2" <%= @data["sold"] == "2" ? "checked" : "" %>/>&nbsp;Only new listings since last Alert</td>
              <td><input type="radio" name="data[sold]" value="0" <%= @data["sold"] == "0" ? "checked" : "" %>/>&nbsp;Not displayed</td>
            </tr>
           </table>
         </div>
         <div class="bordered-cont" id="listcont_leased">
           <table class="border-less">
            <tr class="blue-bgcolor">
              <td colspan="3">
                <b>Leased listings:</b>
                <div class="wrp-order">Order <span style="font-size:11pt;">+</span></div>
                <div class="clearer"></div>
              </td>
            </tr>
            <tr class="blue-bgcolor">
              <td style="padding-left:10px;width:30%;"><input type="radio" name="data[leased]" value="1" <%= @data["lease"].blank? ? "checked" : (@data["leased"] == "1" ? "checked" : "") %>/>&nbsp;All</td>
              <td style="padding-left:10px;width:30%;"><input type="radio" name="data[leased]" value="2" <%= @data["leased"] == "2" ? "checked" : "" %>/>&nbsp;Only new listings since last Alert</td>
              <td><input type="radio" name="data[leased]" value="0" <%= @data["leased"] == "0" ? "checked" : "" %>/>&nbsp;Not displayed</td>
            </tr>
           </table>
         </div>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div id="contactsdiv" class="block form group-bluesky">
    <div class="set">
       <div id="linkcont">
        <h6>Links</h6>
        <div id="setter"></div>
        <div class="bordered-cont" id="linkcont_info">
        <table class="border-less">
          <tr class="blue-bgcolor">
            <td colspan="2">
              <b>Info Links:</b> 
              <div class="wrp-order">Order <span style="font-size:11pt;">+</span></div>
              <div class="clearer"></div>
            </td>
          </tr>
          <tr class="blue-bgcolor"><td style="padding-left:10px;width:600px;">
            <div class="campaingn_info_link">
              <% if @info_links.blank? %>
              <div class="campaingn_link_wrapper">
                <div class="campaign-link-title">Title Link:&nbsp;</div>
                <div class="campaign-link-link"><input type="text" name="info_link[][title]" class="single" style="width:200px;" value="" /></div>
                <div class="campaign-link-title">&nbsp;Link:&nbsp;</div>
                <div class="campaign-link-link"><input type="text" name="info_link[][url]" class="single" style="width:200px;" value="" /></div>
              </div>
              <% else %>
                <%= @info_links %>
              <% end %>
            </div>
          </td><td>&nbsp;<a href="javascript:add_info_link();" name="add_info_link">Add</a></td>
          </tr>
         </table>
         </div>
         <div class="bordered-cont" id="linkcont_web">
         <table class="border-less">
          <tr class="blue-bgcolor"><td colspan="2"><b>Web Links:</b>
          <div class="wrp-order">Order <span style="font-size:11pt;">+</span></div>
          <div class="clearer"></div>
          </td></tr>
          <tr class="blue-bgcolor"><td style="padding-left:10px;width:600px;">
            <div class="campaingn_web_link">
              <% if @web_links.blank? %>
              <div class="campaingn_link_wrapper">
                <div class="campaign-link-title">Title Link:&nbsp;</div>
                <div class="campaign-link-link"><input type="text" name="web_link[][title]" class="single" style="width:200px;" value="" /></div>
                <div class="campaign-link-title">&nbsp;Link:&nbsp;</div>
                <div class="campaign-link-link"><input type="text" name="web_link[][url]" class="single" style="width:200px;" value="" /></div>
              </div>
              <% else %>
                <%= @web_links %>
              <% end %>
            </div>
          </td><td>&nbsp;<a href="javascript:add_web_link();" name="add_info_link">Add</a></td>
          </tr>
         </table>
         </div>
         <div class="bordered-cont" id="linkcont_general">
         <table class="border-less">
          <tr class="blue-bgcolor"><td colspan="2"><b>General Links:</b>
          <div class="wrp-order">Order <span style="font-size:11pt;">+</span></div>
          <div class="clearer"></div>
          </td></tr>
          <tr class="blue-bgcolor"><td style="padding-left:10px;width:600px;">
            <div class="campaingn_general_link">
              <% if @general_links.blank? %>
                <div class="campaingn_link_wrapper marg">
                  <div class="campaign-link-title">Headline:&nbsp;</div>
                  <div class="campaign-link-link"><input type="text" name="general_link[][title]" class="single" style="width:200px;" value="" /></div>
                  <div class="campaign-link-title">&nbsp;Link:&nbsp;</div>
                  <div class="campaign-link-link"><input type="text" name="general_link[][url]" class="single" style="width:200px;" value="" /></div>
                  <div class="clearer"></div>
                </div>
                <div class="campaingn_link_wrapper marg">
                  <div class="campaign-link-title">Description:&nbsp;</div>
                  <div class="campaign-link-link"><textarea name="general_link[][desc]" style="width:495px;"></textarea></div>
                  <div class="clearer"></div>
                </div>
              <% else %>
                <%= @general_links %>
              <% end %>
            </div>
          </td><td>&nbsp;<a href="javascript:add_general_link();" name="add_general_link">Add</a></td>
          </tr>
        </table>
        </div>
        <div class="bordered-cont" id="linkcont_social">
        <table class="border-less">
          <tr class="blue-bgcolor"><td colspan="2"><b>Social Links:</b>
          <div class="wrp-order">Order <span style="font-size:11pt;">+</span></div>
          <div class="clearer"></div>
          </td></tr>
          <tr class="blue-bgcolor"><td style="padding-left:10px;width:600px;" colspan="2">
            <div class="campaingn_social_link">
              <div class="campaingn_link_wrapper marg">
                <div class="campaign-link-title">&nbsp;Facebook:&nbsp;</div>
                <div class="campaign-link-link"><input type="text" name="facebook_social_link" class="single" style="width:495px;" value="<%= @facebook_social_link %>" /></div>
                <div class="clearer"></div>
              </div>
              <div class="campaingn_link_wrapper marg">
                <div class="campaign-link-title">&nbsp;Twitter:&nbsp;</div>
                <div class="campaign-link-link"><input type="text" name="twitter_social_link" class="single" style="width:495px;" value="<%= @twitter_social_link %>" /></div>
                <div class="clearer"></div>
              </div>
              <div class="campaingn_link_wrapper marg">
                <div class="campaign-link-title">&nbsp;LinkedIn:&nbsp;</div>
                <div class="campaign-link-link"><input type="text" name="linkedin_social_link" class="single" style="width:495px;" value="<%= @linkedin_social_link %>" /></div>
                <div class="clearer"></div>
              </div>
              <div class="campaingn_link_wrapper marg">
                <div class="campaign-link-title">&nbsp;Youtube:&nbsp;</div>
                <div class="campaign-link-link"><input type="text" name="youtube_social_link" class="single" style="width:495px;" value="<%= @youtube_social_link %>" /></div>
                <div class="clearer"></div>
              </div>
              <div class="campaingn_link_wrapper marg">
                <div class="campaign-link-title">&nbsp;Rss:&nbsp;</div>
                <div class="campaign-link-link"><input type="text" name="rss_social_link" class="single" style="width:495px;" value="<%= @rss_social_link %>" /></div>
                <div class="clearer"></div>
              </div>
            </div>
            </td>
          </tr>
        </table>
        </div>
        <p>*Note: move block links to order the position.</p>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table border-less">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_layout_agent_office_ealerts_path(@agent, @office) %>'">« Previous</button>
            <button name="update" type="submit" value="Update" style="float:right;">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>
<style type="text/css">
  tr:hover { background-color: #E1EBF5; }
  .border-less{border:none;}
  .blue-bgcolor{background-color:#E1EBF5;}
  .wd-150{width:150px;}
  .wrp-order{float:right;font-size:9pt;}

  .campaign-link-title{
    float:left;
    width:75px;
    margin-right:10px;
    font-weight:bold;
  }
  .campaign-link-link{
    float:left;
    width:200px;
    margin-right:10px;
  }

  .marg{margin-bottom:5px;}
  table a:link, table a:visited {color:#0E7FC7;}
  .bordered-cont{border:1px solid #999999;padding:10px;margin-bottom:10px;}
</style>
<%= javascript_include_tag "tiny_mce/tiny_mce.js" %>
<script type="text/javascript">
   tinyMCE.init({
    mode : "textareas",
    theme : "advanced",
    theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,forecolor,backcolor,|,fontsizeselect",
    theme_advanced_buttons2 : "",
    theme_advanced_buttons3 : "",
    theme_advanced_buttons4 : "",
    editor_selector : "mceEditor",
    editor_deselector : "mceNoEditor, mNc"
	 });

    function add_info_link(){
      $(".campaingn_info_link").append('<div class="campaingn_link_wrapper"><div class="campaign-link-title">Title Link:&nbsp;</div><div class="campaign-link-link"><input type="text" name="info_link[][title]" class="single" style="width:200px;" value="" /></div><div class="campaign-link-title">&nbsp;Link:&nbsp;</div><div class="campaign-link-link"><input type="text" name="info_link[][url]" class="single" style="width:200px;" value="" /></div></div>');
    }

    function add_web_link(){
      $(".campaingn_web_link").append('<div class="campaingn_link_wrapper"><div class="campaign-link-title">Title Link:&nbsp;</div><div class="campaign-link-link"><input type="text" name="web_link[][title]" class="single" style="width:200px;" value="" /></div><div class="campaign-link-title">&nbsp;Link:&nbsp;</div><div class="campaign-link-link"><input type="text" name="web_link[][url]" class="single" style="width:200px;" value="" /></div></div>');
    }

    function add_general_link(){
      $(".campaingn_general_link").append('<div class="campaingn_link_wrapper marg"><div class="campaign-link-title">Headline:&nbsp;</div><div class="campaign-link-link"><input type="text" name="general_link[][title]" class="single" style="width:200px;" value="" /></div><div class="campaign-link-title">&nbsp;Link:&nbsp;</div><div class="campaign-link-link"><input type="text" name="general_link[][url]" class="single" style="width:200px;" value="" /></div><div style="clear:both;"></div></div><div class="campaingn_link_wrapper marg"><div class="campaign-link-title">Description:&nbsp;</div><div class="campaign-link-link"><textarea name="general_link[][desc]" style="width:495px;"></textarea></div><div style="clear:both;"></div></div>');
    }

</script>
<script type="text/javascript">
$(function() {
  init_sort();
  $("#linkcont").sortable({
    opacity: 0.6,
    cursor: 'move',update: function() {
      var order = $(this).sortable('serialize',{key:'key'})
      var neworder = order.replace(/key=/g,"");
      $('#link_order').val(neworder.replace(/&/g,"#"));
     }
    });

  $("#listcont").sortable({
    opacity: 0.6,
    cursor: 'move',update: function() {
      var order = $(this).sortable('serialize',{key:'key'})
      var neworder = order.replace(/key=/g,"");
      $('#list_order').val(neworder.replace(/&/g,"#"));
     }
    });
});

function init_sort(){
  if($('#link_order').val() != ''){
   var arr = $('#link_order').val().split("#");
   for(var i=0;i<4;i++){
     if(i==0){
       $('#linkcont_'+arr[0]).insertAfter('#setter');
     }else{
       $('#linkcont_'+arr[i]).insertAfter('#linkcont_'+arr[i-1]);
     }
   }
  }
  if($('#list_order').val() != ''){
   var arr = $('#list_order').val().split("#");
   for(var i=0;i<6;i++){
     if(i==0){
       $('#listcont_'+arr[0]).insertAfter('#setterlist');
     }else{
       $('#listcont_'+arr[i]).insertAfter('#listcont_'+arr[i-1]);
     }
   }
  }
}
</script>