<div class="title_block block">
  <h2 class="page_title">Choose Layout</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= choose_layout_agent_office_ealerts_path(@agent, @office) %>" method="post" name="frm1">
<div id="clientdiv" class="block accounts full">
  <div style="width:80%">
      <div class="brochure_layout_wraper h230">
        <input type="radio" name="layout" value="theme1" style="vertical-align:top;" checked/>
        <a class="thumbnail" href="/images/theme/ealert_preview.png" >
          <img src='/images/theme/ealert_thumb.png' style="border:1px solid black;" />
          <div class="magnifier pos2">&nbsp;</div>
        </a>
      </div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8"><td class="value" colspan="5">
          <button name="choose_layout" type="submit" value="Update" style="float:right;">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>
<script>
  $(function() {
	$('.brochure_layout_wraper a').lightBox({fixedNavigation:true});
        $('.thumbnail').mouseover(function(){
          $(this).children('.magnifier').css('display','block')
        })
        $('.thumbnail').mouseout(function(){
          $(this).children('.magnifier').css('display','none')
        })
  });
</script>