<div class="title_block block">
  <h2 class="page_title">Select Recipients</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= select_recipient_agent_office_ealerts_path(@agent, @office) %>" method="post" name="frm1">
<input type="hidden" name="group_ids" id="group_ids" value="<%= @value_group %>"/>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Option 1 Mailing Group</h6>
        <table style="border:none;">
          <tr style="background-color:#E1EBF5"><td style="width:100px;"><b>Select Group:</b></td>
            <td>
              <select name="selection_group" id="selection_group" onchange="add_options('group','group');">
                <option value="">Please Select</option>
                <% @group_contacts.each do |group| %>
                 <option value="<%= group.id %>" <%= (@group_id == group.id.to_s) ? "selected" : "" %> ><%= group.name %></option>
                 <% end %>
              </select>
            </td>
          </tr>
          <tr style="background-color:#E1EBF5">
            <td colspan="2"><div id="groups"><%= @value_groups %></div></td>
          </tr>
          <tr style="background-color:#E1EBF5">
            <td colspan="2"><input type="button" name="search" value="Search Group" onclick="adv_search();"/>
            <br/><br/><input type="checkbox" name="group_contact_checkbox_all" onchange="toggleChecked('group_contact_checkbox', this.checked)"/> Select All
            </td>
          </tr>
          <tr style="background-color:#FFFFFF"><td colspan="2">
          <div style="padding:10px;border:1px solid grey;">
            <div id="adv_search_container"><center><b>Current Contacts</b></center></div>
            <div style="clear:both;">&nbsp;</div>
          </div>
          </td></tr>
        </table>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div style="text-align:center;margin-bottom:20px;">or</div>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Option 2 Contacts Whos Alert Criteria Matches Below</h6>
        <p><input type="checkbox" name="recipient_data[send_match_criteria]" id="send_match_criteria" value="1" <%= (@recipient_data['send_match_criteria'] == "1")? "checked" : "" %>/>&nbsp;Only send listings to Contacts which match their criteria</p>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div style="text-align:center;margin-bottom:20px;">or</div>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Option 3 Search Contacts</h6>
        <table style="border:none;">
          <tr style="background-color:#E1EBF5"><td style="width:100px;"><b>Contact Name:</b></td>
            <td>
              <input type="text" style="width: 255px;" size="30" name="recipient_data[search_contact_name]" id="search_contact_name" value="<%= @recipient_data['search_contact_name'] %>" class="single"/>
            </td>
          </tr>
          <tr style="background-color:#E1EBF5">
            <td colspan="2"><input type="button" name="search" value="Search Contacts" onclick="adv_search_contact_name();"/>
            <br/><br/><input type="checkbox" name="group_contact_checkbox_all" onchange="toggleChecked('contact_name_checkbox', this.checked)"/> Select All
            </td>
          </tr>
          <tr style="background-color:#FFFFFF"><td colspan="2">
          <div style="padding:10px;border:1px solid grey;">
            <div id="search_contact_name_container"><center><b>Current Contacts</b></center></div>
            <div style="clear:both;">&nbsp;</div>
          </div>
          </td></tr>
        </table>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_layout_agent_office_ealerts_path(@agent, @office) %>'">« Previous</button>
            <button name="update" type="submit" value="Update" style="float:right;">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>

<script type="text/javascript">
   $(document).ready(function(){
     $("#prop_loading").hide();
     var ids = "<%= @contact_checkbox_ids %>";
     var name_ids = "<%= @contact_name_checkbox_ids %>";
     var alert_ids = "<%= @contact_alert_checkbox_ids %>";
     var listing_type = "<%= @recipient_data['selection_listing_type'] %>";
     if(listing_type !=''){update_prop();}
     if(ids !=''){adv_search();}
     if(name_ids !=''){adv_search_contact_name();}
     if(alert_ids !=''){adv_search_alert();}
   });

   function add_options(type, opt_name){
      var a_all_id = $("#"+type+"_ids").val();
      var a_arry = a_all_id.split('#');
      var a_add =0;
      if($("#selection_"+type).val()!=''){
        for(var x=0; x < a_arry.length; x++){
          if((a_arry[x]!='')&&(a_arry[x]==$("#selection_"+type).val())){ a_add = 1; }
        }
        if(a_add != 1){
          var new_datas = $("#"+type+"_ids").val() + '#' + $("#selection_"+type).val();
          $("#"+type+"_ids").attr('value', new_datas);
          $("#"+type+"s").append('<span id="'+opt_name+$("#selection_"+type).val()+'" style="margin-right:20px;">'+$("#selection_"+type+" option:selected").text()+'\
           <a href="javascript:remove_options(\''+type+'\',\''+$("#selection_"+type).val()+'\',\''+opt_name+'\')">x</a></span> ');
        }
      }
    }

   function remove_options(type, id, opt_name){
      var all_id = $("#"+type+"_ids").val();
      var arry = all_id.split('#');
      $("#"+type+"_ids").attr('value', "");
      for(var x=0; x < arry.length; x++){
        if((arry[x]!='')&&(arry[x]!=id)){
         var new_datas = $("#"+type+"_ids").val() + '#' + arry[x];
         $("#"+type+"_ids").attr('value', new_datas);
        }
      }
      if(opt_name != ''){
        $("#"+opt_name+id).remove();
      }else{
        $("span").remove(":contains('"+id+"')");
      }
    }

   function adv_search(){
      $.ajax({
        type: "POST",
        url: "<%= search_contact_agent_office_ebrochures_path(@agent, @office) %>",
        data:"selection_group_id="+$("#group_ids").val(),
        dataType:"JSON",
        beforeSend:function(){
          $("#adv_search_container").html('<center><img src="/images/ajax-loader.gif" id="search-loader-note"></center>');
        },
        success: function(jsonResponse){
          $("#adv_search_container").html("");
          var ids = "<%= @contact_checkbox_ids %>";
          var arr = ids.split("#");
          if (jsonResponse != ''){
            var jsonObject = eval('(' + jsonResponse + ')');
            $.each(jsonObject.results, function(index,array){
              if(include(arr, parseInt(array["id"]))){
                $("#adv_search_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="contact_checkbox[]" value="'+array["id"]+'" class="group_contact_checkbox" checked/> &nbsp; '+array["name"]+'</div>');
              }else{
                $("#adv_search_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="contact_checkbox[]" value="'+array["id"]+'" class="group_contact_checkbox"/> &nbsp; '+array["name"]+'</div>');
              }
            });
          }else{
            $("#adv_search_container").append("<center>No Matching Results</center>");
          };
        },
        complete:function(){
        }
      });
      return false;
    };

   function adv_search_contact_name(){
      $.ajax({
        type: "POST",
        url: "<%= search_contact_agent_office_ebrochures_path(@agent, @office) %>",
        data:"search_contact_name=1&selection_contact_name="+$("#search_contact_name").val(),
        dataType:"JSON",
        beforeSend:function(){
          $("#search_contact_name_container").html('<center><img src="/images/ajax-loader.gif" id="loader_contact_name"></center>');
        },
        success: function(jsonResponse){
          $("#search_contact_name_container").html("");
          var ids = "<%= @contact_name_checkbox_ids %>";
          var arr = ids.split("#");
          if (jsonResponse != ''){
            var jsonObject = eval('(' + jsonResponse + ')');
            $.each(jsonObject.results, function(index,array){
              if(include(arr, parseInt(array["id"]))){
                $("#search_contact_name_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="contact_name_checkbox[]" value="'+array["id"]+'" class="contact_name_checkbox" checked/> &nbsp; '+array["name"]+'</div>');
              }else{
                $("#search_contact_name_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="contact_name_checkbox[]" value="'+array["id"]+'" class="contact_name_checkbox"/> &nbsp; '+array["name"]+'</div>');
              }
            });
          }else{
            $("#search_contact_name_container").append("<center>No Matching Results</center>");
          };
        },
        complete:function(){
        }
      });
      return false;
    };

    function adv_search_alert(){
      var listing_type = "<%= @recipient_data['selection_listing_type'] %>";
      if(listing_type == ""){listing_type = $("#selection_listing_type option:selected").val();}
      $.ajax({
        type: "POST",
        url: "<%= search_contact_agent_office_ebrochures_path(@agent, @office) %>",
        data:"search_alert=1&selection_alert_type="+$("#selection_alert_type option:selected").val()+"&selection_listing_type="+listing_type+"&selection_property_type="+$("#selection_property_type option:selected").val()+"&selection_min_bedroom="+$("#selection_min_bedroom option:selected").val()+"&selection_min_bathroom="+$("#selection_min_bathroom option:selected").val()+"&selection_min_carspace="+$("#selection_min_carspace option:selected").val()+"&selection_min_price="+$("#min_price").val()+"&selection_max_price="+$("#max_price").val(),
        dataType:"JSON",
        beforeSend:function(){
          $("#search_alert_container").html('<center><img src="/images/ajax-loader.gif" id="loader_contact_name"></center>');
        },
        success: function(jsonResponse){
          $("#search_alert_container").html("");
          var ids = "<%= @contact_alert_checkbox_ids %>";
          var arr = ids.split("#");
          if (jsonResponse != ''){
            var jsonObject = eval('(' + jsonResponse + ')');
            $.each(jsonObject.results, function(index,array){
              if(include(arr, parseInt(array["id"]))){
                $("#search_alert_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="contact_alert_checkbox[]" value="'+array["id"]+'" checked/> &nbsp; '+array["name"]+'</div>');
              }else{
                $("#search_alert_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="contact_alert_checkbox[]" value="'+array["id"]+'"/> &nbsp; '+array["name"]+'</div>');
              }
            });
          }else{
            $("#search_alert_container").append("<center>No Matching Results</center>");
          };
        },
        complete:function(){
        }
      });
      return false;
    };

   function update_prop(){
    if ($("#selection_listing_type option:selected").val() != ""){
      var base_ptype = $("#wrap_prop");
      var property_type = "<%= @recipient_data['selection_property_type'] %>";
      var controller = "<%= populate_prop_agent_office_ebrochures_path(@agent, @office) %>";
      $.ajax({
        type: "GET",
        url: escape(controller),
        data:"ltype="+$("#selection_listing_type option:selected").val(),
        dataType:"JSON",
        beforeSend:function(){
          $("#selection_property_type").attr("disabled","disabled");
          $("#prop_loading").show();
        },
        success: function(jsonResponse){
          var eval_json = eval(jsonResponse);
          var option = "";
          if(eval_json == ""){
            option = "<option value =''>Please select</option>";
          }else{
            option = "<option value =''>Please select</option>";
            for(var i=0;i < eval_json.length;i++){
              var to_string = new String("'"+eval_json[i][1]+"'");
              if(eval_json[i][1] == property_type){
                option += '<option value ='+to_string+' selected>'+eval_json[i][0]+'</option>';
              }else{
                option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
              }
            };
          };
          var html = "<select id='selection_property_type' name='recipient_data[selection_property_type]' style='width:100%;'>"+option+"</select>";
          base_ptype.html($(html));
        },
        complete:function(){
          $("#contact_alert_property_type").removeAttr("disabled");
          $("#prop_loading").hide();
        }
      });
    }
    }
    function include(arr, obj) {
        for(var i=0; i<arr.length; i++) {
            if(arr[i] == obj) return true;
        }
    }

    function toggleChecked(class_name, status) {
      $("."+class_name).each( function(){ $(this).attr("checked",status); });
    }
</script>