<div class="title_block block">
  <h2 class="page_title">View Email</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="" method="post" name="frm1">
<div id="clientdiv" class="block accounts full">
  <%= render :partial => "theme1" %>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8"><td class="value" colspan="5">
          <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= select_recipient_agent_office_ealerts_path(@agent, @office) %>'">« Previous</button>
          <form action="" method="post" name="frm1">
            <input type="hidden" name="send_ealert" value="true"/>
            <button name="choose_submit" type="submit" value="Update" style="float:right;background-color: #F85911;color:#FFFFFF;">Activate</button>
            <%= link_to 'Send Sample', sample_agent_office_ealert_path(@agent,@office,@ealert)+"?KeepThis=true&TB_iframe=true&height=350&width=700&modal=true",:class =>"thickbox",:id=>"send_sample", :style => "border: 1px solid #0E7FC7;-moz-border-radius: 4px 4px 4px 4px;float:right;color:blue;margin-right:10px;background-color: #CDE9F8;color: #28323C;cursor: pointer;font-weight: bold;overflow: visible;padding: 3px 4px;text-decoration: none;width: auto;"%>
          </form>
        </td></tr>
      </table>
  </div>
</div>
</form>