<h3 ALIGN=CENTER><%= @parent_listing.address %></h3>
<left>Building <%= @building_name.detail.development_name.blank? ? "" : @building_name.detail.development_name %> - <%=  @residential_sales.count %> Apts (<%= @sold_properties.count %> sold)</left>
<table border="1">
  <tr>
    <th bgcolor="#00BFFF">Lot No</th>
    <th bgcolor="#00BFFF">Purchaser</th>
    <th bgcolor="#00BFFF">Purchaser's Solicitors</th>
    <th bgcolor="#00BFFF">Sale Price</th>
    <th bgcolor="#00BFFF">Deposit Paid</th>
    <th bgcolor="#00BFFF">Finance</th>
    <th bgcolor="#00BFFF">FIRB</th>
    <th bgcolor="#00BFFF">Flooring Option</th>
    <th bgcolor="#00BFFF">Date of Sale</th>
    <th bgcolor="#00BFFF">Settle Date</th>
    <th bgcolor="#00BFFF">Trans Rec.</th>
    <th bgcolor="#00BFFF">Dis Let</th>
    <th bgcolor="#00BFFF">Agent</th>
    <th bgcolor="#00BFFF">Sett</th>
  </tr>

  <% @residential_sales.each do |res_sale| %>
    <tr>
      <td><strong>Unit <%=res_sale.unit_number%></strong></td>
      <td><%= (res_sale.purchaser.blank? ? "" : (res_sale.purchaser.agent_contact.blank? ? "" : (res_sale.purchaser.agent_contact.display_agent.blank? ? res_sale.purchaser.agent_contact.contact_data_alternative : res_sale.purchaser.agent_contact.display_agent))) %></td>
      <td><%= (res_sale.purchaser.blank? ? "" : (res_sale.purchaser.agent_contact.blank? ? "" : (res_sale.purchaser.agent_contact.display_solicitor.blank? ? res_sale.purchaser.agent_contact.solicitor_data_alternative : res_sale.purchaser.agent_contact.display_solicitor))) %></td>
      <td><%= number_to_currency(res_sale.price) rescue nil %></td>
      <td><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field7.blank? ? "" : res_sale.extra.field7)) %></td>
      <td><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field8.blank? ? "" : res_sale.extra.field8)) %></td>
      <td><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field9.blank? ? "" : res_sale.extra.field9)) %></td>
      <td><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field10.blank? ? "" : res_sale.extra.field10)) %></td>
      <td><%= (res_sale.sold_on.blank? ? "" : res_sale.sold_on.strftime("%d.%m.%Y")) %></td>
      <td><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field11.blank? ? "" : res_sale.extra.field11)) %></td>
      <td><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field12.blank? ? "" : res_sale.extra.field12)) %></td>
      <td><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field13.blank? ? "" : res_sale.extra.field13)) %></td>
      <td><%= (res_sale.on_holder.blank? ? "" : (res_sale.on_holder.name.blank? ? "" : res_sale.on_holder.name)) %></td>
      <td><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field14.blank? ? "" : res_sale.extra.field14)) %></td>
    </tr>
  <%end%>
</table>