<h3 ALIGN=CENTER><%= @parent_listing.address %></h3>
<left>Building <%= @building_name.detail.development_name.blank? ? "" : @building_name.detail.development_name %> - <%=  @residential_sales.count %> Apts (<%= @sold_properties.count %> sold)</left>
<table border="1">
  <tr>
    <th>Unit</th>
    <th>Internal Area m2</th>
    <th>Balcony Area m2</th>
    <th>Total Area</th>
    <th>Beds</th>
    <th>Bath</th>
    <th>Car Park</th>
    <th>Floor Coverings</th>
    <th>Aspect</th>
    <th>Purchase Price</th>
    <th>Estimated Stamp Duty Payable</th>
    <th>Estimated Stamp Duty saving</th>
    <th>Price m2</th>
    <th>Owners Corporation Cost (Pa)</th>
    <th>Notes</th>
  </tr>

  <% @residential_sales.each do |res_sale| %>
    <tr>
      <td><strong>Unit <%=res_sale.unit_number%></strong></td>
      <td><%= (res_sale.detail.blank? ? 0 : (res_sale.detail.internal_area.blank? ? 0 : res_sale.detail.internal_area.to_f)) %></td>
      <td><%= (res_sale.detail.blank? ? 0 : (res_sale.detail.balcony_area.blank? ? 0 : res_sale.detail.balcony_area.to_f)) %></td>
      <td><%= (res_sale.detail.blank? ? 0 : (res_sale.detail.floor_area.blank? ? 0 : res_sale.detail.floor_area.to_f)) + (res_sale.detail.blank? ? 0 : (res_sale.detail.balcony_area.blank? ? 0 : res_sale.detail.balcony_area.to_f)) %></td>
      <td><%= (res_sale.detail.blank? ? 0 : (res_sale.detail.bedrooms.blank? ? 0 : res_sale.detail.bedrooms)) %></td>
      <td><%= (res_sale.detail.blank? ? 0 : (res_sale.detail.bathrooms.blank? ? 0 : res_sale.detail.bathrooms)) %></td>
      <td><%= ((res_sale.detail.blank? ? 0 : (res_sale.detail.carport_spaces.blank? ? 0 : res_sale.detail.carport_spaces.to_i)) + (res_sale.detail.blank? ? 0 : (res_sale.detail.garage_spaces.blank? ? 0 : res_sale.detail.garage_spaces.to_i)) + (res_sale.detail.blank? ? 0 : (res_sale.detail.off_street_spaces.blank? ? 0 : res_sale.detail.off_street_spaces.to_i))) %></td>
      <td><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field1.blank? ? "" : res_sale.extra.field1)) %></td>
      <td><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field2.blank? ? "" : res_sale.extra.field2)) %></td>
      <td><%= (res_sale.price.blank? ? number_to_currency(0) : number_to_currency(res_sale.price, :precision => 0)) %></td>
      <td><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field3.blank? ? "" : res_sale.extra.field3)) %></td>
      <td><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field4.blank? ? "" : number_to_currency(res_sale.extra.field4.to_i, :precision => 0))) %></td>
      <td><%= ((res_sale.price.blank? ? "" : number_to_currency((res_sale.price)/(res_sale.detail.blank? ? 1 : (res_sale.detail.floor_area.blank? ? 1 : res_sale.detail.floor_area.to_i)), :precision => 0))) %></td>
      <td><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field5.blank? ? "" : res_sale.extra.field5)) %></td>
      <td><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field6.blank? ? "" : res_sale.extra.field6)) %></td>
    </tr>
  <% end %>
</table>