<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      table
      {
        border-collapse:collapse;
      }
      table, td, th
      {
        border:1px solid black;
      }
      .center{
        text-align: center
      }
    </style>
  </head>
  <body ALIGN=CENTER style="font-size: 13px;">
    <h3><%= @parent_listing.address %></h3>
  <left>Building <%= @building_name.detail.development_name.blank? ? "" : @building_name.detail.development_name %> - <%=  @residential_sales.count %> Apts (<%= @sold_properties.count %> sold)</left>
  <table>
    <tr>
      <th>Lot No</th>
      <th>Purchaser</th>
      <th>Purchaser's Solicitors</th>
      <th>Sale Price</th>
      <th>Deposit Paid</th>
      <th>Finance</th>
      <th>FIRB</th>
      <th>Flooring Option</th>
      <th>Date of Sale</th>
      <th>Settle Date</th>
      <th>Trans Rec.</th>
      <th>Dis Let</th>
      <th>Agent</th>
      <th>Sett</th>
    </tr>
    <% @residential_sales.each do |res_sale| %>
      <tr>
        <td class="center"><strong>Unit <%=res_sale.unit_number%></strong></td>
        <td class="center"><%= (res_sale.purchaser.blank? ? "" : (res_sale.purchaser.agent_contact.blank? ? "" : (res_sale.purchaser.agent_contact.display_agent.blank? ? res_sale.purchaser.agent_contact.contact_data_alternative : res_sale.purchaser.agent_contact.display_agent))) %></td>
        <td class="center"><%= (res_sale.purchaser.blank? ? "" : (res_sale.purchaser.agent_contact.blank? ? "" : (res_sale.purchaser.agent_contact.display_solicitor.blank? ? res_sale.purchaser.agent_contact.solicitor_data_alternative : res_sale.purchaser.agent_contact.display_solicitor))) %></td>
        <td class="center"><%= number_to_currency(res_sale.price) rescue nil %></td>
        <td class="center"><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field7.blank? ? "" : res_sale.extra.field7)) %></td>
        <td class="center"><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field8.blank? ? "" : res_sale.extra.field8)) %></td>
        <td class="center"><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field9.blank? ? "" : res_sale.extra.field9)) %></td>
        <td class="center"><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field10.blank? ? "" : res_sale.extra.field10)) %></td>
        <td class="center"><%= (res_sale.sold_on.blank? ? "" : res_sale.sold_on.strftime("%d.%m.%Y")) %></td>
        <td class="center"><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field11.blank? ? "" : res_sale.extra.field11)) %></td>
        <td class="center"><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field12.blank? ? "" : res_sale.extra.field12)) %></td>
        <td class="center"><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field13.blank? ? "" : res_sale.extra.field13)) %></td>
        <td class="center"><%= (res_sale.on_holder.blank? ? "" : (res_sale.on_holder.name.blank? ? "" : res_sale.on_holder.name)) %></td>
        <td class="center"><%= (res_sale.extra.blank? ? "" : (res_sale.extra.field14.blank? ? "" : res_sale.extra.field14)) %></td>
      </tr>
    <%end%>
  </table>
</body>
</html>