<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div id="contactsdiv" class="block form group" style="background-color: #E1EBF5;width: 96.5%;border-radius:8px;-webkit-border-radius:8px">
  <div class="set">
    <h6>Export Building Data</h6>
    <div class="action_button">
      <%= link_to "CSV", "/agents/#{params[:agent_id]}/offices/#{params[:office_id]}/properties/#{params[:property_id]}/residential_building_reports/export_residential_sale_csv2?office_id=#{params[:office_id]}&property_id=#{params[:property_id]}", :class => "csv-button" %>
      <%= link_to "Excel", "/agents/#{params[:agent_id]}/offices/#{params[:office_id]}/properties/#{params[:property_id]}/residential_building_reports/export_residential_sale_xls2.xls?office_id=#{params[:office_id]}&property_id=#{params[:property_id]}", :class => "csv-button", :method=>:get, :style => "padding-left:10px" %>
      <%= link_to "PDF", print_building_data_pdf_agent_office_property_residential_building_reports_path(@agent,@office,params[:property_id]), :class => "csv-button" %>
    </div>
  </div>
</div>
<br/>
<div id="contactsdiv" class="block form group" style="background-color: #E1EBF5;width: 96.5%;border-radius:8px;-webkit-border-radius:8px">
  <div class="set">
    <h6>Export Price List</h6>
    <div class="action_button">
      <%= link_to "CSV", "/agents/#{params[:agent_id]}/offices/#{params[:office_id]}/properties/#{params[:property_id]}/residential_building_reports/export_residential_sale_csv?office_id=#{params[:office_id]}&property_id=#{params[:property_id]}", :class => "csv-button" %>
      <%= link_to "Excel", "/agents/#{params[:agent_id]}/offices/#{params[:office_id]}/properties/#{params[:property_id]}/residential_building_reports/export_residential_sale_xls.xls?office_id=#{params[:office_id]}&property_id=#{params[:property_id]}", :class => "csv-button", :method=>:get, :style => "padding-left:10px" %>
      <%= link_to "PDF", print_price_list_pdf_agent_office_property_residential_building_reports_path(@agent,@office,params[:property_id]), :class => "csv-button" %>
    </div>
  </div>
</div>