<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">List Categories </h6>
    <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th class="first_cell" style="background-color:#C8D2DC;">Date</th>
          <th style="background-color:#C8D2DC;">Name</th>
          <th style="background-color:#C8D2DC;">Creator</th>
          <th style="background-color:#C8D2DC;">Action</th>
        </tr>
        <% @categories.each do |category| -%>
        <tr>
          <td class="first_cell"><%= (category.created_at ? category.created_at.strftime("%d-%m-%Y") : "-") %></td>
          <td class="value"><%= (category.name ? category.name : "-") %></td>
          <td class="value"><%= (category.creator_id.nil? || category.creator.blank? ? "System" : category.creator.full_name) %></td>
          <td class="value">
            <% unless category.creator_id.nil? %>
            <%= link_to "Edit", edit_agent_office_category_contact_path(@agent,@office,  category), :method => :get %> |
            <%= link_to "Delete", agent_office_category_contact_path(@agent,@office, category), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>  </td>
            <% end %>
        </tr>
        <% end -%>
   </table>
    <%= will_paginate @categories %>
    <div class="action_button" style="border:none;">

      <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.update_categories(); return false", :style =>"float:right;", :class => "submit_btn" %>
     </div>
  </div>
</div>
<!--[if IE 8]>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".submit_btn").corner();
    });
  </script>
<![endif]-->