      <div id="propertydatadiv" class="group" style="min-height:100px;height:100px;">
        <div class="set">
          <h6 class="full">Add New Category </h6>
          <fieldset class="pf_fs5">
            <ul class="pf-ul">
              <li class="li--23"><label><span>Category Name:</span></label>
                <%= form.text_field :name, :class => "single" %>
              </li>
              <li class="li--23"><label><span>&nbsp;</span></label>
                <button name="btn_submit" type="submit" value="Submit" class="submit_btn">
                  <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Submit
                </button>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>