<script type="text/javascript">
  function update_notes(){
    var base_ptype = $("#wrap_note");
    var controller = "<%= populate_notes_agent_office_agent_companies_path(@agent,@office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data:"",
      dataType:"JSON",
      beforeSend:function(){
        $("#company_note_note_type_id").attr("disabled","disabled");
        $("#note_loading").show();
        $("#add_new_note").hide();
      },
      success: function(jsonResponse){
        var eval_json = eval(jsonResponse);
        var option = "";
        if(eval_json == ""){
          option = "<option value =''>Please select</option>";
        }else{
          option = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json.length;i++){
            var to_string = new String("'"+eval_json[i][1]+"'");
            if(eval_json[i][1] == '<%= @company_note.note_type_id %>'){
              option += '<option value ='+to_string+' selected>'+eval_json[i][0]+'</option>';
            }else{
              option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
            }
          };
        };
        var html = "<select id='company_note_note_type_id' name='company_note[note_type_id]' class='bed1'>"+option+"</select>";
        base_ptype.empty().append($(html));
      },
      complete:function(){
          $("#company_note_note_type_id").removeAttr("disabled");
          $("#note_loading").hide();
          $("#add_new_note").show();
      }
    });
  }

  function disable_or_enable(){
     $("#company_note_agent_user_id").attr("disabled","disabled");
     $("#company_note_note_type_id").attr("disabled","disabled");
     $("#company_note_address").attr("disabled","disabled");
     $("#company_note_note_date").attr("disabled","disabled");
     $("#company_note_description").attr("disabled","disabled");
     $("#company_note_email_reminder").attr("disabled","disabled");
  }

  $(document).ready(function(){
      $("#add_new_note").hide();
      $(".ajax-loader").hide();
      $("#note_loading").hide();
      $(".datepicker").datepicker({
      dateFormat: 'mm/dd/yy'
      });

      <% unless current_user.full_access? || (current_user.client_only_access? && current_user.include_accessible?(@agent_company.id))  || (current_user.limited_client_access? && current_user.include_accessible?(@agent_company.id)) %>
        disable_or_enable();
      <% else %>
        update_notes();
      <% end %>
    });
     jQuery(function($){
      $('#add_new').click(function(){
        return false
      })
  })
</script>
<div  id="companysdiv" class="block form group" style="background-color:#E1EBF5;">
  <div class="set third" style="width:40%;">
    <h6>Add Note</h6>
    <%= form.hidden_field :agent_company_id, :value => @agent_company.id %>
    <%= form.hidden_field :property_id %>
    <fieldset class="pf_fs2">
      <table class="pf-table">
        <tr class="li--8">
          <th class="first_cell field"><label><span>Added By:</span></label></th>
          <td class="value">
             <% if params[:action] == "edit" %>
               <%= form.select :agent_user_id, @team_members %>
             <%  else %>
               <%= form.select :agent_user_id, @team_members, :selected => current_user.id %>
             <% end %>
          </td>
        </tr>
        <tr class="li--23">
          <th class="first_cell field required"><label><span>Note Type:</span></label></th>
          <td>
            <div id="wrap_note" style="float:left;">
               <%= form.select :note_type_id, @notes_type,{},{:class =>"bed1"} %>
            </div>
            <div id="note_loading" ><%= image_tag "/images/ajax-loader.gif" %></div>
           &nbsp;<%= link_to 'Add', agent_office_note_types_path(@agent,@office)+"?KeepThis=true&TB_iframe=true&height=550&width=700&modal=true",:class =>"thickbox",:id=>"add_new_note", :style => "color:blue;"%>
          </td>
        </tr>
        <tr class="li--9">
          <th class="first_cell field"><label><span>Property Address:</span></label></th>
          <td><%= form.text_field :address, :class => "single", :style=> "width: 255px;" %>
            <img src="/images/search-loader.gif" id="search-loader-note"></img>
          </td>
        </tr>
        <tr class="li--9">
          <th class="first_cell field"><label><span>Note Date:</span></label></th>
          <td><%= form.text_field :note_date ,:class =>'single datepicker', :style=> "width: 255px;"%></td>
        </tr>
      </table>
    </fieldset>
  </div>
  <div class="set third" style="width:30%;">
    <h6 class="full">&nbsp;</h6>
    <fieldset class="pf_fs3">
      <table class="pf-table">
        <tr class="li--8">
          <th class="first_cell field">
            <%= form.text_area :description, :rows => "4", :style=> "width: 500px;" %>
          </th>
          <td class="value">&nbsp;</td>
        </tr>
        <tr class="li--8">
          <th class="first_cell field">
            <%= form.check_box :email_reminder %> Email Reminder to Team Member
          </th>
          <td class="value">&nbsp;</td>
        </tr>
      </table>
    </fieldset>
  </div>
  <div class="set third" style="width:26%;margin-top:45px;">
    <h6 class="full">&nbsp;</h6>
    <fieldset class="pf_fs3">
      <table class="pf-table">
        <tr class="li--8">
          <th class="first_cell field"></th>
          <td class="value" style="vertical-align:bottom;">
            <button name="update" type="submit" value="Update" style="float:right;">
            Submit
            </button>
          </td>
        </tr>
      </table>
    </fieldset>
  </div>
  <div class="clearer"></div>

</div><!-- end #garagingbedbathdiv GROUP -->
  <script type="text/javascript">
    function getAbsolutePosition(element){
      var r = { x : element.offsetLeft,  y : element.offsetTop};
      if( element.offsetParent ){
        var temp = getAbsolutePosition(element.offsetParent);
        r.x += temp.x;
        r.y += temp.y
      }
      return r;
    }


    $(document).ready(function(){
      var xMousePos = 0; // Horizontal position of the mouse on the screen
      var yMousePos = 0; // Vertical position of the mouse on the screen
      var xMousePosMax = 0; // Width of the page
      var yMousePosMax = 0; // Height of the page
      function captureMousePosition(e) {
        if (document.layers) {
          xMousePos = e.pageX;
          yMousePos = e.pageY;
          xMousePosMax = window.innerWidth+window.pageXOffset;
          yMousePosMax = window.innerHeight+window.pageYOffset;
        } else if (document.all) {
          xMousePos = window.event.x+document.body.scrollLeft;
          yMousePos = window.event.y+document.body.scrollTop;
          xMousePosMax = document.body.clientWidth+document.body.scrollLeft;
          yMousePosMax = document.body.clientHeight+document.body.scrollTop;
        } else if (document.getElementById) {
          xMousePos = e.pageX;
          yMousePos = e.pageY;
          xMousePosMax = window.innerWidth+window.pageXOffset;
          yMousePosMax = window.innerHeight+window.pageYOffset;
        }
      };

      function checkTheUnit(element){
        var patt1=/[px]/g;
        if(patt1.test(element)){
          element = element.split('px')[0];
        }
        return element;
      };

      $('#search-loader-note').hide();
      $('#toggler_wrapper').hide();
      $('#select_office').change(function(){
        window.open($(this).val(), '_self');
      });
      $('#toggler_off').click(function(){
        $('#toggler_wrapper').slideUp('slow');
        $('#toggler_off').attr('id','toggler');
      });
      var search_box = document.getElementById('company_note_address');
      var search_box_position = getAbsolutePosition(search_box);
      $("<div id='popup_table' style='position:absolute;text-transform:none;font-size:11px;z-index:300000'><div id='search_header' style='background-color:#0A3247;font-weight:bold;width:809px;height:15px;color:white;text-align:right;text-decoration:false;'><a id='close_button' href='#' onclick='return false;' style='margin:8px;text-decoration:false;color:white'>X</a></div><div id='search_container'><table  id='table_search_result' class='property-search' cellspacing='0' cellpadding = '0' >\n\
       <th class='first_cell'><th>ID</th><th>Address</th><th>Suburb</th><th>Type</th><th>Price</th><th>Status</th>\n\
      </table></div>").appendTo($("body"));
      $("#popup_table").css({'top' : search_box_position.y + 15,'left' : search_box_position.x,'width':"800px"})
      $("#search-loader").hide();
      $("#search_container").css({"overflow":"scroll","background-color":"#FFFFFF","position":"absolute","z-index":"9999","width":"800px","height":"100px","border":"solid black 4px","border-top":"0px"});
      $("#table_search_result th tr").css({"padding":"0px 5px","width":"800px"});
      $("#popup_table").hide();

      //event_listener_for_quick_search
      if($("#company_note_address").length > 0){
        $(document).click(function(e){
          var result_box = document.getElementById('search_container');
          var result_box_position = getAbsolutePosition(result_box);
          var result_box_width = parseInt(checkTheUnit(result_box.style.width));
          var result_box_height = parseInt(checkTheUnit(result_box.style.height));
          captureMousePosition(e);
          if(xMousePos < result_box_position.x || yMousePos < result_box_position.y || xMousePos > result_box_position.x + result_box_width || yMousePos > result_box_position.y + result_box_height){
            $("#popup_table").hide();
          };
        });
      };

      $("#popup_table").bind("mouseover",function(){
        $("#popup_table").show();
        return false;
      });

      $("#company_note_address").bind("focus",function(){
        $("#popup_table").show();
        return false;
      });

      $("#company_note_address").bind("click",function(){
        $("#popup_table").show();
        return false;
      });

      $("#close_button").bind("click",function(){
        $("#popup_table").hide();
        return false;
      });

      $("#company_note_address").bind("keyup",function(event){
        if($(this).val()!=""){
          search_key_note();
          $("#popup_table").show();
        };

      });

      $("#company_note_address").bind("keydown",function(event){
        if(event.keyCode == 13){
          search_key_note();
          return false;
        }
      });
    });

    function use_address(id, text){
      $("#company_note_property_id").attr("value", id);
      $("#company_note_address").attr("value", text);
      $("#popup_table").hide();
    }

    function search_key_note(){
      $.ajax({
        type: "POST",
        url: "<%= search_agent_office_properties_path(@agent, current_office) %>",
        data:"search_value="+$("#company_note_address").val(),
        dataType:"JSON",
        beforeSend:function(){
          $("#search-loader-note").show();
          if ($("#table_search_result").find("tr").length >0){
            $("#table_search_result").find("tr:gt(0)").remove() ;
            $("#search_container").css({"height":"100px"});
          };
          $("#draggable_tab").show();
        },
        success: function(jsonResponse){
          $("#search-loader-note").hide();
          if ($("#table_search_result").find("tr").length >0){
            $("#table_search_result").find("tr:gt(0)").remove() ;
            $("#search_container").css({"height":"100px"});
          };
          if (jsonResponse != ''){
            var jsonObject = eval('(' + jsonResponse + ')');
            $.each(jsonObject.results, function(index,array){
              $("#table_search_result").append("<tr>\n\
            <td><a href='javascript:use_address("+array["id"]+", \""+array["address"]+"\");' style='margin:0px;padding:0px 14px;color:blue;'>Use</a></td>\n\
            <td style='color:black'>"+array["id"]+"</td>\n\
            <td style='color:black'>"+array["address"]+"</td>\n\
            <td style='color:black'>"+array["suburb"]+"</td>\n\
            <td style='color:black'>"+array["type"]+"</td>\n\
            <td style='color:black'>"+array["price"]+"</td>\n\
            <td style='color:black'>"+array["status"]+"</td>\n\
            </tr>");
            });
            $("#search_container").css({"height":"400px"});
          }else{
            $("#table_search_result").append("<tr>\n\
            <td style='color:black' colspan='6'>No Matching Results</td>\n\
            </tr>");
            $("#search_container").css({"height":"100px"});
          };
        },
        complete:function(){
          $("#draggable_tab").show();
        }
      });
      return false;
    };

    function toggler_on(){
      $('#toggler_wrapper').slideDown('slow');
      $('#auto_toggle').empty().append("<a id='toggler' href='#toggler_wrapper' style='font-size:10px'>change office</a>")
      $('#toggler').attr('onclick','toggler_off()');
      return false;
    };
    function toggler_off(){
      $('#toggler_wrapper').slideUp('slow');
      $('#auto_toggle').empty().append("<a id='toggler' href='#toggler_wrapper' style='font-size:10px'>change office</a>")
      $('#toggler').attr('onclick','toggler_on()');
      return false;
    };
  </script>
