<div class="title_block block sub-opt-nav">
  <h2 class="page_title"><%= @agent_company.company unless @agent_company.blank? %></h2>
  <div><%= render :partial => 'agent_companies/company_options' %></div>
</div>
<div id="clientdiv" class="block accounts full">
<% form_for :company_note, @company_note, :url => agent_office_agent_company_company_notes_path(@agent,@office), :html => {:class => 'propertyform full'} do |f| %>
  <%= f.error_messages :class => 'errortext' %>
  <%= render :partial => 'note_form', :locals => {:form => f} %>
  <%= render :partial => 'note_list' %>
<% end %>
</div><!-- end #clientdiv -->
