<script type="text/javascript">
  function callToServer(path,width,height) {
    if($("#projectFrame").length <= 1){
      var winW = $(window).width();
      var winH = $(window).height();
      if($("#mask").length < 1){
        $("body").append($(document.createElement("div")).attr({'id':'mask'}).css({'width': winW,'height': winH,"position":"fixed","top":0,"left":0, "z-index": 8888,"background-color":"#BEC8D2"}));
      };
      if(width == "200" && height == "300"){
        $(document.body).append($('<div id="frameContainer"></div><a id="closeFrame">Close</a>'));
        $("#frameContainer").append("<div id = 'errorExplanation' class = 'errortext'><h2> This property can not be shared on Facebook because no property url exist in the property details section. Please edit the property and add a link to the property page on your website</h2></div>");
        $("#frameContainer").css('top', height/2);
      }else{
        $(document.body).append($('<div id="frameContainer"></div><div id="closePanel"><img id="closeFrame" src="/images/icons/close.png"/></div><iframe id="projectFrame"></iframe>'));
        $("#projectFrame").attr({"width":width,"height":height,"position":'fixed',"src":path}).css({"background-color":"white",'border-left':'solid #6080c0  2px','border-bottom':'solid #6080c0  2px','border-top':'solid #6080c0  0px','border-right':'solid #6080c0  2px'});
        $("#frameContainer").css({'left':((winW/2)-($("#projectFrame").width()/2)),'height':'0px','width':"0px",'top':45,'z-index':'30000','position':'fixed','text-align':'left'});
      };
      $('#closePanel').hide();
      $('#closePanel').css({"z-index":"9999","text-align":"right",'border-left':'solid #6080c0  5px','border-bottom':'solid #6080c0  5px','border-top':'solid #6080c0  5px','border-right':'solid #6080c0  5px','background-color':'#6080c0','width':((winW/2)-($("#projectFrame").width()/2)+20)+'px','height':'15px'});
      $('#closeFrame').css({'cursor':'pointer',"z-index":"9999"});
      $('#mask').slideDown(1200).fadeTo("slow",0.6);
      $("#frameContainer").append($("#closePanel")).append($("#projectFrame"));
      $("#frameContainer,#projectFrame").animate({height:400, width:500},
      {duration: 'slow',easing: 'easeOutBounce'},
      function(){
        $("#frameContainer").css({"height" : "400","width":"500"});
      });
      $('#closePanel').slideUp(1000).fadeIn(1000).show();
      $('#closeFrame').click(function () {
        $('#mask').slideUp(1200).fadeTo("slow",0);
        $('#mask').remove();
        $("#frameContainer").remove();
        $("#closePanel").remove();
        $("#closeFrame").remove();
        $("#projectFrame").remove();
        tb_remove_ajax();
        return false;
      });

      $('#mask').click(function () {
        $('#mask').slideUp(1200).fadeTo("slow",0);
        $('#mask').remove();
        $("#frameContainer").remove();
        $("#closeFrame").remove();
        $("#closePanel").remove();
        $("#projectFrame").remove();
        tb_remove_ajax();
      });

      return false;

    }
  };

  function callPreview(path) {
    window.open(path,'sharer','menubar=1,toolbar=0,scrollbars=1,status=0,width=800,height=800');
  };

  function tb_remove_ajax_and_change_location(referer) {
    $("#mask").hide();
    $("#frameContainer").remove();
    $("#closeFrame").remove();
    $("#RSIFrame").remove();
    $("#booting").hide();
    window.location.replace(referer);
  }

</script>
<script type="text/javascript">
  function fbs_click(params) {
    t=document.title;
    //<#%# if (@office.url.blank? && @property.detail && pline.detail.property_url.blank?) %>
    //callToServer("<#%#= share_on_facebook_agent_office_property_path(@agent, @office, pline, :height => 200, :width => 300) %>",200,300);
    //<#%#else%>
    window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(params)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=500,height=450');
    //<#%#end%>
    return false;
  }
</script>
<script type="text/javascript">
  // Path to the blank image must point to a valid location on your server
  function tb_remove_ajax() {
    $("#mask").hide();
    $("#frameContainer").remove();
    $("#closeFrame").remove();
    $("#RSIFrame").remove();
    Ext.getCmp("listingGrid").getStore().reload();
  }

  function filter_enquire_by_link(id, start_date, end_date){
    Ext.getCmp("listingGrid").getStore().proxy.setApi('read', '/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%=@property.id%>/property_notes/view_listing?page_name=listing_view&date=all&type=14&heard='+id+'&start_date='+start_date+'&end_date='+end_date);
    Ext.getCmp("listingGrid").getStore().reload();
  }

  function filter_viewer_by_link(id, start_date, end_date){
    Ext.getCmp("listingGrid").getStore().proxy.setApi('read', '/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%=@property.id%>/property_notes/view_listing?page_name=listing_view&date=all&type='+id+'&heard=all&start_date='+start_date+'&end_date='+end_date);
    Ext.getCmp("listingGrid").getStore().reload();
  }

  // Main application entry point
  Ext.onReady(function() {
    var page_name = "<%= params[:controller] == "property_notes" && params[:action] == "index" ? 'listing_view' : 'office_view' %>"
    var pagesize;
    var tbar;
    var urlProxy;

    if(page_name == 'listing_view'){
      var comboDS = new Ext.data.JsonStore({
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'dates'},
          {name: 'types'},
          {name: 'heards'}
        ],
        proxy: new Ext.data.HttpProxy({
          url: '/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%=@property.id%>/property_notes/populate_combobox',
          method:'GET'
        })
      });

      var dateDS = new Ext.data.JsonStore({
        root: 'dates',
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'date'},
          {name: 'dateText'}
        ]
      });

      var typeDS = new Ext.data.JsonStore({
        root: 'types',
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'type'},
          {name: 'typeText'}
        ]
      });

      var heardDS = new Ext.data.JsonStore({
        root: 'heards',
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'heard'},
          {name: 'heardText'}
        ]
      });

      comboDS.load();
      comboDS.on('load', function(){
        dateDS.loadData(comboDS.reader.jsonData);
        typeDS.loadData(comboDS.reader.jsonData);
        heardDS.loadData(comboDS.reader.jsonData);

        dateCombo.setValue('<%= session[:date].blank? ? 'all' : session[:date] %>');
        typeCombo.setValue('<%= session[:type].blank? ? 'all' : session[:type] %>');
        heardCombo.setValue('<%= session[:heard].blank? ? 'all' : session[:heard] %>');
      });

      var dateCombo = new Ext.form.ComboBox({
        store: dateDS,
        typeAhead: true,
        mode: 'local',
        id: 'dateCombo',
        triggerAction: 'all',
        sortable: false,
        selectOnFocus:true
        ,valueField:'date'
        ,displayField:'dateText'
      });

      var typeCombo = new Ext.form.ComboBox({
        store: typeDS,
        typeAhead: true,
        mode: 'local',
        id: 'typeCombo',
        triggerAction: 'all',
        sortable: false,
        selectOnFocus:true
        ,valueField:'type'
        ,displayField:'typeText'
      });

      var heardCombo = new Ext.form.ComboBox({
        store: heardDS,
        typeAhead: true,
        mode: 'local',
        id: 'heardCombo',
        triggerAction: 'all',
        sortable: false,
        selectOnFocus:true
        ,valueField:'heard'
        ,displayField:'heardText'
      });

      tbar = new Ext.Toolbar({
        hideMode:'offset',
        forcefit: true,
        items  : [dateCombo, typeCombo, heardCombo]
      });
      pagesize = 35;
      urlProxy = '/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%=@property.id%>/property_notes/view_listing?page_name='+page_name+'&date='+dateCombo.getValue()+'&type='+typeCombo.getValue()+'&heard='+heardCombo.getValue();

      dateCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      typeCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      heardCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

    }else{
      pagesize = 20;
      urlProxy =  '<%= view_listing_agent_office_property_property_notes_path(@agent,@office,@property) %>?page_name='+page_name+'&status=<%=session[:status]%>';
    };



    var ds = new Ext.data.JsonStore({
      //autoLoad: true,
      root: 'rows',
      id: 'id',
      totalProperty: 'results',
      remoteSort: true,

      fields: [
        'id', 'date', 'note_type','first_name','last_name', 'heard','note','actions'
      ],

      // load using script tags for cross domain, if the data in on the same domain as
      // this page, an HttpProxy would be better
      proxy: new Ext.data.HttpProxy({
        url: urlProxy,
        method:'GET'
      })
    });
    //  var compareData = new Array();
    ds.setDefaultSort('updated_at','DESC');


    var paging_toolbar = new Ext.PagingToolbar({
      pageSize: pagesize,
      displayInfo: true,
      emptyMsg: 'No data found',
      displayInfo: true,
      forcefit: true,
      style: 'text-align:center;',
      hideMode:'offset',
      displayMsg: 'Results : {2}',
      store: ds,
      toggleHandler: function(btn, pressed){
        var view = grid.getView();
        view.showPreview = pressed;
        view.refresh();
      }
    })
    // create the Grid
    var grid = new Ext.grid.GridPanel({
      id:'listingGrid',
      store: ds,
      tbar: tbar,
      loadMask:true,
      style: 'text-align:center;',
      layout:'fit',
      stripeRows:true,
      autoScroll:true,
      shim:true,
      width:'100%',
      viewConfig : {
        layout : function() {
          if (!this.mainBody) {
            return; // not rendered
          }
          var g = this.grid;
          var c = g.getGridEl();
          var csize = c.getSize(true);
          var vw = csize.width;
          if (!g.hideHeaders && (vw < 20 || csize.height < 20)) { // display:
            // none?
            return;
          }
          if (g.autoHeight) {
            if (this.innerHd) {
              this.innerHd.style.width = (vw) + 'px';
            }
          } else {
            this.el.setSize(csize.width, csize.height);
            var hdHeight = this.mainHd.getHeight();
            var vh = csize.height - (hdHeight);
            this.scroller.setSize(vw, vh);
            if (this.innerHd) {
              this.innerHd.style.width = (vw) + 'px';
            }
          }
          if (this.forceFit) {
            if (this.lastViewWidth != vw) {
              this.fitColumns(false, false);
              this.lastViewWidth = vw;
            }
          } else {
            this.autoExpand();
            this.syncHeaderScroll();
          }
          this.onLayout(vw, vh);
        }
      }

      ,
      columns: [
        {header: 'Date', width: 100, sortable: true, dataIndex: 'date'},
        {header: 'Note Type', width: 175, sortable: true, dataIndex: 'note_type'},
        {header: 'First Name', width: 175, sortable: true, dataIndex: 'first_name'},
        {header: 'Last Name', width: 175, sortable: true,dataIndex: 'last_name'},
        {header: 'Heard', width: 175, sortable: true,dataIndex: 'heard'},
        {header: 'Note', width: 300,dataIndex: 'note'},
        {header: 'Actions', width: 100,dataIndex: 'id',renderer:renderAction}
      ],
      autoHeight:true,
      title: 'Click on column headings to sort, drag column headings to reposition, adjust column width or remove columns from the view.',
      bbar:paging_toolbar
    });

    // render the grid to the specified div in the page
    grid.render('property-list');
    paging_toolbar.refresh.hideParent = true;
    paging_toolbar.refresh.hide();

    function renderAction(id){
      var ar = id.split("~");
      return '<a href="/agents/<%=@agent.id%>/offices/<%=@office.id%>/agent_contacts/' + ar[1] + '/edit" style="color:#0e7fc7;">View</a> | <a href="/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%=@property.id%>/property_notes/destroy_note/'+ar[0]+'" style="color:#0e7fc7;">Remove</a>';
    };

    ds.load({params:{start:0,limit:pagesize}});
    grid.doLayout();
    // ds.on('load', function(store, records, index) {
    //grid.setHeight(ds.getCount() * 37);
    // });

  function setGridURL(){
      grid.getStore().proxy.setApi('read', '/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%=@property.id%>/property_notes/view_listing?page_name='+page_name+'&date='+dateCombo.getValue()+'&type='+typeCombo.getValue()+'&heard='+heardCombo.getValue());
      paging_toolbar.changePage(1);
      grid.getStore().reload();
    }
  });

</script>
<style type="text/css">
  #property-list table{
    margin: 0px;
    border: medium none;
    width: 0%;
  }
  #property-list .x-toolbar {
    background-color:inherit;
    background-image:none;
    border-color:#A9BFD3;
  }
</style>
<div id="property-list"></div>
<!-- NOTE TO DEVELOPER: For home/dashboard page, please show 10 listings. -->
<!-- NOTE TO DEVELOPER: For Listings page, please show 50 listings. -->
