<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Agents <%= @title %></title>
  </head>
  <%= javascript_include_tag 'jquery','jrails', 'jrails.autocomplete', 'jquery.suggest' %>
  <script type="text/javascript">
    <% if session[:close_popup_purchaser] == true %>
      <%= session[:close_popup_purchaser] = false %>
      window.parent.tb_remove();
      window.parent.location.reload();
    <% end %>
    $(document).ready(function(){
      $(".datepicker").datepicker({
      dateFormat: 'mm/dd/yy'
      });
      <% ck = @agent_contact.errors.on :check_error unless @agent_contact.nil? %>
      <% unless ck == "duplicate" %>
        $(".contact").hide();
      <% end %>
    });
  </script>
  <%= javascript_include_tag 'ui/ui.datepicker', :cache =>'base_datepicker'%>
  <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
  <body>
  <div id="clientdiv" class="block accounts full"><br/>
     <% form_for :purchaser, @purchaser, :url => agent_office_property_purchasers_path(@agent,@office, @property), :html => {:class => 'propertyform full', :id => "form_new"} do |f| %>
     <%= f.error_messages :class => 'errortext' %>
     <div class="block form follower" style="padding-right:5px;">
      <div id="propertydatadiv" class="group">
        <div class="set">
          <h6 class="full">Purchaser Details </h6>
          <fieldset class="pf_fs5">
            <%= f.hidden_field :agent_contact_id, :class => "single" %>
            <ul class="pf-ul">
              <li class="li--23"><label><span>Contact Name:</span></label>
                <%= text_field_with_auto_complete :offer, :name , {:value => "",:class =>'single', :style => "width:56%;"}, {:method => :get, :indicator => 'indicator1', :after_update_element => "function (element, value) { $('#purchaser_agent_contact_id').attr('value', value.id);}"}%>
                <span id="indicator1" style="display: none">
                <img src="/images/search-loader.gif" id="search-loader"></img>
                </span>
                <a href="javascript:add_contact()" id="add_contact">Add</a>
                <a href="javascript:remove_contact()" id="remove_contact" style="display:none;">Remove</a>
              </li>
              <!-- Quick add contact -->
              <li class="li--23 required contact"><label><span>First Name:</span></label>
                <%= f.text_field :first_name, :class => "single", :style => "width:56%;" %>
              </li>
              <li class="li--23 required contact"><label><span>Last Name:</span></label>
                <%= f.text_field :last_name, :class => "single", :style => "width:56%;" %>
              </li>
              <li class="li--23 contact"><label><span>Email:</span></label>
                <%= f.text_field :email, :class => "single", :style => "width:56%;" %>
              </li>
              <li class="li--23 contact"><label><span>Home Number:</span></label>
                <%= f.text_field :home_number, :class => "single", :style => "width:56%;" %>
              </li>
              <li class="li--23 contact"><label><span>Work Number:</span></label>
                <%= f.text_field :work_number, :class => "single", :style => "width:56%;"%>
              </li>
              <li class="li--23 contact"><label><span>Mobile Number:</span></label>
                <%= f.text_field :mobile_number, :class => "single", :style => "width:56%;" %>
              </li>
              <li class="li--23 contact"><label><span>Contact Number:</span></label>
                <%= f.text_field :contact_number, :class => "single", :style => "width:56%;" %>
              </li>
              <!-- end quick add contac -->
              <li class="li--23"><label><span>
                 <% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
                    Lease Date:
                 <% else %>
                    Sold Date:
                 <% end %>
                  </span></label>
                <%= f.text_field :date,:class =>'single datepicker', :style => "width:56%;" %>
              </li>
              <li class="li--23"><label><span>
                <% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
                    Lease Amount:
                 <% else %>
                    Sold Amount:
                 <% end %>
                  </span></label>
                <%= f.text_field :amount, :class => "single", :style => "width:56%;" %>
              </li>
              <li class="li--23"><label><span>
                 <% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
                    Display Lease Price:
                 <% else %>
                    Display Sold Price:
                 <% end %>
                  </span></label>
                <%= f.check_box :display_price, :style => "width:15px;min-width:15px;" %>
              </li>
              <li class="li--23"><label><span>&nbsp;</span></label>
                <button name="btn_submit" type="submit" value="Submit">
                  <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Submit
                </button>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>
       <div id="propertydatadiv" class="group">
        <div class="action_button" style="border:none;">
          <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.location.reload(); return false", :style =>"float:right;"%>
        </div>
       </div>
     </div>
    <% end %>
   </div>
</body>
</html>
<script type="text/javascript">
  function add_contact(){
    $(".contact").show();
    $(".formdiv").height(550);
    $("#remove_contact").show();
    $("#add_contact").hide();
    $("#offer_name").attr('disabled', 'disabled');
  }

  function remove_contact(){
    $(".contact").hide();
    $(".formdiv").height(150);
    $("#add_contact").show();
    $("#remove_contact").hide();
    $("#offer_name").removeAttr('disabled');
  }
</script>
<% ck = @agent_contact.errors.on :check_error unless @agent_contact.nil? %>
<% if ck == "duplicate" %>
  <script type="text/javascript">
     var answer = confirm ("There already exists a user in the database with this First Name, Last Name and Email/Telephone. Would you like to update that contact with this data?")
      if(answer){
        $("#form_new").attr('action', "<%= update_duplicate_purchaser_path(@agent,@office,@property)  %> ");
        $("#form_new").submit();
      }else{
        add_contact();
      }
  </script>
<% end %>