  <div class="step_button">
    <a href="<%= choose_layout_agent_office_elists_path(@agent, @office) %>" class="<%= 'active_tab' if %w(choose_layout).include?(params[:action]) %>">1. Choose layout</a>
    <a href="<%= choose_properties_agent_office_elists_path(@agent, @office) %>" class="<%= 'active_tab' if %w(choose_properties).include?(params[:action]) %>">2. Choose Properties</a>
    <a href="<%= choose_data_agent_office_elists_path(@agent, @office) %>" class="<%= 'active_tab' if %w(choose_data).include?(params[:action]) %>">3. Choose Data</a>
    <a href="<%= choose_colour_agent_office_elists_path(@agent, @office) %>" class="<%= 'active_tab' if %w(choose_colour).include?(params[:action]) %>">4. Choose Colours</a>
    <a href="<%= select_recipient_agent_office_elists_path(@agent, @office) %>" class="<%= 'active_tab' if %w(select_recipient).include?(params[:action]) %>">5. Select Recipients</a>
    <a href="<%= view_sample_agent_office_elists_path(@agent, @office) %>" class="<%= 'active_tab' if %w(view_sample).include?(params[:action]) %>">6. View Sample</a>
  </div>