<style type="text/css">
  a img{color:transparent !important;}
  a:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  a.info_link:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  p{font-size:8pt;}
  .greybg{background-color:#EAEAEA;}
  .wrp{margin-top:3px;}
</style>
<div class="greybg" style="margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;">
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;text-align:center;font-size:8pt;color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser. Or <a href="{forward}" style="color:#999999;" target="_blank">click here <img style="width: 22px;position: relative;top: 7px;left: 2px;" src="<%= @base_url %>/images/mail_forward.png"/></a> to forward this email</div>
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;">
    <% if @header_image.present? %>
      <div style="width:780px;height:<%= @header_image.height %>px;">
        <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780" height="<%= @header_image.height %>" />
      </div>
    <% end %>
    <div style="background-color:<%= @bgcolor %>;width:780px;height:auto;margin:0 auto;font-family: arial;">
      <% unless @properties.blank? %>
        <% @properties.each_with_index do |property, index| %>
          <div style="margin-bottom:10px;">
            <div style="font-weight:bold;font-size:8pt;">
              <div style="float:left;margin:2px 0px 2px 2px;width:200px;padding:5px;background-color:#CCCCCC;"><%= property.suburb %></div>
              <div style="float:left;text-align:center;margin:2px 0px 2px 2px;width:100px;padding:5px;;background-color:#CCCCCC;">
                <% if ['ResidentialSale', 'ProjectSale', 'BusinessSale'].include?(property.type.to_s) %>
                  Sale
                <% end %>
                <% if ['ResidentialLease', 'HolidayLease'].include?(property.type.to_s) %>
                  Lease
                <% end %>
                <% if property.type.to_s == 'Commercial' %>
                  <%= (property.deal_type == 'Both') ? 'Sale & Lease' : property.deal_type %>
                <% end %>
              </div>
              <% unless property.type == "NewDevelopment" || property.type == "LandRelease" %>
                <div style="float:left;margin:2px 0px 2px 2px;width:442px;padding:5px;background-color:#CCCCCC;">BUILDING:<%= property.detail.floor_area unless property.detail.blank? %> m2</div>
              <%end%>
              <div style="clear:both;"></div>
            </div>
            <div style="padding:5px;font-weight:bold;margin-bottom:10px;"> <a href="{elist_track_property_url}&property_id=<%= property.id %>" style="color:<%= @headingtextcolor %>;text-decoration:none;"><%= property.unit_number %>&nbsp;<%= property.street_number %>&nbsp;<%= property.street %>&nbsp;<%= property.suburb %></a></div>
            <div>
              <div style="float:left;width:490px;margin:2px;">
                <div style="margin-bottom:10px;">
                  <% if !property.images.blank? %>
                    <img src="<%= property.images.first.public_filename %>" width="490" style="color:transparent !important;"/>
                  <% else %>
                    <img src="<%= @base_url %>/images/no_image.jpg" width="490"style="color:transparent !important;"/>
                  <% end %>
                </div>
                <div style="padding:5px;">
                  <div style="color:<%= @headingtextcolor %>;font-weight:bold;margin-bottom:5px;font-size:12pt;"><%= property.headline %></div>
                  <div style="color:<%= @textcolor %>;font-size:10pt;"><%= truncate(property.description, 300, "...") %></div>
                </div>
              </div>
              <div style="float:right;margin:2px;width:280px;">
                <div style="margin-bottom:5px;font-weight:bold;padding:10px 5px;background-color:<%=@heading%>;">
                  <div style="color:<%= @headingtextcolor %>;margin-bottom:15px;font-size:12pt;">Property Details</div>
                  <div>
                    <% unless property.display_price.to_i == 0 %>
                      <div style="color:<%= @textcolor %>;font-size:9pt;margin-bottom:5px;">
                        <div style="width:100px;float:left">Price</div>
                        <div style="width: 170px;float:left">
                          <% if property.type.to_s == 'Commercial'%>
                            <% if property.deal_type == 'Lease' %>
                              <%= property.display_price.to_i == 1 ? (property.detail.rental_price.blank? ? "" : ("$#{property.detail.rental_price}" + (property.detail.rental_price_to.blank? ? "" : " - $#{property.detail.rental_price_to}"))) : property.display_price_text %>
                            <% else %>
                              <%= property.display_price.to_i == 1 ? (property.detail.sale_price_from.blank? ? "" : ("$#{property.detail.sale_price_from}" + (property.detail.sale_price_to.blank? ? "" : " - $#{property.detail.sale_price_to}"))) : property.display_price_text %>
                            <% end %>
                          <% else %>
                            <%= property.display_price.to_i == 1 ? (property.price.blank? ? "" : "$#{property.price}" + (property.to_price.blank? ? "" : "- $#{property.to_price}")) : property.display_price_text %>
                          <% end %>
                        </div>
                        <div style="clear:both;"></div>
                      </div>
                    <% end %>
                    <div style="color:<%= @textcolor %>;font-size:9pt;margin-bottom:5px;"><div style="width:100px;float:left">Type</div><div style="width: 170px;float:left"><%= property.property_type %></div><div style="clear:both;"></div></div>
                    <% if ['ResidentialSale', 'ResidentialLease', 'ProjectSale', 'HolidayLease'].include?(property.type.to_s) %>
                      <% unless property.detail.blank? %>
                        <div style="color:<%= @textcolor %>;font-size:9pt;margin-bottom:5px;"><div style="width:100px;float:left">Bedrooms</div><div style="width: 170px;float:left"><%= property.detail.bedrooms%></div><div style="clear:both;"></div></div>
                        <div style="color:<%= @textcolor %>;font-size:9pt;margin-bottom:5px;"><div style="width:100px;float:left">Bathrooms</div><div style="width: 170px;float:left"><%= property.detail.bathrooms%></div><div style="clear:both;"></div></div>
                        <div style="color:<%= @textcolor %>;font-size:9pt;margin-bottom:5px;"><div style="width:100px;float:left">Cars Space</div><div style="width: 170px;float:left"><%= (property.detail.carport_spaces.to_i + property.detail.garage_spaces.to_i) %></div><div style="clear:both;"></div></div>
                      <% end %>
                    <% end %>
                    <% unless property.detail.blank? %>
                      <% unless property.type == "NewDevelopment" %>
                        <div style="color:<%= @textcolor %>;font-size:9pt;margin-bottom:5px;"><div style="width:100px;float:left">Land Area</div><div style="width: 170px;float:left"><%= property.detail.land_area %></div><div style="clear:both;"></div></div>
                      <%end%>
                    <% end %>
                  </div>
                </div>
                <div style="font-weight:bold;padding:10px 5px;background-color:<%=@heading%>;">
                  <div style="color:<%= @headingtextcolor %>;margin-bottom:15px;font-size:12pt;">Contacts</div>
                  <div style="font-weight:bold;font-size:10pt;">
                    <% unless property.primary_contact.blank? %>
                      <div style="width:135px;float:left">
                        <div style="color:<%= @textcolor %>"><%= property.primary_contact.full_name %></div>
                        <div style="color:<%= @headingtextcolor %>;margin-bottom:5px;">Operative</div>
                        <div style="color:<%= @textcolor %>">Phone</div>
                        <div style="color:<%= @headingtextcolor %>;margin-bottom:5px;"><%= property.primary_contact.phone %></div>
                        <div style="color:<%= @textcolor %>">Mobile</div>
                        <div style="color:<%= @headingtextcolor %>;margin-bottom:5px;"><%= property.primary_contact.mobile %></div>
                      </div>
                    <% end %>
                    <% unless property.secondary_contact.blank? %>
                      <div style="width:135px;float:right">
                        <div style="color:<%= @textcolor %>"><%= property.secondary_contact.full_name %></div>
                        <div style="color:<%= @headingtextcolor %>;margin-bottom:5px;">Operative</div>
                        <div style="color:<%= @textcolor %>">Phone</div>
                        <div style="color:<%= @headingtextcolor %>;margin-bottom:5px;"><%= property.secondary_contact.phone %></div>
                        <div style="color:<%= @textcolor %>">Mobile</div>
                        <div style="color:<%= @headingtextcolor %>;margin-bottom:5px;"><%= property.secondary_contact.mobile %></div>
                      </div>
                    <% end %>
                    <div style="clear:both;"></div>
                  </div>
                </div>
              </div>
              <div style="clear:both;"></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div style="width:780px;height:75px;">
      <img src="<%= @footer_image.public_filename unless @footer_image.blank? %>" width="780" height="75" />
    </div>
  </div>
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;font-size:8pt;color:#999999;">
    <div style="width:400px;float:left;">To unsubcribe from this service please <a href="{unsubcribe}" style="color:#999999;text-decoration:underline;">click here</a>.</div>
    <div style="width:300px;float:right;text-align:right">Powered By <b><%= @office.agent.developer.name %></b></div>
    <div style="clear:both;"></div>
    <div style="width:400px;">Copyright &copy; <b><%= @office.name %></b> <%= Time.now.strftime("%Y")  %></div>
    <div style="display:none;">{view_open_url}</div>
  </div>
</div>