<style type="text/css" >
  .table_stock{border:none;width:250px;}
  td{background-color:#E1EBF5;border: 1px dotted #E1EBF5;font-weight:bold;}
  .td_title{width:50px;}
  .div_option{float:left;}
</style>
<script type="text/javascript">
  $(document).ready(function() {
    var property_ids = '<%= @property_checkbox_ids %>';
    if(property_ids!=''){
      search_property();
    }
    show_hide_options();
  });
  function update_property_type(){
    var base_ptype = $("#wrap_property_type");
    var controller = "<%= populate_property_type_agent_office_stock_lists_path(@agent,@office) %>";
    $.ajax({
      type: "POST",
      url: escape(controller),
      data:"listings="+$("#listing_type").val(),
      dataType:"JSON",
      beforeSend:function(){
        $("#selection_property_type").attr("disabled","disabled");
        $("#property_type_loading").show();
      },
      success: function(jsonResponse){
        var eval_json = eval(jsonResponse);
        var option = "";
        if(eval_json == ""){
          option = "<option value =''>Please select</option>";
        }else{
          option = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json.length;i++){
            var to_string = new String("'"+eval_json[i][1]+"'");
            option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
          };
        };
        var html = "<select id='selection_property_type' name='selection_property_type' onchange=\"add_options('property_type');\" style='width:250px;' class='select_box'>"+option+"</select>";
        base_ptype.empty().append($(html));
      },
      complete:function(){
        $("#selection_property_type").removeAttr("disabled");
        $("#property_type_loading").hide();
      }
    });
 }
</script>

<div class="title_block block">
  <h2 class="page_title">Choose Properties</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<div style="font-size:10pt;margin-bottom:10px;font-weight:bold;">The options below work like a search tool so the more defined you set them the less listings will appear.  If you leave a search option blank then that condition is skipped meaning it won't limit search results.</div>
<form action="<%= choose_properties_agent_office_elists_path(@agent, @office) %>" method="post" name="frm_src" id="frm_src">
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%;font-size:9pt;">
          <h6>Listing Type (&nbsp;<input type="checkbox" name="all_listing_type" value="All" class="sel_image" style="vertical-align:top;" <%= (@value_listing_type.include?("All") ? "checked" : "") unless @value_listing_type.blank? %>  onclick="check_all_options(this, 'listing_type');update_property_type();"/>All&nbsp;)</h6><br/>
          <div style="float:left;width:300px;">
            <%= select_tag "selection_listing_type", options_for_select(@listings, ""), :class => 'select_box', :onchange => "add_options('listing_type');update_property_type();", :style => "width:250px;" %>
            <input type="hidden" name="listing_type" id="listing_type" value="<%= @value_listing_type %>"/>
          </div>
          <div id="listing_types" style="text-align:left;font-size:9pt;"><%= @value_listing_types %></div>
          <div style="clear:both;"></div>
        </div>
    </div>
    <div class="clearer"></div>
    <div class="set">
       <br/><hr style="color: #BEC8D2;background-color: #BEC8D2"/>
       <div style="width: 100%; font-size: 9pt;">
        <h6>Status </h6><br/>
        <div style="float:left">
        <input type="checkbox" style="vertical-align: top;" class="status sel_image" value="1" name="status[]" <%= (@status.include?("1") ? "checked" : "") unless @status.blank? %> /> Available
        <input type="checkbox" style="vertical-align: top;" class="status sel_image" value="5" name="status[]" <%= (@status.include?("5") ? "checked" : "") unless @status.blank? %> /> Underoffer
        <input type="checkbox" style="vertical-align: top;" class="status sel_image" value="4" name="status[]" <%= (@status.include?("4") ? "checked" : "") unless @status.blank? %> /> Withdrawn
        <input type="checkbox" style="vertical-align: top;" class="status sel_image" value="2" name="status[]" <%= (@status.include?("2") ? "checked" : "") unless @status.blank? %> /> Sold
        <input type="checkbox" style="vertical-align: top;" class="status sel_image" value="3" name="status[]" <%= (@status.include?("3") ? "checked" : "") unless @status.blank? %> /> Leased
        </div>
        <div style="float:left;margin-left:50px;font-weight:bold;">Period
          <select name="period">
            <option value="7d" <%= (@period == "7d")? "selected": ""  %>>Last 7 Days</option>
            <option value="14d" <%= (@period == "14d")? "selected": ""  %>>Last 14 Days</option>
            <option value="1" <%= (@period == "1")? "selected": ""  %>>1 Month</option>
            <option value="3" <%= (@period == "3")? "selected": ""  %>>3 Month</option>
            <option value="6" <%= (@period == "6")? "selected": ""  %>>6 Month</option>
            <option value="12" <%= (@period == "12")? "selected": ""  %>>12 Month</option>
          </select>
          (For Sold and Leased properties)
        </div>
       </div>
    </div>
    <div class="clearer"></div>
    <div class="set">
      <br/><hr style="color: #BEC8D2;background-color: #BEC8D2"/>
       <div style="width:100%;font-size:9pt;">
          <h6>Suburbs (&nbsp;<input type="checkbox" name="all_suburb" value="All" class="sel_image" style="vertical-align:top;" <%= (@value_suburb.include?("All") ? "checked" : "") unless @value_suburb.blank? %>  onclick="check_all_options(this, 'suburb');"/>All&nbsp;)</h6><br/>
          <div style="float:left;width:300px;">
            <%= select_tag "selection_suburb", options_for_select(@suburbs, ""), :class => 'select_box', :onchange => "add_options('suburb');", :style => "width:250px;" %>
            <input type="hidden" name="suburb" id="suburb" value="<%= @value_suburb %>"/>
          </div>
          <div id="suburbs" style="text-align:left;font-size:9pt;"><%= @value_suburbs %></div>
          <div style="clear:both;"></div>
        </div>
    </div>
    <div class="clearer"></div>
    <div class="set">
      <br/><hr style="color: #BEC8D2;background-color: #BEC8D2"/>
       <div style="width:100%;font-size:9pt;">
          <h6>Property Type </h6>
          <div style="float:left;width:300px;">
            <div id="wrap_property_type"><%= select_tag "selection_property_type", options_for_select(@property_types, ""), :class => 'select_box', :onchange => "add_options('property_type');", :style => "width:250px;float:left;" %></div>
            <span id="property_type_loading" style="display:none;" ><%= image_tag "/images/ajax-loader.gif" %></span>
            <input type="hidden" name="property_type" id="property_type" value="<%= @value_property_type %>"/>
          </div>
          <div id="property_types" style="text-align:left;font-size:9pt;"><%= @value_property_types %></div>
          <div style="clear:both;"></div>
          <br/>
        </div>
        <div style="width:100%;font-size:9pt;display:none;" id="cont_sale_lease">
          <h6>Sale/Lease </h6>
          <div style="float:left;width:300px;">
            <%= select_tag "selection_sale_lease", options_for_select(@sale_leases, ""), :class => 'select_box', :onchange => "add_options('sale_lease');", :style => "width:250px;" %>
            <input type="hidden" name="sale_lease" id="sale_lease" value="<%= @value_sale_lease %>"/>
          </div>
          <div id="sale_leases" style="text-align:left;font-size:9pt;"><%= @value_sale_leases %></div>
          <div style="clear:both;"></div>
          <br/>
        </div>
        <div id="all_price_options">
          <div class="div_option residential_option commercial_option" style="display:none;">
            <table class="table_stock">
            <tr><td colspan="4">Price</td></tr>
            <tr>
              <td class="td_title">Min $</td><td><input type="text" name="min_price" size="5" class="single" value="<%= @min_price %>" onkeypress ="return isDesimalKey(event)" /></td>
              <td class="td_title">Max $</td><td><input type="text" name="max_price" size="5" class="single" value="<%= @max_price %>" onkeypress ="return isDesimalKey(event)"/></td>
            </tr>
          </table>
          </div>
          <div class="div_option">
            <table class="table_stock commercial_option" style="display:none;">
            <tr><td colspan="4">Annual Rent</td></tr>
            <tr>
              <td class="td_title">Min $</td><td><input type="text" name="min_rent" size="5" class="single" value="<%= @min_rent %>" onkeypress ="return isDesimalKey(event)"/></td>
              <td class="td_title">Max $</td><td><input type="text" name="max_rent" size="5" class="single" value="<%= @max_rent %>" onkeypress ="return isDesimalKey(event)"/></td>
            </tr>
          </table>
          </div>
          <div class="div_option commercial_option" style="display:none;">
            <table class="table_stock">
            <tr><td colspan="4">Land Size</td></tr>
            <tr>
              <td class="td_title">Min M2</td><td><input type="text" name="min_size" size="5" class="single" value="<%= @min_size %>" onkeypress ="return isDesimalKey(event)"/></td>
              <td class="td_title">Max M2</td><td><input type="text" name="max_size" size="5" class="single" value="<%= @max_size %>" onkeypress ="return isDesimalKey(event)"/></td>
            </tr>
          </table>
          </div>
          <div class="div_option commercial_option" style="display:none;">
            <table class="table_stock">
            <tr><td colspan="4">Building Size</td></tr>
            <tr>
              <td class="td_title">Min M2</td><td><input type="text" name="building_min_size" size="5" class="single" value="<%= @building_min_size %>" onkeypress ="return isDesimalKey(event)"/></td>
              <td class="td_title">Max M2</td><td><input type="text" name="building_max_size" size="5" class="single" value="<%= @building_max_size %>" onkeypress ="return isDesimalKey(event)"/></td>
            </tr>
          </table>
          </div>
          <div class="div_option residential_option" style="display:none;">
            <table class="table_stock" style="width:150px;">
            <tr><td colspan="4">Bath</td></tr>
            <tr>
              <td class="td_title">Min Bath</td><td><input type="text" name="baths" size="5" class="single" value="<%= @baths %>" onkeypress ="return isDesimalKey(event)"/></td>
            </tr>
          </table>
          </div>
          <div class="div_option residential_option" style="display:none;">
            <table class="table_stock" style="width:150px;">
            <tr><td colspan="4">Bed</td></tr>
            <tr>
              <td class="td_title">Min Bed</td><td><input type="text" name="beds" size="5" class="single" value="<%= @beds %>" onkeypress ="return isDesimalKey(event)"/></td>
            </tr>
          </table>
          </div>
          <div class="div_option residential_option" style="display:none;">
            <table class="table_stock" style="width:150px;">
            <tr><td colspan="4">Car Space</td></tr>
            <tr>
              <td class="td_title">Min Car</td><td><input type="text" name="cars" size="5" class="single" value="<%= @cars %>" onkeypress ="return isDesimalKey(event)"/></td>
            </tr>
          </table>
          </div>
          <div class="clearer"></div>
        </div>
    </div>
    <div class="clearer"></div>
    <div class="set">
      <br/><hr style="color: #BEC8D2;background-color: #BEC8D2"/>
      <input type="button" name="submit_btn" value="Search Properties" onclick="search_property();"/>
      <div style="font-size:8pt;margin-top:10px;background-color:#FFFFFF;padding:10px;border:1px solid grey;">
        <div id="wrap_search_property"><center><b>Current Listings</b></center></div>
        <div style="clear:both;">&nbsp;</div>
      </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_layout_agent_office_stock_lists_path(@agent, @office) %>'">« Previous</button>
            <form action="" method="post" name="frm1" onsubmit="return count_images();">
            <input type="hidden" name="list_image" id="list_image" value="<%= @list_image %>"/>
            <button name="update" type="submit" value="Update" style="float:right;">Next »</button>
           </form>
        </td></tr>
      </table>
  </div>
</div>
</form>
<script type="text/javascript">
  function check_all(current, id){
    if(current.checked == true){
      $('.'+id).attr('checked','checked');
    }else{
      $('.'+id).attr('checked','');
    }
    show_hide_options();
  }

  function add_options(type){
    var a_all_id = $("#"+type).val();
    var a_arry = a_all_id.split('#');
    var a_add =0;
    if($("#selection_"+type).val()!=''){
      for(var x=0; x < a_arry.length; x++){
        if((a_arry[x]!='')&&(a_arry[x]==$("#selection_"+type).val())){ a_add = 1; }
      }
      if(a_add != 1){
        var new_datas = $("#"+type).val() + '#' + $("#selection_"+type).val();
        $("#"+type).attr('value', new_datas);
        $("#"+type+"s").append('<span id="'+$("#selection_"+type).val()+'" style="margin-right:20px;">'+$("#selection_"+type+" option:selected").text()+'\
         <a href="javascript:remove_options(\''+type+'\',\''+$("#selection_"+type).val()+'\')">x</a></span>');
      }
      show_hide_options();
    }
  }

  function remove_options(type, id){
    var all_id = $("#"+type).val();
    var arry = all_id.split('#');
    $("#"+type).attr('value', "");
    for(var x=0; x < arry.length; x++){
      if((arry[x]!='')&&(arry[x]!=id)){
       var new_datas = $("#"+type).val() + '#' + arry[x];
       $("#"+type).attr('value', new_datas);
      }
    }
    $("span").remove(":contains('"+id+"')");
    if(type == 'listing_type'){
      update_property_type();
    }
    show_hide_options();
  }

  function check_all_options(opt, type){
    if(opt.checked){
      $("#"+type).attr('value', "#All");
    }else{
      $("#"+type).attr('value', "");
    }
    $("#"+type+"s").html('');
  }

  function show_hide_options(){
    $("#cont_sale_lease").hide();
    $(".commercial_option").hide();
    $(".residential_option").hide();
    if(check_listing_type("Commercial") == true){
      $("#cont_sale_lease").show();
      $(".commercial_option").show();
    }
    if((check_listing_type("ResidentialSale") == true) || (check_listing_type("ResidentialLease") == true)){
      $(".residential_option").show();
    }
  }

  function check_listing_type(listing_type){
    var a_all_id = $("#listing_type").val();
    var a_arry = a_all_id.split('#');
    var status = false;
    for(var x=0; x < a_arry.length; x++){
      if((a_arry[x]!='')&&(a_arry[x]==listing_type)){ status = true; }
    }
    return status;
  }

  function search_property(){
    var controller = "<%= search_property_agent_office_elists_path(@agent,@office) %>";
    $.ajax({
      type: "POST",
      url: escape(controller),
      data: "property_ids=<%=  @property_checkbox_ids %>&"+$('#frm_src').serialize(),
      dataType:"JSON",
      beforeSend:function(){
        $("#wrap_search_property").html('<center><img src="/images/ajax-loader.gif" id="search-loader-note"></center>');
      },
      success: function(jsonResponse){
        $("#wrap_search_property").html("");
        if (jsonResponse != ''){
            var jsonObject = eval('(' + jsonResponse + ')');
            $.each(jsonObject.results, function(index,array){
              var checked = array["checked"];
              $("#wrap_search_property").append('<div style="float:left;width:33%;"><input type="checkbox" name="property_checkbox[]" value="'+array["id"]+'" '+checked+'/> &nbsp; '+array["address"]+'</div>');
            });
          }else{
            $("#wrap_search_property").append("<center>No Matching Results</center>");
          };
        },
      complete:function(){}
    });
 }
</script>