<div class="title_block block">
  <h2 class="page_title">Choose Data</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= choose_data_agent_office_elists_path(@agent, @office) %>" method="post" name="frm1" enctype="multipart/form-data">
<div id="clientdiv" class="block accounts full">
  <div id="contactsdiv" class="block form group-bluesky">
    <div class="set">
       <div>
        <h6>Sender Details</h6><br/>
        <table class="border-less">
          <tr class="blue-bgcolor"><td class="wd-150">Email Title:</td>
          <td><input type="text" name="data[sender_title]" id="data_sender_title" class="single" style="width:350px;" value="<%= @data["sender_title"] unless @data.blank? %>" /></td></tr>
          <tr class="blue-bgcolor"><td class="wd-150">Email Description:</td>
          <td><textarea name="data[sender_description]" id="data_description" class="mceEditor"><%= @data["sender_description"] unless @data.blank? %></textarea></td></tr>
          <tr class="blue-bgcolor"><td class="wd-150">Email Sender:</td>
          <td><%= select_tag "data[sender_email]", options_for_select(@contacts, @data["sender_email"].to_i) %></td></tr>
        </table>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table border-less">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_properties_agent_office_elists_path(@agent, @office) %>'">« Previous</button>
            <button name="update" type="submit" value="Update" style="float:right;">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>
<style type="text/css">
  .logos{background-color: #FFFFFF;
    float: left;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 10px;}
  tr:hover { background-color: #E1EBF5; }
  .border-less{border:none;}
  .blue-bgcolor{background-color:#E1EBF5;}
  .wd-150{width:150px;}
  .wrp-order{float:right;font-size:9pt;}

  .campaign-link-title{
    float:left;
    width:75px;
    margin-right:10px;
    font-weight:bold;
  }
  .campaign-link-link{
    float:left;
    width:200px;
    margin-right:10px;
  }

  .marg{margin-bottom:5px;}
  table a:link, table a:visited {color:#0E7FC7;}
  .bordered-cont{border:1px solid #999999;padding:10px;margin-bottom:10px;}
</style>
<%= javascript_include_tag "tiny_mce/tiny_mce.js" %>
<script type="text/javascript">
   tinyMCE.init({
    mode : "textareas",
    theme : "advanced",
    theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,forecolor,backcolor,|,fontsizeselect",
    theme_advanced_buttons2 : "",
    theme_advanced_buttons3 : "",
    theme_advanced_buttons4 : "",
    editor_selector : "mceEditor",
    editor_deselector : "mceNoEditor, mNc"
  });

  function add_general_link(){
    $(".campaingn_general_link").append('<div class="logos"><table width="230"><tr><td colspan="2" style="text-align:center;height:150px;">&nbsp;</td></tr><tr><td>&nbsp;<b>Link:&nbsp;</b></td><td><input type="hidden" name="general_link[][id]" value="" /><input type="text" name="general_link[][url]" class="single" style="width:190px;" value="" /></td></tr><tr><td>&nbsp;<b>Image Logo:&nbsp;</b></td><td><input type="file" name="general_link[][uploaded_data]" id="general_link__uploaded_data" /></td></tr></table></div>');
  }
</script>