<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Agents <%= @title %></title>
  </head>
  <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker','jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <body>
  <div id="helpdiv" class="block help full">
      <% if flash.now[:notice] %>
        <div class='group'>
          <p class="help_message"><%= h flash.now[:notice] %></p>
        </div>
      <% end %>
  </div>
  <div id="clientdiv" class="block accounts full"><br/>
  <form action="<%= send_sample_agent_office_elist_path(@agent,@office,@elist) %>" method="post" name="frm1" onsubmit="return ValidateForm()">
     <div class="block form follower" style="padding-right:5px;">
     <div id="propertydatadiv" class="group" >
        <div class="set">
          <h6 class="full">Add Email for sample </h6>
          <fieldset class="pf_fs5">
            <ul class="pf-ul">
              <li class="li--23">
                <div style="float:left;width:35%;">Email</div>
                <div style="float:left;width:65%;" id="emails">
                  <input type="text" name="email[]" class="inptemail single"/>&nbsp;
                  <a href="javascript:add_email();">Add new Email</a>
                </div>
              </li>
              <li class="li--23"><label><span>&nbsp;</span></label>
                <button name="btn_submit" type="submit" value="Send Sample">
                  <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Submit
                </button>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>
       <div class="action_button" style="border:none;">
          <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();return false", :style =>"float:right;"%>
        </div>
     </div>
  </form>
   </div>
</body>
</html>

<script language = "Javascript">
function echeck(str) {
  var at="@"
  var dot="."
  var lat=str.indexOf(at)
  var lstr=str.length
  var ldot=str.indexOf(dot)
  if (str.indexOf(at)==-1){ return false }
  if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){ return false }
  if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr){ return false }
  if (str.indexOf(at,(lat+1))!=-1){ return false }
  if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){ return false }
  if (str.indexOf(dot,(lat+2))==-1){ return false }
  if (str.indexOf(" ")!=-1){ return false }
  return true
}

function ValidateForm(){
  var st = '';
  $(":input[type=text]").each(function(){
   var input = $(this);
   if (echeck(input.val())==false){
     input.attr("style", "border:2px solid red;");
     st = 'err';
   }else{
     input.attr("style", "");
   }
  });

  return (st == 'err')? false : true;
}

 function add_email(){
   $("#emails").append('<input type="text" name="email[]" class="inptemail single"/><br/>');
 }
</script>
