Dear <%=h @user.first_name %>

Thank you for setting up an account with Commercial Loop. You can now explore the Developer's System and begin adding clients to your system. Once you have added a client  you can set up an office for that client and access the office account through the Agent's System.

You can access both the Developer's & Agent's System at the following link:

Link: <%=h @url %>
Username: <%=h @user.login %>
Password: <%=h @user.password %>

You will see that your organisation's branding is used through out the Agent's System allowing you to on-sell Commercial Loop to your clients.

We hope you enjoy using the Commercial Loop system, if you have any feedback or require any support please send us a message through the message system or alternatively have a browse through our forum (http://www.commercialloopcrm.com.au/forum/)

Regards
Commercial Loop Team