Dear <%= @user.full_name.humanize %>,

A new user has subscribed to your office <%= @agent_user.office.name.humanize %>.

First Name: <%=@agent_user.first_name.humanize %>
Last Name: <%= @agent_user.last_name.humanize %>
Phone: <%= @agent_user.phone %>
Mobile: <%= @agent_user.mobile %>
Email: <%= @agent_user.email %>
Username: <%= @agent_user.login %>
Password: <%= @agent_user.password %>


Regards
<%= h @agent_user.developer.name.humanize %>