<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= @agent_contact.first_name rescue nil%>,</p>
    <p><%= @email.comments if @email.comments %></p>
    <% @properties.each do |property| %>
      <% @property = property %>
      <% @detail = property.detail %>

      <div style="font-family:arial;height: auto;width: 780px;margin:30px auto;background-color: #FFFFFF;position: relative;border-bottom:2px solid #57585a;border-top:2px solid #57585a">
        <% if @header_image.present? %>
          <div class="bg-top"><img src="<%= @header_image.public_filename %>" width="780" height="<%= @header_image.height %>"/></div>
        <% end %>

        <% if property.images %>
          <div style="height: auto;margin-bottom:3px;">
            <% if property.images.first %>
              <div style="height: 350px;overflow: hidden;border-bottom: solid 3px #FFF;">
                <img height="350" width="780" src="<%= property.images.first.public_filename %>">
              </div>
            <%end%>
            <% if property.images.second || property.images.third %>
              <div style="height: 220px;">
                <div style="width: 388px;height: 220px;float: left;overflow: hidden;">
                  <% if property.images.second %>
                    <img height="220" width="388" src="<%= property.images.second.public_filename %>">
                  <%else%>
                    <img height="220" width="388" src="http://img.commercialloopcrm.com.au/a42121991006c0c5e9cea8011b5a3f8bbca03a64">
                  <%end%>
                </div>
                <div style="float:right;width: 388px;height: 220px;float: left;overflow: hidden;padding-left: 4px">
                  <% if property.images.third %>
                    <img height="220" width="388" src="<%= property.images.third.public_filename %>">
                  <%else%>
                    <img height="220" width="388" src="http://img.commercialloopcrm.com.au/a42121991006c0c5e9cea8011b5a3f8bbca03a64">
                  <%end%>
                </div>
                <div style="clear: both;"></div>
              </div>
            <%end%>
          </div>
        <%end%>
        <div style="background-color:#57585a;color:#FFFFFF;height: 30px;line-height: 30px;padding: 0 10px;display: block;font-weight:bold;">
          <div style="width:635px;float:left;">
            <%= property.short_address %>
          </div>
          <div style="height: 25px;float: right;font-size:11pt;padding:2px;">
            <% if property.type.to_s.underscore == 'commercial' || property.type.to_s.underscore == 'business_sale'
              baths = beds = garages = 0
            else
              baths = (property.detail.respond_to?('bathrooms')) ? property.detail.bathrooms : 0
              beds = (property.detail.respond_to?('bedrooms')) ? property.detail.bedrooms : 0
              garages = (property.detail.respond_to?('garage_spaces')) ? property.detail.garage_spaces : 0
            end %>
            <% if beds != 0 %>
              <%= beds  %> <img height="18" width="18" src="http://img.commercialloopcrm.com.au/001c02de1b7ed036b9a2453deeb703f20eaec68c"/>
            <% end %>
            <% if baths != 0 %>
              <%= baths  %> <img height="18" width="18" src="http://img.commercialloopcrm.com.au/b648293407f95fa2e1519d1e60fc9f0ceebfd1d9"/>
            <% end %>
            <% if garages != 0 %>
              <%= garages  %> <img height="18" width="18" src="http://img.commercialloopcrm.com.au/38e18d4ddd5d7b8ff377a6de705c289f219c4062"/>
            <% end %>
          </div>
        </div>
        <div>
          <div style="height: 425px; overflow: hidden;width: 460px;padding: 5px;float: left;margin-top:8px;">
            <div style="padding:5px;">
              <% if property.headline %>
                <p><strong><span style="font-size: small;"><%= property.headline %></span></strong></p>
              <%end%>
            </div>
            <% if property.description %>
              <div style="padding:5px;font-size: small">
                <%= property.description.blank? ? '' : "<p>#{truncate(property.description.gsub("\n","<br/>"),  :length => 1000, :omission => "...")}</p>" %>
              </div>
            <%end%>
          </div>
          <div style="width: 290px;padding: 5px;float: right;margin-top:8px;">
            <% if property.show_price.present? %>
              <div>
                <p><span style="font-size: small;"><strong><%= "Price: #{property.show_price}" %></strong></span></p>
              </div>
            <%end%>

            <div style="clear: both;margin: 5px 0;padding: 5px;" class="property-email">
              <%= render :partial => "property_summary_data" %>
            </div>

            <div style="clear: both;margin: 5px 0;padding: 5px;">
              <% if property.primary_contact %>
                <p><span style="font-size: small;"><b><%= property.primary_contact.full_name %></b>
                    <%= property.primary_contact.mobile.blank? ? "" : "<br> m: #{property.primary_contact.mobile}" %>
                    <%= property.primary_contact.phone.blank? ? "" : "<br> t: #{property.primary_contact.phone}" %>
                    <%= property.primary_contact.email.blank? ? "" : "<br> e: #{property.primary_contact.email}" %></span></p>
                <div style="clear: both;"></div>
              <%end%>
            </div>
          </div>
          <div style="clear: both;"></div>
        </div>
        <% if @footer_image %>
          <div style="width: 780px;height: 75px;color:#FFFFFF;font-size:16pt;font-weight:bold;text-align:center;">
            <img height="75" width="780" src="<%= @footer_image.public_filename %>" style="padding-bottom: 10px">
            <div style="clear: both;"></div>
          </div>
        <%else%>
          <h3 style="margin-bottom: 1px"><%= property.agent.developer.name %> <%= property.office.name %></h3>
          <div style="margin-top:-15px !important">
            <div style="background-color:#E10A3C;color:#FFFFFF;height: 30px;line-height: 30px;padding: 0 10px;display: block;font-weight:bold;"></div>
            <p style="font-size: 12px;margin-top: 0px">
              While every endeavour has been made to ensure of the information contained in this document <%= property.agent.developer.name %> <%= property.office.name %> <%= property.office.suburb.blank? ? "" : "(#{property.office.suburb})" %> makes no representation and provides no warranty or guarantee that the information provided is complete, accurate or suitable for your particular use, purpose or transaction. Areas and other measurements are approximate and subject to survey. Rents are exclusive of GST. <%= property.agent.developer.name %> will deal represented enquiries and Government tenants.
            </p>
          </div>
        <%end%>
      </div>
      <div style="clear: both;"></div>
    <%end%>
  </body>
</html>
