<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= (@agent_contact.full_name.blank? ? @agent_contact.first_name : @agent_contact.full_name) %>,</p>
    <p>As requested here is a reminder about the lease expiry of the below listing:</p>
    <p>Listing : <%= link_to @tenancy.property.address, "#{@tenancy.property.agent.developer.entry}.commercialloopcrm.com.au/agents/#{@tenancy.property.agent_id}/offices/#{@tenancy.property.office_id}/properties/#{@tenancy.property.id}/status" %> </p>
    <p>Lease Commencement : <%= (@tenancy.start_date.blank? ? "" : @tenancy.start_date.to_date.strftime('%d/%m/%Y')) %></p>
    <p>Lease Expiry : <%= (@tenancy.end_date.blank? ? "" : @tenancy.end_date.to_date.strftime('%d/%m/%Y')) %></p>
    <br/>
    <p>Kind Regards</p>
  </body
</html>