Dear <%= @user_level1.first_name %>,

<%= @media %> Media for Property ID <%= @property.id %> at <%= @property.contact.address %> <%= @property.suburb %> has been updated/added by <%= @user.first_name+ " " +@user.last_name%> of <%= @office.name %>.

Please login to <%= @url %> and verify it.

Kind regards
Commercial Loop
