Dear <%= @user.full_name.humanize %>,

A new user has been created to manage your office <%= @agent_user.office.name.humanize %>.

First Name: <%=@agent_user.first_name.humanize %>
Last Name: <%= @agent_user.last_name.humanize %>
Email: <%= @agent_user.email %>


Kind regards
Commercial Loop