Dear <%= @user.first_name %>

An account has been created for you by <%= h @office.full_name %> which allows you to manage your property listings through our online real estate property listing system.

You can login and start adding properties at:

Link: <%=h @url %>
Username: <%= @user.login %>
Password: <%= @user.password %>

If you require any support or have any questions please send me an email through the message section of the Agent's System.

Regards
<%= h @office.full_name %>