Dear <%= @user_level1.first_name %>,

We have been contacted by <%= @portal %> and have enabled exports to that portal for your listings.<% if @autosubcribed == true %> We have just sent a flush of all of your available and under offer listings to the portal. <% else %> You need to check the listings you'd like to send to that portal through the Exports page when editing a listing.<% end %>

Moving forward you will see the portal in the Exports tab when editing a property. If the portal sends export logs back to us then any issues or errors will be visible in the Exports Section in your Dashboard.

If you have any questions then please submit a ticket in the Support section of your account.

Kind regards
Team Commercial Loop CRM