Dear <%= @user.first_name %>,

Request to reset password received for <%= @user.login %>
Visit this url to choose a new password:

<%= @url %>
 
(Your password will remain the same if no action is taken)

Regards
Commercial Loop Team