<li class="subnav3 quick_edit">
  <% form_tag agent_office_search_results_path(@agent.id,@office.id), :method => 'get' do %>
    <fieldset style="margin-left:906px" class="iMac">
      <label>Quick Search: </label>
      <%= text_field_tag :search_keyword, params[:search_keyword], :placeholder => "Search keywords...", :class => 'single' -%>
      <%= submit_tag 'Search', :class => 'btn' %>
      <!-- <input type="text" id="quick_edit_txtbox" class="textbox" value="Type in a keyword" /> -->
      <!-- NOTE TO DEVELOPER: The text in the "value" attribute should disappear onfocus. Thanks! -->
    </fieldset>
  <%end%>
</li>