<script type="text/javascript">
  function contact_flexbox(){
    var query = "<%= @contact_name %>";
    jQuery("#contact_name").flexbox('<%= auto_complete_agent_office_search_results_path(@agent, @office) %>',{
      customParameters: {q: query},
      method: 'post',
      watermark: query,
      showArrow: false,
      inputClass: 'single',
      minChars: 2,
      width:200,
      queryDelay: 300,
      paging:false,
      highlightMatches:false,
      containerClass:'ffbContainer',
      onSelect: function(){
        $("#contact_name_input").val("");
        $("#contact_id_"+ this.getAttribute('hiddenValue')).attr('checked', 'checked');
      }
    });
  }

  $(document).ready(function(){
    contact_flexbox();
  });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    jQuery("#indicator1").ajaxStart(function(){
      jQuery(this).show();
    });
    jQuery("#indicator1").ajaxStop(function(){
      jQuery(this).hide();
    });
  })
</script>

<% form_for :email_configuration_search, :method => :post, :url => "/agents/#{@agent.id}/offices/#{@office.id}/search_results/save_email_configuration", :html => {:class => 'propertyform full', :multipart => true, :id => 'ressalesform'} do |email| %>
  <%= email.error_messages :class => 'errortext' %>
<table class="email-tab">
    <tr class="email-configuration">
      <td class="email-configuration"><h3>Sender</h3></td>
      <td class="email-configuration"></td>
    </tr>
    <tr class="email-configuration" style="background: transparent">
      <td class="grey-table">Sender Email</td>
      <td><%= email.text_field :sender_email, :value => "#{current_user.email}",:class => "single" %></td>
    </tr>
    <tr class="email-configuration" style="background: transparent">
      <td class="grey-table">Sender Name</td>
      <td><%= email.text_field :sender_name, :value => "#{current_user.full_name}", :class => "single" %></td>
    </tr>
    <tr class="email-configuration" style="background: transparent">
      <td class="grey-table">Send BCC</td>
      <td><%= email.text_field :send_bcc, :value => "#{current_user.email}", :class => "single" %></td>
    </tr>
  </table>
<table class="email-tab">
    <tr class="email-configuration">
      <td class="email-configuration"><h3>Recipient</h3></td>
      <td class="email-configuration"></td>
    </tr>
    <tr class="email-configuration" style="background: transparent">
      <td class="grey-table-bottom">Date</td>
      <td><%= Time.now.strftime('%d/%m/%Y') %></td>
    </tr>
    <tr class="email-configuration" style="background: transparent">
      <td class="grey-table-bottom">Contact Name</td>
      <td><%= email.text_field :contact_name, :value => "%first_name%", :class => "single", :disabled => true %></td>
    </tr>
    <tr class="email-configuration" style="background: transparent">
      <td class="grey-table-bottom">Title</td>
      <td><%= email.text_field :title, :value => "New Listing (#{Time.now.strftime('%d/%m/%Y')})", :class => "single" %></td>
    </tr>
    <tr class="email-configuration" style="background: transparent">
      <td class="grey-table-bottom">Comments</td>
      <td><%= email.text_area :comments, :value => @contents %></td>
    </tr>
  </table>
  <br/>

  <div class="match-contacts-selected">
    <h3>Selected contact</h3>
    <%= hidden_field_tag :agent_contact_id, :class => "single" %>
    <div id="propertydatadiv" class="group">
      <div class="set">
        <fieldset class="pf_fs5">
          <ul class="pf-ul">
        <li class="li--23"><label><span>Contact Name</span></label>
          <div id="contact_name"></div>
          <span id="indicator1" style="display:none;"><img src="/images/search-loader.gif" id="contact-loader"></img></span>
        </li>
        </ul>
        </fieldset>
      </div>
    </div>
  </div>

  <br/>

  <div>
    <%= render :partial => 'contact_filter' %>
  </div>

  <div class="clear"></div>
  <a href="javascript:$('#ressalesform').submit()" style="float:right;margin-left: 5px" class="buttons">Send</a>
  <span style="padding-left: 2px"></span>
  <a href="<%=@url_search%>" class="buttons" style="float:right">Cancel</a>
<%end%>
