<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <% if @pdf_configuration.blank? %>
    <%= stylesheet_link_tag 'new_pdf' %>
    <%else%>
    <%= stylesheet_link_tag 'pdf_style' %>
    <%end%>
  </head>
  <body>
  <% if @pdf_configuration.blank? %>
    <% @properties.each do |property| %>
      <div class="container">
        <div class="head">
          <h2><b><%= property.agent.developer.name rescue nil %></b> <%= property.office.name rescue nil %></h2>
          <div class="addressBox">
            <b><%= property.agent.developer.name rescue nil %> <%= property.office.name rescue nil %> <%= property.suburb.blank? ? "" : "(#{property.suburb})" %></b>  <!--ABN 981 227 35871--><br />
            <span><%= property.unit_number.blank? ? "" : "Suite #{property.unit_number},"%> <%= property.detail.number_of_floors.blank? ? "" : "Level #{property.detail.number_of_floors}" if property.detail && !property.type.to_s == "BusinessSale" %> <%= property.address %></span>
          </div>
        </div>
        <div class="clear"></div>
        <div class="content">
          <% if property.is_lease? %>
            <div class="leaseInfo">
              <h3>Lease</h3>
              <p><%= property.address %></p>
              <table>
                <tr>
                  <td>NET YIELD
                  </td>
                  <td>:
                  </td>
                  <td><%= property.detail.rental_yield.blank? ? "N/A" : "property.detail.rental_yield" if property.detail %>
                  </td>
                </tr>
                <tr>
                  <td>PRICE
                  </td>
                  <td>:
                  </td>
                  <td><%= number_to_currency(property.price) rescue nil %>
                  </td>
                </tr>
              </table>
            </div>
          <%end%>
          <div class="infoLeft">
            <% if property.is_lease? %>
            <div class="propArea">
              <%else%>
              <div class="propArea bgGrey">
              <%end%>
              <h3>Property Area</h3>
              <table>
                <tr>
                  <td>Building Area :
                  </td>
                  <td><%= property.size_to.blank? ? "-" : "#{property.size_to} sqm"%>
                  </td>
                </tr>
                <tr>
                  <td>
                    Land Area :
                  </td>
                  <td>
                    <% unless ["NewDevelopment", "LandRelease", "LivestockSale", "GeneralSale"].include?(property.type.to_s) %>
                    <%= property.detail.land_area.blank? ? "-" : property.detail.land_area if property.detail %> <%= property.detail.land_area_metric.blank? ? "" : property.detail.land_area_metric if property.detail && property.detail.land_area %>
                    <%else%>
                    -
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <td>
                    Hardstand :
                  </td>
                  <td>
                    <% if property.type.to_s == "CommercialBuilding" %>
                    <%= property.detail.carspace_to.blank? ? "-" : "#{property.detail.carspace_to} sqm" if property.detail %>
                    <%else%>
                    -
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <td>
                    Car :
                  </td>
                  <td>
                    <% unless ["LivestockSale", "GeneralSale", "ClearingSalesEvent", "ClearingSale"].include?(property.type.to_s) %>
                    <%= property.detail.carport_spaces.blank? ? "-" : property.detail.carport_spaces if property.detail %>
                    <%end%>
                  </td>
                </tr>
              </table>
            </div>

            <% if property.is_lease? %>
              <div class="propArea bgGrey">
            <%else%>
              <div class="propArea">
            <%end%>
              <h3>Tenancy Details</h3>
              <h3>Tenancy :</h3>
              <table>
                <tr>
                  <td>Office Showroom :
                  </td>
                  <td><% if ["Commercial", "CommercialBuilding"].include?(property.type.to_s) %>
                    <%= property.detail.office_area.blank? ? "-" : property.detail.office_area if property.detail %> <%= property.detail.office_area_metric.blank? ? "" : property.detail.office_area_metric if property.detail && property.detail.office_area %>
                    <%else%>
                    -
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <td>

                    Mezzanine :
                  </td>
                  <td>
                    <%= property.detail.floor_area.blank? ? "-" : property.detail.floor_area if property.detail %> <%= property.detail.floor_area_metric.blank? ? "" : property.detail.floor_area_metric if property.detail && property.detail.floor_area %>
                  </td>
                </tr>
                <tr>
                  <td>

                    Warehouse :
                  </td>
                  <td>

                    <% if ["Commercial", "CommercialBuilding"].include?(property.type.to_s) %>
                    <%= property.detail.warehouse_area.blank? ? "-" : property.detail.warehouse_area if property.detail %> <%= property.detail.warehouse_area_metric.blank? ? "" : property.detail.warehouse_area_metric if property.detail && property.detail.warehouse_area %>
                    <%else%>
                    -
                    <%end%>
                  </td>
                </tr><tr>
                  <td>
                    Other :
                  </td>
                  <td>

                    <% if ["Commercial", "CommercialBuilding"].include?(property.type.to_s) %>
                    <%= property.detail.other_area.blank? ? "-" : property.detail.other_area if property.detail %> <%= property.detail.other_area_metric.blank? ? "" : property.detail.other_area_metric if property.detail && property.detail.other_area %>
                    <%else%>
                    -
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <td>
                    Total Floor Area :
                  </td>
                  <td>

                    <% unless ["NewDevelopment", "LandRelease", "LivestockSale", "GeneralSale"].include?(property.type.to_s) %>
                    <%= property.detail.floor_area.blank? ? "-" : property.detail.floor_area if property.detail %> <%= property.detail.floor_area_metric.blank? ? "" : property.detail.floor_area_metric if property.detail && property.detail.floor_area %>
                    <%else%>
                    -
                    <%end%>
                  </td>
                </tr>
              </table>
            </div>

            <% if ["Commercial", "CommercialBuilding"].include?(property.type.to_s) %>
            <% if property.is_lease? %>
            <div class="propArea">
              <%else%>
              <div class="propArea bgGrey">
              <%end%>
              <h3>Rentals Detail</h3>
              <table>
                <tr>
                  <td>Annual Rental :
                  </td>
                  <td><%= property.detail.current_rent.blank? ? "-" : number_to_currency(property.detail.current_rent) if property.detail %>
                  </td>
                </tr>
                <tr>
                  <td>

                    Rate per sqm :
                  </td>
                  <td>

                    <%= property.detail.rental_price_to.blank? ? "-" : number_to_currency(property.detail.rental_price_to) if property.detail %>
                  </td>
                </tr>
                <tr>
                  <td>

                    Lease Term :
                  </td>
                  <td>

                    <%= property.lease_term %>
                  </td>
                </tr>
                <tr>
                  <td>

                    Rent Review :

                  </td>
                  <td>

                    -
                  </td>
                </tr>
                <tr>
                  <td>
                    Outgoings :

                  </td>
                  <td>

                    <% unless property.detail.outgoings_paid_by.blank? %>
                      <% if property.detail.outgoings_paid_by %>
                        Paid by Tenant
                      <%else%>
                        Paid by Owner
                      <%end%>
                      <%else%>
                      -
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <td>
                    Currently Tenanted :
                  </td>
                  <td>

                    <% if property.currently_tenanted? == true %>
                      Yes
                    <%else%>
                      No
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <td>
                    Zoning :

                  </td>
                  <td>

                    <%= property.detail.zoning.blank? ? "-" : property.detail.zoning if property.detail %>
                  </td>
                </tr>
              </table>
            </div>
            <%end%>

            <% if ["Commercial", "CommercialBuilding"].include?(property.type.to_s) %>
              <% if property.is_lease? %>
                <div class="propArea descBox bgGrey" style="height:300px">
              <%else%>
                <% unless property.type == "CommercialBuilding" %>
                  <div class="propArea descBox bgGrey commercial">
                <%else%>
                  <div class="propArea descBox" style="height:425px">
                <%end%>
              <%end%>
            <%else%>
              <div class="propArea descBox bgGrey nonCommercial">
            <%end%>
              <h3>Description & Comments :</h3>
              <p>
                <%= truncate(property.description, :length => 1000, :omission => "...") %>
              </p>
            </div>
          </div>
          <div class="infoRight">
            <div class="propPhoto">
              <% if property.images && property.images.first %>
                <%= image_tag(property.images.first.public_filename, :size => "300x241") %>
              <%else%>
                <%= image_tag("/images/no-image.jpeg", :size => "300x241") %>
              <%end%>
            </div>
            <div class="mapBox">
              <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?q=<%= property.suburb.blank? ? '' : property.suburb %>&amp;oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hq=&amp;hnear=<%= property.suburb.blank? ? '' : property.suburb %>,+<%= property.town_village.blank? ? '' : property.town_village %>,+Australia&amp;t=m&amp;ll=<%= property.latitude %>,<%= property.longitude %>&amp;spn=0.058057,0.222473&amp;z=12&amp;output=embed"></iframe>
            </div>
            <div class="contactBox">
              <h3>Contacts</h3>
              <% if property.primary_contact %>
              <p>
                <b><%= property.primary_contact.full_name %></b> <%= property.primary_contact.phone %><br />
                <%= property.primary_contact.email %><br />
                <%= property.primary_contact.website_url %>
              </p>
              <%end%>

              <% if property.secondary_contact %>
              <p>
                <b><%= property.secondary_contact.full_name %></b> <%= property.secondary_contact.phone %><br />
                <%= property.secondary_contact.email %><br />
                <%= property.secondary_contact.website_url %>
              </p>
              <%end%>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="copyBox">
          <h3>All Prices are exclusive of GST</h3>

          <p>Disclaimer. Information in this document may have been provided to <%= property.agent.developer.name%> <%= property.office.name %> <%= property.office.suburb.blank? ? '' : property.office.suburb if property.office %> by other people and we don't warrant it is accurate or correct. Figures quotes are approximate only and financial information is provided without reference to the possible Impact of GST. Interested parties should make their own enquires and seek independent advice before acting. Subject and statutory limitation on it's ability to do si, <%= property.agent.developer.name%> <%= property.office.name %> disclaims liablity under any cause of action including neglience for any loss arising from reliance upon this document. This document is nnot an offer or part of a contract of sale or lease.
          </p>
        </div>
      </div>
      <div style="clear: both"></div>
    <%end%>
    <%else%>
    <% @properties.each do |property| %>
      <% @property = property %>
      <% @detail = property.detail %>
      <%= render :partial => "search_results/theme/#{@pdf_configuration.theme}", :locals => { :property => property } %>
      <div style="clear: both"></div>
    <%end%>
    <%end%>
  </body>
</html>
