<script type="text/javascript">
  function add_regions(){
    var all_id = $("#regions_id").val();
    var arry_region = all_id.split('#');
    var add = 0;
    if($("#region_name_input").val()!=''){
      for(var x=0; x < arry_region.length; x++){
        if((arry_region[x]!='')&&(arry_region[x]==$("#region_name_input").val())){
          add = 1
        }
      }
      if(add != 1){
        var new_regions = $("#regions_id").val() + ',' + $("#region_name_input").val()
        var currentdate = new Date();
        var id_region = currentdate.getTime();
        var region_name = $("#region_name_input").val();
        $("#regions_id").attr('value', new_regions);
        $("#regions").append('<div id="'+id_region+'"style="padding-left:176px;width:200px"class="property_type_selected">'+region_name+'\
         <a href="javascript:remove_region('+id_region+',\''+region_name+'\')">x</a></div>');
      }
    }
  }

  function remove_region(id,region){
    var all_id = $("#regions_id").val();
    var arry_region = all_id.split(',');
    arry_region.splice(arry_region.indexOf(region), 1);
    $("#regions_id").val("");
    $("#regions_id").attr("value", arry_region);
    $('#regions div#'+id).remove();
  }

  function add_suburbs(){
    var all_id = $("#suburbs_id").val();
    var arry_suburb = all_id.split(',');
    var add = 0;
    if($("#suburb_name_input").val()!=''){
      for(var x=0; x < arry_suburb.length; x++){
        if((arry_suburb[x]!='')&&(arry_suburb[x]==$("#suburb_name_input").val())){
          add = 1
        }
      }
      if(add != 1){
        var new_suburbs = $("#suburbs_id").val() + ',' + $("#suburb_name_input").val()
        var currentdate = new Date();
        var id_suburb = currentdate.getTime();
        var suburb_name = $("#suburb_name_input").val();
        $("#suburbs_id").attr('value', new_suburbs);
        $("#suburbs").append('<div id="'+id_suburb+'"style="padding-left:176px;;width:200px"class="property_type_selected">'+suburb_name+'\
         <a href="#" onclick="remove_suburb('+id_suburb+',\''+suburb_name+'\')">x</a></div>');
      }
    }
  }

  function remove_suburb(id,suburb){
    var all_id = $("#suburbs_id").val();
    var arry_suburb = all_id.split(',');
    arry_suburb.splice(arry_suburb.indexOf(suburb), 1);
    $("#suburbs_id").val("");
    $("#suburbs_id").attr("value", arry_suburb);
    $("#suburbs div#"+id).remove();
  }

  function tenant_flexbox(){
    var query = "<%= @tenant_name %>";
    jQuery("#tenant_name").flexbox('<%= auto_complete_tenant_agent_office_search_results_path(@agent, @office) %>',{
      customParameters: {q: query},
      method: 'post',
      watermark: query,
      showArrow: false,
      inputClass: 'single',
      minChars: 2,
      width:200,
      queryDelay: 300,
      paging:true,
      highlightMatches:true,
      containerClass:'ffbContainer',
      onSelect: function(){
        $("#tenant").attr('value', this.getAttribute('hiddenValue'));
      }
    });
  }

  function property_owner_flexbox(){
    var query = "<%= @property_owner_name %>";
    jQuery("#property_owner_name").flexbox('<%= auto_complete_sale_property_agent_office_properties_path(@agent, @office) %>',{
      customParameters: {q: query},
      method: 'post',
      watermark: query,
      showArrow: false,
      inputClass: 'single',
      minChars: 2,
      width:320,
      queryDelay: 300,
      paging:true,
      highlightMatches:true,
      containerClass:'ffbContainer',
      onSelect: function(){
        $("#property_owner").attr('value', this.getAttribute('hiddenValue'));
      }
    });
  }

  $(document).ready(function(){
    tenant_flexbox();
    property_owner_flexbox();
    jQuery("#indicator1").ajaxStart(function(){
      jQuery(this).show();
    });
    jQuery("#indicator1").ajaxStop(function(){
      jQuery(this).hide();
    });
    $("#tenant_name_input").attr("name", "tenant_name_input").css({'width' : '320px', 'margin-left' : '-3px'});
    $("#tenant_name_input").val('<%= params[:tenant_name_input] %>');
    $("#region_name_input").css("margin-left","176px");
    $("#region_name_input").css("margin-top","-20px");
    $("#suburb_name_input").css("margin-left","176px");
    $("#suburb_name_input").css("margin-top","-20px");
    //$('a#history_link').css("display", "none");
    $('.form_area').css("display", "none");
    $('.advanced_commercial_search').css("display", "none");
    $('.advanced_search').click(function(){
<% if @office.is_only_allow_residential? %>
        if ($('a.advanced_search').text() == 'Advanced Search')
        {
          $('a.advanced_search').text('Basic Search');
          $('dd.sinput').css("display", "none");
          $('li.non-separator').css("display", "none");
          $('li.separator').css("display", "block");
          $('.form_area').css("display", "block");
          $("input#listing_type_residentialsale").attr('checked','checked');
          $('.keyword').css("display", "none");
          $('.btns_green').css("margin-left", "-10px");
          $('.btn_grey').css("margin-left", "30px");

          $('div.advanced_commercial_search').css("display", "block");
          $('dl#residential').css("display", "block");
          $('dl#residential_building').css("display", "block");
          $('dl#commercial').css("display", "none");
          $('li.commercial').css("display", "none");
          $('li.residential').css("display", "block");
          $('div.non_commercial_advanced_search').css("display", "none");
          $('label#residential_building').show();
        }else{
          $('a.advanced_search').text('Advanced Search');
          $('dd.sinput').css("display", "block");
          $('li.non-separator').css("display", "block");
          $('li.separator').css("display", "none");
          $('.form_area').css("display", "none");
          $('input#listing_type_projectsale').removeAttr('checked');
          $('.keyword').css("display", "block");
        }
<%elsif @office.is_only_allow_commercial?%>
        if ($('a.advanced_search').text() == 'Advanced Search')
        {
          $('a.advanced_search').text('Basic Search');
          $('dd.sinput').css("display", "none");
          $('li.non-separator').css("display", "none");
          $('li.separator').css("display", "block");
          $('.form_area').css("display", "block");
          $("input#listing_type_commercial").attr('checked','checked');
          $('.keyword').css("display", "none");
          $('.btns_green').css("margin-left", "-10px");
          $('.btn_grey').css("margin-left", "30px");

          $('div.advanced_commercial_search').css("display", "block");
          $('dl#commercial').css("display", "block");
          $('li.commercial').css("display", "block");
          $('li.residential').css("display", "none");
          $('dl#residential').css("display", "none");
          $('dl#residential_building').css("display", "none");
          $('div.non_commercial_advanced_search').css("display", "none");
          $('label#residential_building').hide();
        }else{
          $('a.advanced_search').text('Advanced Search');
          $('dd.sinput').css("display", "block");
          $('li.non-separator').css("display", "block");
          $('li.separator').css("display", "none");
          $('.form_area').css("display", "none");
          $('input#listing_type_projectsale').removeAttr('checked');
          $('.keyword').css("display", "block");
        }
<%else%>
        if ($('a.advanced_search').text() == 'Advanced Search')
        {
          $('a.advanced_search').text('Basic Search');
          $('dd.sinput').css("display", "none");
          $('li.non-separator').css("display", "none");
          $('li.separator').css("display", "block");
          $('.form_area').css("display", "block");
  <%if params[:listing_type].blank?%>
            $('input#listing_type_projectsale').attr('checked','checked');
            $('input#ownership_internal').attr('checked', 'checked');
  <%elsif params[:listing_type] == "Commercial"%>
            $("input#listing_type_commercial").attr('checked','checked');
  <%elsif params[:listing_type] == "Residential"%>
            $("input#listing_type_residentialsale").attr('checked','checked');
  <%elsif params[:listing_type] == "Project" %>
            $("input#listing_type_projectsale").attr('checked','checked');
  <%else%>
            $("input#listing_type_business_sale").attr('checked','checked');
  <%end%>
          $('.keyword').css("display", "none");
          $('.btns_green').css("margin-left", "-10px");
          $('.btn_grey').css("margin-left", "30px");
        }else{
          $('a.advanced_search').text('Advanced Search');
          $('dd.sinput').css("display", "block");
          $('li.non-separator').css("display", "block");
          $('li.separator').css("display", "none");
          $('.form_area').css("display", "none");
          $('input#listing_type_projectsale').removeAttr('checked');
          $('.keyword').css("display", "block");
        }
<%end%>
    });
<% unless params[:search_keyword].blank? %>
      var keyword = $('input#search_keyword').val();
      $('input#search_keyword_name').val(keyword);
      $('input#keyword').val(keyword);
<%end%>
<% unless params[:search_keyword_advanced].blank? %>
      var keyword_advanced = $('input#search_keyword_advanced').val();
      $('input#search_keyword_name').val(keyword_advanced);
      $('input#keyword').val(keyword_advanced);
<%end%>
<%unless params[:listing_type].blank?%>
      $(".advanced_search").click();
  <% if params[:listing_type] == "Commercial" %>
        $("#listing_type_commercial").attr("checked", "checked");
        $('div.advanced_commercial_search').css("display", "block");
        $('dl#commercial').css("display", "block");
        $('li.commercial').css("display", "block");
        $('li.residential').css("display", "none");
        $('dl#residential').css("display", "none");
        $('dl#residential_building').css("display", "none");
        $('div.non_commercial_advanced_search').css("display", "none");
        $('label#residential_building').hide();
        $("#availiability").val("<%=params[:availiability]%>").attr("selected", "selected");
        $("#list_status_commercial").val("<%=params[:list_status_commercial]%>").attr("selected", "selected");
        $("#property_type").find("option[value='<%= params[:property_type]%>']").attr('selected', true);
        <% unless params[:ownership].blank? %>
          $("#ownership_<%= params[:ownership].downcase %>").attr('checked', 'checked');
        <%else%>
          $('input#ownership_internal').attr('checked', 'checked');
        <%end%>
        $("#commercial_type").val("<%=params[:commercial_type]%>").attr("selected", "selected");
        $("#state").val("<%=params[:state]%>").attr("selected", "selected");
        $("#regions_id").val("<%= params[:regions_id] %>").attr("selected", "selected");
        $("#suburbs_id").val("<%= params[:suburbs_id] %>").attr("selected", "selected");
        $("#region").val("<%=params[:region]%>").attr("selected", "selected");
        $("#suburb").val("<%=params[:suburb]%>");
        $("#agent_internal").val("<%=params[:agent_internal]%>").attr("selected", "selected");
        $("#network_agent").val("<%=params[:network_agent]%>").attr("selected", "selected");
        $("#agent_external").val("<%=params[:agent_external]%>").attr("selected", "selected");
        $("#yield_from").val("<%=params[:yield_from]%>");
        $("#yield_to").val("<%=params[:yield_to]%>");
        $("#building_from").val("<%=params[:building_from]%>");
        $("#building_to").val("<%=params[:building_to]%>");
        $("#land_from").val("<%=params[:land_from]%>");
        $("#land_to").val("<%=params[:land_to]%>");
        $("#price_from_commercial").val("<%=params[:price_from_commercial]%>");
        $("#price_to_commercial").val("<%=params[:price_to_commercial]%>");
        $("#annual_rental_from").val("<%=params[:annual_rental_from]%>");
        $("#annual_rental_to").val("<%=params[:annual_rental_to]%>");
        $("#property_owner").val("<%= params[:property_owner] %>").attr("selected", "selected");
        $("#floor_from").val("<%=params[:floor_from]%>");
        $("#floor_to").val("<%=params[:floor_to]%>");
        $("#office_from").val("<%=params[:office_from]%>");
        $("#office_to").val("<%=params[:office_to]%>");
        $("#warehouse_from").val("<%=params[:warehouse_from]%>");
        $("#warehouse_to").val("<%=params[:warehouse_to]%>");
        $("#rent_from").val("<%=params[:rent_from]%>");
        $("#rent_to").val("<%=params[:rent_to]%>");
        $("#lease_from").val("<%=params[:lease_from]%>");
        $("#lease_to").val("<%=params[:lease_to]%>");
        $("#tenant").val("<%=params[:tenant]%>");

        //Populate
        //$("li.commercial #list_status").val("<%#=params[:list_status]%>").attr("selected", "selected");
    <% unless params[:type_commercial].blank? %>
      <% params[:type_commercial].each do |com_type| %>
            $("#type_commercial_<%=com_type.downcase.gsub(" ", "_").gsub("/", "_").gsub("&", "_")%>").attr("checked", "checked");
      <%end%>
    <%end%>
        //End
  <%elsif params[:listing_type] == "Residential" %>
        $("#listing_type_residentialsale").attr("checked", "checked");
        $('div.advanced_commercial_search').css("display", "block");
        $('dl#residential').css("display", "block");
        $('dl#residential_building').css("display", "block");
        $('dl#commercial').css("display", "none");
        $('li.commercial').css("display", "none");
        $('li.residential').css("display", "block");
        $('div.non_commercial_advanced_search').css("display", "none");
        $('label#residential_building').show();

        //Populate
        $("#availiability").val("<%=params[:availiability]%>").attr("selected", "selected");
        $("#list_status_residential").val("<%=params[:list_status_residential]%>").attr("selected", "selected");
        $("#state").val("<%=params[:state]%>").attr("selected", "selected");
        $("#regions_id").val("<%= params[:regions_id] %>").attr("selected", "selected");
        $("#suburbs_id").val("<%= params[:suburbs_id] %>").attr("selected", "selected");
        $("#region").val("<%=params[:region]%>").attr("selected", "selected");
        $("#suburb").val("<%=params[:suburb]%>");
        $("#agent_internal").val("<%=params[:agent_internal]%>").attr("selected", "selected");
        $("#network_agent").val("<%=params[:network_agent]%>").attr("selected", "selected");
        $("#agent_external").val("<%=params[:agent_external]%>").attr("selected", "selected");
        $("#yield_from").val("<%=params[:yield_from]%>");
        $("#yield_to").val("<%=params[:yield_to]%>");
        $("#building_from").val("<%=params[:building_from]%>");
        $("#building_to").val("<%=params[:building_to]%>");
        $("#land_from").val("<%=params[:land_from]%>");
        $("#land_to").val("<%=params[:land_to]%>");
        $("#price_from_commercial").val("<%=params[:price_from_commercial]%>");
        $("#price_to_commercial").val("<%=params[:price_to_commercial]%>");
        $("#annual_rental_from").val("<%=params[:annual_rental_from]%>");
        $("#annual_rental_to").val("<%=params[:annual_rental_to]%>");
        $("#property_owner").val("<%= params[:property_owner] %>").attr("selected", "selected");
        $("#floor_from").val("<%=params[:floor_from]%>");
        $("#floor_to").val("<%=params[:floor_to]%>");
        $("#office_from").val("<%=params[:office_from]%>");
        $("#office_to").val("<%=params[:office_to]%>");
        $("#warehouse_from").val("<%=params[:warehouse_from]%>");
        $("#warehouse_to").val("<%=params[:warehouse_to]%>");
        $("#rent_from").val("<%=params[:rent_from]%>");
        $("#rent_to").val("<%=params[:rent_to]%>");
        $("#lease_from").val("<%=params[:lease_from]%>");
        $("#lease_to").val("<%=params[:lease_to]%>");
        $("#tenant").val("<%=params[:tenant]%>");
    <% unless params[:type].blank? %>
      <% params[:type].each do |type| %>
        <% if type == "Acreage/Semi-Rural" %>
              $("#type_acreage_semi_rural").attr("checked", "checked");
        <%elsif type == "Development/knockdown"%>
              $("#type_development_knockdown").attr("checked", "checked");
        <%elsif type == "Vicarage/Parsonage/Rectory"%>
              $("#type_vicarage_parsonage_rectory").attr("checked", "checked");
        <%elsif type == "Garage/Parking"%>
              $("#type_garage_parking").attr("checked", "checked");
        <%elsif type == "Mobile/Manufactured"%>
              $("#type_mobile_manufactured").attr("checked", "checked");
        <%else%>
              $("#type_<%=type.downcase.gsub(" ", "_").gsub("/", "_").gsub("&", "_")%>").attr("checked", "checked");
        <%end%>
      <%end%>
    <%end%>
    <%unless params[:residential_building].blank? %>
      <% params[:residential_building].each do |res_build| %>
            $("#residential_building_<%= res_build.gsub(" ", "_").downcase %>").attr("checked", "checked");
      <%end%>
    <%end%>
        //End
  <%elsif params[:listing_type] == "Project" %>
        $('input#listing_type_projectsale').attr('checked','checked');
        $('div.advanced_commercial_search').css("display", "none");
        $('div.non_commercial_advanced_search').css("display", "block");

        //Populate
        // $("#property_type").val("<%=params[:property_type]%>").attr("selected", "selected");
        $("select#property_type").find("option[value='<%= params[:property_type] %>']").attr('selected', 'selected');
        $("#price_from").val("<%=params[:price_from]%>");
        $("#price_to").val("<%=params[:price_to]%>");
        $("#deal_type").val("<%=params[:deal_type]%>").attr("selected", "selected");
        $("#suites").val("<%=params[:suites]%>").attr("selected", "selected");
        $("#range_from").val("<%=params[:range_from]%>").attr("selected", "selected");
        $("#range_to").val("<%=params[:range_to]%>").attr("selected", "selected");
        //End
  <%else%>
        $("li.business_category").show();
        $(".business_sale").show();
        $("#business_type").show();
        $(".property_type").css("display", "none");
        $("select#property_type").css("display", "none");
        $("input#property_type").css("display", "none");
        $('.non_commercial_advanced_search #property_type').attr('disabled', false);
        $('div.advanced_commercial_search').css("display", "none");
        $('div.non_commercial_advanced_search').css("display", "block");

        $("#business_type").find("option[value='<%= params[:business_type] %>']").attr('selected', 'selected');
        change_category('<%= params[:business_type] %>');
        //Populate
        $("#price_from").val("<%=params[:price_from]%>");
        $("#price_to").val("<%=params[:price_to]%>");
        $("#deal_type").val("<%=params[:deal_type]%>").attr("selected", "selected");
        $("#suites").val("<%=params[:suites]%>").attr("selected", "selected");
        $("#range_from").val("<%=params[:range_from]%>").attr("selected", "selected");
        $("#range_to").val("<%=params[:range_to]%>").attr("selected", "selected");
  <%end%>
<%end%>
  });

  $('input.listing_type').live('change', function(){
    var checked = $('input.listing_type:checked').val() == 'Commercial';
    var checked_residential = $('input.listing_type:checked').val() == 'Residential';
    var checked_project = $('input.listing_type:checked').val() == 'Project';
    if (checked)
    {
<% params[:residential_building] = nil %>
      $('div.advanced_commercial_search').css("display", "block");
      $('dl#commercial').css("display", "block");
      $('li.commercial').css("display", "block");
      $('li.residential').css("display", "none");
      $('dl#residential').css("display", "none");
      $('dl#residential_building').css("display", "none");
      $('div.non_commercial_advanced_search').css("display", "none");
      $('label#residential_building').hide();
      $('.non_commercial_advanced_search #property_type').attr('disabled', true);
    }else if (checked_residential){
      $('div.advanced_commercial_search').css("display", "block");
      $('dl#residential').css("display", "block");
      $('dl#residential_building').css("display", "block");
      $('dl#commercial').css("display", "none");
      $('li.commercial').css("display", "none");
      $('li.residential').css("display", "block");
      $('div.non_commercial_advanced_search').css("display", "none");
      $('label#residential_building').show();
    }else if (checked_project){
      $('.non_commercial_advanced_search #property_type').attr('disabled', false);
      $('div.advanced_commercial_search').css("display", "none");
      $('div.non_commercial_advanced_search').css("display", "block");
      $("li.business_category").css("display", "none");
      $(".business_sale").css("display", "none");
      $("#business_type").css("display", "none");
      $(".property_type").show()
      $("select#property_type").show();
      $("#business_type").val("");
      $("#business_category").val("");
    }else{
      $("select#property_type").val("");
      $("li.business_category").show();
      $(".business_sale").show();
      $("#business_type").show();
      $(".property_type").css("display", "none");
      $("select#property_type").css("display", "none");
      $("input#property_type").css("display", "none").val("");
      $('.non_commercial_advanced_search #property_type').attr('disabled', false);
      $('div.advanced_commercial_search').css("display", "none");
      $('div.non_commercial_advanced_search').css("display", "block");
    }
  });

  $("#business_type").live('change', function(){
    change_category($(this).val());
  })

  $('#exact').live('change', function(){
    var email = $('#exact').val() == "email";
    var print = $('#exact').val() == "print";
    if (email){
      $('input.send-email').click();
    }else if (print){
      $('input.print').click();
    }
  });

  $('#similiar').live('change', function(){
    var email = $('#similiar').val() == "email";
    if (email){
      $('input.send-email').click();
    }
  });

  $('#similiar').live('change', function(){
    var print = $('#similiar').val() == "print";
    if (print){
      $('input.print').click();
    }
  });

  $('button.btn_img_search').live('click', function(){
    $('input.btn_img_search').click();
  });

  $("#state").live("change", function(){
    populate_regions();
  });

  $("#region_name_input").live("change", function(){
    add_regions();
    populate_suburbs();
  });

  $("#suburb_name_input").live("change", function(){
    add_suburbs();
  });

  function change_category(ptype){
    var base_address = $("li.business_category");
    var controller = "<%= change_property_types_agent_office_search_results_path(@agent, @office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data: {"ptype" : ptype},
      dataType:"html",
      beforeSend:function(){
        $('#business_type').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#business_category').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
      },
      success:function(data){
        $('#business_type').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#business_category').removeAttr('disabled').css('background-color', '#FFFFFF');
        jQuery("li.business_category").html(data);
        <% if params[:business_category].blank? %>
          //$("#business_category").find("option[value='<%#=@property.detail.category%>']").attr('selected', 'selected');
        <%else%>
          $("#business_category").find("option[value='<%=params[:business_category]%>']").attr('selected', 'selected');
        <%end%>
      }
    })
  }

  function populate_suburbs(){
    var base_address = $("li.suburbs");
    var controller = "<%= populate_suburbs_agent_office_search_results_path(@agent, @office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data: {"region_name" : $('#region_name_input').val(), "state_name" : $('#state').val(), "arr_suburb" : $("#suburbs_id").val()},
      dataType:"html",
      beforeSend:function(){
        $('#state').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#region_name_input').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#suburb_name_input').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
      },
      success:function(data){
        $('#state').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#region_name_input').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#suburb_name_input').removeAttr('disabled').css('background-color', '#FFFFFF');
        jQuery("li.suburbs").html(data);
      }
      })
    }

  function populate_regions(){
    var base_address = $("ul.locations");
    var controller = "<%= populate_regions_agent_office_search_results_path(@agent, @office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data: {"state_name" : $('#state').val()},
      dataType:"html",
      beforeSend:function(){
        $('#state').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#region_name_input').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#suburb_name_input').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
      },
      success:function(data){
        $('#state').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#region_name_input').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#suburb_name_input').removeAttr('disabled').css('background-color', '#FFFFFF');
        jQuery("ul.locations").html(data);
      }
    })
  }
</script>
<script type="text/javascript">
  $(function(){
    $('.datepicker').datepicker({
      dateFormat: 'dd/mm/yy'
    });
    $('.loading').hide();
  });
</script>
<style>
  #property_owner_name_ctr{
    top: 20px !important;
    right: 66px;
    margin-left: -138px;
  }
</style>
<!--[if IE 8]>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#tenant_name_input").attr("name", "tenant_name_input").css({'width' : '320px', 'margin-left' : '-8px'});
  </script>
<![endif]-->
<%= render "properties/display_or_create_listing" %>
<br/>
<div class="basic_search">
  <h3>Search Results</h3>
  <dl class="form_search_results">
    <% form_tag agent_office_search_results_path, :method => 'get' do %>
      <dd class="sinput separator_form">
        <div class="keyword">
          <%= text_field_tag :search_keyword, params[:search_keyword], :class => "search_input", :placeholder => "Search keywords..." %>
          <button class="btn_img_search" id="search_button_submit"><span class="icon_search"></span></button>
          <%= submit_tag 'Search', :class => "btn_img_search", :style => "display:none;" %>
        </div>
        <div class="clearer"></div>
      </dd>
    <%end%>
    <dd>
      <ul class="listing_layout">
        <li class="separator" style="display:none;">
          <% form_for :search, @search, :url => agent_office_search_results_path(@agent,@office), :html => {:class => 'propertyform full'} do |f| %>
            <%= f.text_field :keyword_name, :style => "display:none;" %>
            <%= f.submit "Save Search", :class => "buttons btns_green"%>
          <%end%>
        </li>
        <li class="non-separator">
          <% form_for :search, @search, :url => agent_office_search_results_path(@agent,@office), :html => {:class => 'propertyform full'} do |f| %>
            <%= f.text_field :keyword_name, :style => "display:none;" %>
            <%= f.submit "Save Search", :class => "buttons btns_green" %>
          <%end%>
        </li>
        <li>
          <%= link_to "search history", history_agent_office_search_results_path(@agent.id,@office.id), :class => "buttons btns_grey", :style => "font-size: 10px;color:#28323C" %>
        </li>
      </ul>
    </dd>
  </dl>
  <div class="clearer"></div>
  <a href="#" class="advanced_search">Advanced Search</a>
  <% form_tag agent_office_search_results_path, :method => 'get' do %>
    <div class="form_area">
      <ul class="form_listing position_left">
        <li>
          <label for="keyword">keyword</label>
          <%= text_field_tag :search_keyword_advanced, params[:search_keyword_advanced],:class => "single", :placeholder => "Search keywords..." %>
        </li>
        <li>
          <label class="position_left">listing type</label>
          <div class="position_left list_radio_button">
            <% if @office.is_allow_commercial? %>
              <label for="commercial">
                <input class="listing_type" id="listing_type_commercial" name="listing_type" type="radio" value="Commercial" />
                <span>commercial</span>
              </label>
            <%end%>

            <% if @office.is_allow_residential? %>
              <label for="residential">
                <input class="listing_type" id="listing_type_residentialsale" name="listing_type" type="radio" value="Residential" />
                <span>residential</span>
              </label>
            <%end%>

            <% if @office.is_allow_houseland? %>
              <label for="house_land">
                <input class="listing_type" id="listing_type_projectsale" name="listing_type" type="radio" value="Project" />
                <span>house & land</span>
              </label>
            <%end%>

            <% if @office.is_allow_business_sale? %>
              <label for="business_sale">
                <input class="listing_type" id="listing_type_business_sale" name="listing_type" type="radio" value="BusinessSale" />
                <span>business sale</span>
              </label>
            <%end%>
          </div>
          <div class="clearer"></div>
        </li>
        <div class="clearer"></div>
      </ul>

      <div class="advanced_commercial_search">
        <div class="clearer"></div>
        <h3 class="caption_form">
          <span>General Details</span>
        </h3>
        <ul class="form_listing width_full">
          <li>
            <label for="keyword" class="position_left">type</label>
            <dl id="residential" class="list_checkbox position_left">
              <% @residential_types.each do |rtype| %>
                <dd>
                  <input id="type_<%=rtype.name.downcase.gsub(" ", "_").gsub("/", "_").gsub("&", "_")%>" type="checkbox" value="<%=rtype.name%>" name="type[]"/>
                  <label for="<%=rtype.name%>"><%=rtype.name%></label>
                </dd>
              <%end%>
            </dl>
            <dl id="commercial" class="list_checkbox position_left">
              <% @commercial_types.each do |ctype| %>
                <dd>
                  <input id="type_commercial_<%=ctype.name.downcase.gsub(" ", "_").gsub("/", "_").gsub("&", "_")%>" type="checkbox" value="<%=ctype.name%>" name="type_commercial[]"/>
                  <label for="<%=ctype.name%>"><%=ctype.name%></label>
                </dd>
              <%end%>
            </dl>
            <div class="clearer"></div>
          </li>
          <li>
            <label for="keyword" class="position_left" id="residential_building">residential buildings</label>
            <dl id="residential_building" class="list_checkbox position_left" >
              <% @residential_buildings.each do |residential_building| %>
                <dd>
                  <input id="residential_building_<%=residential_building.gsub(" ", "_").downcase%>" type="checkbox" value="<%=residential_building%>" name="residential_building[]"/>
                  <label for="<%=residential_building%>"><%=residential_building%></label>
                </dd>
              <%end%>
            </dl>
            <div class="clearer"></div>
          </li>
          <li>
            <label for="property_type">Availiability Type</label>
            <%= select_tag :availiability, options_for_select(availiability_options) %>
          </li>
          <li class="commercial">
            <label for="property_type">listing select status</label>
            <%= select_tag :list_status_commercial, options_for_select(status_property_commercial) %>
          </li>
          <li class="commercial">
            <label for="property_type">property type</label>
            <%= select_tag :property_type, options_for_select(@commercial_property_types) %>
          </li>
          <li class="commercial">
            <label for="property_type">ownership</label>
            <input class="ownership" id="ownership_internal" name="ownership" type="radio" value="Internal" />
            <span>Internal</span>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <input class="ownership" id="ownership_external" name="ownership" type="radio" value="External" />
            <span>External</span>
          </li>
          <li class="residential">
            <label for="property_type">listing select status</label>
            <%= select_tag :list_status_residential, options_for_select(status_property_residential) %>
          </li>
        </ul>

        <ul class="form_listing position_left locations">
          <li>
            <h3 class="caption_form">
              <span>Location Details</span>
            </h3>
          </li>
          <li>
            <label for="state">State</label>
            <%= select_tag 'state', options_for_select(@states), {:class => "select_box"} %>
          </li>
          <li>
            <label for="state">Region</label>
            <% if params[:listing_type].blank? %>
              <select id="region_name_input" name="region_name_input" class="select_box">
                <option>Please select</option>
              </select>
            <%else%>
              <% unless params[:regions_id].blank? || params[:state].blank? %>
                <% @regions = TownCountry.find_all_by_state_name(params[:state]).map{|x|[x.name,x.name]}.unshift(['Please select', '']) %>
                <%= select_tag 'region_name_input', options_for_select(@regions, params[:regions_id].split(',').last), {:class => "select_box"} %>
              <%else%>
                <%= select_tag 'region_name_input', options_for_select(['Please select', '']), {:class => "select_box"} %>
              <%end%>
            <%end%>
            <%= hidden_field_tag 'regions_id', @all_regions %>
            <div id="regions" style="width:300px;"><%= @all_regions_list %></div>
          </li>
          <li class="suburbs">
            <label for="state">Suburb</label>
            <% if params[:listing_type].blank? %>
              <select id="suburb_name_input" name="suburb_name_input" class="select_box">
                <option>Please select</option>
              </select>
            <%else%>
              <% unless params[:suburbs_id].blank? || params[:regions_id].blank? %>
                <% @suburbs = Suburb.find_all_by_region_name(params[:regions_id].split(',').last).map{|x|[x.name,x.name]}.unshift(['Please select', '']) %>
                <%= select_tag 'suburb_name_input', options_for_select(@suburbs, params[:suburbs_id].split(',').last), {:class => "select_box"} %>
              <%else%>
                <%= select_tag 'suburb_name_input', options_for_select(['Please select', '']), {:class => "select_box"} %>
              <%end%>
            <%end%>
            <%= hidden_field_tag 'suburbs_id', @all_suburbs %>
            <div id="suburbs" style="width:300px;"><%= @all_suburbs_list %></div>
          </li>
        </ul>

        <ul class="form_listing position_right">
          <li>
            <h3 class="caption_form">
              <span>Agent Details</span>
            </h3>
          </li>
          <li>
            <label for="internal">Internal Agent</label>
            <select id="agent_internal" class="select_box" name="agent_internal" >
              <option selected="selected" value="">Please Select From List</option>
              <% @internal_agents.each do |agent| %>
                <option value="<%=agent.id%>"><%=agent.full_name%></option>
              <%end%>
            </select>
          </li>
          <li>
            <label for="external">Network Agent</label>
            <select id="network_agent" class="select_box" name="network_agent" >
              <option selected="selected" value="">Please Select From List</option>
              <% @network_agents.each do |agent| %>
                <option value="<%=agent[1]%>"><%=agent[0]%></option>
              <%end%>
            </select>
          </li>
          <li>
            <label for="agent">External Agent</label>
            <select id="agent_external" class="select_box" name="agent_external" >
              <option selected="selected" value="">Please Select From List</option>
              <% @external_agents.each do |agent| %>
                <option value="<%=agent.id%>"><%=agent.full_name%></option>
              <%end%>
            </select>
          </li>
        </ul>
        <div class="clearer"></div>
        <ul class="form_listing position_left">
          <li>
            <h3 class="caption_form">
              <span>Sale Filters</span>
            </h3>
          </li>
          <li class="two_field">
            <label for="yield">Yield (%)</label>
            <%= text_field_tag :yield_from, nil, :class => "first_form" %>
            <label for="to_yield" class="second">to</label>
            <%= text_field_tag :yield_to %>
          </li>
          <li class="two_field">
            <label for="building">Building area</label>
            <%= text_field_tag :building_from, nil, :class => "first_form" %>
            <label for="to_building" class="second">to</label>
            <%= text_field_tag :building_to %>
          </li>
          <li class="two_field">
            <label for="land">Land area</label>
            <%= text_field_tag :land_from, nil, :class => "first_form" %>
            <label for="to_land" class="second">to</label>
            <%= text_field_tag :land_to %>
          </li>
          <li class="two_field commercial">
            <label for="asking">Asking Price</label>
            <%= text_field_tag :price_from_commercial, nil, :class => 'first_form' %>
            <label for="to_asking" class="second">to</label>
            <%= text_field_tag :price_to_commercial %>
          </li>
          <li class="two_field residential">
            <label for="asking">Asking Price</label>
            <%= text_field_tag :price_from_residential, @price_from_residential, :class => 'first_form' %>
            <label for="to_asking" class="second">to</label>
            <%= text_field_tag :price_to_residential, @price_to_residential %>
          </li>
          <li class="two_field">
            <label for="annual">Annual Rental</label>
            <%= text_field_tag :annual_rental_from, nil, :class => 'first_form' %>
            <label for="to_annual" class="second">to</label>
            <%= text_field_tag :annual_rental_to %>
          </li>
          <li>
            <label for="property_owner">Property Owner</label>
            <div id="property_owner_name" style="margin-left:171px;margin-top:-18px"></div>
            <%= hidden_field_tag :property_owner, @property_owner_id, :class => 'single' %>
          </li>
        </ul>

        <ul class="form_listing position_right">
          <li>
            <h3 class="caption_form">
              <span>Rental Filters</span>
            </h3>
          </li>
          <li class="two_field">
            <label for="floorArea">Total Floor Area</label>
            <%= text_field_tag :floor_from, nil, :class => 'first_form' %>
            <label for="to_floorArea" class="second">to</label>
            <%= text_field_tag :floor_to %>
          </li>
          <li class="two_field">
            <label for="office">Office</label>
            <%= text_field_tag :office_from, nil, :class => 'first_form' %>
            <label for="to_office" class="second">to</label>
            <%= text_field_tag :office_to %>
          </li>
          <li class="two_field">
            <label for="warehouse">Warehouse</label>
            <%= text_field_tag :warehouse_from, nil, :class => 'first_form' %>
            <label for="to_warehouse" class="second">to</label>
            <%= text_field_tag :warehouse_to %>
          </li>
          <li class="two_field">
            <label for="rent">Rent</label>
            <%= text_field_tag :rent_from, nil, :class => 'first_form' %>
            <label for="to_rent" class="second">to</label>
            <%= text_field_tag :rent_to %>
          </li>
          <li class="two_field">
            <label for="leaseexpiry">Lease expiry</label>
            <%= text_field_tag :lease_from, nil, :class => "first_form datepicker" %>
            <label for="to_leaseexpiry" class="second">to</label>
            <%= text_field_tag :lease_to, nil, :class => "single datepicker" %>
          </li>
          <li>
            <label for="tenant">Tenant</label>
            <div id="tenant_name" style="padding-left: 176px; margin-top: -19px;"></div>
            <%= hidden_field_tag :tenant, @tenant_id,:class => 'single' %>
          </li>
        </ul>
      </div>
      <div class="non_commercial_advanced_search">
        <ul class="form_listing position_right">
          <li>
              <label for="business_type" class="business_sale" style="display:none">business type</label>
              <%= select_tag :business_type, options_for_select(@ptypes), :style => "display:none" %>
              <label for="property_type" class="property_type">property type</label>
              <select id="property_type" class="select_box" name="property_type" style="width: 328px;">
              <option selected="selected" value="">Please Select</option>
              <% @property_type.each do |ptype| %>
                <option value="<%=ptype.name%>"><%=ptype.name%></option>
              <%end%>
            </select>
          </li>
            <li class="business_category" style="display:none">
              <label for="business_category" class="business_sale">category</label>
              <select id="business_category" class="select_box" name="business_category" >
                <option value=''>Please select</option>
              </select>
            </li>
          <li class="two_field">
            <label for="price_range">price range</label>
            <%= text_field_tag :price_from, nil, :class => 'first_form' %>
            <label for="to" class="second">to</label>
            <%= text_field_tag :price_to %>
          </li>
          <li>
            <label for="deal_type">status</label>
            <%= select_tag :deal_type, options_for_select(status_property_residential) %>
          </li>
          <li>
            <label for="suites">suites</label>
            <%= select_tag :suites, options_for_select(@suites) %>
          </li>
          <li class="two_field" last>
            <label for="sqm_range">sqm range</label>
            <%= select_tag :range_from, options_for_select(@ranges), :class => "first_form" %>

            <label for="to_sqm_range" class="second">to</label>
            <%= select_tag :range_to, options_for_select(@ranges) %>
          </li>
        </ul>
      </div>
      <div class="clearer"></div>
      <%= submit_tag 'Search', :class => 'buttons btns_yellow' %>
    </div>

  <%end%>
</div>
<% form_tag("/agents/#{@agent.id}/offices/#{@office.id}/search_results/create_match_properties") do %>
  <div class="section_captions">
    <!--<h5 class="caption_info">These listings are an exact match to your criteria</h5>-->
    <select name="these_listings" class="selectbox" id="exact">
      <option value="" selected="selected">Choose action</option>
      <option value="print">Print</option>
      <option value="email">Email</option>
    </select>
    <%= render :partial => 'filter' %>
    <input type="text" id="keyword" name="keyword" style="display:none" />
  </div>
  <div class="clear"></div>
  <!--<br/>
  <div class="section_captions">
    <h5 class="caption_info">These listings are similar to your criteria</h5>
    <select name="these_listings" class="selectbox" id="similiar">
      <option value="" selected="selected">Choose action</option>
      <option value="print">Print</option>
      <option value="email">Email</option>
    </select>
    <%#= render :partial => 'similiar_filter' %>
    <input type="text" id="keyword" name="keyword" style="display:none" />
  </div>
  <br/>-->
  <%= submit_tag "Email", :class => "send-email", :style => "display:none;" %>
  <%= submit_tag "Print", :class => "print", :style => "display:none;" %>
<%end%>