The PDF file was successfully generated, click <%= link_to "here", @display_url %> to see PDF results or <%= link_to "back to search results.", @url_search %>
<script type="text/javascript">
$(document).ready(function(){
  $('hr.separator').css("display", "none");
})
</script>