<script type="text/javascript">
  $(document).ready(function(){
    var query = '<%= @contact_name %>';
    var ff = jQuery("#purchaser_name").flexbox('<%= auto_complete_lease_property_agent_office_properties_path(@agent, @office) %>',{
      customParameters: {q: query},
      method: 'post',
      watermark: query,
      showArrow: false,
      inputClass: 'single',
      minChars: 2,
      width:250,
      queryDelay: 300,
      paging:false,
      highlightMatches:false,
      containerClass:'autopopup',
      onSelect: function(){
        $('#agent_name').attr('value', this.getAttribute('val'));
        $('#purchaser_agent_contact_id').attr('value', this.getAttribute('hiddenValue'));
        if($("#purchaser_agent_contact_id").val() != ""){
          $("#on_hold_only").attr("value", true);
          $("#add_contact").hide();
          $("#view_contact").show();
        }
        if($("#mark_for_deleted").val() == "true"){
          $("#mark_for_deleted").val("false");
        }
      }
    });
    jQuery("#indicator1").ajaxStart(function(){
      jQuery(this).show();
    });
    jQuery("#indicator1").ajaxStop(function(){
      $("#purchaser_name_ctr").width(250).css({"top":"20px"});
      jQuery(this).hide();
    });
  })

</script>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div id="clientdiv" class="block accounts full">
<% form_for :purchaser, @purchaser, :url => update_status_agent_office_property_tenancy_path(@agent,@office,@property,@tenancy), :html => {:method => :put, :class => 'statusform'} do |f| %>
  <% fields_for @purchaser_contact do |contact_fields| %>
    <%= contact_fields.error_messages :class => 'errortext' %>
    <%= f.error_messages :class => 'errortext' %>

    <div id="contactsdiv" class="block form group" style="background-color: #E1EBF5">
      <div id="purchaserdiv" >
        <br/>
        <% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
          <h6 class="full">Rental Details </h6>
        <% else %>
          <h6 class="full">Purchaser Details </h6>
        <% end %>
        <table  class="pf-table" style="border:none;width:900px;">
          <tr class="li--8">
            <td>
              <table class="pf-table" style="border:none;width:500px;">
                <tr class="li--8">
                  <td style="width: 38%">Contact Name:</td>
                  <td>
                    <%= f.hidden_field :agent_contact_id, :class => "single" %>
                    <%= hidden_field_tag "agent_name", @contact_name %>
                    <%= hidden_field_tag "add_new_contact" %>
                    <%= hidden_field_tag "edit_selected_contact" %>
                    <%= hidden_field_tag "on_hold_only" %>
                    <%= hidden_field_tag "mark_for_deleted" %>
                    <%= hidden_field_tag "edit_tenancy_contact" %>
                    <%= hidden_field_tag "edit_this_contact" %>
                    <table>
                      <tr>
                        <td style="width:260px;padding:0">
                          <div id="purchaser_name">
                          </div>
                        </td>
                        <td>
                          <img src="/images/search-loader.gif" id="indicator1" style="display:none;"/>
                          <a href="javascript:add_contact()" id="add_contact" style="color:blue;font-weight:none;" class="add-edit"><%= !@purchaser.blank? ? (@purchaser.agent_contact_id.blank? ? "Add" : "Edit") : "Add"  %></a>
                          <a href="javascript:remove_contact()" id="remove_contact" style="display:none;color:blue;font-weight:none;">Remove</a>
                          <a href="javascript:get_agent_contact()" id="view_contact" style="display:none;color:blue;font-weight:none;">View</a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr class="test-contact">
                  <% if @property.type.to_s == "Commercial" && @property.deal_type.to_s == "Lease" %>
                  <tr class="li--8 contact"><td>Company:</td><td><%= contact_fields.text_field :company, :class => "single" %></td></tr>
                <%end%>
                <tr class="li--8 contact"><td>First Name:</td><td><%= contact_fields.text_field :first_name, :class => "single" %></td></tr>
                <tr class="li--8 contact"><td>Last Name:</td><td><%= contact_fields.text_field :last_name, :class => "single" %></td></tr>
                <tr class="li--8 contact"><td>Email:</td><td><%= contact_fields.text_field :email, :class => "single" %></td></tr>
                <% unless @property.type.to_s == "Commercial" && @property.deal_type.to_s == "Lease" %>
                  <tr class="li--8 contact"><td>Home Number:</td><td><%= contact_fields.text_field :home_number, :class => "single" %></td></tr>
                  <tr class="li--8 contact"><td>Work Number:</td><td><%= contact_fields.text_field :work_number, :class => "single" %></td></tr>
                <%end%>
                <% if @property.type.to_s == "Commercial" && @property.deal_type.to_s == "Lease" %>
                  <tr class="li--8 contact"><td>Mobile:</td>
                  <%else%>
                  <tr class="li--8 contact"><td>Mobile Number:</td>
                  <%end%>
                  <td><%= contact_fields.text_field :mobile_number, :class => "single" %></td></tr>
                <% if @property.type.to_s == "Commercial" && @property.deal_type.to_s == "Lease" %>
                  <tr class="li--8 contact"><td>Phone:</td>
                  <%else%>
                  <tr class="li--8 contact"><td>Contact Number:</td>
                  <%end%>
                  <td><%= contact_fields.text_field :contact_number, :class => "single" %></td></tr>
          </tr>
        </table>
        </td>
        </tr>
        </table>
      </div>
      <div id="tenancydiv">
        <br/>
        <h6 class="full">Transaction Information</h6>
        <fieldset class="pf_fs5">
          <ul class="pf-ul" id="address_container">
            <li class="li--15"><label class="tenancy-edit">Rent (PSM)</label>
              $ <%= text_field_tag 'tenancy[rent]', @rent, :class => 'single transaction-input' %>
            </li>
            <li class="li--15"><label class="tenancy-edit">Net/Gross: Outgoings (PSM)</label>
              <span style="float:left;margin-right: 10px"><%= text_field_tag 'tenancy[outgoing]', @outgoing, :class => 'single' %>$</span>
              <%= select_tag 'tenancy[net_gross]', options_for_select([['Please select', nil],['Net', 'Net'],['Gross','Gross']]), {:style => "width:110px;min-width:110px !important"} %>
            </li>
            <li class="li--15"><label class="tenancy-edit">Total Rental (PSM)</label>
              $ <%= text_field_tag 'tenancy[total_rental_psm]', @total_rent_psm, :class => 'single transaction-input' %>
            </li>
            <li class="li--15 required"><label class="tenancy-edit">Total Rental (PA)<span class="red_star">*</span></label>
              $ <%= text_field_tag 'tenancy[total_rental_pa]', @total_rent_pa, :class => 'single transaction-input' %>
            </li>
            <li class="li--15"><label class="tenancy-edit">Lease Term</label>
              <%= text_field_tag 'tenancy[lease_term]', @lease_term, :class => 'single transaction-input' %>
            </li>
            <li class="li--15"><label class="tenancy-edit">Options</label>
              <%= text_field_tag 'tenancy[option]', @options, :class => 'single transaction-input' %>
            </li>
            <li class="li--15 required"><label class="tenancy-edit">Start Date<span class="red_star">*</span></label>
              <%= text_field_tag 'tenancy[start_date]', @start_date, :class => 'single datepicker transaction-input' %>
            </li>
            <li class="li--15 required"><label class="tenancy-edit">Expiry Date<span class="red_star">*</span></label>
              <%= text_field_tag 'tenancy[end_date]', @end_date, :class => 'single datepicker transaction-input' %>
            </li>
            <li class="li--15"><label class="tenancy-edit">Fees</label>
              $ <%= text_field_tag 'tenancy[fee]', @tenancy_fee, :class => 'single transaction-input' %>
            </li>
            <li class="li--15"><label class="tenancy-edit">Lease Signed</label>
              <%= text_field_tag 'tenancy[lease_signed]', @lease_signed, :class => 'single datepicker transaction-input' %>
            </li>
            <li class="li--15"><label class="tenancy-edit">Contract Link</label>
              <%= text_field_tag 'tenancy[contract_link]', @contract_link, :placeholder => "http://", :class => 'single transaction-input' %>
            </li>
            <li class="li--15"><label class="tenancy-edit">Office Note</label>
              <%= text_area_tag 'tenancy[office_note]', @office_note, :class => 'single', :style => 'margin: 0px; height: 130px; width: 255px;' %>
            </li>
            <li class="li--15"><label class="tenancy-edit">Salesperson<span class="red_star">*</span></label>
              <%= select_tag 'tenancy[sales_person]', options_for_select(@sales_person) %>
            </li>
          </ul>
        </fieldset>
      </div>
      <div id="external_agent_div">
        <br/>
        <h6 class="full">External Agent(optional)</h6>
        <fieldset class="pf_fs5">
          <ul class="pf-ul" id="address_container">
            <li class="li--15"><label class="tenancy-edit">Company</label>
              <%= text_field_tag 'tenancy[external_agent_company]', @tenancy_external_agent_company, :class => 'single transaction-input' %>
            </li>
            <li class="li--15"><label class="tenancy-edit">Sales Person</label>
              <%= text_field_tag 'tenancy[external_agent_sales_person]', @tenancy_external_agent_sales_person, :class => 'single transaction-input' %>
            </li>
            <li class="li--15"><label class="tenancy-edit">Conjunction Fees</label>
              $ <%= text_field_tag 'tenancy[conjunction_fee]', @tenancy_conjunction_fee, :class => 'single transaction-input' %>
            </li>
            <li class="li--15"><label class="tenancy-edit">Scale of Fees</label>
              <%= text_field_tag 'tenancy[scale_of_fee]', @tenancy_scale_of_fee, :class => 'single transaction-input' %>
            </li>
          </ul>
        </fieldset>
      </div>
      <div id="lease_expiry_div">
        <br/>
        <h6 class="full">Lease Expiry Diary</h6>
        <fieldset class="pf_fs5">
          <ul class="pf-ul" id="address_container">
            <li class="li--15"><label class="tenancy-edit">Reminder Alert</label>
              <%= text_field_tag 'tenancy[reminder_alert]', @reminder_alert, :class => 'single datepicker transaction-input' %>
            </li>
            <li class="li--15"><label class="tenancy-edit">Salesperson<span class="red_star">*</span></label>
              <%= select_tag 'tenancy[lease_expiry_sales_person]', options_for_select(@sales_person) %>
            </li>
          </ul>
        </fieldset>
      </div>
      <div class="action_button">
        <button name="update" type="submit" value="Update" style="float:left;">
          Update
        </button>
        <% unless @tenancy.is_deleted == true %>
          <%= link_to "Delete", agent_office_property_tenancy_path(@agent,@office,@property,@tenancy), :confirm => "Are you sure?", :method => :delete %>
        <%end%>
      </div>
    </div>
  <%end%>
<%end%>
</div>
<script type="text/javascript">
  $(function(){
    $('.datepicker').datepicker({
      dateFormat: 'dd/mm/yy'
    });
  });

  $(document).ready(function(){
<% if @add_new_contact == "true" %>
      add_contact()
<% else %>
      remove_contact()
<% end %>
    $("#tenancy_net_gross").find('option[value=<%=@tenancy.net_gross%>]').attr('selected', 'selected');
    $("#tenancy_sales_person").find('option[value=<%=@tenancy.transaction_sales_person%>]').attr('selected', 'selected');
    $("#tenancy_lease_expiry_sales_person").find('option[value=<%=@tenancy.lease_expiry_sales_person%>]').attr('selected', 'selected');

  <% if params[:action] == 'update_status' %>
    $('#tenancy_rent').val('<%= params[:tenancy][:rent] %>');
    $('#tenancy_outgoing').val('<%= params[:tenancy][:outgoing] %>');
    $('#tenancy_net_gross').find("option[vaue='<%= params[:tenancy][:net_gross] %>']").attr('selected', 'selected');
    $('#tenancy_total_rental_psm').val('<%= params[:tenancy][:total_rental_psm] %>');
    $('#tenancy_total_rental_pa').val('<%= params[:tenancy][:total_rental_pa] %>');
    $('#tenancy_lease_term').val('<%= params[:tenancy][:lease_term] %>');
    $('#tenancy_option').val('<%= params[:tenancy][:option] %>');
    $('#tenancy_start_date').val('<%= params[:tenancy][:start_date] %>');
    $('#tenancy_end_date').val('<%= params[:tenancy][:end_date] %>');
    $('#tenancy_fee').val('<%= params[:tenancy][:fee] %>');
    $('#tenancy_lease_signed').val('<%= params[:tenancy][:lease_signed] %>');
    $('#tenancy_office_note').val('<%= params[:tenancy][:office_note] %>');
    $('#tenancy_sales_person').find("option[vaue='<%= params[:tenancy][:sales_person] %>']").attr('selected', 'selected');
    $('#tenancy_office_note').val('<%= params[:tenancy][:office_note] %>');
    $('#tenancy_external_agent_company').val('<%= params[:tenancy][:external_agent_company] %>');
    $('#tenancy_external_agent_sales_person').val('<%= params[:tenancy][:external_agent_sales_person] %>');
    $('#tenancy_conjunction_fee').val('<%= params[:tenancy][:conjunction_fee] %>');
    $('#tenancy_scale_of_fee').val('<%= params[:tenancy][:scale_of_fee] %>');
    $('#tenancy_reminder_alert').val('<%= params[:tenancy][:reminder_alert] %>');
    $('#tenancy_contract_link').val('<%= params[:tenancy][:contract_link] %>');
    $('#tenancy_lease_expiry_sales_person').find("option[value='<%= params[:tenancy][:lease_expiry_sales_person]%>']").attr('selected', 'selected');
    <% unless params[:purchaser][:agent_contact_id].blank? %>
      $(".contact").hide();
      $("#add_contact").show();
      $("#remove_contact").hide();
    <%end%>
  <%end%>
  })

  function add_contact(){
    $(".contact").show();
    $("#remove_contact").show();
    $("#add_contact").hide();
    $("#purchaser_name_input").attr('disabled', 'disabled');
    $("#add_new_contact").attr('value', true);
    $("#mark_for_deleted").attr('value', false);
    if($("#mark_for_deleted").val() == "false"){
<% unless @property.purchaser.blank? %>
  <% unless @property.purchaser.agent_contact_id.blank? %>
          $(".test-contact").hide();
  <%end%>
<%end%>
<% if @property.type.to_s == "Commercial" && @property.deal_type.to_s == "Lease" %>
  <% unless @tenancy.blank? %>
    <%unless @purchaser_contact.blank? %>
            $("#edit_tenancy_contact").attr('value', true);
    <%end%>
  <%end%>
<%end%>
    }
  }

  function get_agent_contact(){
    var base_address = $('.test-contact');
    var controller = "<%= get_agent_contact_purchaser_agent_office_properties_path(@agent, @office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data: {"purchaser_agent_contact_id" : $("#purchaser_agent_contact_id").val(), "property_id" : "<%= @property.id %>", "controllah" : "<%= params[:controller] %>" },
      dataType:"html",
      beforeSend:function(){
        $("#purchaser_name_input").attr("disabled", "disabled");
        $("img#indicator1").show();
      },
      success: function(data){
        $("#purchaser_name_input").attr("disabled", "disabled");
        $("img#indicator1").hide();
        $("#view_contact").hide();
        $("#remove_contact").show();
        $(".test-contact").show();
        $("#add_new_contact").val("false");
        $("#edit_selected_contact").attr("value", true);
        $("#edit_this_contact").attr("value", true);
        $("#mark_for_deleted").val("false");
        jQuery(".test-contact").html(data);
      }
    });
    return false;
  }

  function remove_contact(){
<% unless @property.purchaser.blank? %>
      $("#purchaser_name_input").val("<%= @property.purchaser.agent_contact.blank? ? "" : (@property.purchaser.agent_contact.full_name.blank? ? @property.purchaser.agent_contact.first_name : @property.purchaser.agent_contact.full_name) %>");
  <% if @property.purchaser.agent_contact_id.blank? %>
        $("a.add-edit").text("Add");
  <%else%>
        $("a.add-edit").text("Edit");
  <%end%>
<%end%>
    if($("#mark_for_deleted").val() == "false"){
      $("#mark_for_deleted").val("true");
      $("#purchaser_name_input").val("");
      $("#edit_selected_contact").val("false");
    }
    $(".contact").hide();
    $("#add_contact").show();
    $("#remove_contact").hide();
    $("#purchaser_name_input").removeAttr('disabled');
    $("#add_new_contact").attr('value', true);
  }

  function showpurchaser(){
<% if @property.type.to_s == "CommercialBuilding" || @property.type.to_s == "Commercial" %>
      if($("#property_status_2").is(":checked") == true){
        $("#purchaserdiv").slideDown("slow");
        $("#transactiondiv").slideDown("slow");
        $("#external_agent_div").slideDown("slow");
        $("#tenancydiv").slideUp("slow");
        $("#lease_expiry_div").slideUp("slow");
        $("#tenant_info_div").slideUp("slow");
      }else if($("#property_status_3").is(":checked") == true){
        $("#purchaserdiv").slideDown("slow");
  <% if @property.status == 3 || (@property.type.to_s == "Commercial" && @property.deal_type.to_s == "Lease") %>
          $(".non-on-hold").hide();
  <%end%>
        $("#tenant_info_div").slideDown("slow");
        $("#tenancydiv").slideDown("slow");
        $("#lease_expiry_div").slideDown("slow");
        $("#transactiondiv").slideUp("slow");
      }
<%end%>
<% unless @property.type.to_s == "Commercial" && @property.deal_type.to_s == "Lease" %>
      $("#purchaserdiv").slideDown("slow");
<%end%>
    $("#external_agent_div").slideDown("slow");
    if($("#on_hold_only").val() == "true"){
      $("#view_contact").hide();
      $("#add_contact").show();
      $(".test-contact").hide();
      $("#remove_contact").hide();
      $("#purchaser_name_input").removeAttr('disabled');
    }
<% unless @property.purchaser.blank? %>
  <% if @property.status == 2 %>
        if($("#property_status_2").is(':checked')){
          $("#purchaser_agent_contact_id").val("<%= @property.purchaser.blank? ? "" : (@property.purchaser.agent_contact_id.blank? ? "" : @property.purchaser.agent_contact_id) %>");
          $("a.add-edit").text("Edit");
          $("#add_new_contact").attr('value', false);
          $("#agent_contact_first_name").val("<%= @property.purchaser.agent_contact.first_name rescue nil %>");
          $("#agent_contact_last_name").val("<%= @property.purchaser.agent_contact.last_name rescue nil %>");
          $("#agent_contact_email").val("<%= @property.purchaser.agent_contact.email rescue nil %>");
          $("#agent_contact_home_number").val("<%= @property.purchaser.agent_contact.home_number rescue nil %>");
          $("#agent_contact_work_number").val("<%= @property.purchaser.agent_contact.work_number rescue nil %>");
          $("#agent_contact_mobile_number").val("<%= @property.purchaser.agent_contact.mobile_number rescue nil %>");
          $("#agent_contact_contact_number").val("<%= @property.purchaser.agent_contact.contact_number rescue nil %>");
          $("#purchaser_name_input").val("<%= @property.purchaser.agent_contact.blank? ? "" : (@property.purchaser.agent_contact.full_name.blank? ? @property.purchaser.agent_contact.first_name : @property.purchaser.agent_contact.full_name) %>");
        }else if($("#property_status_7").is(':checked')){
          $("#purchaser_agent_contact_id").val("");
          $("#agent_contact_first_name").val("");
          $("#agent_contact_last_name").val("");
          $("#agent_contact_email").val("");
          $("#agent_contact_home_number").val("");
          $("#agent_contact_work_number").val("");
          $("#agent_contact_mobile_number").val("");
          $("#agent_contact_contact_number").val("");
          $("a.add-edit").text("Add");
          $("#add_new_contact").attr('value', true);
          $("#purchaser_name_input").val("");
        }
  <%elsif @property.status == 7 %>
        if($("#property_status_7").is(':checked')){
          $("#purchaser_agent_contact_id").val("<%=@property.purchaser.blank? ? "" : (@property.purchaser.agent_contact_id.blank? ? "" : @property.purchaser.agent_contact_id) %>");
          $("a.add-edit").text("Edit");
          $("#add_new_contact").attr('value', false);
          $("#agent_contact_first_name").val("<%= @property.purchaser.agent_contact.first_name rescue nil %>");
          $("#agent_contact_last_name").val("<%= @property.purchaser.agent_contact.last_name rescue nil %>");
          $("#agent_contact_email").val("<%= @property.purchaser.agent_contact.email rescue nil %>");
          $("#agent_contact_home_number").val("<%= @property.purchaser.agent_contact.home_number rescue nil %>");
          $("#agent_contact_work_number").val("<%= @property.purchaser.agent_contact.work_number rescue nil %>");
          $("#agent_contact_mobile_number").val("<%= @property.purchaser.agent_contact.mobile_number rescue nil %>");
          $("#agent_contact_contact_number").val("<%= @property.purchaser.agent_contact.contact_number rescue nil %>");
          $("#purchaser_name_input").val("<%= @property.purchaser.agent_contact.blank? ? "" : (@property.purchaser.agent_contact.full_name.blank? ? @property.purchaser.agent_contact.first_name : @property.purchaser.agent_contact.full_name) %>");
        }else if($("#property_status_2").is(':checked')){
          $("#purchaser_agent_contact_id").val("");
          $("#agent_contact_first_name").val("");
          $("#agent_contact_last_name").val("");
          $("#agent_contact_email").val("");
          $("#agent_contact_home_number").val("");
          $("#agent_contact_work_number").val("");
          $("#agent_contact_mobile_number").val("");
          $("#agent_contact_contact_number").val("");
          $("a.add-edit").text("Add");
          $("#add_new_contact").attr('value', true);
          $("#purchaser_name_input").val("");
        }
  <%end%>
<%end%>
<% if @property.status == 2 %>
  <% unless @property.purchaser.blank?  %>
    <% unless @property.purchaser.date.blank? %>
          $("#property_date").val("<%=@property.purchaser.date.strftime("%m/%d/%Y")%>");
    <%end%>
    <% unless @property.purchaser.amount.blank? %>
          $("#property_amount").val("<%=@property.purchaser.amount%>");
    <%end%>
    <% unless @property.purchaser.display_price.blank? %>
          $("#property_display_price").val("<%=@property.purchaser.display_price %>");
    <%end%>
  <%end%>
<%end%>
    if($('#property_status_7').is(':checked')){
      $('h6.full').text('Hold Details');
      $("td.non-on-hold").css("display", "none");
      $("#property_date").val("");
      $("#property_amount").val("");
      $("#property_display_price").val("");
    }else{
      //$('h6.full').text('Purchaser Details');
<% unless @property.deal_type.to_s == "Lease" && @property.type.to_s == "Commercial" %>
        $("td.non-on-hold").css("display", "block");
<%end%>
<% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
        $('b.status_date').text('Lease Date');
        $('b.status_amount').text('Lease Amount');
        $('p.display_price').text('Display Lease Price:');
<%else%>
        $('b.status_date').text('Sold Date');
        $('b.status_amount').text('Sold Amount');
        $('p.display_price').text('Display Sold Price:');
<%end%>
    }
  }

  function hidepurchaser(){
<%  if @property.type.to_s == "CommercialBuilding" || @property.type.to_s == "Commercial" %>
      $("#transactiondiv").slideUp("slow");
      $("#external_agent_div").slideUp("slow");
      $("#tenancydiv").slideUp("slow");
      $("#lease_expiry_div").slideUp("slow");
      $("#tenant_info_div").slideUp("slow");
<%end%>
<% if @property.type.to_s == "Commercial" && @property.deal_type.to_s == "Lease" %>
      if($("#property_status_3").is(":checked") == true){
        $("#tenant_info_div").slideDown("slow");
        $("#tenancydiv").slideDown("slow");
        $("#lease_expiry_div").slideDown("slow");
      }
<%end%>
<% if @property.status != 2 or @property.status != 3  %>
      $("#purchaserdiv").slideUp("slow");
<% end %>
  }
</script>