<p>
	<label>Name:</label><br/>
	<%= f.text_field :key, :size => 30 %>
</p>
<p>
	<label>URL:</label><br/>
	<%= f.text_field :url, :size => 30 %>
</p>
<p>
	<label>Type:</label><br/>
	<select name="quicklink[type]">
		<% if !@quicklink.nil? && @quicklink.type == "agent" %>
		    <option value="agent" selected>Agent</option>
		    <option value="developer">Developer</option>
		<% else %>
			 <option value="agent">Agent</option>
			 <option value="developer" selected>Developer</option>
		<% end %>	
 </select>
</p>
<p>
	<%= f.submit %>
</p>

