<div id="sidebar" class="block files quarter">
</div>

<h2>Quicklinks</h2><br />
<div class="block tables twothirds">
<div class="group">
<% form_for :data, @quicklink_data, :url => update_admin_quick_link_path, :html => {:method => :put} do |h| %>
<table id='agent' cellpadding="0" cellspacing="0">
<tbody>
<% if !@quicklink_data.nil? %>
<% @quicklink_data.each do |k,v| %>	
	<tr class="alt">
		<td class="td_ql_name"><%= text_field_tag "quicklink_data_key[]", k , :class => "single" %></td>
		<td class="td_ql_link"><%= text_field_tag "quicklink_data[]", v , :class => "single" %></td>
	</tr>
<% end %>
<% end %>
</tbody>
</table>

<a href="#" onclick="$('#agent tbody').append('<tr class=\'alt\'><td class=\'td_ql_name\'><input type=\'text\' name=\'quicklink_data_key[]\' id=\'quicklink_data_key\' class=\'single\' value=\'\'/></td><td class=\'td_ql_link\'><input type=\'text\' name=\'quicklink_data[]\' id=\'quicklink_data\' class=\'single\' value=\'\' /></td></tr>'); return false;" title="">Add another</a><br/><br/>

<%= h.submit %>
<% end %>
</div>
</div>
