<script type="text/javascript">
  function updateTaskStatus() {
    var url = this.dataset.url;
    var completed = this.dataset.completed;

    var _this = this;
    var loaderElmt = $(this).closest('span').find('.loader-task');

    if (completed == 'true')
      completed = false;
    else
      completed = true;

    $.ajax({
      type: "PUT",
      url: url,
      contentType:"application/json",
      data: JSON.stringify({completed: completed}),
      beforeSend: function() {
        loaderElmt.show();
      },
      success: function(jsonResponse){
        $(_this).text(jsonResponse.status);
        $(_this).attr('data-completed', jsonResponse.completed);
      },
      complete: function() {
        loaderElmt.hide();
      }
    });
  }
</script>

<script type="text/javascript">
  function callToServer(path,width,height) {
    if($("#projectFrame").length <= 1){
      var winW = $(window).width();
      var winH = $(window).height();
      if($("#mask").length < 1){
        $("body").append($(document.createElement("div")).attr({'id':'mask'}).css({'width': winW,'height': winH,"position":"fixed","top":0,"left":0, "z-index": 8888,"background-color":"#BEC8D2"}));
      };
      if(width == "200" && height == "300"){
        $(document.body).append($('<div id="frameContainer"></div><a id="closeFrame">Close</a>'));
        $("#frameContainer").append("<div id = 'errorExplanation' class = 'errortext'><h2> This property can not be shared on Facebook because no property url exist in the property details section. Please edit the property and add a link to the property page on your website</h2></div>");
        $("#frameContainer").css('top', height/2);
      }else{
        $(document.body).append($('<div id="frameContainer"></div><div id="closePanel"><img id="closeFrame" src="/images/icons/close.png"/></div><iframe id="projectFrame"></iframe>'));
        $("#projectFrame").attr({"width":width,"height":height,"position":'fixed',"src":path}).css({"background-color":"white",'border-left':'solid #6080c0  2px','border-bottom':'solid #6080c0  2px','border-top':'solid #6080c0  0px','border-right':'solid #6080c0  2px'});
        $("#frameContainer").css({'left':((winW/2)-($("#projectFrame").width()/2)),'height':'0px','width':"0px",'top':45,'z-index':'30000','position':'fixed','text-align':'left'});
      };
      $('#closePanel').hide();
      $('#closePanel').css({"z-index":"9999","text-align":"right",'border-left':'solid #6080c0  5px','border-bottom':'solid #6080c0  5px','border-top':'solid #6080c0  5px','border-right':'solid #6080c0  5px','background-color':'#6080c0','width':((winW/2)-($("#projectFrame").width()/2)+20)+'px','height':'15px'});
      $('#closeFrame').css({'cursor':'pointer',"z-index":"9999"});
      $('#mask').slideDown(1200).fadeTo("slow",0.6);
      $("#frameContainer").append($("#closePanel")).append($("#projectFrame"));
      $("#frameContainer,#projectFrame").animate({height:400, width:500},
      {duration: 'slow',easing: 'easeOutBounce'},
      function(){
        $("#frameContainer").css({"height" : "400","width":"500"});
      });
      $('#closePanel').slideUp(1000).fadeIn(1000).show();
      $('#closeFrame').click(function () {
        $('#mask').slideUp(1200).fadeTo("slow",0);
        $('#mask').remove();
        $("#frameContainer").remove();
        $("#closePanel").remove();
        $("#closeFrame").remove();
        $("#projectFrame").remove();
        tb_remove_ajax();
        return false;
      });

      $('#mask').click(function () {
        $('#mask').slideUp(1200).fadeTo("slow",0);
        $('#mask').remove();
        $("#frameContainer").remove();
        $("#closeFrame").remove();
        $("#closePanel").remove();
        $("#projectFrame").remove();
        tb_remove_ajax();
      });

      return false;
    }
  };

  function callPreview(path) {
    window.open(path,'sharer','menubar=1,toolbar=0,scrollbars=1,status=0,width=800,height=800');
  };

  function tb_remove_ajax_and_change_location(referer) {
    $("#mask").hide();
    $("#frameContainer").remove();
    $("#closeFrame").remove();
    $("#RSIFrame").remove();
    $("#booting").hide();
    window.location.replace(referer);
  }
</script>
<script type="text/javascript">
  function fbs_click(params) {
    t=document.title;
    window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(params)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=500,height=450');
    return false;
  };
  function payment(notify_url,cancel_url,return_url,property_id,payment_status,payment_required,paypal_account,listing_cost,property_type,currency_code) {
    if(payment_required == "true"){
      window.location = "https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business="+paypal_account+"&item_name="+property_type+"&item_number="+property_id+"&amount="+listing_cost+"&no_note=1&currency_code="+currency_code+"&notify_url="+notify_url+"&cancel_return="+cancel_url+"&return="+return_url;
    };
    return false;
  };
</script>

<script type="text/javascript">
  // Path to the blank image must point to a valid location on your server
  function tb_remove_ajax() {
    $("#mask").hide();
    $("#frameContainer").remove();
    $("#closeFrame").remove();
    $("#RSIFrame").remove();
    Ext.getCmp("listingGrid").getStore().reload();
  }
  // Main application entry point
  Ext.onReady(function() {
    var page_name = "<%= params[:controller] == "offices_a" && params[:action] == "show" ? 'office_view' : 'listing_view' %>"
    var pagesize;
    var tbar;
    var urlProxy;

    if (page_name == 'listing_view') {
      var comboDS = new Ext.data.JsonStore({
        id: 'id',
        totalTask: 'results',
        remoteSort: false,
        fields: [
          {name: 'statuses'},
          {name: 'startDates'},
          {name: 'endDates'}
        ],
        proxy: new Ext.data.HttpProxy({
          url: '/agents/<%= @agent.id %>/offices/<%= @office.id %>/tasks/populate_combobox',
          method:'GET'
        })
      });

      var statusDS = new Ext.data.JsonStore({
        root: 'statuses',
        id: 'id',
        totalTask: 'results',
        remoteSort: false,
        fields: [
          {name: 'status'},
          {name: 'statusText'}
        ]
      });

      var endDateDS = new Ext.data.JsonStore({
        root: 'endDates',
        id: 'id',
        totalTask: 'results',
        remoteSort: false,
        fields: [
          {name: 'date'},
          {name: 'dateText'}
        ]
      });

      var startDateDS = new Ext.data.JsonStore({
        root: 'startDates',
        id: 'id',
        totalTask: 'results',
        remoteSort: false,
        fields: [
          {name: 'date'},
          {name: 'dateText'}
        ]
      });

      comboDS.load();
      comboDS.on('load', function(){
        statusDS.loadData(comboDS.reader.jsonData);
        endDateDS.loadData(comboDS.reader.jsonData);
        startDateDS.loadData(comboDS.reader.jsonData);

        startDateCombo.setValue('<%= session[:start_date].blank? ? 'all' : session[:start_date] %>');
        endDateCombo.setValue('<%= session[:end_date].blank? ? 'all' : session[:end_date] %>');
        statusCombo.setValue('<%= session[:status].blank? ? 'all' : session[:status] %>');
      });

      var startDateCombo = new Ext.form.ComboBox({
        store: startDateDS,
        typeAhead: true,
        mode: 'local',
        id: 'startDateCombo',
        triggerAction: 'all',
        sortable: false,
        selectOnFocus: true,
        valueField: 'date',
        displayField: 'dateText'
      });

      var endDateCombo = new Ext.form.ComboBox({
        store: endDateDS,
        typeAhead: true,
        mode: 'local',
        id: 'endDateCombo',
        triggerAction: 'all',
        sortable: false,
        selectOnFocus:true,
        valueField:'date',
        displayField:'dateText'
      });

      var statusCombo = new Ext.form.ComboBox({
        store: statusDS,
        typeAhead: true,
        mode: 'local',
        id: 'statusCombo',
        sortable: false,
        triggerAction: 'all',
        selectOnFocus:true,
        valueField:'status',
        displayField:'statusText'
      });

      tbar = new Ext.Toolbar({
        hideMode:'offset',
        forcefit: true,
        items  : [statusCombo, startDateCombo, endDateCombo]
      });

      pagesize = 35;
      urlProxy = '/agents/<%=@agent.id%>/offices/<%=@office.id%>/tasks/view_listing?page_name='+page_name+'&status='+statusCombo.getValue()+'&start_date='+startDateCombo.getValue()+'&end_date='+endDateCombo.getValue();

      statusCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      startDateCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      endDateCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

    } else {
      pagesize = 50;
      urlProxy =  '<%= view_listing_agent_office_tasks_path(@agent, @office) %>?page_name='+page_name+'&status=<%=session[:status]%>';
    };

    var ds = new Ext.data.JsonStore({
      //autoLoad: true,
      root: 'rows',
      id: 'id',
      totalTask: 'results',
      remoteSort: true,

      fields: [
        'id', 'agent_contact', 'agent_user', 'task_type', 'address', 'description', 'task_date', 'email_reminder', 'status', 'completed'
      ],

      // load using script tags for cross domain, if the data in on the same domain as
      // this page, an HttpProxy would be better
      proxy: new Ext.data.HttpProxy({
        url: urlProxy,
        method:'GET'
      })
    });

    ds.setDefaultSort('updated_at','DESC');

    var paging_toolbar = new Ext.PagingToolbar({
      pageSize: pagesize,
      displayInfo: true,
      emptyMsg: 'No data found',
      displayInfo: true,
      forcefit: true,
      style: 'text-align:center;',
      hideMode:'offset',
      displayMsg: 'Results : {2}',
      store: ds,
      toggleHandler: function(btn, pressed){
        var view = grid.getView();
        view.showPreview = pressed;
        view.refresh();
      }
    })

    // create the Grid
    var grid = new Ext.grid.GridPanel({
      id:'listingGrid',
      store: ds,
      tbar: tbar,
      loadMask:true,
      style: 'text-align:center;',
      layout:'fit',
      stripeRows:true,
      autoScroll:true,
      shim:true,
      forceFit:true,
      width:'100%',
      viewConfig : {
        layout : function() {
          if (!this.mainBody) {
            return; // not rendered
          }
          var g = this.grid;
          var c = g.getGridEl();
          var csize = c.getSize(true);
          var vw = csize.width;
          if (!g.hideHeaders && (vw < 20 || csize.height < 20)) { // display:
            // none?
            return;
          }
          if (g.autoHeight) {
            if (this.innerHd) {
              this.innerHd.style.width = (vw) + 'px';
            };
            var scroll_height = g.getStore().getCount() * 30;

            if(scroll_height < 40){
              this.scroller.setHeight(this.scroller.getHeight() + 8);
            };
            if(scroll_height > 40){
              this.scroller.setHeight(scroll_height);
            };
            //g.getTopToolbar().setWidth(csize.width)
            //g.getBottomToolbar().setWidth(csize.width)
          } else {
            this.el.setSize(csize.width, csize.height);
            var hdHeight = this.mainHd.getHeight();
            var vh = csize.height - (hdHeight);
            this.scroller.setSize(vw, vh);
            if (this.innerHd) {
              this.innerHd.style.width = (vw) + 'px';
            }
          }
          if (this.forceFit) {
            if (this.lastViewWidth != vw) {
              this.fitColumns(false, false);
              this.lastViewWidth = vw;
            }
          } else {
            this.autoExpand();
            this.syncHeaderScroll();
          }
          this.onLayout(vw, vh);
        }
      }

      ,
      columns: [
        {header: 'Due Date', width: 80, sortable: true, dataIndex: 'task_date'},
        {header: 'Task Type', width: 150, sortable: true,dataIndex: 'task_type'},
        {header: 'Contact', width: 100, sortable: true, dataIndex: 'agent_contact'},
        {header: 'Added By', width: 100, sortable: true, dataIndex: 'agent_user'},
        {header: 'Address', width: 200, sortable: true, dataIndex: 'address'},
        {header: 'Description', width: 250, sortable: true, dataIndex: 'description'},
        {header: 'Email Reminder', width: 100, sortable: true, dataIndex: 'email_reminder'},
        {header: 'Action', width: 200, sortable: true, dataIndex: 'id', renderer: renderAction }
      ],
      autoHeight:true,
      title: 'Click on column headings to sort, drag column headings to reposition, adjust column width or remove columns from the view.',
      bbar:paging_toolbar
    });

    grid.on('resize',function(){
      grid.getView().refresh();
    })
    // render the grid to the specified div in the page
    grid.render('task-list');
    paging_toolbar.refresh.hideParent = true;
    paging_toolbar.refresh.hide();

    function renderAction(val, meta, record) {
      var data = record.data;
      var actions = "";
      var token = '<%= form_authenticity_token %>';

      actions += "<span class='status-button'><a href='javascript:void(0)' data-url='/agents/<%= @agent.id %>/offices/<%= @office.id %>/tasks/" + data.id + "/update_task_status' data-completed=" + data.completed + " style='color:blue'>" + data.status + "</a><img src='/images/search-loader.gif' class='loader-task' style='display:none;' /> | </span>";
      actions += "<a href='/agents/<%= @agent.id %>/offices/<%= @office.id %>/tasks/" + data.id + "/edit' style='color:blue' method='get' >Edit</a> | ";
      actions += "<a href=\"/agents/<%= @agent.id %>/offices/<%= @office.id %>/tasks/" + data.id + "/\" onclick=\"if (confirm('Are you sure?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', '" + token + "'); f.appendChild(s);f.submit(); };return false;\" style='color:red;'>Delete</a>";

      return actions;

    }

    ds.load({params:{start:0,limit:pagesize}});
    grid.doLayout();

    ds.on('load', function(store, records, index) {
      // grid.setHeight(ds.getCount() * 37);
      $('.status-button a').click(updateTaskStatus);
    });

    function setGridURL(){
      grid.getStore().proxy.setApi('read', '/agents/<%=@agent.id%>/offices/<%=@office.id%>/tasks/view_listing?page_name='+page_name+'&status='+statusCombo.getValue()+'&start_date='+startDateCombo.getValue()+'&end_date='+endDateCombo.getValue());
      paging_toolbar.changePage(1);
      grid.getStore().reload();
    }
  });
</script>

<h2><span> All Tasks </span></h2>
<p><%= render :partial => 'properties/pline_filter' %></p>

<style type="text/css">
  #property-list table{
    margin: 0px;
    border: medium none;
    width: 0%;
  }
  #property-list .x-toolbar {
    background-color:inherit;
    background-image:none;
    border-color:#A9BFD3;
  }
</style>

<div id="task-list"></div>

<!-- NOTE TO DEVELOPER: For home/dashboard page, please show 10 listings. -->
<!-- NOTE TO DEVELOPER: For Listings page, please show 50 listings. -->
