<div class="group" style="background-color:#E1EBF5;">
  <table cellpadding="0" cellspacing="0" class="update_table full">
    <tr>
      <th class="first_cell" style="width:120px;background-color:#C8D2DC;">Date</th>
      <th style="width:200px;background-color:#C8D2DC;">Task Type</th>
      <th style="width:250px;background-color:#C8D2DC;">Property Address</th>
      <th style="width:100px;background-color:#C8D2DC;">Added By</th>
      <th style="background-color:#C8D2DC;">Task</th>
      <th style="width:180px;background-color:#C8D2DC;">Actions</th>
    </tr>

    <% unless @tasks.blank? %>
      <% @tasks.each do |task| -%>
        <tr>
          <td class="value">
            <span class="<%= (task.email_reminder == true ? "orange_bg" : "") %>">
              <%= (task.created_at ? task.created_at.utc.strftime("%d-%m-%Y %H:%M:%S") : Time.now.utc.strftime("%d-%m-%Y %H:%M:%S")) %>
            </span>
          </td>

          <td class="value"><%= (task.task_type_id ? task.task_type.nil? ? "-" : task.task_type.name : "-") %></td>

          <td class="value">
            <% unless task.property_id.blank? %>
              <a href="/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%= task.property_id %>" style="color:#0e7fc7;"><%= (task.address ? task.address : "-") %></a>
          <% else %>
              <%= (task.address ? task.address : "-") %>
          <% end %>
          </td>

          <td class="value"><%= (task.agent_user.nil? ? "Website" : contact_agent(task)) %></td>

          <td class="value"><%= (task.description ? task.description : "-") %></td>

          <td class="value">
            <span class='complete-button'><a href='javascript:void(0)' data-url="<%= complete_task_agent_office_task_path(@agent, @office, task) %>" style="color:blue"><%= task.completed ? "Completed" : "Incomplete" %></a><img src="/images/search-loader.gif" class="loader-task" style="display:none;" /> | </span>
            <%= link_to "Edit", edit_agent_office_task_path(@agent, @office, task), :method => :get, :style => "color:blue;" %> |
            <%= link_to "Delete", agent_office_task_path(@agent, @office, task), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :style => "color:red;" %>
          </td>
        </tr>
      <% end -%>
    <% end %>
  </table>

  <%= will_paginate @tasks if @tasks.present? %>

  <div class="clearer"></div>
</div>

<script type="text/javascript">
  function completeTask() {
    return function() {
      var url = this.dataset.url;
      var _this = this;
      var loaderElmt = $(this).closest('span').find('.loader-task');

      $.ajax({
        type: "PUT",
        url: url,
        dataType:"JSON",
        beforeSend: function() {
          loaderElmt.show();
        },
        success: function(jsonResponse){
          $(_this).text('Completed');
        },
        complete: function() {
          loaderElmt.hide();
        }
      });
    }
  }


  $(document).ready(function() {
    $('.complete-button a').click(completeTask());
  })
</script>
