<div class="title_block block">
  <h2 class="page_title">Task For Contact <%= @agent_contact.full_name unless @agent_contact.blank? %></h2>
</div>

<div id="clientdiv" class="block accounts full">
  <% form_for :task, @task, :url => agent_office_task_path(@agent, @office), :html => {:class => 'propertyform full', :method => :put} do |f| %>
    <%= f.error_messages :class => 'errortext' %>
    <%= render :partial => 'task_form', :locals => {:form => f} %>
    <%#= render :partial => 'task_list' %>
    <%= render :partial => 'filter' %>
  <% end %>
</div>
