<div class="title_block block sub-opt-nav">
  <h2 class="page_title"><%= @agent_contact.full_name if @agent_contact.present? %></h2>
  <div><%= render :partial => 'agent_contacts/contact_options' %></div>
</div>

<div id="clientdiv" class="block accounts full">
  <% form_for :task, @task, :url => agent_office_tasks_path(@agent, @office), :html => {:class => 'propertyform full'} do |f| %>
    <%= f.error_messages :class => 'errortext' %>
    <%#= render :partial => 'task_form', :locals => {:form => f} %>
    <%#= render :partial => 'task_list' %>
    <%= render :partial => 'filter' %>
  <% end %>
</div>
