<tr class="<%= cycle 'alt', '' %>">
  <td class="first_cell value">
    <%= link_to 'Edit', {:action => 'edit', :id => row.id}, :method => :get %>
  </td>
  <td class="value"><%=h row.key %></td>
  <td class="value"><%=h row.content %></td>
	<td class="value"><%= link_to('Delete', url_for(:controller => 'active_help_pages', :action => 'destroy', :id => row.id), :method => 'delete', :confirm => 'Are you sure?') %></td>
  </td>
</tr>
