<div class="block full">
  <div id="sidebar" class="block files quarter">
    <div class="upload_button">
      <% link_to new_admin_active_help_pages_path, :class => 'btn' do %>
        <img src="/images/icons/misc/24-em-plus.gif" alt="24-em-plus" width="18" height="19"/>Add an Active Help Page</a>
      <% end %>
    </div>
  </div>
  <h2>Active Help Pages</h2>
</div>

<div class="block tables full">
  <div class="group">
    <table class="team_members_table" width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <th class="first_cell field">Edit</th>
        <th class="field">Page Location</th>
        <th class="field">Help Content</th>
        <th class="field">Action</th>
      </tr>

      <%= render :partial => 'row', :collection => @help_pages %>

    </table>
  </div>
</div>
