<div class="wrapper theme8" style="font-family:<%= @pdf_configuration.font_family %>;height:1105.5px">
  <div class="header">
    <% info = Brochure.theme_info(@pdf_configuration.theme) %>
    <% @main_image = property.images.first %>
    <% @main_height = info[:main][:result_height] %>
    <% @main_width = info[:main][:result_width] %>
    <% unless @header_image.blank? %>
        <div class="bg-top"><img src="<%= @header_image.public_filename %>" width="780" height="<%= @header_image.height %>"/></div>
      <% else %>
        <div class="bg-top" style="background-color:<%= @pdf_configuration.heading_color %>;color:<%= @pdf_configuration.heading_font_color %>"><div style="padding-top:25px;"><%= property.office.name  %></div></div>
      <% end %>

    <div class="big-image-3" <%= "style='background:url(#{@main_image.public_filename}) center center;'" if @main_image.present? %>></div>

    <div class="three-column2">
      <% @thumb_width = info[:thumb][:result_width] %>
      <% @thumb_height = info[:thumb][:result_height] %>

      <% unless property.images.blank? %>
        <% @thumb_images = Image.find(:all, :conditions => ["attachable_id = ? AND id NOT IN (?) AND parent_id != ? AND thumbnail = ?", property.id, @main_image.id, @main_image.id, "original"], :limit => 3) %>
      <%end%>

      <% 3.times do |idx| %>
        <div class="cols thumb-image" <%= "style='background:url(#{@thumb_images[idx].public_filename}) center center;background-size:auto auto;'" if @thumb_images.present? && @thumb_images[idx].present? %>></div>
      <%  end %>

      <div class="clear"></div>
    </div>
  </div>
  <div class="middle" style="background-color:<%= @pdf_configuration.heading_color %>;color:<%= @pdf_configuration.heading_font_color %>">
    <div style="width:635px;float:left;">
      <% if property.type.to_s.underscore == 'commercial' || property.type.to_s.underscore == 'business_sale'
          @baths = @beds = @garages = 0
        else
          @baths = (property.detail.respond_to?('bathrooms')) ? property.detail.bathrooms : 0
          @beds = (property.detail.respond_to?('bedrooms')) ? property.detail.bedrooms : 0
          @garages = (property.detail.respond_to?('garage_spaces')) ? property.detail.garage_spaces : 0
        end
      %>
      <% if @beds != 0 %>
        <%= @beds  %> <img height="18" width="18" src="/images/b_beds_<%= @pdf_configuration.heading_font_color == '#FFFFFF' ? 'white.png' : 'black.png' %>"/>
      <% end %>
      <% if @baths != 0 %>
        <%= @baths  %> <img height="18" width="18" src="/images/b_baths_<%= @pdf_configuration.heading_font_color == '#FFFFFF' ? 'white.png' : 'black.png' %>"/>
      <% end %>
      <% if @garages != 0 %>
        <%= @garages  %> <img height="18" width="18" src="/images/b_cars_<%= @pdf_configuration.heading_font_color == '#FFFFFF' ? 'white.png' : 'black.png' %>"/>
      <% end %>
    </div>
    <div style="height: 25px;float: right;font-size:11pt;padding:2px;">
      <span><%= "Price: #{property.show_price}" if property.show_price.present? %></span>
    </div>
  </div>
  <div class="content" style="height:225px;">
    <table style="height:225px;">
      <tr>
        <td id="brochure_background" style="width:550px;background-color:<%= @pdf_configuration.main_content_color %>">
          <div style="padding:5px;font-size:10px"><%= property.headline.blank? ? '' : "<p><strong><span style='font-size: small;'>#{property.headline}</span></strong></p>" if property.headline %></div>
          <div style="padding:5px;font-size:10px"><%= property.description.blank? ? '' : "<p>#{truncate(property.description.gsub("\n","<br/>"),  :length => 900, :omission => "...")}</p>" if property.description %></div>
        </td>
        <td id="brochure_sidebar" style="padding:5px;background-color:<%= @pdf_configuration.sidebar_color %>;width:212px">
          <div><span style="font-size: 10px;"><%= property.short_address.blank? ? '' : "<b>Location</b><br/>#{property.short_address}" if property.short_address %></span></div>
          <div style="margin-top:5px;">
            <% if property.primary_contact %>
          <% unless property.primary_contact.avatar.blank? %>
            <img class="left-side" src="<%= property.primary_contact.avatar.public_filename unless property.primary_contact.avatar.blank? %>" />
          <% end %>

        <p style="font-size: 10px;">
          <span><%= property.primary_contact.full_name.blank? ? '' : "<br/><b>Contact</b><br/>#{property.primary_contact.full_name}" if property.primary_contact %><%= property.primary_contact.mobile.blank? ? "" : "<br/>m : #{property.primary_contact.mobile}" if property.primary_contact %><%= property.primary_contact.phone.blank? ?  "" : "<br/>t : #{property.primary_contact.phone}" if property.primary_contact %><%= property.primary_contact.email.blank? ? "" : "<br/>e : #{property.primary_contact.email}" if property.primary_contact %></span>
        </p>
        <%end%>
          </div>
        </td>
      </tr>
    </table>
  </div>
    <% unless @footer_image.blank? %>
      <div class="footer" style="margin-top:-70px"> <div style="padding-top:62px"><img src="<%= @footer_image.public_filename %>" width="780" height="75"/></div> </div>
    <% else %>
      <div class="footer" style="background-color:<%= @pdf_configuration.heading_color %>;color:<%= @pdf_configuration.heading_font_color %>"><div style="padding-top:25px;"><%= property.office.name  %></div></div>
    </div>
    <% end %>
</div>
