<div class="wrapper theme5" style="font-family:<%= @pdf_configuration.font_family %>">
  <% info = Brochure.theme_info(@pdf_configuration.theme) %>
  <% @main_image = property.images.first %>
  <% @main_height = info[:main][:result_height] %>
  <% @main_width = info[:main][:result_width] %>
  <div class="header">
    <div class="big-image-2" <%= "style='background:url(#{@main_image.public_filename}) center center;'" if @main_image.present? %>></div>
  </div>
  <div class="middle-half" style="margin-top:-3px;width:476px;padding:5px 0;background-color:<%= @pdf_configuration.heading_color %>;color:<%= @pdf_configuration.heading_font_color %>">
    <div style="width:340px;float:left;padding-left:5px;font-size:12px">
      <%= property.short_address rescue nil %>
    </div>
    <div style="height: 25px;float: right;font-size:11pt;padding:2px;padding-right:5px;">
      <% if property.type.to_s.underscore == 'commercial' || property.type.to_s.underscore == 'business_sale'
          @baths = @beds = @garages = 0
        else
          @baths = (property.detail.respond_to?('bathrooms')) ? property.detail.bathrooms : 0
          @beds = (property.detail.respond_to?('bedrooms')) ? property.detail.bedrooms : 0
          @garages = (property.detail.respond_to?('garage_spaces')) ? property.detail.garage_spaces : 0
        end
      %>
      <% if @beds != 0 %>
        <%= @beds  %> <img height="18" width="18" src="/images/b_beds_<%= @pdf_configuration.heading_font_color == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_beds"/>
      <% end %>
      <% if @baths != 0 %>
        <%= @baths  %> <img height="18" width="18" src="/images/b_baths_<%= @pdf_configuration.heading_font_color == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_baths"/>
      <% end %>
      <% if @garages != 0 %>
        <%= @garages  %> <img height="18" width="18" src="/images/b_cars_<%= @pdf_configuration.heading_font_color == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_cars"/>
      <% end %>
    </div>
  </div>
  <div class="one-column" style="margin-top:-3px;">
    <% @thumb_width = info[:thumb][:result_width] %>
    <% @thumb_height = info[:thumb][:result_height] %>
    <% unless property.images.blank? %>
          <% @thumb_images = Image.find(:all, :conditions => ["attachable_id = ? AND id NOT IN (?) AND parent_id != ? AND thumbnail = ?", property.id, @main_image.id, @main_image.id, "original"], :limit => 2) %>
    <%end%> 

    <% unless @thumb_images.blank? %>
      <% @thumb_images.each_with_index do |image, index| %>
        <div class="cols"><img src="<%= image.public_filename unless image.blank? %>"  width="auto" height="<%= @thumb_height %>"/></div>
      <%  end %>
    <%else%>
      <% (1..2).each_with_index do |i, index| %>
        <div class="cols" id="<%= i %>"><%= image_tag("/images/no-image.jpeg", :width => "#{@thumb_width}", :height => "#{@thumb_height}") %></div>
      <%end%>
    <%end%>

    <div class="clear"></div>
  </div>
  <div class="content-half" style="padding-left:5px;padding-right:5px;height: <%= @editor_limit %>px; overflow: hidden;">
    <div class="full-big space_margin" style="font-size:12px">
      <%= property.headline.blank? ? '' : "<p><strong><span style='font-size: 12px;'>#{property.headline}</span></strong></p>" if property.headline %>
    </div>
    <div class="full-big" style="font-size:12px">
      <%= property.description.blank? ? '' : "<p>#{truncate(property.description.gsub("\n","<br/>"),  :length => 1000, :omission => "...")}</p>" if property.description %>
    </div>
    <div class="full-small">
      <div class="small-desc left-side" style="width:220px;">
      <% if property.primary_contact %>
          <% unless property.primary_contact.avatar.blank? %>
            <img class="left-side" src="<%= property.primary_contact.avatar.public_filename unless property.primary_contact.avatar.blank? %>" />
          <% end %>

        <p>
          <span style="font-size: small;"><%= property.primary_contact.full_name.blank? ? '' : property.primary_contact.full_name if property.primary_contact %><%= property.primary_contact.mobile.blank? ? "" : "<br/>m : #{property.primary_contact.mobile}" if property.primary_contact %><%= property.primary_contact.phone.blank? ?  "" : "<br/>t : #{property.primary_contact.phone}" if property.primary_contact %><%= property.primary_contact.email.blank? ? "" : "<br/>e : #{property.primary_contact.email}" if property.primary_contact %></span>
        </p>
        <%end%>
      </div>
      <div class="small-desc left-side" style="width:220px;">
        <% if property.secondary_contact %>
          <% unless property.secondary_contact.avatar.blank? %>
            <img class="left-side" src="<%= property.secondary_contact.avatar.public_filename unless property.secondary_contact.avatar.blank? %>" />
          <% end %>
        <p>
          <span style="font-size: small;"><%= property.secondary_contact.full_name.blank? ? '' : property.secondary_contact.full_name if property.secondary_contact %><%= property.secondary_contact.mobile.blank? ? "" : "<br/>m : #{property.secondary_contact.mobile}" if property.primary_contact %><%= property.primary_contact.phone.blank? ?  "" : "<br/>t : #{property.secondary_contact.phone}" if property.secondary_contact %><%= property.secondary_contact.email.blank? ? "" : "<br/>e : #{property.secondary_contact.email}" if property.secondary_contact %></span>
        </p>
        <%end%>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
    <% unless @footer_image.blank? %>
      <div class="footer" style="margin-top:-70px"><div style="padding-top:62px"><img src="<%= @footer_image.public_filename %>" width="780" height="75"/></div> </div>
    <% else %>
      <div class="footer" style="background-color:<%= @pdf_configuration.heading_color %>;color:<%= @pdf_configuration.heading_font_color %>"> <div style="padding-top:25px;"><%= @office.name  %></div></div>
    <% end %>
  </div>
