<div class="wrapper theme2" style="font-family:<%= @pdf_configuration.font_family %>">
  <div class="header">
    <% @main_image = property.images.first %>
    <% info = Brochure.theme_info(@pdf_configuration.theme) %>
    <% @main_height = info[:main][:result_height] %>
    <% @main_width = info[:main][:result_width] %>
    <div class="big-image-2" <%= "style='background:url(#{@main_image.public_filename}) center center;'" if @main_image.present? %>></div>
    <div class="three-column">
      <% @thumb_width = info[:thumb][:result_width] %>
      <% @thumb_height = info[:thumb][:result_height] %>
      <% unless property.images.blank? %>
      <% @thumb_images = Image.find(:all, :conditions => ["attachable_id = ? AND id NOT IN (?) AND parent_id != ? AND thumbnail = ?", property.id, @main_image.id, @main_image.id, "original"], :limit => 3) %>
      <%end%>
      <% 3.times do |idx| %>
        <div class="cols thumb-image" <%= "style='background:url(#{@thumb_images[idx].public_filename}) center center;'" if @thumb_images.present? && @thumb_images[idx].present? %>></div>
      <%end%>
      <div class="clear"></div>
    </div>
  </div>
  <div class="middle" style="background-color:<%= @pdf_configuration.heading_color %>;color:<%= @pdf_configuration.heading_font_color %>">
    <div style="width:635px;float:left;">
      <%= property.short_address rescue nil %>
    </div>
    <div style="height: 25px;float: right;font-size:11pt;padding:2px;">
      <% if property.type.to_s.underscore == 'commercial' || property.type.to_s.underscore == 'business_sale'
          @baths = @beds = @garages = 0
        else
          @baths = (property.detail.respond_to?('bathrooms')) ? property.detail.bathrooms : 0
          @beds = (property.detail.respond_to?('bedrooms')) ? property.detail.bedrooms : 0
          @garages = (property.detail.respond_to?('garage_spaces')) ? property.detail.garage_spaces : 0
        end
      %>
      <% if @beds != 0 %>
        <%= @beds  %> <img height="18" width="18" src="/images/b_beds_<%= @pdf_configuration.heading_font_color == '#FFFFFF' ? 'white.png' : 'black.png' %>"/>
      <% end %>
      <% if @baths != 0 %>
        <%= @baths  %> <img height="18" width="18" src="/images/b_baths_<%= @pdf_configuration.heading_font_color == '#FFFFFF' ? 'white.png' : 'black.png' %>"/>
      <% end %>
      <% if @garages != 0 %>
        <%= @garages  %> <img height="18" width="18" src="/images/b_cars_<%= @pdf_configuration.heading_font_color == '#FFFFFF' ? 'white.png' : 'black.png' %>"/>
      <% end %>
    </div>
  </div>
  <div class="content">
    <div class="half-big left-side" style="height: <%= @footer_image.blank? ? '491' : '420' %>px; overflow: hidden;">
      <div style="padding:5px;">
        <%= property.headline.blank? ? '' : "<p><strong><span style='font-size: small;'>#{property.headline}</span></strong></p>" if property.headline %>
      </div>
      <div style="padding:5px;font-size:12px">
        <%= property.description.blank? ? '' : "<p>#{truncate(property.description.gsub("\n","<br/>"),  :length => 1000, :omission => "...")}</p>" if property.description %>
      </div>
    </div>
    <div class="half-small right-side">
      <div>
        <p><span style="font-size: small;"><strong><%= "Price: #{property.show_price}" if property.show_price.present? %></strong></span></p>
      </div>

      <div class="small-desc">
        <%= render :partial => "properties/property_summary_data_details" %>
      </div>

      <div class="small-desc">
        <% if property.secondary_contact %>
          <% unless property.secondary_contact.avatar.blank? %>
            <img class="left-side" src="<%= property.secondary_contact.avatar.public_filename unless property.secondary_contact.avatar.blank? %>" />
          <% end %>
        <p>
          <span style="font-size: small;"><strong><%= property.secondary_contact.full_name.blank? ? '' : property.secondary_contact.full_name if property.secondary_contact %></strong><%= property.secondary_contact.mobile.blank? ? "" : "<br/>m : #{property.secondary_contact.mobile}" if property.primary_contact %><%= property.primary_contact.phone.blank? ?  "" : "<br/>t : #{property.secondary_contact.phone}" if property.secondary_contact %><%= property.secondary_contact.email.blank? ? "" : "<br/>e : #{property.secondary_contact.email}" if property.secondary_contact %></span>
        </p>
        <%end%>
        <div class="clear"></div>
      </div>
      <div class="small-desc">
        <% if property.secondary_contact %>
          <% unless property.secondary_contact.avatar.blank? %>
            <img class="left-side" src="<%= property.secondary_contact.avatar.public_filename unless property.secondary_contact.avatar.blank? %>" />
          <% end %>
        <p>
          <span style="font-size: small;"><%= property.secondary_contact.full_name.blank? ? '' : property.secondary_contact.full_name if property.secondary_contact %><%= property.secondary_contact.mobile.blank? ? "" : "<br/>m : #{property.secondary_contact.mobile}" if property.primary_contact %><%= property.primary_contact.phone.blank? ?  "" : "<br/>t : #{property.secondary_contact.phone}" if property.secondary_contact %><%= property.secondary_contact.email.blank? ? "" : "<br/>e : #{property.secondary_contact.email}" if property.secondary_contact %></span>
        </p>
        <%end%>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
    <% unless @footer_image.blank? %>
      <div class="footer" style="margin-top:-70px"><div style="padding-top:62px"><img src="<%= @footer_image.public_filename %>" width="780" height="75"/></div></div>
    <% else %>
      <div class="footer" style="background-color:<%= @pdf_configuration.heading_color %>;color:<%= @pdf_configuration.heading_font_color %>"><div style="padding-top:25px;"><%= property.office.name  %></div></div></div>
    <% end %>
</div>
