<script type="text/javascript">
  // Path to the blank image must point to a valid location on your server
  function tb_remove_ajax() {
    $("#mask").hide();
    $("#frameContainer").remove();
    $("#closeFrame").remove();
    $("#RSIFrame").remove();
    Ext.getCmp("listingGrid").getStore().reload();
  }
  // Main application entry point
  Ext.onReady(function() {
    var page_name = "<%= params[:controller] == "available_children_listings" && params[:action] == "index" ? 'listing_view' : 'office_view' %>"
    var pagesize;
    var tbar;
    var urlProxy;

    if(page_name == 'listing_view'){
      var comboDS = new Ext.data.JsonStore({
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'team'},
          {name: 'suburbs'},
          {name: 'types'}
          //{name: 'floors'}
        ],
        proxy: new Ext.data.HttpProxy({
          url: '/available_children_listings/populate_combobox'+'?residential_project_id='+"<%= params[:residential_project_id] %>",
          method:'GET'
        })
      });
      var suburbDS = new Ext.data.JsonStore({
        root: 'suburbs',
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'suburb'},
          {name: 'suburbText'}
        ]
      });
      /*var floorDS = new Ext.data.JsonStore({
        root: 'floors',
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'floor'},
          {name: 'floorText'}
        ]
      });*/
      var typeDS = new Ext.data.JsonStore({
        root: 'types',
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'type'},
          {name: 'typeText'}
        ]
      });
      var teamDS = new Ext.data.JsonStore({
        root: 'team',
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'assigned_to'},
          {name: 'assigned_toText'}
        ]
      });
      comboDS.load();
      comboDS.on('load', function(){
        suburbDS.loadData(comboDS.reader.jsonData);
        //floorDS.loadData(comboDS.reader.jsonData);
        typeDS.loadData(comboDS.reader.jsonData);
        teamDS.loadData(comboDS.reader.jsonData);

        assigned_toCombo.setValue('<%= session[:primary_contact_fullname].blank? ? 'all' : session[:primary_contact_fullname] %>');
        typeCombo.setValue('<%= session[:property_type].blank? ? 'all' : session[:property_type] %>');
        suburbCombo.setValue('<%= session[:suburb].blank? ? 'all' : session[:suburb] %>');
        //floorCombo.setValue('<%#= session[:floor].blank? ? 'all' : session[:floor] %>');
      });

      var listingCombo = new Ext.form.ComboBox({
        id:'listingCombo',
        fieldLabel:'All Listing Type',
        store: new Ext.data.ArrayStore({
          id: 0,
          fields: [
            'val',
            'text'
          ],
          data: [['all', 'All Listing Types'], ['ResidentialSale', 'Residential Sale'], ['ResidentialLease', 'Residential Lease'], ['Commercial', 'Commercial Sale & Lease'], ['BusinessSale', 'Business Sale'], ['ProjectSale', 'House & Land'], ['HolidayLease', 'Holiday Lease']]
        }),
        typeAhead: true,
        mode: 'local',
        triggerAction: 'all',
        sortable: false,
        selectOnFocus:true
        ,valueField:'val'
        ,displayField:'text'

      });

      var assigned_toCombo = new Ext.form.ComboBox({
        store: teamDS,
        typeAhead: true,
        mode: 'local',
        id: 'contactCombo',
        triggerAction: 'all',
        sortable: false,
        selectOnFocus:true
        ,valueField:'assigned_to'
        ,displayField:'assigned_toText'
      });

      var typeCombo = new Ext.form.ComboBox({
        store: typeDS,
        typeAhead: true,
        mode: 'local',
        id: 'typeCombo',
        triggerAction: 'all',
        sortable: false,
        selectOnFocus:true
        ,valueField:'type'
        ,displayField:'typeText'
      });

      var suburbCombo = new Ext.form.ComboBox({
        store: suburbDS,
        typeAhead: true,
        mode: 'local',
        id: 'suburbCombo',
        sortable: false,
        triggerAction: 'all',
        selectOnFocus:true
        ,valueField:'suburb'
        ,displayField:'suburbText'
      });

      /*var floorCombo = new Ext.form.ComboBox({
        store: floorDS,
        typeAhead: true,
        mode: 'local',
        id: 'floorCombo',
        sortable: false,
        triggerAction: 'all',
        selectOnFocus:true
        ,valueField:'floor'
        ,displayField:'floorText'
      });*/

      var statusCombo = new Ext.form.ComboBox({
        fieldLabel:'All Status',
        store: new Ext.data.ArrayStore({
          id: 0,
          fields: [
            'val',
            'text'
          ],
          data: [['all', 'All Status'], ['1', 'Available'], ['2', 'Sold'], ['3', 'Leased'], ['4', 'Withdrawn'], ['5', 'Underoffer'], ['6', 'Draft']]
        }),
        id:'statusCombo',
        typeAhead: true,
        mode: 'local',
        sortable: false,
        triggerAction: 'all',
        selectOnFocus:true
        ,valueField:'val'
        ,displayField:'text'
      });

      statusCombo.setValue('<%= session[:status].blank? ? '1' : session[:status] %>');
      listingCombo.setValue('<%= session[:type].blank? ? 'all' : session[:type] %>');
      suburbCombo.setValue('<%= session[:suburb].blank? ? 'all' : session[:suburb] %>');
      //floorCombo.setValue('<%#= session[:floor].blank? ? 'all' : session[:floor] %>');
      tbar = new Ext.Toolbar({
        hideMode:'offset',
        forcefit: true,
        items  : [listingCombo, suburbCombo,typeCombo,assigned_toCombo,statusCombo]
      });
      pagesize = 50;
      urlProxy = '/available_children_listings/view_listing?page_name='+page_name+'&suburb='+suburbCombo.getValue()+'&type='+listingCombo.getValue()+'&status='+statusCombo.getValue()+'&property_type='+typeCombo.getValue()+'&primary_contact_fullname='+assigned_toCombo.getValue()+'&residential_project_id='+"<%= params[:residential_project_id] %>";
      suburbCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      /*floorCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);*/

      statusCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      listingCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      typeCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      assigned_toCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);
    }else{
      pagesize = 50;
      urlProxy =  '/available_children_listings/view_listing?page_name='+page_name+'&status=<%=session[:status]%>';
    };

    var ds = new Ext.data.JsonStore({
      //autoLoad: true,
      root: 'rows',
      id: 'id',
      totalProperty: 'results',
      remoteSort: true,

      fields: [
        'id', 'listing','address','suburb','suite','sqm','bedroom','bathroom','carspace','storage','type','price','assigned_to','actions','status','fb','payment_status','sold_price','sold_date','purchaser'
      ],

      // load using script tags for cross domain, if the data in on the same domain as
      // this page, an HttpProxy would be better
      proxy: new Ext.data.HttpProxy({
        url: urlProxy,
        method:'GET'
      })
    });
    //  var compareData = new Array();
    ds.setDefaultSort('updated_at','DESC');


    var paging_toolbar = new Ext.PagingToolbar({
      pageSize: pagesize,
      displayInfo: true,
      emptyMsg: 'No data found',
      displayInfo: true,
      forcefit: true,
      style: 'text-align:center;',
      hideMode:'offset',
      displayMsg: 'Results : {2}',
      store: ds,
      toggleHandler: function(btn, pressed){
        var view = grid.getView();
        view.showPreview = pressed;
        view.refresh();
      }
    })
    // create the Grid
    var grid = new Ext.grid.GridPanel({
      id:'listingGrid',
      store: ds,
      tbar: tbar,
      loadMask:true,
      style: 'text-align:center;',
      layout:'fit',
      stripeRows:true,
      autoScroll:true,
      shim:true,
      forceFit:true,
      width:'100%',
      viewConfig : {
        layout : function() {
          if (!this.mainBody) {
            return; // not rendered
          }
          var g = this.grid;
          var c = g.getGridEl();
          var csize = c.getSize(true);
          var vw = csize.width;
          if (!g.hideHeaders && (vw < 20 || csize.height < 20)) { // display:
            // none?
            return;
          }
          if (g.autoHeight) {
            if (this.innerHd) {
              this.innerHd.style.width = (vw) + 'px';
            };
            var scroll_height = g.getStore().getCount() * 30;

            if(scroll_height < 40){
              this.scroller.setHeight(this.scroller.getHeight() + 8);
            };
            if(scroll_height > 40){
              this.scroller.setHeight(scroll_height);
            };
            //g.getTopToolbar().setWidth(csize.width)
            //g.getBottomToolbar().setWidth(csize.width)
          } else {
            this.el.setSize(csize.width, csize.height);
            var hdHeight = this.mainHd.getHeight();
            var vh = csize.height - (hdHeight);
            this.scroller.setSize(vw, vh);
            if (this.innerHd) {
              this.innerHd.style.width = (vw) + 'px';
            }
          }
          if (this.forceFit) {
            if (this.lastViewWidth != vw) {
              this.fitColumns(false, false);
              this.lastViewWidth = vw;
            }
          } else {
            this.autoExpand();
            this.syncHeaderScroll();
          }
          this.onLayout(vw, vh);
        }
      }

      ,
      columns: [
        {header: 'ID', width: 35, sortable: true, dataIndex: 'id',filterable: true},
        {header: 'Listing', width: 70, sortable: true, dataIndex: 'listing'},
        {header: 'Suburb', width: 70, sortable: true,dataIndex: 'suburb'},
        {header: 'Address', width: 135, sortable: true, dataIndex: 'address'},
        {header: 'Suite', width: 50, sortable: true, dataIndex: 'suite'},
        //{header: 'Floor', width: 35, sortable: true, dataIndex: 'floor'},
        {header: 'Sqm', width: 35, sortable: true, dataIndex: 'sqm'},
        {header: 'Bed', width: 35, sortable: true, dataIndex: 'bedroom'},
        {header: 'Bath', width: 35, sortable: true, dataIndex: 'bathroom'},
        {header: 'Car', width: 35, sortable: true, dataIndex: 'carspace'},
        {header: 'Storage', width: 50, sortable: true, dataIndex: 'storage'},
        //{header: 'Sold Price', width: 70, sortable: true, renderer:moneyFormat, dataIndex: 'sold_price'},
        //{header: 'Sold Date', width: 70, sortable: true, dataIndex: 'sold_date'},
        //{header: 'Purchaser', width: 100, sortable: true, dataIndex: 'purchaser'},
        {header: 'I/E', width: 50, sortable: true, dataIndex: 'I/E'},
        {header: 'Actions', width: 225,dataIndex: 'actions',renderer:renderAction}
      ],
      autoHeight:true,
      title: 'Click on column headings to sort, drag column headings to reposition, adjust column width or remove columns from the view.',
      bbar:paging_toolbar
    });
    grid.on('resize',function(){
      grid.getView().refresh();
    })
    // render the grid to the specified div in the page
    grid.render('property-list');
    paging_toolbar.refresh.hideParent = true;
    paging_toolbar.refresh.hide();

    //function renderEdit(id){
    //return '<a href="/agents/<%#=@agent.id%>/offices/<%#=@office.id%>/properties/' + id + '" style="color:#0e7fc7;">Edit</a>';
    //};
    function renderAction(actions){
      var act = "<a href='/residential_projects/"+<%= params[:residential_project_id] %>+"/available_children_listings/" + actions[0] + "/preview' onclick='callPreview(this.href);return false;'><img src='/images/icons/icon_preview.gif'/></a>\n\
                 <a href='/residential_projects/" + actions[0] + "/status'><img src='/images/icons/icon_available.gif' ></a>";
      return act;
    };

    function renderShare(fb){
      return "<a href='http://www.facebook.com/share.php' rel='nofollow' onclick='return fbs_click(\""+fb[1]+"\")' target='_blank' class='fb_share_button'><img src='/images/icons/Facebook.png'/></a><a href='#' onclick='OpenTwitter(\""+fb[2]+"\")'><img src='/images/icons/twitter.png'/></a>"
    };
    ds.load({params:{start:0,limit:pagesize}});
    grid.doLayout();
    // ds.on('load', function(store, records, index) {
    //grid.setHeight(ds.getCount() * 37);
    // });
    function setGridURL(){
      grid.getStore().proxy.setApi('read', '<%= view_listing_residential_project_available_children_listings_path(params[:residential_project_id]) %>?page_name='+page_name+'&suburb='+suburbCombo.getValue()+'&type='+listingCombo.getValue()+'&status='+statusCombo.getValue()+'&property_type='+typeCombo.getValue()+'&primary_contact_fullname='+assigned_toCombo.getValue());
      paging_toolbar.changePage(1);
      grid.getStore().reload();
    }
  });

  function moneyFormat(v){
    v = (Math.round((v-0)*100))/100;
    v = (v == Math.floor(v)) ? v + ".00" : ((v*10 == Math.floor(v*10)) ? v + "0" : v);
    v = String(v);
    var ps = v.split('.'),
    whole = ps[0],
    // sub = ps[1] ? '.'+ ps[1] : '.00',
    r = /(\d+)(\d{3})/;
    while (r.test(whole)) {
      whole = whole.replace(r, '$1' + ',' + '$2');
    }
    v = whole; //+ sub;
    if(v.charAt(0) == '-'){
      return '-$' + v.substr(1);
    }
    if(v == "0"){
      return ""
    }else{
      return "$" +  v;
    }
  }

  function OpenTwitter(tw) {
    window.open("http://twitter.com/home?status="+tw,1,'toolbar=no,location=no,directories=no,status=no,scrollbars=yes,resizable=no,copyhistory=no,width=802,height=489')
  }
</script>
<style type="text/css">
  #property-list table{
    margin: 0px;
    border: medium none;
    width: 0%;
  }
  #property-list .x-toolbar {
    background-color:inherit;
    background-image:none;
    border-color:#A9BFD3;
  }
</style>
<div id="property-list"></div>
<!-- NOTE TO DEVELOPER: For home/dashboard page, please show 10 listings. -->
<!-- NOTE TO DEVELOPER: For Listings page, please show 50 listings. -->
