<div class="group" style="background-color:#E1EBF5;">
<% form_for :property, @property, :url => update_brochure_agent_office_property_vaults_path(@agent, @office, @property, :come_from => request.request_uri), :html => { :multipart => true, :class => "mediaform full", :id => "propertybrochureform" } do |f| %>
    <div class="block full" >
      <h6>Load files (* File types allowed: pdf)</h6>
      <table id="vault_table">
        <tr><th style="background-color:#C8D2DC">Filename</th><th style="background-color:#C8D2DC">Action</th></tr>
        <% @property.vault_files.find(:all, :conditions => "`send_to_api` IS NULL OR `send_to_api` = 1", :order => "`position`").each do |b| %>
          <tr id="tr_brochure_<%=  b.id %>">
            <td>
              <img src="/images/pdf-icon.png" name="pdf" />
              <% if b.new_record? %>
                Filename
              <% else %>
                <%= b.filename %>
              <% end %>
            </td>
            <td width="10%">
              <%= hidden_field_tag "brochures[][id]", b.id %>
              <% unless b.new_record? %>
              <%= link_to 'View', b.public_filename, :target => '_blank' %> |
              <%= link_to_remote "Delete", :url => destroy_brochure_agent_office_property_vaults_path(@agent, @office, @property, :image_id => b.id), :method => :delete, :class => "delete_btn", :confirm => "Are you sure to delete this?" %>
              <% end %>
            </td>
          </tr>
        <%end %>
      </table>
      <div id="brochure_images"></div>
      <div class="clearer"></div>
      <div class="action_button" style="border-top:0px;">
        <span id="brochure_action_button"></span>
        <button name="brochuresubmit" type="submit" value="Upload File" onclick="upload_files();return false;">
          <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/>
          Upload File
        </button>
      </div>
    </div>
<% end %>
</div>
<style>
  td{font-size:8pt;}
  .myset{border:1px solid grey;padding:5px;width:450px;background-color:#FFFFFF;}
  .progressWrapper{width:450px;}
</style>
<script type="text/javascript">
  function upload_files(){
    brochure_uploader.startUpload();
  }
</script>