  <div class="group" style="background-color:#E1EBF5;">
 <% form_for :property, @property, :url => update_simple_brochures_agent_office_property_vaults_path(@agent, @office, @property, :come_from => request.request_uri), :html => { :multipart => true, :class => "mediaform full", :id => "propertybrochureform" } do |f| %>
    <div class="block full" >
      <h6>Load files (* File types allowed: pdf)</h6>
      <table id="vault_table">
        <tr><th style="background-color:#C8D2DC">Filename</th><th style="background-color:#C8D2DC">Upload</th><th style="background-color:#C8D2DC">Action</th></tr>
        <% if @property.vault_files.blank? %>
         <%= render :partial => 'vaults/simple_brochure_form', :locals => { :b => @property.vault_files.build(:position => 1) } %>
        <% else %>
          <% @property.vault_files.find(:all, :conditions => "`send_to_api` IS NULL OR `send_to_api` = 1", :order => "`position`").each do |b| %>
           <%= render :partial => 'vaults/simple_brochure_form', :locals => { :b => b } %>
          <%end %>
        <% end %>
      </table>
      <div class="clearer"></div>
      <div class="action_button" style="border-top:0px;">
        <%= link_to_function(image_tag("/images/icons/famfamfam/picture_add.png") + " Add Another", nil, :id => "photo_button") do |page|
          html = render(:partial => 'vaults/simple_brochure_form', :locals => { :b => @property.vault_files.build(:position => 9999) })
          page << %{$('#vault_table tr:last').after('#{escape_javascript(html)}')}
        end %>
        <button name="brochuresubmit" type="submit" value="Upload File">
          <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/>
          Upload Files
        </button>
      </div>
    </div>
  </div>
<% end %>