<div class="sub2nav">
  <div class="optnav <%= params[:action] == 'vault_settings' ? 'current-nav' : ''  %>">
    <%= link_to 'Vault Settings', vault_settings_agent_office_property_vaults_path(@agent, @office, @property), :title => 'Vault Settings'%>
  </div>
  <div class="optnav <%= params[:action] == 'vault_files' ? 'current-nav' : ''  %>">
    <%= link_to 'Files', vault_files_agent_office_property_vaults_path(@agent, @office, @property), :title => 'Files'%>
  </div>
  <div class="optnav <%= params[:action] == 'vault_contacts' ? 'current-nav' : ''  %>">
    <%= link_to 'Contacts', vault_contacts_agent_office_property_vaults_path(@agent, @office, @property), :title => 'Contacts'%>
  </div>
  <div class="clearer"></div>
</div>