<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Agents <%= @title %></title>
  </head>
  <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
  <body>
  <div id="clientdiv" class="block accounts full">
   <div id="helpdiv" class="block help full">
     <% if flash.now[:notice] %>
       <div class='group'><p class="help_message"><%= h flash.now[:notice] %></p></div>
     <% end %>
   </div>
  <% form_for :agent_contact, @agent_contact, :url => create_contact_agent_office_property_vaults_path(@agent, @office, @property), :html => {:class => 'propertyform full', :id => 'form_new'} do |f| %>
     <%= f.error_messages :class => 'errortext' %>
     <div class="block form follower" style="padding-right:5px;">
      <div id="propertydatadiv" class="group formdiv" style="min-height:255px;height:255px;">
        <div class="set">
          <h6 class="full">Add Contact </h6>
          <fieldset class="pf_fs5">
            <ul class="pf-ul">
              <li class="li--17 required contact"><label><span>First Name:</span></label>
                <%= f.text_field :first_name, :class => "single" %>
              </li>
              <li class="li--17 required contact"><label><span>Last Name:</span></label>
                <%= f.text_field :last_name, :class => "single" %>
              </li>
              <li class="li--17 required contact"><label><span>Email:</span></label>
                <%= f.text_field :email, :class => "single" %>
              </li>
              <li class="li--17 contact"><label><span>Home Number:</span></label>
                <%= f.text_field :home_number, :class => "single" %>
              </li>
              <li class="li--17 contact"><label><span>Work Number:</span></label>
                <%= f.text_field :work_number, :class => "single" %>
              </li>
              <li class="li--17 contact"><label><span>Mobile Number:</span></label>
                <%= f.text_field :mobile_number, :class => "single" %>
              </li>
              <li class="li--17 contact"><label><span>Contact Number:</span></label>
                <%= f.text_field :contact_number, :class => "single" %>
              </li>
              <li class="li--23"><label><span>&nbsp;</span></label>
                <button name="btn_submit" type="submit" value="Submit">
                  <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Submit
                </button>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>

     <div class="group">
       <div class="set">
         <h6 class="full">Provide System Access</h6>
         <fieldset class="pf_fs5">
           <ul class="pf-ul">
             <li class="li--17 contact">
               <label><span>Create contact login: </span></label>
               <%= f.check_box :login_required, :checked => "checked", :onchange => "check_username(this);" %>
             </li>
             <li class="li--17 contact"><label><span>Username:</span></label>
               <%= f.text_field :username, :class => "single" %>
             </li>
             <li class="li--17 contact"><label><span>Password:</span></label>
               <%= f.text_field :password, :class => "single" %>
             </li>
           </ul>
         </fieldset>
       </div>
     </div>

      <div id="propertydatadiv" class="group">
        <div class="action_button" style="border:none;">
          <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.adv_search_contact_name();return false", :style =>"float:right;"%>
        </div>
       </div>
     </div>
    <% end %>
   </div>
</body>
</html>