<div style="margin-top:10px;text-align:right;margin-right:10px;font-size:9pt;">
  <%= link_to 'Sign Out', logout_path %>
</div>
<div class="title_block block">
  <% if get_current_subdomain == 'knightfrank' %>
    <div style="float:left;width:200px;"><h2 class="page_title" style="color: #fff">The Vault</h2></div>
  <% else %>
    <div style="float:left;width:200px;"><h2 class="page_title">The Vault</h2></div>
  <% end %>
  <div style="clear:both;"></div>
</div>
<div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
  <div class="set">
    <div style="width:100%">
      <h6>Below are a list of Listings you have access to read their confidential documents, Click "View" to read the documents for that listing, if you're required to enter a password then submit the password you have been required for that listing.</h6>
      <br/><h6>Listings </h6>
      <fieldset class="pf_fs2">
        <% if flash.now[:error] %>
          <div style="border:1px solid #ffffff;padding:5px;margin-bottom:5px;color:red;"><%= h flash.now[:error] %></div>
        <% end %>
        <table>
          <tr><th>No</th><th>Listing</th><th>View Document</th></tr>
          <% unless @vault_contacts.blank? %>
            <% @vault_contacts.each_with_index do |vault_contact, index| %>
              <tr><td width="5%"><%= (index+1) %></td><td width="40%"><%= vault_contact.vault.property.try.address %></td>
                <td>
                  <% if check_access_limitation(vault_contact) %>
                    <% if vault_contact.vault.required_password == true  %>
                      <% form_tag check_vault_path, :method => 'post' do %>
                        <div style="width:350px;">
                          <div style="float:left;">
                            <input type="hidden" name="vault_id" value="<%= random_id(vault_contact.vault.id) %>"/>
                            Password: <input type="password" name="password" size="30"/></div>
                          <div style="float:right;"><button name="submit_<%= vault_contact.vault.id %>" type="submit" value="view_document">View</button></div>
                        </div>
                      <% end %>
                    <% else %>
                      <%= link_to "View", vault_documents_path(random_id(vault_contact.vault.id))%>
                    <% end %>
                  <% else %>
                    <span style="color:red;">Limitation Access Time Reached</span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </fieldset>
    </div>
  </div>
  <div class="clearer"></div>
</div>