<div class="title_block block"><h2 class="page_title"><%= @property.address %></h2></div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div class="title_block block">
  <h4><span class="lite">The Vault allows you to share confidential documents for a listing with your Contacts. You can load the documents below and then select which Contacts have access to these documents along with the time limit for their access. Once their time limit has been reached they will no longer be able to view the documents. They must login with their username and password which is controlled in the Contacts section and you can have an additional password on each listing if required. View the logs for each listing to see when documents were accessed and by which Contact</span></h4>
</div>

<div class="block help full sub-opt-nav"><%= render :partial => "vault_tabs"%></div>

<div id="clientdiv" class="block accounts full">
<% form_for(@vault, :url => update_vault_agent_office_property_vaults_path(@agent, @office, @property), :html => {:class => 'propertyform full', :id=> "form_new"}) do |f| %>
  <%= f.error_messages :class => 'errortext' %>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <h6>File Settings</h6>
      <div style="width:100%">
          <h6>Add an Expiry Download to the pdf (pdf will become corrupted once the time elapses)</h6>
          <fieldset class="pf_fs2">
          <table class="pf-table">
           <tr class="li--8">
             <td class="value" style="width:190px;"><%= f.check_box :enable_expiry %>&nbsp;Enable</td>
             <td class="value" style="width:100px;">Expire Time:&nbsp;</td>
             <td class="value"><%= f.select :expiry_hour, @expiry_hours, {}, {:style => "min-width:155px;width:155px;"} %></td>
           </tr>
          </table>
          </fieldset>
       </div>
       <div style="width:100%">
          <h6>Add a Watermark to the pdf (text will be embed on the pdf)</h6>
          <fieldset class="pf_fs2">
          <table class="pf-table">
           <tr class="li--8">
             <td class="value" style="width:190px;"><%= f.check_box :enable_watermark %>&nbsp;Enable</td>
             <td class="value" style="width:100px;">Watermark Text:&nbsp;</td>
             <td class="value"><%= f.text_field :watermark_text, :class => "single", :value => (@vault.blank? ? "Private & Confidential" : @vault.watermark_text), :style => "min-width:150px;width:150px;" %></td>
           </tr>
          </table>
          </fieldset>
       </div>
        <div style="width:100%">
          <h6>Listing Password (you can have added security by forcing the user to enter a password for listing once they are logged in)</h6>
          <fieldset class="pf_fs2">
          <table class="pf-table">
           <tr class="li--8">
             <td class="value" style="width:190px;"><%= f.check_box :required_password %>&nbsp;Required</td>
             <td class="value" style="width:100px;">Password:&nbsp;</td>
             <td class="value"><%= f.text_field :password, :class => "single", :style => "min-width:150px;width:150px;" %></td>
           </tr>
          </table>
          </fieldset>
        </div>
       <div class="clearer"></div>
    </div>
    <div class="clearer"></div>
  </div>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <h6>Access Rules</h6>
       <div style="width:100%">
        <div>
          <h6>Access Time (clients access to this listing will be cancelled as per below)</h6>
        </div>
        <fieldset class="pf_fs2">
        <table class="pf-table">
         <tr class="li--8">
           <td class="value"><%= f.radio_button :access_time, 0, {:checked => true} %>&nbsp;No Limit</td>
           <td class="value"><%= f.radio_button :access_time, 1 %>&nbsp;1 Day</td>
           <td class="value"><%= f.radio_button :access_time, 2 %>&nbsp;1 Week</td>
           <td class="value"><%= f.radio_button :access_time, 3 %>&nbsp;1 Month</td>
         </tr>
        </table>
        </fieldset>
      </div>
    </div>
    <div class="clearer"></div>
  </div>
   <div id="contactsdiv">
     <table class="pf-table" style="border:none;">
       <tr class="li--8">
         <td class="value">
           <button name="update" type="submit" value="Update" style="float:right;">
            Submit
           </button>
         </td>
       </tr>
     </table>
   </div>
<% end %>
</div>