<div style="margin-top:10px;text-align:right;margin-right:10px;font-size:9pt;"><%= link_to 'Sign Out', logout_path %></div>
<div class="title_block block">
  <% if get_current_subdomain == 'knightfrank' %>
    <div style="float:left;width:200px;"><h2 class="page_title" style="color: #fff">The Vault</h2></div>
  <% else %>
    <div style="float:left;width:200px;"><h2 class="page_title">The Vault</h2></div>
  <% end %>
  <div style="clear:both;"></div>
</div>
<div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
<div class="set">
   <div style="width:100%">
     <% unless @vault.blank? %>
     <h6>Below are a list of documents for <%= @vault.property.address %>, Click "Download" to read the document.</h6>
     <br/><h6>Documents for <%= @vault.property.address %></h6>
     <fieldset class="pf_fs2">
     <table>
       <tr><th>No</th><th>Filename</th><th>Download Document</th></tr>
        <% unless @vault.property.vault_files.blank? %>
         <% @vault.property.vault_files.each_with_index do |document, index| %>
           <% unless document.category == "watermark" %>
           <tr>
             <td width="5%"><%= (index+1) %></td>
             <td><img src="/images/pdf-icon.png" name="pdf" />&nbsp;<%= document.filename %> <%= document.description.blank? ? "" : "- #{document.description}" %></td>
             <td width="15%"><%= link_to "Download", vault_download_path(@vault, document), :target => "_blank" %></td>
            </tr>
           <% end %>
          <% end %>
        <% end %>
      </table>
      <% end %>
      <button name="property_list" type="button" value="property_list" style="float:left;" onclick="window.location= '<%= contact_vault_path %>'">Back to Property List</button>
    </fieldset>
  </div>
</div>
<div class="clearer"></div>
</div>