<% form_for :office, @office, :url => agent_office_configurations_path(@agent, @office), :html => {:name => 'create_form', :class => "business_details_form", :style => "padding-top:50px", :method => :post, :multipart => true} do |form| %>
  <div id="contactsdiv" class="block form group" style="background-color: #E1EBF5">
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
    <div class="set">
      <h6>Emarketing brochure header</h6>
      <%= image_tag (@emarketing_brochure_header.blank? ? image_path('header1.png') : @emarketing_brochure_header.public_filename), :width => 780, :height => 80, :class => 'team_photo' %>
      <div class="pack file_button">
        <%= file_field_tag 'emarketing_brochure_header[uploaded_data]', :size => 30 %>
      </div>
    </div>
  </div>
  <br/>
  <div id="contactsdiv" class="block form group" style="background-color: #E1EBF5">
    <div class="set">
      <h6>Emarketing brochure footer</h6>
      <%= image_tag (@emarketing_brochure_footer.blank? ? image_path('footer_placeholder.png') : @emarketing_brochure_footer.public_filename), :width => 780, :height => 80, :class => 'team_photo' %>
      <div class="pack file_button">
        <%= file_field_tag 'emarketing_brochure_footer[uploaded_data]', :size => 30 %>
      </div>
    </div>
  </div>
  <br/>
  <div id="contactsdiv" class="block form group" style="background-color: #E1EBF5">
    <div class="set">
      <h6>Pdf brochure header</h6>
      <%= image_tag (@pdf_brochure_header.blank? ? image_path('header2.png') : @pdf_brochure_header.public_filename), :width => 780, :height => 80, :class => 'team_photo' %>
      <div class="pack file_button">
        <%= file_field_tag 'pdf_brochure_header[uploaded_data]', :size => 30 %>
      </div>
    </div>
  </div>
  <br/>
  <div id="contactsdiv" class="block form group" style="background-color: #E1EBF5">
    <div class="set">
      <h6>Pdf brochure footer</h6>
      <%= image_tag (@pdf_brochure_footer.blank? ? image_path('footer_placeholder.png') : @pdf_brochure_footer.public_filename), :width => 780, :height => 80, :class => 'team_photo' %>
      <div class="pack file_button">
        <%= file_field_tag 'pdf_brochure_footer[uploaded_data]', :size => 30 %>
      </div>
    </div>
  </div>
  <div class="clearer"></div>
  <div class="action_button">
    <button name="photosubmit" type="button" value="Upload" onclick="form.submit();" class="submit_btn">
      <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/> Upload
    </button>
  </div>
<%end%>
