<div id="newclientsdiv" class="block tables half follower">
<div class="group">
<h3>New Clients <small class="formgrouplinks">Go to <%= link_to 'Client Centre', clients_admin_path %></small></h3>

	<table cellpadding="0" cellspacing="0" class="clientcntr_table">
		<tr>
			<th class="first_cell field">Developer</th>
			<th class="field">Client Name</th>
			<th class="field">ID</th>
			<th class="field">Country</th>
			<th class="field">Status</th>
			<th class="field">Active</th>
			<th class="field">Inactive</th>
			<th class="field">Pending</th>
		</tr>
		<% Agent.all(:order => "created_at desc", :limit => 6).each do |agent| %>
			<tr class="<%= cycle('alt', '')%>">
				<td class="first_cell value"><%= link_to h(agent.developer.name), developer_path(agent.developer) %></td>
				<td class="value"><%= link_to h(agent.name), clients_admin_path(:client => agent) %></td>
				<td class="value"><%= agent.code %></td>
				<td class="value"><%= agent.country %></td>
				<td class="value"><%= agent.status.capitalize %></td>
				<td class="value"><%= link_to agent.active_offices.count, offices_admin_path(:client => agent, :status => 'active') %></td>
				<td class="value"><%= link_to agent.inactive_offices.count, offices_admin_path(:client => agent, :status => 'inactive') %></td>
				<td class="value"><%= link_to agent.pending_offices.count, offices_admin_path(:client => agent, :status => 'pending') %></td>
			</tr>
		<% end %>
	</table>
</div>
</div>
