
<div id="newdevelopersdiv" class="block tables half leader">
<div class="group">
<h3>New Developers <small class="formgrouplinks">Go to <%= link_to "Developers Centre", developers_path %></small></h3>

	<table cellpadding="0" cellspacing="0" class="clientcntr_table">
		<tr>
			<th class="first_cell field">Developer</th>
			<th class="field">ID</th>
			<th class="field">Status</th>
			<th class="field">Clients</th>
			<th class="field">Offices</th>
			<th class="field">Listings</th>
		</tr>
		<% Developer.all(:order => "created_at desc", :limit => 6).each do |dev| %>
			<tr class="<%= cycle('alt', '')%>">
				<td class="first_cell value">
					<%= link_to h(dev.name), edit_developer_path(dev), :title => "Update #{h dev.name}" %>
				</td>
				<td class="value"><%= dev.full_code %></td>
				<td class="value"><%= dev.status.capitalize %></td>
				<td class="value"><%= link_to dev.agents.count, '' %></td>
				<td class="value"><%= link_to dev.offices.count, '' %></td>
				<td class="value"><%= dev.properties_count %></td>
			</tr>
		<% end %>
	</table>
</div>
</div>
