
<div id="clientmessagecntrdiv" class="block tables half leader">
<div class="group">
<h3>Developer Messages 
	<small class="formgrouplinks">
		Go to 
		<%= link_to 'Message Centre', messages_path %> |
		<%= link_to "#{AdminMessage.count - current_user.unread_messages_count} Read", messages_path %> |
		<%= link_to "#{current_user.unread_messages_count } Unread", unread_messages_path %>
	</small></h3>

	<table cellpadding="0" cellspacing="0" class="clientcntr_table">
		<tr>
			<th class="first_cell field">Date</th>
			<th class="field">Category</th>
			<th class="field">Developer Name</th>
			<th class="field">User</th>
			<th class="field">Status</th>
			<th class="field">Actioned</th>
		</tr>
		<% AdminMessage.all(:order => 'created_at desc', :limit => 6).each do |msg | %>
			<tr class="<%= cycle('alt', '') %>">
				<td class="first_cell value"><%= msg.created_at.to_s(:short) %></td>
				<td class="value"><%= link_to h(msg.category.name), messages_path(:category => msg.category.id) %></td>
				<td class="value"><%= h msg.sender.blank? ? '?' : (msg.sender.developer.blank? ? msg.sender.login : msg.sender.developer.name) %></td>
				<td class="value"><%= h msg.sender.blank? ? '?' : (msg.sender.full_name.blank? ? msg.sender.login : msg.sender.full_name) %></td>
				<td class="value"><%= link_to(msg.admin_unread? ? 'Unread' : 'Read', message_path(msg)) %></td>
				<td class="value">
					<% unless msg.message_comments.blank? -%>
						<%= link_to msg.message_comments.last.created_at.to_s(:short), message_path(msg, :anchor=> "message_comment_#{msg.message_comments.last.id}") %>
					<% else -%>
						<%= link_to "Reply", message_path(msg, :anchor => "new_comment_form") %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
</div>
</div>

