
<div id="paymentsdiv" class="block tables half follower">
<div class="group">
<h3>Outstanding Payments <small class="formgrouplinks">Go to <a href="payments.php" title="Payments Centre">Payments Centre</a> | <a href="#" title="20 Overdue">20 Overdue</a> | <a href="#" title="4 Suspended">4 Suspended</a></small></h3>

	<table cellpadding="0" cellspacing="0" class="clientcntr_table">
		<tr>
			<th class="first_cell field">Invoice #</th>
			<th class="field">Date</th>
			<th class="field">Developer</th>
			<th class="field">ID</th>
			<th class="field">Status</th>
			<th class="field">Amount</th>
		</tr>
		<tr class="alt">
			<td class="first_cell value"><a href="#" title="1076">1076</a></td>
			<td class="value">24-12-08</td>
			<td class="value"><a href="#" title="System Help">Cre8tive Design</a></td>
			<td class="value">AU-57685</td>
			<td class="value">Overdue</td>
			<td class="value">$298.60</td>
		</tr>
		<tr>
			<td class="first_cell value"><a href="#" title="1054">1054</a></td>
			<td class="value">24-12-08</td>
			<td class="value"><a href="#" title="System Help">Mix Developer</a></td>
			<td class="value">AU-57623</td>
			<td class="value">Suspended</td>
			<td class="value">$50.60</td>
		</tr>
		<tr class="alt">
			<td class="first_cell value"><a href="#" title="1054">1054</a></td>
			<td class="value">24-12-08</td>
			<td class="value"><a href="#" title="System Help">Mix Developer</a></td>
			<td class="value">AU-57623</td>
			<td class="value">Suspended</td>
			<td class="value">$50.60</td>
		</tr>
		<tr>
			<td class="first_cell value"><a href="#" title="1054">1054</a></td>
			<td class="value">24-12-08</td>
			<td class="value"><a href="#" title="System Help">Mix Developer</a></td>
			<td class="value">AU-57623</td>
			<td class="value">Suspended</td>
			<td class="value">$50.60</td>
		</tr>
		<tr class="alt">
			<td class="first_cell value"><a href="#" title="1054">1054</a></td>
			<td class="value">24-12-08</td>
			<td class="value"><a href="#" title="System Help">Mix Developer</a></td>
			<td class="value">AU-57623</td>
			<td class="value">Suspended</td>
			<td class="value">$50.60</td>
		</tr>
		<tr>
			<td class="first_cell value"><a href="#" title="1054">1054</a></td>
			<td class="value">24-12-08</td>
			<td class="value"><a href="#" title="System Help">Mix Developer</a></td>
			<td class="value">AU-57623</td>
			<td class="value">Suspended</td>
			<td class="value">$50.60</td>
		</tr>
	</table>
</div>
</div>
