<div id="devsummary" class="block tables full">

<div class="group">
<h3>Commercial Loop Summary</h3>
<table width="100%" cellpadding="0" cellspacing="0" class="billingcntr_table">
	<tr>
		<th class="first_cell field th_country">Country</th>
		<th colspan="4" class="first_cell field th_developers" style="text-align:center;">Developers</th>
		<th colspan="4" class="first_cell field th_clients" style="text-align:center;">Clients</th>
		<th colspan="5" class="first_cell field th_offices" style="text-align:center;">Offices</th>
		<th class="first_cell field th_team" style="text-align:center;">Team</th>
		<th colspan="3" class="first_cell field th_listings" style="text-align:center;">Listings</th>
	</tr>
	
	<tr>
		<th class="first_cell field th_country">&nbsp;</th>

		<th class="first_cell field th_developers">A</th>
		<th class="field th_developers">I</th>
		<th class="field th_developers">S</th>
		<th class="field th_developers total">T</th>

		<th class="first_cell field th_clients">A</th>
		<th class="field th_clients">I</th>
		<th class="field th_clients">S</th>
		<th class="field th_clients total">T</th>

		<th class="first_cell field th_offices">A</th>
		<th class="field th_offices">I</th>
		<th class="field th_offices">P</th>
		<th class="field th_offices">S</th>
		<th class="field th_offices total">T</th>

		<th class="first_cell field th_team" style="text-align:center;">T</th>

		<th class="first_cell field th_listings">A</th>
		<th class="field th_listings">I</th>
		<th class="field th_listings total">T</th>

	</tr>
	<% PropertySummary.countries.each do |summary| %>
	<% country = summary.country %>
	<tr class="<%= cycle('alt', '') %>">
		<td class="first_cell value td_country"><%= country %></td>

		<td class="first_cell value td_active_developers td_developers">
			<%= link_to summary.developer_a, developers_path(:country => country, :status => 'active') %>
		</td>
		<td class="value td_inactive_developers td_developers">
			<%= link_to summary.developer_i, developers_path(:country => country, :status => 'inactive') %>
		</td>
		<td class="value td_suspended_developers td_developers">
			<%= link_to summary.developer_s, developers_path(:country => country, :status => 'suspended') %>
		</td>
		<td class="value td_total_developers td_developers total">
			<%= link_to summary.developer_t , developers_path(:country => country) %>
		</td>

		<td class="first_cell value td_active_clients td_clients">
			<%= link_to summary.client_a, clients_admin_path(:country => country, :status => 'active') %>
		</td>
		<td class="value td_inactive_clients td_clients">
			<%= link_to summary.client_i, clients_admin_path(:country => country, :status => 'inactive') %>
		</td>
		<td class="value td_suspended_clients td_clients">
			<%= link_to summary.client_s , clients_admin_path(:country => country, :status => 'suspended') %>
		</td>
		<td class="value td_total_clients td_clients total">
			<%= link_to summary.client_t, clients_admin_path(:country => country) %>
		</td>

		<td class="first_cell value td_active_offices td_offices">
			<%= link_to summary.office_a, offices_admin_path(:country => country, :status => 'active') %>
		</td>
		<td class="value td_inactive_offices td_offices">
			<%= link_to summary.office_i, offices_admin_path(:country => country, :status => 'inactive') %>
		</td>
		<td class="value td_pending_offices td_offices">
			<%= link_to summary.office_p, offices_admin_path(:country => country, :status => 'pending') %>
		</td>
		<td class="value td_suspended_offices td_offices">
			<%= link_to summary.office_s, offices_admin_path(:country => country, :status => 'suspended') %>
		</td>
		<td class="value td_total_offices td_offices total">
			<%= link_to summary.office_t, offices_admin_path(:country => country) %>
		</td>

		<td class="first_cell value td_team total" style="text-align:center;"><%= summary.team %></td>

		<td class="first_cell value td_active_listings td_listings"><%= summary.listing_a %></td>
		<td class="value td_inactive_listings td_listings"><%= summary.listing_i %></td>
		<td class="value td_total_listings td_listings total"><%= summary.listing_t %></td>
	</tr>
	<% end %>
	<% summary = PropertySummary.total.first %>
	<% if summary %>
	<% country = summary.country %>
	<tr class="<%= cycle('alt', '') %>">
		<td class="first_cell value td_country total">Total</td>

		<td class="first_cell value td_active_developers td_developers">
			<%= link_to summary.developer_a, developers_path(:status => 'active') %>
		</td>
		<td class="value td_inactive_developers td_developers">
			<%= link_to summary.developer_i, developers_path(:status => 'inactive') %>
		</td>
		<td class="value td_suspended_developers td_developers">
			<%= link_to summary.developer_s, developers_path(:status => 'suspended') %>
		</td>
		<td class="value td_total_developers td_developers total">
			<%= link_to summary.developer_t , developers_path %>
		</td>

		<td class="first_cell value td_active_clients td_clients">
			<%= link_to summary.client_a, clients_admin_path(:status => 'active') %>
		</td>
		<td class="value td_inactive_clients td_clients">
			<%= link_to summary.client_i, clients_admin_path(:status => 'inactive') %>
		</td>
		<td class="value td_suspended_clients td_clients">
			<%= link_to summary.client_s , clients_admin_path(:status => 'suspended') %>
		</td>
		<td class="value td_total_clients td_clients total">
			<%= link_to summary.client_t, clients_admin_path %>
		</td>

		<td class="first_cell value td_active_offices td_offices">
			<%= link_to summary.office_a, offices_admin_path(:status => 'active') %>
		</td>
		<td class="value td_inactive_offices td_offices">
			<%= link_to summary.office_i, offices_admin_path(:status => 'inactive') %>
		</td>
		<td class="value td_pending_offices td_offices">
			<%= link_to summary.office_p, offices_admin_path(:status => 'pending') %>
		</td>
		<td class="value td_suspended_offices td_offices">
			<%= link_to summary.office_s, offices_admin_path(:status => 'suspended') %>
		</td>
		<td class="value td_total_offices td_offices total">
			<%= link_to summary.office_t, offices_admin_path %>
		</td>

		<td class="first_cell value td_team total" style="text-align:center;"><%= summary.team %></td>

		<td class="first_cell value td_active_listings td_listings"><%= summary.listing_a %></td>
		<td class="value td_inactive_listings td_listings"><%= summary.listing_i %></td>
		<td class="value td_total_listings td_listings total"><%= summary.listing_t %></td>
	</tr>
	<% end %>

</table>

<p class="key"><strong>Key:</strong> <span title="Available">A</span>: Active;&nbsp;&nbsp;<span title="Inactive">I</span>: Inactive;&nbsp;&nbsp;<span title="Pending">P</span>: Pending;&nbsp;&nbsp;<span title="Suspended">S</span>: Suspended;&nbsp;&nbsp;<span title="Total">T</span>: Total</p>

</div>

</div>