<div class="block full">
  <h2>Client Summary</h2><br />
  <div id="filtersresultsdiv" class="block threequarters filtersresultsdiv">
    <% form_tag clients_admin_path, :method => 'get', :class => 'results_filter_form' do %>
      <%= select_tag 'developer', options_for_select(Developer.all.map{|d|[d.name, d.id]}.unshift(["All Developers", nil]), params[:developer]) %>
      <%= select_tag "country", options_for_select(Country.all.map{|c| [c.name, c.name]}.unshift(["All Countries", nil]), params[:country]) %>
      <%= select_tag "client", options_for_select(Agent.all.map{|c| [c.name, c.id.to_s]}.unshift(["All Clients", nil]), params[:client]) %>
      <%= select_tag "status", options_for_select(Agent::STATUS.map{|s|[s.capitalize, s]}.unshift(["All Status",nil]), params[:status]) %>
      <div class="action_button">
        <button name="filter" type="submit" value="Filter" class="filter"><img src="../images/icons/famfamfam/filter.png" alt="filter" width="16" height="16"/>
          Filter
        </button>
      </div>
    <% end %>
  </div><!-- end #filtersresultsdiv -->
</div>
<div class="block full">
  <form action="post" class="clientform full" id="clientsummarytable">

    <table class="client-list" cellspacing="0" cellpadding="0">
      <tr class="extra_th">
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th colspan="2">Account</th>

        <th colspan="4">Offices</th>
        <th colspan="2">Total</th>
        <th>&nbsp;</th>
      </tr>
        <tr class="alt">
        <th class="first_cell"><a href="#" title="">Developer</a></th>
        <!-- NOTE TO DEVELOPER: The first cell in every row of any table should have a class of "first_cell" -->

        <th><a href="#" title="">Client Country</a></th>
        <th><a href="#" title="">Opened</a></th>
        <th><a href="#" title="">ID</a></th>
        <th><a href="#" title="">Client Name</a></th>
        <th><a href="#" title="">Holder</a></th>
        <th><a href="#" title="">Status</a></th>

        <th><a href="#" title="">Active</a></th>
        <th><a href="#" title="">Inactive</a></th>
        <th><a href="#" title="">Pending</a></th>
        <th><a href="#" title="">Suspended</a></th>
        <th><a href="#" title="">Listings</a></th>
        <th><a href="#" title="">Team</a></th>

        <th>View Offices</th>
      </tr>
      <% for agent in @clients %>
        <tr class='<%= cycle("alt", "") %>'>
          <td><%= agent.developer.name  %></td>
          <td><%= agent.country  %></td>
          <td><%= agent.created_at  %></td>
          <td><%= agent.id  %></td>
          <td><%= agent.name  %></td>
          <td><%= agent.holder.full_name  %></td>
          <td><%= agent.status  %></td>
          <td><%= agent.active_offices.length  %></td>
          <td><%= agent.inactive_offices.length  %></td>
          <td><%= agent.pending_offices.length  %></td>
          <td><%= agent.suspended_offices.length  %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </table>
  </form>
</div>
