<style>
 td{  padding:4px;  }
 th{  padding:4px;  }
</style>
<div class="block full">
  <h2>Client Offices</h2><br />

  <div id="filtersresultsdiv" class="block threequarters filtersresultsdiv">
    <% form_tag offices_admin_path, :method => 'get', :class => 'results_filter_form' do %>
      <%= select_tag 'developer', options_for_select(Developer.all.map{|d|[d.name, d.id.to_s]}.unshift(["All Developers", nil]), params[:developer]) %>
      <%= select_tag 'client', options_for_select(Agent.all.map{|a| [a.name, a.id.to_s]}.unshift(["All Clients", nil]), params[:client]) %>
      <%= select_tag 'office', options_for_select(Office.all.map{|o| [o.name, o.id.to_s]}.unshift(["All Offices", nil]), params[:office]) %>
      <%= select_tag 'status', options_for_select(Office::STATUS.map{|s| [s.capitalize, s]}.unshift(["All Status", nil]), params[:status]) %>

      <div class="action_button">
        <button name="filter" type="submit" value="Filter" class="filter"><img src="../images/icons/famfamfam/filter.png" alt="filter" width="16" height="16"/>
          Filter
        </button>
      </div>
    <% end %>
  </div><!-- end #filtersresultsdiv -->
</div>

<div class="block full">
<p><b>Trigger API</b> (This is where you can trigger the API to send properties and team belonging to this office. You only need to do this if you have setup a new website and the properties are not already on that website.)</p>
  <form action="post" class="teamassignform full" id="bulkassignteamform">

    <table class="client-list" cellspacing="0" cellpadding="0">
      <tr>
      <th class="first_cell"><a href="#" title="">Developer</a></th>
      <!-- NOTE TO DEVELOPER: The first cell in every row of any table should have a class of "first_cell" -->
      <th><a href="#" title="">Client Country</a></th>
      <th><a href="#" title="">Commenced</a></th>

      <th><a href="#" title="">Client ID</a></th>
      <th><a href="#" title="">Office ID</a></th>
      <th><a href="#" title="">Client Name</a></th>
      <th><a href="#" title="">Office Name</a></th>
      <th><a href="#" title="">Status</a></th>
      <th><a href="#" title="">Listings</a></th>

      <th><a href="#" title="">Staff</a></th>
      <th>System</th>
      <th>Website</th>
      <th>Action</th>
      <th style="width:150px;">Trigger API</th>
      </tr>
      <% for office in @offices %>
        <tr class='<%= cycle("alt", "") %>'>
          <td class="first_cell" style="vertical-align:top;"><%= office.agent.developer.name rescue 'N/A' %></td>
          <td><%= office.country %></td>
          <td><%= office.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= office.agent.id rescue 'N/A' %></td>
          <td><%= office.id %></td>
          <td><%= office.agent.name rescue 'N/A' %></td>
          <td><%= office.name %></td>
          <td><%= office.status %></td>
          <td></td>
          <td></td>
          <td><%= link_to 'System', '' %></td>
          <td><%= link_to 'Website', '' %></td>
          <td><%= link_to (office.status == "active" ? 'Deactivate' : 'Activate'), url_for({:action => :toggle_office_status, :id => office.id}), :method => :put %></td>
          <td>
            <%= link_to "Available & Under Offer Listings", url_for({:action => :trigger, :id => office.id, :type => 1}), :method => :get %> <br/>
            <%= link_to "Sold Listings", url_for({:action => :trigger, :id => office.id, :type => 2}), :method => :get %> <br/>
            <%= link_to "Leased Listings", url_for({:action => :trigger, :id => office.id, :type => 3}), :method => :get %> <br/>
            <%= link_to "Team Members", url_for({:action => :trigger, :id => office.id, :type => 4}), :method => :get %> <br/>
          </td>
        </tr>
      <% end %>
    </table>
  </form>
</div>
