<div id="opentimesdiv" class="group">
  <div class="set" style="width:45%;float:left;">
    <h6 class="full" style="font-size:12px;">Add an Open Time </h6><br/>
    <fieldset class="pf_fs5">
      <ul class="pf-ul">
         <li class="li--23"><label><span>Open Inspection Date:</span></label>
          <%= form.text_field :date ,:class =>'single datepicker'%>
         </li>
         <li class="li--17"><label><span>Number Of weeks:</span></label>
          <%= form.select :number_of_weeks, @range %>
           <i>&nbsp;(Number of weeks inspection runs)</i>
         </li>
        <li class="li--17"><label><span>Commencement Time:</span></label>
          <%= form.select :start_hour, @hours %>
          <%= form.select :start_minute, @minutes %>
        </li>
        <li class="li--17"><label><span>End Time:</span></label>
          <%= form.select :end_hour, @hours %>
          <%= form.select :end_minute, @minutes %>
        </li>
        <li class="li--17">
          <button name="update" type="submit" value="Update" style="float:right;">
          Submit
          </button>
        </li>
      </ul>
      </fieldset>
    </div>
    <div class="set" style="width:55%;float:left;">
      <div style="margin-left:20px;padding-left:20px;border-left:1px solid #999999;min-height:168px;">
      <h6 class="full" style="font-size:12px;">Open Times </h6><br/>
      <fieldset class="pf_fs5">
      <table>
        <% unless @opentimes.blank? %>
        <% @opentimes.each do |opentime| %>
        <tr><td>
              <strong><%= nil_on_fail { opentime.date.strftime("%d %b %y, %a") } %></strong>
              From
              <strong><%= opentime.start_time.strftime("%I:%M %p") %></strong>
              To
              <strong><%= opentime.end_time.strftime("%I:%M %p") %></strong>
              &nbsp;
              <%= link_to "Remove",agent_office_property_opentime_path(@agent, @office, @property, opentime),{:method=>:delete,:confirm =>"Are you sure ?", :style=>"color:blue;"} %>
          </td></tr>
        <% end %>
        <% else %>
            <tr><td>There are no Open times</td></tr>
        <% end %>
      </table>
    </fieldset>
      </div>
  </div>
  <div class="clearer"></div>
</div>
