<h1>Editing opentime</h1>

<% form_for(@opentime) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @opentime %> |
<%= link_to 'Back', opentimes_path %>
