<div class="title_block block"><h2 class="page_title"><%= @property.address %></h2>
  <% unless session[:search_keyword].blank? %>
    <span style="float:right"><%= link_to "Back to search results", "/agents/#{current_agent.id}/offices/#{current_office.id}/search_results?search_keyword=#{session[:search_keyword]}&commit=Search" %></span>
  <%end%>
</div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div id="clientdiv" class="block accounts full">
  <% form_for(@opentime, :url => agent_office_property_opentimes_path(@agent, @office, @property), :html => {:class => 'propertyform full', :id=> "form_new"}) do |f| %>
    <%= f.error_messages :class => 'errortext' %>
    <div class="block form" >
      <%= render :partial => 'opentime_form', :locals => {:form => f} %>
    </div>
    <div class="clearer"></div>
    <div class="block form" ><!-- start .half BLOCK (right side) -->
      <%= render :partial => 'past_opentime', :locals => {:form => f} %>
    </div><!-- end .half BLOCK (right side) -->
  <% end %>
</div>
<!-- end #clientdiv -->
<script type="text/javascript">
  $(document).ready(function(){
    $(".datepicker").datepicker({
      dateFormat: 'mm/dd/yy'
    });
  });
</script>

<hr class="separator" />
<%= render :partial => 'filter' %>
