<h1>New opentime</h1>

<% form_for :opentime, @opentime, :url => { :action => "create" } do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td> <%= f.label :date %> </td>
      <td><%= f.label :start_time %></td>
      <td><%= f.label :end_time %></td>
    </tr>
    <tr>
      <td><%= f.text_field :date %></td>
      <td><%= f.time_select :start_time %></td>
      <td><%= f.time_select :end_time %></td>
    </tr>
  </table>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', agent_office_property_opentimes_path %>
