<div class="wrapper" id="brochure" style="width:476px;height:<%=(@editor_limit.to_i+38)%>px;<%= @style[:font] unless @style.blank? %>">
  <div class="middle-half" style="margin-top:-3px;width:476px;padding:5px 0;<%= @style[:heading_color]+@style[:title_color] unless @style.blank? %>" id="brochure_title">
    <div style="width:340px;float:left;padding-left:5px;cursor:pointer;" id="brochure_title_text">
      <%= @data[:title] unless @data.blank? %>
    </div>
    <div style="height: 25px;float: right;font-size:11pt;padding:2px;padding-right:5px;">
      <% if @beds != 0 %>
        <%= @beds  %> <img height="18" width="18" src="/images/beds_<%= @option[:title_color] == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_beds"/>
      <% end %>
      <% if @baths != 0 %>
        <%= @baths  %> <img height="18" width="18" src="/images/baths_<%= @option[:title_color] == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_baths"/>
      <% end %>
      <% if @garages != 0 %>
        <%= @garages  %> <img height="18" width="18" src="/images/cars_<%= @option[:title_color] == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_cars"/>
      <% end %>
    </div>
  </div>
  <div class="content-half over-hidden" style="padding-left:5px;padding-right:5px;height:<%=@editor_limit%>px;border:1px solid red;background-color: #fff">
    <div class="full-big space_margin" style="padding:5px 0;cursor:pointer;" id="brochure_headline">
      <%= @data[:headline] unless @data.blank? %>
    </div>
    <div class="full-big" style="cursor:pointer;" id="brochure_description">
      <%= @data[:description].gsub("\n","<br/>") if @data.present? && @data[:description].present? %>
    </div>
    <div class="full-small">
      <div class="small-desc left-side" style="width:220px;">
        <%  unless @primary_image.blank? %>
          <img class="left-side" src="<%= @primary_image.public_filename unless @primary_image.blank? %>" id="img_primary" style="<%= @option[:display_team_image] == '1' ? '' : 'display:none;' %>"/>
        <% end %>
        <div id="brochure_contact1" style="cursor:pointer;"><%= @data[:contact1] unless @data.blank?  %></div>
      </div>
      <div class="small-desc left-side" style="width:220px;cursor:pointer;">
        <%  unless @secondary_image.blank? %>
          <img class="left-side" src="<%= @secondary_image.public_filename unless @secondary_image.blank? %>" id="img_secondary" style="<%= @option[:display_team_image] == '1' ? '' : 'display:none;' %>"/>
        <% end %>
        <div id="brochure_contact2" style="cursor:pointer;"><%= @data[:contact2] unless @data.blank?  %></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>