<div class="wrapper" id="brochure" style="height:<%=(@editor_limit.to_i+30)%>px;<%= @style[:font] unless @style.blank? %>">
   <div class="middle" style="<%= @style[:heading_color]+@style[:title_color] unless @style.blank? %>"  id="brochure_title">
    <div style="width:230px;float:left;cursor:pointer;">
      <% if @beds != 0 %>
      <%= @beds  %> <img height="18" width="18" src="/images/beds_<%= @option[:title_color] == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_beds"/>
	  <% end %>
    <% if @baths != 0 %>
      <%= @baths  %> <img height="18" width="18" src="/images/baths_<%= @option[:title_color] == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_baths"/>
	  <% end %>
    <% if @garages != 0 %>
      <%= @garages  %> <img height="18" width="18" src="/images/cars_<%= @option[:title_color] == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_cars"/>
    <% end %>
    </div>
    <div style="height: 25px;float: right;padding:2px;" id="brochure_price">
      <%= @data[:price] unless @data.blank? %>
    </div>
   </div>
   <div class="content over-hidden" style="height:<%=@editor_limit%>px;border:1px solid red;overflow:hidden;background-color: #fff">
     <table style="height:<%=@editor_limit.to_i %>px;">
       <tr>
         <td id="brochure_background" style="width:550px;<%= @style[:background_color] unless @style.blank? %>">
           <div style="padding:5px;cursor:pointer;" id="brochure_headline">
             <%= @data[:headline] unless @data.blank? %>
           </div>
           <div style="padding:5px;cursor:pointer;" id="brochure_description">
             <%= @data[:description].gsub("\n","<br/>") if @data.present? && @data[:description].present? %>
           </div>
         </td>
         <td id="brochure_sidebar" style="padding:5px;<%= @style[:sidebar_color] unless @style.blank? %>">
           <div style="cursor:pointer;" id="brochure_title_text">
             <span style="font-size: small;"><%= @data[:title] unless @data.blank? %></span>
           </div>
           <div style="margin-top:5px;">
             <% unless @primary_image.blank? %>
               <img class="left-side" src="<%= @primary_image.public_filename unless @primary_image.blank? %>" id="img_primary" style="<%= @option[:display_team_image] == '1' ? '' : 'display:none;' %>"/>
             <% end %>
             <div id="brochure_contact1" style="cursor:pointer;"><%= @data[:contact1] unless @data.blank?  %></div>
            <div class="clear"></div>
           </div>
         </td>
       </tr>
     </table>
    </div>
</div>