
<%= render :partial => 'messages_d/back_to_messages', :locals => { :msg => 'client' } %>

<h2>Message Categories</h2>

<p><%= link_to 'Add a New Category', :action => 'new' %></p>

<p class="required">* Categories that have messages could not be deleted</p>

<ul class="edit_message_categories">
	<% @categories.each do |category| %>
		<li id="category_<%= category.id %>">
			<%= h category.name %>
			<span class='actions'>
				<%= link_to 'Edit', edit_developer_message_category_path(@developer, category) %>
				|
				<% if category.can_delete? %>
					<%= link_to_remote 'Delete', :url => developer_message_category_path(@developer, category), :method => 'delete', :confirm => 'Are you sure to delete this category?' %>
				<% else %>
					Delete
				<% end %>
			</span>
		</li>
	<% end %>
</ul>

<%= will_paginate @categories %>