
<%= render :partial => 'messages_d/back_to_messages', :locals => { :msg => 'client' } %>


<h2>Add a New Category</h2>

<% form_for @category, :url => developer_message_categories_path(@developer) do |f| %>
	<%= f.error_messages :class => 'errortext' %>
	<fieldset class="fu_fs1">
		<p class="required">
			<strong>Name:</strong><br />
			<%= f.text_field :name, :class => 'single' %>
		</p>

		<p><%= f.submit 'Save' %> or <%= link_to 'Cancel', developer_message_categories_path(@developer) %></p>
	</fieldset>
<% end %> 