<div class="group" style="background-color:#E1EBF5;">
  <table cellpadding="0" cellspacing="0" class="update_table full">
    <tr>
      <th class="first_cell" style="width:120px;background-color:#C8D2DC;">Date</th>
      <th style="width:200px;background-color:#C8D2DC;">Task Type</th>
      <th style="width:250px;background-color:#C8D2DC;">Contact</th>
      <th style="width:100px;background-color:#C8D2DC;">Added By</th>
      <th style="background-color:#C8D2DC;">Task</th>
      <th style="width:180px;background-color:#C8D2DC;">Actions</th>
    </tr>

    <% unless @tasks.blank? %>
      <% @tasks.each do |task| -%>
        <tr>
          <td class="value">
            <span class="<%= 'orange_bg' if task.email_reminder %>">
              <%= task.created_at.utc.strftime("%d-%m-%Y %H:%M:%S") rescue Time.now.utc.strftime("%d-%m-%Y %H:%M:%S") %>
            </span>
          </td>
          <td class="value"><%= task.task_type.name rescue '-' %></td>
          <td class="value">
            <% if task.agent_contact_id.present? %>
              <a href="javascript:void(0)" style="color:#0e7fc7;">
                <%= task.agent_contact.full_name || '-' %>
              </a>
            <% end %>
          </td>
          <td class="value"><%= task.agent_user.nil? ? "Website" : contact_agent(task) %></td>
          <td class="value"><%= task.description || "-" %></td>
          <td class="value">
            <span class='status-button'>
              <a href='javascript:void(0)' data-url="<%= update_task_status_agent_office_property_property_task_path(@agent, @office, @property, task) %>" data-completed="<%= task.completed %>" style="color:blue">
                <%= task.completed ? "Completed" : "Incomplete" %>
              </a>
              <img src="/images/search-loader.gif" class="loader-task" style="display:none;" /> | 
            </span>
            <%= link_to "Edit", edit_agent_office_property_property_task_path(@agent, @office, @property, task), :method => :get, :class => "blue" %> |
            <%= link_to "Delete", agent_office_property_property_task_path(@agent, @office, @property, task), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => "red" %>
          </td>
        </tr>
      <% end -%>
    <% end %>
  </table>
  <%= will_paginate @tasks if @tasks.present? %>
  <div class="clearer"></div>
</div>

<script type="text/javascript">
  function updateTaskStatus() {
    var url = this.dataset.url;
    var completed = this.dataset.completed;

    var _this = this;
    var loaderElmt = $(this).closest('span').find('.loader-task');

    if (completed == 'true')
      completed = false;
    else
      completed = true;

    $.ajax({
      type: "PUT",
      url: url,
      contentType:"application/json",
      data: JSON.stringify({completed: completed}),
      beforeSend: function() {
        loaderElmt.show();
      },
      success: function(jsonResponse){
        $(_this).text(jsonResponse.status);
        $(_this).attr('data-completed', jsonResponse.completed);
      },
      complete: function() {
        loaderElmt.hide();
      }
    });
  }

  $(document).ready(function() {
    $('.status-button a').click(updateTaskStatus);
  })
</script>
