<span>Property URL (detail): &nbsp;</span><br/>
<input type="text" name="property_url" value=""/><br/>
<span>Virtual Tour (detail):</span><br/>
<input type="text" name="virtual_tour" value=""/><br/>
<span>External Link 1 (detail):</span><br/>
<input type="text" name="ext_link_1" value=""/><br/>
<span>External Link 2 (detail):</span><br/>
<input type="text" name="ext_link_2" value=""/><br/>