<span><b>Primary Contact:</b></span><br/>
<input type="text" name="primary_contact_id" value=""/><br/>
<span>Secondary Contact:</span><br/>
<input type="text" name="secondary_contact_id" value=""/><br/>
<span>Third Contact:</span><br/>
<input type="text" name="third_contact_id" value=""/><br/>

<span>First Name:</span><br/>
<input type="text" name="vendor_first_name" value=""/><br/>
<span>Last Name:</span><br/>
<input type="text" name="vendor_last_name" value=""/><br/>
<span>Email:</span><br/>
<input type="text" name="vendor_email" value=""/><br/>
<span>Contact Number:</span><br/>
<input type="text" name="vendor_phone" value=""/><br/>
<span>Home Number:</span><br/>
<input type="text" name="home_number" value=""/><br/>
<span>Work Number:</span><br/>
<input type="text" name="work_number" value=""/><br/>
<span>Mobile Number:</span><br/>
<input type="text" name="mobile_number" value=""/><br/>