<span>Display Above Price (0,1,2):</span>
<input type="text" name="display_price" value=""/><br/>
<span>Display text in place of Price:</span>
<input type="text" name="display_price_text" value=""/><br/>