<span><b>Normal Season:</b></span><br/>
<input type="text" name="price" value=""/>
<input type="text" name="normal_season_period" value="Nightly"/><br/>

<span>Mid Season (detail):</span><br/>
<input type="text" name="mid_season_price" value=""/>
<input type="text" name="mid_season_period" value="Nightly"/><br/>

<span>High Season (detail):</span><br/>
<input type="text" name="high_season_price" value=""/>
<input type="text" name="high_season_period" value="Nightly"/><br/>

<span>Peak Season (detail):</span><br/>
<input type="text" name="peak_season_price" value=""/>
<input type="text" name="peak_season_period" value="Nightly"/><br/>

<span>Bond (detail):</span><br/>
<input type="text" name="bond" value=""/><br/>

<span>Cleaning Fee (detail):</span><br/>
<input type="text" name="cleaning_fee" value=""/><br/>

<%= render :partial => 'display_price' %>


