<span>Land Area (detail):</span><br/>
<input type="text" name="land_area" value=""/>
<input type="text" name="land_area_metric" value="Acres"/><br/>

<br/>
<span>Floor Area (detail):</span><br/>
<input type="text" name="floor_area" value=""/>
<input type="text" name="floor_area_metric" value="Squares"/><br/>
<span>Number of Floors/Levels (detail):</span><br/>
<input type="text" name="number_of_floors" value="1"/><br/>
