<h2 class="page_title">Holiday Lease</h2>
<form action="<%= update_property_agent_office_property_listeners_path(@agent, @office) %>" method="post" name="form1">
  <!-- new_property_agent_office_property_listeners -->
  <!-- update_property_agent_office_property_listeners -->
  <!-- If EDIT -->
  <input type="text" name="id"/><br/>
  <b>Listing type </b><br/>
  <input type="text" name="listing_type" value="holiday_lease"/>
   <div class="block form half leader" >
      <%= render :partial => 'address' %>
      <%= render :partial => 'reslease_data' %> <!-- diff -->
      <%= render :partial => 'garage_bed_bath' %>
      <%= render :partial => 'energy'%>
    </div>

    <div class="block form half follower" style="width: 48.5% !important">
      <%= render :partial => 'res_area' %>
      <%= render :partial => 'features_list' %>
      <%= render :partial => 'attachments' %>
      <%= render :partial => 'holiday_price'%>
      <%= render :partial => 'availability' %>
      <%= render :partial => 'submit' %>
    </div>
</form>