<style type="text/css" >
  .import-table{background-color:#E1EBF5;border:none;}
  .import-table td{background-color:#E1EBF5;}
</style>

<div class="block help full">
  <div class="title_block threequarters leader"><h2>Auto Responders</h2></div>
</div>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <h6>Auto Responders</h6>
     <fieldset class="pf_fs2">
       <p>* You can setup email template for vault here</p>
        <% form_for(@vault_template, :url => update_auto_responder_agent_office_auto_responder_path(@agent,@office), :html => {:class => 'propertyform full', :id=> "form_new"}) do |f| %>
        <%= f.error_messages :class => 'errortext' %>
         <table class="import-table">
           <tr><td>Headline</td><td>:</td><td><%= f.text_field :headline, {:class => "single"} %></td></tr>
           <tr><td>Content</td><td>:</td><td>
               <textarea rows="15" name="vault_template[content]" id="vault_template_content" cols="120">
<% if @vault_template.content.blank? && get_current_subdomain == 'knightfrank' %>
You have been granted access to the Knight Frank Vault. "Confidential Documentation – %address%"

USERNAME & PASSWORD
Username: %username%
Password: %password%

ACCESS INSTRUCTIONS
To access the Vault, please follow the instructions below:
1. Please click on the following link: http://knightfrank.commercialloopcrm.com.au.
2. Enter your Username and Password.
3. Press “LOGIN”

IMPORTANT
1. Email notifications regarding password retrieval and document updates will be sent from %mailsender%.
   To avoid any delays please whitelist this address in your Spam/Junk mail filter.

2. Documents in the data room are secured using dynamic rights management policies.
   As such, you will require Adobe Reader (version 7 or above). The latest version of Adobe Reader is available as a
   free download from: http://get.adobe.com/reader.

3. If you are using a Macintosh computer please ensure the application to view PDF files is Adobe Reader (version 7 or above).
   The default application for viewing PDF files on Macintosh can be an application called 'Preview'. The latest version of Adobe Reader (for Mac) is available as a free download from: http://get.adobe.com/reader/otherversions.

4. Finalised documents:  The terms  and content of the Tender and Contract and any ancillary information or documentation
   may be subject to change.  The vendor reserves the right to amend, remove or add to the items available to a prospective
   tenderer prior to the closing date for the Tender on %auction_datetime%.
   Before lodging any tender, you should contact the agent specified in clause 1.1(b) of the attached Tender document to ensure
   that any tender to be lodged comprises and relates to the correct information and documentation”.

Kind regards
%agentname%
%office%
%telephone%
%mobile%
<% end %>

<% if @vault_template.content.blank? && get_current_subdomain != 'knightfrank' %>
Hello %Name%

You can login to our secure system to view and download the Information at the following link:

http://agentpoint.commercialloopcrm.com.au

u: %username%
p: %password%

Once logged in you will be asked to enter a special password to see the documents for this listing. To find out this password please call or sms me now and quote the property unique code: %Field10%

Please let me know if you have any trouble or need more information.

Kind regards
%agentname%
%office%
%telephone%
%mobile%
<% else %>
<%= @vault_template.content %>
<% end %>
               </textarea>
             </td></tr>
           <tr><td>Enable autoresponder</td><td>:</td><td><%= f.check_box :enable_autoresponder %>&nbsp;Enable autoresponder for The Vault Contacts</td></tr>
           <tr><td colspan="3">&nbsp;</td></tr>
           <tr><td>&nbsp;</td><td>&nbsp;</td><td><button name="update" type="submit" value="Update" class="submit_btn">Update Template</button></td></tr>
         </table>
        <% end %>
     </fieldset>
     </div>
  </div>
</div>
