<form action="<%= opentime_agent_office_property_listeners_path(@agent, @office, @property) %>" method="post" name="form1">
  <table>
    <tr><td>date:</td><td><input type="text" name="date" value="11/11/2010"/></td></tr>
    <tr><td>number_of_weeks:</td><td><input type="text" name="number_of_weeks" value="2"/></td></tr>
    <tr><td>start_hour:</td><td><input type="text" name="start_hour" value="01"/></td></tr>
    <tr><td>start_minute:</td><td><input type="text" name="start_minute"  value="00"/></td></tr>
    <tr><td>end_hour:</td><td><input type="text" name="end_hour" value="10"/></td></tr>
    <tr><td>end_minute:</td><td><input type="text" name="end_minute" value="00"/></td></tr>
    <tr><td>&nbsp;</td><td><input type="submit" name="submit" value="submit"/></td></tr>
  </table>
</form>