<form action="<%= status_agent_office_property_listeners_path(@agent, @office, @property) %>" method="post" name="form1">
  <table>
    <tr><td><b>status</b>:</td><td><input type="text" name="status" value="6"/></td></tr>
    <tr><td><b>date</b> if (2,3):</td><td><input type="text" name="date" value="11/11/2010"/></td></tr>
    <tr><td><b>amount</b> if (2,3):</td><td><input type="text" name="amount" value="6"/></td></tr>
    <tr><td><b>display_price</b> if (2,3):</td><td><input type="text" name="display_price" value="1"/></td></tr>

    <tr><td><b>first name:</b></td><td><input type="text" name="first_name"/></td></tr>
    <tr><td><b>last name:</b></td><td><input type="text" name="last_name"/></td></tr>
    <tr><td>email:</td><td><input type="text" name="email"/></td></tr>
    <tr><td>home number:</td><td><input type="text" name="home_number"/></td></tr>
    <tr><td>work number:</td><td><input type="text" name="work_number"/></td></tr>
    <tr><td>mobile number:</td><td><input type="text" name="mobile_number"/></td></tr>
    <tr><td>contact number:</td><td><input type="text" name="contact_number"/></td></tr>
    <tr><td>fax number:</td><td><input type="text" name="fax_number"/></td></tr>
    <tr><td>&nbsp;</td><td><input type="submit" name="submit" value="submit"/></td></tr>
  </table>
</form>