<table class="creditcard_table" cellpadding="0" cellspacing="0">
  <tr><th class="field first_cell">State</th><td class="value"><%= current_user.developer.state %></td></tr>
  <tr><th class="field first_cell">Country</th><td class="value"><%= current_user.developer.country %></td></tr>

	<tr>
		<th class="field first_cell">Card owner first name:</th>
		<td class="value"><input name='card_first_name' type='text' value='<%= current_user.first_name %>' /></td>
	</tr>
	<tr>
		<th class="field first_cell">Card owner last name:</th>
		<td class="value"><input name='card_last_name' type='text' value='<%= current_user.last_name %>' /></td>
	</tr>
	
	<tr>
		<th class="field first_cell">Card Type:</th>
		<td class="value">

			<select class="select_box" name="card_type">
				<option>Visa</option>
				<option>Mastercard</option>
			</select>
	</td>
	</tr>
	<tr>
		<th class="field first_cell">Card Number:</th>
		<td class="value"><input name='card_number' type='text' value='4242424242424242' />
</td>
	</tr>
	<tr>

		<th class="field first_cell">Expiry:</th>
		<td class="value"><select name='card_expiration_month'>
<option>01</option>
<option>02</option>
<option>03</option>
<option>04</option>
<option>05</option>
<option>06</option>
<option>07</option>
<option>08</option>
<option>09</option>
<option>10</option>
<option>11</option>
<option>12</option>
</select>

/

<select name='card_expiration_year'>
<option>2008</option>
<option selected='selected'>2009</option>
<option>2010</option>
<option>2011</option>
<option>2012</option>
</select>

</td>
	</tr>
	<tr>
		<th class="field first_cell">Card Verification Value: (CVV)</th>
		<td class="value"><input name='card_verification_value' type='text' value='123' /></td>
	</tr>

</table>