<% unless @subscription_histories.empty? %>
<p>You are subscribed to <%= @active_subscriptions.size %> active Agent accounts:</p>

<table border="1" cellpadding="3">
<tr>
    <th>Date</th>
    <th>Office Name</th>
    <th>Service</th>
    <th>Profile ID</th>
    <th>Billing amount</th>
    <th>Action</th>
</tr>
<% @subscription_histories.each do |history| %>
<% office = Office.find_by_id(history.subscription.office_id) %>
  <tr style='border: 1px solid #666666;'>
    <td><%= history.created_at.to_s(:long) %></td> 
    <td><%= office.agent.blank? ? "#{office.name}" : office.agent.name+ " - " +office.name %></td>
    <td><%= SubscriptionManager.all_tariff_plans[history.subscription.tariff_plan_id]['service']['name'] %></td>
    <td><%= history.gateway_reference %></td>
    <td><% unless history.payer_id.nil? %><%= history.currency_code %> <%= history.amount %>
        <!-- (tax <%#= sprintf("%.2f", subscription.taxes_amount / 100.00) %>) 
        <%#= SubscriptionManagement.format_periodicity(SubscriptionManager.all_tariff_plans[subscription.tariff_plan_id]['payment_term']['periodicity']) %> -->
        <% end -%>
    </td>
    <td><%= history.action.capitalize %></td>
  </tr>

<% end %>
</table>
<% end %>
