<h2 class="page_title">Credit Card Details</h2>
<div class="block billing threequarters">

<% form_tag credit_card_developer_developer_account_path(:developer_id => @developer.id), :html => {:method => :post} do %>
<div class="group">

<%= render :partial => "credit_card" %>
</div>
		<div class="action_button">
				<button name="update" type="button" value="Update" onclick="form.submit();">
					<img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
					Update
				</button>

			<span>or&nbsp;&nbsp;</span>

			<a href="#" title="">
				<img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/>
				Cancel
			</a>
		</div>
<% end -%>
</div>
