<div id="helpdiv" class="block help full">
<% if flash[:error] %>
  <div class='group'>
    <p class="help_message"><%= h flash[:error] %></p>
  </div>
<% end %>
</div>

<p>You are subscribed to <%= @active_subscriptions.size unless @active_subscriptions.blank? %> active Office accounts:</p>

<table border="1" cellpadding="3">
<tr>
    <th>Service</th>
    <!-- <th>Qty</th> -->
    <th>Billing amount</th>
    <th>Office Applied To</th>
    <th>Starts</th>
    <th>Ends</th>
    <th>Next Payment</th>
    <th>More info</th>
</tr>
<% unless @all_subscriptions.blank? %>
<% for subscription in @all_subscriptions %>
  <tr style='border: 1px solid #666666;'>
    <td><%=@sm.all_tariff_plans[subscription.tariff_plan_id]['service']['name'] %></td>
    <!-- <td><%= subscription.quantity %></td> -->
    <td><%= subscription.currency %> <%= sprintf("%.2f", subscription.billing_amount / 100.00) %>
        <% if subscription.taxes_amount == 0 %>
        (tax <%= sprintf("%.2f", subscription.taxes_amount / 100.00) %>)
        <% else %>
         (include tax <%= sprintf("%.2f", subscription.taxes_amount / 100.00) %>)
        <% end %>
        <%= SubscriptionManagement.format_periodicity(@sm.all_tariff_plans[subscription.tariff_plan_id]['payment_term']['periodicity']) %>
    </td>
    <% office = Office.find_by_id(subscription.office_id) %>
    <td><%= office.agent.name + " - " + office.name rescue 'N/A'%></td>
    <td><% if subscription.status == "pending" %>
         <%= 'N/A' %>
        <%else%>
         <%= subscription.starts_on.to_date %>
        <%end%>
    </td>
    <td>
          <%= subscription.ends_on.nil? ? 'N/A' : subscription.ends_on.to_date %>
    </td>
    <td><%= subscription.next_payment_date.nil? ? 'N/A' : subscription.next_payment_date %>

    </td>
    <td>
    <% if office.status == "active" && subscription.status == "ok" %>
      <%= link_to "Unsubscribe", unsubscribe_developer_developer_account_path({:developer_id => @developer.id, :subscription_id => subscription.id, :tariff_plan_id => 'one_monthly'}), :method => :post %>
    <%else%>
       <%= link_to "Subscribe", subscribe_developer_developer_account_path({:developer_id => @developer.id, :subscription_id => subscription.id, :tariff_plan_id => 'one_monthly', :taxes => subscription.taxes_amount, :amount => subscription.net_amount}), :method => :post, :style => "color: rgb(248, 89, 17);" %>
    <%end%>
    </td>
  </tr>
<% end %>
<% end %>
</table>
