<% form_for :developer, @developer, :url => developer_developer_account_path(:developer_id => @developer.id), :html => {:name => 'update_form', :class => "business_details_form", :method => :put, :multipart => true} do |form| %>
<div class="block billing half leader">
<div class="group">
		<table cellpadding="0" cellspacing="0" class="update_table full">
			<tr>

				<th colspan="2" class="first_cell">Business/Company Details</th>
			</tr>
			<tr>
				<td class="field first_cell">Business/Company Name:</td>
				<td class="value"><%= form.text_field :company, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Country:</td>

				<td class="value">
        		<%= form.localized_country_select :country, [:AU, :US, :GB, :CA]  %>
				</td>
			</tr>
			<tr>
				<td class="field first_cell">Suburb:</td>
				<td class="value"><%= form.text_field :suburb, :class => "single" %></td>
			</tr>

			<tr>
				<td class="field first_cell">State:</td>
				<td class="value"><%= form.text_field :state, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Postcode:</td>
				<td class="value"><%= @developer.postcode  %></td>
			</tr>

			<tr>
				<td class="field first_cell">Unit/Office Number:</td>
				<td class="value"><%= form.text_field :unit_number, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Street Number:</td>
				<td class="value"><%= form.text_field :street_number, :class => "single" %></td>
			</tr>

			<tr>
				<td class="field first_cell">Street Name/Type:</td>
				<td class="value"><%= form.text_field :street, :class => "single" %></td>
			</tr>

			<tr>
				<td class="field first_cell">Contact Person:</td>
				<td class="value"><%= select ("developer", "contact_person", @users.map {|u| [u.full_name,u.id]}) %></td>

			</tr>
			<tr>
				<td class="field first_cell">Office Phone:</td>
				<td class="value"><%= form.text_field :phone_number, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Office Fax:</td>
				<td class="value"><%= form.text_field :fax_number, :class => "single" %></td>

			</tr>
			<tr>
				<td class="field first_cell">Website:</td>
				<td class="value"><%= form.text_field :website, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Appear in Directory:</td>
				<td class="value"><%= form.check_box :appear_in_directory %></td>
			</tr>
		</table>

</div>
</div>

<div class="block billing half follower">

<div class="group">
<div class="set">
<table cellpadding="0" cellspacing="0" class="update_table full">
			<tr>
				<th colspan="2" class="first_cell">Service Description</th>
			</tr>
      <!-- <tr>
        <td class="field first_cell" style="vertical-align:text-top;">Specializations:<br /><small class="lite">To select multiple suburbs, hold the Ctrl key and click.</small></td>

        <td class="value">
          <select class="select_box" multiple="multiple" size="7" name="developer_access_box">
            <option selected="selected">All</option>
            <option>Real Estate</option>
            <option>PHP</option>
            <option>HTML</option>
            <option>CSS</option>

            <option>Design</option>
          </select>
        </td>
      </tr> -->
			<tr>
				<td class="field first_cell" style="vertical-align:text-top;">Description:<br /><small class="lite">(Max 300 Characters) <br /><span id="count_developer_description"></span></small></td>
				<td class="value"><%= form.text_area :description, :rows => "8", :cols =>"29", :class=>"area", :onkeypress => "return LimitThis('developer_description', event)", :onkeyup => "return CountThis('developer_description', 'count_developer_description')", :onmouseover => "return CountThis('developer_description', 'count_developer_description')", :maxLength => "300" %></td>
			</tr>
</table>
</div>
</div>

<div class="group">
<div class="set">
		<table cellpadding="0" cellspacing="0" class="account_logos_table full">
			<tr>
				<th colspan="2" class="first_cell">Developer Logos</th>
			</tr>
			<tr>
				<td class="field first_cell">Logo <span>(150px X 75px)</span>:</td>

				<td class="value">
          <div class="pack file_button">
              <%= file_field_tag 'logo[uploaded_data]', :size => 30 %>
            </div>
            <div class="file_show">
              <%= image_tag (@developer.logo ? @developer.logo.public_filename : image_path('default_avatar.jpg')), :width => 150, :height => 75, :class => 'team_photo'  %>
            </div>
            <div class="clearer"></div>
            <div class="action_button">
              <button name="photosubmit" type="button" value="Upload Photos" onclick="form.submit();">
                <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/> Upload Logo
              </button>
            </div>
        </td>
			</tr>
		</table>

</div>
</div>

</div>

		<div class="action_button">
				<button name="update" type="button" value="Update" onclick="form.submit()">
					<img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
					Update
				</button>

			<span>or&nbsp;&nbsp;</span>
			<a href="#" title="">
				<img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/>
				Cancel
			</a>
		</div>
<% end %>