a { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-decoration:none; cursor:pointer; outline:none;color:#000;}
tr:hover { background-color: #fff; }
td { border-bottom: none; }
table a:hover, table a:active { background-color: #fff; }


#gcontent{
    width: 1010px;
    margin: 0 auto;
}

.step, .button, .circle, .next, #add-client-step, #add-office-step, #manage-office-step{
    background: url("../images/img-sprite.png") no-repeat;
}

.get-started{
    width: 1002px;
    margin: 0 auto;  
}

.get-started h2{
    text-transform: capitalize;
}

.get-started table{
    width: 100%;
}

.get-started td{
    padding: 3px;
    text-align: center;
    vertical-align: bottom;
}

.get-started td.middle{
    vertical-align: middle;
}

.next{
    width: 45px;
    height: 90px;
    background-position: -235px -110px;
    display: inline-block;
}

.button{
    height: 43px;
    width: 118px;
    margin: 0 auto;
    display: block;
}

#add-client-step{
    background-position: -314px -10px;
    width: 185px;
    height: 210px;
    margin: 0 auto;    
}

#add-office-step{
    background-position: -545px 0;
    width: 186px;
    height: 220px;
    margin: 0 auto;
}

#manage-office-step{
    background-position: -750px -3px;
    width: 170px;
    height: 220px;
    margin: 0 auto;
}

.add-client{
    background-position: 0 0;
}

.add-office{
    background-position: -118px 0;
}

.manage-office{
    background-position: 0 -88px;
    width: 164px;
}

.add-client:hover{
    background-position: 0 -44px;
    
}

.add-office:hover{
    background-position: -118px -44px;
}

.manage-office:hover{
    background-position: 0 -133px;
}

.desc{
    margin: 10px 0 0;
}

.step{
    /*display: none;*/
    cursor:pointer;
    width: 981px;
    margin: 0 auto;
    padding: 150px 10px 15px;
    height: 150px;
}

.detail-add-client-step{
    background-position: 0 -240px;
    padding-top: 455px;
    height: 125px;
}

.detail-add-office-step{
    background-position: -1001px -0px;
    padding-top: 200px;
}

.detail-manage-office-step{
    background-position: -1001px -365px;
    padding-top: 185px;
}

.step p{
    border-bottom: 1px solid #eaeaea;
    position: relative;
    margin: 0 20px 5px 50px;
    padding: 0 0 5px;
}

.circle{
    color: #fff;
    background-position: -241px -1px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    position: absolute;
    left: -35px;
    top: -3px;
    display: inline-block;
}