body{
  background:#fff;
  font-family: Arial,sans-serif;
  text-align: left;
  margin:0;
  padding: 0;
}
.clear{
  clear:both
}
.container{
  width:828px;
  margin:0 auto;
  height: 100%;
  overflow: hidden;
}
.head{
  height:67px;
  background:url("/images/pdf/gradientHead.png") no-repeat right top;
}
.head h2{
  margin: 15px 0 0 30px;
  float: left;
}
.content{
  border-top: 1px solid #ccc;
  padding-bottom: 50px;
  border-bottom: 3px solid #ccc;
}
.content h3,
.content p{
  margin: 0;
}
.content h3{
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}
.leaseInfo{
  background: #f6f6f6;
  padding:10px 0 10px 30px;
  font-size:14px;
  font-weight: bold;
}

.leaseInfo p{
  font-size:14px;
}
.leaseInfo table{
  width:250px;
}

.leaseInfo table tr td:first-child{
  width:100px;
}
.leaseInfo table tr td{
  padding: 5px 0 0;
}

.leaseInfo table tr td:last-child{
  text-align: right
}
.infoLeft{
  width:510px;
  float:left
}
.infoRight{
  width:300px;
  float:right
}
.content .infoLeft h3{
  text-transform: none
}
.content .infoLeft{
  font-size: 12px
}
.content .infoLeft tr td:first-child{
  width:150px;
}
.propArea{

  padding:10px 0 10px 30px;
}
.propPhoto{
  padding-top: 10px;
}
.bgGrey{
  background:url("/images/pdf/bgGrey.png") repeat-y right #f6f6f6
}

.mapBox{
  margin-top: 20px;
  height:305px;
  width:300px;
}

.contactBox h3{
  text-transform: none;
  margin-top: 20px;
  margin-bottom: 5px;
}
.contactBox p{
  color:#818181;
  font-size: 14px;
  margin-bottom: 20px;
}
.descBox{
  line-height: 22px;
  height: 450px;
}
.nonCommercial{
  height:607px;
}
.commercial{
  height:425px;
}
.copyBox{
  padding:0 20px 0px ;
}
.copyBox h3{
  font-size:14px;
}

.copyBox p{
  font-size:11px;
}
.addressBox{
  text-align: left;
  float: right;
  margin-top: 18px;
  font-size: 11px;
  margin-right: 10px;
}

.addressBox b{
  font-size: 12px;
}

.addressBox span{
  font-size: 11px;
}