html, body { border:0; margin:0; padding:0; }
p{margin-bottom:5px;}
.wrapper {
	height: 1100px;
	width: 780px;
        margin:0 auto;
        background-color: #FFFFFF;
        position: relative;
}

.header {
	height: auto;
        margin-bottom:3px;
}
.header .bg-top {
        background-color:#000000;
        color:#FFFFFF;
        font-size:16pt;
        height:80px;
        font-weight:bold;
        text-align:center;
        margin-bottom:3px;
}
.header .big-image-1 {
	height: 350px;
	overflow: hidden;
	border-bottom: solid 3px #FFF;
  background: url('/images/no-image.jpeg') center center;
  background-size: 100% auto;
}
.header .big-image-2 {
	height: 430px;
	overflow: hidden;
	border-bottom: solid 3px #FFF;
	background: url('/images/no-image.jpeg') center center;
  background-size: 100% auto;
}
.header .big-image-3 {
	height: 490px;
	overflow: hidden;
	border-bottom: solid 3px #FFF;
	background: url('/images/no-image.jpeg') center center;
  background-size: 100% auto;
}
.one-column {
	float: right;
	width: 300px;
}
.one-column .cols {
	width: 300px;
	height: 295px;
	border-bottom: solid 3px #FFF;
	overflow: hidden;
}
.one-column .cols img {
	height: 295px;
}
.two-column {
	height: 220px;
}
.two-column .cols {
	width: 388px;
	height: 220px;
	float: left;
	overflow: hidden;
}

.two-column .cols:first-child {
  float: right;
}

.two-column .cols img {
	width: 388px;
}
.three-column {
	height: 130px;
}
.three-column .cols {
	width: 258px;
	height: 130px;
	float: left;
	overflow: hidden;        
}
.three-column .cols:nth-child(2) {
  margin: 0 3px;
}
.three-column .cols img {
	width: 258px;
}
.three-column2 {
	height: 194px;
}
.three-column2 .cols {
	width: 258px;
	height: 194px;
	float: left;
	overflow: hidden;
}

.three-column2 .cols:nth-child(2) {
  margin: 0 3px;
}

.three-column2 .cols img {
	width: 258px;
}

.content {
	/*height: 280px;*/
}
.middle {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	display: block;
        font-weight:bold;        
}
.content-half {
	float: left;
	width: 465px;
}
.middle-half {
	float: left;
	height: 32px;
	width: 400px;
	background-color: #E6E7E8;
        font-weight:bold;
}
.clear {
	clear: both;
}
.content .half-big {
	width: 460px;
        padding: 5px;
}
.content .half-small {
	width: 290px;
        padding: 5px;
}
.half-small .small-desc img {
	margin: 0 5px 0 0;
        width: 100px;
	height: 125px;
}
.half-small .small-desc {
	/*border-bottom: solid 1px #000;*/
	clear: both;
	margin: 5px 0;
	padding: 5px;
}
.content .full-big {
	/*border-bottom: solid 1px #000;
	width: 100%;*/
        padding:5px;
}
.content .full-small {
	width: 100%;
}
.full-small .small-desc img {
	margin: 0 5px 0 0;
        width: 100px;
	height: 125px;
	overflow: hidden;
}
.full-small .small-desc {
	margin: 5px 0;
	padding: 5px;
	width: 249px;
}
.left-side {
	float: left;
        margin-top:8px;
}
.right-side {
	float: right;
        margin-top:8px;
}
.footer {
  width: 780px;
  height: 75px;
  background-color:transparent;
  color:#FFFFFF;
  font-size:16pt;
  position: absolute;
  top: 1030px;
  left:0px;
  font-weight:bold;
  text-align:center;
}

.space_margin{
  margin-top:8px;
}

/* Adjustment PDF theme */
.thumb-image {
  background: url('/images/no-image.jpeg') center center;
  background-size: 100% auto;
}

.three-column .thumb-image {
  background-size: 258px 130px;
}

.three-column2 .thumb-image {
  background-size: 258px 194px;
}

.one-column .thumb-image {
  background-size: auto 298px;
}

/* Brochure */
.property-summary-data {
  font-size: 11px;
  margin: 10px 0;
}

.theme1 .property-summary-data,
.theme2 .property-summary-data,
.theme3 .property-summary-data,
.theme4 .property-summary-data,
.theme5 .property-summary-data,
.theme6 .property-summary-data,
.theme7 .property-summary-data,
.theme8 .property-summary-data,
.property-email .property-summary-data {
  margin: 0;
}
