root {
    display: block;
}
@media print{
  @page {size: A4;}
  a.back, a.noPrint{
    display: none;
  }
  body#print{
    font-size: 10pt;
  }
}
.clearfix {
	display: block;
}
.center{
    text-align: center
}
#print .container{
  width: 980px;
  margin: 0 auto;
  position: relative;
}
#print .logo-container {
  width:275px;height:120px;display:block;float:left;
}
#print h1.title{
    float: right;
    text-align: right;
    width: 700px;
    color: #0c5780;
    font-size: 24pt;
    margin: 8px 0 5px;
}
#print h2.sub-title{
    float: right;
    text-align: right;
    width: 700px;
    color: #0c5780;
    font-size: 20pt;
    margin: 0 0 10px;
    padding: 0;
}
#print #content{
  position: relative;
  z-index: 1;
  background: #fff;
}
#print .table{
  margin: 10px 0;
}
#print table.listing th{
    color: #000;
    border:1px solid #000;
    border-bottom: 2px solid #000;
    padding: 4px;
}
#print table.listing td{
    background: #fff;
    color: #000;
    border:1px solid #000;
    padding: 4px;
}
#print table.listing .total-row td{;
    border-top:2px solid #000;
}

.info-detail-print{
  background: none repeat scroll 0 0 #FFF;
  color: #111111;
  float: left;
  height: 108px;
  overflow: hidden;
  padding: 10px;
  width: 536px;
}
.info-detail-print table{
  width: 100%;
}
.info-detail-print td{
  padding: 5px;
}
.box-print {
    background: none repeat scroll 0 0 #FFF;
    border: 2px solid #000;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    color: #000;
    padding: 20px;
}
.pict-cont-print{
  position: relative;
  float: left;
  margin-right: 20px;
  width: 170px;
  height: 128px;
  overflow: hidden;
}
.pict-cont-print img{
  width: 170px;
  display: block;
  min-height: 128px;
}
.info-print{
  padding: 5px 15px;
  width: 140px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.50);
  font-weight: bold;
}
h2{margin:0px 0px 0px 0px; padding:0px; font-weight:normal;}

h2.print {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}