/* 
Title: Zoo Styles
Author: Jen Germann / hello@jengermann.com
*/

/* import stylesheets and hide from ie/mac \*/
@import url("/stylesheets/layouts/toast.css");
@import url("/stylesheets/typography/honey.css");
.fieldWithErrors input, .fieldWithErrors textarea {
  background-color: #fee;
  border-color: #f44 !important;
  padding:0;
}
#errorExplanation {
  width: 32em;
  border: 2px solid red;
  background-color: #fee;
  margin: 0 0 1em 1em;
  padding: 5px;
}
#errorExplanation p {
  font-weight: bold;
  font-size: 12px;
  background-color: #c00;
  color: #fff !important;
  margin: 0;
  margin-bottom: 5px;
  padding: 0.5em;
  float: none;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  margin-left: 1em;
}
/* end import/hide */