/*
Theme Name: Zoo Agents
Theme URI: http://wordpress.org/
Description: Styles for Zoo Property's Agents site.
Version: 1.0
Author: Jen Germann
Author URI: http://jengermann.com/
Tags: dashboard, modules, listings
*/

/* --------------------------------------------------------------

   The beautiful Silk Icon set from famfamfam:
   http://www.famfamfam.com/lab/icons/silk/

/* -------------------------------------------------------------- 

   Reset.css
   * Resets default browser CSS styles.

   Original by Erik Meyer:
   * http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/

-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, button,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

html, body { border:0; margin:0; padding:0; }
body { font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; font-size: 100%; color: #28323c; line-height: 1.125em; } /* sets font size to browser default, typically 16px; line-height to 18px */
	body.agents { background: url(/images/backgrounds/bg_body_agents.gif) repeat-x 0 0; }
	body.developers { background: url(/images/backgrounds/bg_body_developers.gif) repeat-x 0 0; }
	body.admin { background: url(/images/backgrounds/bg_body_admin.gif) repeat-x 0 0; }

/* ----------------------------------------------------------
				Typography
---------------------------------------------------------- */
p, ul, ol, table, button { font-size: 11px; }
h1, h2, h3, h4, h5, h6, legend { font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif; font-weight: bold; color: #28323c; }

h1 { font-size: 22px; }

h2 { font-size: 20px; margin-bottom: 5px; }
	.block.accounts h2 { margin: 2px 0 11px; }
	h2.page_title { margin: 2px 0 18px;  }
h3, legend { font-size: 15px; }
	h3 { padding-bottom: 5px; position: relative; }
		.rowblock h3 { padding-bottom: 3px; }
	legend { padding: 0 5px; }
h4 { font-size: 14px; margin-bottom: 7px; position: relative; }
	#memberdetailsdiv h4 { margin-bottom: 11px; }
	.block.transparent h4 { margin: 0 0 3px; }
	.title_block h4, h4 span { font-weight: normal; }
h5 { font-size: 11px; font-weight: normal; }
h6 { font-size: 12px; margin-bottom: 7px; position: relative; } /* titles on res sales page */
	h6.helplink { text-align: right; }

small.formgrouplinks { position: absolute; top: 0; right: 0; z-index: 99; }
	h3 small.formgrouplinks { top: 2px; }
	h4 small.formgrouplinks { top: 1px; }
	#duplistingsdiv small.formgrouplinks, #vtlinksfilesdiv small.formgrouplinks, #submissiondiv small.formgrouplinks { top: 7px; right: 10px; }

.title_block { margin: 0 0 25px; }

p, ul, ol 		{ margin:0; padding:0 0 20px 0; }
	p.helpblockmeta { padding: 0 0 0 35px; }
	p.help_message { padding: 0 0 0 35px; }
	p.rowdescr, p.rowdate, p.rowcomments, p.rowtime, p.rowclient, p.rowmetadata { padding: 0 0 2px; }
	p.errortext, div.errortext h2 { background-color: #EF4123; margin: 0 0 18px; padding: 12px; text-align: center; font-size: 18px; line-height: 24px; color: #fff; }
	p.required { width: 250px; background-color: #d2dce6; margin: 0 0 18px; padding: 5px; font-weight: bold; }
	p.key { padding: 0 0 5px; }
		#fileuploaddiv fieldset p.required { width: auto; background-color: transparent; margin: 0; padding: 0 0 18px; }

blockquote 		{ margin:22px 40px; padding:0; }
ul 				{ list-style: none; }
	.block ul { width: 100%; display: table; }
		.sideblock ul { width: 95%; }
small 			{ font-size:11px; font-weight: normal; }
img 			{ border:0; }
	p#mapcontainer img { width: 100%; min-width: 420px; max-width: 550px; height: auto; }
	img.avatar { width: 50px; height: 50px; margin: 0 5px 0 0; vertical-align: middle; }
	img.avatar.mini { width: 42px; height: 42px; float:left; margin: 0 7px 10px 0; border: 1px solid #d2dce6; }
	img.team_photo { border: 2px solid #d2dce6; }
acronym, abbr	{ cursor:help; letter-spacing:1px; border-bottom:1px solid; }

strong, em 	{ font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif; }
strong { font-weight: bold; }
em { font-style: italic; }

.lite, p.rowmetadata, .filesize { color: #78828c; }
	td.first_cell .lite { font-style: italic; }
.property_id { color: #3c4650; }
.emphasis { color: #28323c !important; }
.alert, .loss { color: #EF4123; }
.growth { color: #94A924; }
.announce { color: #94A924; }
.pf_error, div.fieldWithErrors * { background: #EF4123; padding:1px 3px; font-weight: bold; color: #fff !important; }
.required { font-weight: bold !important; color: #28323c !important; }

/***** Links *****/
a { padding: 1px; font-weight: bold; text-decoration: underline; }
a:link, a:visited 	{ color: #0e7fc7; } /* 303030 */
a:hover, a:active 	{ background-color: #0e7fc7; color: #fff !important; text-decoration: none; } /* 3f3f3f */
	h1#logo a:hover, h1#logo a:active { background-color: transparent; }

h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited,
h5 a:link, h5 a:visited,
h6 a:link, h6 a:visited {
	color: #28323c;
}
h2 a:hover, h2 a:active,
h3 a:hover, h3 a:active,
h4 a:hover, h4 a:active,
h5 a:hover, h5 a:active,
h6 a:hover, h6 a:active {
	background-color: #28323c;
	color: #fff;
}

table a:link, table a:visited { color: #3c4650; }
table a:hover, table a:active { background-color: #3c4650; }

.delete a:link { background-color: #d2dce6; }
.delete a:hover, .delete a:active { background-color: #3c4650; }

h1#logo a:link, h1#logo a:visited { color: #fff; }

h6 a.current:link, h6 a.current:visited { background: #d2dce6; }
h6 a.current:hover, h6 a.current:active { background: #3c4650; }

ul#quick_links a:link, ul#quick_links a:visited { color: #e1ebf5; }
ul#quick_links a:hover, ul#quick_links a:active { background-color: #28323c; }

p.navlinks a:link, p.navlinks a:visited { color: #28323c; }
p.navlinks a:hover, p.navlinks a:active { background-color: #28323c; color: #e1ebf5; }

.rowicon a, table.app-table td.widget_image a { padding: 0; background: none; text-decoration: none; }
div.user_message .rowicon  a .overlay, div.user_message .rowicon  a:hover .overlay { color: #ef4123 !important; }
div.archived_message .rowicon  a:hover .overlay { color: #3c4650 !important; }

.alert td a { color: #EF4123; }

/***** Buttons *****/

/* Delete buttons (delete.gif) */
.delete_btn { background: none !important; vertical-align: middle; }

/* Archive buttons (folder.gif) */
.archive_btn { background: none !important; vertical-align: middle; }

/* Files buttons */
.file_show { padding: 5px; text-align: center; }
.file_show p { padding: 0; }
.file_show img.property_image { margin: 0 auto 8px; }

table.update_table .file_button,
table.update_table .file_show,
table.update_table .action_button { width: 295px; }

table.update_table .file_button input, table.update_table .action_button input { width: auto; min-width: inherit; }


/* Action buttons */
.action_button { height: 35px; margin: 5px 0; padding: 5px; border-top: 3px solid #bec8d2; font-size: 11px; clear: both; }
	.filtersresultsdiv .action_button { margin: 0 0 0 5px; padding: 0; border: 0; float: left; font-size: 11px; clear: none; }
	.ab_top .action_button { margin: 0 0 25px; border-top: 0; border-bottom: 3px solid #bec8d2; }
	.teamassignform .action_button { border-color: #eb9300; }
	
	.block.leader .action_button { margin-right: 5px; }
	.block.follower .action_button { margin-left: 5px; }

/* Thank you to Particletree for this: http://particletree.com/features/rediscovering-the-button-element/ */
button, .action_button a {
    width:auto;
    background-color: #cde9f8;
    margin:0 7px 0 0;
    padding:4px 10px 3px 7px; /* IE6 */

    border:1px solid #0e7fc7; /* 4c96bd */
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	
    float:left;
    display:block;
    overflow:visible;
    text-decoration:none;
    font-weight:bold;
    color:#28323c;
    cursor:pointer;
}
	.action_button span { margin: 5px 0 0; float: left; }
	.filtersresultsdiv button, .filtersresultsdiv .action_button a { margin: -3px 0 0; }
	.teamassignform button { border-color: #eb9300; }

.action_button button[type]{
    padding:4px 10px 4px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.action_button button img, .action_button a img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
	.filtersresultsdiv .action_button button.filter, .filtersresultsdiv .action_button button.submit { padding: 2px 10px 2px 7px !important; }

/* STANDARD */

button:hover, .action_button a:hover{
    background-color:#f5faff;
    border:1px solid #509dc5;
    color:#509dc5;
}
.action_button a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* Upload buttons */
.upload_button { margin: 0 0 6px; }
	.block.follower .upload_button { margin-left: 5px; }
	.upload_button a {
		background: #3c4650;
		padding: 20px 15px !important;
		border: 2px solid #28323c;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-khtml-border-radius: 10px;
		border-radius: 10px;
		display: block;
		font-size: 20px;
		text-align: center;
		color: #fff !important;
		text-decoration: none;
		text-shadow:1px 1px 1px #111;
		}
	.upload_button a:hover { background: #505a64; }

#sidebar .upload_button {  }
	#sidebar .upload_button a { padding: 19px 0; }

.upload_button a img { margin-right: 8px; vertical-align: text-bottom; }

/* Question button */
.helplink { background: none !important; vertical-align: middle; }

/* Purchase buttons */
.purchase_button { background: #3c4650; margin: 0 0 6px; }
.purchase_button h2 { margin: 10px 0; text-align: center; color: #e1ebf5; }
	.block.follower .purchase_button { margin-left: 5px; }
	.purchase_button a { width: 100%; background: #28323c; padding: 10px 0; display: block; text-align: center; color: #fff; }

/* More links */
a.btn { background: #3c4650; margin: 0 auto; padding: 2px 5px 4px; color: #fff; }


/***** Tables *****/
/* tables still need 'cellspacing="0"' in the markup */
table {
	width: 100%;
	border:0; margin:0 0 18px 0; padding:0;
	border-collapse: separate;
	border-spacing: 0;
	clear: both;
	
	border: 2px solid #f7fcff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

}
	table table { margin: 0; border: 0; }
	form.propertyform table { border: 0; }
	.set table.full { margin: 0; padding: 0; }
caption, th, td {
	text-align: left;
	font-weight: normal;
}
tr { background-color: #fff; }
	tr:hover { background-color: #f5faff; }
tr.alt { background-color: #f5faff; }
	tr.alt:hover { background-color: #e1ebf5; }
th, td { padding: 4px 0; vertical-align: top; }
	th {
	background-color: #e1ebf5;
	border-bottom: 1px solid #fff;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #3c4650;
	}
		#officestatsdiv th { font-size: 9px; text-align: center; color: #3c4650; }
			#officestatsdiv th span { cursor: help; }
		tr.extra_th th { padding: 6px 0 0; border: 0; text-align: center; vertical-align: bottom !important; }
		tr.header_th th, tr.header_th td, tr.header_td td { padding-top: 16px; }
	td { border-bottom: 1px dotted #d2dce6; }
		#officestatsdiv td { text-align: center; }
		#officestatsdiv td.first_cell { width: 110px; text-align: left; }
		#officestatsdiv td.table_total { min-width: 35px; }
	th.first_cell, td.first_cell { padding-left: 4px; vertical-align: middle; }
	td.field { color: #5a5a5a; }
	td.value { color: #28323c; }
	td.total, tr.total td, td.total input { font-weight: bold; }
	
	td.list-action { width: 310px; }

table.property-list td a { font-weight: normal; }

table.pf-table { margin: 0 0 18px; }
table.pf-table th, table.pf-table td, table.pf-table tr, table.pf-table tr:hover { background-color: transparent; border: 0; }
	table.pf-table th { font-weight: normal; text-align: center; }
	table.pf-table .first_cell { padding: 0 !important; }
	table.pf-table .field { text-align: left; color: #28323c; }
	
	#linksfilesdiv td { padding: 1px 0 0; }
		#availabilitydiv th.first_cell { width: 110px !important; }
		#garagingbedbathdiv th.first_cell { width: 100px; }
		#buildingareasdiv th.first_cell { width: 100px; }

table.pf-cal { width: 33%; float: left; border-right: 15px solid #e1ebf5; clear: none; }
	table#next_month_cal.pf-cal { border: 0; }
table.pf-cal caption, table.pf-cal th, table.pf-cal td { text-align: center; }
	p.calnav { height: 22px; background: #d2dce6; padding: 0 5px; }
	p.calnav span { width: 50%; display: block; float: left; }
		.cal_next { text-align: right; }

.list_visits_this_week, .list_visits_last_week, .list_visits_this_month, .list_visits_last_month, .list_total_visits, .list_total_emails { text-align: center; }

table.update_table tr:hover, table.payments-list tr:hover { background-color: #fff; }
table.update_table td.first_cell { width: 150px; }
table.update_table input { width: 60%; min-width: 220px; }
table.update_table select { width: 61%; min-width: 227px; }

.th_country, .td_country, .theme_total, tr.theme_total th { background: #ffffb0; }
.th_clients, .td_clients { background: #cfc; }
.th_offices, .td_offices { background: #c9eaf9; }
.th_team, .td_team { background: #f5f4dd; }
.th_listings, .td_listings { background: #f9cde8; }

/***** Global Classes *****/

/* ----------------------------------------------------------

								COLORS

	BLUE: 509DC5							ORANGE: F85911
	RED: EF4123								GREEN: 94A924
	YELLOW: EB9300							AQUA: 50B5B5
	VIOLET: B57195							GREY: 83858B
	ROSE: F2665E							BROWN: BB7932
	NAVY: 00273c
	
	GREYS:
	28323c	3c4650	505a64	646e78	78828c	8c96a0
	a0aab4	bec8d2	c8d2dc	d2dce6	e1ebf5	f5faff

---------------------------------------------------------- */

hr 				{ width: 100%; background-color: #fff; margin: 0 0 15px !important; border: 0; border-top: 1px solid #bec8d2; clear: both; color: #fff; }
	#header hr { background-color: #509DC5; margin: 0 !important; border-top: 1px solid #509DC5; color: #509DC5; }
	hr.separator { border-color: #fff; }
	hr.thick { border-top: 3px solid #bec8d2; }
	
.clearer		{ clear:both; }
.hide			{ display: none; }

.float-left 	{ float:left; }
.float-right 	{ float:right; }

.text-left 		{ text-align:left; }
.text-right 	{ text-align:right; }
.text-center 	{ text-align:center; }
.text-justify 	{ text-align:justify; }

.bold 			{ font-weight:bold; }
.italic 		{ font-style:italic; }
.underline 		{ border-bottom:1px solid; }
.highlight 		{ background:#ffc; }

.img-left 		{ float:left;margin:4px 10px 4px 0; }
.img-right 		{ float:right;margin:4px 0 4px 10px; }

.nomargin		{ margin: 0 !important; }
.nopadding 		{ padding:0; }
.noindent 		{ margin-left:0;padding-left:0; }
.nobullet 		{ list-style:none;list-style-image:none; }
.noborder, tr.noborder td { border: 0 !important; }
.noenter			{ background-color: transparent; margin: 2px; border: 0 !important; cursor: default; }

/* ----------------------------------------------------------
					Main Elements
---------------------------------------------------------- */
/* Global */
#main_body { width: 96%; min-width: 900px; max-width: 1260px; margin: 0 auto; }

.quarter, .third, .half, .twothirds, .threequarters { float: left; }

.quarter 		{ width: 25%; }
.third			{ width: 33%; }
	#featuresdiv ul.third { width: 33% !important; }
		#featuresdiv ul ul li:hover, #featuresdiv ul ul li:active { color: #000; }
	.block.third.middle { width: 34%; }
.half				{ width: 50%; }
	#linksfilesdiv span.half { min-width: 125px; }
.twothirds		{ width: 67%; }
.threequarters { width: 75%; }
.full				{ width: 100%; float: none; clear: both; }

.group { padding: 7px 10px !important; }
	.group.withsets { padding-right: 0 !important; } 
	.set .group { padding: 0 !important; }
	.block.leader .group, .set.leader .group { margin-left: 0 !important; margin-right: 5px; }
	.block.middle .group, .set.middle .group { margin-left: 5px; margin-right: 5px; }
	.block.follower .group, .set.follower .group { margin-left: 5px; margin-right: 0 !important; }
	
	.block.form .group, .block.tables .group, .block.media .group, .block.transparent .group, .block.accounts .group,
	.block.files .group, #createdisplaylistingsdiv.block .group, .block.store .group, .block.instructions .group, .block.billing .group,
	.block.suburbs .group {
		background-color: #c8d2dc;
		padding: 10px !important;
		margin-bottom: 10px;
		border:1px solid #bec8d2;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-khtml-border-radius: 10px;
		border-radius: 10px;
	}
	form.propertyform .block.form .group { background-color: #e1ebf5; border-color: #d7dbde; }
	
	.block.form .group .group, .block.tables .group .group, .block.media .group .group, .block.transparent .group .group, .block.accounts .group .group, 	.block.files .group .group, #createdisplaylistingsdiv.block .group, .block.store .group .group, .block.instructions .group .group, .block.billing .group .group,
	.block.suburbs .group .group {
		background-color: transparent; padding: 0 !important; border: 0;
	}
		.block.help .group { background: #ffc url(/images/icons/icon_info.gif) no-repeat 10px center; margin: 20px 0; border-bottom: 1px solid #d2dce6; }
		.block.store.half .group { background: #fff; }
		body#messages.agents .block.help .group { background-image: none; }
	.block.transparent .group { background-color: transparent; margin-bottom: 10px; border-width: 1px; }
	.block.accounts .group, .block.store .group { margin-bottom: 20px; }
		.block.accounts .set .group { margin-bottom: 2px; }

	#tabulardiv .group { margin: 0 10px 10px 0; padding: 7px 10px 1px !important; clear: both; }
	#storediv .group.holder { margin-right: 10px;  }

.pack { background-color: #e1ebf5; margin: 0 0 5px; padding: 5px; }
	.pack input { font-size: 10px !important; }

.block ul li	{ width: 100%; margin: 0 0 5px; float: left; }

ul.pf-ul li { margin: 0 0 7px; }


/***** Forms *****/

form 			{ margin:0; padding:0; }
fieldset { clear: both; }
input, select, textarea { margin: 0; padding: 0; font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; font-size: 11px; font-weight: normal; }
	input.single { padding: 2px 2px 3px; }
	input.wider { width: 35em; }
	input#quick_edit_txtbox_input, input#quick_edit_txtbox_clients_input, { width: 140px; margin: -1px 0 0; padding: 1px 2px; font-size: 11px; } /* in navigation */
	input.checkbox { width: auto !important; min-width: inherit !important; }
textarea 		{ padding: 3px 2px; line-height:1.25em; }
	body#team #descriptiondiv textarea { border: 3px solid #bec8d2; }
	
input.single, input#quick_edit_txtbox_input, input#quick_edit_txtbox_clients_input, textarea, select { border: 1px solid #ccc; border-top-color: #999; border-left-color: #999; }

fieldset li label, fieldset th.leader, fieldset td.leader { width: 35%; min-width: 145px; float: left; }
	#featuresdiv fieldset li label { width: auto; float: none; }
		#featuresdiv fieldset li.li--32 label { min-width: 90px; float: left; } /* your features */
		#teammemberlistdiv label { width: 65%; min-width: 210px; }
		#pricingrentaldisplaydiv th.leader { width: 35%; min-width: 160px; }
		#buildingareasdiv fieldset th.leader, #auctiondatetimediv th.leader, #pricingdiv th.first_cell { min-width: 120px; }
	
	#holidaypricediv #pricediv fieldset li label, #availabilitydiv #pricediv fieldset li label, #availabilitydiv fieldset th.first_cell, #memberdetailsdiv fieldset li label { width: 18%; min-width: 95px; }
	#premisediv fieldset li label, #franchisediv fieldset li label { width: 25%; min-width: 95px; }

fieldset li input, fieldset li select, fieldset li textarea { float: left; }
	#featuresdiv fieldset li input { float: none; }
	
	#propertydatadiv fieldset input, #propertydatadiv fieldset textarea,
	#memberdetailsdiv fieldset input, #propertyaddressdiv fieldset input, 
	#displayingpricingdiv li.li--44 input, #displayingpricediv li.li--42 input, #displayingpricediv li.li--82 input { width: 60%; min-width: 220px; }
	
	#propertydatadiv fieldset select, #energyefficiencydiv fieldset select,
	#propertyaddressdiv fieldset select, #propertycontactsdiv fieldset select { width: 61%; min-width: 261px; }
	

		#propertydatadiv li.li--6 input, #propertydatadiv li.li--7 input, #propertydatadiv li.li--8 input { width: 70px !important; min-width: 30px !important; margin-right: 10px } /* Estimated Rental Return */
		#propertydatadiv li.li--6 select, #propertydatadiv li.li--7 select, #propertydatadiv li.li--8 select { width: 125px !important; min-width: 30px !important; } /* Estimated Rental Return */
		#propertyaddressdiv li.li--23 input { width: auto !important; min-width: 5px !important; float: none; } /* Display Address */
		li.li--35 select, li.li--38 select { width: 50%; min-width: 80px !important; } /* linksdiv, filesdiv */
		#landblockfloorareasdiv fieldset input, #landblockfloorareasdiv fieldset select { width: 28%; min-width: 30px; margin-right: 10px; }
		#garagingbedbathdiv td select { width: 90%; min-width: 60px; }
		#holidaypricediv fieldset input, #availabilitydiv fieldset input { width: 65px !important; min-width: 30px; margin-left: 10px; }
		#holidaypricediv fieldset select, #pricingdiv select { width: 105px !important; min-width: 30px; margin-left: 10px; }
		li.li--36 input { width: 55%; min-width: 30px !important; } /* Virtual Tour */
		#descriptiondiv fieldset textarea { width: 97%; }
		#premisediv input, #premisediv select, #franchisediv input, #franchisediv select, #leasedetailsdiv input { width: 50%; min-width: 30px; }
		#buildingareasdiv li.li--69 input { width: 58%; } /* parking comments input */
		#auctiondatetimediv input#pf_field_39 { width: 96%; } /* auction place */

#duplistingsdiv, #vtlinksfilesdiv, #submissiondiv { position: relative; }

/* Agents System Pages
---------------------------------------------------------- */
/***** Dashboard *****/
#officestatsdiv { margin: 0 0 5px; }

.filtersresultsdiv form { width: 100%; }
.filtersresultsdiv form, .filtersresultsdiv p, .filtersresultsdiv input, .filtersresultsdiv select, .filtersresultsdiv div { float: left; }
	.filtersresultsdiv form { margin: 0 20px 20px 0; }
	.filtersresultsdiv input, .filtersresultsdiv select { margin: 0 5px 0 0; }
	.filtersresultsdiv p { margin: 2px 0 20px 0; padding: 0; }

/***** media page: photo, plans, video and audio galleries *****/
.block.media form .set, #memdetailsdescrdiv .set { margin: 5px; }
.block.media form .set { width: 21%; }
form.mediaform { margin: 0 0 25px; }
	form.mediaform .set { max-width: 180px; background: #fff; margin: 0 10px 10px 0; padding: 10px; float: left; border: 3px solid #d2dce6; }
	form.mediaform fieldset { width: 92%; }
	form.mediaform ul, form.mediaform .file_show { width: 94%; }
		form.mediaform ul { padding: 0 0 10px; }
	form.mediaform .set input.single { width: 176px; }
	form.mediaform h4 { margin: 0; float: left; }
	form.mediaform .file_button { width: 172px; }
	
	form.mediaform .action_button input.btn { padding: 5px; font-size: 20px; }

/***** files/messages page *****/
.tabularrow.set { background: #fff; margin: 0 0 15px 0; padding: 10px 0 0 7px; }
	#fileuploaddiv.block.files .set { padding: 0 !important; }
	form.postuploadform fieldset { background: #fff; padding: 10px; border: 3px solid #d2dce6; }
	form.postuploadform input.single, form.postuploadform textarea.area { width: 99%; }

form.postuploadform label.required { width: 110px; float: left; display: block; }
	form.postuploadform p.select_recipient span.select_office { padding-left: 115px; display: block; }
form.postuploadform p.select_recipient a { padding-top: 5px !important; display: block; }

p.select_recipient label.required { float: left; }
.selectreceiptionsdiv { margin-left: 10px; float: left; }
.select_office { clear: both; }

ul.message_topic { margin: 0 0 0 20px; padding: 0; }
ul.edit_message_categories li { width: 300px; position: relative; padding-bottom: 10px; }
ul.edit_message_categories li span { position: absolute; right: 10px; }
/*.rowdates { width: 15%; padding: 12px 0 0; border-top: 3px solid #bec8d2; }
.filelisting { width: 85%; padding: 15px 0 0; border-top: 1px solid #bec8d2; }
*/

.rowicon, .rowblock, .rowdates, .filelisting { float: left; }
	.rowicon { margin-right: 7px; position: relative; }
	.rowicon .overlay { width: 32px; font-size: 11px; font-weight: bold; text-align: center; position: absolute; top: 6px; left: 0; }
	.rowblock { padding: 0 0 12px; }
	#messages .rowblock h3, #messages p.rowdate { min-width: 400px; margin-right: 10px; }
	span.user_message img, span.archived_message img { vertical-align: middle; margin-right: 3px; }
		span.user_message { margin-right: 10px; }

/***** team page *****/
table.team_info_table { width: 100%; margin: 0; }
table.team_info_table td { padding: 0; border: 0; vertical-align: top; }
	table.team_info_table td table { margin: 0; }
	table.team_info_table td table td { border-bottom: 1px dotted #d2dce6; }
		table.team_info_table td.team_info_cell table td { padding: 4px 0 !important; }
	table.team_info_table tr { background-color: transparent; }
td.image_portrait { width: 96px; padding: 8px 0 0 15px !important; }
td.editdelete { border: 0 !important; }
	td.editdelete p { padding: 5px 0 0; }
span.access_level { font-weight: bold; text-transform: uppercase; }
	span.access_level1 { color: #509DC5; } 
	span.access_level2 { color: #F85911; } 
	span.access_level3 { color: #94A924; } 

/***** tools page *****/
#graphofviewsdiv {  }
#graphboxdiv { margin: 0 0 20px; border: 3px solid #bec8d2; }

#teammemberlistdiv select { margin-right: 5px !important; }

#teammemberlistdiv label {  }
#teammemberlistdiv ul li { width: 50%; clear: none !important; }

/* bulk team assign */
table.bulk-reassign { margin-top: 10px; }

/***** exports page *****/
table.account_portal_details_table td { padding-right: 5px; }
td.td_portal_name { width: 15%; min-width: 165px; }
td.td_portal_info { width: 25%; }
td.td_portal_pricing { width: 12%; padding-left: 10px; padding-right: 10px; }
	th.th_portal_pricing { padding-left: 10px; padding-right: 10px; }
td.td_portal_type { width: 8%; }
td.td_portal_country { width: 10%; }
td.td_portal_status { width: 10%; }
td.td_portal_docs { width: 20%; padding: 0 !important; }

/* Developers System Pages
---------------------------------------------------------- */
/***** Dashboard ****
#clientcntrdiv, #clientmessagecntrdiv { position: relative; }
#clientcntrdiv form#clientselectform { position: absolute; top: 5px; left: 125px; }
#clientmessagecntrdiv form#clientselectform { position: absolute; top: 5px; left: 155px; }*/

/***** client centre *****/
body#client_cntr .mapdiv { margin-bottom: 10px; }
table.access_table { margin: 0; }
table.access_table tr:hover { background-color: #fff; }
table.access_table td.value { width: 50%; padding-left: 4px; vertical-align: top; }
table.access_table select.select_box { margin-right: 5px; }

table.logo_form_table tr:hover { background: #fff; }
table.logo_form_table th, table.logo_form_table td { vertical-align: top; text-align: center; }

/***** message Center *****/
body#messages .title_block {  }
body#messages form#clientselectform { padding: 0 10px 0 0; float: right; }

/***** Store *****/
/* Themes list */
h6.storenav { margin: 0 0 15px 10px; }

.page_toolbar { width: 260px; margin: 0 auto 15px; }
.page_toolbar p { padding: 0 !important; }

p.page_prev { margin-right: 10px; float: left; display: block; }
p.page_next { margin-left: 8px; float: left; text-align: right; }
.page_prev a 	{ font-weight: bold; }
.page_next a 	{ font-weight: bold; }

p.page_numbers	{ float: left; }
.page_numbers a	{ width: 14px; background: #d2dce6; margin: 0 2px 0 0; padding: 0 5px; border: 1px dotted #d2dce6; float: left; display: block; font-weight: normal; text-align: center; }

.page_prev a:hover, .page_next a:hover, .page_numbers a:hover,
.page_prev a:active, .page_next a:active, .page_numbers a:active,
.page_numbers a.current_page, .page_numbers a:hover { color: #28323c !important; text-decoration: none !important; font-weight:bold }


.item_image { background: #fff; margin: 0 0 15px; padding: 5px; border: 1px solid #d2dce6; text-align: center; }
.item_image a { background: transparent; }

.item_name_description p { padding-right: 10px; }

.item_price_buttons {  }
.item_price_buttons h2 { margin: 0 0 10px; text-align: center; }
.item_price_buttons p { margin: 0 0 5px; padding: 0; }
.item_price_buttons p a { background: #F85911; padding: 2px 5px 4px; display: block; }

/* Theme View page */
.block.themes.twothirds { max-width: 832px; }
ul.theme_features_list, ul.theme_details_list { list-style: disc; margin: 0 0 0 15px; }

/* Apps List page */
table.app-table p { padding: 0; }
table.app-table td { padding: 10px 5px; }
table.app-table td.widget_image { width: 100px; height: 120px; }
table.app-table td.widget_image img { width: 100px; height: 50px; }
.block.apps table.app-table td.widget_description { width: 22%; }

/* Add Themes/API's page */
.block.store form.postuploadform fieldset, form.postuploadform .block.store fieldset { margin-bottom: 15px; }
.block.store form.postuploadform select, form.postuploadform .block.store select { width: 99%; }

.block.instructions h4 { margin-bottom: 18px; padding: 0; line-height: 1.5em; }
#sidebar.block.links ul.themes_lists { list-style: disc; margin: 0 0 0 15px; }

/***** Payments *****/
table.paymentdetails_table {  }

tr.payment_country th { padding-top: 20px; }

td.invoice_subtotal,
td.invoice_total_subtotal,
td.invoice_tax_subtotal,
td.invoice_cost_subtotal,
td.invoice_cost_total,
td.invoice_tax_total,
td.invoice_total_total,
td.invoice_total,
.list_cost,
.list_tax,
.list_total,
.list_debit,
.list_credit { text-align: right !important; }

.list_cost, .list_tax, .list_total { padding-right: 8px; }
.invoice_cost_subtotal, .invoice_tax_subtotal, .invoice_total_subtotal { padding-right: 4px; }

tr.payment_total td { padding-top: 20px; font-size: 12px; }

.invoice_zoo_info { float: right; }
.invoice_zoo_info p { margin: 0 0 0 50px; }

.invoice_developer_info { margin: 35px 0 0; float: left; }

/* Admin System Pages
---------------------------------------------------------- */
/***** Team page *****/
td.field_im input, td.field_im label, td.field_im select,
td.field_timeframe input, td.field_timeframe label, td.field_timeframe select { float: left; }
td.field_im input { width: 148px !important; min-width: inherit !important; margin-right: 10px; } /* Admin team_update.php IM name input */
td.field_im select { width: 75px !important; min-width: inherit !important; }
td.field_timeframe input { width: 102px !important; min-width: inherit !important; margin-right: 10px; } /* Admin team_update.php IM name input */
	body#exports.admin td.field_timeframe input { width: 66px !important; }
	body#team.admin td.field_im input { width: 95px !important; }
td.field_timeframe select { width: 101px !important; min-width: inherit !important; }

/***** Analytics Page *****/
body#tools.admin table.analytics_summary_table td.value { text-align: right; }
body#tools.admin table.analytics_summary_table th.field { text-align: center; }

/***** Assign Developer *****/
body#assign_developer #bulkassignfilterdiv { width: 870px; margin: 0 auto 20px; }
body#assign_developer #bulkassignfilterdiv form.teamassignform { width: 270px; background-color: #ffffb0; margin: 0 50px; padding: 20px; border: 1px solid #eb9300; float: left; text-align: center; }

body#assign_developer #bulkassignfilterdiv h4 { margin: 0 0 15px; }
body#assign_developer #bulkassignfilterdiv h6 { margin: 115px 0 0; font-size: 25px; color: #eb9300; }
body#assign_developer #bulkassignfilterdiv p { padding: 0 0 10px; }
body#assign_developer #bulkassignfilterdiv select { width: 100% !important; }
	body#assign_developer #bulkassignfilterdiv button { background-color: #f5faff; margin: 0 auto !important; float: none !important; }

/***** Store *****/
	body.admin form.postuploadform fieldset.fu_fs4, body.admin form.postuploadform fieldset.fu_fs2 { background-color: #e1ebf5; }
	body.admin form.postuploadform fieldset.fu_fs4 label, body.admin form.postuploadform fieldset.fu_fs4 input.single { float: left !important; clear: none !important; }
		body.admin form.postuploadform fieldset.fu_fs4 label { width: 100px !important; min-width: inherit; }
		body.admin form.postuploadform fieldset.fu_fs4 input.single, body.admin form.postuploadform fieldset.fu_fs4 select { width: 150px !important; min-width: inherit; }

body#store_update li.review_price input { width: 80px !important; min-width: inherit; }
	body#store_update li.review_price input { margin-right: 5px; }
body#store_update li.review_price select { width: 60px !important; min-width: inherit; }

body#store_update fieldset.fu_fs2 .pack p { padding: 0; }

/***** Countries *****/
.suburbs.leader .group { min-height: 152px; }

/* quick edit box */
#searchbox{ background-color: #fff; margin-top: 5px; padding: 5px; }
	body#developer_acct #searchbox { background-color: transparent; margin: 0 0 20px; padding: 0; }
#searchbox p { padding: 0 0 10px; }
span#search{ margin-right: 2px; font-size: 1.4em; font-weight: bold;}
#searchbox input{border: 1px solid #d2dce6; height: 21px; padding: 2px 4px 0; font-size: 1.5em; font-weight: bold; color: #bec8d2; }
.search-hints{color: #d2dce6;}
#searchResult { background-color: #ffffb0 !important; padding: 0 0 5px; border: 0 !important; z-index: 100; }
	body#countries_update #searchResult { width: 490px; }
	body#developer_acct #searchResult { width: 423px; }
#searchResult h4 { background-color: #eb9300; margin: 0 0 5px; padding: 3px; font-size: 12px; color: #fff; }
#searchResult p { padding:0 0 0 5px; }
table.autocomplete_list{ background:#fff; margin: 0 0 5px 5px; }
	body#countries_update table.autocomplete_list { width:480px; }
	body#developer_acct table.autocomplete_list { width:413px; }

table.autocomplete_list th, table.autocomplete_list td { padding-top: 2px; padding-bottom: 2px; }
.time-stamp { margin: 0 10px 18px 0; float: right; }
.time-stamp p {margin: 0; font-family: Verdana, Arial, sans-serif; color: #78828c; }


/***** Settings *****/
/* Billings */


/* System Cost per Country */
td.td_cost_per_office input, td.td_cost_tax input { width: 50px; min-width: inherit; }
td.td_cost_total input { width: 70px; min-width: inherit; }

/* Quick Links */
td.td_ql_name { width: 200px; }
td.td_ql_name input { width: 180px; min-width: inherit; }
td.td_ql_link input { width: 400px; min-width: inherit; }

/* Revenue Sharing */
form.revenue_share_form input { width: 50px; min-width: inherit; }

body#tools.admin table.analytics_summary_table td.value,
body#payments.admin table.analytics_summary_table td.value { text-align: right; }
body#tools.admin table.analytics_summary_table th.field,
body#payments.admin table.analytics_summary_table th.field { text-align: right; }
body#payments.admin table.analytics_summary_table .first_cell { width: 150px !important; }

/* Header
---------------------------------------------------------- */
#header { height: 85px; background }
h1#logo, #accountmetadata, .quick_links { float: left; }

h1#logo { margin: 0 0 0 10px; padding: 30px 40px 0 0; }
	body.developers h1#logo, body.admin h1#logo { padding: 18px 40px 0 0; }

#accountmetadata { width: auto; max-width: 30%; min-width: 15% !important; padding: 22px 0 5px; color: #e1ebf5; }
	* html #accountmetadata { min-width: 30%; width: 40% !important; width: 40%; }
#accountmetadata p { padding: 0; }
	span.customer_id { padding: 0 10px 0 0; float: left; }
	span.account_name { display: block; float: left; }
	span.logged_in { display: block; clear: both; }

ul#quick_links { margin: 0 10px 0 0; padding: 22px 0 0; float: right; }
ul#quick_links li { float: left; }
	ul#quick_links li.link1, ul#quick_links li.link2 { margin: 0 8px 0 0; padding: 0 7px 0 0; border-right: 1px solid #e1ebf5; }
		body.developers ul#quick_links li.link2 { margin: 0; padding: 0; border: 0; }
	ul#quick_links li.link2 {  }
	ul#quick_links li.link3 {  }
		ul#quick_links li.link3 a, body.developers ul#quick_links li.link2 a { color: #F85911; }

/* Navigation
---------------------------------------------------------- */
#navdiv { padding: 0; position: relative; }
p.navlinks { width: 190px; padding: 0; float: right; position: absolute; top: 5px; right: 10px; text-align: right; z-index: 99; color: #28323c; }
	span.navlink { margin: 0 5px 0 0; padding: 0 7px 0 0; border-right: 1px solid #3c4650; }
		body.agents span.navlink.navlink3, body.agents span.navlink.navlink4 { margin: 0; padding: 0; border: 0; }
		body.developers span.navlink.navlink2, body.developers span.navlink.navlink3 { margin: 0; padding: 0; border: 0; }
	body.agents #navlinks span.navlink4 { width: 100%; clear: both; text-align: right !important; }
	body.developers #navlinks span.navlink3 { width: 100%; clear: both; text-align: right !important; }

ul#nav { width: 100%;  min-height: 83px; height: auto !important; height: 83px; margin: 0 0 25px; padding: 0; clear: both; font-size: 14px; text-transform: uppercase; }
ul#nav li { height: 40px; margin: 0 1px 0 0; padding: 0; float: left; font-weight: bold; text-align: center; color: #fff; }

ul#nav li a { width: 144px; height: 28px; padding: 17px 0 0; border: 0; display: block; text-decoration: none; color: #fff !important; position: relative; }
	body.agents ul#nav li a { background: url(/images/backgrounds/bg_nav_agents.gif) no-repeat 0 5px; }
	body.developers ul#nav li a { background: url(/images/backgrounds/bg_nav_developers.gif) no-repeat 0 5px; }
	body.admin ul#nav li a { background: url(/images/backgrounds/bg_nav_admin.gif) no-repeat 0 5px; }

ul#nav li.current a { background-position: 0 -40px !important; color: #28323c !important; }
ul#nav li a:hover { background-position: 0 -85px !important; color: #28323c !important; }

	body.agents ul#nav li.current a, body.agents ul#nav li a:hover { color: #28323c !important; }
	body.developers ul#nav li.current a, body.developers ul#nav li a:hover { color: #28323c !important; }
	body.admin ul#nav li.current a, body.admin ul#nav li a:hover { color: #28323c !important; }

/* drop down menus */
ul#nav li ul { width: 100%; min-height: 38px; margin: 0; padding: 0; float: left; position:absolute; left: -9999px; }
	ul#nav li.current ul { left: 0; }
ul#nav li ul li { height: auto; background: none; margin: 0; text-align: left; }
	ul#nav li ul li.subnav_title { margin: 7px 5px 3px 10px; padding: 3px 5px; font-weight: bold; }
	ul#nav li ul li.subnav1 {  }
	ul#nav li ul li.subnav2 {  }
	ul#nav li ul li.subnav3 {  }
	* html ul#nav li ul li.subnav1 form { width: 24%; }
	* html ul#nav li ul li.subnav2 form { width: 24%; }
	* html ul#nav li ul li.subnav3 form { width: 35%; }
ul#nav li ul li:hover, ul#nav li ul li.sfhover { background-image: none !important; background-color: transparent; }
ul#nav li ul li a, ul#nav li ul li fieldset { width: auto; height: auto; background-image: none !important; margin: 9px 5px 0 10px; padding: 3px 5px; }

	body.agents ul#nav li ul li.subnav_title, body.agents ul#nav li ul li fieldset label { color: #509DC5 !important; }
	body.developers ul#nav li ul li.subnav_title, body.developers ul#nav li ul li fieldset label { color: #f85911 !important; }
	body.admin ul#nav li ul li.subnav_title, body.admin ul#nav li ul li fieldset label { color: #ef4123 !important; }

	ul#nav li.current li a { }
ul#nav li ul li.current a, ul#nav li.current ul li a:hover, ul#nav li ul li a:hover, ul#nav li ul li a:active { background-image: none !important; background: #e1ebf5; }

.extrasubnav { position: absolute; top: 54px; left: 0; }
.extrasubnav ul { padding: 0; }
.extrasubnav ul li { height: auto; background: none; margin: 0; float: left; font-weight: bold; text-align: left; text-transform: uppercase; }
.extrasubnav ul li a { width: auto; height: auto; background-image: none !important; margin: 0 5px 0 10px; padding: 3px 5px; border: 0; display: block; text-decoration: none; }
.extrasubnav ul li.current a, .extrasubnav ul li.current ul li a:hover, .extrasubnav ul li a:hover, .extrasubnav ul li ul li a:active { background-image: none !important; background: #e1ebf5; }
	body.agents .extrasubnav ul li a { color: #28323c !important; }
	body.developers .extrasubnav ul li a { color: #28323c !important; }
	body.admin .extrasubnav ul li a { color: #28323c !important; }

span.notify { background: #ef4123; padding: 2px 3px 3px; float: right; font-size: 9px; line-height: 1em; font-weight: bold; color: #fff; position: absolute; top: 3px; right: 0; }

/* Footer
---------------------------------------------------------- */
#footer { width: 100%; margin: 25px auto 0; padding: 10px 0 0; border-top: 1px solid #bec8d2; clear: both; color: #78828c; position: relative; }

/* Sidebar
---------------------------------------------------------- */
#sidebar { float: right; }
.sideblock { 
	background-color: #e1ebf5;
	margin: 0 0 10px;
	padding: 10px;
	border:2px solid #d2dce6;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;

	position: relative;

}


/* drop down menus */
ul.messagecatslist li { height: auto; }
ul.messagecatslist li ul { margin: 0 0 0 15px; padding: 0; display: block; clear: both; display: none; }
	ul.messagecatslist li:hover ul, ul.messagecatslist li.current ul { display: block; }
ul.messagecatslist li ul li { height: auto; background: none; margin: 0 0 1px !important; text-align: left; }

/* Content
---------------------------------------------------------- */
#content { float: left; }

/***** Posts *****/
/* Comments - Comment List */
#comments							{ float: left; }
#comments-list 						{ width: 700px; margin: 0 0 17px; padding: 0 0 1px; border-bottom: 1px solid #d2dce6; }
h5#comments, h5#respond				{ padding: 0; }

.comments 							{ clear: both; }
.comment  							{ margin: 0; padding: 8px 0 0 0; border-top: 1px solid #d2dce6; border-bottom: 1px solid #d2dce6; clear: both; color: #78828c; }
.comment p							{ padding: 0 0 14px; }
.comment img 						{ border: 0; padding: 0; }
.comment.alt 						{ border: 0; color: #3c4650; }
.comment-me 						{ border-top: 1px solid #d2dce6; }
.commentcontent 					{ width: 460px; margin: 0 20px 0 0; padding: 0; clear: both; float: left; }
.authorinfo 						{ width: 220px; margin: 0; padding: 0; float: left; }
.authorinfo img 					{ float: left; }
.authorinfo p 						{ width: 220px; float: right; }
.comment_author						{ font-weight: bold; }

/* Comments - Leave a Reply */
#commentform-container 				{ width: 700px; margin: 0 0 17px; float: left; clear: both; }
#commentform-container label {  }
#commentform-container form input	{ width: 212px; }
	#commentform-container form input.btn { width: 220px; font-size: 1em; }
#commentform-container form textarea { width: 452px; height: 140px; margin: 0; }
.form_basics, .your_comment_details { width: 700px; margin: 0; padding: 0; }
.form_basics 						{ margin-top: 9px; } .your_comment_details { margin-top: 30px; }
.form_basic_info, .your_comment 	{ width: 460px; margin: 0 20px 12px 0; padding: 0; clear: both; float: left; }
.authorinfo, .about_comments, .comment_details { width: 220px; margin: 0; padding: 0; float: left; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

div.pagination {
  font-size: 11px;
  padding: 0 0 5px 0;
}

/* Quick Edit with Flexbox plugin, a little style */
div.quick_edit_txtbox, div#quick_edit_txtbox {
  display: inline;
}

/* Calendar date display style */
#rental_date_calendar { width: 100%; float: left; }
#rental_date_calendar input {display: none;}
#rental_date_calendar select {position: static; margin: 0; display: inline;}
#rental_date_calendar { margin: 20px auto;}

#rental_date_calendar a#refresh_link { font-size: 12px; font-weight: bold; }

.calendar_date_select {
  width:195px;
  background: #efefe7;
  border: 5px solid #efefe7;
  display:block;
  z-index: 1000;
}
/* this is a fun ie6 hack to get drop downs to stay behind the popup window.  This should always be just underneath .calendar_date_select */
iframe.ie6_blocker {
  position: absolute;
  z-index: 999;
}

.canvas_1, .canvas_2, .canvas_3 {
	width: 165px;
	background: #efefe7;
	margin: 0;
	padding: 10px;
	float: left;
}


.cds_footer {
  background: #ccc;
  padding:5px 0;
  font-size:12px;
  font-weight: bold;
  text-align:center;
  color:#f06824;
}
	
.cds_buttons { 
	background: #ddd;
	font-size:12px;
  font-weight: bold;
  text-align:center;
}
	.calendar_date_select .cds_buttons { padding: 2px 0 4px; border: 1px solid #ccc; border-top: 0; }

.cds_buttons span { padding: 0 3px; }
.cds_buttons a { text-decoration: underline; }

.cds_header {
  background: #ddd;
  padding: 5px 0 0;
  text-align:center;
}
	.calendar_date_select .cds_header { padding:5px 0; border: 1px solid #ccc; }
	.calendar_date_select .cds_body { border: 1px solid #ccc; border-top: 0; border-bottom: 0; }
		.calendar_date_select .cds_body { border-top: 1px solid #e6e6e6; }
	.calendar_date_select .cds_footer { border: 1px solid #bbb; border-top: 1px solid #d0d0d0; }

.cds_header span {
  font-size:12px;
  color: #444;
  font-weight: bold;
}
.cds_header a.prev, .cds_header a.next { font-size: 15px; }
	.cds_header a.prev { margin-left: 5px; float:left; }
	.cds_header a.next { margin-right: 5px; float:right; }
.cds_header a.close { float:right; display:none; }

.calendar_date_select .cds_header select { font-size: 11px; }
.calendar_date_select .cds_header select.month { width:90px; margin-right: 5px; }
.calendar_date_select .cds_header select.year { width:61px; }


.cds_body table { border: 2px solid #ddd; }
.cds_body table th, .cds_body table td { padding: 2px 2px 1px; text-align: center; }
	.cds_body table td { color: #333; border-bottom: 1px solid #eee; }
.cds_body table thead { background: #ddd; }
.cds_body table tbody { background: #fff; padding: 0 0 10px; }

.cds_body .other { color: #999; }

.cds_body .booked { font-weight: bold; }
.cds_body .normal { background: #ffc; }
.cds_body .peak { background: #ede; }
.cds_body .mid { background: #cff; }
.cds_body .high { background: #e0f98d; }

.cds_body .today { background: #eee; color: #03070b; font-weight: bold; }

#refresh_feature input[type=checkbox] {
    float:left;
    margin-right:5px
}
.middle_cbox{
    float:left;margin-top:29px;
}
.marginLR25{
    margin: 0 25px;
}
.marginR25{
    margin-right: 25px
}