<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
<script type="text/javascript">
  function add_domain(element){
    var num = $('#count_field').val();
    $('<div class="domain-wrp" id="domain_index'+num+'"><div class="domain-left"><div class="domain-left50"><div class="float-left" style="width:105px">(Website) Name </div><input type="text" value="" style="width: 78%;" name="domain[]name" id="domain_name'+($('#count_field').val())+'" class="single"></div><div class="domain-left50">Send Current & Under Offer Listings</div><div class="domain-clear"></div><div class="domain-left50"><div class="float-left" style="width:105px">Property Nofitication </div><input type="text" value="" style="width: 78%;" name="domain[]ipn"  id="domain_ipn'+($('#count_field').val())+'" class="single"></div><div class="domain-left50"><input type="checkbox" value="1" name="domain[]enable_export" id="domain_enable_export'+($('#count_field').val())+'"> Automatically enable this API for listings</div><div class="domain-clear"></div></div><div class="domain-right"><div><a href="#" onclick="$(\'#domain_index'+num+'\').remove();return false;"><%= image_tag "/images/icons/famfamfam/cancel.png" %></a></div></div><div class="domain-clear"></div></div>').insertBefore(".add_domain");
    $('#count_field').val(parseInt($('#count_field').val())+1);
    return false;
  }
</script>
<style>
  .domain-wrp{margin:5px 0;font-size:8pt;border-bottom:1px solid #cccccc;}
  .domain-left{width:90%;float:left;}
  .domain-left50{float:left;width:50%;padding-bottom:3px;}
  .domain-right{width:20px;float:right;}
  .domain-clear{clear:both;}
  .domain-add{margin:5px 0;font-size:8pt;text-align:center;}
</style>
<div class="group">
  <div class="set full leader">
    <div class="group">
      <div>
          <% unless @office.domains.blank? %>
            <% @office.domains.sort_by{|a| a.created_at}.reverse.each_with_index do |domain, index| %>
            <div class="domain-wrp" id="domain_index<%= index %>">
              <div class="domain-left" style="padding: 5px 0;">
                <div class="domain-left50"><div class="float-left" style="width:105px">(Website) Name </div><%= text_field_tag "domain[]name",domain.name, :id => "domain_name#{index}", :class => 'single domain_name', :style=>"width:78%;float:left"%></div>
                <div class="domain-left50"><%= link_to "Send Current & Under Offer Listings", url_for({:action => :trigger, :domain_id => domain.id, :type => 1}), :method => :get %></div>
                <div class="domain-clear"></div>
                <div class="domain-left50"><div class="float-left" style="width:105px">Property Notification </div><%= text_field_tag "domain[]ipn",domain.ipn, :id => "domain_ipn#{index}",:class => 'single', :style=>"width:78%;float:left"%></div>
                <div class="domain-left50"><%= check_box_tag "domain[]enable_export", "1", domain.enable_export, :id => "domain_enable_export#{index}" %> Automatically enable this API for listings</div>
                <div class="domain-clear"></div>
              </div>
<!--              <div class="domain-clear"></div>
              <div style="margin: 5px 0 10px 0;">
                <button name="domaindelete" type="button" value="Delete this domain" onclick="$(this).children('img').attr('src','/images/ajax-loader.gif');var element = $('#domain_index<%= index %>');$.post('/agents/<%= @agent.id %>/offices/<%= @office.id %>/delete_domain', {'domain_id':<%= domain.id %>}, function(respond){if(respond == true){element.remove() }; }, 'json');return false;">
                  <img class="float-left" src="/images/icons/famfamfam/cancel.png" alt="picture_add" width="16" height="16"/><div class="float-left" style="margin: 2px 0 0 6px;">Delete this domain</div>
                </button>
                <div class="domain-clear"></div>
              </div> -->
              <div class="domain-right">
                <div><a href="#" onclick="$(this).children('img').attr('src','/images/ajax-loader.gif');var element = $('#domain_index<%= index %>');$.post('/agents/<%= @agent.id %>/offices/<%= @office.id %>/delete_domain', {'domain_id':<%= domain.id %>}, function(respond){if(respond == true){element.remove() }; }, 'json');return false;"><%= image_tag "/images/icons/famfamfam/cancel.png" %></a></div>
              </div>
              <div class="domain-clear"></div>
            </div>
            <% end%>
          <% else %>
            <div class="domain-wrp" id="domain_index0">
              <div class="domain-left" style="padding: 5px 0;">
                <div class="domain-left50"><div class="float-left" style="width:105px">(Website) Name </div><%= text_field_tag "domain[]name",{}, :id => "domain_name0", :class => 'single domain_name', :style=>"width:78%;float:left"%></div>
                <div class="domain-left50">Send Current & Under Offer Listings</div>
                <div class="domain-clear"></div>
                <div class="domain-left50"><div class="float-left" style="width:105px">Property Nofitication </div><%= text_field_tag "domain[]ipn",{}, :id => "domain_ipn0", :class => 'single', :style=>"width:78%;float:left"%></div>
                <div class="domain-left50"><%= check_box_tag "domain[]enable_export", "1", false, :id => "domain_enable_export0" %> Automatically enable this API for listings</div>
                <div class="domain-clear"></div>
              </div>
              <div class="domain-right">
                <div><a href="#" onclick="$(this).children('img').attr('src','/images/ajax-loader.gif');var element = $('#domain_index0');$.post('/agents/<%= @agent.id %>/offices/<%= @office.id %>/delete_domain', {'domain_id':<%= domain.id %>}, function(respond){if(respond == true){element.remove() }; }, 'json');return false;"><%= image_tag "/images/icons/famfamfam/cancel.png" %></a></div>
              </div>
              <div class="domain-clear"></div>
            </div>
          <% end %>
          <input type="hidden" name="count_field" id="count_field" value="<%= @office.domains.blank? ? 1 : @office.domains.size %>"/>
          <div class="float-right add_domain domain-add">
            <button name="addomain" type="button" value="Add domain" onclick="add_domain(this);" style="padding: 6px 36px 6px 32px;">
              <div style="margin: 2px 0 0 6px;">Add website</div>
            </button>
          </div>
          <div class="domain-clear"></div>
      </div>
    </div>
  </div>
</div>
