<% content_for :head do %>
  <script type="text/javascript">
    jQuery(function(){
      jQuery("#property_suburb_suggest").flexbox('<%= search_suburbs_path %>',{
        method: 'post',
        watermark: '<%= @office.suburb %>',
        showArrow: false,
        inputClass: 'single',
        resultTemplate: '{name} {id} {post}',
        hiddenValue: 'post',
        additionValue: 'id',
        minChars: 3,
        queryDelay: 300,
        highlightMatches: false,
        hiddenValue: 'post',
        onSelect: function(){
          jQuery("#office_state").val(this.getAttribute("additionValue"));
          jQuery("#office_zipcode").val(this.getAttribute("hiddenValue"));
          jQuery("#office_suburb").val(this.getAttribute('val'));
        }
      });
      if(jQuery('#office_suburb').parent('.fieldWithErrors').length){
        jQuery('#office_suburb_suggest_input').wrap("<div class='fieldWithErrors'></div>");
      }
    });
  </script>
<% end %>
<div class="group">
  <div class="set half leader">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th colspan="2" class="first_cell">Client Details</th>
        </tr>
        <tr>
          <td class="field first_cell">Client Name:</td>
          <td class="value">
            <span><%=h @agent.name %></span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Client Office:</td>
          <td class="value">
            <%= form.text_field :name, :class => 'single' %>
            <span style="color:red;font-weight:bold;">*</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Unit/Office Number:</td>
          <td class="value">
            <%= form.text_field :unit_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Street Number:</td>
          <td class="value">
            <%= form.text_field :street_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Street Name/Type:</td>
          <td class="value">
            <%= form.text_field :street, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Country:</td>
          <td class="value">
            <%= form.select :country, @countries, :class => 'select_box', :selected => @selected %>
            <span style="color:red;font-weight:bold;">*</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Suburb:</td>
          <td class="value">
            <div id="property_suburb_suggest"></div>
            <%= form.hidden_field :suburb %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">State:</td>
          <td class="value">
            <%= form.text_field :state, :class => 'single' %>
            <!-- should with noenter class -->
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Postcode:</td>
          <td class="value">
            <%= form.text_field :zipcode, :class => 'single' %>
            <!-- should with noenter class -->
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Office Phone:</td>
          <td class="value">
            <%= form.text_field :phone_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Office Fax:</td>
          <td class="value">
            <%= form.text_field :fax_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Office Email:</td>
          <td class="value">
            <%= form.text_field :email, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Website:</td>
          <td class="value">
            <%= form.text_field :url, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <th colspan="2" class="first_cell">Office Contact</th>
        </tr>
        <% if (params[:action] == "new") || (params[:action] == "create") %>
          <% fields_for :agent_user, @agent_user do |as| %>
          <tr>
            <td class="field first_cell">First Name:</td>
            <td class="value">
              <%= as.text_field :first_name, :class => 'single' %>
              <span style="color:red;font-weight:bold;">*</span>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">Last Name:</td>
            <td class="value">
              <%= as.text_field :last_name, :class => 'single' %>
              <span style="color:red;font-weight:bold;">*</span>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">Email:</td>
            <td class="value">
              <%= as.text_field :email, :class => 'single' %>
              <span style="color:red;font-weight:bold;">*</span>
            </td>
          </tr>
          <%end%>
        <%else%>

            <tr>
              <td class="field first_cell">Agent User:</td>
              <td class="value">
                <%= form.select :office_contact, @office.agent_users.all.collect {|p| [ "#{p.first_name} #{p.last_name}", p.id ] } ,{:class => 'single'} %>
              </td>
            </tr>

        <%end%>
      </table>
      <br/>
       <% if (params[:action] == "edit") || (params[:action] == "update") %>
       <% unless @office.office_contact.blank? %>
        <% detail = AgentUser.find_by_id(@office.office_contact) %>
        <span style="font-size:12px">Telephone: </span><span style="font-size:12px; margin-left:90px"><%= detail.phone%></span><br/><br/>
        <span style="font-size:12px">Mobile   : </span><span style="font-size:12px; margin-left:110px"><%= detail.mobile%></span><br/><br/>
        <span style="font-size:12px">Email    : </span><span style="font-size:12px; margin-left:115px"><%= detail.email%></span><br/>
       <%end%>
       <%end%>
    </div>
  </div>

  <div class="set half follower">
    <div class="group">
      <%= form.hidden_field :latitude %>
      <%= form.hidden_field :longitude %>
      <div class="block mapdiv">
        <%= render :partial => "offices/gmap", :locals => { :height => '470px' } %>
        <!-- NOTE TO DEVELOPER: I'm sure you don't really want this image so remove as needed. And I certainly don't actually want the map to distort when the user adjusts their window size. but if the map could extend or contract as the user moves her window out or in without distorting, that would be awesome. i'm sure there's a way we can do this. -->
      </div>
    </div>
  </div>

  <div class="clearer"></div>
</div>
