<div id="helpcenterdiv" class="block tables third middle">
  <div class="group" style="height:215px;">
    <h3 class="full">Export Errors</h3>
    <table width="100%" cellpadding="0" cellspacing="0" class="bluelink help_centre_table" style="margin:0px;">
       <tr><th class="first_cell">Date/Time</th><th><span>Property Id</span></th><th><span>Portal</span></th></tr>
       <% unless @export_errors.blank? %>
        <% @export_errors.each do |error| %>
          <% unless error.property.blank? %>
            <tr><td>&nbsp;<%= error.created_at.strftime("%d-%m-%Y %H:%I") %></td><td>&nbsp;<%=  error.property.id %></td><td><%= (error.portal_name.gsub(".com.au","") unless error.portal_name.blank?) %></td></tr>
          <% end %>
        <% end %>
        <% if @export_errors.size < 7 %>
           <% (1..(7-@export_errors.size)).step do |e| %>
             <tr><td colspan="3">&nbsp;</td></tr>
           <% end %>
        <% end %>
       <% else %>
          <tr><td colspan="3">&nbsp;No Export Errors Exist</td></tr>
       <% end %>
    </table>
    <div style="font-size:10pt;float:right"><%= link_to "View All Errors", agent_office_export_errors_path(@agent, @office) %></div>
    <div style="clear:both;"></div>
  </div>
</div>
