<div class="group">
  <h4>Office Logos</h4>
  <div class="set third leader">
    <%= render :partial => 'logo_form', :locals => {:type => 1, :banner => 'Small Logo (160px x 30px)'} %>
  </div>
  <div class="set third middle">
    <%= render :partial => 'logo_form', :locals => {:type => 2, :banner => 'Custom Logo (150px x 75px)'} %>
  </div>

  <div class="set third follower">
    <%= render :partial => 'logo_form', :locals => {:type => 3, :banner => 'Custom Logo (250px x 125px)'} %>
  </div>
  <div class="clearer"></div>
</div>
