<div id="quicklinksdiv" class="block tables third follower">
  <div class="group" style="min-height:215px">
    <h3 class="full">My Tasks</h3>

    <table width="100%" cellpadding="0" cellspacing="0" class="bluelink help_centre_table" style="margin:0px;">
      <tr>
        <th class="first_cell" width="20%">Due Date</th>
        <th width="80%"><span>Task</span></th>
      </tr>

      <% if @tasks.present? %>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.task_date %></td>
            <td><%= task.description %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="2">&nbsp;No Task</td>
        </tr>
      <% end %>
    </table>

    <div style="font-size:10pt;float:right"><%= link_to "View All Tasks", agent_office_tasks_path(@agent, @office) %></div>

    <div style="clear:both;"></div>
  </div>
</div>
