<div id="quicklinksdiv" class="block tables third follower">
  <div class="group" style="height:190px;">
    <h3 class="full">Quick Links</h3>
    <table width="100%" cellpadding="0" cellspacing="0" class="bluelink quick_links_table">
    <tr><td class="first_cell"><%= link_to 'View Property Listings', agent_office_properties_path(@agent,@office), :title => 'View Property Listings', :style => "color:#0E7FC7;" %></td></tr>
    <tr><td class="first_cell"><%= link_to 'View Team Members', agent_office_agent_users_path(@agent,@office), :title => 'View Team Members', :style => "color:#0E7FC7;" %></td></tr>
    <tr><td class="first_cell"><%= link_to 'Add Team Member', new_agent_office_agent_user_path(@agent,@office), :title => 'Add Team Member', :style => "color:#0E7FC7;" %></td></tr>
    <tr><td class="first_cell"><%= link_to 'Bulk Team Assign', agent_office_team_assigns_path(@agent,@office), :title => 'Bulk Team Assign', :style => "color:#0E7FC7;" %></td></tr>
    <tr><td class="first_cell"><%= link_to 'Share a File', new_agent_office_file_path(@agent,@office), :title => 'Share a File', :style => "color:#0E7FC7;" %></td></tr>
    <% if @agent.developer.support %>
      <tr><td class="first_cell"><%= link_to 'Submit Support Ticket', "http://helpdesk.agentpoint.com.au/", :title => 'Submit Support Ticket', :style => "color:#0E7FC7;", :target => "_blank" %></td></tr>
    <% else %>
      <tr><td class="first_cell"><%= link_to 'Submit Support Ticket', new_agent_message_path(@agent), :title => 'Submit Support Ticket', :style => "color:#0E7FC7;" %></td></tr>
    <% end %>
    <tr><td class="first_cell"><%= link_to 'View Contacts', agent_office_agent_contacts_path(@agent,@office), :title => 'View Contacts', :style => "color:#0E7FC7;" %></td></tr>
    <tr><td class="first_cell"><%= link_to 'View Tools', agent_office_file_path(@agent,@office), :title => 'View Tools', :style => "color:#0E7FC7;" %></td></tr>
    <% if @agent.developer.support %>
      <tr><td class="first_cell"><%= link_to 'Create Ticket', "http://helpdesk.agentpoint.com.au/", :title => 'Create Ticket', :style => "color:#0E7FC7;", :target => "_blank" %></td></tr>
    <% else %>
      <tr><td class="first_cell"><%= link_to 'Create Ticket', new_agent_message_path(@agent), :title => 'Create Ticket', :style => "color:#0E7FC7;", :target => "_blank" %></td></tr>
    <% end %>
    </table>
  </div>
</div>
