<div class="group withsets">

  <h4 class="full">
    <%=h row.full_name %>
    <% if current_user.full_access? %>
    <small class="formgrouplinks">
      <%= link_to 'Update Office Details', edit_agent_office_path(@agent,row), :class => 'helplink' %>
    </small>
    <%end%>
  </h4>

  <div class="set third leader">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="account_portal_details_table full">
        <tr>
          <th colspan="2" class="first_cell">Office Details</th>
        </tr>
        <tr>
          <td class="field first_cell">Office Name:</td>
          <td class="value"><%=h row.full_name %></td>
        </tr>
        <tr>
          <td class="field first_cell">Office Phone:</td>
          <td class="value"><%=h row.phone_number %></td>
        </tr>
        <tr>
          <td class="field first_cell">Office Email:</td>
          <td class="value"><%= mail_to row.email %></td>
        </tr>
        <tr>
          <td class="field first_cell">Office Fax:</td>
          <td class="value"><%=h row.fax_number %></td>
        </tr>
        <tr>
          <td class="field first_cell">Website:</td>
          <td class="value"><%=h row.url %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="set third middle">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="account_location_table full">
        <tr>
          <th colspan="2" class="first_cell">Location Details</th>
        </tr>
        <tr>
          <td class="field first_cell">Country:</td>
          <td class="value"><%=h row.country %></td>
        </tr>
        <tr>
          <td class="field first_cell">State:</td>
          <td class="value"><%=h row.state %></td>
        </tr>
        <tr>
          <td class="field first_cell">Address:</td>
          <td class="value"><%=h row.contact.address %></td>
        </tr>
        <tr>
          <td class="field first_cell">Suburb:</td>
          <td class="value"><%=h row.suburb %></td>
        </tr>
        <tr>
          <td class="field first_cell">Map:</td>
          <% if !row.latitude.blank? && !row.longitude.blank? %>
            <td class="value">Yes</td>
          <%else%>
            <td class="value">No</td>
          <%  end %>
        </tr>
      </table>
    </div>
  </div>
  <%check_image(row)%>
  <div class="set third follower">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="account_logos_table full">
        <tr>
          <th colspan="2" class="first_cell">Office Contact</th>
        </tr>
        <% unless row.office_contact.blank? %>
        <% detail = AgentUser.find_by_id(row.office_contact) %>
        <%end%>
        <tr>
          <td class="field first_cell">Name:</td>
          <td class="value"><% unless detail.blank? %><%=h detail.first_name %> <%=h detail.last_name %><%end%></td>
        </tr>
        <tr>
          <td class="field first_cell">Telephone:</td>
          <td class="value"><%=h detail.phone unless detail.blank?%></td>
        </tr>
        <tr>
          <td class="field first_cell">Mobile:</td>
          <td class="value"><%=h detail.mobile unless detail.blank?%></td>
        </tr>
        <tr>
          <td class="field first_cell">Email:</td>
          <td class="value"><%=h detail.email unless detail.blank?%></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="clearer"></div>

</div>
