<tr>
  <td class="first_cell"><%= stats_cell[0] %></td>
  <td><%= link_to stats_cell[1][0], agent_office_properties_path(@agent,@office, :type => stats_cell[0], :status => Property::STATUS[:available], :filter=> 'Filter' ), :sort_by => 'DESC' %></td>

  <td><%= link_to stats_cell[1][1], agent_office_properties_path(@agent,@office, :type => stats_cell[0], :status => set_status(stats_cell[0]), :filter => 'Filter', :sort_by => 'DESC' ) %></td>
  <td><%= link_to stats_cell[1][2], agent_office_properties_path(@agent,@office, :type => stats_cell[0], :status => Property::STATUS[:underoffer], :filter => 'Filter', :sort_by => 'DESC' ) %></td>

  <td><%= link_to stats_cell[1][3], agent_office_properties_path(@agent,@office, :type => stats_cell[0], :status => Property::STATUS[:withdrawn], :filter => 'Filter', :sort_by => 'DESC' ) %></td>

  <td><%= link_to stats_cell[1][4], agent_office_properties_path(@agent,@office, :type => stats_cell[0], :status => Property::STATUS[:draft], :filter => 'Filter', :sort_by => 'DESC' ) %></td>

  <td class="table_total"><%= link_to stats_cell[1][5], agent_office_properties_path(@agent,@office, :type => stats_cell[0], :status => '', :filter => 'Filter', :sort_by => 'DESC' )  %></td>
</tr>
<script type="text/javascript">
  var el = $('td.first_cell');
  $.each(el,function(i){
    if ($(el[i]).text() == 'NewDevelopment'){
      $(el[i]).text('Residential Building');
    }else if ($(el[i]).text() == 'ProjectSale'){
      $(el[i]).text('HouseLand');
    }else if ($(el[i]).text() == 'ResidentialSale'){
     $(el[i]).text('Residential Sale');
    }else if ($(el[i]).text() == 'CommercialBuilding'){
     $(el[i]).text('Building');
  }
  });
</script>
<script>
  var cell = $('td.first_cell');
<% if current_office.new_development == false %>
    $.each(cell,function(c){
      if ($(cell[c]).text() == 'Residential Building'){
        $(cell[c]).parent().css('display', 'none');
      }
    });
<%end%>
</script>
<script>
  var cell = $('td.first_cell');
<% if current_office.commercial_building == false %>
    $.each(cell,function(c){
      if ($(cell[c]).text() == 'Building'){
        $(cell[c]).parent().css('display', 'none');
      }
    });
<%end%>
</script>
<script>
  var cell = $('td.first_cell');
<% if current_office.land_release == false %>
    $.each(cell,function(c){
      if ($(cell[c]).text() == 'LandRelease'){
        $(cell[c]).parent().css('display', 'none');
      }
    });
<%end%>
</script>
<script>
  var cell = $('td.first_cell');
<% if current_office.residential_sale == false %>
    $.each(cell,function(c){
      if ($(cell[c]).text() == 'Residential Sale'){
        $(cell[c]).parent().css('display', 'none');
      }
    });
<%end%>
</script>
<script>
  var cell = $('td.first_cell');
<% if current_office.residential_lease == false %>
    $.each(cell,function(c){
      if ($(cell[c]).text() == 'ResidentialLease'){
        $(cell[c]).parent().css('display', 'none');
      }
    });
<%end%>
</script>
<script>
  var cell = $('td.first_cell');
<% if current_office.commercial == false %>
    $.each(cell,function(c){
      if ($(cell[c]).text() == 'Commercial'){
        $(cell[c]).parent().css('display', 'none');
      }
    });
<%end%>
</script>
<script>
  var cell = $('td.first_cell');
<% if current_office.holiday_lease == false %>
    $.each(cell,function(c){
      if ($(cell[c]).text() == 'HolidayLease'){
        $(cell[c]).parent().css('display', 'none');
      }
    });
<%end%>
</script>
<script>
  var cell = $('td.first_cell');
<% if current_office.project_sale == false %>
    $.each(cell,function(c){
      if ($(cell[c]).text() == 'HouseLand'){
        $(cell[c]).parent().css('display', 'none');
      }
    });
<%end%>
</script>
<script>
  var cell = $('td.first_cell');
<% if current_office.business_sale == false %>
    $.each(cell,function(c){
      if ($(cell[c]).text() == 'BusinessSale'){
        $(cell[c]).parent().css('display', 'none');
      }
    });
<%end%>
</script>

<script>
  var cell = $('td.first_cell');
  <% if current_office.general_sale == false %>
      $.each(cell,function(c){
        if ($(cell[c]).text() == 'GeneralSale'){
          $(cell[c]).parent().css('display', 'none');
        }
      });
  <% end %>
</script>

<script>
  var cell = $('td.first_cell');
  <% if current_office.livestock_sale == false %>
      $.each(cell,function(c){
        if ($(cell[c]).text() == 'LivestockSale'){
          $(cell[c]).parent().css('display', 'none');
        }
      });
  <% end %>
</script>

<script>
  var cell = $('td.first_cell');
  <% if current_office.clearing_sales_event == false %>
      $.each(cell,function(c){
        if ($(cell[c]).text() == 'ClearingSalesEvent'){
          $(cell[c]).parent().css('display', 'none');
        }
      });
  <% end %>
</script>

<script>
  var cell = $('td.first_cell');
  <% if current_office.clearing_sale == false %>
      $.each(cell,function(c){
        if ($(cell[c]).text() == 'ClearingSale'){
          $(cell[c]).parent().css('display', 'none');
        }
      });
  <% end %>
</script>
