<div id="officestatsdiv" class="block tables third leader">
  <div class="group" style="height:auto;min-height:215px;">
    <h3>Office Statistics</h3>
    <table cellpadding="0" cellspacing="0" class="property-stats">
      <tr>
        <th class="first_cell"></th>
        <th><span title="Available">A</span></th>
        <th><span title="Sold/Leased">S/L</span></th>
        <th><span title="Under Offer">UO</span></th>
        <th><span title="Withdrawn">W</span></th>
        <th><span title="Drafts">D</span></th>
        <th>Total</th>
      </tr>
      <%= render :partial => 'stats_cell', :collection => @stats %>
    </table>
  </div>
</div>