<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
<script type="text/javascript">
  function add_website(element){
    var num = $('#count_field2').val();
    $('<div class="domain-wrp" id="website_index'+num+'"><div class="domain-left"><div class="domain-left50"><input type="text" value="" style="width: 95%;" name="website[]url" id="website_url'+($('#count_field2').val())+'" class="single"></div><div class="domain-clear"></div></div><div class="domain-right"><div><a href="#" onclick="$(\'#website_index'+num+'\').remove();return false;"><img src="/images/icons/famfamfam/cancel.png?1279701518" alt="Cancel"></a></div></div><div class="domain-clear"></div></div>').insertBefore(".add_website");
    $('#count_field2').val(parseInt($('#count_field2').val())+1);
    return false;
  }
</script>
<style>
  .domain-wrp{margin:5px 0;font-size:8pt;border-bottom:1px solid #cccccc;}
  .domain-left{width:90%;float:left;}
  .domain-left50{float:left;width:50%;padding-bottom:3px;}
  .domain-right{width:20px;float:right;}
  .domain-clear{clear:both;}
  .domain-add{margin:5px 0;font-size:8pt;text-align:center;}
</style>

<div class="group">
  <div class="set full leader">
    <div class="group">
      <div>
        <div style="background-color: #E1EBF5;font-size:9pt;font-weight:bold;margin-bottom:5px;"><div style="width:45%;float:left;margin:3px 0;">&nbsp;Website URL</div><div style="float:left;margin:3px 0;">Property Notification</div><div style="clear:both"></div></div>
        <% unless @superapi_offices.blank? %>
          <% @superapi_offices.sort_by{|a|a.updated}.reverse.each_with_index do |so, index| %>
            <div class="domain-wrp" id="website_index<%= index %>">
              <div class="domain-left">
                <div class="domain-left50"><%= text_field_tag "website[]url",so.website.url, :id => "website_url#{index}", :class => 'single domain_name', :style=>"width:95%"%></div>
                <div class="float-left marginR25"><%= check_box_tag "website[]enable", so.enabled, so.enabled == 1 ? true : false ,:id => "website_enable#{index}" %> Enable</div>
                <div class="float-left marginLR25"><a href="<%= send_properties_agent_office_path(@agent,@office) %>/<%= so.id %>">Send properties</a></div>
                <div class="float-left marginLR25"><a href="<%= send_contacts_agent_office_path(@agent,@office) %>/<%= so.id %>">Send contacts</a></div>
                <div class="float-left marginLR25"><a href="<%= send_office_agent_office_path(@agent,@office) %>/<%= so.id %>">Send office</a></div>
                <%= hidden_field_tag "so[]id", so.id %>
                <div class="domain-clear"></div>
              </div>
              <div class="domain-right">
                <div><a href="#" onclick="$(this).children('img').attr('src','/images/ajax-loader.gif');var element = $('#website_index<%= index %>');$.post('/agents/<%= @agent.id %>/offices/<%= @office.id %>/delete_website', {'website_id':<%= so.website_id %>}, function(respond){if(respond == true){element.remove() }; }, 'json');return false;"><%= image_tag "/images/icons/famfamfam/cancel.png" %></a></div>
              </div>
              <div class="domain-clear"></div>
            </div>
          <% end%>
        <% else %>
          <div class="domain-wrp" id="website_index0">
            <div class="domain-left">
              <div class="domain-left50"><%= text_field_tag "website[]url",{}, :id => "website_url0", :class => 'single domain_name', :style=>"width:80%"%></div>
              <div class="domain-clear"></div>
            </div>
            <div class="domain-right">
              <div>
                <a href="#" onclick="$('#website_index0').remove();return false;"><img src="/images/icons/famfamfam/cancel.png?1279701518" alt="Cancel"></a>
              </div>
            </div><div class="domain-clear"></div>
          </div>
        <% end %>
        <div class="add_website"></div>
        <input type="hidden" name="count_field" id="count_field2" value="<%= @superapi_offices.blank? ? 1 : @superapi_offices.size %>"/>
        <div class="domain-add float-right">
          <button name="adwebsite" type="button" value="Add website" onclick="add_website(this);" style="padding: 6px 36px 6px 32px;">
            <div style="margin: 2px 0 0 6px;">Add website</div>
          </button>
        </div> 
        <div class="domain-clear"></div>
      </div>
    </div>
  </div>
</div>
