<div id="accountdiv" class="block accounts full">
  <div class="group">
    <h2>
<%# if @developer.logos.size > 0 -%>
<%# image_tag @developer.logos.first.public_filename, :class => "avatar" %>
<%# end -%>
      <%= "Your #{@developer.company} Account" %>
    </h2>
    <div class="set third leader">
      <div class="group">
        <table cellpadding="0" cellspacing="0" class="account_developer_details_table full">
          <tr>
            <th colspan="2" class="first_cell">Your Developer</th>
          </tr>
          <tr>
            <td class="field first_cell">Developer:</td>
            <td class="value"><%= h @developer.company %></td>
          </tr>
          <tr>
            <td class="field first_cell">Manager:</td>
            <td class="value">
              <%= user_avatar(@developer_contact, { :class => "avatar mini" }) %>
              <%= h @developer_contact.full_name %>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">Email:</td>
            <td class="value"><%= mail_to @developer_contact.email %></td>
          </tr>
          <tr>
            <td class="field first_cell">Phone:</td>
            <td class="value"><%= h @developer_contact.phone %></td>
          </tr>
          <tr>
            <td class="field first_cell">Web:</td>
            <td class="value"><%= link_to h(@developer.domain), @developer.domain %></td>
          </tr>
          <tr>
            <td class="field first_cell">Contact Developer:</td>
            <td class="value">
              <%= link_to 'Send message to developer', new_agent_message_path(@agent) + "?recipient_id=#{@developer_contact.id}" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="set third middle">
      <div class="group">
        <table cellpadding="0" cellspacing="0" class="account_support_table full">
          <tr>
            <th colspan="2" class="first_cell">Support</th>
          </tr>
          <tr>
            <td class="field first_cell">Developer:</td>
            <td class="value"><%= h @developer.company %></td>
          </tr>
          <% unless @support_contact.blank? %>
            <tr>
              <td class="field first_cell">Contact:</td>
              <td class="value">
                <%= user_avatar(@support_contact, { :class => "avatar mini" }) %>
                <%= h @support_contact.full_name %>
              </td>
            </tr>
            <tr>
              <td class="field first_cell">Email:</td>
              <td class="value"><%= mail_to @support_contact.email %></td>
            </tr>
            <tr>
              <td class="field first_cell">Phone:</td>
              <td class="value"><%= h @support_contact.phone %></td>
            </tr>
            <tr>
              <td class="field first_cell">Mobile:</td>
              <td class="value"><%= h @support_contact.mobile %></td>
            </tr>
            <tr>
              <td class="field first_cell">Contact Developer:</td>
              <td class="value">
                <%= link_to 'Send message to developer', new_agent_message_path(@agent) + "?recipient_id=#{@support_contact.id}" %>
              </td>
            </tr>
          <%end%>
        </table>
      </div>
    </div>
    <div class="set third follower">
      <div class="group">
        <table cellpadding="0" cellspacing="0" class="account_upgrades_table full">
          <tr>
            <th colspan="3" class="first_cell">Upgrades</th>
          </tr>
          <tr>
            <td class="field first_cell">Developer:</td>
            <td class="value"><%= h @developer.company %></td>
          </tr>
          <% unless @upgrade_contact.blank? %>
            <tr>
              <td class="field first_cell">Manager:</td>
              <td class="value">
                <%= user_avatar(@upgrade_contact, { :class => "avatar mini" }) %>
                <%= h @upgrade_contact.full_name %>
              </td>
            </tr>
            <tr>
              <td class="field first_cell">Email:</td>
              <td class="value"><%= mail_to @upgrade_contact.email %></td>
            </tr>
            <tr>
              <td class="field first_cell">Phone:</td>
              <td class="value"><%= h @upgrade_contact.phone %></td>
            </tr>
            <tr>
              <td class="field first_cell">Mobile:</td>
              <td class="value"><%= h @upgrade_contact.mobile %></td>
            </tr>
            <tr>
              <td class="field first_cell">Contact Developer:</td>
              <td class="value">
                <%= link_to 'Send message to developer', new_agent_message_path(@agent) + "?recipient_id=#{@upgrade_contact.id}" %>
              </td>
            </tr>
          <%end%>
        </table>
      </div>
    </div>
    <div class="clearer"></div>
  </div>

</div><!-- end #accountdiv -->