<div class="block full">
  <div id="sidebar" class="block files quarter">
   <!-- <#% if current_user.full_access? %>
    <div class="upload_button">
      <#%= link_to "Add a New Office", new_agent_office_path(@agent), :class => 'btn' %> 
      <!-- NOTE TO DEVELOPER: This form should be blank when you click on it from here. Client Name should already be set, though.
    </div>
    <!--<#%end%>-->
  </div>
  <h2><%=h @agent.name.blank? ? "-" : @agent.name %> - Offices</h2>
</div>

<div id="officediv" class="block accounts full">
  <%= render :partial => 'row', :collection => @offices %>
</div><!-- end #officediv -->
