<% form_tag logo_agent_office_path(@agent,@office), :multipart => true do %>
  <%= file_field_tag 'logo[uploaded_data]' %>
  <%= hidden_field_tag 'logo[order]', params[:type] %>
  <%= submit_tag 'Upload' %>
<% end %>
