<!-- NOTE TO DEVELOPER: This form is used for both Adding and Updating Offices. It should be blank if you're adding a Office. Title should say Add a Office. And it should have all previously entered values when you are Updating a Office and the title should be Update a Office. Thanks! -->

<div class="block full">
  <h2>Create New Office: <%=h @agent.name %></h2>
</div>

<div id="officediv" class="block accounts full">

  <% form_for :office, @office, :url => agent_offices_path(@agent), :html => {:id => 'new_office_form'} do |f| %>

    <%= f.error_messages :class => 'errortext' %>
    <%= error_messages_for 'agent_user',:class => 'errortext' %>
    <%= render :partial => 'form', :object => f %>

  <% end %>

  <div class="action_button">
    <button name="create" type="button" value="Create" onclick="$('#new_office_form').submit();">
      <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/> Create
    </button>
    <span>or&nbsp;&nbsp;</span>
    <% link_to agent_offices_path(@agent) do %>
      <img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/> Cancel
    <% end %>
  </div> 
  <!-- NOTE TO DEVELOPER: If user is Adding, this should be the file: ../includes/action_add_cancel.php. -->

</div><!-- end #officediv -->
