<!-- NOTE TO DEVELOPER: Howdy! There are a lot of notes in and throughout all these files. Please take all html and notes very seriously and replicate to the letter. On the property form templates, there are numbered classes which I would like you to auto-generate, but there are notes about that in those files. -->

<!-- Being how things always tend to change, please be sure I have access to the final HTML documents so I can make styling edits. I would imagine you'll have the html separated from the code, yes? -->

<!-- If you have ANY question or concerns about this HTML, please contact Jen Germann right away at hello@jengermann.com, or MSN/AIM at jengermann, or talk to Peter or Ryan and they'll get me. Thanks! -->

<% if current_user.full_access? || current_user.client_only_access? %>
  <%= render :partial => 'statistics' %>
  <%= render :partial => 'helpcenter' %>
  <!--<%= render :partial => 'quicklinks' %>-->
  <%= render :partial => 'my_tasks' %>

  <hr class="separator nomargin" />

  <p class="key"><strong>Key:</strong> <span title="Available">A</span>: Available;&nbsp;&nbsp;<span title="Sold/Leased">S/L</span>: Sold/Leased;&nbsp;&nbsp;<span title="Under Offer">UO</span>: Under Offer;&nbsp;&nbsp;<span title="Withdrawn">W</span>: Withdrawn;&nbsp;&nbsp;<span title="Drafts">D</span>: Drafts</p>

  <hr class="thick" />
  <!-- <p id="show_all"><a href="" title="">+</a> Show all <a href="" title="">Sold</a> | <a href="" title="">Leased</a> | <a href="" title="">Withdrawn</a> | <a href="" title="">Under Offer</a> | <a href="" title="">Drafts</a></p> -->
<%end%>
<%= render :partial => 'properties/display_or_create_listing' %>

<%= render :partial => 'properties/filter' %>
