/*
Theme Name: PB 'n J Layout Styles
Theme URI: http://wordpress.org/
Description: Warm toast for a nice little pb 'n j..
Version: 1.0
Author: Jen Germann
Author URI: http://jengermann.com/
Tags: 960, grid, 2-columns, widgets
*/

/* --------------------------------------------------------------

   Coax standards compliance out of IE6 like this:
<!--[if lt IE 7]>
<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
<![endif]-->

-------------------------------------------------------------- */

/* -------------------------------------------------------------- 
  
   Reset.css
   * Resets default browser CSS styles.
   
   Original by Erik Meyer:
   * http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
   
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

html, body { border:0; margin:0; padding:0; }
body { background: url(/images/backgrounds/bg_body_misc.jpg) repeat-x 0 72px; }
	body.misc { background-position: 0 182px; }
		body#terms-of-use.misc, body#privacy-policy.misc { background-position: 0 72px; }
	body#popup { background: url(/images/backgrounds/bg_body_popup.jpg) repeat-y -20px 0; }
	body.developers, body.developers .coverup { background-image: url(/images/backgrounds/bg_body_dev.jpg); }
		body.developers#developers { background-image: url(/images/backgrounds/bg_body_dev_devhome.jpg); }
	body.agents, body.agents .coverup { background-image: url(/images/backgrounds/bg_body_agents.jpg); }
		body.agents#agents { background-image: url(/images/backgrounds/bg_body_agents_agenthome.jpg); }

/***** Forms *****/

form 			{ margin:0; padding:0; }
input, select, textarea { margin: 0 0 9px; padding: 3px 4px 4px; border: 1px solid; }
	fieldset#fs-6 input { margin: 0; }
	form.tdomf_form input, form.tdomf_form textarea { width: 370px; }
textarea 		{  }

fieldset { margin: 0 0 30px; padding: 10px 0 0; } /* padding: 13px; border: 1px solid; */
legend span { width: 618px; display: block; }

.signupform label {
	width:130px; 
	margin:4px 10px 0 0; 
	display:-moz-inline-box; /*for mozilla*/
	display:inline-block; /*for Opera & IE*/
	text-align:right;
	vertical-align:top;
}
	.signupform label.highlight { width: auto; }
.signupform label span {
	width:130px; /* must be the same as above!*/
	display:block; 
}

form#searchform { height: 24px; margin: 0 0 18px; }
label.search_label { display: block; }
input#s, input#searchsubmit { float: left; }
input#s { width: 196px; margin: 0 6px 0 0; }

/***** Tables *****/
/* tables still need 'cellspacing="0"' in the markup */
table {
	border:0; margin:0 0 18px 0; padding:0;
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {

}
td { vertical-align: top; }

/***** Global Classes *****/

hr { width: 100%; background-color: #fff; margin: 15px 0 !important; border: 0; border-top: 1px solid; clear: both; color: #fff; }
	#features_box hr { margin: 0 0 15px !important; }
	hr.double { border-top: 3px double; }
	.sectionhome hr { width: 940px; margin: 0 0 35px !important; }

.clearer		{ clear:both; }

.float-left, .alignleft 	{ float:left; }
.float-right, .alignright 	{ float:right !important; }
	.alignleft { margin: 0 15px 10px 0; }
	.alignright { margin: 0 0 10px 15px; }

.nomargin		{ margin:0; }
.nopadding 		{ padding:0; }
.noborder		{ border: 0 !important; }
.noindent 		{ margin-left:0;padding-left:0; }
.nodisplay, .hide, .hidden, .ui-tabs-hide	{ display: none; }

.block { float: left; }
.overlay { position: absolute; z-index: 99; }

/* Images */
img 			{ border:0; }

.img-left 		{ float:left;margin:4px 10px 4px 0; }
.img-right 		{ float:right;margin:4px 0 4px 10px; }

img.size-medium { width:220px; height:165px; }
img.size-thumbnail { width: 140px; height: 105px; }
img.size-full { width: 584px; height: 200px; }

img.system_screenshot {  }
.sectionhome img.float-left { margin-right: 5px; }

/* ----------------------------------------------------------
					Main Elements
---------------------------------------------------------- */
/* Global Elements, Shared Styles
---------------------------------------------------------- */
#header, #title_block, .action_banner, #extra, #footer { width: 100%; }

#main_body, #content, #extrawrap { width: 960px; margin: 0 auto; }
#main_body { margin-bottom: 20px; }
	body.misc #main_body, body#forum #main_body { margin-top: 150px; }
		body#terms-of-use.misc #main_body, body#privacy-policy.misc #main_body { margin: 0 auto; }

#headerwrap, #slider, #footerwrap { width: 940px; margin: 0 auto; }

body#popup #main_body { width: 840px; margin: 0; padding: 20px 0 0; }
	body#popup #footerwrap { width: 780px; }

/* Header
---------------------------------------------------------- */
#header { height: 70px; margin: 0 0 40px; border-bottom: 1px solid; clear: both; }
	body.misc #header, body#forum #header { margin: 0; }
		body#terms-of-use.misc #header, body#privacy-policy.misc #header { margin: 0 0 40px; }
	body.agents #header { border-bottom-color: #509dc5; }
	body.developers #header { border-bottom-color: #f85911; }

#headerwrap { padding: 15px 0 0; }

h1#logo { float: left; }

/* Title block
---------------------------------------------------------- */
#title_block { height: 80px; padding: 20px 0 10px; border-bottom: 1px solid; position: absolute; top: 72px; left: 0; }

/* Navigation
---------------------------------------------------------- */
/***** Main nav at the top of the page *****/
#nav { width: 695px; height: 40px; margin: 0; padding: 0; float: left; }
#nav ul { margin: 0 auto; padding: 0; list-style: none; }
#nav ul li { margin: 0; padding: 0; border: 0; float: left; }


/* Slideshow Block
---------------------------------------------------------- */
#slider {  }
#slider .float-right { margin-left: 20px; }

#slider { width: 940px; margin: 0 auto; position: relative; }

.scroll {
	height: 350px;
	overflow: auto;
	position: relative; /* fix for IE to respect overflow */
	clear: left;
	}

.scrollContainer div.panel {
	width: 940px; height: 350px;
	padding: 0;
}

ul.slider_nav { display: block; display: none; }
ul.slider_nav li { float: left; }
ul.slider_nav li a { padding: 15px 20px; display: block; }
	ul.slider_nav li a:hover { background: #fff; }

.scrollButtons { cursor: pointer; position: absolute; top: 292px; z-index: 50; }
	.scrollButtons.right, .coverup.right { right:0; }
	.scrollButtons.left, .coverup.left { left: 0; }

.coverup {
	width: 11em;
	height: 28px;
	background-repeat: repeat-x; background-position: 0 -330px; 
	float: left; 
	display: block;
	position: absolute; top: 292px; z-index: 99;
}

/* Content
---------------------------------------------------------- */
#content { padding: 0 0 0 10px; }
	#content.narrowcolumn { width: 620px; margin: 0 0 40px; float: left; }
	body#popup #content { width: 600px; padding: 0 40px 0 20px; float: left; }
	
#content .block { height: auto; margin: 0 20px 20px 0; }
.block .inside { padding: 15px 15px 2px; clear: both; }
.portalblock.block { width: 458px; padding: 15px 0 2px; border: 1px solid; }

#content.sectionhome .block { width: 225px; margin: 0 0 0 15px; }
#features { width: 940px; margin: 0 0 25px; }
#features .block.pricing_block { width:220px; margin: 0; }

ul.features li { margin-bottom: 50px; }
ul.features li .block { background: url(/images/backgrounds/bg_shadow.png) no-repeat 100% 100%; margin-bottom: 10px !important; border-top: 1px solid; border-left: 1px solid; }
ul.features li .block img { margin: 0 10px 10px 0; }

ul#why_features img { margin: 0 20px 20px 0; float: left; }
ul#agents_features li div.block { position: relative; }
	#content ul#agents_features li div.float-right { margin: 0 0 15px 20px; }
ul#agents_features li .overlay { top: -10px; right: -10px; }

.overlay span { width: 100%; height: 100%; display: block; position: absolute; }

.feature_tour { padding: 10px 20px 15px 10px; }
.feature_tour ul { margin: 5px; }
.feature_tour ul li { margin: 0 0 10px 0; }
a.image { width: 104px; height: 74px; display: block; position: relative; }
a.image span { width: 104px; height: 74px; background: url(/images/icons/icon_add.png) no-repeat 0 0; display: block; position: absolute; }



/***** Posts *****/
.post { padding: 0 0 10px; }

.submitter, .postmetadata {  }
.submitter { margin: 15px 0 0; padding: 5px 10px; border-bottom: 1px solid; }
.postmetadata { margin: 0 0 10px; padding: 5px 10px; }

.navigation { width: 100%; height: 50px; margin: 60px 0 0; padding: 20px 0 0; border-top: 3px double; }

/* Comments - Comment List */
#comments { padding: 20px 0 0; border-top: 1px solid; }
#comments .navigation { display: none; }
ol.commentlist li p { clear: both; }
span.says { display: none; }

ol.commentlist { padding: 0 0 14px; list-style-position: inside; }
ol.commentlist li div {  }
ol.commentlist li { margin: 0; padding: 14px 0 7px 14px; }
ol.commentlist li .commentdiv { width: 96%; margin: -20px 0 0; display: block; float: right; }
.gravatar { float: left; }
	img.avatar { margin: 0 12px 12px 0; padding: 4px; border: 1px solid; vertical-align: text-top; }
ol.commentlist li span.comment-date { padding-bottom: 3px; }
.comment-author {  }
span.comment-date, small.comment-time { display: block; }

#respond { padding: 10px 0 0; border-top: 1px solid; }
.respond-meta { width: 140px; float: right; }
form#commentform { width: 460px; }
form#commentform input { width: 370px; }
form#commentform textarea { width: 370px; }

/* Features List
---------------------------------------------------------- */
#features_box { width: 925px; margin: 5px auto 20px; padding: 15px 0 15px 15px;
	border:1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
 }
ul.feature_items { width: 925px; margin: 0; list-style: none; }
	li.feature { width: 445px; margin: 0 15px 10px 0; float: left; }

p.feature_icon, .feature_description { float: left; }
	p.feature_icon { width: 50px; height: 50px; margin-right: 10px; padding: 0; display: block; }
		p.feature_icon img { width: 50px; height: 50px; }
	.feature_description { width: 385px; }


/* Action Banner
---------------------------------------------------------- */
.action_banner { padding: 11px 0 9px; clear: both; }
	#content .action_banner { margin: 20px 0 30px; }
	body#agents .action_banner, body#developers .action_banner { border-top: 1px solid; border-bottom: 1px solid; }
.bannerwrap { width: 820px; height: 30px; margin: 0 auto; }
	#content .bannerwrap { width: 396px; }

/* Extra
---------------------------------------------------------- */
#extra { padding: 30px 0 10px; border-top: 10px solid; clear: both; }
#extrawrap { padding: 0 0 0 20px; }

#extra .block { width: 300px; margin-right: 20px; float: left; }
#extra ul li { margin: 0 0 10px; padding: 0 0 10px; border-bottom: 1px solid; clear: both; }
	#extra ul#forum_block li { height: 58px; padding: 0 0 15px; overflow: hidden; }
	#extra ul li:first-child { margin: 0; padding: 0 !important; border: 0; }
		#extra ul#forum_block li:first-child { height: auto; }

.item_image, item_name_description { float: left; }
	.item_image { margin-right: 10px; }

/* Footer
---------------------------------------------------------- */
#footer { padding: 20px 0; clear: both; }
#footerwrap { padding: 10px 0 0; border-top: 1px dotted; }
	body#home #footerwrap, body.signup #footerwrap { padding: 0; border: 0; }

/* Sidebar
---------------------------------------------------------- */
#sidebar { width: 300px; margin: 0 0 0 20px; padding: 0; border: 0; float: right; }
	body#popup #sidebar { width: 170px; margin: 0; padding: 0 0 0 10px; }
	
#sidebar ul#sidenav { margin: 0 0 25px; padding: 0; border-bottom: 1px solid; }
#sidebar ul#sidenav li { padding: 7px 5px 7px 30px; border-top: 1px solid; display: block; }
	#sidebar ul#sidenav li.current_page_item { background: url(/images/icons/icon_arrow_right.gif) no-repeat 7px center; }
#sidebar ul#sidenav li a { padding: 3px 0; }

#sidebar .block { width: 270px; height: auto; margin: 15px 0 20px; padding: 15px 15px 5px; border: 1px solid; -webkit-box-shadow: 2px 2px 4px #ddd; -moz-box-shadow: 2px 2px 4px #ddd; box-shadow: 2px 2px 4px #ddd; }
#sidebar .block ul li { margin: 0 0 10px; }

#sidebar ul#additional_features li { background: url(/images/icons/icon_clean.gif) no-repeat 0 2px; padding: 0 0 0 32px; }
	#sidebar ul#additional_features ul { padding: 0 0 0 30px; list-style: disc; }
	#sidebar ul#additional_features li ul li { background: none; margin: 0; padding: 0; }

body#popup #sidebar ul li { margin: 0 0 20px; }
body#popup #sidebar ul li img { border: 5px solid; }

ul#postTabs { height: 32px; margin: 0; padding: 0; list-style: none; }
ul#postTabs li { margin: 0 10px 0 0 !important; padding: 4px 12px !important; border: 1px solid; float: left; }

.inside { margin: 0; padding: 0 !important; }
.inside ul {  }
.inside ul li { padding: 4px 0 4px 6px; margin: 0 !important; border-bottom: 1px solid; }
.inside ul a {  }
.inside ul img { width: 35px; height: 35px; margin: 0 9px 0 0; border: 1px solid; float: left; vertical-align: middle; }

#subscribe_to_rss { margin: 0 0 5px; padding: 9px 9px 0; border: 1px solid; overflow: auto; }
#subscribe_to_rss a { margin: 2px 9px 0 0; float: left; }

