<p><%= label_tag 'login' %><br/>
<%= form.text_field :login %></p>

<p><%= label_tag 'email' %><br/>
<%= form.text_field :email %></p>

<p><%= label_tag 'password' %><br/>
<%= form.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= form.password_field :password_confirmation %></p>

<p><%= form.hidden_field :type %></p>

