<h1 class="title">Forgot your username or password?</h1>
<h3 class="title">Please enter your email..</h3>
<div class="post">
<span style="color:red;font-size:12px;"><%= flash[:notice] %></span><br/><br/>
<% form_for :user do |f| -%>
	<label>Email</label><br/>
	<%= f.text_field :email %><br/>
	<%= submit_tag 'Submit' %>
<% end -%>
</div>	
