<h1 class="title">Sign up</h1>
<h3 class="title">Start enjoying a fresh, simple approach to real estate listing management. Sign up is free.</h3>
<%if !@user.errors.blank? || !@developer.errors.blank?%>
  <div id="errorExplanation" class="errorExplanation">
    <p>There were problems with the following fields:</p>
    <% [{:klass => :developer, :kolumn => :company}, {:klass => :developer, :kolumn => :entry}, {:klass => :user, :kolumn => :first_name}, {:klass => :user, :kolumn => :last_name}, {:klass => :user, :kolumn => :email}, {:klass => :user, :kolumn => :login}, {:klass => :user, :kolumn => :password}, {:klass => :user, :kolumn => :password_confirmation}, {:klass => :developer, :kolumn => :agreement}].each do |x| %>
      <ul>
        <% error_message = error_message_on x[:klass], x[:kolumn], Kernel.const_get(x[:klass].to_s.capitalize).human_attribute_name(x[:kolumn].to_s) + ' ' %>
        <% if !error_message.blank? %><li><%= error_message %></li><% end %>
      </ul>
    <% end %>
  </div>
<% end %>
<div class="post">
  <% form_for :developer, @developer, :url => "/signup", :html => { :onclick => "", :class => "signupform", :id => "signupform" } do |form| %>
    <fieldset id="fs-1">
      <legend><span><span>Your business name</span></span></legend>
      <p class="rule">What is the name of your company or organization?</p>
      <%= form.text_field :company, :class => "big" %>&nbsp;<span style="color:red;font-weight:bold;">*</span>
    </fieldset>

    <fieldset id="fs-2">
      <legend><span>Your Unique Commercial Loop URL</span></legend>
      <p class="rule">All Commercial Loop accounts have a unique url. You and other users on your account will use this address when logging in. Create your login below, using only numbers and letters, but no spaces. For example, if you want your unique url to be realestate.commercialloopcrm.com.au, then enter <code>realestate</code> in the box below.</p>
      <%= form.text_field :entry, :class => "big", :style => "width:200px" %>&nbsp;<span style="color:red;font-weight:bold;">*</span>

      <script type="text/javascript">
        //<![CDATA[
        new Form.Element.Observer('developer_entry', 1, function(element, value) {new Ajax.Updater('check_domain', '/check_domain', {asynchronous:true, evalScripts:true, onLoading:function(request){$('check_domain').innerHTML = '<span style=\'margin-left: 5px;color:green\'>Checking...</span>'}, parameters:'entry='+escape(value)})})
        //]]>
      </script>
      <span id="check_domain" style="margin-left: 5px;"></span>
    </fieldset>

    <fieldset id="fs-3">
      <legend><span>Your timezone and country</span></legend>
      <p>
        <label><span>Time zone:</span></label>
        <%= form.time_zone_select("time_zone", ActiveSupport::TimeZone.all.sort, {} ) %>&nbsp;<span style="color:red">*</span>
      </p>
      <p>
        <label><span>Country:</span></label>
        <%= form.localized_country_select :country, [:AU, :US, :GB, :CA]  %>&nbsp;<span style="color:red;font-weight:bold;">*</span>
      </p>
    </fieldset>
    <% fields_for :users, @user do |creator| %>
      <fieldset id="fs-4">
        <legend><span>Your administrator account</span></legend>
        <p class="rule"><span class="highlight">This is your primary Commercial Loop account.</span> Once you have created this, you'll be able to add other users to your account.</p>
        <span style="font-weight:bold;font-size:12px">First name:</span><br/>
        <%= creator.text_field :first_name , :size => "30" %>&nbsp;<span style="color:red;font-weight:bold;">*</span><br/>

        <span style="font-weight:bold;font-size:12px">Last name:</span><br/>
        <%= creator.text_field :last_name , :size => "30" %>&nbsp;<span style="color:red;font-weight:bold;">*</span><br/>

        <span style="font-weight:bold;font-size:12px">Email address:</span><br/>
        <%= creator.text_field :email , :size => "30" %>&nbsp;<span style="color:red;font-weight:bold;">*</span>
        <script type="text/javascript">
          //<![CDATA[
          new Form.Element.Observer('users_email', 1, function(element, value) {new Ajax.Updater('check_email', '/check_email', {asynchronous:true, evalScripts:true, onLoading:function(request){$('check_email').innerHTML = '<span style=\'margin-left: 5px;color:green;\'>Checking...</span>'}, parameters:'email='+escape(value)})})
          //]]>
        </script>
        <span id="check_email" style="margin-left: 5px;"></span><br/>

        <span style="font-weight:bold;font-size:12px">Username:</span><br/>
        <%= creator.text_field :login , :size => "30" %>&nbsp;<span style="color:red;font-weight:bold;">*</span>
        <script type="text/javascript">
          //<![CDATA[
          new Form.Element.Observer('users_login', 1, function(element, value) {new Ajax.Updater('check_login', '/check_login', {asynchronous:true, evalScripts:true, onLoading:function(request){$('check_login').innerHTML = '<span style=\'margin-left: 5px;color:green;\'>Checking...</span>'}, parameters:'login='+escape(value)})})
          //]]>
        </script>
        <span id="check_login" style="margin-left: 5px;"></span><br/>

        <span style="font-weight:bold;font-size:12px">Password:</span><br/>
        <%= creator.password_field :password , :size => "30" %>&nbsp;<span style="color:red;font-weight:bold;">*</span><span style="font-style:italic; margin-left:10px">(minimum 6 characters)</span><br/>

        <span style="font-weight:bold;font-size:12px">Confirm password:</span><br/>
        <%= creator.password_field :password_confirmation , :size => "30" %>&nbsp;<span style="color:red;font-weight:bold;">*</span>

      </fieldset>
    <% end %>
    <!-- <fieldset id="fs-5">
        <legend><span>Referral Code</span></legend>

            <p class="rule">If someone referred you to Commercial Loop, or if you have a coupon code, please enter it here.</p>

              <p>
                <label><span>Referral Code:</span></label>
                <input id="signup_referrer_code" name="signup[referrer_code]" size="20" type="text" value="" />
              </p>

        </fieldset> -->

    <fieldset id="fs-6">
      <legend><span>Agree to Terms and Complete Sign up</span></legend>

      <p>
        <label class="highlight">
        <%= form.check_box :agreement  %>  I agree to the <a href="http://www.commercialloopcrm.com.au/privacy-policy/" target="_blank">Privacy Policy</a> and <a href="http://www.commercialloopcrm.com.au/terms-of-use/" target="_blank">Terms of Use</a></label>
      </p>
      <p>
        <label class="highlight"><em style="color:red;font-weight:bold;">*</em> required field</label>
      </p>
      <p class="submit_btn">
        <input type="submit" value="Create my Commercial Loop account" class="btn" />

      </p>
    </fieldset>
  <% end %>

</div>
<script type="text/javascript">
<% if @developer.time_zone.nil? %>
    //guessTimeZone($('developer_time_zone'));
<% end %>
</script>
