<span style="color:red;font-size:12px;"><%= flash[:notice] %></span><br/><br/>
  <%= error_messages_for :user, :header_message => nil %>

<% form_for :user do |f| -%>
  <% unless @user.blank? %>
    <b>Pick a new password for <%= @user.email %></b><br/><br/>
  <%end%>
  <table id="newedit">
    <tbody>
      <tr>
        <td align="right"><label>Password:</label></td>
        <td><%= f.password_field :password %></td>
      </tr>

      <tr>
        <td align="right"><label>Confirm Password:</label></td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>

      <tr>
        <td></td>
        <td><%= submit_tag 'Reset' %></td>
      </tr>
    </tbody>
  </table>
<% end %>
