<% content_for :head do %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_div { height: 100% }
  </style>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChQSpCH3SdXB4BFphbz9av5KUWhqMQzrk&sensor=false">
  </script>
  <script type="text/javascript">
    var map;
    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(-34.397, 150.644),
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map_div"),
      mapOptions);
    }
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#country_loading").hide();
      var office_address = null;
      if("<%= @property.new_record? %>" == "true"){
        if("<%= @office.suburb.blank? %>" != "true"){
          office_address = "<%= "#{@office.unit_number.blank? ? '' : @office.unit_number.gsub("\"","'")} #{@office.street_number.blank? ? '' : @office.street_number} #{@office.suburb.blank? ? '' : @office.suburb} #{@office.state.blank? ? '' : @office.state} #{@office.country.blank? ? '' : @office.country}" %>"
        }
      }
      var error = <%= !@property.errors['property_type'].blank? %>;
      var query = "<%= @property.suburb %>";
      var country = '<%= @property.country %>';
      var ptype = "<%= @ptype %>";
      var action = "<%= params[:action] %>";
      var ptype_value = $("#property_property_type").val();
      var peer_value = '<%= (@detail.has_attribute?('energy_efficiency_rating') ? @detail.energy_efficiency_rating : '') unless @detail.blank? %>';
      var pzone_value = '<%= (@detail.has_attribute?('zoning') ? @detail.zoning : '') unless @detail.blank? %>';
      var re_suburb = "<%= @property.re_suburb %>";
      var rca_suburb = "<%= @property.rca_suburb %>";

      if (country == ""){
        country = $("#property_country").val();
      };

      deactivation = '<%= @property.deactivation.present? ? @property.deactivation : "" %>'
      if (deactivation == "true")
      {var disabled_dropdown = ""}
      if (deactivation == "")
      {var disabled_dropdown = "disabled=\"disabled\""}

      $("#country_loading").ajaxStart(function(){
        $(this).show();
        $("#property_country").attr("disabled", "disabled");
        if(ptype == 'holiday_lease'){
          var start_date = <%= params[:rental_season].blank?  ? false : (params[:rental_season][0]["start_date"] == '' ? true : false)%>
          var end_date = <%= params[:rental_season].blank?  ? false : (params[:rental_season][0]["end_date"] == '' ? true : false)%>
          if(start_date){
            $("#normal_start_date").wrap("<div class='fieldWithErrors'></div>");
          }
          if(end_date){
            $("#normal_end_date").wrap("<div class='fieldWithErrors'></div>");
          }
        }
      });
      $("#country_loading").ajaxStop(function(){
        $(this).hide();
  <% if params[:action] == 'edit' %>
          $('#submit_geocode').click();
  <%end%>
        $("#property_country").attr("disabled", "");
        $("#property_property_type").attr("disabled","");
        if (deactivation == "")
        {
          if(((($("#property_property_type").val() == 'Land' || $("#property_property_type").val() == 'Rural') && ($("#property_country").val() == "Australia" || country == "Australia"))|| (($("#property_property_type").val() == "Section") && ($("#property_country").val() == "New Zealand" || country == "New Zealand"))) && (action =='edit'|| action =='update') && (ptype != "commercial")){
            $("#property_property_type").attr("disabled","disabled");
            $("#property_country").attr("disabled", "disabled");
          };
        }
      });
      var latlng = new Array(2);
      latlng[0]= '<%=@property.latitude%>';
      latlng[1]= '<%=@property.longitude %>';
      if(country == "Australia" || country == "New Zealand"){
        $("#mappingdiv").show();
        if($("#property_suburb_suggest").is(":visible") == false){
          normal_div();
        }
        prepare_normal(country,office_address,latlng);
      }else{
        $("#mappingdiv").hide();
        if($("#li_streetAddress").is(":visible") == false){
          change_div();
        }
        prepare_changes(country,office_address,latlng);
      };
      flexbox(query,country,query);
      if(country == "New Zealand"){
        $("#li_re_suburb").show();
        $("#li_rca_suburb").show();
        $("#li_suburb_desc").show();

        nz_suburb_flexbox("property_re",re_suburb,country,re_suburb);
        nz_suburb_flexbox("property_rca",rca_suburb,country,rca_suburb);
        $("input[style='width: 550px;']").hide();
      }else{
        $("#li_re_suburb").hide();
        $("#li_rca_suburb").hide();
        $("#li_suburb_desc").hide();
      }

      contact_flexbox();
      external_agent_flexbox();
      jQuery("#lb_state").text($("#property_state").val());
      jQuery("#lb_town_village").text($("#property_town_village").val());
      jQuery("#lb_zip_code").text($("#property_zipcode").val());
      country_property_type(country,ptype,0,action,ptype_value,peer_value,pzone_value,psub_cat,error);
      country_property_type(country,ptype,2,action,ptype_value,peer_value,pzone_value,psub_cat,error);
      country_property_type(country,ptype,1,action,ptype_value,peer_value,pzone_value,psub_cat,error);
      country_property_type(country,ptype,3,action,ptype_value,peer_value,pzone_value,psub_cat,error);
      if(ptype == "business_sale"){
        var psub_cat = "<%= (@property.detail.is_a?(BusinessSaleDetail) ? @property.detail.category : '') unless @property.detail.blank? %>";
        var pcat2_value = "<%= (@property.detail.is_a?(BusinessSaleDetail) ? @property.detail.category2 : '') unless @property.detail.blank? %>";
        var pcat3_value = "<%= (@property.detail.is_a?(BusinessSaleDetail) ? @property.detail.category3 : '') unless @property.detail.blank? %>";
        var psub_cat2 = "<%= (@property.detail.is_a?(BusinessSaleDetail) ? @property.detail.sub_category2 : '') unless @property.detail.blank? %>";
        var psub_cat3 = "<%= (@property.detail.is_a?(BusinessSaleDetail) ? @property.detail.sub_category3 : '') unless @property.detail.blank? %>";
        country_property_type(country,ptype,4,action,ptype_value,peer_value,pzone_value,psub_cat,error);
        country_property_type(country,ptype,5,action,pcat2_value,peer_value,pzone_value,psub_cat2,error);
        country_property_type(country,ptype,6,action,pcat3_value,peer_value,pzone_value,psub_cat3,error);
      };
      hide_bed_bath(country);
    });

    function contact_flexbox(){
      var query = "<%= @contact_name %>";
      jQuery("#contact_name").flexbox('<%= auto_complete_agent_office_properties_path(@agent, @office) %>',{
        customParameters: {q: query},
        method: 'post',
        watermark: query,
        showArrow: false,
        inputClass: 'single',
        minChars: 2,
        width:200,
        queryDelay: 300,
        paging:false,
        highlightMatches:false,
        containerClass:'ffbContainer',
        onSelect: function(){
          $('#property_agent_contact_id').attr('value', this.getAttribute('hiddenValue'));
        }
      });
    }

    function external_agent_flexbox(){
    var query = "<%= @external_agent_name %>";
    jQuery("#extrenal_agent_name").flexbox('<%= auto_complete_external_agent_agent_office_properties_path(@agent, @office) %>',{
      customParameters: {q: query},
      method: 'post',
      watermark: query,
      showArrow: false,
      inputClass: 'single',
      minChars: 2,
      width:200,
      queryDelay: 300,
      paging:false,
      highlightMatches:false,
      containerClass:'ffbContainer',
      onSelect: function(){
        $('#property_external_agent_contact_id').attr('value', this.getAttribute('hiddenValue'));
      }
    });
  }

    function prepare_normal(country,office_address,latlng){
      $('#li_map').hide();
      $('#li_streetAddress').hide();
      $("#lb_zip_code").show();
      $("#property_zipcode").hide();
      $("#lb_state").show();
      $("#property_state").hide();
      $("#lb_town_village").show();
      $("#property_town_village").hide();
      $("#property_suburb_suggest").show();
      $("#property_suburb").hide();
      var oflat = "<%= @office.latitude.present? ? @office.latitude : "" %>"
      var oflong = "<%= @office.longitude.present? ? @office.longitude : "" %>"
      if(latlng[0] == '' && latlng[1] == ''){
        if("<%= @property.new_record? %>" == "true"){
          if(office_address == null){
            init_map([-25.274398,133.775136], 4);
            //change_map(country,false);
          }else{
            if (oflat != '' && oflong != '')
            {init_map([oflat,oflong], 11);}
            else
            {
              init_map([-25.274398,133.775136], 4);
              //change_map(office_address,true);
            }
          }
        }else{
          if("<%= @property.country %>" == country){
            var property_address = "<%= @property.unit_number.blank? ? '' : @property.unit_number.to_s %> <%= @property.street_number.blank? ? '' : @property.street_number.to_s %> <%= @property.street.blank? ? '' : @property.street.to_s %> <%= @property.state.blank? ? '' : @property.state.to_s %> <%= @property.town_village.blank? ? '' : @property.town_village.to_s %> <%= @property.suburb.blank? ? '' : @property.suburb.to_s %> <%= @property.zipcode.blank? ? '' : @property.zipcode.to_s %> <%= @property.country.blank? ? '' : @property.country.to_s %>";
            change_map(property_address,true);
          }else{
            if(office_address == null){
              init_map([-25.274398,133.775136], 4);
              //change_map(country,false);
            }else{
              change_map(office_address,true);
            }
          };
        };
      }else{
        if("<%= @property.country %>" == country){
          init_map(latlng, 15);
        }else{
          if(office_address == null){
            change_map(country,false);
          }else{
            change_map(office_address,true);
          }
        }
      };
    }

    function prepare_changes(country,office_address,latlng){
      $("#lb_zip_code").hide();
      $("#property_zipcode").show();
      $("#lb_state").hide();
      $("#property_state").show();
      $("#lb_town_village").hide();
      $("#property_town_village").show();
      $("#property_suburb_suggest").hide();
      $("#property_suburb").show();
      if($('#li_map').length > 0){
        $('#li_map').show();
        $('#li_streetAddress').show();
      }else{
        add_map();
      };
      if(latlng[0] == '' && latlng[1] == ''){
        if("<%= @property.new_record? %>" == "true"){
          if(office_address == null){
            change_map(country,false);
          }else{
            change_map(office_address,true);
          }
        }else{
          if("<%= @property.country %>" == country){
            var property_address = "<%= @property.unit_number.blank? ? '' : @property.unit_number.to_s %> <%= @property.street_number.blank? ? '' : @property.street_number.to_s %> <%= @property.street.blank? ? '' : @property.street.to_s %> <%= @property.state.blank? ? '' : @property.state.to_s %> <%= @property.town_village.blank? ? '' : @property.town_village.to_s %> <%= @property.suburb.blank? ? '' : @property.suburb.to_s %> <%= @property.zipcode.blank? ? '' : @property.zipcode.to_s %> <%= @property.country.blank? ? '' : @property.country.to_s %>";
            change_map(property_address,true);
          }else{
            if(office_address == null){
              change_map(country,false);
            }else{
              change_map(office_address,true);
            }
          };
        };
      }else{
        if("<%= @property.country %>" == country){
          init_map(latlng, 15);
        }else{
          if(office_address == null){
            change_map(country,false);
          }else{
            change_map(office_address,true);
          }
        }
      };
      jQuery('#submit_street_address').click(function(){
        var address = jQuery('#street_address').val() + " " + $("#property_country").val();
        search_by_address(address);
      });
      jQuery('#overlay_up').click(function(){
        var address = jQuery('#street_address').val() + " " + $("#property_country").val();
        search_by_address(address);
      });
      jQuery('#overlay').click(function(){
        var address = jQuery('#street_address').val() + " " + $("#property_country").val();
        search_by_address(address);
        jQuery('#overlay').hide();
      });
    }

    function normal_div(){
      $("#address_container").append($("#li_country"))
      if($('#li_map').length > 0){
        $("#address_container").append($("#li_streetAddress"));
        $("#address_container").append($("#li_map"));
      }
      $("#address_container").append($("#li_suburb"))
      $("#address_container").append($("#li_town"))
      $("#address_container").append($("#li_state"))
      $("#address_container").append($("#li_postCode"))
      $("#address_container").append($("#li_unitNumber"))
      $("#address_container").append($("#li_streetNo"))
      $("#address_container").append($("#li_streetType"))
      $("#address_container").append($("#li_displayAddress"))
    };

    function add_map(){
      $("#li_postCode").after($("<li id='li_map' class='li--24'  ></li>"));
      $("#li_postCode").after($("<li id='li_streetAddress' class='full'><label><span>&nbsp;</span></label><label style='width:61%;float: left'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id ='submit_street_address' style='float:right;border:solid black 1px;color: black;background-color: orange;padding: 1px;text-align:center;float: right;cursor: pointer' onclick='return false;'>MAP</a></label></li>"))
      $("#li_map").append("<div id='mapping' class='group'><div class='set'></div></div>");
      $("#li_map #mapping .set").append("<h6 class='full'>Mapping Coordinates <small class='formgrouplinks'><strong>Longitude:</strong>&nbsp;&nbsp;<span id='coordinate_latitude'>"+"<%= @property.latitude %>"+"</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Latitude:</strong>&nbsp;&nbsp;<span id='coordinate_longitude'>"+"<%= @property.longitude %>"+"</span></small></h6>");
  <% if @property.longitude.blank? and @property.latitude.blank? %>
        $("#li_map #mapping .set").append("<div id='mapcontainer' style='position:relative;'><div id='overlay' style='cursor:pointer;'><div class='overlay_title' id='overlay_title' style='left:230px;'>Map Address</div><div class='overlay_map' id='overlay_map' style='width:580px;'></div></div><div id='map_div' style='height: 500px; width: auto; position: relative; background-color: rgb(229, 227, 223);'></div></p>");
  <% else %>
        $("#li_map #mapping .set").append("<div id='mapcontainer' style='position:relative;'><div id='overlay'></div><div id='map_div' style='height: 500px; width: auto; position: relative; background-color: rgb(229, 227, 223);'></div></p>");
  <% end %>
      $("#li_map #mapping .set").append("<p style='color:red' id='mapinfo'>Note: <i>If required click on the map to reposition the address marker. The address below is what Google has provided in relation to where the marker is. It should be used as a cross reference for the address you've entered above.</i></p>");
      $("#li_map #mapping .set").append("<p style='width:100%;text-align:center;font-family:verdana;' id='highlight_address'></p>");
      var w = $("#map_div").width();
      var nw = (w/2)-50;
      $("#overlay_map").remove();
      $("#overlay").append('<div class="overlay_map" id="overlay_map" style="width:'+w+'px;"></div>');
      $("#overlay_title").css('left', nw+'px');
    };

    function change_div(){
      $("#address_container").append($("#li_country"))
      if($('#li_map').length > 0){
        $("#address_container").append($("#li_streetAddress"));
        $("#address_container").append($("#li_map"));
      }
      $("#address_container").append($("#li_unitNumber"))
      $("#address_container").append($("#li_streetNo"))
      $("#address_container").append($("#li_streetType"))
      $("#address_container").append($("#li_state"))
      $("#address_container").append($("#li_town"))
      $("#address_container").append($("#li_suburb"))
      $("#address_container").append($("#li_postCode"))
      $("#address_container").append($("#li_displayAddress"))
    };

    function reset_field(){
      $("#property_suburb_suggest_hidden").val('');
      $("#property_suburb_suggest_input").val('');
      $("#property_suburb").val('');
      $("#property_town_village").val('');
      $("#lb_town_village").text('');
      $("#lb_state").text('');
      $("#property_state").val('');
      $("#lb_zip_code").text('');
      $("#property_unit_number").val('');
      $("#property_street").val('');
      $("#property_street_number").val('');
      $("#property_zipcode").val('');
    }

    jQuery(function(){
      jQuery("#property_country").bind("change",(function(){
        var office_address = null;
        if("<%= @office.suburb.blank? %>" != "true"){ office_address = "<%= "#{@office.unit_number.blank? ? '' : @office.unit_number.gsub("\"","'")} #{@office.street_number.blank? ? '' : @office.street_number} #{@office.suburb.blank? ? '' : @office.suburb} #{@office.state.blank? ? '' : @office.state} #{@office.country.blank? ? '' : @office.country}" %>" }
        $("#property_suburb_suggest").html("");
        $("#property_state").val("");
        $("#property_town_village").val("");
        $("#property_zipcode").val("");
        $("#property_suburb").val("");
        var latlng = new Array(2);
        latlng[0]= '<%=@property.latitude%>';
        latlng[1]= '<%=@property.longitude %>';
        if($(this).attr("value") == "Australia" || $(this).attr("value") == "New Zealand"){
          $("#mappingdiv").show();
          if($("#property_suburb_suggest").is(":visible") == false){ normal_div(); }
          reset_field();
          prepare_normal($(this).attr("value"),office_address,latlng)
          if($('#li_map').length > 0){
            $("#li_map").remove("*");
            $('#li_streetAddress').remove("*");
          };
        }else{
          $("#mappingdiv").hide();
          if($("#li_streetAddress").is(":visible") == false){ change_div(); }
          reset_field();
          prepare_changes($(this).attr("value"),office_address,latlng)
        };

        var error = <%= !@property.errors['property_type'].blank? %>;
        var action = "<%= params[:action] %>";
        var ptype = "<%= @ptype %>";
        var ptype_value = $("#property_property_type").val();

        var peer_value = '<%= (@detail.has_attribute?('energy_efficiency_rating') ? @detail.energy_efficiency_rating : '') unless @detail.blank? %>';
        var pzone_value = '<%= (@detail.has_attribute?('zoning') ? @detail.zoning : '') unless @detail.blank? %>';
        var psub_cat = $("#business_sale_detail_category").val();

        var country = $(this).val();
        var query = $("#property_suburb").val();
        flexbox(query,country,"");
        if(country == "New Zealand"){
          $("#li_re_suburb").show();
          $("#li_rca_suburb").show();
          $("#li_suburb_desc").show();
          nz_suburb_flexbox("property_re", $("#property_re_suburb").val(),country, "");
          nz_suburb_flexbox("property_rca", $("#property_rca_suburb").val(),country, "");
          $("input[style='width: 550px;']").hide();
        }else{
          $("#li_re_suburb").hide();
          $("#li_rca_suburb").hide();
          $("#li_suburb_desc").hide();
        }
        country_property_type(country,ptype,0,action,ptype_value,peer_value,pzone_value,psub_cat,error);
        country_property_type(country,ptype,2,action,ptype_value,peer_value,pzone_value,psub_cat,error);
        country_property_type(country,ptype,1,action,ptype_value,peer_value,pzone_value,psub_cat,error);
        country_property_type(country,ptype,3,action,ptype_value,peer_value,pzone_value,psub_cat,error);
        if(ptype == "business_sale"){
          country_property_type(country,ptype,4,action,ptype_value,peer_value,pzone_value,psub_cat,error);
        };
        hide_bed_bath(country);
      }));

      if(jQuery('#property_suburb').parent('.fieldWithErrors').length){
        jQuery('#property_suburb_suggest_input').wrap("<div class='fieldWithErrors'></div>");
      }

      jQuery("a.helplink").tooltip({
        bodyHandler: function() {
          return jQuery(this).next(".helplink_info").html();
        },
        showURL: false
      });
    });

    jQuery(function(){
      jQuery("#property_property_type").bind("change",(function(){
        var error = <%= !@property.errors['property_type'].blank? %>;
        var action = "<%= params[:action] %>";
        var ptype = "<%= @ptype %>";
        var ptype_value = $("#property_property_type").val();
        var peer_value = $("#"+ptype+"_detail_energy_efficiency_rating").val();
        var pzone_value = '<%= (@detail.has_attribute?('zoning') ? @detail.zoning : '') unless @detail.blank? %>';
        var psub_cat = $("#business_sale_detail_category").val();
        var country = $(this).val();
        if(ptype == "business_sale"){
          country_property_type(country,ptype,4,action,ptype_value,peer_value,pzone_value,psub_cat,error);
        };
      }));

      if(jQuery('#property_suburb').parent('.fieldWithErrors').length){
        jQuery('#property_suburb_suggest_input').wrap("<div class='fieldWithErrors'></div>");
      }
    });

    jQuery(function(){
      jQuery("#business_sale_detail_category2").bind("change",(function(){
        var error = <%= !@property.errors['property_type'].blank? %>;
        var action = "<%= params[:action] %>";
        var ptype = "<%= @ptype %>";
        var ptype_value = $("#business_sale_detail_category2").val();
        var peer_value = $("#"+ptype+"_detail_energy_efficiency_rating").val();
        var pzone_value = '<%= (@detail.has_attribute?('zoning') ? @detail.zoning : '') unless @detail.blank? %>';
        var psub_cat = $("#business_sale_detail_sub_category2").val();
        var country = $(this).val();
        if(ptype == "business_sale"){
          country_property_type(country,ptype,5,action,ptype_value,peer_value,pzone_value,psub_cat,error);
        };
      }));

      if(jQuery('#property_suburb').parent('.fieldWithErrors').length){
        jQuery('#property_suburb_suggest_input').wrap("<div class='fieldWithErrors'></div>");
      }
    });

    jQuery(function(){
      jQuery("#business_sale_detail_category3").bind("change",(function(){
        var error = <%= !@property.errors['property_type'].blank? %>;
        var action = "<%= params[:action] %>";
        var ptype = "<%= @ptype %>";
        var ptype_value = $("#business_sale_detail_category3").val();
        var peer_value = $("#"+ptype+"_detail_energy_efficiency_rating").val();
        var pzone_value = '<%= (@detail.has_attribute?('zoning') ? @detail.zoning : '') unless @detail.blank? %>';
        var psub_cat = $("#business_sale_detail_sub_category3").val();
        var country = $(this).val();
        if(ptype == "business_sale"){
          country_property_type(country,ptype,6,action,ptype_value,peer_value,pzone_value,psub_cat,error);
        };
      }));

      if(jQuery('#property_suburb').parent('.fieldWithErrors').length){
        jQuery('#property_suburb_suggest_input').wrap("<div class='fieldWithErrors'></div>");
      }
    });

    function property_type_change(){
      var error = <%= !@property.errors['property_type'].blank? %>;
      var action = "<%= params[:action] %>";
      var ptype = "<%= @ptype %>";
      var country = '<%= @property.country %>';
      var ptype_value = $("#property_property_type").val();
      var peer_value = $("#"+ptype+"_detail_energy_efficiency_rating").val();
      var pzone_value = '<%= (@detail.has_attribute?('zoning') ? @detail.zoning : '') unless @detail.blank? %>';
      var psub_cat = $("#business_sale_detail_category").val();
      if(ptype == "business_sale"){
        country_property_type(country,ptype,4,action,ptype_value,peer_value,pzone_value,psub_cat,error);
      };
      hide_bed_bath(country);
    }

    function flexbox(query,country,suburb){
      jQuery("#property_suburb_suggest").flexbox('<%= search_suburbs_path+"?country=" %>'+country,{
        customParameters: {q: query, c: country},
        method: 'post',
        watermark: suburb,
        showArrow: false,
        inputClass: 'single',
        resultTemplate:'{name}, {town} {id} {post}',
        hiddenValue: 'post',
        additionValue: 'id',
        townValue: 'town',
        minChars: 3,
        width:550,
        maxVisibleRows: 10,
        queryDelay: 300,
        paging:false,
        containerClass:'ffbContainer',
        highlightMatches: true,
        onSelect: function(){
          jQuery("#property_state").val(this.getAttribute("additionValue"));
          jQuery("#property_town_village").val(this.getAttribute("townValue"));
          jQuery("#property_zipcode").val(this.getAttribute("hiddenValue"));
          jQuery("#property_suburb").val(this.getAttribute('val'));

          jQuery("#lb_state").text($("#property_state").val());
          jQuery("#lb_town_village").text($("#property_town_village").val());
          jQuery("#lb_zip_code").text($("#property_zipcode").val());
          $("a#submit_geocode").click();
        }
      });
      jQuery("#property_suburb_suggest_input").removeAttr("style");
    };

    function nz_suburb_flexbox(div_id, query,country,suburb){
      var type = '';
      if(div_id+"_suburb" == "property_re_suburb"){
        type = "realestate"
      }else{
        type = "realcommercial"
      }

      jQuery("#"+div_id+"_suburb_suggest").flexbox('<%= search_suburbs_path+"?type=" %>'+type,{
        customParameters: {q: query, c: country},
        method: 'post',
        watermark: suburb,
        showArrow: false,
        inputClass: 'single',
        resultTemplate:'{name}, {town} {id} {post}',
        hiddenValue: 'post',
        additionValue: 'id',
        townValue: 'town',
        minChars: 3,
        width:550,
        maxVisibleRows: 10,
        queryDelay: 300,
        paging:false,
        containerClass:'ffbContainer',
        highlightMatches: true,
        onSelect: function(){
          jQuery("#"+div_id+"_suburb").val(this.getAttribute('val'));
          jQuery("#"+div_id+"_state").val(this.getAttribute("additionValue"));
          jQuery("#"+div_id+"_postcode").val(this.getAttribute("hiddenValue"));
        }
      });
      jQuery("#"+div_id+"_suburb_suggest_input").removeAttr("style");
    };

    function country_property_type(country,ptype,type,action,ptype_value,peer_value,pzone_value,psub_cat,error){
      if(type == 0){
        var base_ptype = $("#auto_ptype");
        var controller = "<%= search_ptype_country_property_types_path %>";
        $.ajax({
          type: "GET",
          url: escape(controller),
          data:"country="+country+"&ptype="+ptype,
          dataType:"JSON",
          beforeSend:function(){
            if (type != 5 && type != 6)
            {$("#property_property_type").attr("disabled","disabled");}
            if (type == 5)
            {$("#business_sale_detail_category2").attr("disabled","disabled");}
            if (type == 6)
            {$("#business_sale_detail_category3").attr("disabled","disabled");}
            if(ptype == "commercial"){
              $("#commercial_detail_property_type2").attr("disabled","disabled");
              $("#commercial_detail_property_type3").attr("disabled","disabled");
            }
          },
          success: function(jsonResponse){
            var eval_json = eval(jsonResponse);
            var option = "";
            if(ptype == "commercial"){
              var option2 = "";
              var option3 = "";
              var ptype_value2 = "<%=  @detail.try.property_type2 %>";
              var ptype_value3 = "<%=  @detail.try.property_type3 %>";
            }
            if(eval_json == ""){
              if(country == ""){
                option = "<option value =''>Please select a country</option>";
                if(ptype == "commercial"){
                  option2 = "<option value =''>Please select a country</option>";
                  option3 = "<option value =''>Please select a country</option>";
                }
              }else{
                option = "<option value =''>Please select</option>";
                if(ptype == "commercial"){
                  option2 = "<option value =''>Please select</option>";
                  option3 = "<option value =''>Please select</option>";
                }
              };
            }else{
              option = "<option value =''>Please select</option>";
              if(ptype == "commercial"){
                option2 = "<option value =''>Please select</option>";
                option3 = "<option value =''>Please select</option>";
              }
              for(var i=0;i < eval_json.length;i++){

                var to_string = new String("'"+eval_json[i]+"'");
                var sel1 = "";
                var sel2 = "";
                var sel3 = "";

                if(ptype_value == eval_json[i]){
                  sel1 = "selected";
                };
                if(ptype == "commercial"){
                  if(ptype_value2 == eval_json[i]){
                    sel2 = "selected";
                  };
                  if(ptype_value3 == eval_json[i]){
                    sel3 = "selected";
                  };
                }
                deactivation = '<%= @property.deactivation.present? ? @property.deactivation : "" %>'
                var disabled_dropdown = ' '
                if (deactivation == "true")
                { disabled_dropdown = ' '}
                if (deactivation == "")
                { disabled_dropdown = "disabled=\"disabled\""}

                if((((eval_json[i] == "Land" || eval_json[i] == "Rural" && country == "Australia")) || ((eval_json[i] == "Section") && country == "New Zealand")) && (action =='edit'|| action =='update') && (ptype != "commercial")){
                  option += '<option value ='+to_string+disabled_dropdown+sel1+'>'+eval_json[i]+'</option>';
                  if(ptype == "commercial"){
                    option2 += '<option value ='+to_string+disabled_dropdown+sel2+'>'+eval_json[i]+'</option>';
                    option3 += '<option value ='+to_string+disabled_dropdown+sel3+'>'+eval_json[i]+'</option>';
                  }
                }else{
                  option += '<option value ='+to_string+' '+sel1+'>'+eval_json[i]+'</option>';
                  if(ptype == "commercial"){
                    option2 += '<option value ='+to_string+' '+sel2+'>'+eval_json[i]+'</option>';
                    option3 += '<option value ='+to_string+' '+sel3+'>'+eval_json[i]+'</option>';
                  }
                }
              };
            };
            var html = "<select id='property_property_type' name='property[property_type]' onchange='property_type_change();'>"+option+"</select>";
            base_ptype.empty().append($(html));
            if(ptype == "commercial"){
              $("#auto_ptype2").empty().append($("<select name='commercial_detail[property_type2]' id='commercial_detail_property_type2'>"+option2+"</select>"));
              $("#auto_ptype3").empty().append($("<select name='commercial_detail[property_type3]' id='commercial_detail_property_type3'>"+option3+"</select>"));
            }
          },
          complete:function(){
            if(error){
              $("#property_property_type").wrap("<div class='fieldWithErrors'></div>");
            }
          }
        });
      };
      if(type == 1){
        var base_eer = $("#auto_eer");
        var controller = "<%= search_eer_country_property_types_path %>";
        $.ajax({
          type: "GET",
          url: escape(controller),
          data:"country="+country+"&ptype="+ptype,
          dataType:"JSON",beforeSend:function(){
            $("#"+ptype+"_detail_energy_efficiency_rating").attr("disabled","disabled");
          },
          success: function(jsonResponse){
            var eval_json = eval(jsonResponse);
            var option = "";
            if(eval_json == ""){
              if(country == ""){
                option = "<option value =''>Please select a country</option>";
              }else{
                option = "<option value =''>Please select</option>";
              };
            }else{
              if(peer_value == ''){
                option = "<option value =''>Please select</option>";
              }
              for(i=0;i < eval_json.length;i++){
                if((peer_value == eval_json[i]) && (peer_value != '')){
                  option += '<option value ="'+peer_value+'" selected>'+eval_json[i]+'</option>';
                }else{
                  option += '<option value ="'+eval_json[i]+'" >'+eval_json[i]+'</option>';
                }
              };
            };
            var html = "<select name='"+ptype+"_detail[energy_efficiency_rating]' id='"+ptype+"_detail_energy_efficiency_rating'>"+option+"</select>";
            base_eer.empty().append($(html));
          },complete:function(){
            $("#"+ptype+"_detail_energy_efficiency_rating").attr("disabled","");
          }
        });
      };
      if(type == 2){
        var base_address1 = $("#address1");
        var base_address2 = $("#address2");
        var base_address3 = $("#address3");
        var base_address4 = $("#address4");
        var controller = "<%= search_label_country_property_types_path %>";
        $.ajax({
          type: "GET",
          url: escape(controller),
          data:"country="+country+"&ptype="+ptype,
          dataType:"JSON",
          success: function(jsonResponse){
            var eval_json = eval(jsonResponse);
            if(eval_json != ""){
              base_address1.empty().append(eval_json[0]);
              base_address2.empty().append(eval_json[1]);
              base_address3.empty().append(eval_json[2]);
              base_address4.empty().append(eval_json[3]);
            }else{
              base_address1.empty().append("Suburb:<span class='red_star'>*</span>");
              base_address2.empty().append("Town/Village:<span class='red_star'>*</span>");
              base_address3.empty().append("State:<span class='red_star'>*</span>");
              base_address4.empty().append("Postcode:<span class='red_star'>*</span>");
            };
          }
        });
      };
      if(type==4){
        var base_sub_cat = $("#auto_sub_cat");
        var controller = "<%= sub_categories_agent_office_properties_path(@agent, @office) %>";
        $.ajax({
          type: "POST",
          url: escape(controller),
          data:"category="+$("#property_property_type").val(),
          dataType:"JSON",beforeSend:function(){
            $("#business_sale_detail_category").attr("disabled","disabled");
          },
          success: function(jsonResponse){
            var eval_json = eval(jsonResponse);
            var option = "";
            if(eval_json == ""){
              if(country == ""){
                option = "<option value =''>Please select a Category</option>";
              }else{
                option = "<option value =''>Please select</option>";
              };
            }else{
              option = "<option value =''>Please select</option>";
              for(var i=0;i < eval_json.length;i++){
                var to_string = new String("'"+eval_json[i]+"'");
                if(psub_cat == eval_json[i]){
                  option += '<option value ='+to_string+' selected>'+eval_json[i]+'</option>';
                  continue;
                };
                option += '<option value ='+to_string+'>'+eval_json[i]+'</option>';
              };
            };
            var html = "<select name='business_sale_detail[category]' id='business_sale_detail_category'>"+option+"</select>";
            base_sub_cat.empty().append($(html));
          },complete:function(){
            $("#business_sale_detail_category").attr("disabled","");
          }
        });
      }

      if(type==5){
        var base_sub_cat = $("#auto_sub_cat2");
        var controller = "<%= sub_categories_agent_office_properties_path(@agent, @office) %>";
        $.ajax({
          type: "POST",
          url: escape(controller),
          data:"category="+$("#business_sale_detail_category2").val(),
          dataType:"JSON",beforeSend:function(){
            $("#business_sale_detail_sub_category2").attr("disabled","disabled");
          },
          success: function(jsonResponse){
            var eval_json = eval(jsonResponse);
            var option = "";
            if(eval_json == ""){
              if(country == ""){
                option = "<option value =''>Please select a Category</option>";
              }else{
                option = "<option value =''>Please select</option>";
              };
            }else{
              option = "<option value =''>Please select</option>";
              for(var i=0;i < eval_json.length;i++){
                var to_string = new String("'"+eval_json[i]+"'");
                if(psub_cat == eval_json[i]){
                  option += '<option value ='+to_string+' selected>'+eval_json[i]+'</option>';
                  continue;
                };
                option += '<option value ='+to_string+'>'+eval_json[i]+'</option>';
              };
            };
            var html = "<select name='business_sale_detail[sub_category2]' id='business_sale_detail_sub_category2'>"+option+"</select>";
            base_sub_cat.empty().append($(html));
          },complete:function(){
            $("#business_sale_detail_category2").attr("disabled","");
          }
        });
      }

      if(type==6){
        var base_sub_cat = $("#auto_sub_cat3");
        var controller = "<%= sub_categories_agent_office_properties_path(@agent, @office) %>";
        $.ajax({
          type: "POST",
          url: escape(controller),
          data:"category="+$("#business_sale_detail_category3").val(),
          dataType:"JSON",beforeSend:function(){
            $("#business_sale_detail_sub_category3").attr("disabled","disabled");
          },
          success: function(jsonResponse){
            var eval_json = eval(jsonResponse);
            var option = "";
            if(eval_json == ""){
              if(country == ""){
                option = "<option value =''>Please select a Category</option>";
              }else{
                option = "<option value =''>Please select</option>";
              };
            }else{
              option = "<option value =''>Please select</option>";
              for(var i=0;i < eval_json.length;i++){
                var to_string = new String("'"+eval_json[i]+"'");
                if(psub_cat == eval_json[i]){
                  option += '<option value ='+to_string+' selected>'+eval_json[i]+'</option>';
                  continue;
                };
                option += '<option value ='+to_string+'>'+eval_json[i]+'</option>';
              };
            };
            var html = "<select name='business_sale_detail[sub_category3]' id='business_sale_detail_sub_category3'>"+option+"</select>";
            base_sub_cat.empty().append($(html));
          },complete:function(){
            $("#business_sale_detail_category3").attr("disabled","");
          }
        });
      }
      return false
    };
    function change_map(country,zoom){
      var controller = "<%= geosearch_in_country_property_types_path %>";
      $.ajax({
        type:"GET",
        url:escape(controller),
        data:"id="+country,
        success:function(jsonResponse){
          var eval_json = eval(jsonResponse);
          var latlng = new Array(3);
          latlng[0]=eval_json[0];
          latlng[1]=eval_json[1];
          var accuracy = eval_json[2];
          if(zoom){
            accuracy = accuracy + 7;
          }else{
            accuracy = accuracy + 3;
          };
          init_map(latlng, accuracy);
          if (eval_json[3] == 1)
          {
            set_map();
          }
        }
      });
    };
    function hide_bed_bath(country){
      if((($("#property_property_type").val() == "Land" ) && ($("#property_country").val() == "Australia" || country == "Australia"))|| ($("#property_property_type").val() == "Section" && ($("#property_country").val() == "New Zealand" || country == "New Zealand"))){
        $(".bed1").hide();
        $(".bath1").hide();
        $(".bed2").show();
        $(".bath2").show();
      }else{
        $(".bed1").show();
        $(".bath1").show();
        $(".bed2").hide();
        $(".bath2").hide();
      };
    }
  </script>
<% end %>
<div id="propertyaddressdiv" class="group">
  <div class="set">
    <h6 class="full">Property Address <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Property Address"] %></span></small></h6>
    <fieldset class="pf_fs5">
      <ul class="pf-ul" id="address_container">
        <li class="li--15 required" id="li_country"><label><span>Country:<span class="red_star">*</span></span></label>
          <% if @property.new_record? %>
            <%= select_tag "property[country]", options_for_select(@countries, @property.country || @country.name)%>
          <% else %>
            <%= form.select :country, @countries, :class => 'select_box' %>
          <% end %>
          <div id="country_loading" ><%= image_tag "/images/ajax-loader.gif" %></div>
        </li>
        <!-- TODO: check whether it's possible to do this for all country later -->
        <!-- NOTE TO DEVELOPER: See the Zip Code field on this site: https://wwws.mint.com/login.event?task=S. We would like the same functionality here, but the city, state, suburb or whatever is populated in the fields below. You should not be able to type in those fields. I will style the fields so it appears they are not input boxes. -->
        <li class="li--16 required" id="li_suburb"><label><span><div id="address1">Suburb:<span class="red_star">*</span></div></span></label>
          <div id="property_suburb_suggest"></div>
          <%= form.text_field :suburb, :class => 'single' , :style => 'display:none' %>
        </li>
        <li class="li--17 required" id="li_town"><label><span><div id="address2">Town/Village:<span class="red_star">*</span></div></span></label>
          <%= label_tag "lb_town_village", "", :id =>"lb_town_village" %>
          <%= form.text_field :town_village, :class => 'single' , :style => 'display:none' %>
        </li>
        <li class="li--18 required" id="li_state"><label><span><div id="address3">State:<span class="red_star">*</span></div></span></label>
          <%= label_tag "lb_state", "", :id =>"lb_state"  %>
          <%= form.text_field :state, :class => 'single' , :style => 'display:none'  %>
        </li>
        <li class="li--19 required" id="li_postCode"><label><span><div id="address4">Postcode:<span class="red_star">*</span></div></span></label>
          <%= label_tag "lb_zip_code", "", :id =>"lb_zip_code"  %>
          <%= form.text_field :zipcode, :class => 'single' , :style => 'display:none'%>
          <%= form.text_field :street, :class => 'single', :style => 'display:none;' %>
          <%= form.hidden_field :latitude, :class => 'single' %>
          <%= form.hidden_field :longitude, :class => 'single' %>
        </li>
        <% if params[:action] == "commercial_building" %>
          <li class="li--21" id="li_streetNo"><label><span>Street Number:</span></label>
          <%else%>
          <li class="li--21 required" id="li_streetNo"><label><span>Street Number:<span class="red_star">*</span></span></label>
          <%end%>
          <%= form.text_field :street_number, :class => 'single' %>
        </li>
        <% if params[:action] == "commercial_building" %>
          <li class="li--22" id="li_streetType"><label><span>Street Name/Type:</span></label>
        <%else%>
          <li class="li--22 required" id="li_streetType"><label><span>Street Name/Type:<span class="red_star">*</span></span></label>
          <%end%>
          <%= form.text_field :street, :class => 'single' %>
          <%= form.hidden_field :latitude, :class => 'single' %>
          <%= form.hidden_field :longitude, :class => 'single' %>
        </li>
        <li class="li--23" id="li_displayAddress"><label><span>Display Address:</span></label>
          <%= form.radio_button :display_address, 1 %> All Address &nbsp;
          <%= form.radio_button :display_address, 0 %> Suburb Only
          <% if (params[:action] == 'commercial' || @ptype == 'commercial') || (params[:action] == 'business_sale' || @ptype == 'business_sale') -%>
            &nbsp;<%= form.radio_button :display_address, 2 %> No Address &nbsp;
          <% end -%>
        </li>
        <li class="li--16" id="li_suburb_desc" style="display:none;">
          <b>Suburbs to be listed for other sites (if blank above suburb will be sent)</b>
        </li>
        <li class="li--16" id="li_re_suburb" style="display:none;"><label><span>Realestate.co.nz:</span></label>
          <div id="property_re_suburb_suggest"></div>
          <%= form.text_field :re_suburb, :class => 'single' , :style => 'display:none' %>
          <%= form.hidden_field :re_state, :class => 'single' %>
          <%= form.hidden_field :re_postcode, :class => 'single' %>
        </li>
        <li class="li--16" id="li_rca_suburb" style="display:none;"><label><span>Realcommercial.co.nz:</span></label>
          <div id="property_rca_suburb_suggest"></div>
          <%= form.text_field :rca_suburb, :class => 'single' , :style => 'display:none' %>
          <%= form.hidden_field :rca_state, :class => 'single' %>
          <%= form.hidden_field :rca_postcode, :class => 'single' %>
        </li>
      </ul>
    </fieldset>
  </div>
</div> <!-- end #propertyaddressdiv GROUP -->

