<div id="vtlinksfilesdiv" class="group">
  <div id="virtualtourdiv" class="set">
    <h6 class="full">External Links</h6>
    <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a>
    <span class="helplink_info" style="display:none"><%= @help_data["Attachments"] %></span></small>
    <fieldset class="pf_fs13">
    <ul class="pf-ul">
      <li class="li--46">
        <label><span>Property URL: &nbsp;</span></label>
        <% if @office.property_url %>
          <%= detail.text_field :property_url, :class => 'single', :value => @office.url.blank? ? none_url("#{@office.url}") : none_url("#{@office.url}/#{@property.id}") %>
        <%else%>
          <%= detail.text_field :property_url, :class => 'single', :value => none_url("#{@detail.property_url}") %>
        <%end%>
      </li>
      <% if params[:action] == 'commercial' || @ptype == 'commercial' -%>
      <li class="li--46">
        <label><span>Virtual Tour 1:</span></label>
        <%= detail.text_field :virtual_tour, :class => 'single' %>
      </li>
      <li class="li--46">
        <label><span>Virtual Tour 2:</span></label>
        <%= detail.text_field :virtual_tour2, :class => 'single' %>
      </li>
      <li class="li--46">
        <label><span>Virtual Tour 3:</span></label>
        <%= detail.text_field :virtual_tour3, :class => 'single' %>
      </li>
      <li class="li--46">
        <label><span>Miniwebs 1:</span></label>
        <%= detail.text_field :ext_link_1, :class => 'single' %>
      </li>
      <li class="li--46">
        <label><span>Miniwebs 2:</span></label>
        <%= detail.text_field :ext_link_2, :class => 'single' %>
      </li>
      <li class="li--46">
        <label><span>Miniwebs 3:</span></label>
        <%= detail.text_field :ext_link_3, :class => 'single' %>
      </li>
      <li class="li--46">
        <label><span>Video URL:</span></label>
        <%= detail.text_field :video_url, :class => 'single' %>
      </li>
      <% else -%>
      <li class="li--46">
        <label><span>Virtual Tour 1:</span></label>
        <%= detail.text_field :virtual_tour, :class => 'single' %>
      </li>
      <li class="li--46">
        <label><span>Virtual Tour 2:</span></label>
        <%= detail.text_field :ext_link_1, :class => 'single' %>
      </li>
      <li class="li--46">
        <label><span>Video URL:</span></label>
        <%= detail.text_field :ext_link_2, :class => 'single' %>
      </li>
      <% end -%>
    </ul>
    </fieldset>
  </div>
  <div class="clearer"></div>
</div>
