<% content_for :head do %>
  <%= javascript_include_tag 'jquery.utils', 'jquery.strings', 'ui/ui.dropslide', 'ui/ui.timepickr' %>
  <%= stylesheet_link_tag 'ui.core', 'ui.timepickr' %>
  <script type="text/javascript">
    $(function(){
      $('#auction_date').datepicker({dateFormat:'dd/mm/yy'});
      $('#auction_time').timepickr({convention:24});
    });
  </script>
<% end %>
<div id="auctiondatetimediv" class="set full">
  <h6 class="full">
    <% if params[:action] == 'commercial' || @ptype == 'commercial' -%>
      Event Date &amp; Time 
    <% else %>
      Auction Date &amp; Time 
    <% end %>
    <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Auction Date"] %></span></small></h6>
  <fieldset class="pf_fs10">
    <table class="pf-table">
      <% if params[:action] == 'commercial' || @ptype == 'commercial' -%>
        <%= detail.hidden_field :forthcoming_auction, :value => true %>
      <% else %>
        <tr class="li--38">
          <th class="first_cell field first_tab">
              <label><span>Forthcoming Auction:</span></label>
          </th>
          <td class="value" colspan="3">
            <%= detail.check_box :forthcoming_auction %>
          </td>
        </tr>
      <% end %>
      <tr class="li--39">
          <% if params[:action] == 'commercial' || @ptype == 'commercial' -%>
            <th class="first_cell field first_tab">
            <label><span>Event Place:</span></label>
          <% else %>
            <th class="first_cell field">
            <label><span>Auction Place:</span></label>
          <% end %>
        </th>
        <td class="value" colspan="3">
          <%= detail.text_field :auction_place, :class => 'single', :style=>"width:91%;", :maxlength => 40 %>
        </td>
      </tr>
      <tr>
        <th class="first_cell field">
          <% if params[:action] == 'commercial' || @ptype == 'commercial' -%>
            Event Date:
          <% else %>
            Auction Date:
          <% end %>
        </th>
        <td class="value" colspan="3">
          <%= detail.text_field :auction_date, :id => "auction_date", :class => 'single', :style=>"width:44%;", :size => '13', :value => (( @property.detail.auction_date.blank? ? "" : @property.detail.auction_date.strftime("%d/%m/%Y") ) unless @property.detail.blank?) %>
        </td>
      </tr>
      <tr>
        <th class="first_cell field">
          <% if params[:action] == 'commercial' || @ptype == 'commercial' -%>
            Event Time:
          <% else %>
            Auction Time: 
          <% end %>
        </th>
        <td class="value" colspan="3">
          <%= select_tag 'auction_hour', options_for_select(@auction_hours, (@property.detail.auction_time.blank? ? "-" : change_time_to_hour(@property.detail.auction_time))), {:style => "width:22%;"} %> :
          <%= select_tag 'auction_min', options_for_select(@auction_mins, (@property.detail.auction_time.blank? ? "-" : change_time_to_min(@property.detail.auction_time))), {:style => "width:21%;"} %>
        </td>
      </tr>
    </table>
  </fieldset>
</div> <!-- end #auctionpricediv SET -->
