<div id="buildingareasdiv" class="group">
  <div class="set">
    <h6 class="full">Building Areas <small>Whole Numbers Only</small> <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Building Area"] %></span></small></h6>
    <fieldset class="pf_fs6">
      <table class="pf-table">
        <tr class="li--65">
          <th class="first_cell field" style="width:35%"><label><span>Total Land Area: <!-- [<a href="#" title="">calculator</a>] --></span></label></th>
          <td class="value" colspan="3">
          <%= detail.text_field :land_area, :class => 'single', :style=>"width:60%;", :onkeypress => "return isDesimalKey(event)" %>
          <% if @property.new_record? %>
            <%= select_tag 'business_sale_detail[land_area_metric]', options_for_select(@land_area_metrics,@detail.land_area_metric) %>
          <%else %>
            <%= detail.select :land_area_metric, @land_area_metrics,{:selected =>@detail.land_area_metric} %>
          <%end %>
          </td>
        </tr>
        <tr class="li--66">
          <th class="first_cell field"><label><span>Total Floor Area: <!-- [<a href="#" title="">calculator</a>] --></span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :floor_area, :class => 'single', :style=>"width:60%;", :onkeypress => "return isDesimalKey(event)" %>
            <% if @property.new_record? %>
              <%= select_tag 'business_sale_detail[floor_area_metric]', options_for_select(@floor_area_metrics,@detail.floor_area_metric) %>
            <%else %>
              <%= detail.select :floor_area_metric, @floor_area_metrics, {:selected =>@detail.floor_area_metric} %>
            <%end %>
          </td>
        </tr>
        <tr class="li--67">
          <th class="first_cell field"><label><span>Patron capacity: </span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :patron_capacity, :class => 'single inputfull-9' %>
          </td>
        </tr>
        <tr class="li--68">
          <th class="first_cell field"><label><span>Parking Spaces: </span></label></th>
          <td class="value">
            <%= detail.select :parking_spaces, @range, {}, :class => "selectfull-9" %>
          </td>
        </tr>
        <tr>
          <th class="first_cell field"><label><span>Parking Comments:</span></label></th>
          <td><%= detail.text_field :parking_comments, :class => 'single inputfull-9' %></td>
        </tr>
      </table>
    </fieldset>
  </div>
</div><!-- end #buildingareasdiv GROUP -->
