<div id="staffdiv" class="group">
  <div class="set">
    <h6 class="full">Staff Numbers<small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Staff Numbers"] %></span></small></h6>
    <fieldset class="pf_fs8">
      <ul class="pf-ul">
        <li class="li--68"><label><span>Full Time: </span></label>
          <%= detail.text_field :staff_full_time, :class => 'single' %>
        </li>
        <li class="li--68"><label><span>Part Time: </span></label>
          <%= detail.text_field :staff_part_time, :class => 'single'  %>
        </li>
        <li class="li--68"><label><span>Casual: </span></label>
          <%= detail.text_field :staff_casual, :class => 'single'  %>
        </li>
      </ul>
    </fieldset>
  </div>
</div><!-- end #staffdiv GROUP -->
