<div id="premisediv" class="group">
  <div class="set">
    <h6 class="full">Premise <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Premise"] %></span></small></h6>
    <fieldset class="pf_fs6">
      <table class="pf-table">
        <tr class="li--65">
          <th class="first_cell field first_tab"><label><span>Premise: </span></label></th>
          <td class="value" colspan="3"><%= detail.select :premise, @presimes %></td>
        </tr>
        <tr class="li--65">
          <th class="first_cell field"><label><span>Lease Commencement: </span></label></th>
          <td class="value" colspan="3"><%= detail.text_field :lease_commencement, :class => 'single inputbuild', :value => (( @property.detail.lease_commencement.blank? ? "" : @property.detail.lease_commencement.strftime("%d/%m/%Y") ) unless @property.detail.blank?) %></td>
        </tr>
        <tr class="li--65">
          <th class="first_cell field"><label><span>Lease End: </span></label></th>
          <td class="value" colspan="3"><%= detail.text_field :lease_end, :class => 'single inputbuild', :value => (( @property.detail.lease_end.blank? ? "" : @property.detail.lease_end.strftime("%d/%m/%Y") ) unless @property.detail.blank?) %></td>
        </tr>
        <tr class="li--65">
          <th class="first_cell field"><label><span>Option: </span></label></th>
          <td class="value" colspan="3"><%= detail.select :lease_option, @lease_years %></td>
        </tr>
        <tr class="li--65">
          <th class="first_cell field"><label><span>Plus another: </span></label></th>
          <td class="value" colspan="3"><%= detail.select :lease_plus_another, @lease_years %></td>
        </tr>
        <tr class="li--65">
          <th class="first_cell field"><label><span>Current rent pa: </span></label></th>
          <td class="value" colspan="3"><%= detail.text_field :current_rent, :class => 'single inputbuild' %></td>
        </tr>
        <tr class="li--65">
          <th class="first_cell field"><label><span>Include tax: </span></label></th>
          <td class="value" colspan="3"><%= detail.check_box :current_rent_include_tax %></td>
        </tr>
        <tr class="li--65">
          <th class="first_cell field"><label><span>Current outgoings pa: </span></label></th>
          <td class="value" colspan="3"><%= detail.text_field :current_outgoings, :class => 'single inputbuild' %></td>
        </tr>
        <tr class="li--65">
          <th class="first_cell field"><label><span>Include tax: </span></label></th>
          <td class="value" colspan="3"><%= detail.check_box :current_outgoings_include_tax %></td>
        </tr>
      </table>
    </fieldset>
  </div>
</div><!-- end #premisediv GROUP -->

<% javascript_tag do %>

  $(window).load(function () {
  $('#business_sale_detail_lease_commencement').datepicker({dateFormat:'dd/mm/yy'});
  $('#business_sale_detail_lease_end').datepicker({dateFormat:'dd/mm/yy'});
  });

<% end %>
