<div id="financialsdiv" class="group">
  <div class="set">
    <h6 class="full">Financials <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Financials"] %></span></small></h6>
    <fieldset class="pf_fs8">
      <ul class="pf-ul">
        <li class="li--68"><label><span>Annual Turnover: </span></label>
          <%= detail.text_field :annual_turnover, :class => 'single fldrequired' %>
        </li>
        <li class="li--68"><label><span>Annual Gross Profit: </span></label>
          <%= detail.text_field :annual_gross_profit, :class => 'single fldrequired' %>
        </li>
        <li class="li--68"><label><span>Annual EBIT: </span></label>
          <%= detail.text_field :annual_ebit, :class => 'single fldrequired' %>
        </li>
      </ul>
    </fieldset>
  </div>
</div><!-- end #financialsdiv GROUP -->
