<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">Property Data <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Property Data"] %></span></small></h6>
    <fieldset class="pf_fs1">
      <ul class="pf-ul">
        <li class="li--1 required">
          <label><span>Category:<span class="red_star">*</span></span></label>
          <%= form.select :property_type, @ptypes %>
        </li>
        <li class="li--1 required">
          <label><span>Sub-Category:<span class="red_star">*</span></span></label>
          <div id="auto_sub_cat"><%= detail.select :category, @ptypes %></div>
        </li>
        <li class="li--1">
          <label><span>Category2:</span></label>
          <%= detail.select :category2, @ptypes %>
        </li>
        <li class="li--1">
          <label><span>Sub-Category2:</span></label>
          <div id="auto_sub_cat2"><%= detail.select :sub_category2, @ptypes %></div>
        </li>
        <li class="li--1">
          <label><span>Category3:</span></label>
          <%= detail.select :category3, @ptypes %>
        </li>
        <li class="li--1">
          <label><span>Sub-Category3:</label>
          <div id="auto_sub_cat3"><%= detail.select :sub_category3, @ptypes %></div>
        </li>
        <li class="li--2">
          <label><span>Unique Property ID#:</span></label>
          <%= form.text_field :property_id, :class => 'single fldrequired' %>
        </li>
        <li class="li--3">
          <label><span>Business Name:</span></label>
          <%= detail.text_field :business_name, :class => 'single' %>
        </li>
        <li class="li--3 required">
          <label><span>Business Headline:<span class="red_star">*</span></span></label>
          <%= form.text_field :headline, :class => 'single' %>
        </li>
        <li class="li--4 required">
          <label><span>Business Description:<span class="red_star">*</span></span></label>
          <%= form.text_area :description, :rows => '8', :cols => '17', :class => 'area' %>
          <div style="clear:both;"></div>
          <div style="float:right;margin-right:25px;">
           <span  id="aspell"><a href="javascript:spellcheck()" name="spell" style="text-decoration:none;" ><%= image_tag "/images/spellcheck.png" %> Check Spelling</a></span>
           <span class="loading"><%= image_tag "/images/ajax-loader.gif" %></span>
          </div>
          <div style="clear:both;"></div>
        </li>
        <li class="li--4">
          <label><span>Additional Notes:</span></label>
          <%= detail.text_area :additional_notes, :rows => '5', :cols => '17', :class => 'area' %>
        </li>
        <li class="li--5">
          <label><span>Year Established:</span></label>
          <%= detail.text_field :year_built, :class => 'single' %>
        </li>
      </ul>
    </fieldset>
  </div>
</div><!-- end #propertydatadiv GROUP -->
<script type="text/javascript">
  $(document).ready(function(){ $(".loading").hide();});
  // check the spelling on a textarea
  function spellcheck(){
    $(".loading").show();
    $("#aspell").hide();
    $("#property_description")
    .spellchecker({
            lang: "en",
            engine: "google",
            suggestBoxPosition: "above"
    })
    .spellchecker("check", function(result){
            // if result is true then there are no badly spelt words
            $(".loading").hide();
            $("#aspell").show();
            if (result) {
              alert('There are no incorrectly spelt words.');
            }
    });
  }
</script>