<div id="campaignsummarydiv" class="group">
  <div class="set">
    <h6 class="full">
      Campaign Summary 
      <small class="formgrouplinks">
        <span id="add_new_campaign_button" style='<%= "display:hidden" unless @property.current_campaign %>'>
          <%= link_to_function 'Add New', "addNewCampaign('#{ agent_office_property_campaigns_path(@agent, @office, @property) }')" %> |
        </span>
        <a href="#" title="Help" class="helplink"> <img src="/images/question.gif" alt="question" /></a>
        <span class="helplink_info" style="display:none"><%= @help_data["Campaign Summary"] %></span>
    </small>
  </h6>
    <table class="campaign-summary" cellspacing="0" cellpadding="0" id="campaign_summary">
      <% unless @property.current_campaign.blank? %>
        <tr id="campaign_<%= @property.current_campaign.id %>">
          <td class="first_cell field"><%= link_to @property.current_campaign.id, edit_agent_office_property_campaign_path(@agent, @office, @property, @property.current_campaign) %></td><!-- sample property id -->
          <td class="value">Current Campaign</td>
          <td class="value">Start: <%= @property.current_campaign.start_date.strftime("%d %B %Y") %></td>
          <td class="value">End: </td>
          <td class="value"><a href="#" title="">View</a> | <a href="#" title="" class="delete_btn" onclick="destroyWithAjax('<%=  agent_office_property_campaign_path(@agent, @office, @property, @property.current_campaign) %>'); return false;" ><img src="/images/delete.gif" alt="delete" /></a></td>
        </tr>
      <% end %>
      <% unless @property.campaigns.blank? %>
      <% @property.campaigns.each_with_index do |campaign, i| %>
        <tr class='<%= cycle("alt", "") %>' id="camapaign_<%= campaign.id %>">
          <td class="first_cell field"><%=  link_to campaign.id, edit_agent_office_property_campaign_path(@agent, @office, @property, campaign) %></td><!-- sample property id -->
          <td class="value">Campaign <%= @property.campaigns.length - i %></td>
          <td class="value">Start: <%= campaign.start_date.strftime("%d %B %Y") %></td>
          <td class="value">End: <%= campaign.end_date.strftime("%d %B %Y") %></td>
          <td class="value"><a href="#" title="">View</a> | <a href="#" title="" class="delete_btn" onclick="destroyWithAjax('<%=  agent_office_property_campaign_path(@agent, @office, @property, campaign) %>'); return false;"><img src="/images/delete.gif" alt="delete" /></a></td>
        </tr>
      <% end %>
      <% end %>
    </table>
  </div><!-- end SET -->
</div><!-- end #campaignsummarydiv GROUP -->
