<% content_for :head do %>
  <%= javascript_include_tag 'jquery.utils', 'jquery.strings', 'ui/ui.dropslide', 'ui/ui.timepickr' %>
  <%= stylesheet_link_tag 'ui.core', 'ui.timepickr' %>
  <script type="text/javascript">
    $(function(){
      $('#date input').datepicker({dateFormat:'dd/mm/yy'});
    });
  </script>
<% end %>

<li class="li--3">
  <label><span>Unique ID#:</span></label>
  <%= form.text_field :property_id, :class => 'single fldrequired' %>
</li>

<li class="li--5">
  <label><span>Headline:</span></label>
  <%= form.text_field :headline, :class => 'single fldrequired', :maxlength => 150 %>
</li>

<li class="li--6">
  <label><span>Description:</span></label>

  <%= form.text_area :description, :rows => 8, :cols => 17, :class => 'area', :maxlength => 65535 %>

  <div style="clear:both;"></div>

  <div style="float:right;margin-right:25px;">
   <span  id="aspell"><a href="javascript:void(0)" name="spell" style="text-decoration:none;" ><%= image_tag "/images/spellcheck.png" %> Check Spelling</a></span>
   <span class="loading"><%= image_tag "/images/ajax-loader.gif" %></span>
  </div>

  <div style="clear:both;"></div>
</li>

<li class="li--3">
  <label><span>Lot Number:</span></label>
  <%= detail.text_field :lot_number, :class => 'single fldrequired'%>
</li>

<li class="li--6">
  <label><span>Condition:</span></label>

  <%= detail.text_area :condition, :rows => 8, :cols => 17, :class => 'area', :maxlength => 65535 %>

  <div style="clear:both;"></div>

  <div style="float:right;margin-right:25px;">
   <span  id="aspell"><a href="javascript:void(0)" name="spell" style="text-decoration:none;" ><%= image_tag "/images/spellcheck.png" %> Check Spelling</a></span>
   <span class="loading"><%= image_tag "/images/ajax-loader.gif" %></span>
  </div>

  <div style="clear:both;"></div>
</li>

<script type="text/javascript">
  $(document).ready(function(){
    $(".loading").hide();

    $("#aspell a").click(spellcheckText());
  });

  function spellcheckText() {
    return function() {
      var liParent = $(this).closest('li');

      liParent.find(".loading").show();
      liParent.find("#aspell").hide();

      liParent.find('textarea').spellchecker({
        lang: "en",
        engine: "google",
        suggestBoxPosition: "above"
      }).spellchecker("check", function(result){
        liParent.find(".loading").hide();
        liParent.find("#aspell").show();
        if (result) {
          alert('There are no incorrectly spelt words.');
        }
      });
    }
  }

  function spellcheck(){
    $(".loading").show();
    $("#aspell").hide();
    $("#property_description").spellchecker({
      lang: "en",
      engine: "google",
      suggestBoxPosition: "above"
    }).spellchecker("check", function(result){
      $(".loading").hide();
      $("#aspell").show();
      if (result) {
        alert('There are no incorrectly spelt words.');
      }
    });
  }
</script>
