<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">Building Details <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Resale: Property Data"] %></span></small></h6>
    <fieldset class="pf_fs1">
      <ul class="pf-ul">
        <% if params[:action] == "commercial_building" || @property.to_s == "CommercialBuilding" %>
          <li class="li--5">
            <label><span>Building Name:</span></label>
        <%else%>
          <li class="li--5">
            <label><span>Building Name:</span></label>
          <%end%>
          <%= detail.text_field :building_name, :class => 'single' %>
        </li>
        <li class="li--5">
          <label><span>Building Website:</span></label>
          <%= detail.text_field :building_website, :class => 'single' %>
        </li>
        <li class="li--5">
          <label><span>Building Type:</span></label>
          <%= form.select :property_type, @ptypes %>
        </li>
        <% if params[:action] == "commercial" || @property.type.to_s == "Commercial" %>
          <li class="li--5">
            <label><span>Zoning:</span></label>
            <%=  detail.text_field :zoning, :class => 'single' %>
          </li>
        <%end%>
        <li class="li--5">
          <label><span>Headline:</span></label>
          <%= form.text_field :headline, :class => 'single fldrequired' %>
        </li>
        <li class="li--6">
          <label><span>Description:</span></label>
          <%= form.text_area :description, :rows => 8, :cols => 17, :class => 'area' %>
          <div style="clear:both;"></div>
          <div style="float:right;margin-right:25px;">
            <span  id="aspell"><a href="javascript:spellcheck()" name="spell" style="text-decoration:none;" ><%= image_tag "/images/spellcheck.png" %> Check Spelling</a></span>
            <span class="loading"><%= image_tag "/images/ajax-loader.gif" %></span>
          </div>
          <div style="clear:both;"></div>
        </li>
        <li class="li--5">
          <label><span>Distance from CBD:</span></label>
          <%= detail.text_field :distance, :class => 'single' %>
        </li>
        <li class="li--5">
          <label><span>Year Built:</span></label>
          <%= detail.text_field :year_built, :class => 'single', :onkeypress => "return isNumberKey(event)", :maxlength => "4" %>
        </li>
        <li class="li--5">
          <label><span>Capital Growth:</span></label>
          <%=  detail.text_field :capital_growth, :class => 'single' %>
        </li>
        <li class="li--5">
          <label><span>Rental Yield:</span></label>
          <%= detail.text_field :rental_yield, :class => 'single' %>
        </li>
      </ul>
    </fieldset>
  </div>
</div><!-- end #propertydatadiv GROUP -->
<script type="text/javascript">
  $(function(){
    $(".datepicker").datepicker({
      dateFormat: 'dd/mm/yy'
    });
    $(".loading").hide();
  });

  // check the spelling on a textarea
  function spellcheck(){
    $(".loading").show();
    $("#aspell").hide();
    $("#property_description")
    .spellchecker({
      lang: "en",
      engine: "google",
      suggestBoxPosition: "above"
    })
    .spellchecker("check", function(result){
      // if result is true then there are no badly spelt words
      $(".loading").hide();
      $("#aspell").show();
      if (result) {
        alert('There are no incorrectly spelt words.');
      }
    });
  }
</script>