<% content_for :head do %>
  <script type="text/javascript">
    $(function(){
      $('.datepicker').datepicker({
        dateFormat: 'dd/mm/yy'
      });
    });
  </script>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    change_price_value($("#property_deal_type").val());
  });
  $("#property_deal_type").change(function(){
    change_price_value(this.value);
  });

  function change_price_value(id){
    if (id == "Lease"){
      if($("#property_price_per").length > 1){
        $("#property_price_per").remove();
      }
      $("#lb_date_available").text("").html("<b>Date Available: </b>").attr("class","lb_date_available");
      var options = "";
      var price_period = '<%= @property.price_per%>';
      var period = ['Monthly','Weekly','Quarterly','Yearly'];
      $.each(period,function(index, period){
        if(index == parseInt(price_period)){
          options += "<option value='"+index+"' selected>"+period+"</option>"
        }
        else {
          options += "<option value='"+index+"'>"+period+"</option>"
        };
      });
      $("<select id='property_price_per' name='property[price_per]' class='property_price_per'>"+options+"</select>").appendTo($("#auto"))
    }else{
      if($("#property_price_per").hasClass("property_price_per")){
        $("#lb_date_available").text("Date Available: ");
      }
      $("#property_price_per").remove();
      if(id == 'Both'){
        $("#lb_date_available").text("").html("<b>Date Available: </b>").attr("class","lb_date_available");
      };
    }
    $('#commercial_detail_date_available').datepicker({dateFormat:'yy-mm-dd'});
  };
</script>
<div id="pricingrentaldisplaydiv" class="group">
  <h6 class="full">Pricing</h6>
  <div id="pricingdiv" class="set full" style="<%= 'display:none' if @property.deal_type == 'Lease' %>">
    <% if params[:action] == "commercial" || @property.type.to_s == "Commercial" %>
    <h6 class="full">Sale Details <i>(<span class="red_star">*</span>if Sale)</i></h6>
    <%else%>
    <h6 class="full">Sale Details <i>(if Sale)</i></h6>
    <%end%>
    <fieldset class="pf_fs10">
      <table class="pf-table">
        <tr class="li--39">
          <th class="first_cell field"><label><span>Sale Price: </span></label></th>
          <td class="value" colspan="3"><%= form.text_field :price, :class => 'single halfinput', :onkeypress => "return isNumberKey(event)" %></td>
        </tr>
        <tr class="li--39">
          <% if params[:action] == "commercial_building" || @property.type.to_s == "CommercialBuilding" %>
            <th class="first_cell field"><label><span>Tax:</span></label></th>
          <%else%>
            <th class="first_cell field"><label><span>Tax:<span class="red_star">*</span> </span></label></th>
          <%end%>
          <td class="value" colspan="3">
            <%= detail.radio_button :price_include_tax, 2, {:checked => (true if @detail.price_include_tax == 2)}%> Exclusive
            <%= detail.radio_button :price_include_tax, 3, {:checked => (true if @detail.price_include_tax == 3)}%> Inclusive
            <%= detail.radio_button :price_include_tax, 1, {:checked => (true if @detail.price_include_tax == 1)}%> Not applicable
          </td>
        </tr>
        <tr class="li--38">
          <th class="first_cell field first_tab">
            <% if params[:action] == "commercial_building" || @property.type.to_s == "CommercialBuilding" %>
              <label><span>Sale Price Range: (ML)</span></label>
            <%else%>
              <label><span>Sale Price Range: (<span class="red_star">*</span>ML)</span></label>
            <%end%>
          </th>
          <td class="value" colspan="3">
            <%= detail.text_field :sale_price_from, :class => 'single', :style=>"width:41%;", :onkeypress => "return isNumberKey(event)" %>
            <span style="margin:0 6px;">to</span>
            <%= detail.text_field :sale_price_to, :class => 'single', :style=>"width:41%;", :onkeypress => "return isNumberKey(event)" %>
          </td>
        </tr>
        <tr class="li--39">
          <th class="first_cell field"><label><span>Return % pa: </span></label></th>
          <td class="value" colspan="3"><%= detail.text_field :return_percent, :class => 'single halfinput', :onkeypress => "return isNumberKey(event)" %></td>
        </tr>
      </table>
    </fieldset>
  </div>
  <% if params[:action] == "commercial" || @property.type.to_s == "Commercial" %>
  <div id="leasedetailsdiv" class="set full" style="<%= 'display:none' if @property.deal_type == 'Sale' %>">
    <hr/>
    <h6 class="full">Lease Details <i>(<span class="red_star">*</span>if Lease)</i></h6>
    <fieldset class="pf_fs10">
      <table class="pf-table">
        <tr class="li--69">
          <th class="first_cell field" style="width:35%;"><label><span>Rent pa:</span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :current_rent, :class => 'single halfinput', :onkeypress => "return isNumberKey(event)" %>
            <%= detail.select :rent_type, @rent_types,{:selected => (@detail.rent_type.blank? ? "Please select" : @detail.rent_type)}, :style => "width:45%;" %>
          </td>
        </tr>
        <tr class="li--38">
          <th class="first_cell field first_tab">
            <label><span>Rental psm/pa:</span></label>
          </th>
          <td class="value" colspan="3">
            <%= detail.text_field :rental_price, :class => 'single', :style=>"width:41%;", :onkeypress => "return isNumberKey(event)" %>
            <span style="margin:0 6px;">to</span>
            <%= detail.text_field :rental_price_to, :class => 'single', :style=>"width:41%;", :onkeypress => "return isNumberKey(event)" %>
          </td>
        </tr>
        <tr class="li--39">
          <% if params[:action] == "commercial_building" || @property.type.to_s == "CommercialBuilding" %>
            <th class="first_cell field"><label><span>Tax:</span></label></th>
          <%else%>
            <th class="first_cell field"><label><span>Tax:<span class="red_star">*</span> </span></label></th>
          <%end%>
          <td class="value" colspan="3">
            <%= detail.radio_button :current_rent_include_tax, 2, {:checked => (true if @detail.current_rent_include_tax == 2)}%> Exclusive
            <%= detail.radio_button :current_rent_include_tax, 3, {:checked => (true if @detail.current_rent_include_tax == 3)}%> Inclusive
            <%= detail.radio_button :current_rent_include_tax, 1, {:checked => (true if @detail.current_rent_include_tax == 1)}%> Not applicable
          </td>
        </tr>
        <tr class="li--39">
          <th class="first_cell field"><label>Plus Outgoings: </label></th>
          <td class="value" colspan="3"><%= detail.check_box :outgoings_paid_by_tenant %></td>
        </tr>
        <tr class="li--39">
          <th class="first_cell field" width="35%">
            <label><span>Annual Outgoings: </span></label>
          </th>
          <td class="value" colspan="3"><%= detail.text_field :annual_outgoings, :class => 'single halfinput', :onkeypress => "return isNumberKey(event)" %></td>
        </tr>
        <tr class="li--39">
          <% if params[:action] == "commercial_building" %>
            <th class="first_cell field"><label><span>Outgoings Paid by:</span></label></th>
          <%else%>
            <th class="first_cell field"><label><span>Outgoings Paid by:<span class="red_star">*</span> </span></label></th>
          <%end%>
          <td class="value" colspan="3">
            <%= detail.radio_button :outgoings_paid_by, 0, {:checked => (true if @detail.outgoings_paid_by == 0)}%> Owner
            <%= detail.radio_button :outgoings_paid_by, 1, {:checked => (true if @detail.outgoings_paid_by == 1)}%> Tenant
          </td>
        </tr>
        <tr class="li--39">
          <th class="first_cell field"><label><span>Lease End: </span></label></th>
          <td class="value" colspan="3"><%= detail.text_field :lease_end, :class => 'single datepicker inputfull-8' %></td>
        </tr>
        <tr class="li--39">
          <th class="first_cell field"><label><span>Further Option: </span></label></th>
          <td class="value" colspan="3"><%= detail.text_field :lease_further_option, :maxlength => 40, :class => 'single inputfull-8' %></td>
        </tr>
      </table>
    </fieldset>
  </div>
  <%end%>
  <hr/><%= render :partial => 'display_price', :locals => {:form => form} %>
  <hr/><%= render :partial => 'auction_datetime', :locals => {:detail => detail} %>
</div><!-- end #pricingrentaldisplaydiv GROUP -->

<% javascript_tag do %>

  $(window).load(function () {
  $('#commercial_detail_date_available').datepicker({dateFormat:'yy-mm-dd'});
  });

<% end %>
