<script type="text/javascript">
  $(document).ready(function(){
    var secondary_contact = '<%= @property.secondary_contact_type %>';
    var third_contact = '<%= @property.third_contact_type %>';
    var fourth_contact = '<%= @property.fourth_contact_type %>';

    jQuery("#indicator1").ajaxStart(function(){
      jQuery(this).show();
    });
    jQuery("#indicator1").ajaxStop(function(){
      jQuery(this).hide();
    });
    $("#primary_loading").hide();
    $("#secondary_loading").hide();
    $("#third_loading").hide();
    $("#fourth_loading").hide();

    if(secondary_contact != 'Normal' && secondary_contact != ''){
      update_contact_vendor("secondary", '<%= @property.secondary_contact_id %>', secondary_contact);
    }

    if(third_contact != 'Normal' && third_contact != ''){
      update_contact_vendor("third", '<%= @property.third_contact_id %>', third_contact);
    }

    if(fourth_contact != 'Normal' && fourth_contact != ''){
      update_contact_vendor("fourth", '<%= @property.fourth_contact_id %>', fourth_contact);
    }
  })
  function update_contact_vendor(type, selected, type_agent){
    var base_ptype = $("#wrap_"+type);
    var add ="";
    var controller = "<%= populate_agent_agent_office_properties_path(@agent, @office) %>";
    $.ajax({
      type: "POST",
      url: escape(controller),
      data:({type_agent : type_agent}),
      dataType:"JSON",
      beforeSend:function(){
        $("#property_"+type+"_contact_id").attr("disabled","disabled");
        $("#"+type+"_loading").show();
        $("#add_"+type+"_contact_id").hide();
        $("#indicator1").hide();
      },
      success: function(jsonResponse){
        var eval_json = eval(jsonResponse);
        var option = "";
        if(eval_json == ""){
          option = "<option value =''>Please select</option>";
        }else{
          option = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json.length;i++){
            var to_string = new String("'"+eval_json[i][1]+"'");
            if(eval_json[i][1] == selected){
              option += '<option value ='+to_string+' selected>'+eval_json[i][0]+'</option>';
            }else{
              option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
            }
          };
        };
        var html = "<select id='property_"+type+"_contact_id' name='property["+type+"_contact_id]' class='select_box'>"+option+"</select>";
        base_ptype.empty().append($(html));
      },
      complete:function(){
          if(type_agent == 'Conjunctional'){ add = "&conjunctional"; }
          $("#property_"+type+"_contact_id").removeAttr("disabled");
          $("#"+type+"_loading").hide();
          $("#add_"+type+"_contact_id").attr("href","/agents/<%= @agent.id %>/offices/<%= @office.id %>/agent_users/new?level3"+add+"&contact_type="+type+"&KeepThis=true&TB_iframe=true&height=380&width=520&modal=true");
          if(type_agent != 'Network'){ $("#add_"+type+"_contact_id").show(); }
      }
    });
  }
</script>
<style type="text/css">
  table a:link, table a:visited {
  color:#0E7FC7;
  }
</style>

<div id="vendordetailsdiv" class="group" style="z-index:1;">
  <div class="set">
    <h6 class="full">Vendors Details<small class="formgrouplinks"> <a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Vendor"] %></span></small></h6>
    <fieldset class="pf_fs14">
      <%= form.hidden_field :agent_contact_id, :class => "single" %>
      <ul class="pf-ul">
        <li class="li--48">
          <span class="threequarters" style="width:100%;">
            <label><span>Contact Name:</span></label>
            <div id="contact_name"></div>
            <span id="indicator1" style="display:none;"><img src="/images/search-loader.gif" id="contact-loader"></img></span>
            <a href="javascript:add_contact()" id="add_contact">&nbsp;Add</a>
            <a href="javascript:remove_contact()" id="remove_contact" style="display:none;">&nbsp;Remove</a>
          </span>
        </li>
        <li class="li--48 contact" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>First Name:</span></label>
            <%= form.text_field :vendor_first_name, :class => 'single' %>
          </span></li>
        <li class="li--48 contact" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Last Name:</span></label>
            <%= form.text_field :vendor_last_name, :class => 'single' %>
          </span></li>
        <li class="li--48 contact" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Email:</span></label>
            <%= form.text_field :vendor_email, :class => 'single' %>
          </span></li>
        <li class="li--48 contact" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Contact Number:</span></label>
            <%= form.text_field :vendor_phone, :class => 'single' %>
          </span></li>
        <li class="li--48 contact" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Home Number:</span></label>
            <%= form.text_field :home_number, :class => 'single' %>
          </span></li>
        <li class="li--48 contact" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Work Number:</span></label>
            <%= form.text_field :work_number, :class => 'single' %>
          </span></li>
        <li class="li--48 contact" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Mobile Number:</span></label>
            <%= form.text_field :mobile_number, :class => 'single' %>
          </span></li>
      </ul>
    </fieldset>
  </div>
</div><!-- end #vendordetailsdiv GROUP -->

<script type="text/javascript">
  function add_contact(){
    $(".contact").show();
    $(".formdiv").height(550);
    $("#remove_contact").show();
    $("#add_contact").hide();
    $("#contact_name_input").attr('disabled', 'disabled');
  }

  function remove_contact(){
    $(".contact").hide();
    $("#add_contact").show();
    $("#remove_contact").hide();
    $("#contact_name_input").removeAttr('disabled');
  }

  function change_type(type, value){
    update_contact_vendor(type, "", value);
  }
</script>