<script type="text/javascript">
  $(document).ready(function(){
    jQuery("#indicator1").ajaxStart(function(){
      jQuery(this).show();
    });
    jQuery("#indicator1").ajaxStop(function(){
      jQuery(this).hide();
    });
  })
  function add_contact(){
    $(".contact").show();
    $(".formdiv").height(550);
    $("#remove_contact").show();
    $("#add_contact").hide();
    $("#contact_name_input").attr('disabled', 'disabled');
  }

  function remove_contact(){
    $(".contact").hide();
    $("#add_contact").show();
    $("#remove_contact").hide();
    $("#contact_name_input").removeAttr('disabled');
  }
</script>
<div id="propertycontactsdiv" class="group contact_vendor">
  <div class="set">
    <h6 class="full">
      Property Contacts
      <small class="formgrouplinks">
        <a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a>
        <span class="helplink_info" style="display:none"><%= @help_data["Contacts"] %></span>
      </small>
    </h6>
    <fieldset class="pf_fs13">
      <ul class="pf-ul">
        <li class="li--46 required">
          <label><span>Primary Contact:</span></label>
          <%= form.select :primary_contact_id,  @contacts, {:class => 'select_box',:selected =>@property.primary_contact_id.to_i} %>
        </li>
        <li class="li--47">
          <label><span>Secondary Contact:</span></label>
          <%= form.select :secondary_contact_id, @contacts, {:class => 'select_box',:selected =>@property.secondary_contact_id.to_i} %>
        </li>
        <% if params[:action] != 'new_development' && @ptype != 'new_development' %>
          <li class="li--47">
            <label><span>Third Contact:</span></label>
            <%= form.select :third_contact_id, @contacts, {:class => 'select_box',:selected =>@property.third_contact_id.to_i} %>
          </li>
        <% end %>
      </ul>
    </fieldset>
  </div>
</div><!-- end #propertycontactsdiv GROUP -->

<div id="externalagentdetailsdiv" class="group external_agent_div" style="z-index:1;display:none;">
  <div class="set">
    <h6 class="full">External Agent Details<small class="formgrouplinks"> <a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Vendor"] %></span></small></h6>
    <fieldset class="pf_fs14">
      <%= form.hidden_field :external_agent_contact_id, :class => "single" %>
      <ul class="pf-ul">
        <li class="li--48">
          <span class="threequarters" style="width:100%;">
            <label><span>External Agent Name:</span></label>
            <div id="external_agent_name"></div>
            <span id="indicator1" style="display:none;"><img src="/images/search-loader.gif" id="contact-loader"></img></span>
            <a href="javascript:add_external_agent()" id="add_external_agent">&nbsp;Add</a>
            <a href="javascript:remove_external_agent()" id="remove_external_agent" style="display:none;">&nbsp;Remove</a>
          </span>
        </li>
        <li class="li--48 external_agent" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>First Name:</span></label>
            <%= form.text_field :external_agent_first_name, :class => 'single' %>
          </span></li>
        <li class="li--48 external_agent" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Last Name:</span></label>
            <%= form.text_field :external_agent_last_name, :class => 'single' %>
          </span></li>
        <li class="li--48 external_agent" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Email:</span></label>
            <%= form.text_field :external_agent_email, :class => 'single' %>
          </span></li>
        <li class="li--48 external_agent" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Contact Number:</span></label>
            <%= form.text_field :external_agent_phone, :class => 'single' %>
          </span></li>
        <li class="li--48 external_agent" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Home Number:</span></label>
            <%= form.text_field :external_agent_home_number, :class => 'single' %>
          </span></li>
        <li class="li--48 external_agent" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Work Number:</span></label>
            <%= form.text_field :external_agent_work_number, :class => 'single' %>
          </span></li>
        <li class="li--48 external_agent" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Mobile Number:</span></label>
            <%= form.text_field :external_agent_mobile_number, :class => 'single' %>
          </span></li>
      </ul>
    </fieldset>
  </div>
</div><!-- end #externalagentdetailsdiv GROUP -->

<% if params[:action] != 'new_development' && @ptype != 'new_development' %>
  <div id="vendordetailsdiv" class="group" style="z-index:1;">
    <div class="set">
      <h6 class="full">
        Vendors Details
        <small class="formgrouplinks">
          <a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a>
          <span class="helplink_info" style="display:none"><%= @help_data["Vendor"] %></span>
        </small>
      </h6>
      <fieldset class="pf_fs14">
        <%= form.hidden_field :agent_contact_id, :class => "single" %>
        <ul class="pf-ul">
          <li class="li--48">
            <span class="threequarters" style="width:100%;">
              <label><span>Contact Name:</span></label>
              <div id="contact_name"></div>
              <span id="indicator1" style="display:none;"><img src="/images/search-loader.gif" id="contact-loader"></img></span>
              <a href="javascript:add_contact()" id="add_contact">&nbsp;Add</a>
              <a href="javascript:remove_contact()" id="remove_contact" style="display:none;">&nbsp;Remove</a>
            </span>
          </li>
          <li class="li--48 contact" style="display:none;">
            <span class="threequarters" style="width:100%;">
              <label><span>First Name:</span></label><%= form.text_field :vendor_first_name, :class => 'single' %>
            </span>
          </li>
          <li class="li--48 contact" style="display:none;">
            <span class="threequarters" style="width:100%;">
              <label><span>Last Name:</span></label><%= form.text_field :vendor_last_name, :class => 'single' %>
            </span>
          </li>
          <li class="li--48 contact" style="display:none;">
            <span class="threequarters" style="width:100%;">
              <label><span>Email:</span></label><%= form.text_field :vendor_email, :class => 'single' %>
            </span>
          </li>
          <li class="li--48 contact" style="display:none;">
            <span class="threequarters" style="width:100%;">
              <label><span>Contact Number:</span></label><%= form.text_field :vendor_phone, :class => 'single' %>
            </span>
          </li>
          <li class="li--48 contact" style="display:none;">
            <span class="threequarters" style="width:100%;">
              <label><span>Home Number:</span></label><%= form.text_field :home_number, :class => 'single' %>
            </span>
          </li>
          <li class="li--48 contact" style="display:none;">
            <span class="threequarters" style="width:100%;">
              <label><span>Work Number:</span></label><%= form.text_field :work_number, :class => 'single' %>
            </span>
          </li>
          <li class="li--48 contact" style="display:none;">
            <span class="threequarters" style="width:100%;">
              <label><span>Mobile Number:</span></label><%= form.text_field :mobile_number, :class => 'single' %>
            </span>
          </li>
        </ul>
      </fieldset>
    </div>
  </div><!-- end #vendordetailsdiv GROUP -->
<% end %>
<script type="text/javascript">
$(document).ready(function(){
 <% if params[:action] == "edit" %>
  <% unless @property.ownership.blank? %>
    <% if @property.ownership == "External" %>
      $(".external_agent_div").show();
      $(".contact_vendor").hide();
    <%else%>
      $(".external_agent_div").hide();
      $(".contact_vendor").show();
    <%end%>
    <%else%>
      $("#property_ownership_internal").attr("checked", true);
    <%end%>
  <%end%>
});

  function add_contact(){
    $(".contact").show();
    $(".formdiv").height(550);
    $("#remove_contact").show();
    $("#add_contact").hide();
    $("#contact_name_input").attr('disabled', 'disabled');
  }

  function add_external_agent(){
    $(".external_agent").show();
    $(".formdiv").height(550);
    $("#remove_external_agent").show();
    $("#add_external_agent").hide();
    $("#external_agent_name_input").attr('disabled', 'disabled');
  }

  function remove_contact(){
    $(".contact").hide();
    $("#add_contact").show();
    $("#remove_contact").hide();
    $("#contact_name_input").removeAttr('disabled');
  }

  function remove_external_agent(){
    $(".external_agent").hide();
    $("#add_external_agent").show();
    $("#remove_external_agent").hide();
    $("#external_agent_name_input").removeAttr('disabled');
  }
</script>
