<!--<#%= javascript_include_tag("'jquery.wysiwyg") %>-->
<li class="li--1 required">
  <label><span>Property Type:<span class="red_star">*</span></span></label>
  <div id="auto_ptype">
    <%= form.select :property_type, @property.property_type||@ptypes, :class => 'select_box' %>
  </div>
</li>

<% if params[:action] == 'commercial' || @ptype == 'commercial' -%>
  <li class="li--2">
    <label><span>Property Type 2:</span></label>
    <div id="auto_ptype2">
      <%= detail.select :property_type2, @detail.property_type2||@ptypes, :class => 'select_box',:selected =>@detail.property_type2 %>
    </div>
  </li>
  <li class="li--2">
    <label><span>Property Type 3:</span></label>
    <div id="auto_ptype3">
    <%= detail.select :property_type3, @detail.property_type3||@ptypes, :class => 'select_box',:selected =>@detail.property_type2 %>
    </div>
  </li>
  <li class="li--2 required">
    <label><span>Sale/Lease:<span class="red_star">*</span></span></label>
    <%= form.select :deal_type, @deal_types, :class => 'select_box',:selected =>@property.deal_type %>
  </li>
<% end -%>
<% if params[:action] == 'project_sale' || @ptype == 'project_sale' -%>
  <li class="li--2 required">
    <label><span>Category:<span class="red_star">*</span></span></label>
    <%= detail.select :category,@categories.map{|c| [c, c]}.unshift(["Please select", nil]), {:class => 'select_box',:selected =>@detail.category} %>
  </li>
<% end -%>
<% if params[:action] == 'commercial' || @ptype == 'commercial'%>
  <li class="li--2 required">
    <label><span>Exclusivity:<span class="red_star">*</span></span></label>
    <%= detail.select :method_of_sale,@method_of_sale.map{|c| [c, c]}.unshift(["Please select", nil]), {:class => 'select_box',:selected => @detail.method_of_sale} %>
  </li>
  <li class="li--2 required">
    <label><span>Authority:<span class="red_star">**</span></span></label>
    <%= detail.select :authority,@authority.map{|c| [c, c]}.unshift(["Please select", nil]), {:class => 'select_box',:selected => @detail.authority} %>
  </li>
<% end -%>

<% if params[:action] == 'commercial' || @ptype == 'commercial'%>
  <li class="li--2"><label><span>Listings @ this Address:</span></label>
    <%= detail.radio_button :listings_this_address, true, {:style => "width: auto !important; min-width: 5px !important; float: none;", :checked => (@detail.listings_this_address.blank? ? true : @detail.listings_this_address)} %> Single Listing &nbsp;
    <%= detail.radio_button :listings_this_address, false, :style => "width: auto !important; min-width: 5px !important; float: none;" %> Multiple Listing
  </li>
  <li class="li--2"><label><span>Capital growth:</span></label>
    <%= detail.text_field :capital_growth, :class => 'single', :style => "width:auto" %>
  </li>
    <li class="li--2"><label><span>Rental yield:</span></label>
    <%= detail.text_field :rental_yield, :class => 'single', :style => "width:auto" %>
  </li>
  <hr/><h6 class="full">Marketing Data</h6>
<% end -%>

<li class="li--3">
  <label><span>Unique Property ID#:</span></label>
  <%= form.text_field :property_id, :class => 'single fldrequired' %>
</li>
<% if params[:action] == 'commercial' || @ptype == 'commercial' -%>
  <li class="li--4">
    <label><span>Building Name:</span></label>
    <%= detail.text_field :building_name, :class => 'single' %>
  </li>
<% end -%>
<li class="li--5 required">
  <label><span>Property Headline:</span><span class="red_star">*</span></label>
  <%= form.text_field :headline, :class => 'single fldrequired', :maxlength => 150 %>
</li>
<li class="li--6 required">
  <label><span>Property Description:</span><span class="red_star">*</span></label>
  <!--<#%= form.cktext_area(:description, :rows => "8", :cols => "17", :toolbar => "Commercial Loop CRM") %>-->
  <!--<#%= form.text_area :description, :rows => 8, :cols => 17, :class => 'area' %>-->
  <%= form.text_area :description, :rows => 8, :cols => 17, :class => 'area', :maxlength => 65535 %>
  <div style="clear:both;"></div>
  <div style="float:right;margin-right:25px;">
   <span  id="aspell"><a href="javascript:spellcheck()" name="spell" style="text-decoration:none;" ><%= image_tag "/images/spellcheck.png" %> Check Spelling</a></span>
   <span class="loading"><%= image_tag "/images/ajax-loader.gif" %></span>
  </div>
  <div style="clear:both;"></div>
</li>
<% if %w(holiday_lease commercial).include?(params[:action]) -%>
  <li class="li--7">
    <label><span>Addtional Features:</span></label>
    <%= detail.text_area :additional_notes, :rows => 8, :cols => 17, :class => 'area' %>
  </li>
<% end -%>
<% unless @ptype == 'project_sale' || @ptype == 'project_sale' -%>
  <li class="li--8">
    <label><span>Year built:</span></label>
    <%= detail.text_field :year_built, :class => 'single', :onkeypress => "return isNumberKey(event)", :maxlength => "4" %>
  </li>
<% end -%>

<% if @ptype == 'residential_lease'%>
  <li class="li--9">
    <label><span>Fee Terms:</span></label>
    <%= detail.select :fee_terms,@fee_terms.map{|c| [c, c]}.unshift(["Please select", nil]), {:class => 'select_box',:selected =>@detail.fee_terms.blank? ? "Not Applicable" : @detail.fee_terms} %>
  </li>
<% end -%>
<% if params[:action] == 'commercial' || @ptype == 'commercial'%>
  <li class="li--4">
    <label><span>Highlight 1: (only for RCA)</span></label>
    <%= detail.text_field :highlight1, :class => 'single', :maxlength => 25 %>
  </li>
  <li class="li--4">
    <label><span>Highlight 2: (only for RCA)</span></label>
    <%= detail.text_field :highlight2, :class => 'single', :maxlength => 25 %>
  </li>
  <li class="li--4">
    <label><span>Highlight 3: (only for RCA)</span></label>
    <%= detail.text_field :highlight3, :class => 'single', :maxlength => 25 %>
  </li>
<% end -%>

<script type="text/javascript">
  $(document).ready(function(){ $(".loading").hide();});
  // check the spelling on a textarea
  function spellcheck(){
    $(".loading").show();
    $("#aspell").hide();
    $("#property_description")
    .spellchecker({
            lang: "en",
            engine: "google",
            suggestBoxPosition: "above"
    })
    .spellchecker("check", function(result){
            // if result is true then there are no badly spelt words
            $(".loading").hide();
            $("#aspell").show();
            if (result) {
              alert('There are no incorrectly spelt words.');
            }
    });
  }

  $("#property_deal_type").live("change", function(){
      var sale = $("#property_deal_type").val() == "Sale";
      var lease = $("#property_deal_type").val() == "Lease";
      var both = $("#property_deal_type").val() == "Both";

      if (sale){
        $("#pricingdiv").slideDown();
        $("#leasedetailsdiv").slideUp();
      }else if (lease){
        $("#leasedetailsdiv").slideDown();
        $("#pricingdiv").slideUp();
      }else{
        $("#pricingdiv").slideDown();
        $("#leasedetailsdiv").slideDown();
      }
    })


</script>