<% content_for :head do %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".ajax-loader-cat").hide();
    });
    function refresh_categories(){
      var base_sub_cat = $("#refresh_category");
      $.ajax({
        type:"GET",
        url:escape('<%= populate_agent_office_property_new_development_categories_path(@agent,@office,@property) %>'),
        dataType: "script",
        beforeSend:function(){
          $(".ajax-loader-cat").show();
        },
        success: function(jsonResponse){
            var eval_json = eval(jsonResponse);
            var option = "";
            for(var i=0;i < eval_json.length;i++){
              option += '<li class="li--27"><label>'+eval_json[i][0]+'</label></li>';
            };
            var html = "<ul class=\"pf-ul\" style=\"width:66%;float:left;\">"+option+"</ul>";
            base_sub_cat.empty().append($(html));
          },
        complete: function(){
          $(".ajax-loader-cat").hide();
        }
      });
    };
  </script>
<% end %>

<div id="featuresdiv" class="group">
  <div class="set">
    <h6 class="full">Development Categories <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Features"] %></span></small></h6>
    <fieldset class="pf_fs7">
      <ul class="pf-ul">
        <div id="refresh_category">
          <ul class="pf-ul" style="width:66%;float:left;">
            <% unless @new_development_categories.blank? %>
              <% @new_development_categories.map do |cat| %>
              <li class="li--27"><label><%= cat %></label></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <ul class="pf-ul" style="width:33%">
          <li class="li--34 textonly">
            <%= link_to 'Add New', new_agent_office_property_new_development_category_path(@agent,@office,@property)+"?KeepThis=true&TB_iframe=true&height=300&width=600&modal=true",:class =>"thickbox",:id=>"add_new"%> | <%= link_to 'See All', agent_office_property_new_development_categories_path(@agent,@office,@property)+"?KeepThis=true&TB_iframe=true&height=400&width=600&modal=true",:class =>"thickbox",:id=>"add_new"%> | <%= link_to 'Refresh', "#",:onclick=>"refresh_categories(); return false" %> <%= image_tag "/images/ajax-loader.gif",:class=>"ajax-loader-cat" %>
          </li>
        </ul>
      </ul>
    </fieldset>
  </div>
</div><!-- end #featuresdiv GROUP -->
