<div id="duplicationdiv" class="group">
  <div class="set">
    <h6 class="full">
      Duplication
      <small class="formgrouplinks">
        <a href="#" title="Help" class="helplink"> <img src="/images/question.gif" alt="question" /> </a>
        <span class="helplink_info" style="display:none"><%= @help_data["Duplication"] %></span>
      </small>
    </h6>
    <fieldset class="pf_fs13">
      <ul class="pf-ul">
        <li class="li--46">
          <label><span>Holiday Lease Listing Duplication:</span></label>
          <%= check_box_tag 'holiday_duplication',1,!params[:holiday_duplication].blank? ? params[:holiday_duplication]:false, :class => 'single' %>
        </li>
      </ul>
    </fieldset>
  </div>
</div><!-- end #duplicationdiv GROUP -->
