<div id="energyefficiencydiv" class="group">
  <div class="set">
    <h6 class="full">Energy Efficiency Rating <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Energy Efficiency Rating"] %></span></small></h6>
    <fieldset class="pf_fs4">
    <ul class="pf-ul">
      <li class="li--14">
        <label><span>Select Rating: </span></label>
        <div id="auto_eer"><%= detail.select :energy_efficiency_rating,  @ratings, {:selected => ((@property.detail.energy_efficiency_rating) unless @property.detail.blank?) } %></div>
      </li>
    </ul>
    </fieldset>
  </div>
</div> <!-- end #energyefficiencydiv GROUP -->

