<div class="errortext" id='errorExplanation'>
  <h2><%= @error_messages.size %> error<%= 's' if @error_messages.size > 1 %> prohibited this property from being saved</h2>
  <p>There were problems with the following fields:</p>
  <ul>
    <% @error_messages.each{|error_message| %>
      <li><%= error_message %></li>
    <% } %>
  </ul>
</div>
