<% content_for :head do %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".ajax-loader").hide();
    });
    jQuery(function($){
      $('#add_new').click(function(){
        return false
      })
    })
    function refresh_feature(){
      $.ajax({
        type:"POST",
        data:"ptype="+'<%= @ptype %>'+"&agent_id="+'<%= params[:agent_id] %>'+"&office_id="+'<%= params[:office_id] %>',
        url:escape('<%= refresh_features_agent_office_properties_path %>'),
        dataType: "script",
        beforeSend:function(){
          $(".ajax-loader").show();
        },
        complete: function(){
          $(".ajax-loader").hide();
        }
      });
    };

    function display(){
      $('#feature_list').toggle();
    }
  </script>
<% end %>

<div id="featuresdiv" class="group">
  <div class="set">
    <h6 class="full">Features <% if params[:action] == 'commercial' || @ptype == 'commercial'%> (Not sent to realcommercial) <% end %> <small class="formgrouplinks"><% if params[:action] == 'commercial' || @ptype == 'commercial'%><a href="javascript:display();" id="disf" name="disf" style="margin-right:10px;">View</a><% end %><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Features"] %></span></small></h6>
    <div id="feature_list" style="<%= 'display:none;' if params[:action] == 'commercial' || @ptype == 'commercial'%>">
    <fieldset class="pf_fs7">
      <ul class="pf-ul third">
        <%= feature_list('location', @pre_defined_features[4].sort_by { |s| s.name }, 'li--30') %>
      </ul>
      <ul class="pf-ul third">
        <%= feature_list('lifestyle', @pre_defined_features[5].sort_by { |s| s.name }, 'li--31') %>
        <li class="li--32">
          <label><strong>Your Features:</strong></label>
          <br/>
          <div id="refresh_feature">
            <ul> <%= render :partial => 'feature', :collection => @your_features.sort_by { |s| s.name } %> </ul>
          </div>
        </li>
        <li class="li--34 textonly">
          <%= link_to 'Add New', new_agent_office_user_defined_feature_path(@agent,@office)+"?KeepThis=true&TB_iframe=true&height=400&width=600&modal=true",:class =>"thickbox",:id=>"add_new"%> | <%= link_to 'See All', agent_office_user_defined_features_path(@agent,@office)+"?KeepThis=true&TB_iframe=true&height=400&width=600&modal=true",:class =>"thickbox",:id=>"add_new"%> | <%= link_to 'Refresh', "#",:onclick=>"refresh_feature(); return false" %> <%= image_tag "/images/ajax-loader.gif",:class=>"ajax-loader" %>
        </li>
      </ul>
    </fieldset>
  </div>
  </div>
</div><!-- end #featuresdiv GROUP -->
