<script type="text/javascript">
  function callToServer(path,width,height) {
    if($("#projectFrame").length <= 1){
      var winW = $(window).width();
      var winH = $(window).height();
      if($("#mask").length < 1){
        $("body").append($(document.createElement("div")).attr({'id':'mask'}).css({'width': winW,'height': winH,"position":"fixed","top":0,"left":0, "z-index": 8888,"background-color":"#BEC8D2"}));
      };
      if(width == "200" && height == "300"){
        $(document.body).append($('<div id="frameContainer"></div><a id="closeFrame">Close</a>'));
        $("#frameContainer").append("<div id = 'errorExplanation' class = 'errortext'><h2> This property can not be shared on Facebook because no property url exist in the property details section. Please edit the property and add a link to the property page on your website</h2></div>");
        $("#frameContainer").css('top', height/2);
      }else{
        $(document.body).append($('<div id="frameContainer"></div><div id="closePanel"><img id="closeFrame" src="/images/icons/close.png"/></div><iframe id="projectFrame"></iframe>'));
        $("#projectFrame").attr({"width":width,"height":height,"position":'fixed',"src":path}).css({"background-color":"white",'border-left':'solid #6080c0  2px','border-bottom':'solid #6080c0  2px','border-top':'solid #6080c0  0px','border-right':'solid #6080c0  2px'});
        $("#frameContainer").css({'left':((winW/2)-($("#projectFrame").width()/2)),'height':'0px','width':"0px",'top':45,'z-index':'30000','position':'fixed','text-align':'left'});
      };
      $('#closePanel').hide();
      $('#closePanel').css({"z-index":"9999","text-align":"right",'border-left':'solid #6080c0  5px','border-bottom':'solid #6080c0  5px','border-top':'solid #6080c0  5px','border-right':'solid #6080c0  5px','background-color':'#6080c0','width':((winW/2)-($("#projectFrame").width()/2)+20)+'px','height':'15px'});
      $('#closeFrame').css({'cursor':'pointer',"z-index":"9999"});
      $('#mask').slideDown(1200).fadeTo("slow",0.6);
      $("#frameContainer").append($("#closePanel")).append($("#projectFrame"));
      $("#frameContainer,#projectFrame").animate({height:400, width:500},
      {duration: 'slow',easing: 'easeOutBounce'},
      function(){
        $("#frameContainer").css({"height" : "400","width":"500"});
      });
      $('#closePanel').slideUp(1000).fadeIn(1000).show();
      $('#closeFrame').click(function () {
        $('#mask').slideUp(1200).fadeTo("slow",0);
        $('#mask').remove();
        $("#frameContainer").remove();
        $("#closePanel").remove();
        $("#closeFrame").remove();
        $("#projectFrame").remove();
        tb_remove_ajax();
        return false;
      });

      $('#mask').click(function () {
        $('#mask').slideUp(1200).fadeTo("slow",0);
        $('#mask').remove();
        $("#frameContainer").remove();
        $("#closeFrame").remove();
        $("#closePanel").remove();
        $("#projectFrame").remove();
        tb_remove_ajax();
      });

      return false;
    }
  };

  function callPreview(path) {
    window.open(path,'sharer','menubar=1,toolbar=0,scrollbars=1,status=0,width=800,height=800');
  };

  function tb_remove_ajax_and_change_location(referer) {
    $("#mask").hide();
    $("#frameContainer").remove();
    $("#closeFrame").remove();
    $("#RSIFrame").remove();
    $("#booting").hide();
    window.location.replace(referer);
  }
</script>
<script type="text/javascript">
  function fbs_click(params) {
    t=document.title;
    window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(params)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=500,height=450');
    return false;
  };
  function payment(notify_url,cancel_url,return_url,property_id,payment_status,payment_required,paypal_account,listing_cost,property_type,currency_code) {
    if(payment_required == "true"){
      window.location = "https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business="+paypal_account+"&item_name="+property_type+"&item_number="+property_id+"&amount="+listing_cost+"&no_note=1&currency_code="+currency_code+"&notify_url="+notify_url+"&cancel_return="+cancel_url+"&return="+return_url;
    };
    return false;
  };
</script>
<script type="text/javascript">
  // Path to the blank image must point to a valid location on your server
  function tb_remove_ajax() {
    $("#mask").hide();
    $("#frameContainer").remove();
    $("#closeFrame").remove();
    $("#RSIFrame").remove();
    Ext.getCmp("listingGrid").getStore().reload();
  }
  // Main application entry point
  Ext.onReady(function() {
    var page_name = "<%= params[:controller] == "offices_a" && params[:action] == "show" ? 'office_view' : 'listing_view' %>"
    var pagesize;
    var tbar;
    var urlProxy;

    if(page_name == 'listing_view'){
      var comboDS = new Ext.data.JsonStore({
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'team'},
          {name: 'suburbs'},
          {name: 'types'}
        ],
        proxy: new Ext.data.HttpProxy({
          url: '/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/populate_combobox',
          method:'GET'
        })
      });
      var suburbDS = new Ext.data.JsonStore({
        root: 'suburbs',
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'suburb'},
          {name: 'suburbText'}
        ]
      });
      var typeDS = new Ext.data.JsonStore({
        root: 'types',
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'type'},
          {name: 'typeText'}
        ]
      });
      var teamDS = new Ext.data.JsonStore({
        root: 'team',
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'assigned_to'},
          {name: 'assigned_toText'}
        ]
      });
      comboDS.load();
      comboDS.on('load', function(){
        suburbDS.loadData(comboDS.reader.jsonData);
        typeDS.loadData(comboDS.reader.jsonData);
        teamDS.loadData(comboDS.reader.jsonData);

        assigned_toCombo.setValue('<%= session[:primary_contact_fullname].blank? ? 'all' : session[:primary_contact_fullname] %>');
        typeCombo.setValue('<%= session[:property_type].blank? ? 'all' : session[:property_type] %>');
        suburbCombo.setValue('<%= session[:suburb].blank? ? 'all' : session[:suburb] %>');
      });
      var listingCombo = new Ext.form.ComboBox({
        id:'listingCombo',
        fieldLabel:'All Listing Type',
        store: new Ext.data.ArrayStore({
          id: 0,
          fields: [
            'val',
            'text'
          ],
          data: [['all', 'All Listing Types'], ['BusinessSale', 'Business Sale'], ['Commercial', 'Commercial Sale/Lease'], ['CommercialBuilding', 'Building'],['ResidentialLease', 'Residential Lease'],['ResidentialSale', 'Residential Sale'], ['HolidayLease', 'Holiday Lease'], ['ProjectSale', 'House & Land'], ['NewDevelopment', 'Residential Building'], ['LandRelease', 'Land Release'], ['GeneralSale', 'General Sale'], ['LivestockSale', 'Livestock Sale'], ['ClearingSale', 'Clearing Sale'], ['ClearingSalesEvent', 'Clearing Sales Event']]
        }),
        typeAhead: true,
        mode: 'local',
        triggerAction: 'all',
        sortable: false,
        selectOnFocus:true
        ,valueField:'val'
        ,displayField:'text'

      });

      var assigned_toCombo = new Ext.form.ComboBox({
        store: teamDS,
        typeAhead: true,
        mode: 'local',
        id: 'contactCombo',
        triggerAction: 'all',
        sortable: false,
        selectOnFocus:true
        ,valueField:'assigned_to'
        ,displayField:'assigned_toText'
      });

      var typeCombo = new Ext.form.ComboBox({
        store: typeDS,
        typeAhead: true,
        mode: 'local',
        id: 'typeCombo',
        triggerAction: 'all',
        sortable: false,
        selectOnFocus:true
        ,valueField:'type'
        ,displayField:'typeText'
      });

      var suburbCombo = new Ext.form.ComboBox({
        store: suburbDS,
        typeAhead: true,
        mode: 'local',
        id: 'suburbCombo',
        sortable: false,
        triggerAction: 'all',
        selectOnFocus:true
        ,valueField:'suburb'
        ,displayField:'suburbText'
      });

      var statusCombo = new Ext.form.ComboBox({
        fieldLabel:'All Status',
        store: new Ext.data.ArrayStore({
          id: 0,
          fields: [
            'val',
            'text'
          ],
          data: [['all', 'All Status'], ['1', 'Available'], ['2', 'Sold'], ['3', 'Leased'], ['4', 'Withdrawn'], ['5', 'Underoffer'], ['6', 'Draft'], ['7', 'On Hold']]
        }),
        id:'statusCombo',
        typeAhead: true,
        mode: 'local',
        sortable: false,
        triggerAction: 'all',
        selectOnFocus:true
        ,valueField:'val'
        ,displayField:'text'
      });
      listingCombo.setValue('<%= session[:type].blank? ? 'all' : session[:type] %>');
      statusCombo.setValue('<%= session[:status].blank? ? 'all' : session[:status] %>');
      tbar = new Ext.Toolbar({
        hideMode:'offset',
        forcefit: true,
        items  : [listingCombo,suburbCombo,typeCombo,assigned_toCombo,statusCombo]
      });
      pagesize = 35;
      urlProxy = '/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/view_listing?page_name='+page_name+'&suburb='+suburbCombo.getValue()+'&type='+listingCombo.getValue()+'&status='+statusCombo.getValue()+'&property_type='+typeCombo.getValue()+'&primary_contact_fullname='+assigned_toCombo.getValue();
      suburbCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      listingCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      typeCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      statusCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      assigned_toCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);
    }else{
      pagesize = 50;
      urlProxy =  '<%= view_listing_agent_office_properties_path(@agent,@office) %>?page_name='+page_name+'&status=<%=session[:status]%>';
    };

    var ds = new Ext.data.JsonStore({
      //autoLoad: true,
      root: 'rows',
      id: 'id',
      totalProperty: 'results',
      remoteSort: true,

      fields: [
        'id', 'listing','property_type','address','suburb','suite','sqm','type','price','assigned_to','actions','status','fb','payment_status','A/P'
      ],

      // load using script tags for cross domain, if the data in on the same domain as
      // this page, an HttpProxy would be better
      proxy: new Ext.data.HttpProxy({
        url: urlProxy,
        method:'GET'
      })
    });
    //  var compareData = new Array();
    ds.setDefaultSort('updated_at','DESC');


    var paging_toolbar = new Ext.PagingToolbar({
      pageSize: pagesize,
      displayInfo: true,
      emptyMsg: 'No data found',
      displayInfo: true,
      forcefit: true,
      style: 'text-align:center;',
      hideMode:'offset',
      displayMsg: 'Results : {2}',
      store: ds,
      toggleHandler: function(btn, pressed){
        var view = grid.getView();
        view.showPreview = pressed;
        view.refresh();
      }
    })
    // create the Grid
    var grid = new Ext.grid.GridPanel({
      id:'listingGrid',
      store: ds,
      tbar: tbar,
      loadMask:true,
      style: 'text-align:center;',
      layout:'fit',
      stripeRows:true,
      autoScroll:true,
      shim:true,
      forceFit:true,
      width:'100%',
      viewConfig : {
        layout : function() {
          if (!this.mainBody) {
            return; // not rendered
          }
          var g = this.grid;
          var c = g.getGridEl();
          var csize = c.getSize(true);
          var vw = csize.width;
          if (!g.hideHeaders && (vw < 20 || csize.height < 20)) { // display:
            // none?
            return;
          }
          if (g.autoHeight) {
            if (this.innerHd) {
              this.innerHd.style.width = (vw) + 'px';
            };
            var scroll_height = g.getStore().getCount() * 30;

            if(scroll_height < 40){
              this.scroller.setHeight(this.scroller.getHeight() + 8);
            };
            if(scroll_height > 40){
              this.scroller.setHeight(scroll_height);
            };
            //g.getTopToolbar().setWidth(csize.width)
            //g.getBottomToolbar().setWidth(csize.width)
          } else {
            this.el.setSize(csize.width, csize.height);
            var hdHeight = this.mainHd.getHeight();
            var vh = csize.height - (hdHeight);
            this.scroller.setSize(vw, vh);
            if (this.innerHd) {
              this.innerHd.style.width = (vw) + 'px';
            }
          }
          if (this.forceFit) {
            if (this.lastViewWidth != vw) {
              this.fitColumns(false, false);
              this.lastViewWidth = vw;
            }
          } else {
            this.autoExpand();
            this.syncHeaderScroll();
          }
          this.onLayout(vw, vh);
        }
      }

      ,
      columns: [
        //{header: 'Edit', width: 50,renderer:renderEdit, dataIndex: 'id'},
        {header: 'ID', width: 55, sortable: true, dataIndex: 'id',filterable: true},
        {header: 'Listing', width: 80, sortable: true, dataIndex: 'listing'},
        {header: 'Type', width: 100, sortable: true, dataIndex: 'property_type'},
        {header: 'Suburb', width: 120, sortable: true,dataIndex: 'suburb'},
        {header: 'Address', width: 185, sortable: true, dataIndex: 'address'},
        {header: 'Price', width: 90, sortable: true, renderer: moneyFormat, dataIndex: 'price'},
        {header: 'Assigned To', width: 100, sortable: true, dataIndex: 'assigned_to'},
        {header: 'Suite', width: 65, sortable: true, dataIndex: 'suite'},
        {header: 'Sqm', width: 55, sortable: true, dataIndex: 'sqm'},
        {header: 'A/P', width: 55, sortable: true, dataIndex: 'A/P'},
        {header: 'Actions', width: 225,dataIndex: 'actions',renderer:renderAction},
        {header: 'Status', width: 70,dataIndex: 'status',renderer:renderStatus, sortable: true}
        //{header: 'Share', width: 60,dataIndex: 'fb',renderer:renderShare}
      ],
      autoHeight:true,
      title: 'Click on column headings to sort, drag column headings to reposition, adjust column width or remove columns from the view.',
      bbar:paging_toolbar
    });
    grid.on('resize',function(){
      grid.getView().refresh();
    })
    // render the grid to the specified div in the page
    grid.render('property-list');
    paging_toolbar.refresh.hideParent = true;
    paging_toolbar.refresh.hide();

    function renderEdit(id){
      return '<a href="/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/' + id + '" style="color:#0e7fc7;">Edit</a>';
    };
    function renderAction(actions){
      var act = "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/edit'><img src='/images/icons/editBlue.png'/></a>\n\
      <a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/media'><img src='"+actions[1]+"'/></a>\n\
      <a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/media'><img src='"+actions[2]+"'/></a>";
      if(actions[10] == "ResidentialSale" || actions[10] == "ResidentialLease" || actions[10] == "NewDevelopment" || actions[10] == "LandRelease" || actions[10] == "ProjectSale" || actions[10] == "HolidayLease"){
        act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/opentimes'><img src='"+actions[3]+"'/></a>";
      }else{
        if(actions[10] == "Commercial" || actions[10] == "CommercialBuilding" || actions[10] == "GeneralSale" || actions[10] == "LivestockSale" || actions[10] == "ClearingSalesEvent") {
          act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/edit' class='action_edit' style='display:none;'><img src='"+actions[11]+"'/></a>";
        }
      }

      if(actions[10] == "Commercial"){
        act = act + "<a href='/agents/<%= @agent.id %>/offices/<%= @office.id %>/properties/" + actions[0] +"/edit'><img src='"+ actions[11] +"'></a>"
      }
      act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/preview' onclick='callPreview(this.href);return false;'><img src='/images/icons/icon_preview.gif'/></a>";

      if(actions[10] == "NewDevelopment"){
        if(actions[12] == "1"){
          act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/residential_building_children_listings'><img src='/images/icons/icon_listing_available.png'/></a>";
        }else{
          act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/residential_building_children_listings'><img src='/images/icons/icon_listing_grey.png'/></a>";
        }
      }
      if(actions[10] == "LandRelease"){
        if(actions[12] == "1"){
          act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/land_release_children_listings'><img src='/images/icons/icon_listing_available.png'/></a>";
        }else{
          act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/land_release_children_listings'><img src='/images/icons/icon_listing_grey.png'/></a>";
        }
      }
      if(actions[10] == "CommercialBuilding"){
        if(actions[12] == "1"){
          act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/commercial_building_children_listings'><img src='/images/icons/icon_listing_available.png' /></a>";
        }else{
          act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/commercial_building_children_listings'><img src='/images/icons/icon_listing_grey.png' /></a>";
        }
      }

      if(actions[10] == "GeneralSale"){
        if(actions[12] == "1"){
          act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/general_sale_children_listings'><img src='/images/icons/icon_listing_available.png' /></a>";
        }else{
          act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/general_sale_children_listings'><img src='/images/icons/icon_listing_grey.png' /></a>";
        }
      }

      if(actions[10] == "LivestockSale"){
        if(actions[12] == "1"){
          act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/livestock_sale_children_listings'><img src='/images/icons/icon_listing_available.png' /></a>";
        }else{
          act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/livestock_sale_children_listings'><img src='/images/icons/icon_listing_grey.png' /></a>";
        }
      }

      if(actions[10] == "ClearingSalesEvent"){
        if(actions[12] == "1"){
          act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/clearing_sales_event_children_listings'><img src='/images/icons/icon_listing_available.png' /></a>";
        }else{
          act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/clearing_sales_event_children_listings'><img src='/images/icons/icon_listing_grey.png' /></a>";
        }
      }
      var payment_st = "<%= @office.property_payment_required%>";
      if(payment_st == "true"){
        var pay_link = "";
        if(actions[4] == "/images/icons/icon_dollar_grey.gif"){
          pay_link =   "<img src='"+actions[4]+"'/>";
        }else{
          pay_link =  "<a href='https://www.paypal.com/cgi-bin/webscr?' onclick='return payment(\"http://<%= request.host %>/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/property_ipn\",\"http://<%= request.host %>/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties\",\"http://<%= request.host %>/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/property_ipn\",\""+actions[0]+"\",\""+actions[4]+"\",\""+actions[5]+"\",\""+actions[6]+"\",\""+actions[7]+"\",\""+actions[8]+"\",\""+actions[9]+"\");return false;'><img src='"+actions[4]+"'/></a>";
        }
        return act +pay_link
      }else{
        return act;
      }
    };

    function renderStatus(status){

<% if current_user.allow_property_owner_access? %>
  <% if(@office.property_owner_access && @office.property_draft_for_new) %>
          if(status[1] == 'draft'){
            return "<img src='/images/icons/icon_"+status[1]+".gif'/>"
          }else{
    <%if @office.property_payment_required%>
              if(status[2] == "completed"){
                return "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + status[0] + "/status'><img src='/images/icons/icon_"+status[1]+".gif'/></a>"
              }else{
                return "<img src='/images/icons/icon_"+status[1]+".gif'/>"
              }
    <%else%>
              return "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + status[0] + "/status'><img src='/images/icons/icon_"+status[1]+".gif'/></a>"
    <%end%>
          };
  <%else%>
    <%if @office.property_payment_required%>
            if(status[2] == "completed"){
              return "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + status[0] + "/status'><img src='/images/icons/icon_"+status[1]+".gif'/></a>"
            }else{
              return "<img src='/images/icons/icon_"+status[1]+".gif'/>"
            }
    <%else%>
            return "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + status[0] + "/status'><img src='/images/icons/icon_"+status[1]+".gif'/></a>"
    <%end%>
  <% end %>
<% else %>
        return "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + status[0] + "/status'><img src='/images/icons/icon_"+status[1]+".gif'/></a>"
<% end %>

    };
    function renderShare(fb){
      return "<a href='http://www.facebook.com/share.php' rel='nofollow' onclick='return fbs_click(\""+fb[1]+"\")' target='_blank' class='fb_share_button'><img src='/images/icons/Facebook.png'/></a><a href='#' onclick='OpenTwitter(\""+fb[2]+"\")'><img src='/images/icons/twitter.png'/></a>"
    };
    ds.load({params:{start:0,limit:pagesize}});
    grid.doLayout();
    // ds.on('load', function(store, records, index) {
    //grid.setHeight(ds.getCount() * 37);
    // });
    function setGridURL(){
      grid.getStore().proxy.setApi('read', '/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/view_listing?page_name='+page_name+'&suburb='+suburbCombo.getValue()+'&type='+listingCombo.getValue()+'&status='+statusCombo.getValue()+'&property_type='+typeCombo.getValue()+'&primary_contact_fullname='+assigned_toCombo.getValue());
      paging_toolbar.changePage(1);
      grid.getStore().reload();
    }
  });

  function moneyFormat(v){
    v = (Math.round((v-0)*100))/100;
    v = (v == Math.floor(v)) ? v + ".00" : ((v*10 == Math.floor(v*10)) ? v + "0" : v);
    v = String(v);
    var ps = v.split('.'),
    whole = ps[0],
    // sub = ps[1] ? '.'+ ps[1] : '.00',
    r = /(\d+)(\d{3})/;
    while (r.test(whole)) {
      whole = whole.replace(r, '$1' + ',' + '$2');
    }
    v = whole; //+ sub;
    if(v.charAt(0) == '-'){
      return '-$' + v.substr(1);
    }
    return "$" +  v;
  }

  function OpenTwitter(tw) {
    window.open("http://twitter.com/home?status="+tw,1,'toolbar=no,location=no,directories=no,status=no,scrollbars=yes,resizable=no,copyhistory=no,width=802,height=489')
  }
</script>
<% if controller.controller_name == "properties" %>
  <h2><span> All Listings <!--<a onclick="page_status(1);return false;" style="font-size: 10px">::Refresh::</a>--></span></h2>
  <p><%= render :partial => 'properties/pline_filter' %></p>
<% elsif controller.controller_name == "offices_a" %>
  <h2> Latest Listings&nbsp;&nbsp;<span style="font-size:11px;"><%= link_to "view all", agent_office_properties_path(@agent,@office) %><!--<a onclick="page_status(1);return false;">::Refresh::</a>--></span></h2>
<% end %>
<style type="text/css">
  #property-list table{
    margin: 0px;
    border: medium none;
    width: 0%;
  }
  #property-list .x-toolbar {
    background-color:inherit;
    background-image:none;
    border-color:#A9BFD3;
  }
</style>
<div id="property-list"></div>
<!-- NOTE TO DEVELOPER: For home/dashboard page, please show 10 listings. -->
<!-- NOTE TO DEVELOPER: For Listings page, please show 50 listings. -->
