<div id="propertyroomdiv" class="group">
  <div class="set">
    <h6 class="full">Rooms <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Resale: Property Data"] %></span></small></h6>
    <fieldset class="pf_fs1">
      <ul class="pf-ul">
        <li class="li--6 required">
          <label><span>Bedrooms:<span class="red_star">*</span></span></label>
          <%= detail.select :bedrooms, @range,{},:class =>"bed1" %><%=  select_tag :bedrooms, "<option>Please select</option>",:class =>"bed2",:style =>"display:none" %>
        </li>
        <% if @property.detail.is_a?(HolidayLeaseDetail) -%>
          <li class="li--6">
            <label><span>Max Persons:</span></label>
            <%= detail.select :max_persons, @range ,{:selected =>@property.detail.max_persons, :style =>"font-family: Arial,sans-serif"}%>&nbsp;
          </li>
        <% end -%>
        <li class="li--6">
          <label><span>Half Bedroom:</span></label>
          <%= detail.check_box :half_bedroom %>
        </li>
        <li class="li--6 required">
          <label><span>Bathrooms:<span class="red_star">*</span></span></label>
          <%= detail.select :bathrooms, @range,{},:class =>"bath1" %><%= select_tag :bathrooms, "<option>Please select</option>",:class =>"bath2",:style =>"display:none"%>&nbsp;
        </li>
        <li class="li--6">
          <label><span>Half Bathroom:</span></label>
          <%= detail.check_box :half_bathroom %>
        </li>
        <li class="li--6">
          <label><span>Carport Spaces:</span></label>
          <%= detail.select :carport_spaces, @range %>
        </li>
        <li class="li--6">
          <label><span>Garage Spaces:</span></label>
          <%= detail.select :garage_spaces, @range %>
        </li>
        <li class="li--6">
          <label><span>Off Street Spaces:</span></label>
          <%= detail.select :off_street_spaces, @range %>
        </li>
        <li class="li--6">
          <label><span>Storage:</span></label>
          <%= detail.check_box :storage %>
        </li>
      </ul>
    </fieldset>
  </div>
</div>