<% content_for :head do %>
  <%= javascript_include_tag 'jquery.utils', 'jquery.strings', 'ui/ui.dropslide', 'ui/ui.timepickr' %>
  <%= stylesheet_link_tag 'ui.core', 'ui.timepickr' %>
  <script type="text/javascript">
    $(function(){
      $('#auction_date').datepicker({dateFormat:'dd/mm/yy'});
      $('#auction_time').timepickr({convention:24});
    });
  </script>
<% end %>

<li class="li--8">
  <label><span>Date:</span></label>
  <%= detail.text_field :date, :id => "auction_date", :class => 'single', :style=>"width:44%;", :size => '13', :value => (( @property.detail.date.blank? ? "" : @property.detail.date.strftime("%d/%m/%Y") ) unless @property.detail.blank?) %>
</li>

<li class="li--8">
  <label><span>Time:</span></label>
  <%= select_tag 'hour', options_for_select(@hours, (@property.detail.time.blank? ? "-" : change_time_to_hour(@property.detail.time))), {:style => "width:22%;"} %>
  <div style="width: 3%; float: left; text-align: center;">:</div>
  <%= select_tag 'min', options_for_select(@mins, (@property.detail.time.blank? ? "-" : change_time_to_min(@property.detail.time))), {:style => "width:21%;"} %>
</li>
