<div id="holidaypricediv" class="group">
  <div id="pricediv" class="set">
    <h6 class="full">Price <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Holiday: Price"] %></span></small></h6>
    <fieldset class="pf_fs11">
      <ul class="pf-ul">
        <li class="li--40 required">
          <label><span>Normal Season<span class="red_star">*</span></span></label>
          <%= form.text_field :price, :class => 'single' %>
          <%= form.select :normal_season_period, @price_per_period, :class => 'select_box' %>
        </li>
        <li class="li--40">
          <label><span>Mid Season</span></label>
          <%= detail.text_field :mid_season_price, :class => 'single' %>
          <%= detail.select :mid_season_period, @price_per_period, :class => 'select_box' %>
        </li>
        <li class="li--40">
          <label><span>High Season</span></label>
          <%= detail.text_field :high_season_price, :class => 'single' %>
          <%= detail.select :high_season_period, @price_per_period, :class => 'select_box' %>
        </li>
        <li class="li--40">
          <label><span>Peak Season</span></label>
          <%= detail.text_field :peak_season_price, :class => 'single' %>
          <%= detail.select :peak_season_period, @price_per_period, :class => 'select_box' %>
        </li>
        <li class="li--40">
          <label><span>Bond:</span></label>
          <%= detail.text_field :bond, :class => 'single' %>
        </li>
        <li class="li--40">
          <label><span>Cleaning Fee:</span></label>
          <%= detail.text_field :cleaning_fee, :class => 'single' %>
        </li>
      </ul>
    </fieldset>
  </div>

  <%= render :partial => 'display_price', :locals => {:form => form} %>

</div><!-- end #holidaypricediv GROUP -->

