<div id="duplistingsdiv" class="group">
  <div class="set">
    <fieldset class="pf_fs11">
      <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a>
        <span class="helplink_info" style="display:none"><%= @help_data["ProjectSale: Duplication"] %></span></small>
      <h6 class="quarter first_tab">Duplication</h6>
      <!-- NOTE TO DEVELOPER:  duplicate can only be created if a listing has already been submitted -->
      <p> <%= detail.select :duplication, @ratings %> </p>
    </fieldset>
  </div>
</div><!-- end #duplistingsdiv GROUP -->

