<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">Release Details <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Resale: Property Data"] %></span></small></h6>
    <fieldset class="pf_fs1">
      <ul class="pf-ul">
        <li class="li--5 required">
          <label><span>Release Name:<span class="red_star">*</span></span></label>
          <%= detail.text_field :release_name, :class => 'single' %>
        </li>
        <li class="li--5">
          <label><span>Release Website:</span></label>
          <%= detail.text_field :release_website, :class => 'single' %>
        </li>
        <li class="li--5">
          <label><span>Headline:</span></label>
          <%= form.text_field :headline, :class => 'single fldrequired' %>
        </li>
        <li class="li--6">
          <label><span>Description:</span></label>
          <%= form.text_area :description, :rows => 8, :cols => 17, :class => 'area' %>
          <div style="clear:both;"></div>
          <div style="float:right;margin-right:25px;">
            <span  id="aspell"><a href="javascript:spellcheck()" name="spell" style="text-decoration:none;" ><%= image_tag "/images/spellcheck.png" %> Check Spelling</a></span>
            <span class="loading"><%= image_tag "/images/ajax-loader.gif" %></span>
          </div>
          <div style="clear:both;"></div>
        </li>
        <li class="li--8">
          <label><span>Start date:</span></label>
          <%= detail.text_field :start_date, :class => 'single datepicker' %>
        </li>
        <li class="li--8">
          <label><span>Completion date:</span></label>
          <%= detail.text_field :completion_date, :class => 'single datepicker' %>
        </li>
        <li class="li--5">
          <label><span>Number of Lots:</span></label>
          <%= detail.text_field :number_of_lots, :class => 'single', :style => 'width:30%' %>
        </li>
        <li class="li--41">
          <label><span>Size range (sqm):</span></label>
          <%= form.text_field :size_from, :class => 'single', :style=>"width:15%;", :onkeypress => "return isNumberKey(event)" %>
          <span style="margin:0 6px;">to</span>
          <%= form.text_field :size_to, :class => 'single', :style=>"width:15%;", :onkeypress => "return isNumberKey(event)" %>
        </li>
        <li class="li--5">
          <label><span>Distance from CBD:</span></label>
          <%= detail.text_field :distance, :class => 'single' %>
        </li>
      </ul>
    </fieldset>
  </div>
</div><!-- end #propertydatadiv GROUP -->
<script type="text/javascript">
  $(function(){
    $(".datepicker").datepicker({
      dateFormat: 'dd/mm/yy'
    });
    $(".loading").hide();
  });

  // check the spelling on a textarea
  function spellcheck(){
    $(".loading").show();
    $("#aspell").hide();
    $("#property_description")
    .spellchecker({
      lang: "en",
      engine: "google",
      suggestBoxPosition: "above"
    })
    .spellchecker("check", function(result){
      // if result is true then there are no badly spelt words
      $(".loading").hide();
      $("#aspell").show();
      if (result) {
        alert('There are no incorrectly spelt words.');
      }
    });
  }
</script>