<div id="pricedisplayingweeklydiv" class="group">

  <div id="pricediv" class="set">
    <h6 class="full">Pricing<small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Price"] %></span></small></h6>
    <fieldset class="pf_fs11">
      <ul class="pf-ul">
        <li class="li--40 required">
          <label><span>Price: <span>(numbers only)</span></span></label>
          <%= form.text_field :price, :class => 'single', :style=>"width:27%;", :onkeypress => "return isNumberKey(event)" %>
          <span style="float:left;margin-right:10px;margin-left:10px;">to</span>
          <%= form.text_field :to_price, :class => 'single', :style=>'margin-right:10px;width:26%;' %>
        </li>
      </ul>
    </fieldset>
  </div> <!-- end #pricedisplayingweeklydiv SET -->

<%= render :partial => 'display_price', :locals => {:form => form} %>
</div>