<div class="listing_tab_nav">
  <div class="classify">
    <ul class="content_group top_padding reduce">
      <li class="list_detail">
        <fieldset class="field_content">
          <legend class="legend_listing_tab"><h3>Listing Details</h3></legend>
          <div class="optnav-group-listing-details <%= 'current-nav-group-listing-details' if params[:action] == 'edit' %> current-listing">
            <%= link_to 'Details', agent_office_property_path(@agent, current_office, @property),
              :class => active_detail_class(params[:controller] == 'properties' && params[:action] == 'edit') %>
          </div>
          <div class="optnav-group-listing-details <%= 'current-nav-group-listing-details' if params[:controller] == 'media' %>">
            <%= link_to 'Media', agent_office_property_media_path(@agent, current_office, @property),
              :class => active_detail_class(params[:controller] == 'media') %>
          </div>
          <div class="optnav-group-listing-details <%= 'current-nav-group-listing-details' if params[:controller] == 'extras' %>">
            <%= link_to 'Extras', agent_office_property_extras_path(@agent, current_office, @property),
              :class => active_detail_class(params[:controller] == 'extras') %>
          </div>
          <div class="optnav-group-listing-details <%= 'current-nav-group-listing-details' if %w(status update_status).include?(params[:action]) %>">
            <%= link_to 'Status', status_agent_office_property_path(@agent, current_office, @property),
              :class => active_detail_class(%w(status update_status).include?(params[:action])) %>
          </div>
           <% unless (@office.limit_access && !current_user.full_access?) || (@office.hide_exports && current_user.allow_property_owner_access?) %>
            <div class="optnav-group-listing-details <%= 'current-nav-group-listing-details' if params[:action] == 'exports2' %> current-listing">
              <%= link_to 'Exports', exports2_agent_office_property_path(@agent, current_office, @property),
                :class => active_marketing_class(params[:action] == 'exports2') %>
            </div>
          <%end%>
        </fieldset>
      </li>
      <li class="marketing">
        <fieldset class="field_content">
          <legend class="legend_listing_tab"><h3>Marketing</h3></legend>
          <% unless (@office.hide_brochure && current_user.allow_property_owner_access?) %>
            <div class="optnav-group-marketing <%= 'current-nav-group-marketing' if params[:controller] == 'brochures' %>">
              <%= link_to 'Brochure', list_agent_office_property_brochures_path(@agent, current_office, @property),
                :class => active_marketing_class(params[:controller] == "brochures") %>
            </div>
          <% end %>

          <%# unless (@office.hide_ebrochure && current_user.allow_property_owner_access?) %>
            <!--<div class="optnav-group-marketing <%#= 'current-nav-group-marketing' if params[:controller] == 'ebrochures' %>">
              <%#= link_to 'Ebrochures', agent_office_ebrochures_path(@agent, @office),
                :class => active_marketing_class(params[:controller] == "ebrochures") %>
            </div>-->
          <%# end %>

          <% unless ["GeneralSale", "LivestockSale", "ClearingSalesEvent", "ClearingSale"].include?(@property.type.to_s) %>
            <div class="optnav-group-marketing <%= 'current-nav-group-marketing' if params[:controller] == 'match_contacts' %>">
              <%= link_to "Match", agent_office_property_match_contacts_path(@agent,current_office,@property), :class =>active_marketing_class(params[:controller] == "match_contacts") %>
            </div>
          <% end %>
          <% if @property.type.to_s == "NewDevelopment" %>
            <div class="optnav-group-marketing <%= 'current-nav-group-marketing' if params[:controller] == 'residential_building_reports' %>">
              <%= link_to "Reports", agent_office_property_residential_building_reports_path(@agent,current_office,@property), :class => active_marketing_class(params[:controller] == "residential_building_reports") %>
            </div>
          <% end %>
        </fieldset>
      </li>

      <li class="other last">
        <fieldset class="field_content">
          <legend class="legend_listing_tab"><h3>Other</h3></legend>
          <% unless (@office.hide_preview && current_user.allow_property_owner_access?) %>
            <div class="optnav-group-other %= 'current-nav-group-other' if params[:controller] == 'properties' && params[:action] == 'preview' %> current-listing">
              <% if params[:controller] == 'properties' && params[:action] == 'preview' %>
                <%= link_to 'Preview', preview_agent_office_property_path(@agent, current_office, @property), :onclick=>"callPreview(this.href);return false;", :class => "current-active-other-link" %>
              <%else%>
                <%= link_to 'Preview', preview_agent_office_property_path(@agent, current_office, @property), :onclick=>"callPreview(this.href);return false;", :class => "current-other-link" %>
              <%end%>
            </div>
          <%end%>
          <%if @office.notes_for_property && current_user.allow_property_owner_access? || !current_user.allow_property_owner_access?%>
            <div class="optnav-group-other <%= 'current-nav-group-other' if params[:controller] == 'property_notes' %>">
              <%= link_to 'Notes', agent_office_property_property_notes_path(@agent, current_office, @property), :class => active_other_class(params[:controller] == "property_notes") %>
            </div>
          <%end%>
          <%if @office.property_owner_access%>
            <% if !current_user.limited_client_access? || @office.control_level3 %>
              <div class="optnav-group-other <%= 'current-nav-group-other' if params[:action] == 'vendor_detail' %>">
                <%= link_to 'Vendor Detail', vendor_detail_agent_office_property_path(@agent, current_office, @property), :class => active_other_class(params[:action] == "vendor_detail") %>
              </div>
            <%end%>
          <%end%>
          <% if @office.activate_vault %>
            <div class="optnav-group-other <%= 'current-nav-group-other' if params[:controller] == 'vaults' %>">
              <%= link_to 'The Vault', agent_office_property_vaults_path(@agent, current_office, @property), :class => active_other_class(params[:controller] == 'vaults') %>
            </div>
          <%end%>
          <% unless ["Commercial", "BusinessSale", "CommercialBuilding"].include?(@property.type.to_s) %>
            <div class="optnav-group-other <%= 'current-nav-group-other' if params[:controller] == 'opentimes' %>">
              <%= link_to 'Opentimes', agent_office_property_opentimes_path(@agent, current_office, @property), :class => active_other_class(params[:controller] == 'opentimes') %>
            </div>
          <%end%>
          <% if ["CommercialBuilding", "NewDevelopment", "LandRelease"].include?(@property.type.to_s) %>
            <div class="optnav-group-other <%= 'current-nav-group-other' if params[:controller] == 'commercial_building_children_listings' || params[:controller] == 'land_release_children_listings' || params[:controller] == 'residential_building_children_listings' %>">
              <% if @property.type == "CommercialBuilding" %>
                <% if request.fullpath == "/agents/#{@agent.id}/offices/#{@office.id}/properties/#{@property.id}/commercial_building_children_listings" %>
                  <%= link_to 'Children Listings', agent_office_property_commercial_building_children_listings_path(@agent, current_office, @property), :class => "current-active-other-link" %>
                <%else%>
                  <%= link_to 'Children Listings', agent_office_property_commercial_building_children_listings_path(@agent, current_office, @property), :class => "current-other-link" %>
                <%end%>
              <% elsif @property.type == "LandRelease" %>
                <% if request.fullpath == "/agents/#{@agent.id}/offices/#{@office.id}/properties/#{@property.id}/land_release_children_listings" %>
                  <%= link_to 'Children Listings', agent_office_property_land_release_children_listings_path(@agent, current_office, @property), :class => "current-active-other-link" %>
                <%else%>
                  <%= link_to 'Children Listings', agent_office_property_land_release_children_listings_path(@agent, current_office, @property), :class => "current-other-link" %>
                <%end%>
              <%else%>
                <% if request.fullpath == "/agents/#{@agent.id}/offices/#{@office.id}/properties/#{@property.id}/residential_building_children_listings" %>
                  <%= link_to 'Children Listings', agent_office_property_residential_building_children_listings_path(@agent, current_office, @property), :class => "current-active-other-link" %>
                <%else%>
                  <%= link_to 'Children Listings', agent_office_property_residential_building_children_listings_path(@agent, current_office, @property), :class => "current-other-link" %>
                <%end%>
              <%end%>
            </div>
          <%else%>
            <div class="optnav-group-other <%= 'current-nav-group-other' if params[:controller] == 'parent_listings' %>">
              <% if request.fullpath == "/agents/#{@agent.id}/offices/#{@office.id}/properties/#{@property.id}/parent_listings" %>
                <%= link_to 'Parent Listing', agent_office_property_parent_listings_path(@agent, current_office, @property), :class => "current-active-other-link" %>
              <%else%>
                <%= link_to 'Parent Listing', agent_office_property_parent_listings_path(@agent, current_office, @property), :class => "current-other-link" %>
              <%end%>
            </div>
          <%end%>
          <% if @property.type.to_s == 'CommercialBuilding' || @property.type.to_s == "Commercial" %>
            <div class="optnav-group-other <%= 'current-nav-group-other' if params[:controller] == 'tenancies' %>">
              <%= link_to 'Tenancy', agent_office_property_tenancies_path(@agent, current_office, @property), :class => active_other_class(params[:controller] == "tenancies") %>
            </div>
          <% end %>
          <% if @property.type.to_s == 'CommercialBuilding' || @property.type.to_s == "Commercial" %>
            <div class="optnav-group-other <%= 'current-nav-group-other' if params[:controller] == 'transactions' %>">
              <%= link_to 'Transaction', agent_office_property_transactions_path(@agent, current_office, @property), :class => active_other_class(params[:controller] == "transactions") %>
            </div>
          <% end %>

          <div class="optnav-group-other <%= 'current-nav-group-other' if params[:controller] == 'property_tasks' %>">
            <%= link_to 'Task', agent_office_property_property_tasks_path(@agent, current_office, @property),
              :class => active_other_class(params[:controller] == 'property_tasks') %>
          </div>

        </fieldset>
      </li>
    </ul>
  </div>
  <div class="clearer"></div>
</div>
