<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">Livestock Data <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Resale: Property Data"] %></span></small></h6>
    <fieldset class="pf_fs1">
      <ul class="pf-ul">
        <%= render :partial => 'livedata', :locals => {:form => form, :detail => detail} %>
        <%= render :partial => 'live_additional_data', :locals => {:form => form, :detail => detail} %>
      </ul>
    </fieldset>
  </div>
</div><!-- end #propertydatadiv GROUP -->
