<% content_for :head do %>
  <%= javascript_include_tag 'jquery.utils', 'jquery.strings', 'ui/ui.dropslide', 'ui/ui.timepickr' %>
  <%= stylesheet_link_tag 'ui.core', 'ui.timepickr' %>
  <script type="text/javascript">
    $(function(){
      $('#auction_date input').datepicker({dateFormat:'dd/mm/yy'});
    });
  </script>
<% end %>

<li class="li--3">
  <label><span>Sale Type:</span></label><%= detail.select :livestock_sale_type_id, @sale_types, :class => 'select_box' %>
</li>

<li class="li--3" id="auction_date" style="display:none;">
  <label><span>Auction Date:</span></label>
  <%= detail.text_field :auction_date, :class => 'single fldrequired', :value => (@property.detail.auction_date.strftime("%d/%m/%Y") rescue '') %>
</li>

<li class="li--3">
  <label><span>Livestock Number:</span></label><%= detail.text_field :livestock_number, :class => 'single fldrequired' %>
</li>

<li class="li--3"><label><span>Animal:</span></label><%= detail.select :animal, %w(Sheep Cattle Horse Goat Camel) %></li>

<li class="li--3">
  <label><span>Breed:</span></label>
  <% livestock_type_id = @property.detail.livestock_type_id.nil? || @property.new_record? ? nil : @property.detail.livestock_type.id %>
  <%= select_tag "livestock_sale_detail[livestock_type_id]", options_for_select(@livestock_types, livestock_type_id) %>
</li>

<li class="li--34 textonly" style="text-align:right;">
  <%= link_to 'Add New',
    new_agent_office_livestock_type_path(@agent, @office)+"?KeepThis=true&TB_iframe=true&height=400&width=600&modal=true",
    :class => "thickbox", :id => "add_new" %> | 
  <%= link_to 'See All', agent_office_livestock_types_path(@agent, @office)+"?KeepThis=true&TB_iframe=true&height=400&width=600&modal=true",
    :class => "thickbox" %> | 
  <%= link_to 'Add New Parent',
    new_agent_office_livestock_type_parent_path(@agent, @office)+"?KeepThis=true&TB_iframe=true&height=400&width=600&modal=true",
    :class => "thickbox" %> | 
  <%= link_to 'See All Parents',
    agent_office_livestock_type_parents_path(@agent, @office)+"?KeepThis=true&TB_iframe=true&height=400&width=600&modal=true",
    :class => "thickbox" %> | 
  <%= link_to 'Refresh', "#",:onclick => "refreshTypes();return false" %> <%= image_tag "/images/ajax-loader.gif", :class => "ajax-loader" %>
</li>
<li class="li--3">
  <label><span>Age:</span></label>
  <%= detail.text_field :age, :class => 'single fldrequired', :onkeypress => "return isNumberKey(event)", :class => 'w20p' %>
  <span style="margin:0 6px; float: left;">to</span>
  <%= detail.text_field :age_to, :class => 'single fldrequired', :onkeypress => "return isNumberKey(event)", :class => 'w20p' %>
  <%= detail.select :age_metric, %w(Years Months), {}, :class => 'select_box w20p' %>
</li>

<li class="li--3">
  <label><span>Sex/Type:</span></label>
  <%= detail.select :livestock_sex_id, @livestock_sexes, :class => 'select_box' %>
</li>

<li class="li--3">
  <label><span>Pregnancy:</span></label>
  <%= detail.select :livestock_pregnancy_id, @livestock_pregnancies, :class => 'select_box' %>
</li>

<li class="li--3">
  <label><span>Frame:</span></label>
  <%= detail.select :livestock_frame_id, @livestock_frames, :class => 'select_box'  %>
</li> 

<li class="li--3">
  <label><span>Weight:</span></label>
  <%= detail.text_field :weight_from, :class => 'single w20p', :onkeypress => "return isNumberKey(event)" %>
  <span style="margin:0 6px; float: left;">to</span>
  <%= detail.text_field :weight_to, :class => 'single w20p', :onkeypress => "return isNumberKey(event)" %>
  <span style="margin:0 6px; float: left;">kg</span>
</li> 

<li class="li--3">
  <label><span>Condition:</span></label>
  <%= detail.select :livestock_condition_id, @livestock_conditions, :class => 'select_box'  %>
</li> 

<li class="li--3">
  <label><span>Quality:</span></label>
  <%= detail.select :livestock_quality_id, @livestock_qualities, :class => 'select_box'  %>
</li> 

<li class="li--3">
  <label><span>Horn Percentage (%):</span></label>
  <%= detail.text_field :horn_percentage, :class => 'single fldrequired', :onkeypress => "return isNumberKey(event)" %>
</li> 

<li class="li--3">
  <label><span>Horn:</span></label>
  <%= detail.select :livestock_horn_id, @livestock_horn_types, :class => 'select_box'  %>
</li> 

<li class="li--3">
  <label><span>Location:</span></label>
  <%= detail.text_field :location, :class => 'single fldrequired' %>
</li>

<li class="li--3">
  <label><span>Tick Status:</span></label>
  <%= detail.select :livestock_tick_status_id, @livestock_tick_statuses, :class => 'select_box' %>
</li>

<li class="li--3">
  <label><span>Vaccinations/Treatment:</span></label>
  <%= detail.text_field :treatment, :class => 'single fldrequired' %>
</li>

<li class="li--3">
  <label><span>HGP:</span></label>
  <%= select_tag 'livestock_sale_detail[hgp]', options_for_select(@livestock_hgp_options, @property.detail.hgp), :class => 'select_box' %>
</li>

<script type="text/javascript">
  function refreshTypes(){
    $.ajax({
      type:"POST",
      data:"ptype="+'<%= @ptype %>'+"&agent_id="+'<%= params[:agent_id] %>'+"&office_id="+'<%= params[:office_id] %>' + "&property_id=" + '<%= params[:id] %>',
      url:escape('<%= refresh_types_agent_office_livestock_types_path %>'),
      dataType: "script",
      beforeSend:function(){
        $(".ajax-loader").show();
      },
      complete: function(){
        $(".ajax-loader").hide();
      }
    });
  };

  function toggleAuctionDate() {
    return function() {
      if (this.selectedOptions.item().value == <%= @sale_type_auction_id %>) {
        $('#auction_date').show();
        $('#auction_date input').datepicker({dateFormat:'dd/mm/yy'});
      } else {
        $('#auction_date').hide();
      }
    }
  }

  $(document).ready(function(){
    $('#livestock_sale_detail_livestock_sale_type_id').bind('changeAuctionDate', toggleAuctionDate());
    $('#livestock_sale_detail_livestock_sale_type_id').trigger('changeAuctionDate');
    $('#livestock_sale_detail_livestock_sale_type_id').change(toggleAuctionDate());
  });
</script>
