<% content_for :head do %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_div { height: 100% }
  </style>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChQSpCH3SdXB4BFphbz9av5KUWhqMQzrk&sensor=false">
  </script>
  <script type="text/javascript">
    var map;
    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(-34.397, 150.644),
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map_div"),
      mapOptions);
    }

    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyChQSpCH3SdXB4BFphbz9av5KUWhqMQzrk&sensor=false&callback=initialize";
      document.body.appendChild(script);
    }

    window.onload = loadScript;
  </script>
  <%= javascript_include_tag 'jquery.jmap.min', 'gmap' %>
  <!-- <%#= javascript_include_tag 'jquery.ui.map' %> -->
<% end -%>
<div id="mappingdiv" class="group">
  <div class="set">
    <h6 class="full">Mapping Coordinates <small class="formgrouplinks"><%= link_to 'Map Above Address', 'Javascript:void(0)', :id => 'submit_geocode' %> | <a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Mapping"] %></span></small></h6>

    <p><strong>Longitude:</strong>&nbsp;&nbsp;<span id='coordinate_latitude'><%= @property.latitude %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Latitude:</strong>&nbsp;&nbsp;<span id='coordinate_longitude'><%= @property.longitude %></span></p>
    <div id="mapcontainer" style="position:relative;">
      <div id='map_div' style="height: 500px; width: auto; position: relative;"></div>
      <% if @property.latitude.blank? and @property.longitude.blank? %>
        <div id="overlay" style="cursor:pointer;">
          <div class="overlay_title" id="overlay_title" style="left:230px;">Map Address</div>
          <div class="overlay_map" id="overlay_map" style="width:580px;"></div>
        </div>
      <% end %>
    </div>

    <p><strong>Note:</strong>If the system does not map the address, please first check the address is entered correctly. If this does not work, simply click on the map where the property is located. You can also use the map controls to zoom in and out.</p>
  </div>
</div> <!-- end #mappingdiv GROUP -->

<script type="text/javascript">
  resize_map_overlay();
  window.onresize = function() {
    resize_map_overlay();
  }

  function resize_map_overlay(){
    var w = $("#map_div").width();
    var nw = (w/2)-50;
    $("#overlay_map").remove();
    $("#overlay").append('<div class="overlay_map" id="overlay_map" style="width:'+w+'px;"></div>');
    $("#overlay_title").css('left', nw+'px');
  }
</script>