<div class="property-summary-data">
  <% if @property.display_price.to_i == 1 && @property.price.present? %>
    <b>Sale Price</b> : <%= property_currency(@property.price) %>
  <% elsif @property.display_price.to_i == 2 && @property.display_price_text.present? %>
    <b>Price</b> : <%= @property.display_price_text %>
  <% end %>
</div>
