<div id="landblockfloorareasdiv" class="group">
  <div class="set">
    <h6 class="full">Land/Block Property Specifications <small>(Whole Numbers Only)</small> <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Land/Block Property Specifications"] %></span></small></h6>
    <fieldset class="pf_fs6">
      <ul class="pf-ul">
        <li class="li--65">
          <label><span>Floor Area: <!-- [<a href="#" title="">calculator</a>] --></span></label>
          <%= detail.text_field :floor_area, :class => 'single', :onblur => 'update_area();', :onkeypress => "return isDesimalKey(event)" %>
          <% if @property.new_record? %>
            <%= select_tag 'project_sale_detail[floor_area_metric]', options_for_select(@floor_area_metrics,@detail.floor_area_metric), :onchange => 'update_area();' %>
          <% else %>
            <%= detail.select :floor_area_metric, @floor_area_metrics, {}, :onchange => 'update_area();',:selected=>@detail.floor_area_metric %>
          <% end %>
        </li>
        <li class="li--66">
          <label><span>Porch/Terrace Area: <!-- [<a href="#" title="">calculator</a>] --></span></label>
          <%= detail.text_field :porch_terrace_area, :class => 'single', :onblur => 'update_area();', :onkeypress => "return isNumberKey(event)" %>
          <% if @property.new_record? %>
            <%= select_tag 'project_sale_detail[porch_terrace_area_metric]', options_for_select(@land_area_metrics, @detail.porch_terrace_area_metric), :onchange => 'update_area();' %>
          <% else %>
            <%= detail.select :porch_terrace_area_metric, @land_area_metrics, {}, :onchange => 'update_area();', :selected =>@detail.porch_terrace_area_metric %>
          <% end %>
        </li>
        <li class="li--67">
          <label><span>Garage Area:<!-- [<a href="#" title="">calculator</a>] --></span></label>
          <%= detail.text_field :garage_area, :class => 'single', :onblur => 'update_area();', :onkeypress => "return isNumberKey(event)" %>
          <% if @property.new_record? %>
            <%= select_tag 'project_sale_detail[garage_area_metric]', options_for_select(@land_area_metrics,@detail.garage_area_metric), :onchange => 'update_area();' %>
          <% else %>
            <%= detail.select :garage_area_metric, @land_area_metrics, {}, :onchange => 'update_area();', :selected =>@detail.garage_area_metric %>
          <% end %>
        </li>
        <li class="li--68">
          <label><span>Total House Area:</span></label>
          <span id="project_sale_total_area" class="single"></span>
        </li>
        <li class="li--69">
          <label><span>Land Width: </span></label>
          <%= detail.text_field :land_width, :class => 'single', :onkeypress => "return isNumberKey(event)" %>
          <% if @property.new_record? %>
            <%= select_tag 'project_sale_detail[land_width_metric]', options_for_select(@length_metrics,@detail.land_width_metric) %>
          <% else %>
            <%= detail.select :land_width_metric, @length_metrics, {:selected =>@detail.land_width_metric} %>
          <% end %>
        </li>
        <li class="li--70">
          <label><span>Land Depth:</span></label>
          <%= detail.text_field :land_depth, :class => 'single', :onkeypress => "return isNumberKey(event)" %>
          <% if @property.new_record? %>
            <%= select_tag 'project_sale_detail[land_depth_metric]', options_for_select(@length_metrics,@detail.land_depth_metric) %>
          <% else %>
            <%= detail.select :land_depth_metric, @length_metrics , {:selected =>@detail.land_depth_metric}%>
          <% end %>
        </li>
        <li class="li--71"><label><span>Development Name: </span></label>
          <% if @property.new_record? %>
            <%= select_tag 'project_sale_detail[project_development_id]', options_for_select(@project_developments, @detail.project_development_id) %>
          <% else %>
            <%= detail.select :project_development_id, @project_developments, {}, :selected =>@detail.project_development_id %>
          <% end %>
          <%= link_to 'Add New', new_development_new_agent_office_property_path(@agent,@office), {:id=>"add_dev", :target => "_blank"} %> &nbsp;<%= link_to 'See All', agent_office_properties_path(@agent,@office)+"?filter=Filter&status=1&type=NewDevelopment",{:id=>"see_dev", :target => "_blank"} %> &nbsp;<a href="javascript:refresh_dev()" name="ref_dev">Refresh</a>&nbsp; <%= image_tag "/images/ajax-loader.gif",:class=>"devname-loader" %>
        </li>
        <li class="li--71"><label><span>Development Category: </span></label>
          <select name="project_sale_detail[new_development_category_id]" id="project_sale_detail_new_development_category_id"><option value="">Please Select</option></select> <%= image_tag "/images/ajax-loader.gif",:class=>"devcat-loader" %>
        </li>
        <li class="li--72"><label><span>Design Type: </span></label>
          <% if @property.new_record? %>
            <%= select_tag 'project_sale_detail[project_design_type_id]', options_for_select(@project_design_types, @detail.project_design_type_id) %>
          <% else %>
            <%= detail.select :project_design_type_id, @project_design_types, {}, :selected =>@detail.project_design_type_id %>
          <% end %>
          <%= link_to 'Add New', new_agent_office_project_design_type_path(@agent,@office)+"?KeepThis=true&TB_iframe=true&height=250&width=600&modal=true",:class =>"thickbox",:id=>"add_dev"%> &nbsp;<%= link_to 'See All', agent_office_project_design_types_path(@agent,@office)+"?KeepThis=true&TB_iframe=true&height=400&width=600&modal=true",:class =>"thickbox",:id=>"see_dev"%>&nbsp; <%= image_tag "/images/ajax-loader.gif",:class=>"design-loader" %>

        </li>
        <li class="li--73"><label><span>Style: </span></label>
          <% if @property.new_record? %>
            <%= select_tag 'project_sale_detail[project_style_id]', options_for_select(@project_styles, @detail.project_style_id) %>
          <% else %>
            <%= detail.select :project_style_id, @project_styles, {}, :selected =>@detail.project_style_id %>
          <% end %>
          <%= link_to 'Add New', new_agent_office_project_style_path(@agent,@office)+"?KeepThis=true&TB_iframe=true&height=250&width=600&modal=true",:class =>"thickbox",:id=>"add_dev"%> &nbsp;<%= link_to 'See All', agent_office_project_styles_path(@agent,@office)+"?KeepThis=true&TB_iframe=true&height=400&width=600&modal=true",:class =>"thickbox",:id=>"see_dev"%>&nbsp; <%= image_tag "/images/ajax-loader.gif",:class=>"style-loader" %>

        </li>
        <li class="li--74">
          <label><span>Land Area:<!-- [<a href="#" title="">calculator</a>] --></span></label>
          <%= detail.text_field :land_area, :class => 'single', :onkeypress => "return isDesimalKey(event)" %>
          <% if @property.new_record? %>
            <%= select_tag 'project_sale_detail[land_area_metric]', options_for_select(@land_area_metrics,@detail.land_area_metric) %>
          <% else %>
            <%= detail.select :land_area_metric, @land_area_metrics,{:selected =>@detail.land_area_metric} %>
          <% end %>
        </li>
      </ul>
    </fieldset>
  </div>
</div><!-- end #landblockfloorareasdiv GROUP -->

<% javascript_tag do %>
  function update_area() {
  params = { floor_area:$("#project_sale_detail_floor_area").val()
  , floor_area_metric:$("#project_sale_detail_floor_area_metric").val()
  , porch_terrace_area:$("#project_sale_detail_porch_terrace_area").val()
  , porch_terrace_area_metric:$("#project_sale_detail_porch_terrace_area_metric").val()
  , garage_area:$("#project_sale_detail_garage_area").val()
  , garage_area_metric:$("#project_sale_detail_garage_area_metric").val()
  };
  $.get("<%= update_area_agent_office_properties_url(@agent,@office) %>",
  params,
  function(data) {
  $("#project_sale_total_area").text(data);
  });
  }
<% end %>
 <script type="text/javascript">
  $(document).ready(function(){
    $(".dev-loader").hide();
    $(".devname-loader").hide();
    $(".devcat-loader").hide();
    $(".design-loader").hide();
    $(".style-loader").hide();
    refresh_dev_cat();
    $("#project_sale_detail_project_development_id").bind("change",(function(){
      refresh_dev_cat();
    }));
  });

  function refresh_dev(){
    var base_ptype = $("#project_sale_detail_project_development_id");
    var controller = "<%= refresh_agent_office_project_developments_path(@agent,@office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      dataType:"JSON",
      beforeSend:function(){
        $(".devname-loader").show();
        base_ptype.attr("disabled","disabled");
      },
      success: function(jsonResponse){
        var eval_json = eval(jsonResponse);
        var option = "";
        if(eval_json == ""){
          option = "<option value =''>Please select</option>";
        }else{
          option = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json.length;i++){
            var to_string = new String("'"+eval_json[i][1]+"'");
            if(eval_json[i][1] == '<%= @detail.project_development_id unless @detail.blank? %>'){option += '<option value ='+to_string+' selected>'+eval_json[i][0]+'</option>'; }else{ option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>'; }
          };
        };
        base_ptype.empty().append(option);
        base_ptype.removeAttr("disabled");
      },
      complete:function(){
        $(".devname-loader").hide();
        base_ptype.removeAttr("disabled");
      }
    });
  }

  function refresh_dev_cat(){
    var property_id = $("#project_sale_detail_project_development_id").attr("value");
    if(property_id){
      var base_ptype = $("#project_sale_detail_new_development_category_id");
      var controller = "/agents/<%= @agent.id %>/offices/<%= @office.id %>/properties/"+property_id+"/new_development_categories/populate";
      $.ajax({
        type: "GET",
        url: escape(controller),
        dataType:"JSON",
        beforeSend:function(){
          $(".devcat-loader").show();
          base_ptype.attr("disabled","disabled");
        },
        success: function(jsonResponse){
          var eval_json = eval(jsonResponse);
          var option = "";
          if(eval_json == ""){
            option = "<option value =''>Please select</option>";
          }else{
            option = "<option value =''>Please select</option>";
            for(var i=0;i < eval_json.length;i++){
              var to_string = new String("'"+eval_json[i][1]+"'");
              if(eval_json[i][1] == '<%= @detail.new_development_category_id unless @detail.blank? %>'){option += '<option value ='+to_string+' selected>'+eval_json[i][0]+'</option>'; }else{ option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>'; }
            };
          };
          base_ptype.empty().append(option);
          base_ptype.removeAttr("disabled");
        },
        complete:function(){
          $(".devcat-loader").hide();
          base_ptype.removeAttr("disabled");
        }
      });
    }
  }

  function refresh_design(){
    var base_ptype = $("#project_sale_detail_project_design_type_id");
    var controller = "<%= refresh_agent_office_project_design_types_path(@agent,@office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      dataType:"JSON",
      beforeSend:function(){
        $(".design-loader").show();
        base_ptype.attr("disabled","disabled");
      },
      success: function(jsonResponse){
        var eval_json = eval(jsonResponse);
        var option = "";
        if(eval_json == ""){
          option = "<option value =''>Please select</option>";
        }else{
          option = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json.length;i++){
            var to_string = new String("'"+eval_json[i][1]+"'");
            if(eval_json[i][1] == '<%= @detail.project_design_type_id unless @detail.blank? %>'){option += '<option value ='+to_string+' selected>'+eval_json[i][0]+'</option>'; }else{ option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>'; }
          };
        };
        base_ptype.empty().append(option);
        base_ptype.removeAttr("disabled");
      },
      complete:function(){
        $(".design-loader").hide();
        base_ptype.removeAttr("disabled");
      }
    });
  }
  function refresh_style(){
    var base_ptype = $("#project_sale_detail_project_style_id");
    var controller = "<%= refresh_agent_office_project_styles_path(@agent,@office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      dataType:"JSON",
      beforeSend:function(){
        $(".style-loader").show();
        base_ptype.attr("disabled","disabled");
      },
      success: function(jsonResponse){
        var eval_json = eval(jsonResponse);
        var option = "";
        if(eval_json == ""){
          option = "<option value =''>Please select</option>";
        }else{
          option = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json.length;i++){
            var to_string = new String("'"+eval_json[i][1]+"'");
            if(eval_json[i][1] == '<%= @detail.project_style_id unless @detail.blank? %>'){option += '<option value ='+to_string+' selected>'+eval_json[i][0]+'</option>'; }else{ option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>'; }
          };
        };
        base_ptype.empty().append(option);
        base_ptype.removeAttr("disabled");
      },
      complete:function(){
        $(".style-loader").hide();
        base_ptype.removeAttr("disabled");
      }
    });
  }
</script>
