<div id="displayingpricediv" class="group">
  <div id="pricingdiv" class="set">
    <h6 class="full">Pricing <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["ProjectSale: Pricing"] %></span></small></h6>
    <fieldset class="pf_fs10">
      <ul class="pf-ul">
        <li class="li--46 required">
          <label><span>Price:<span class="red_star">*</span> <span>(numbers only)</span></span></label>
          <%= form.text_field :price, :class => 'single', :style=> 'width:26%;', :onkeypress => "return isNumberKey(event)" %>
          <span style="float:left;margin-right:10px;margin-left:10px;">to</span>
          <%= form.text_field :to_price, :class => 'single', :style=> 'width:26%;', :onkeypress => "return isNumberKey(event)" %>
        </li>
      </ul>
    </fieldset>
  </div> <!-- end #pricingdiv SET -->

  <%= render :partial => 'display_price', :locals => {:form => form} %>

</div><!-- end #displayingpricediv GROUP -->
