<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">Property Data <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["ProjectSale: Property Data"] %></span></small></h6>
    <fieldset class="pf_fs1">
      <ul class="pf-ul">
        <%= render :partial => 'data', :locals => {:form => form, :detail => detail} %>
        <li class="li--5">
          <label><span>Date of Completion:</span></label>
          <%= detail.text_field :date_of_completion, :class => 'calendar single' %>
        </li>
        <li class="li--6">
          <label><span>Estimated Rental Return:</span></label>
          <%= detail.text_field :estimate_rental_return, :class => 'single' %>
          <%= detail.select :estimate_rental_return_period, @periods %>
        </li>
      </ul>
    </fieldset>
  </div>
</div><!-- end #propertydatadiv GROUP -->

<% javascript_tag do %>

  $(window).load(function () {
    $('#project_sale_detail_date_of_completion').datepicker({dateFormat:'yy-mm-dd'});
  });

<% end %>
