<%= render :partial => "property_summary_data_address" %>
<%= render :partial => "property_summary_data_type" %>
<%= render :partial => "property_summary_data_price" %>
<%= render :partial => "property_summary_data_details" %>
<%= render :partial => "property_summary_data_vendor" %>
<%= render :partial => "property_summary_data_contacts" %>
<%= render :partial => "property_summary_data_features" %>
