<div id="landblockfloorareasdiv" class="group">
  <div class="set">
    <h6 class="full">Land/Block Floor Areas <small>(Whole Numbers Only)</small><small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Land/Block Floor Areas"] %></span></small></h6>
    <fieldset class="pf_fs6">
      <ul class="pf-ul">
        <li class="li--24">
          <label><span>Land Area: <!-- [<a href="#" title="">calculator</a>] --> </span></label>
          <%= detail.text_field :land_area, :class => 'single', :onkeypress => "return isDesimalKey(event)" %>
          <% if @property.new_record? %>
            <% if params[:action] == "residential_lease" %>
              <%= select_tag 'residential_lease_detail[land_area_metric]', options_for_select(@land_area_metrics,@detail.land_area_metric) %>
            <%end %>
            <% if params[:action] == "residential_sale" %>
              <%= select_tag 'residential_sale_detail[land_area_metric]', options_for_select(@land_area_metrics,@detail.land_area_metric) %>
            <%end %>
            <% if params[:action] == "holiday_lease" %>
              <%= select_tag 'holiday_lease_detail[land_area_metric]', options_for_select(@land_area_metrics,@detail.land_area_metric) %>
            <%end %>
          <% else %>
            <%= detail.select :land_area_metric, @land_area_metrics,{:selected => (@detail.land_area_metric unless @detail.blank?)} %>
          <% end %>
        </li>
        <li class="li--25">
          <label><span>Floor Area: <!-- [<a href="#" title="">calculator</a>] -->  </span></label>
          <%= detail.text_field :floor_area, :class => 'single', :onkeypress => "return isDesimalKey(event)" %>
          <% if @property.new_record? %>
            <% if params[:action] == "residential_lease" %>
              <%= select_tag 'residential_lease_detail[floor_area_metric]', options_for_select(@floor_area_metrics,@detail.floor_area_metric) %>
            <%end %>
            <% if params[:action] == "residential_sale" %>
              <%= select_tag 'residential_sale_detail[floor_area_metric]', options_for_select(@floor_area_metrics,@detail.floor_area_metric ) %>
            <%end %>
            <% if params[:action] == "holiday_lease" %>
              <%= select_tag 'holiday_lease_detail[floor_area_metric]', options_for_select(@floor_area_metrics,@detail.floor_area_metric) %>
            <%end %>
          <% else %>
            <%= detail.select :floor_area_metric, @floor_area_metrics,{:selected => (@detail.floor_area_metric unless @detail.blank?)} %>
          <% end %>
        </li>
        <li class="li--26">
          <label><span>Level:</span></label>
          <%= detail.select :number_of_floors, @floors %>
        </li>
        <% if params[:action] == "residential_sale" || @property.type == "ResidentialSale" %>
          <li class="li--26">
            <label><span>Internal Area:</span></label>
            <%= detail.text_field :internal_area, :class => 'single', :onkeypress => "return isDesimalKey(event)" %>
            <span>m2</span>
          </li>
          <li class="li--26">
            <label><span>Balcony Area:</span></label>
            <%= detail.text_field :balcony_area, :class => 'single', :onkeypress => "return isDesimalKey(event)" %>
            <span>m2</span>
          </li>
        <%end%>
      </ul>
    </fieldset>
  </div>
</div><!-- end #landblockfloorareasdiv GROUP -->

