<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">Property Data <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Resale: Property Data"] %></span></small></h6>
    <fieldset class="pf_fs1">
      <ul class="pf-ul">
        <%= render :partial => 'data', :locals => {:form => form, :detail => detail} %>

        <!-- NOTE TO DEVELOPER: Next two lines are not included in Res. Rentals -->
        <li class="li--6">
          <label><span>Tax Rates:</span></label>
          <%= detail.text_field :tax_rate, :class => 'single' %>
          <%= detail.select :tax_rate_period, @periods, :class => 'select_box' %>
        </li>
        <li class="li--6">
          <label><span>Water Rates:</span></label>
          <%= detail.text_field :water_rate, :class => 'single' %>
          <%= detail.select :water_rate_period, @periods, :class => 'select_box' %>
        </li>
        <li class="li--7">
          <label><span>Condo/Strata Fees:</span></label>
          <%= detail.text_field :condo_strata_fee, :class => 'single' %>
          <%= detail.select :condo_strata_fee_period, @periods, :class => 'select_box' %>
        </li>
        <li class="li--8">
          <label><span>Estimated Rental Return:</span></label>
          <%= detail.text_field :estimate_rental_return, :class => 'single' %>
          <%= detail.select :estimate_rental_return_period, @periods, :class => 'select_box' %>
        </li>
        <li class="li--8">
          <label><span>New Construction:</span></label>
          <%= detail.check_box :new_construction, :class => 'single', :style => "width:auto" %>
          <label style="width: 55%;"><span>Specifies if the listed property is a new construction or an established property.</span></label>
        </li>
        <li class="li--8">
          <label><span>Capital growth:</span></label>
          <%= detail.text_field :capital_growth, :class => 'single', :style => "width:auto" %>
        </li>
        <li class="li--8">
          <label><span>Rental yield:</span></label>
          <%= detail.text_field :rental_yield, :class => 'single', :style => "width:auto" %>
        </li>
      </ul>
    </fieldset>
  </div>
</div><!-- end #propertydatadiv GROUP -->
