<div id="pricedisplayingweeklydiv" class="group">

  <div id="pricediv" class="set">
    <h6 class="full">Price<small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Price"] %></span></small></h6>
    <fieldset class="pf_fs11">
      <ul class="pf-ul">
        <li class="li--40 required">
          <label><span>Price: <span>(numbers only)</span></span></label>
          <%= form.text_field :price, :class => 'single', :style=>"width:19%;", :onkeypress => "return isNumberKey(event)" %>
          <span style="float:left;margin-right:10px;margin-left:10px;">to</span>
          <%= form.text_field :to_price, :class => 'single', :style=>'margin-right:10px;width:18%;' %>
          <%= form.select :price_per, @price_per,{:selected => (@property.price_per.blank? ? 1 : @property.price_per.to_i)} %>
        </li>
        <li class="li--42">
          <label><span>Deposit/Bond: <span>(numbers only)</span></span></label>
          <%= detail.text_field :bond, :class => 'single', :style=>"width:60%;", :onkeypress => "return isNumberKey(event)" %>
        </li>
      </ul>
    </fieldset>
  </div> <!-- end #pricedisplayingweeklydiv SET -->

<%= render :partial => 'display_price', :locals => {:form => form} %>

  <div id="availabledatediv" class="set">
    <fieldset class="pf_fs13">
      <ul class="pf-ul">
        <li class="li--46 required"><label><span>Date Available:<span class="red_star">*</span> </span></label>
          <!-- NOTE TO DEVELOPER: Please make this box into a calendar box like on Orbitz.com. Thanks! -->
          <%= detail.text_field :date_available ,:class =>'datepicker single', :style=>"width:60%;", :value => (( @property.detail.date_available.blank? ? "" : @property.detail.date_available.strftime("%d/%m/%Y") ) unless @property.detail.blank?)%>
        </li>
      </ul>
    </fieldset>
  </div> <!-- end #availabledatediv SET -->

</div><!-- end #auctionpricediv GROUP -->
<script type="text/javascript">
  $(document).ready(function(){
    $(".datepicker").datepicker({dateFormat:'dd/mm/yy'});
  });
</script>
