<div id="submissiondiv" class="group">
  <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Submit"] %></span></small>
  <div class="set">
    <%= form.hidden_field :save_status -%>
    <p><strong>Submission</strong> <em> created at <%= @property.created_at.blank? ? "" : @property.created_at.utc.strftime("%Y-%m-%d %H:%M:%S")  %></em></p>
    <p><strong>Submission</strong> <em> updated at <%= @property.updated_at.blank? ? "" : @property.updated_at.utc.strftime("%Y-%m-%d %H:%M:%S")  %></em></p>
    <p><strong>XML Import ID:</strong> <%= @property.xml_id.blank? ? "Not applicable" : @property.xml_id  %></p>
    <% if params[:action]=="edit" || params[:action]=="update" %>
    <% else %>
      <div style="border:2px solid #fe9903;padding:5px;background-color:#fdebd7;">
        <p style="padding:0">Note: If you would like to uncheck the property from being exported to certain portals then you MUST save it as a Draft. Then go into the Exports Section for this listing and uncheck the portals.</p>
      </div>
    <% end %>
    <div class="action_button">
      <button name="btn_submit" class="submit_btn" type="button" value="Submit" onclick="jQuery('#property_save_status').val('Submitted');jQuery('form.propertyform').submit();">
        <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Submit
      </button>

      <span>or&nbsp;&nbsp;</span>

      <button name="btn_save" class="submit_btn" type="button" value="Save" onclick="jQuery('#property_save_status').val('Draft');jQuery('form.propertyform').submit();">
        <img src="/images/icons/famfamfam/disk.png" alt="tick" width="16" height="16"/> Draft
      </button>
      <% unless current_user.allow_property_owner_access? %>
        <%= link_to "Delete Listing", delete_listing_agent_office_properties_path(@agent, @office)+"?property_id=#{@property.id}",:confirm=>"Are you sure?",:method=>:delete ,:style =>"float:right;" if params[:action]=="edit" || params[:action]=="update"%>
      <% end %>
    </div>
    <div class="clearer"></div>
  </div>
</div><!-- end #submissiondiv GROUP -->