<%# Vendor Details %>
<br/><b>Vendors Details</b>
<%= "<br/><b>Contact Name:</b> : #{@vendor_name.join(' ')}" if @vendor_name.map{|x|x.present?}.include?(true).present? %>
<%= "<br/><b>Email:</b> : #{@property.vendor_email}" if @property.vendor_email.present? %>
<%= "<br/><b>Contact Number:</b> : #{@property.vendor_phone}" if @property.vendor_phone.present? %>
<% if @agent_contact.present? %>
  <%= "<br/><b>Home Number:</b> : #{@agent_contact.home_number}" if @agent_contact.home_number.present? %>
  <%= "<br/><b>Work Number:</b> : #{@agent_contact.work_number}" if @agent_contact.work_number.present? %>
  <%= "<br/><b>Mobile Number:</b> : #{@agent_contact.mobile_number}" if @agent_contact.mobile_number.present? %>
<% end %>
