<%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
<% form_for :property, @property, :url => update_assign_agent_office_properties_path(@agent, @office, @property, :come_from => params[:come_from],:id =>@property.id), :html => {:method => 'put'} do |form| %>
  <div id="propertycontactsdiv" class="group">
    <div class="set">
      <h6 class="full">Property Contacts <small class="formgrouplinks"><%= link_to 'Quick Add', new_agent_office_agent_user_path(@agent,@office) ,:onclick =>"quickAdd();return false;"%> | <a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a></small></h6>
      <fieldset class="pf_fs13">
        <ul class="pf-ul">
          <li class="li--46 required">
            <%= form.select :primary_contact_id,  @contacts, {:class => 'select_box',:selected =>@property.primary_contact_id.to_i} %>
          </li>
          <li class="li--47">
            <label><span>Secondary Contact:</span></label>
            <%= form.select :secondary_contact_id, @contacts, :class => 'select_box',:selected => @property.secondary_contact_id %>
          </li>
        </ul>

      </fieldset>
      <%= submit_tag 'Submit' %>
    </div>
  </div><!-- end #propertycontactsdiv GROUP -->
<% end %>
<%= javascript_include_tag 'jquery-1.3.min', 'jquery-ui', 'ui/jquery.flexbox.min', 'jquery.tooltip.pack.js','application'%>
<script type="text/javascript">
  $(document).ready(function(){
    $('#booting', window.parent.document).hide();
  });
  function quickAdd(){
    window.parent.tb_remove_ajax_and_change_location("<%=  translate_url(request.env["HTTP_HOST"]+new_agent_office_agent_user_path(@agent,@office)) %>");
  };
</script>
