<% form_for :property, @property do |f| %>
  <% fields_for "#{@property.class.to_s.underscore}_detail" do |detail| %>
<div id="vtlinksfilesdiv" class="group">
  <div id="virtualtourdiv" class="set full">
  <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a></small>
  <ul class="pf-ul">
    <li class="li--36">
      <label><span>Virtual Tour:</span></label>
      <%= detail.text_field :virtual_tour, :class => 'single' %>
    </li>
  </ul>
  </div>

  <div id="linksfilesdiv" class="set full">
    <fieldset class="pf_fs8">

    <table class="pf-table full">
          <tr class="li--37">
                  <td colspan="2"><label><span>Links:</span></label>
                          <select class="select_box" name="links_box">
                                  <option selected="selected">Please select</option>
                                  <option>Accommodation Website</option>

                                  <option>Bocal Restuarant Guide</option>
                                  <option>Carrys Hairdressing</option>
                                  <option>Dells Finance</option>
                                  <option>Webcam</option>
                          </select> <a href="#" title="">add new</a>
                  </td>


                  <td colspan="2">
                  <label><span>Files:</span></label>
                          <select class="select_box" name="files_box">
                                  <option selected="selected">Please select</option>
                                  <option>Brochure</option>
                                  <option>Floor Plan</option>
                                  <option>Block Plan</option>

                                  <option>City Guide</option>
                                  <option>Car Plan</option>
                          </select> <a href="#" title="">add new</a>
                  </td>
          </tr>

          <tr class="li--38">
                  <td><a href="#" title="" class="delete_btn"><img src="/images/delete.gif" alt="delete" /></a> Property Website</td>

                  <td><a href="#" title="">up</a> | <a href="#" title="">down</a> | <a href="#" title="">edit</a></td>
                  <!-- NOTE TO DEVELOPER: All instances of "delete" should be coded as above. -->

                  <td><a href="#" title="" class="delete_btn"><img src="/images/delete.gif" alt="delete" /></a> Brochure</td>
                  <td><a href="#" title="">up</a> | <a href="#" title="">down</a> | <a href="#" title="">edit</a></td>

          </tr>

          <tr class="li--39">
                  <td><a href="#" title="" class="delete_btn"><img src="/images/delete.gif" alt="delete" /></a> Local Council</td>
                  <td><a href="#" title="">up</a> | <a href="#" title="">down</a> | <a href="#" title="">edit</a></td>


                  <td><a href="#" title="" class="delete_btn"><img src="/images/delete.gif" alt="delete" /></a> Suburb Guide</td>
                  <td><a href="#" title="">up</a> | <a href="#" title="">down</a> | <a href="#" title="">edit</a></td>
          </tr>

          <tr class="li--40">

                  <td><a href="#" title="" class="delete_btn"><img src="/images/delete.gif" alt="delete" /></a> Primary School</td>
                  <td><a href="#" title="">up</a> | <a href="#" title="">down</a> | <a href="#" title="">edit</a></td>

                  <td><a href="#" title="" class="delete_btn"><img src="/images/delete.gif" alt="delete" /></a> Rental Application</td>

                  <td><a href="#" title="">up</a> | <a href="#" title="">down</a> | <a href="#" title="">edit</a></td>
          </tr>

          <tr class="li--41">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>


                  <td><a href="#" title="" class="delete_btn"><img src="/images/delete.gif" alt="delete" /></a> Facilities</td>
                  <td><a href="#" title="">up</a> | <a href="#" title="">down</a> | <a href="#" title="">edit</a></td>
          </tr>

    </table>

  </fieldset>
  </div><!-- end #linksfilesdiv SET -->
  <div class="clearer"></div>
</div><!-- end #linksfilesdiv GROUP -->
<% end %>
<% end %>
<%= javascript_include_tag 'jquery-1.3.min', 'jquery-ui', 'ui/jquery.flexbox.min', 'jquery.tooltip.pack.js','application'%>
