<div class="title_block block">
  <h2 class="page_title"><%= @property.address %></h2>
  <% if session[:search_keyword].present? %>
    <span style="float:right">
      <%= link_to "Back to search results",
        "/agents/#{current_agent.id}/offices/#{current_office.id}/search_results?search_keyword=#{session[:search_keyword]}&commit=Search" %>
    </span>
  <% end %>
</div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<% form_for :property, @property, :url => agent_office_property_path(@agent,@office,@property), :html => {:class => 'propertyform full',
  :id => 'ressalesform', :method => :put} do |f| %>
  <% fields_for @property.detail do |detail| %>
    <% if f.error_messages.present? && detail.error_messages.present? %>
      <%= f.error_messages :class => 'errortext' %>
      <%= detail.error_messages :class => 'errortext' %>
    <% end %>

    <div class="block form half leader" >
      <%= hidden_field_tag :come_from, params[:come_from] %>
      <%= render :partial => 'address', :locals => {:form => f} %>
      <%= render :partial => 'livesale_data', :locals => {:form => f, :detail => detail} %>
      <%= render :partial => 'map', :locals => {:form => f} %>
    </div><!-- end .half BLOCK (left side) -->

    <div class="block form half follower" style="width: 48.5% !important"><!-- start .half BLOCK (right side) -->
      <%= render :partial => 'features_list' %>
      <%= render :partial => 'attachments', :locals => {:detail => detail} %>
      <%= render :partial => 'gensale_price', :locals => {:form => f, :detail => detail} %>
      <%= render :partial => 'contact_vendor', :locals => {:form => f} %>
      <%= render :partial => 'submit', :locals => {:form => f} %>
    </div><!-- end .half BLOCK (right side) -->

  <% end # for fields_for block %>
<% end # for form_for block %>
