<h1>Editing property</h1>

<% form_for :property, @property, :url => agent_office_property_path(@agent,@office,@property), :html => {:method => :put} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :primary_contact_id %><br />
    <%= f.text_field :primary_contact_id %>
  </p>
  <p>
    <%= f.label :secondary_contact_id %><br />
    <%= f.text_field :secondary_contact_id %>
  </p>
  <p>
    <%= f.label :vendor_id %><br />
    <%= f.text_field :vendor_id %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :deal_type %><br />
    <%= f.text_field :deal_type %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :display_address %><br />
    <%= f.check_box :display_address %>
  </p>
  <p>
    <%= f.label :display_price %><br />
    <%= f.check_box :display_price %>
  </p>
  <p>
    <%= f.label :display_price_text %><br />
    <%= f.text_field :display_price_text %>
  </p>
  <p>
    <%= f.label :headline %><br />
    <%= f.text_field :headline %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %><%= f.select :price_per, @periods %>
  </p>
  <p>
    <%= f.label :property_type %><br />
    <%= f.text_field :property_type %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :street_number %><br />
    <%= f.text_field :street_number %>
  </p>
  <p>
    <%= f.label :suburb %><br />
    <%= f.text_field :suburb %>
  </p>
  <p>
    <%= f.label :town_village %><br />
    <%= f.text_field :town_village %>
  </p>
  <p>
    <%= f.label :unit_number %><br />
    <%= f.text_field :unit_number %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', agent_office_property_path(@agent,@office,@property) %> |
<%= link_to 'Back', agent_office_properties_path(@agent,@office) %>
