<%= render 'property_header' %>
<% form_for :property, @property, :url => agent_office_property_path(@agent,@office,@property), :html => {:class => 'propertyform full', :id => 'bizsalesform', :method => :put} do |f| %>
  <% fields_for @property.detail do |detail| %>

    <% unless f.error_messages.blank? && detail.error_messages.blank? -%>
      <%= f.error_messages :class => 'errortext' %>
      <%= detail.error_messages :class => 'errortext' %>
    <% end -%>

    <div class="block form half leader" >
      <%= render :partial => 'parent_listing', :locals => {:form => f} %>
      <%= render :partial => 'address', :locals => {:form => f} %>
      <%= render :partial => 'bizsale_data', :locals => {:form => f, :detail => detail} %>
      <%= render :partial => 'energy', :locals => {:detail => detail} %>
      <%= render :partial => 'map' %>
    </div><!-- end .half BLOCK (left side) -->


    <div class="block form half follower" style="width: 48.5% !important"><!-- start .half BLOCK (right side) -->
      <%= render :partial => 'bizsale_premise', :locals => {:detail => detail} %>
      <%= render :partial => 'bizsale_area', :locals => {:detail => detail} %>
      <%= render :partial => 'bizsale_franchise', :locals => {:detail => detail} %>
      <%= render :partial => 'bizsale_staff', :locals => {:detail => detail} %>
      <%= render :partial => 'bizsale_finacial', :locals => {:detail => detail} %>
      <%= render :partial => 'features_list' %>
      <%= render :partial => 'attachments', :locals => {:detail => detail} %>
      <%= render :partial => 'bizsale_price', :locals => {:form => f, :detail => detail} %>
      <%= render :partial => 'contact_vendor', :locals => {:form => f} %>
      <%= render :partial => 'submit', :locals => {:form => f} %>
    </div><!-- end .half BLOCK (right side) -->
  <% end %>
<% end %>
