<style type="text/css" >
  .export-url-left{float:left;}
  .export-url-right{float:right;}
  .export-url-block{width:500px;}
  .export-url-title{width:250px;float:left;}
  .export-url-title2{width:180px;float:left;}
  .boldf{font-weight:bold;background-color:#f0f0f0;}
</style>
<div class="title_block block"><h2 class="page_title"><%= @property.address %></h2></div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div class="title_block block">
  <h4><span class="lite">*You can only uncheck portals for non-activated Draft listings. Once the status of a property changes from Draft you can never uncheck portals for that property.
  <br/>*Exports are automatically performed every 2 hours on the hour (eg 12.00pm, 2.00pm etc) so any properties updated since the last export will be sent to the portals checked below.</span></h4>
</div>
<div id="clientdiv" class="block accounts full">
<% form_for :property, @property, :url => update_exports_agent_office_properties_path(@agent, @office, @property,:id=>@property.id, :come_from => params[:come_from] ), :html => {:method => 'put',:class =>"status_form"}  do |f| %>
  <%= f.error_messages :class => 'errortext' %>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <h6>National </h6>
    <div class="set">
      <h5><i>Residential Portals</i></h5>
       <fieldset class="pf_fs2">
        <div class="wraper_export">
         <%= @residential_portals %>
        </div>
      </fieldset>
    </div><br/>
    <div class="set">
      <h5><i>Holiday Portals</i></h5>
       <fieldset class="pf_fs2">
        <div class="wraper_export">
          <%= @holiday_portals %>
          <%= @additional_holiday_portals %>
        </div>
      </fieldset>
    </div><br/>
    <div class="set">
      <h5><i>Commercial & Business Portals</i></h5>
       <fieldset class="pf_fs2">
        <div class="wraper_export">
          <%= @commercial_business_portals %>
          <%= @addtional_commercial_business_portals %>
        </div>
      </fieldset>
    </div>
    <div class="clearer"></div>
  </div>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <h6>International </h6>
       <fieldset class="pf_fs2">
        <div class="wraper_export">
         <%= @international_portal %>
        </div>
      </fieldset>
    </div>
    <div class="clearer"></div>
  </div>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <h6>Social Networking </h6>
       <fieldset class="pf_fs2">
        <div class="wraper_export">
         <%= @social_networking %>
        </div>
      </fieldset>
    </div>
    <div class="clearer"></div>
  </div>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <h6>Real Estate Search Engines</h6>
       <fieldset class="pf_fs2">
        <div class="wraper_export"><%= @real_estate_search_engines %></div>
      </fieldset>
    </div>
    <div class="clearer"></div>
  </div>

  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <h6>Marketing & CRM Based Software</h6>
       <fieldset class="pf_fs2">
        <div class="wraper_export"><%= @marketing_crm_based_software %></div>
      </fieldset>
    </div>
    <div class="clearer"></div>
  </div>

  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <h6>Domains</h6>
       <fieldset class="pf_fs2">
        <div class="wraper_export"><%= @domain_exports %></div>
      </fieldset>
    </div>
    <div class="clearer"></div>
  </div>

  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="update" type="submit" value="Update" style="float:right;" class="submit_btn">
            Submit
            </button>
          </td>
        </tr>
      </table>
  </div>
  <div class="block form group" style="background-color:#E1EBF5;">
      <h6>Instant Property Portal Export</h6>
      <div class="set full leader">
        <div class="group">
          <span style="float:left;"><p>Click Export Property if you would like this property to be exported to portals now. If you don't press this link the property will be sent in the next automated export.</p></span>
          <span style="float:right;"><p><%= link_to 'Export Property', export_portals_agent_office_property_path(@agent, @office, @property) %></p></span>
          <div style="clear:both;"></div>
        </div>
      </div>
  </div>
  <div class="block form group" style="background-color:#E1EBF5;">
      <h6>Property Urls</h6>
      <div class="set full leader">
        <% if @property.agent.developer_id == 186 %>
          <div class="group" style="font-size:10pt;">
            <div class="export-url-left">
              <div class="export-url-block">
                <div class="export-url-title">Office Website:</div>
                <div>
                  <% unless @office.url.blank? %>
                    <a href="http://<%= @office.url.to_s.gsub('http://','') + "/" + @property.id.to_s %>" name="office_website" target="_blank"><%= @property.id.to_s %></a>
                  <% else %>
                    There is no website data
                  <% end %>
                </div>
              </div>
              <div class="export-url-block">
                <div class="export-url-title">
                  <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                    Commercialrealestate.com.au:
                  <% else %>
                    Domain.com.au:
                  <% end %>
                </div>
                 <div>

                   <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                      <% unless @property.cre_id.blank? %>
                        <a href="http://www.commercialrealestate.com.au/<%= @property.cre_id %>" name="com_website" target="_blank"><%= @property.cre_id %></a>
                      <% else %>
                        check back soon.......
                      <% end %>
                   <% else %>
                      <% unless @property.domain_id.blank? %>
                        <a href="http://www.domain.com.au/<%= @property.domain_id %>" name="office_website" target="_blank"><%= @property.domain_id %></a>
                      <% else %>
                        check back soon.......
                      <% end %>
                   <% end %>
                 </div>
              </div>
              <div class="export-url-block">
                <div class="export-url-title">
                  <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                    Realcommercial.com.au:
                  <% else %>
                    Realestate.com.au:
                  <% end %>
                </div>
                <div>
                <% unless @property.rca_id.blank? %>
                   <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                      <a href="http://www.realcommercial.com.au/<%= @property.rca_id %>" name="re_website" target="_blank"><%= @property.rca_id %></a>
                   <%  else %>
                     <a href="http://www.realestate.com.au/<%= @property.rca_id %>" name="re_website" target="_blank"><%= @property.rca_id %></a>
                   <% end %>
                 <% else %>
                      check back soon.......
                 <% end %>
                </div>
              </div>
            </div>
            <div class="export-url-right">
              <div class="export-url-block">
                <div class="export-url-title2">Exclusive url:</div>
                <div>
                  <% unless @office.url.blank? %>
                    <a href="http://<%= @office.url.to_s.gsub('http://','') + "/" + @property.id.to_s %>" name="office_website" target="_blank"><%= @office.url.to_s + "/" + @property.id.to_s %></a>
                  <% else %>
                    There is no website data
                  <% end %>
                </div>
              </div>
              <div class="export-url-block">
                <div class="export-url-title2">&nbsp;</div>
                <div>&nbsp;</div>
              </div>
              <div class="export-url-block">
                <div class="export-url-title2">Conjunctional Url:</div>
                <div>
                <% unless @property.rca_id.blank? %>
                   <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                      <a href="http://www.knightfrank.com.au/00<%= @property.rca_id %>" name="re_website" target="_blank">www.knightfrank.com.au/00<%= @property.rca_id %></a>
                   <%  else %>
                      <a href="http://www.realestate.com.au/<%= @property.rca_id %>" name="re_website" target="_blank">www.realestate.com.au/<%= @property.rca_id %></a>
                   <% end %>
                 <% else %>
                      check back soon.......
                 <% end %>
                </div>
              </div>
            </div>
            <div style="clear:both;"></div>
          </div>
        <% else %>
          <!-- non developer 186 -->
          <div class="group" style="font-size:10pt;">
            <div><div class="export-url-title">Office Website:</div><div>
                <% unless @office.url.blank? %>
                  <a href="http://<%= @office.url.to_s.gsub('http://','') + "/" + @property.id.to_s %>" name="office_website" target="_blank"><%= @office.url.to_s + "/" + @property.id.to_s %></a>
                <% else %>
                  There is no website data
                <% end %>
              </div></div>
            <div>
              <div class="export-url-title">
                <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                  Commercialrealestate.com.au:
                <% else %>
                  Domain.com.au:
                <% end %>
              </div>
             <div>
               <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                  <% unless @property.cre_id.blank? %>
                   <a href="http://www.commercialrealestate.com.au/<%= @property.cre_id %>" name="com_website" target="_blank"><%= @property.cre_id %></a>
                  <% else %>
                    check back soon.......
                  <% end %>
               <% else %>
                  <% unless @property.domain_id.blank? %>
                    <a href="http://www.domain.com.au/<%= @property.domain_id %>" name="office_website" target="_blank"><%= @property.domain_id %></a>
                  <% else %>
                    check back soon.......
                  <% end %>
               <% end %>
             </div>
            </div>
            <div>
            <div class="export-url-title">
              <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                 Realcommercial.com.au:
              <% else %>
                 Realestate.com.au:
              <% end %>
            </div>
            <div>
            <% unless @property.rca_id.blank? %>
               <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                  <a href="http://www.realcommercial.com.au/<%= @property.rca_id %>" name="re_website" target="_blank"><%= @property.rca_id %></a>
               <%  else %>
                  <a href="http://www.realestate.com.au/<%= @property.rca_id %>" name="re_website" target="_blank"><%= @property.rca_id %></a>
               <% end %>
             <% else %>
                  check back soon.......
             <% end %>
            </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>

  <div class="block form group" style="background-color:#E1EBF5;">
      <h6>Export Reports</h6>
      <div class="set full leader">
        <div class="group">
          <table cellpadding="0" cellspacing="0" class="full" id="table_add_domain">
            <tr>
              <td class="field first_cell boldf">Portal</td>
              <td class="field boldf">ID</td>
              <td class="field boldf">Last Sent</td>
              <td class="field boldf">File Name</td>
              <td class="field boldf">Report Back</td>
              <td class="field boldf">Report Status</td>
              <td class="field boldf">&nbsp;</td>
            </tr>
            <% unless @property.export_reports.blank? %>
             <% @property.export_reports.each do |export_report| %>
              <tr>
                <td class="field first_cell"><%= export_report.portal %></td>
                <td class="field"><%= export_report.portal_property_id %></td>
                <td class="field"><%= export_report.last_sent.utc.strftime("%H:%M %d/%m/%Y") %></td>
                <td class="field"><%= export_report.filename %></td>
                <td class="field"><%= export_report.report_back.utc.strftime("%H:%M %d/%m/%Y") %></td>
                <td class="field"><%= export_report.report_status %></td>
                <td class="field">Re-Send&nbsp;|&nbsp;History</td>
              </tr>
             <% end %>
            <% end %>
          </table>
        </div>
      </div>
  </div>
<% end %>
</div>
<script type="text/javascript">
  function update_checkbox(c){
    if(c.value == 1 || c.value == 71 || c.value == 72 ){
      $("#addtional_71").attr('checked', c.checked);
      $("#addtional_72").attr("checked",c.checked);
      $("#ck1").attr("checked",c.checked);
    }

    if(c.value == 2 || c.value == 69 || c.value == 73 ){
      $("#addtional_69").attr('checked', c.checked);
      $("#addtional_73").attr("checked",c.checked);
      $("#ck2").attr("checked",c.checked);
    }

    if(c.value == 8 || c.value == 75 || c.value == 76 || c.value == 70 ){
      $("#addtional_75").attr('checked', c.checked);
      $("#addtional_76").attr("checked",c.checked);
      $("#addtional_70").attr("checked",c.checked);
      $("#ck8").attr("checked",c.checked);
    }

    if(c.value == 22 || c.value == 74 ){
      $("#addtional_74").attr("checked",c.checked);
      $("#ck22").attr("checked",c.checked);
    }
  }
</script>