<td colspan="2">
  <table>
    <% if $property.type.to_s == "Commercial" && $property.deal_type.to_s == "Lease" %>
      <tr class="li--8 contact">
        <% if $controller == "tenancies" %>
          <td class="ajax-contact-edit">Company:</td>
        <%else%>
          <td class="ajax-contact">Company:</td>
        <%end%>
        <td><%= text_field_tag "purchaser_contact[company]", "#{$agent_contact.company.blank? ? '' : $agent_contact.company}" , :class => "single", :style => "width:250px" %></td></tr>
    <%end%>
    <tr class="li--8 contact">
      <% if $controller == "tenancies" %>
        <td class="ajax-contact-edit"><b>First Name:</b></td>
        <% elsif $controller == "transactions" %>
        <td class="ajax-contact-edit" style="width:37.5%"><b>First Name:</b></td>
      <%else%>
        <td class="ajax-contact"><b>First Name:</b></td>
      <%end%>
      <td><%= text_field_tag "purchaser_contact[first_name]", "#{$agent_contact.first_name.blank? ? '' : $agent_contact.first_name}",:class => "single", :style => "width:250px" %></td></tr>
    <tr class="li--8 contact">
      <% if ["transactions", "tenancies"].include?($controller) %>
        <td class="ajax-contact-edit"><b>Last Name:</b></td>
      <%else%>
        <td class="ajax-contact"><b>Last Name:</b></td>
      <%end%>
      <td><%= text_field_tag "purchaser_contact[last_name]", "#{$agent_contact.last_name.blank? ? '' : $agent_contact.last_name}",:class => "single", :style => "width:250px" %></td></tr>
    <tr class="li--8 contact">
      <% if ["transactions", "tenancies"].include?($controller) %>
        <td class="ajax-contact-edit">Email:</td>
      <%else%>
        <td class="ajax-contact">Email:</td>
      <%end%>
      <td><%= text_field_tag "purchaser_contact[email]", "#{$agent_contact.email.blank? ? '' : $agent_contact.email}",:class => "single", :style => "width:250px" %></td></tr>
    <% unless $property.type.to_s == "Commercial" && $property.deal_type.to_s == "Lease" %>
      <tr class="li--8 contact">
        <% if ["transactions", "tenancies"].include?($controller) %>
          <td class="ajax-contact-edit">Home Number:</td>
        <%else%>
          <td class="ajax-contact">Home Number:</td>
        <%end%>
        <td><%= text_field_tag "purchaser_contact[home_number]", "#{$agent_contact.home_number.blank? ? '' : $agent_contact.home_number}",:class => "single", :style => "width:250px" %></td></tr>
      <tr class="li--8 contact"><td class="ajax-contact">Work Number:</td><td><%= text_field_tag "purchaser_contact[work_number]", "#{$agent_contact.work_number.blank? ? '' : $agent_contact.work_number}",:class => "single", :style => "width:250px" %></td></tr>
    <%end%>
    <tr class="li--8 contact">
      <% if $property.type.to_s == "Commercial" && $property.deal_type.to_s == "Lease" %>
        <% if $controller == "tenancies" %>
          <td class="ajax-contact-edit" >Mobile</td>
        <%else%>
          <td class="ajax-contact">Mobile</td>
        <%end%>
      <%else%>
        <% if $controller == "transactions" %>
          <td class="ajax-contact-edit">Mobile Number:</td>
        <%else%>
          <td class="ajax-contact">Mobile Number:</td>
        <%end%>
      <%end%>
      <td><%= text_field_tag "purchaser_contact[mobile_number]", "#{$agent_contact.mobile_number.blank? ? '' : $agent_contact.mobile_number}",:class => "single", :style => "width:250px" %></td></tr>
    <tr class="li--8 contact">
      <% if $property.type.to_s == "Commercial" && $property.deal_type.to_s == "Lease" %>
        <% if $controller == "tenancies" %>
          <td class="ajax-contact-edit">Phone:</td>
        <%else%>
          <td class="ajax-contact">Phone:</td>
        <%end%>
      <%else%>
        <% if $controller == "transactions" %>
          <td class="ajax-contact-edit">Contact Number:</td>
        <%else%>
          <td class="ajax-contact">Contact Number:</td>
        <%end%>
      <%end%>
      <td><%= text_field_tag "purchaser_contact[contact_number]", "#{$agent_contact.contact_number.blank? ? '' : $agent_contact.contact_number}",:class => "single", :style => "width:250px" %></td></tr>
  </table>
</td>
