<html>
  <head>
    <title>Commercial Loop CRM property map</title>
<%= javascript_include_tag 'jquery-1.3.min' %>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_div { height: 100% }
  </style>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChQSpCH3SdXB4BFphbz9av5KUWhqMQzrk&sensor=false">
  </script>
  <script type="text/javascript">
    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(-34.397, 150.644),
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map_div"),
      mapOptions);
    }

    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyChQSpCH3SdXB4BFphbz9av5KUWhqMQzrk&sensor=false&callback=initialize";
      document.body.appendChild(script);
    }

    window.onload = loadScript;
  </script>
<%= javascript_include_tag 'jquery.jmap.min', 'thickbox' %>
<script type="text/javascript">
  $(function(){
       if (GBrowserIsCompatible()) {
       setTimeout( function() {
          var aus_center = [-25, 133];
          var map_center;
          var map_zoom = 4;
          if($("#coordinate_latitude").text() != "") {
            map_center = [$("#coordinate_latitude").text(), $("#coordinate_longitude").text()]
            map_zoom = 15;
          }else{
            map_center = aus_center
          }

         jQuery('#map_div').jmap('init', {'mapType':'map',
            'mapCenter': map_center,
            'mapZoom': map_zoom,
            'mapControl':'large'
          },
          function(map, element, options){
              jQuery('#coordinate_latitude').text('<%= number_with_precision(@property.latitude) %>');
              jQuery('#coordinate_longitude').text('<%= number_with_precision(@property.longitude) %>');
              jQuery('#map_div').jmap('AddMarker',{
                'pointLatLng' : [<%= @property.latitude %>, <%= @property.longitude %>],
                'pointHTML': 'Original Place.'
                });
              GEvent.addListener(map, "click", function(overlay, latlng, overlaylatlng){
                if(latlng != undefined ){
                    jQuery('#coordinate_latitude').text(latlng.lat().toFixed(3));
                    jQuery('#coordinate_longitude').text(latlng.lng().toFixed(3));
                    jQuery('#property_latitude').val(latlng.lat());
                    jQuery('#property_longitude').val(latlng.lng());
                    map.clearOverlays();
                    jQuery('#map_div').jmap('AddMarker',{
                      'pointLatLng': [latlng.lat(), latlng.lng()],
                      'pointHTML': 'Here I am!',
                      'centerMap': true
                      });
                  };
                });
            });
         }, 0.1 );
       }

      });
</script>
</head>
<body>
  <div id="mappingdiv" class="group">
    <div class="set">
      <h3 class="full">Mapping Coordinates </h3>
    <h6><strong>Latitude:</strong>&nbsp;&nbsp;<span id='coordinate_latitude'><%= number_with_precision @property.latitude %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Longtitude:</strong>&nbsp;&nbsp;<span id='coordinate_longitude'><%= number_with_precision @property.longitude %></span></h6>
      <p id="mapcontainer"><div id='map_div' style="width: 400px; height: 398px; position: relative; background-color: rgb(229, 227, 223);"></div></p>
      <p><small><strong>Note:</strong>If the system does not map the address, please first check the address is entered correctly. If this does not work, simply click on the map where the property is located. You can also use the map controls to zoom in and out.</small></p>
      <% form_for :property, @property, :url => gmap_agent_office_property_path(@agent, @office, @property) do |f| %>
        <%= f.hidden_field :latitude %>
        <%= f.hidden_field :longitude %>
        <%= button_to_function 'Submit', "$('form').submit(); self.parent.tb_remove();" %>
      <% end %>
    </div>
  </div> <!-- end #mappingdiv GROUP -->
</body>
  <%if request.post? %>
    <script type="text/javascript">
      $(document).ready(function(){
        parents();
      });
      function parents(){
        window.parent.tb_remove_ajax();
      };
    </script>
  <%end%>
</html>
