<%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
<%= javascript_include_tag 'jquery-1.3.min', 'jquery-ui', 'ui/jquery.flexbox.min', 'jquery.tooltip.pack.js','application'%>
<%= javascript_include_tag 'jquery-1.3.min', 'jquery-ui', 'ui/jquery.flexbox.min', 'jquery.tooltip.pack.js','thickbox','application'%>
<%= javascript_include_tag 'ui/ui.datepicker', :cache =>'base_datepicker'%>
<%= javascript_include_tag 'jquery.utils', 'jquery.strings', 'ui/ui.dropslide', 'ui/ui.timepickr' %>
<%= stylesheet_link_tag 'ui.core', 'ui.timepickr' %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#booting', window.parent.document).hide();
    $("#booting").hide();
  });
  $(function(){
    $('#auction_date').datepicker({dateFormat:'yy-mm-dd'});
    $('#auction_time').timepickr({convention:24});
  });
</script>

<% form_for :property, @property, :url => update_price_agent_office_properties_path(@agent,@office,@property, :come_from => params[:come_from],:id =>@property.id ), :html => {:method => :put}  do |form| %>
  <% fields_for @property.detail do |detail| %>
    <%if @property.class.to_s == "ResidentialLease" %>
      <div id="pricediv" class="set">
        <h6 class="full">Price<small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a></small></h6>
        <fieldset class="pf_fs11">
            <p class="li--40 ">
              <label><span>Price: <span>(numbers only)</span></span></label>
              <%= form.text_field :price, :class => 'single',:size =>26 %> <%= form.select :price_per, @price_per,{:selected =>1} %>
            </p>
            <p class="li--42">
              <label><span>Deposit/Bond: <span>(numbers only)</span></span></label>
              <%= detail.text_field :bond, :class => 'single' %>
            </p>
        </fieldset>
      </div> <!-- end #pricedisplayingweeklydiv SET -->
      <div id="availabledatediv" class="set">
        <fieldset class="pf_fs13">
          <ul class="pf-ul">
            <li class="li--46 required"><label><span>Date Available:<span class="red_star">*</span> </span></label>
              <!-- NOTE TO DEVELOPER: Please make this box into a calendar box like on Orbitz.com. Thanks! -->
              <%= detail.text_field :date_available %>
            </li>
          </ul>
        </fieldset>
      </div> <!-- end #availabledatediv SET -->
    <% elsif @property.class.to_s == "ResidentialSale" %>
      <div id="auctiondatetimediv" class="set full">
        <h6 class="full">Auction Date &amp; Time <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a></small></h6>
        <fieldset class="pf_fs10">
          <table class="pf-table">
            <tr class="li--38">
              <th class="first_cell field">
                <label><span>Forthcoming Auction:</span></label>
              </th>
              <td class="value" colspan="3">
                <%= detail.check_box :forthcoming_auction %>
              </td>
            </tr>
            <tr class="li--39">
              <th class="first_cell field">
                <label><span>Auction Place:</span></label>
              </th>
              <td class="value" colspan="3">
                <%= detail.text_field :auction_place, :class => 'single' %>
              </td>
            </tr>
            <tr>
              <th class="first_cell field">Auction Date/Time:</th>
              <td class="value" colspan="3">
                <%= detail.text_field :auction_date, :id => "auction_date", :class => 'single' %>
                <%= detail.text_field :auction_time, :id => "auction_time", :class => 'single', :size => '13' %>
              </td>
            </tr>
          </table>
        </fieldset>
      </div> <!-- end #auctionpricediv SET -->
      <div id="pricingdiv" class="set">
        <h6 class="full">Pricing</h6>
        <fieldset class="pf_fs11">
          <ul class="pf-ul">
            <li class="li--42 required">
              <label><span>Price/Search Price:<span class="red_star">*</span></span></label>
              <%= form.text_field :price, :class => 'single' %>
            </li>
          </ul>
        </fieldset>
      </div> <!-- end #pricingdiv SET -->
    <% elsif @property.class.to_s == "BusinessSale" %>
      <div id="pricingdiv" class="set full">
        <h6 class="full">Pricing</h6>
        <fieldset class="pf_fs11">
          <table class="pf-table">
            <tr class="li--42">
              <th class="first_cell field required"><label><span>Price/Search Price:<span class="red_star">*</span></span></label></th>
              <td class="value">
                <%= form.text_field :price, :class => 'single', :size => 20 %>
              </td>
              <td class="value required" colspan="2"><span>include tax:<span class="red_star">*</span> </span>
                <%= detail.select :price_include_tax, @tax_options_bool %>
              </td>
            </tr>
            <tr class="li--43">
              <th class="first_cell field required"><label><span>Price Include Stock:<span class="red_star">*</span></span></label></th>
              <td class="value" colspan="3">
                <%= detail.select :price_include_stock, @tax_options_bool %>
              </td>
            </tr>
            <tr class="li--44">
              <th class="first_cell field"><label><span>Approximate Stock Value:</span></label></th>
              <td class="value">
                <%= detail.text_field :approximate_stock_value, :class => 'single' %>
              </td>
            </tr>
          </table>
        </fieldset>
      </div> <!-- end #pricingdiv SET -->
    <% elsif @property.class.to_s == "ProjectSale" %>
      <div id="pricingdiv" class="set">
        <h6 class="full">Pricing <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a></small></h6>
        <fieldset class="pf_fs11">
          <ul class="pf-ul">
            <li class="li--82 required">
              <label><span>Price: <span>(numbers only)<span class="red_star">*</span></span></span></label>
              <%= form.text_field :price, :class => 'single' %>
            </li>
          </ul>
        </fieldset>
      </div> <!-- end #pricingdiv SET -->
    <% elsif @property.class.to_s == "Commercial" %>
      <%if @property.has_attribute?("price2")%>
        <h6>Pricing Sales</h6>

        <div id="pricingdiv" class="set">
          <h6 class="full">Pricing</h6>
          <fieldset class="pf_fs11">
            <table class="pf-table">
              <tr class="li--42">
                <th class="first_cell field required"><label><span>Price/Search Price:<span class="red_star">*</span> </span></label></th>
                <td class="value">
                  <%= form.text_field :price2, :size => 20, :class => 'single' %>
                </td>
                <td class="value required" colspan="2"><label>include tax:<span class="red_star">*</span> </label>
                  <%= form.select :price2_include_tax, @tax_options %>
                </td>
              </tr>
            </table>
          </fieldset>
        </div>
      <%end%>
      <h6 class="full">Pricing Lease <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a></small></h6>
      <fieldset class="pf_fs10">
        <table class="pf-table">
          <tr class="li--41">
            <th class="first_cell field leader required"><label><span>Price: (numbers only)<span class="red_star">*</span> </span></label></th>
            <td class="value">
              <%= form.text_field :price, :size => 20, :class => 'single' %>
              <%if @property.has_attribute?("price_period")%>
                <%= form.select :price_period, @price_periods %>
              <%end%>
            </td>
            <td class="value required"><label>Include tax:<span class="red_star">*</span> </label>
              <%= detail.select :price_include_tax, @tax_options %>
            </td>
          </tr>
          <!-- These two fields are required ONLY if "Lease" or "Both" is selected -->
          <tr class="li--42">
            <th class="first_cell field leader"><label><span>Bond: </span></label></th>
            <td class="value" colspan="2">
              <%= detail.text_field :bond, :size => 20, :class => 'single' %>
            </td>
          </tr>
          <tr class="li--43">
            <th class="first_cell field leader"><label><span>Annual Outgoings: </span></label></th>
            <td class="value">
              <%= detail.text_field :annual_outgoings, :size => 20, :class => 'single' %>
            </td>
            <td class="value"><label>Include tax: </label>
              <%= detail.select :annual_outgoings_include_tax, @tax_options %>
            </td>
          </tr>
        </table>
      </fieldset>

    <% end %>
    <div id="displayingpricingdiv" class="set">
      <h6 class="full">Displaying Price</h6>
      <table>
        <tr>
          <th class="first_cell">
            <label><span>Display Above Price:</span></label>
          </th>
          <td class="value">
            <%= form.radio_button :display_price, Property::DISPLAY_PRICE %>
          </td>
        </tr>
        <tr>
          <th class="first_cell">
            <label><span>Display text in place of Price:</span></label>
          </th>
          <td class="value">
            <%= form.radio_button :display_price, Property::DISPLAY_PRICE_TEXT ,:style=>"width:14px;min-width:0px"%> <%= form.text_field :display_price_text, :class => 'single',:onclick => "jQuery('#property_display_price_2').attr('checked', true);",:style=>"width:100px;min-width:100px"  %>
          </td>
        </tr>
        <tr>
          <th class="first_cell">
            <label><span>Do not display any price details:</span></label>
          </th>
          <td class="value">
            <%= form.radio_button :display_price, Property::DONT_DISPLAY_PRICE %>
          </td>
        </tr>
      </table>
    </div> <!-- end #displayingpricingdiv SET -->
  <% end %>
  <%= form.submit "Submit" %>
<% end %>
