<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Agents <%= @title %></title>
    <%= javascript_include_tag 'jquery-1.3.min', 'jquery-ui', 'ui/jquery.flexbox.min', 'jquery.tooltip.pack.js','application'%>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        $('#booting', window.parent.document).hide();
        $("#fm_twitter").submit(function(e){
          if($("#tw_username").val() == ""){
            $("#tw_username").select().focus();
            if($("#val_username").length < 1){
              $("#validate").append("<p id='val_username'> Username can not be blank</p>");
            };
            return false;
          }else{
            $("#val_username").remove();
          };
          if($("#tw_password").val() == ""){
            $("#tw_password").select().focus();
            if($("#val_password").length < 1){
              $("#validate").append("<p id='val_password'> Password can not be blank</p>");
            };
            return false;
          }else{
            $("#val_password").remove();
          };
          if($("#tweet").val() == ""){
            $("#tweet").select().focus();
            if($("#val_tweet").length < 1){
              $("#validate").append("<p id='val_tweet'> Tweet can not be blank</p>");
            };
            return false;
          }else{
            $("#val_tweet").remove();
          };
          if($("#tw_username").val() != "" && $("#tw_password").val() != "" && $("#tweet").val() != "" ){
            return true
          };
        });
      });
    </script>
  </head>
  <body>
    <div id="helpdiv" class="block help">
      <div class='group'>
        <p id="validate" class="help_message" style="color: red"> </p>
      </div>
    </div>
    <div id ="msg_twitter">
      <fieldset>
        <legend>Share on Twitter</legend>
        <table>
          <% form_tag tweet_agent_office_property_path(@agent, @office, @property),{:id => "fm_twitter"} do %>
            <tr>
              <td>Twitter Username</td>
              <td><%=  text_field_tag :tw_username %></td>
            </tr>
            <tr>
              <td>Twitter Password</td>
              <td><%=  password_field_tag :tw_password %></td>
            </tr>
            <tr>
              <td>Tweet</td>
              <td><%=  text_area_tag :tweet,@tweet,:size => "25x10" %></td>
            </tr>
            <tr><td colspan="2"><%= submit_tag "Share On Twitter",{:id => "twittering"  }  %></td></tr>
          <%end%>
        </table>
      </fieldset>
      <fieldset>
        <legend>Need Help?</legend>
        <ul>
          <li>Use this to post to your Twitter account</li>
          <li style="color: red">We do not store your Twitter username and password</li>
        </ul>
      </fieldset>
    </div>
  </body>
</html>


