<p>
  <b>Primary contact:</b>
  <%=h @property.primary_contact_id %>
</p>

<p>
  <b>Secondary contact:</b>
  <%=h @property.secondary_contact_id %>
</p>

<p>
  <b>Vendor:</b>
  <%=h @property.agent_user_id %>
</p>

<p>
  <b>Country:</b>
  <%=h @property.country %>
</p>

<p>
  <b>Deal type:</b>
  <%=h @property.deal_type %>
</p>

<p>
  <b>Description:</b>
  <%=h @property.description %>
</p>

<p>
  <b>Display address:</b>
  <%=h @property.display_address %>
</p>

<p>
  <b>Display price:</b>
  <%=h @property.display_price %>
</p>

<p>
  <b>Display price text:</b>
  <%=h @property.display_price_text %>
</p>

<p>
  <b>Headline:</b>
  <%=h @property.headline %>
</p>

<p>
  <b>Price:</b>
  <%=h @property.price %>
</p>

<p>
  <b>Property type:</b>
  <%=h @property.property_type %>
</p>

<p>
  <b>State:</b>
  <%=h @property.state %>
</p>

<p>
  <b>Street:</b>
  <%=h @property.street %>
</p>

<p>
  <b>Street number:</b>
  <%=h @property.street_number %>
</p>

<p>
  <b>Suburb:</b>
  <%=h @property.suburb %>
</p>

<p>
  <b>Town village:</b>
  <%=h @property.town_village %>
</p>

<p>
  <b>Unit number:</b>
  <%=h @property.unit_number %>
</p>


<%= link_to 'Edit', edit_agent_office_property_path(@agent,@office,@property) %> |
<%= link_to 'Back', agent_office_properties_path(@agent,@office) %>
