<script type="text/javascript">
  $(document).ready(function(){
    var query = '<%= @contact_name %>';
    var ff = jQuery("#purchaser_name").flexbox('<%= auto_complete_agent_office_properties_path(@agent, @office) %>',{
      customParameters: {q: query},
      method: 'post',
      watermark: query,
      showArrow: false,
      inputClass: 'single',
      minChars: 2,
      width:250,
      queryDelay: 300,
      paging:false,
      highlightMatches:false,
      containerClass:'autopopup',
      onSelect: function(){
        $('#agent_name').attr('value', this.getAttribute('val'));
        $('#purchaser_agent_contact_id').attr('value', this.getAttribute('hiddenValue'));
        if($("#property_status_8").is(":checked")){
          if($("#purchaser_agent_contact_id").val() != ""){
            $("#on_hold_only").attr("value", true);
            $("#add_contact").hide();
            $("#view_contact").show();
          }
          if($("#mark_for_deleted").val() == "true"){
            $("#mark_for_deleted").val("false");
          }
        }
        if($("#property_status_2").is(":checked") || $("#property_status_3").is(":checked")){
          if($("#purchaser_agent_contact_id").val() != ""){
            $("#on_hold_only").attr("value", true);
            $("#add_contact").hide();
            $("#view_contact").show();
          }
          if($("#mark_for_deleted").val() == "true"){
            $("#mark_for_deleted").val("false");
          }
        }
      }
    });
    jQuery("#indicator1").ajaxStart(function(){
      jQuery(this).show();
    });
    jQuery("#indicator1").ajaxStop(function(){
      $("#purchaser_name_ctr").width(250).css({"top":"20px"});
      jQuery(this).hide();
    });
    $("#transaction_date").live('change', function(){
      $("#transaction_settlement_date").val($(this).val());
    })
    $("#transaction_settlement_date").live('change', function(){
      $("#transaction_date").val($(this).val());
    })
  })

</script>
<script type="text/javascript">
  $(document).ready(function(){
<% if @add_new_contact == "true" %>
      add_contact()
<% else %>
      remove_contact()
<% end %>

    $(".datepicker").datepicker({
<% if @property.type.to_s == "Commercial" %>
        dateFormat: 'yy-mm-dd'
<%else%>
        dateFormat: 'mm/dd/yy'
<%end%>
    });
<% if @property.status == 2 %>
      $("#purchaserdiv").show();
      $("#transactiondiv").show();
      $("#external_agent_div").show();
<% elsif @property.status == 3 %>
      <% unless @tenancy_record.blank? %>
        $("#purchaser_name_input").val('<%= @contact %>');
      <%end%>
      $("#purchaserdiv").show();
      $("#tenant_info_div").show();
      $("#tenancydiv").show();
      $("#external_agent_div").show();
      $("#lease_expiry_div").show();
<% end %>
<% if @property.status == 8 %>
      $("#purchaserdiv").show();
      $("td.non-on-hold").css("display", "none");
<%end%>
  });
</script>

<div class="title_block block"><h2 class="page_title"><%= @property.address %></h2></div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div id="clientdiv" class="block accounts full">
  <% form_for :purchaser, @purchaser, :url => update_status_agent_office_property_path(@agent, @office, @property, :come_from => params[:come_from] ), :html => {:method => 'put',:class =>"status_form"}  do |f| %>
    <% fields_for @purchaser_contact do |contact_fields| %>
      <%= contact_fields.error_messages :class => 'errortext' %>
      <%= f.error_messages :class => 'errortext' %>

      <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
        <div class="set">
          <h6>Property Status </h6>
          <fieldset class="pf_fs2">
            <table class="pf-table" style="width:500px;border:none;margin:0;">
              <tr class="li--8">
                <td><%= radio_button "property", "status", Property::STATUS[:available], {:disabled => is_property_draft_for(@office, @property, current_user), :onclick => "hidepurchaser();" } %> <label for="property_status_1">Available</label></td>
                <% unless ["GeneralSale", "LivestockSale", "ClearingSale", "ClearingSalesEvent"].include?(@property.type.to_s) %>
                <td><%= radio_button "property", "status", Property::STATUS[:underoffer], {:disabled => is_property_draft_for(@office, @property, current_user), :onclick => "hidepurchaser();" } %> <label for="property_status_5">Under Offer</label></td>
                <%end%>
                <td>
                  <% if (!@property.lease? || (@property.is_a?(Commercial) && @property.deal_type == "Sale" ))  %>
                    <div><%= radio_button "property", "status", Property::STATUS[:sold], {:disabled => is_property_draft_for(@office, @property, current_user), :onclick => "showpurchaser();" } %> <label for="property_status_2">Sold</label>
                    </div>
                  <% elsif (!@property.lease? || (@property.is_a?(Commercial) && @property.deal_type == "Both" )) %>
                    <div><%= radio_button "property", "status", Property::STATUS[:sold], {:disabled => is_property_draft_for(@office, @property, current_user), :onclick => "showpurchaser();" } %> <label for="property_status_2">Sold</label>
                    </div>
                    <td>
                    <div><%= radio_button "property", "status", Property::STATUS[:leased], {:disabled => is_property_draft_for(@office, @property, current_user), :onclick => "showpurchaser();" } %> <label for="property_status_3">Leased</label>
                    </div>
                  </td>
                  <% elsif (@property.lease? || (@property.is_a?(Commercial) && @property.deal_type == "Lease" )) %>
                    <div><%= radio_button "property", "status", Property::STATUS[:leased], {:disabled => is_property_draft_for(@office, @property, current_user), :onclick => "showpurchaser();" } %> <label for="property_status_3">Leased</label>
                    </div>
                  <% end %>
                </td>
                <td><%= radio_button "property", "status", Property::STATUS[:withdrawn], {:disabled => is_property_draft_for(@office, @property, current_user), :onclick => "hidepurchaser();" } %> <label for="property_status_4">Withdrawn</label></td>
                <td><%= radio_button "property", "status", Property::STATUS[:draft], {:disabled => is_property_draft_for(@office, @property, current_user), :onclick => "hidepurchaser();" } %> <label for="property_status_6">Draft</label>
                </td>
                <td>
                    <div>
                      <%= radio_button "property", "status", Property::STATUS[:off_market], {:disabled => is_property_draft_for(@office, @property, current_user), :onclick => "hidepurchaser();" } %> <label for="property_status_7">Off Market</label>
                    </div>
                  </td>
                <% if @property.type == "ResidentialSale" %>
                  <td>
                    <div>
                      <%= radio_button "property", "status", Property::STATUS[:on_hold], {:disabled => is_property_draft_for(@office, @property, current_user), :onclick => "showpurchaser();" } %> <label for="property_status_8">On Hold</label>
                    </div>
                  </td>
                <%end%>
              </tr>
            </table>
            <div id="purchaserdiv" style="display:none;">
              <br/>
              <% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
                <h6 class="full">Rental Details </h6>
              <% else %>
                <h6 class="full">Purchaser Details </h6>
              <% end %>
              <table  class="pf-table" style="border:none;width:900px;">
                <tr class="li--8">
                  <td>
                    <table class="pf-table" style="border:none;width:575px;">
                      <tr class="li--8">
                        <td style="width: 41.5%">Contact Name:</td>
                        <td>
                          <%= f.hidden_field :agent_contact_id, :class => "single" %>
                          <%= hidden_field_tag "agent_name", @contact_name %>
                          <%= hidden_field_tag "add_new_contact" %>
                          <%= hidden_field_tag "edit_selected_contact" %>
                          <%= hidden_field_tag "edit_this_contact" %>
                          <%= hidden_field_tag "on_hold_only" %>
                          <%= hidden_field_tag "mark_for_deleted" %>
                          <%= hidden_field_tag "edit_tenancy_contact" %>
                          <%= hidden_field_tag "property[is_allowed]", "true" %>
                          <table>
                            <tr>
                              <td style="width:260px;padding:0">
                                <div id="purchaser_name">
                                </div>
                              </td>
                              <td>
                                <img src="/images/search-loader.gif" id="indicator1" style="display:none;"/>
                                <a href="javascript:add_contact()" id="add_contact" style="color:blue;font-weight:none;" class="add-edit"><%= !@purchaser.blank? ? (@purchaser.agent_contact_id.blank? ? "Add" : "Edit") : "Add"  %></a>
                                <a href="javascript:remove_contact()" id="remove_contact" style="display:none;color:blue;font-weight:none;">Remove</a>
                                <a href="javascript:get_agent_contact()" id="view_contact" style="display:none;color:blue;font-weight:none;">View</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr class="test-contact">
                        <% if @property.type.to_s == "Commercial" && ["Lease","Both"].include?(@property.deal_type.to_s) %>
                        <tr class="li--8 contact"><td>Company:</td><td><%= contact_fields.text_field :company, :class => "single", :style => "width: 255px" %></td></tr>
                      <%end%>
                      <tr class="li--8 contact"><td>First Name:</td><td><%= contact_fields.text_field :first_name, :class => "single", :style => "width: 255px"  %></td></tr>
                      <tr class="li--8 contact"><td>Last Name:</td><td><%= contact_fields.text_field :last_name, :class => "single", :style => "width: 255px"  %></td></tr>
                      <tr class="li--8 contact"><td>Email:</td><td><%= contact_fields.text_field :email, :class => "single", :style => "width: 255px"  %></td></tr>
                      <% unless @property.type.to_s == "Commercial" && @property.deal_type.to_s == "Lease" %>
                        <tr class="li--8 contact"><td>Home Number:</td><td><%= contact_fields.text_field :home_number, :class => "single", :style => "width: 255px"  %></td></tr>
                        <tr class="li--8 contact"><td>Work Number:</td><td><%= contact_fields.text_field :work_number, :class => "single", :style => "width: 255px"  %></td></tr>
                      <%end%>
                      <tr class="li--8 contact">
                        <% if @property.type.to_s == "Commercial" &&  ["Lease","Both"].include?(@property.deal_type.to_s) %>
                          <td>Mobile:</td>
                        <%else%>
                          <td>Mobile Number:</td>
                        <%end%>
                        <td><%= contact_fields.text_field :mobile_number, :class => "single", :style => "width: 255px"  %></td></tr>
                      <tr class="li--8 contact">
                        <% if @property.type.to_s == "Commercial" && ["Lease","Both"].include?(@property.deal_type.to_s) %>
                          <td>Phone:</td>
                        <%else%>
                          <td>Contact Number:</td>
                        <%end%>
                        <td><%= contact_fields.text_field :contact_number, :class => "single", :style => "width: 255px"  %></td></tr>
                </tr>
              </table>
              </td>
              <% unless @property.type.to_s == "Commercial" %>
                <td class="non-on-hold">
                  <table class="pf-table" style="border:none;">
                    <% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
                      <tr class="li--8"><td><b>Lease Date:</b></td><td>
                          <%= text_field_tag 'property[date]', @property.leased_on, :class => 'single datepicker', :value => ( @property.leased_on.blank? ? "" : @property.leased_on.strftime("%m/%d/%Y")) %>
                        </td></tr>
                    <% else %>
                      <tr class="li--8"><td><b>Sold Date:</b></td><td>
                          <%= text_field_tag 'property[date]', @property.sold_on, :class => 'single datepicker', :value => ( @property.sold_on.blank? ? "" : @property.sold_on.strftime("%m/%d/%Y")) %>
                        </td></tr>
                    <% end %>

                    <% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
                      <tr class="li--8"><td><b>Lease Amount:</b></td><td>
                          <%= text_field_tag 'property[amount]', @property.leased_price, :class => 'single' %>
                        </td></tr>
                    <% else %>
                      <tr class="li--8"><td><b>Sold Amount:</b></td><td>
                          <%= text_field_tag 'property[amount]', @property.sold_price, :class => 'single' %>
                        </td></tr>
                    <% end %>

                    <tr class="li--8"><td>
                        <% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
                          Display Lease Price:
                        <% else %>
                          Display Sold Price:
                        <% end %>
                      </td><td><%= check_box_tag 'property[display_price]', 1, @property.show_price %></td></tr>
                  </table>
                </td>
              <%end%>
              </tr>
              </table>
            </div>

            <% if @property.type.to_s == "Commercial" && %w(Sale Both).include?(@property.deal_type) %>
              <div id="transactiondiv" style="display:none;">
                <fieldset class="pf_fs5">
                  <ul class="pf-ul" id="address_container">
                    <li class="li--15"><label class="transaction">Sold Date<span class="red_star">*</span></label>
                      <%= text_field_tag 'transaction[date]', @date, :class => 'single datepicker', :style => "width:255px" %>
                    </li>
                    <li class="li--15"><label class="transaction">Sold Amount<span class="red_star">*</span></label>
                      <%= text_field_tag 'transaction[amount]', @amount, :class => 'single', :style => "width:255px" %>
                    </li>
                    <li class="li--15"><label class="transaction">Display Sold Price</label>
                      <%= check_box_tag 'transaction[display_price]' %>
                    </li>
                  </ul>
                </fieldset>
                <br/>
                <h6 class="full">Transaction Information</h6>
                <fieldset class="pf_fs5">
                  <ul class="pf-ul" id="address_container">
                    <li class="li--15"><label class="transaction">Method of Sale</label>
                      <%= select_tag 'transaction[method_of_sale]', options_for_select([['Please select', nil],['For Sale', 'For Sale'],['Auction', 'Auction'], ['Sale by Negotiation', 'Sale by Negotiation'], ['Tender', 'Tender'], ['Expression of Interest', 'Expression of Interest'],['Offers to Purchase', 'Offers to Purchase']]) %>
                    </li>
                    <li class="li--15"><label class="transaction">Investment</label>
                      <%= select_tag 'transaction[investment]', options_for_select([['Please select', nil],['Yes', true],['No', false]]) %>
                    </li>
                    <li class="li--15"><label class="transaction">Fees</label>
                      $ <%= text_field_tag 'transaction[fee]', @fee, :class => 'single transaction-input' %>
                    </li>
                    <li class="li--15"><label class="transaction">Settlement Date</label>
                      <%= text_field_tag 'transaction[settlement_date]', @settlement_date, :class => 'single datepicker transaction-input' %>
                    </li>
                    <li class="li--15"><label class="transaction">Contract Link</label>
                      <%= text_field_tag 'transaction[contract_link]', @contract_link, :placeholder => "http://", :class => 'single transaction-input' %>
                    </li>
                    <li class="li--15"><label class="transaction">Office Note</label>
                      <%= text_area_tag 'transaction[office_note]', @office_note, :class => 'single', :style => 'margin: 0px; height: 95px; width: 255px;' %>
                    </li>
                    <li class="li--15"><label class="transaction">Salesperson</label>
                      <%= select_tag 'transaction[transaction_sales_person]', options_for_select(@sales_person) %>
                    </li>
                  </ul>
                </fieldset>
              </div>

              <div id="external_agent_div" style="display:none;">
                <br/>
                <h6 class="full">External Agent(optional)</h6>
                <fieldset class="pf_fs5">
                  <ul class="pf-ul" id="address_container">
                    <li class="li--15"><label class="transaction">Company</label>
                      <%= text_field_tag 'transaction[external_agent_company]', @external_agent_company, :class => 'single transaction-input' %>
                    </li>
                    <li class="li--15"><label class="transaction">Sales Person</label>
                      <%= text_field_tag 'transaction[external_agent_sales_person]', @external_agent_sales_person, :class => 'single transaction-input' %>
                    </li>
                    <li class="li--15"><label class="transaction">Conjunction Fees</label>
                      $ <%= text_field_tag 'transaction[conjunction_fee]', @conjunction_fee, :class => 'single transaction-input' %>
                    </li>
                    <li class="li--15"><label class="transaction">Scale of Fees</label>
                      <%= text_field_tag 'transaction[scale_of_fee]', @scale_of_fee, :class => 'single transaction-input' %>
                    </li>
                  </ul>
                </fieldset>
              </div>
            <%end%>

            <% if @property.type.to_s == "Commercial" && ["Lease","Both"].include?(@property.deal_type.to_s) %>
              <div id="tenancydiv" style="display:none;">
                <br/>
                <h6 class="full">Transaction Information</h6>
                <fieldset class="pf_fs5">
                  <ul class="pf-ul" id="address_container" style="width: 627px">
                    <li class="li--15"><label class="tenancy">Rent (PSM)</label>
                      $ <%= text_field_tag 'tenancy[rent]', @rent, :class => 'single transaction-input' %>
                    </li>
                    <li class="li--65" style="width:700px"><label class="tenancy">Net/Gross: Outgoings (PSM)</label>
                      <span style="float:left;margin-right: 10px"><%= text_field_tag 'tenancy[outgoing]', @outgoing, :class => 'single' %>$</span>
                      <%= select_tag 'tenancy[net_gross]', options_for_select([['Please select', nil],['Net', 'Net'],['Gross','Gross']]), {:style => "width:110px;min-width:110px !important"} %>
                    </li>
                    <li class="li--15"><label class="tenancy">Total Rental (PSM)</label>
                      $ <%= text_field_tag 'tenancy[total_rental_psm]', @total_rent_psm, :class => 'single transaction-input' %>
                    </li>
                    <li class="li--15 required"><label class="tenancy">Total Rental (PA)<span class="red_star">*</span></label>
                      $ <%= text_field_tag 'tenancy[total_rental_pa]', @total_rent_pa, :class => 'single transaction-input' %>
                    </li>
                    <li class="li--15"><label class="tenancy">Lease Term</label>
                      <%= text_field_tag 'tenancy[lease_term]', @lease_term, :class => 'single transaction-input' %>
                    </li>
                    <li class="li--15"><label class="tenancy">Options</label>
                      <%= text_field_tag 'tenancy[option]', @options, :class => 'single transaction-input' %>
                    </li>
                    <li class="li--15"><label class="tenancy">Start Date</label>
                      <%= text_field_tag 'tenancy[start_date]', @start_date, :class => 'single datepicker transaction-input' %>
                    </li>
                    <li class="li--15"><label class="tenancy">Expiry Date</label>
                      <%= text_field_tag 'tenancy[end_date]', @end_date, :class => 'single datepicker transaction-input' %>
                    </li>
                    <li class="li--15"><label class="tenancy">Fees</label>
                      $ <%= text_field_tag 'tenancy[fee]', @tenancy_fee, :class => 'single transaction-input' %>
                    </li>
                    <li class="li--15"><label class="tenancy">Lease Signed</label>
                      <%= text_field_tag 'tenancy[lease_signed]', @lease_signed, :class => 'single datepicker transaction-input' %>
                    </li>
                    <li class="li--15"><label class="tenancy">Contract Link</label>
                      <%= text_field_tag 'tenancy[contract_link]', @contract_link, :placeholder => "http://", :class => 'single transaction-input' %>
                    </li>
                    <li class="li--15"><label class="tenancy">Office Note</label>
                      <%= text_area_tag 'tenancy[office_note]', @office_note, :class => 'single', :style => 'margin: 0px; height: 130px; width: 255px;' %>
                    </li>
                    <li class="li--15"><label class="tenancy">Agent</label>
                      <%= select_tag 'tenancy[sales_person]', options_for_select(@sales_person) %>
                    </li>
                  </ul>
                </fieldset>
              </div>

              <div id="external_agent_div" style="display:none;">
                <br/>
                <h6 class="full">External Agent(optional)</h6>
                <fieldset class="pf_fs5">
                  <ul class="pf-ul" id="address_container">
                    <li class="li--15"><label class="tenancy_short">Company</label>
                      <%= text_field_tag 'tenancy[external_agent_company]', @tenancy_external_agent_company, :class => 'single transaction-input' %>
                    </li>
                    <li class="li--15"><label class="tenancy_short">Sales Person</label>
                      <%= text_field_tag 'tenancy[external_agent_sales_person]', @tenancy_external_agent_sales_person, :class => 'single transaction-input' %>
                    </li>
                    <li class="li--15"><label class="tenancy_short">Conjunction Fees</label>
                      $ <%= text_field_tag 'tenancy[conjunction_fee]', @tenancy_conjunction_fee, :class => 'single transaction-input' %>
                    </li>
                    <li class="li--15"><label class="tenancy_short">Scale of Fees</label>
                      <%= text_field_tag 'tenancy[scale_of_fee]', @tenancy_scale_of_fee, :class => 'single transaction-input' %>
                    </li>
                  </ul>
                </fieldset>
              </div>

              <div id="lease_expiry_div" style="display:none;">
                <br/>
                <h6 class="full">Lease Expiry Diary</h6>
                <fieldset class="pf_fs5">
                  <ul class="pf-ul" id="address_container">
                    <li class="li--15"><label class="tenancy_short">Reminder Alert</label>
                      <%= text_field_tag 'tenancy[reminder_alert]', @reminder_alert, :class => 'single datepicker transaction-input' %>
                    </li>
                    <li class="li--15"><label class="tenancy_short">Agent</label>
                      <%= select_tag 'tenancy[lease_expiry_sales_person]', options_for_select(@sales_person) %>
                    </li>
                  </ul>
                </fieldset>
              </div>
            <%end%>
            <% unless is_property_draft_for(@office, @property, current_user) == "disabled"  %>
              <table class="pf-table" style="border:none;">
                <tr class="li--8">
                  <td class="value" colspan="5">
                    <button name="update" type="submit" value="Update" style="float:right;" class="submit_btn">
                      Submit
                    </button>
                  </td>
                </tr>
              </table>
            <% end %>
          </fieldset>
        </div>
        <div class="clearer"></div>
      </div>
    <% end %>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
$("#purchaser_name_input").css("width", "255px");
<% if (@property.type.to_s == "Commercial" && ["Sale", "Both"].include?(@property.deal_type)) %>
  <% if @display_price == true %>
        $("#transaction_display_price").attr('checked', 'checked');
  <%else%>
        $("#transaction_display_price").removeAttr('checked');
  <%end%>
<%end%>
<% unless @property.purchaser.blank? %>
  <% if @property.status == '7' || !@property.purchaser.agent_contact_id.blank? %>
        $("#view_contact").hide();
        $("#add_contact").show();
  <%end%>
<%end%>
<% unless @sales_record.blank? %>
      $("#transaction_method_of_sale").find('option[value=<%=@method_of_sale%>]').attr('selected', 'selected');
      $("#transaction_investment").find('option[value=<%=@investment%>]').attr('selected', 'selected');
      $("#transaction_transaction_sales_person").find('option[value=<%=@transaction_sales_person%>]').attr('selected', 'selected');
<%else%>
      $("#transaction_transaction_sales_person").find('option[value=<%=@property.primary_contact_id%>]').attr('selected', 'selected');
<%end%>
<% unless @tenancy_record.blank? %>
      $(".non-on-hold").hide();
      $("#tenancy_net_gross").find('option[value=<%=@net_gross%>]').attr('selected', 'selected');
      $("#tenancy_sales_person").find('option[value=<%=@tenancy_transaction_sales_person%>]').attr('selected', 'selected');
      $("#tenancy_lease_expiry_sales_person").find('option[value=<%=@lease_expiry_sales_person%>]').attr('selected', 'selected');
<%else%>
      $("#tenancy_sales_person").find('option[value=<%=@property.primary_contact_id%>]').attr('selected', 'selected');
      $("#tenancy_lease_expiry_sales_person").find('option[value=<%=@property.primary_contact_id%>]').attr('selected', 'selected');
<%end%>

<% if params[:action] == 'update_status' %>
  <% if @property.deal_type == "Lease" %>
    $('#tenancy_rent').val('<%= params[:tenancy][:rent] %>');
    $('#tenancy_outgoing').val('<%= params[:tenancy][:outgoing] %>');
    $('#tenancy_net_gross').find("option[value='<%= params[:tenancy][:net_gross] %>']").attr('selected', 'selected');
    $('#tenancy_total_rental_psm').val('<%= params[:tenancy][:total_rental_psm] %>');
    $('#tenancy_total_rental_pa').val('<%= params[:tenancy][:total_rental_pa] %>');
    $('#tenancy_lease_term').val('<%= params[:tenancy][:lease_term] %>');
    $('#tenancy_option').val('<%= params[:tenancy][:option] %>');
    $('#tenancy_start_date').val('<%= params[:tenancy][:start_date] %>');
    $('#tenancy_end_date').val('<%= params[:tenancy][:end_date] %>');
    $('#tenancy_fee').val('<%= params[:tenancy][:fee] %>');
    $('#tenancy_lease_signed').val('<%= params[:tenancy][:lease_signed] %>');
    $('#tenancy_office_note').val('<%= params[:tenancy][:office_note] %>');
    $('#tenancy_sales_person').find("option[vaue='<%= params[:tenancy][:sales_person] %>']").attr('selected', 'selected');
    $('#tenancy_office_note').val('<%= params[:tenancy][:office_note] %>');
    $('#tenancy_external_agent_company').val('<%= params[:tenancy][:external_agent_company] %>');
    $('#tenancy_external_agent_sales_person').val('<%= params[:tenancy][:external_agent_sales_person] %>');
    $('#tenancy_conjunction_fee').val('<%= params[:tenancy][:conjunction_fee] %>');
    $('#tenancy_scale_of_fee').val('<%= params[:tenancy][:scale_of_fee] %>');
    $('#tenancy_reminder_alert').val('<%= params[:tenancy][:reminder_alert] %>');
    $('#tenancy_contract_link').val('<%= params[:tenancy][:contract_link] %>');
    $('#tenancy_lease_expiry_sales_person').find("option[value='<%= params[:tenancy][:lease_expiry_sales_person]%>']").attr('selected', 'selected');
    <% unless params[:purchaser][:agent_contact_id].blank? %>
      $(".contact").hide();
      $("#add_contact").show();
      $("#remove_contact").hide();
    <%end%>
    <%elsif ["Sale", "Both"].include?(@property.deal_type) %>
      $("#transaction_date").val('<%= params[:transaction][:date] %>');
      $("#transaction_amount").val('<%= params[:transaction][:amount] %>');
      $("#transaction_method_of_sale").find("option[value='<%= params[:transaction][:method_of_sale] %>']").attr('selected', 'selected');
      $("#transaction_investment").find("option[value='<%= params[:transaction][:investment] %>']").attr('selected', 'selected');
      $("#transaction_fee").val('<%= params[:transaction][:fee] %>');
      $("#transaction_settlement_date").val('<%= params[:transaction][:settlement_date] %>');
      $("#transaction_contract_link").val('<%= params[:transaction][:contract_link] %>');
      $("#transaction_office_note").val('<%= params[:transaction][:office_note] %>');
      $("#transaction_transaction_sales_person").val('<%= params[:transaction][:transaction_sales_person] %>');
      $("#transaction_external_agent_company").val('<%= params[:transaction][:external_agent_company] %>');
      $("#transaction_external_agent_sales_person").val('<%= params[:transaction][:external_agent_sales_person] %>');
      $("#transaction_conjunction_fee").val('<%= params[:transaction][:conjunction_fee] %>');
      $("#transaction_scale_of_fee").val('<%= params[:transaction][:scale_of_fee] %>');
      <% unless params[:transaction][:display_price].blank? %>
        <% if params[:transaction][:display_price] == '1' %>
          $("#transaction_display_price").attr('checked', 'checked');
        <%else%>
          $("#transaction_display_price").removeAttr('checked');
        <%end%>
      <%end%>
    <% unless params[:purchaser][:agent_contact_id].blank? %>
      $(".contact").hide();
      $("#add_contact").show();
      $("#remove_contact").hide();
    <%end%>
    <%end%>
  <%end%>
  });

  function get_agent_contact(){
    var base_address = $('.test-contact');
    var controller = "<%= get_agent_contact_purchaser_agent_office_properties_path(@agent, @office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data: {"purchaser_agent_contact_id" : $("#purchaser_agent_contact_id").val(), "property_id" : "<%= @property.id %>", "controllah" : "<%= params[:controller] %>" },
      dataType:"html",
      beforeSend:function(){
        $("#purchaser_name_input").attr("disabled", "disabled");
        $("img#indicator1").show();
      },
      success: function(data){
        $("#purchaser_name_input").attr("disabled", "disabled");
        $("img#indicator1").hide();
        $("#view_contact").hide();
        $("#remove_contact").show();
        $(".test-contact").show();
        $("#add_new_contact").val("false");
        $("#edit_selected_contact").attr("value", true);
        $("#edit_this_contact").attr("value", true);
        $("#mark_for_deleted").val("false");
        jQuery(".test-contact").html(data);
      }
    });
  }

  function add_contact(){
    $(".contact").show();
    $("#remove_contact").show();
    $("#add_contact").hide();
    $("#purchaser_name_input").attr('disabled', 'disabled');
    $("#add_new_contact").attr('value', true);
    $("#mark_for_deleted").attr('value', false);
    if($("#mark_for_deleted").val() == "false"){
<% unless @property.purchaser.blank? %>
  <% unless @property.purchaser.agent_contact_id.blank? %>
          $(".test-contact").hide();
  <%end%>
<%end%>
<% if @property.type.to_s == "Commercial" && @property.deal_type.to_s == "Lease" %>
  <% unless @tenancy_record.blank? %>
    <%unless @purchaser_contact.blank? %>
            $("#edit_tenancy_contact").attr('value', true);
    <%end%>
  <%end%>
<%end%>
    }
  }

  function remove_contact(){
<% unless @property.purchaser.blank? %>
      $("#purchaser_name_input").val("<%= @property.purchaser.agent_contact.blank? ? "" : (@property.purchaser.agent_contact.full_name.blank? ? @property.purchaser.agent_contact.first_name : @property.purchaser.agent_contact.full_name) %>");
  <% if @property.purchaser.agent_contact_id.blank? %>
        $("a.add-edit").text("Add");
  <%else%>
        $("a.add-edit").text("Edit");
  <%end%>
<%end%>
    if($("#mark_for_deleted").val() == "false"){
      $("#mark_for_deleted").val("true");
      $("#purchaser_name_input").val("");
      $("#edit_selected_contact").val("false");
      $("#edit_this_contact").val("false");
    }
    $(".contact").hide();
    $("#add_contact").show();
    $("#remove_contact").hide();
    $("#purchaser_name_input").removeAttr('disabled');
    $("#add_new_contact").attr('value', true);
  }

  function showpurchaser(){
<% if @property.type.to_s == "CommercialBuilding" || @property.type.to_s == "Commercial" %>
      if($("#property_status_2").is(":checked") == true){
        $("#purchaserdiv").slideDown("slow");
        $("#transactiondiv").slideDown("slow");
        $("#external_agent_div").slideDown("slow");
        $("#tenancydiv").slideUp("slow");
        $("#lease_expiry_div").slideUp("slow");
        $("#tenant_info_div").slideUp("slow");
      }else if($("#property_status_3").is(":checked") == true){
        $("#purchaserdiv").slideDown("slow");
  <% if @property.status == 3 || (@property.type.to_s == "Commercial" && @property.deal_type.to_s == "Lease") %>
          $(".non-on-hold").hide();
  <%end%>
        $("#tenant_info_div").slideDown("slow");
        $("#tenancydiv").slideDown("slow");
        $("#lease_expiry_div").slideDown("slow");
        $("#transactiondiv").slideUp("slow");
      }
<%end%>
<% unless @property.type.to_s == "Commercial" && @property.deal_type.to_s == "Lease" %>
      $("#purchaserdiv").slideDown("slow");
<%end%>
    $("#external_agent_div").slideDown("slow");
    if($("#on_hold_only").val() == "true"){
      $("#view_contact").hide();
      $("#add_contact").show();
      $(".test-contact").hide();
      $("#remove_contact").hide();
      $("#purchaser_name_input").removeAttr('disabled');
    }
<% unless @property.purchaser.blank? %>
  <% if @property.status == 2 %>
        if($("#property_status_2").is(':checked')){
          $("#purchaser_agent_contact_id").val("<%= @property.purchaser.blank? ? "" : (@property.purchaser.agent_contact_id.blank? ? "" : @property.purchaser.agent_contact_id) %>");
          $("a.add-edit").text("Edit");
          $("#add_new_contact").attr('value', false);
          $("#agent_contact_first_name").val("<%= @property.purchaser.agent_contact.first_name rescue nil %>");
          $("#agent_contact_last_name").val("<%= @property.purchaser.agent_contact.last_name rescue nil %>");
          $("#agent_contact_email").val("<%= @property.purchaser.agent_contact.email rescue nil %>");
          $("#agent_contact_home_number").val("<%= @property.purchaser.agent_contact.home_number rescue nil %>");
          $("#agent_contact_work_number").val("<%= @property.purchaser.agent_contact.work_number rescue nil %>");
          $("#agent_contact_mobile_number").val("<%= @property.purchaser.agent_contact.mobile_number rescue nil %>");
          $("#agent_contact_contact_number").val("<%= @property.purchaser.agent_contact.contact_number rescue nil %>");
          $("#purchaser_name_input").val("<%= @property.purchaser.agent_contact.blank? ? "" : (@property.purchaser.agent_contact.full_name.blank? ? @property.purchaser.agent_contact.first_name : @property.purchaser.agent_contact.full_name) %>");
        }else if($("#property_status_8").is(':checked')){
          $("#purchaser_agent_contact_id").val("");
          $("#agent_contact_first_name").val("");
          $("#agent_contact_last_name").val("");
          $("#agent_contact_email").val("");
          $("#agent_contact_home_number").val("");
          $("#agent_contact_work_number").val("");
          $("#agent_contact_mobile_number").val("");
          $("#agent_contact_contact_number").val("");
          $("a.add-edit").text("Add");
          $("#add_new_contact").attr('value', true);
          $("#purchaser_name_input").val("");
        }
  <%elsif @property.status == 8 %>
        if($("#property_status_8").is(':checked')){
          $("#purchaser_agent_contact_id").val("<%=@property.purchaser.blank? ? "" : (@property.purchaser.agent_contact_id.blank? ? "" : @property.purchaser.agent_contact_id) %>");
          $("a.add-edit").text("Edit");
          $("#add_new_contact").attr('value', false);
          $("#agent_contact_first_name").val("<%= @property.purchaser.agent_contact.first_name rescue nil %>");
          $("#agent_contact_last_name").val("<%= @property.purchaser.agent_contact.last_name rescue nil %>");
          $("#agent_contact_email").val("<%= @property.purchaser.agent_contact.email rescue nil %>");
          $("#agent_contact_home_number").val("<%= @property.purchaser.agent_contact.home_number rescue nil %>");
          $("#agent_contact_work_number").val("<%= @property.purchaser.agent_contact.work_number rescue nil %>");
          $("#agent_contact_mobile_number").val("<%= @property.purchaser.agent_contact.mobile_number rescue nil %>");
          $("#agent_contact_contact_number").val("<%= @property.purchaser.agent_contact.contact_number rescue nil %>");
          $("#purchaser_name_input").val("<%= @property.purchaser.agent_contact.blank? ? "" : (@property.purchaser.agent_contact.full_name.blank? ? @property.purchaser.agent_contact.first_name : @property.purchaser.agent_contact.full_name) %>");
        }else if($("#property_status_2").is(':checked')){
          $("#purchaser_agent_contact_id").val("");
          $("#agent_contact_first_name").val("");
          $("#agent_contact_last_name").val("");
          $("#agent_contact_email").val("");
          $("#agent_contact_home_number").val("");
          $("#agent_contact_work_number").val("");
          $("#agent_contact_mobile_number").val("");
          $("#agent_contact_contact_number").val("");
          $("a.add-edit").text("Add");
          $("#add_new_contact").attr('value', true);
          $("#purchaser_name_input").val("");
        }
  <%end%>
<%end%>
<% if @property.status == 2 %>
  <% unless @property.purchaser.blank?  %>
    <% unless @property.purchaser.date.blank? %>
          $("#property_date").val("<%=@property.purchaser.date.strftime("%m/%d/%Y")%>");
    <%end%>
    <% unless @property.purchaser.amount.blank? %>
          $("#property_amount").val("<%=@property.purchaser.amount%>");
    <%end%>
    <% unless @property.purchaser.display_price.blank? %>
          $("#property_display_price").val("<%=@property.purchaser.display_price %>");
    <%end%>
  <%end%>
<%end%>
    if($('#property_status_8').is(':checked')){
      $('h6.full').text('Hold Details');
      $("td.non-on-hold").css("display", "none");
      $("#property_date").val("");
      $("#property_amount").val("");
      $("#property_display_price").val("");
    }else{
      //$('h6.full').text('Purchaser Details');
<% unless @property.deal_type.to_s == "Lease" && @property.type.to_s == "Commercial" %>
        $("td.non-on-hold").css("display", "block");
<%end%>
<% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
        $('b.status_date').text('Lease Date');
        $('b.status_amount').text('Lease Amount');
        $('p.display_price').text('Display Lease Price:');
<%else%>
        $('b.status_date').text('Sold Date');
        $('b.status_amount').text('Sold Amount');
        $('p.display_price').text('Display Sold Price:');
<%end%>
    }
  }

  function hidepurchaser(){
<%  if @property.type.to_s == "CommercialBuilding" || @property.type.to_s == "Commercial" %>
      $("#transactiondiv").slideUp("slow");
      $("#external_agent_div").slideUp("slow");
      $("#tenancydiv").slideUp("slow");
      $("#lease_expiry_div").slideUp("slow");
      $("#tenant_info_div").slideUp("slow");
<%end%>
<% if @property.type.to_s == "Commercial" && ["Lease", "Both"].include?(@property.deal_type.to_s) %>
      if($("#property_status_3").is(":checked") == true){
        $("#tenant_info_div").slideDown("slow");
        $("#tenancydiv").slideDown("slow");
        $("#lease_expiry_div").slideDown("slow");
      }
<%end%>
<% if @property.status != 2 or @property.status != 3  %>
      $("#purchaserdiv").slideUp("slow");
<% end %>
  }
</script>