var html = '<option value="" selected="selected">Please select</option>';
<% for sub in @sub_categories %>
  html += '<option value="<%= sub.name %>"><%= sub.name %></option>';
<% end %>
jQuery('#business_sale_detail_category').html(html);
