<h3>Assistance for Property ID <%= @property.id %></h3>
<% form_for :message, :url => agent_messages_path(@agent), :multipart => true do |f| %>
  <ul>
    <li>Your name:</li>
    <li><%= current_user.full_name %></li>
    <li>Your Email Address:</li>
    <li><%= current_user.email %></li>
    <li>Your Message:</li>
    <li><%= f.text_area :message %></li>
    <li><%= check_box_tag :send_self %>Send an email to self.</li>
  </ul>
  <%= f.submit "Submit" %>
<% end %>
