<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
    <%= javascript_include_tag 'jquery-1.3.min', 'jquery-ui', 'ui/jquery.flexbox.min', 'jquery.tooltip.pack.js','thickbox','application'%>
  </head>
  <body >
    <div id="main_body">
      <% if flash.now[:notice] && flash.now[:error].blank? %>
        <div id="helpdiv" class="block help full">
          <div class='group'>
            <p class="help_message"><%= h flash.now[:notice] %></p>
          </div>
        </div>
      <% end %>
      <% if flash.now[:error] %>
        <div id="helpdiv" class="block help full">
          <div class='group'>
            <p class="help_message" style="color: red"><%= h flash.now[:error] %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to "Back", share_on_twitter_agent_office_property_path(@agent, @office, @property) %>
    </div>
  </body>
</html>

