<div class="title_block block">
  <h2 class="page_title"><%= @property.address %>  </h2>
</div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div id="teamadddiv" class="block full">
  <div id="memdetailsdescrdiv" class="block transparent third leader">
    <div id="memberdetailsdiv" class="group">
      <h4 class="full">Member Details <small class="formgrouplinks">* Fields in bold are required.</small></h4>
      <div class="set">
        <% form_for :agent_user, @agent_user, :url => vendor_detail_agent_office_property_path(@agent, current_office, @property), :html => {:method => :put, :class => 'member_details_form', :id => 'member_details_form'} do |f| %>
          <% unless @errors.blank? %>
            <div style='background-color: #EF4123; margin: 0 0 18px; padding: 0px; text-align: left; font-size: 18px; line-height: 24px; color: #fff;'>
              <ul>
                <% @errors.each do |k,v|%>
                  <li ><%= k%> : <%=v%></li>
                <%end%>
              </ul>
            </div>
          <%end%>
          <fieldset class="pf_fs1">
            <ul class="pf-ul">
              <li class="li--1 required">
                <label><span>First Name:</span></label>
                <%= f.text_field :first_name, :class => 'single fldrequired' %>
              </li>
              <li class="li--2 required">
                <label><span>Last Name:</span></label>
                <%= f.text_field :last_name, :class => 'single fldrequired' %>
              </li>
              <li class="li--3">
                <span>Company:</span>
                <div style="padding-left: 5px;"><%=h @agent.name unless @agent.blank? %></div>
              </li>
              <li class="li--4">
                <span>Office:</span>
                <div style="padding-left: 5px;"><%=h @office.name unless @office.blank? %></div>
              </li>
              <li class="li--12">
                <label><span>Role:</span></label>
                <%= f.text_field :role, :class => 'single fldrequired' %>
              </li>
              <li class="li--13 required">
                <label><span>Group:</span></label>
                <%= f.select :group, @group, :class => 'single fldrequired' %>
              </li>
              <li class="li--5">
                <label><span>Phone:</span></label>
                <%= f.text_field :phone, :class => 'single fldrequired' %>
              </li>
              <li class="li--6">
                <label><span>Mobile:</span></label>
                <%= f.text_field :mobile, :class => 'single fldrequired' %>
              </li>
              <li class="li--11">
                <label><span>Fax:</span></label>
                <%= f.text_field :fax, :class => 'single fldrequired' %>
              </li>
              <li class="li--7 required">
                <label><span>Email:</span></label>
                <%= f.text_field :email, :class => 'single fldrequired' %>
              </li>
              <li class="li--8 required">
                <label><span>Username:</span></label>
                <%= f.text_field :login, :class => 'single' %>
              </li>
              <li class="li--9">
                <label><span>Password:</span></label>
                <%= f.password_field :password, :class => 'single fldrequired' %>
              </li>
              <li class="li--10">
                <label><span>Confirm password:</span></label>
                <%= f.password_field :password_confirmation, :class => 'single fldrequired' %>
              </li>
            </ul>
          </fieldset>
          <div class="action_button">
            <button name="update" type="button" value="Update" onclick="$('#member_details_form').submit();">
              <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
              Update
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div><!-- end #teamadddiv -->
