<p><%= h @message.sender.full_name %> posted a comment on message: <b><%= h @message.title.humanize %></b></p>
<br/>
<p><i><%= simple_format(@message.message) %></i></p>
<br/>
<p><b>Follow this link to read the message</b>: <%= @url %> . Note: please do not reply to this email.</p>