<ul id="countries_select" style="list-style-type: none; display: inline; margin: auto; width: 100%;">
  <% if portal.portal_countries.size > 0 %>
      <% portal.portal_countries.each do |c| %>
       <li style="float: left; width: 200px;" id="countries_select_item_<%= c.country.id %>"> 
       <%= hidden_field_tag 'portal_country_ids[]', c.country.id %>
       <%= c.country.name %> <a class="delete_btn" title="" href="javaScript: void(0);" onClick="$('#countries_select_item_<%= c.country.id %>').remove();"><img alt="delete" src="/images/delete.gif"/></a></li>
      <% end %>
  <% end %>
</ul>
<script  type="text/javascript">
  function country() {
    var val = $('#select_country').val();
    var text = $('#select_country :selected').text();

    if ($('#countries_select_item_' + val).length == 0) {
      var item = '<li style="float: left; width: 200px;" id="countries_select_item_' + val + '">';
          item = item +  '<input type="hidden" value="' + val + '" name="portal_country_ids[]" id="portal_country_ids_"/>';
          item = item +  text;
          item = item +  '<a class="delete_btn" title="" href="javaScript: void(0);" onClick="$(\'#countries_select_item_' + val + '\').remove();"><img alt="delete" src="/images/delete.gif"/></a> </li>';
      $(item).appendTo('ul#countries_select');
    }
  }
</script>