<div class="set half leader">
	<div class="group">
		<table cellspacing="0" cellpadding="0" class="update_table full">
			<tbody><tr>
				<th class="first_cell" colspan="2">Portal Details</th>
			</tr>
			<tr>
				<td class="field first_cell">Portal Name:</td>
				<td class="value"><%= f.text_field :portal_name, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Portal Display Name:</td>
				<td class="value"><%= f.text_field :display_name, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Website URL:</td>
				<td class="value"><%= f.text_field :portal_url, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Country:</td>
				<td class="value">
          <%= f.localized_country_select :country, [:AU, :US, :GB, :CA]  %>
				</td>
			</tr>
			<tr>
				<td class="field first_cell">Suburb:</td>
				<td class="value"><%= f.text_field :suburb, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">State:</td>
				<td class="value"><%= f.text_field :state, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Postcode:</td>
				<td class="value"><%= f.text_field :postcode, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Unit/Office Number:</td>
				<td class="value"><%= f.text_field :unit_number, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Street Number:</td>
				<td class="value"><%= f.text_field :street_number, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Street Name/Type:</td>
				<td class="value"><%= f.text_field :street_name, :class => "single" %></td>
			</tr>
			<tr class="noborder"><!-- NOTE TO DEVELOPER: This "noborder" class is important here to make the two Client Access rows look like one. -->
				<td style="vertical-align: top;" class="field first_cell">Countries of Operation:</td>
				<td class="value">
          <%= select_tag 'select_country', options_for_select(Country.find(:all, :order => "name").map {|p| [p.name, p.id] }), { :size =>5, :class => "select_box", :onchange => "country()"} %>
					<!-- NOTE TO DEVELOPER: When a user selects multiple clients from this select box, the values they choose should be listed below after they click Update -->
				</td>
			</tr>
			<tr>
				<td class="field first_cell"> </td>
				<td class="value">
          <%= render :partial => "countries_select", :locals => {:portal => @portal} %>
				</td>
			</tr>
			<tr>
				<td class="field first_cell">Portal Type:</td>
				<td class="value">
          <%= select_tag "portal[portal_type]", options_for_select([ "Please Select", "Real Estate", "Classifieds", "Commercial & Business Portal", "Residential Portals", "Real Estate Search Engines", "Marketing & CRM Based Software", "Social Networking", "Holiday Portals" ], @portal.portal_type), :class => "select_box" %>
				</td>
			</tr>
			<tr>
				<td class="field first_cell">Membership Type:</td>
				<td class="value">
          <%= select_tag "portal[membership_type]", options_for_select([ "Please Select", "Subscription", "Free" ], @portal.membership_type), :class => "select_box" %>
				</td>
			</tr>
			<tr>
				<td class="field first_cell">Properties Updated:</td>
				<td class="value field_timeframe"><!-- NOTE TO DEVELOPER: This is different than the other team forms. May I have this class "field_im" on this cell? Thanks! -->
          <%
            if @portal.timeframe
              time = @portal.timeframe.split(" ")[0]
              frame = @portal.timeframe.split(" ")[1]
            end
          %>
					<input type="text" value="<%= time %>" class="single" id="time" name="time"/>
					<label class="field">Timeframe: </label>
          <%= select_tag "frame", options_for_select({ "minute(s)" => "minutes", "hour(s)" => "hours", "day(s)" => "days", "week(s)" => "weeks", "month(s)" => "months", "year(s)" => "years"}, frame), :class => "select_box" %>
				</td>
			</tr>
			<tr>
			</tr><tr>
				<td class="field first_cell">URL for client sign up:</td>
				<td class="value"><%= f.text_field :sign_up_url, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">URL for Terms of use:</td>
				<td class="value"><%= f.text_field :terms_url, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">URL for Warnings:</td>
				<td class="value"><%= f.text_field :warnings_url, :class => "single" %></td>
			</tr>

		</tbody></table>
	</div>
	</div>
	
	<div class="set half follower">
	<div class="group">
		<table cellspacing="0" cellpadding="0" class="update_table full">
			<tbody><tr>
				<th class="first_cell" colspan="2">Support Details</th>
			</tr>
			<tr>
				<td class="field first_cell">Client Support Phone:</td>
				<td class="value"><%= f.text_field :client_support_phone, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Client Support Email:</td>
				<td class="value"><%= f.text_field :client_support_email, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Tech. Support Phone:</td>
				<td class="value"><%= f.text_field :tech_support_phone, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Tech. Support Email:</td>
				<td class="value"><%= f.text_field :tech_support_email, :class => "single" %></td>
			</tr>

			<tr>
				<th class="first_cell" colspan="2">Account Details</th>
			</tr>
			<tr>
				<td class="field first_cell">FTP URL:</td>
				<td class="value"><%= f.text_field :ftp_url, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">FTP Directory:</td>
				<td class="value"><%= f.text_field :ftp_directory, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Username:</td>
				<td class="value"><%= f.text_field :username, :class => "single" %></td>
			</tr>
			<tr>
				<td class="field first_cell">Password:</td>
				<td class="value"><%= f.text_field :password, :class => "single" %></td>
			</tr>

			<tr>
				<th class="first_cell" colspan="2">Description & Notes</th>
			</tr>
			<tr>
				<td style="vertical-align: text-top;" class="field first_cell">Description:<br/><small class="lite">(Max 300 Characters)<br /><span id="count_portal_description"></span></small></td>
				<td class="value"><%= f.text_area :description, :rows => "6", :cols =>"32", :class=>"area", :onkeypress => "return LimitThis('portal_description')", :onkeyup => "return CountThis('portal_description', 'count_portal_description')", :onmouseover => "return CountThis('portal_description', 'count_portal_description')", :maxLength => "300" %></td>
			</tr>
			<tr>
				<td style="vertical-align: text-top;" class="field first_cell">Portal Notes:<br/><small class="lite">(Max 300 Characters)<br /><span id="count_portal_notes"></span></small></td>
				<td class="value"><%= f.text_area :notes, :rows => "6", :cols =>"32", :class=>"area", :onkeypress => "return LimitThis('portal_notes')", :onkeyup => "return CountThis('portal_notes', 'count_portal_notes')", :onmouseover => "return CountThis('portal_notes', 'count_portal_notes')", :maxLength => "300" %></td>
			</tr>
			<tr>
				<td class="value first_cell" colspan="2"><%= f.check_box :require_account_id, :class => "checkbox" %>  <label><span>The portal requires individual account ID for office accounts.</span></label></td>
			</tr>
			<tr>
				<td class="value first_cell" colspan="2"><%= check_box "portal", "default", {:class => "checkbox"}, "Yes", "No" %>  <label><span>Automatically activate feeds for offices to this portal.</span></label></td>
			</tr>
      <tr>
				<td class="value first_cell" colspan="2"><%= f.check_box :allow_manual_exports, :class => "checkbox" %>  <label><span>Allow manual exports</span></label></td>
			</tr>
      <tr>
				<td class="value first_cell" colspan="2"><%= f.check_box :http_api_enable, :class => "checkbox" %>  <label><span>HTTP API ENABLE</span></label></td>
			</tr>
                        </tr>
      <tr>
				<td class="value first_cell" colspan="2"><%= f.check_box :has_reports, :class => "checkbox" %>  <label><span>Portal has reports</span></label></td>
			</tr>
		</tbody></table>
	</div>
	</div>
