<div class="title_block block">
  <h2>Add Portal</h2>

  <div class="clearer"/>
</div>
<div class="block accounts full" id="clientdiv">
  <% form_for @portal, :url => {:controller => "admin/exports", :action => "create"} do |f| %>
  <div class="group">
      <%= render :partial => "form", :locals => {:f => f} %>
  <div class="clearer"></div>
  </div>

      <div class="action_button">
          <button name="update" type="button" value="Update" onclick="form.submit();">
            <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
            Create
          </button>

        <span>or&nbsp;&nbsp;</span>
        <a href="<%= url_for admin_exports_path %>" title="">

          <img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/>
          Cancel
        </a>
      </div>
  <% end %>
</div>
<hr class="separator"/>