<object width="425" height="344">
<param name="movie" value="<%= video_source %>"></param>
<param name="allowFullScreen" value="true"></param>
<embed src="<%= video_source %>"
  type="application/x-shockwave-flash"
  allowfullscreen="true"
  width="425" height="300">
</embed>
</object>
