<table>
<% unless @videos.blank? %>
<% @videos.each do |video|%>
<tr>
<% source = video.public_filename.sub(/watch[?]/,'').sub(/[=]/, '/') %>
  <td><%= video.public_filename %></td>
  <td><a href="<%= url_for(:controller => 'videos', :action => 'show_video', :id => video.id, :source => source)%>" target="videoIFrame">Show</a></td>
  <td><%= link_to 'Delete', agent_office_property_video_path(@agent, @office, @property, video), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<%end%>
<%end%>
</table>
<% form_for :video, @video, :url => agent_office_property_videos_path(@agent, @office, @property, :come_from => request.request_uri), :html => { :multipart => true, :id => 'upload' } do |f| %>
<label><span>URL:</span></label><br/>
<%= f.text_field :filename, :class => 'single' %>
<p><%= f.submit 'Save' %></p>
<%end%>
 