<% if @success%>
  <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
  <%= javascript_include_tag 'jquery-1.3.min', 'jquery-ui', 'ui/jquery.flexbox.min', 'jquery.tooltip.pack.js','application'%>
  <script type="text/javascript">
    $(document).ready(function(){
      parents();
    });
    function parents(){
      window.parent.tb_remove_ajax();
    };
  </script>
  <a href="#" onclick="parents();return false;">Close</a>
<% end %>
<%= @video.errors.inspect %>
