<%= javascript_include_tag 'jquery-1.3.min', 'jquery-ui', 'ui/jquery.flexbox.min', 'jquery.tooltip.pack.js','application'%>
<script type="text/javascript">
  $(document).ready(function(){
    $('#booting', window.parent.document).hide();
  });

  function handleResponse() {
    $("#video_player_area").hide();
    $("#videoIFrame").attr("style","width:425px; height:344px");
  }
</script>
<%unless @videos.blank?%>
  <div id='video_player_area' style='display: block'>
    <%= render :partial => "form", :locals => {:video_source => @videos.first.public_filename.sub(/watch[?]/,'').sub(/[=]/, '/')} %>
  </div>
<%end%>
<iframe id="videoIFrame"
        name="videoIFrame"
        style="width:0px; height:0px; border: 0px"
        src="blank.html"></iframe>

<div id='loading_area' style='display: none'> Please wait while loading the video...</div>
<h1>Listing videos</h1>

<table>
  <th>URL</th>
  <th></th>
  <th>Action</th>
  <th></th>
  <%= render :partial => 'rows' %>
</table>

<br />
