<script type="text/javascript">
  window.parent.handleResponse()
</script>
<%unless @video.blank?%>
<%= render :partial => "form", :locals => {:video_source => @video.public_filename.sub(/watch[?]/,'').sub(/[=]/, '/')} %>
<%end%>
