<%= javascript_include_tag 'jquery.Jcrop.js' %>
<%= stylesheet_link_tag 'jquery.Jcrop.css'  %>
<script type="text/javascript">
		var api = null;

		var h = null;
		var w = null;
		var x = null;
		var y = null;
    var dot_wd = <%= @dot_width %>;
    var dot_hg = <%= @dot_height %>;

		$(document).ready(function(){

			var oh = $('#cropimage').height();
			var ow = $('#cropimage').width();
			$('#cropcompass').show();
			var s = 150;

			if ( oh < s || ow < s )
				s = Math.min(oh, ow);

			var x = ((ow - s) / 2);
			var y = ((oh - s) / 2);

			api = $.Jcrop('#cropimage',{
        aspectRatio: dot_wd / dot_hg,
        allowSelect: 0,
        minSize: [dot_wd, dot_hg],
				onChange: preview,
				onSelect: preview
			});

			api.setSelect([ 0, 0, dot_wd, dot_hg ]);
		});

		function preview (c) {
			if ( c.w == 0 || c.h == 0 ) {
				api.setSelect([ x, y, x+w, y+h ]);
				api.animateTo([ x, y, x+w, y+h ]);
				return;
			}
			x = c.x;
			y = c.y;
			w = c.w;
			h = c.h;

      updatePost(c);
			preview2(c);
		}

		function preview2 (coords) {
      var wd = <%= @prewidth %>;
      var hg = <%= @preheight %>;
			var rx = wd / coords.w;
			var ry = hg / coords.h;
			$('#preview2').css({
				width: Math.round(rx * $('#cropimage').width() ) + 'px',
				height: Math.round(ry *  $('#cropimage').height()) + 'px',
				marginLeft: '-' + Math.round(rx * coords.x) + 'px',
				marginTop: '-' + Math.round(ry * coords.y) + 'px'
			});
		}

    function updatePost(coords){
      $('#x_image').attr('value',coords.x);
      $('#y_image').attr('value',coords.y);
      $('#w_image').attr('value',coords.w);
      $('#h_image').attr('value',coords.h);
    }

</script>
<style type="text/css">
div.jcrop-holder {margin:0 auto;}
</style>

<div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div id="teamadddiv" class="block full">
        <div style="background-color:#ffffff;padding: 20px;">
          <h2>Crop your photo using the dotted box below</h2>
          <br/>
          <div style="float:left;margin-right:50px;text-align:center;width:800px;">
            <img id="cropimage" src="<%= @image_file.public_filename unless @image_file.blank? %>" width="<%= @width %>" height="<%= @height %>"/>
            <br/>
            <br/><br/>
            <form action="<%= crop_agent_office_property_brochures_path(@agent, @office, @property) %>" method="post" name="frm1">
            <input type="hidden" name="img_id" id="img_id" value="<%= @image_file.id %>"/>
            <input type="hidden" name="status" id="status" value="<%= params[:status] %>"/>
            <input type="hidden" name="x_image" id="x_image"/>
            <input type="hidden" name="y_image" id="y_image"/>
            <input type="hidden" name="w_image" id="w_image"/>
            <input type="hidden" name="h_image" id="h_image"/>
            <input type="submit" value="Crop and Finish!" class="button"/>
            </form>
          </div>
          <div style="float:left;text-align:center;width:192px;">
            <div id="dpreview2" class="preview-panel">
            <h3>Preview</h3>
            <div style="border:1px solid #CCCCCC;margin: 0 auto; overflow: hidden; position: relative; width: <%= @prewidth %>px;height: <%= @preheight %>px;">
              <img id="preview2" src="<%= @image_file.public_filename unless @image_file.blank? %>"/>
            </div>
            </div>
            <br/>
            <div class="preview-panel">
              The preview above shows what your new picture will look like after clicking Crop and Finish
            </div>
          </div>
          <div class="clearer"></div>
        </div>
      </div>
    </div>
    <div class="clearer"></div>
  </div>

