<style type="text/css">
  tr:hover { background-color: #E1EBF5; }
  .border-less{border:none;}
  .blue-bgcolor{background-color:#E1EBF5;}
</style>
<div class="title_block block">
  <h2 class="page_title">Brochure Back</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= brochure_back_agent_office_property_brochures_path(@agent, @office, @property) %>" method="post" name="frm1" enctype="multipart/form-data">
<div id="clientdiv" class="block accounts full">
  <div id="contactsdiv" class="block form group-bluesky">
    <div class="set">
       <div>
        <h6>Brochure Back</h6><br/>
        <table class="border-less">
          <tr class="blue-bgcolor"><td class="wd-150">Display Brochure Back:</td><td><input type="checkbox" name="display_brochure_back" id="display_brochure_back"  value="1" <%= (@display_brochure_back == "1" ? "checked":"") unless @display_brochure_back.blank? %> /></td></tr>
          <tr class="blue-bgcolor">
            <td class="wd-150">Back Image (width: 780px, height: 455px) :</td>
            <td> <%= file_field_tag 'brochure_image[uploaded_data]' %>
            <p>Your Current Back Image: <br/> <% unless @brochure_image.blank? %> <img src="<%= @brochure_image.public_filename %>" width="400"/> <% end %> </p>
            </td>
          </tr>
          <tr class="blue-bgcolor">
            <td class="wd-150">Map Image (width: 780px, height: 455px) :</td>
            <td> <%= file_field_tag 'brochure_map[uploaded_data]' %>
            <p>Your Current Map Image: <br/> <% unless @brochure_map.blank? %> <img src="<%= @brochure_map.public_filename %>" width="400"/> <% end %> </p>
            </td>
          </tr>
        </table>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
</div>
<div id="contactsdiv">
<table class="pf-table" style="border:none;">
  <tr class="li--8"><td class="value" colspan="5">
    <button name="back_crop_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= manage_brochure_agent_office_property_brochures_path(@agent, @office, @property) %>'">« Previous </button>
    <button name="update" type="submit" value="Update" style="float:right;">Next »</button>
  </td></tr>
</table>
</div>
</form>