<script type="text/javascript">
  $(document).ready(function() {
    var ls = $('#list_image').val();
    arr = ls.split('#');
    for(var i=1;i<arr.length;i++){
      $('#img'+arr[i]).attr('checked', true);
    }

    $(".sel_image").click(function(){
      var list = $('#list_image').val();
      var new_arr = '';
      var exist = 0;
      if(list != ''){
        arr = list.split('#');
        for(var i=0;i<arr.length;i++){ if(this.value == arr[i]){ exist = 1; }}
        if(exist == 1){
          for(var i=1;i<arr.length;i++){if(this.value != arr[i]){ new_arr = new_arr + "#" + arr[i]; }}
        }else{
          new_arr = list + "#" + this.value;
        }
        $('#list_image').val(new_arr);
      }else{
        $('#list_image').val("#"+this.value);
      }
    });
  });

  function count_images(){
    list = $('#list_image').val();
    arr = list.split('#');
    if((arr.length-1) > <%= @limit %>){
      alert("Only allowed to choose maximum <%= @limit %> images, Please uncheck some images.");
      return false
    }
  }
</script>
<div class="title_block block">
  <h2 class="page_title">Choose images</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<b> Only allowed maximum <%= @limit %> images</b>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Property photo gallery </h6><br/>
        <% @property.images.each do |image| %>
          <div class="brochure_layout_wraper">
            <input type="checkbox" name="bimage" value="<%=  image.id %>" id="img<%=  image.id %>" class="sel_image" style="vertical-align:top;" />
            <%=image_tag(image.public_filename(:thumb), :style => "width: 100px; height: 65px;")%>
          </div>
        <%  end %>
      </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Property Plans Gallery  </h6><br/>
        <% @property.floorplans.each do |image| %>
          <div class="brochure_layout_wraper">
            <input type="checkbox" name="bimage" value="<%=  image.id %>" id="img<%=  image.id %>" class="sel_image" style="vertical-align:top;" />
            <%=image_tag(image.public_filename(:thumb), :style => "width: 100px; height: 65px;")%>
          </div>
        <%  end %>
      </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Latest Cropped Images  </h6><br/>
        <% unless @images.blank? %>
          <% @images.each do |image| %>
            <% if !@property.floorplans.find_by_id(image.id) and  !@property.images.find_by_id(image.id) %>
              <div class="brochure_layout_wraper">
                <input type="checkbox" name="bimage" value="<%=  image.id %>" id="img<%=  image.id %>" class="sel_image" style="vertical-align:top;" />
                <%=image_tag(image.public_filename, :style => "width: 100px; height: 65px;")%>
              </div>
            <%  end %>
          <%  end %>
        <%  end %>
      </div>
    </div>
    <div class="clearer"></div>
  </div>

  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_layout_agent_office_property_brochures_path(@agent, @office, @property) %>'">« Previous</button>
            <form action="" method="post" name="frm1" onsubmit="return count_images();">
            <input type="hidden" name="list_image" id="list_image" value="<%= @list_image %>"/>
            <button name="choose_images" type="submit" value="Update" style="float:right;">Next »</button>
           </form>
        </td></tr>
      </table>
  </div>
</div>
