<div class="title_block block">
  <h2 class="page_title">Choose Layout</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="" method="post" name="frm1">
<div id="clientdiv" class="block accounts full">
  <div style="width:80%">
    <% for i in 1..@limit do -%>
      <div class="brochure_layout_wraper h230">
        <input type="radio" name="layout" value="theme<%= i %>" style="vertical-align:top;"  <%= ('theme'+i.to_s == session[:brochure_layout]) ? 'checked' : '' %> />
        <a class="thumbnail" href="/images/theme/brochure_preview<%= i %>.png" >
          <img src='/images/theme/brochure<%= i %>.png' />
          <div class="magnifier pos4">&nbsp;</div>
        </a>
      </div>
    <% end -%>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8"><td class="value" colspan="5">
          <button name="choose_layout" type="submit" value="Update" style="float:right;">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>
<script>
  $(function() {
	$('.brochure_layout_wraper a').lightBox({fixedNavigation:true});
        $('.thumbnail').mouseover(function(){
          $(this).children('.magnifier').css('display','block')
        })
        $('.thumbnail').mouseout(function(){
          $(this).children('.magnifier').css('display','none')
        })
  });
</script>