<% if @sorted != "true" %>
<script type="text/javascript">
	$(function() {
		$("#sortable").sortable({
      stop: function(event, ui) {
				var arr = $(this).sortable('toArray');
        var str = '';
				for(var i=0;i<arr.length;i++){
          if(i == 0){
            $('#no'+arr[i]).text("Main Image");
          }else{
            $('#no'+arr[i]).text("Order No. " + i);
          }
          str += "#" + arr[i];
        }
        $('#list_image').val(str);
 			}});
		$("#sortable").disableSelection();
	});
</script>
<%  end %>
<div class="title_block block">
  <h2 class="page_title">Crop Image</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <h6>Selected images </h6><br/>
       <div style="width:100%;" id="sortable">
         <% unless @images.blank? %>
          <% @images.each_with_index do |image, index| %>
            <% if index < @limit %>
              <% unless image.blank? %>
              <div class="brochure_layout_wraper" id="<%= image.id %>">
                <div class="frame_image">
                  <div style="font-weight:bold;font-size:9pt;clear:both;text-align:center;margin-bottom:5px;" id="no<%= image.id %>">
                    <% if index == 0 %> Main Image <% else %> Order No. <%= index %> <% end %>
                  </div>
                  <%=image_tag(image.thumbnail == 'crop' ? image.public_filename : image.public_filename(:thumb), :style => "width: 100px;")%>
                  <br/>
                  <% if @sorted == "true" && image.thumbnail != 'crop' %>
                  <br/>
                   <%= link_to 'Crop Image', crop_images_agent_office_property_brochures_path(@agent,@office,@property)+"?img_id=#{image.id}&status=#{index == 0 ? 'main': 'thumb'}", :style => "font-size:9pt;", :id => "crop#{image.id}" %>
                  <%  end %>
                </div>
              </div>
              <% end %>
            <%  end %>
          <%  end %>
         <%  end %>
       </div>
    </div>
    <div class="clearer"></div>
    <p>* Note: Please sort the images by dragging and dropping them, Main Image will be automatically defined by the first image.</p>
  </div>
   <% if @sorted != "true" %>
    <table class="pf-table" style="border:none;">
      <tr class="li--8"><td class="value" colspan="5">
          <button name="back_sort_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_images_agent_office_property_brochures_path(@agent, @office, @property) %>'">« Previous</button>
          <form action="" method="post" name="frm1">
          <input type="hidden" name="sorted" id="sorted" value="true"/>
          <input type="hidden" name="list_image" id="list_image" value="<%= @list_image %>"/>
          <button name="sort_images" type="submit" value="Update" style="float:right;">Save the Order</button>
         </form>
      </td></tr>
    </table>
   <%  end %>
  <% unless params[:img_id].blank? %>
  <%= render :partial => "crop" %>
  <%  end %>
  <div id="contactsdiv">
      <% if @sorted == "true" %>
      <table class="pf-table" style="border:none;">
        <tr class="li--8"><td class="value" colspan="5">
            <button name="back_crop_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_images_agent_office_property_brochures_path(@agent, @office, @property) %>'">« Previous </button>
            <button name="crop_images" type="button" value="Update" style="float:right;" onclick="window.location='<%= manage_brochure_agent_office_property_brochures_path(@agent, @office, @property)  %>'">Next »</button>
        </td></tr>
      </table>
     <%  end %>
  </div>
</div>