<%= stylesheet_link_tag 'style' %>
<div class="title_block block"><h2 class="page_title"><%= @property.address %></h2></div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div class="title_block block">
  <h4><span class="lite">Here is where you can create brochure for this property with pdf format, by clicking Create Brochure button below then follow the steps.</span></h4>
</div>
<div class="block help full">
  <div class="title_block threequarters leader">&nbsp;</div>
  <div class="block help quarter follower">
    <div class="upload_button">
      <%= link_to 'Create Brochure', choose_layout_agent_office_property_brochures_path(@agent, @office, @property), :class => 'btn' %>
    </div><br/>
  </div>
</div>
<div id="clientdiv" class="block accounts full">
<% form_for :brochure, @brochure, :url => list_agent_office_property_brochures_path(@agent, @office, @property), :html => {:method => 'put',:class =>"status_form"}  do |f| %>
  <%= f.error_messages :class => 'errortext' %>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <h6>Existing Brochures </h6>
     <fieldset class="pf_fs2">
         <table width="100%" cellpadding="0" cellspacing="0">
           <tr><td style="background-color:#f0f0f0;"><b>&nbsp;&nbsp;Date</b></td><td style="background-color:#f0f0f0;"><b>Title</b></td><td style="background-color:#f0f0f0;"><b>Filename</b></td><td style="background-color:#f0f0f0;"><b>Add to media</b></td><td style="background-color:#f0f0f0;"><b>Action</b></td></tr>
           <% @brochures.each do |brochure| %>
           <tr>
             <td>&nbsp;&nbsp;<%= brochure.created_at.utc.strftime("%d-%m-%Y") %></td><td><%= brochure.title %></td><td><%= brochure.filename %></td>
             <td><input type="checkbox" name="add_to_media[]" value="<%= brochure.id %>" <%= brochure.send_to_api.nil? ? "checked" : (brochure.send_to_api == true ? "checked" : "") %>/> Add to Media section for property</td>
             <td><a href="<%= download_agent_office_property_brochure_path(@agent, @office, @property, brochure) %> " style="color:blue;" target="_blank" >Download Brochure</a> | <%= link_to "Remove Brochure", delete_brochure_agent_office_property_brochure_path(@agent, @office, @property, brochure), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :style => "color:red;" %></td>
           </tr>
           <%  end %>
         </table>
    </fieldset>
     <p><b>* Note : Only allowed to add 10 brochures  to media.</b></p>
    </div>
    <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="submit" type="submit" value="Update" style="float:right;" class="submit_btn" >
            Submit
            </button>
          </td>
        </tr>
      </table>
    <div class="clearer"></div>
  </div>
<% end %>
</div>