<%= stylesheet_link_tag 'pdf_style' %>
<div class="title_block block">
  <h2 class="page_title">Preview</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <h6>Brochure Preview </h6>
     <p>* red border is maximum width and height which will be displayed in 1 page of pdf format.</p><br/>
     <% if session[:brochure_layout] == "theme9" %>
       <div style="margin:0 auto;border:2px solid red;height: 832px;width: 600px;">
     <% else %>
       <div style="margin:0 auto;border:2px solid red; width:782px; height:1105px;">
     <% end %>
       <%= render :partial => "brochures/theme/#{session[:brochure_layout]}" %>
     </div>
     <% if session[:brochure_data][:display_brochure_back] == "1" %>
       <br/>
       <div style="margin:0 auto;border:2px solid red; width:782px; height:1105px;">
         <%= render :partial => "brochures/theme/brochure_back" %>
       </div>
     <% end %>
    </div>
    <div class="clearer"></div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8"><td class="value" colspan="5">
          <button name="back_manage_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= brochure_back_agent_office_property_brochures_path(@agent, @office, @property) %>'">« Previous</button>
          <button name="update" type="button" value="Update" style="float:right;" onclick="window.location='<%= generate_pdf_agent_office_property_brochures_path(@agent, @office, @property) %>' ">Generate to PDF</button>
        </td></tr>
      </table>
  </div>
</div>