<div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
  <div class="set">
     <div style="width:100%">
      <h6>View options</h6><br/>
      <table style="border:none;">
        <tr style="background-color:#E1EBF5"><td style="width:100px;"><b>Hide top image:</b></td>
          <td><%= check_box_tag 'data[hide_top_img]', 1, @data[:hide_top_img], :class => 'checkbox' %></td>
        </tr>
      </table>
     </div>
  </div>
  <div class="clearer"></div>
</div>