<div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
  <div class="set">
     <div style="width:100%">
      <h6>Featured Properties</h6><br/>
      <table style="border:none;">
        <tr style="background-color:#E1EBF5"><td style="width:150px;"><b>Title:</b></td>
          <td><input type="text" name="data[featured_listing_title]" class="single" value="<%= (@data[:featured_listing_title].blank? ? "Featured Properties" : @data[:featured_listing_title]) %>"/></td>
        </tr>
        <tr style="background-color:#E1EBF5"><td style="width:150px;"><b>Search property:</b></td>
          <td>
            <input type="text" style="width: 255px;" size="30" name="search_property" id="search_property" class="single"/>
            <input type="button" name="search_feature_property"  id="search_feature_property"value="Search" onclick="search_featured_property();" class="submit_btn"/>
            (Or enter Property ID and press search)
            <img src="/images/search-loader.gif" id="search-loader-note"></img>
            <input type="hidden" name="featured_property_ids" id="featured_property_ids" value="<%= @featured_property_ids %>"/>
          </td>
        </tr>
        <tr style="background-color:#E1EBF5">
          <td colspan="2">
            <div id="featured_properties" style="text-align:left;font-size:9pt;"><%= @featured_properties %></div>
          </td>
        </tr>
        <tr style="background-color:#E1EBF5">
          <td style="width:150px;"><b>Property Order:</b></td><td>
          <select name="data[order]">
            <option value="">Please Select</option>
            <option value="price" <%= (@data[:order] == "price") ? "selected" : "" %>  >Price</option>
            <option value="suburbs" <%= (@data[:order] == "suburbs") ? "selected" : "" %>  >Suburbs</option>
          </select>
          </td>
        </tr>
      </table>
     </div>
  </div>
  <div class="clearer"></div>
</div>