<div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
  <div class="set">
     <div style="width:100%">
      <h6>Rental Listings</h6><br/>
      <table style="border:none;">
        <tr style="background-color:#E1EBF5"><td colspan="2">
            <table style="border:none;">
              <tr style="background-color:#E1EBF5"><td style="width:150px;"><b>Title:</b></td>
                <td><input type="text" name="data[rental_listing_title]" class="single" value="<%= (@data[:rental_listing_title].blank? ? "Rental Listings" : @data[:rental_listing_title]) %>"/></td>
              </tr>
              <tr style="background-color:#E1EBF5"><td style="width:150px;"><b>Offices:</b></td>
              <td>
                <%  if @agent.developer.allow_listing_office == true %>
                  <%= select_tag "selection_office_rental", options_for_select(@offices.map{|m| [m.name, m.id]}.uniq, ""), :class => 'select_box', :onchange => "add_options('office_rental','office_rental');", :style => "width:250px;float:left;" %>
                <% else %>
                  <%= select_tag "selection_office_rental", options_for_select(@offices.map{|m| [m.name, m.id]}.unshift(['All Offices', nil]).uniq, ""), :class => 'select_box', :onchange => "add_options('office_rental','office_rental');", :style => "width:250px;float:left;" %>
                <% end %>
              </td></tr>
              <tr style="background-color:#E1EBF5">
                <td colspan="2">
                  <div id="office_rentals" style="text-align:left;font-size:9pt;"><%= @value_offices_rental %></div>
                </td>
              </tr>
              <tr style="background-color:#E1EBF5"><td style="width:150px;"><b>Listing Type:</b></td>
                <td>
                  <%= select_tag "selection_rental_listing_type", options_for_select(@rental_listing_types, ""), :class => 'select_box', :onchange => "add_options('rental_listing_type','rental_listing_type');", :style => "width:250px;float:left;" %>
                </td>
              </tr>
              <tr style="background-color:#E1EBF5">
                <td colspan="2">
                  <div id="rental_listing_types" style="text-align:left;font-size:9pt;"><%= @value_rental_listing_types %></div>
                </td>
              </tr>
              <tr style="background-color:#E1EBF5"><td style="width:150px;"><b>Property Type:</b></td>
                <td>
                  <%= select_tag "selection_rental_property_type", options_for_select(@property_types, ""), :class => 'select_box', :onchange => "add_options('rental_property_type','rental');", :style => "width:250px;float:left;" %>
                </td>
              </tr>
              <tr style="background-color:#E1EBF5">
                <td colspan="2">
                  <div id="rental_property_types" style="text-align:left;font-size:9pt;"><%= @value_rental_property_types %></div>
                </td>
              </tr>
              <tr style="background-color:#E1EBF5">
                <td colspan="3"><input type="button" name="search" value="Search Property" onclick="adv_rental_search();" class="submit_btn"/></td>
              </tr>
            </table>
        </td></tr>
        <tr style="background-color:#E1EBF5"><td colspan="2" style="font-weight:bold;text-decoration:underline;">List Rental Listing:</td></tr>
        <tr style="background-color:#FFFFFF">
          <td colspan="2">
          <div style="padding:10px;border:1px solid grey;">
            <div id="adv_search_rental_container"><center><b>Rental Listings</b></center></div>
            <div style="clear:both;">&nbsp;</div>
          </div>
          </td>
        </tr>
      </table>
     </div>
  </div>
  <div class="clearer"></div>
</div>