<div id="contactsdiv" class="block form group-bluesky">
  <div class="set">
     <div>
      <h6>Main Content Image</h6><br/>
      <table class="border-less">
        <tr class="blue-bgcolor">
          <td class="wd-150">Main Image (width= 750px) :</td>
          <td> <%= file_field_tag 'ecampaign_image[uploaded_data]' %>
          <p>Your Current Main Image: <br/> <% unless @ecampaign_image.blank? %> <img src="<%= @ecampaign_image.public_filename %>" width="750"/> <% end %> </p>
          </td>
        </tr>
      </table>
     </div>
  </div>
  <div class="clearer"></div>
</div>