<style type="text/css">
  a img{color:transparent !important;}
  a:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  a.info_link:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  p{font-size:8pt;}
  tr{background:none;}
  .greybg{background-color:#EAEAEA;}
  .wrp{margin-top:3px;}
  .greybg th, .greybg td{padding:0}
  tr:hover{background:none;}
  .greybg table{
    border: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    margin: 0;}
   .greybg td{border:0}
</style>
<div class="greybg" style="margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;">
<!--  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;text-align:center;font-size:8pt;color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser. Or <a href="{forward}" style="color:#999999;" target="_blank">click here <img style="width: 22px;position: relative;top: 7px;left: 2px;" src="<%= @base_url %>/images/mail_forward.png"/></a> to forward this email</div> -->
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;">
    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal; padding:10px">
      <tbody>
        <tr>
          <td>
            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td>
                    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td>
                            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal; border-bottom:20px solid white;">
                              <tbody>
                                <tr>
                                  <td valign="top" style="text-align:center">
                                    <p style="margin:0; font:Arial, Helvetica, sans-serif; font-size: 8pt; color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser. Or <a href="{forward}" style="color:#999999;" target="_blank">click here <img style="width: 22px;position: relative;top: 7px;left: 2px;" src="http://commercialloopcrm.com.au/images/mail_forward.png"></a> to forward this email</p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td>
                    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td valign="top">
                            <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780" height="80">
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <%  if @data["sender_description"].present? %>
                              <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                                <tbody>
                                  <tr>
                                    <td>
                                      <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                                        <tbody>
                                          <tr>
                                            <td valign="top" style="border-bottom: 10px solid #ffffff; background:#FAFAFA; padding:10px">
                                              <p style="margin:0; font:Arial, Helvetica, sans-serif; font-size: 8pt; color:#999999;"><%= @data["sender_description"]  %></p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            <% end %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <% unless @featured_properties.blank? %>
                <% @featured_properties.each_with_index do |featured_property, index| %>
                <tr>
                  <td>
                    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td>
                            <table width="780" cellpadding="0" cellspacing="0" style="white-space:0; background:#eaeaea;">
                              <tbody>
                                <tr>
                                  <td valign="top" style="padding:10px">
                                    <p style=" margin:0;">
                                      <a target="_blank" title="View Detail" href="{ecampaign_track_property_url}&property_id=<%= featured_property.id %>" style="color: black; text-decoration: none; font-weight: bold; font-size:12px; font-family:Arial, Helvetica, sans-serif">
                                        <%= "#{featured_property.unit_number}/" if featured_property.unit_number.present?%><%= featured_property.street_number %>&nbsp;<%= featured_property.street %>&nbsp;<%= featured_property.suburb %>
                                      </a>
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <!-- lst 1 -->			<tr>
                  <td>
                    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal; background:#ffffff;">
                      <tbody>
                        <tr>
                          <td width="192">
                            <table width="192" cellpadding="0" cellspacing="0" style="white-space:normal">
                              <tbody>
                                <tr>
                                  <td width="192" valign="top" style="padding:10px; background:#ffffff;">
                                    <p style="margin:0;">
                                      <a target="_blank" title="<%= featured_property.headline %>">
                                        <img border="0" width="192" src="<%= featured_property.images.first.public_filename(:medium) unless featured_property.images.blank? %>">
                                      </a>
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td valign="top">
                            <table width="100%" cellpadding="0" cellspacing="0" style="white-space:normal; padding:0px 10px 10px 0">
                              <tbody>
                                <tr>
                                  <td valign="top" style="padding-top:10px;">
                                    <p style="margin:0; font-family:Arial, Helvetica, sans-serif; color:<%= @proptypecolor %>; font-size:12px"><%= featured_property.type %></p>
                                    <% if featured_property.detail.respond_to?("floor_area") %>
                                      <% if featured_property.detail.floor_area.present? %>
                                        <p style="margin:0; color:<%= @proptypecolor %>; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold">BUILDING : <%= featured_property.detail.floor_area %> m2</p>
                                      <% end %>
                                    <% end %>
                                    <p style=" border-top:5px solid #ffffff; border-bottom:5px solid #ffffff; margin:0; color: #444444; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold">
                                      <%= featured_property.headline %>
                                    </p>
                                    <p style=" margin:0; color: #444444; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                                      <%= truncate(featured_property.description, 300, "...") %>
                                    </p>
                                    <p style="border-bottom:5px solid #ffffff; margin:0;">
                                      <a target="_blank" title="View Detail" href="{ecampaign_track_property_url}&property_id=<%= featured_property.id %>" style="color: <%= @proptypecolor %>; text-decoration: none; font-size:11px">
                                        View the listing »
                                      </a>
                                    </p>
                                    <% if featured_property.detail.respond_to?("property_url") && featured_property.detail.property_url.present? %> 
                                    <p style="border-bottom:5px solid #ffffff; margin:0;">
                                      <a target="_blank" title="View Detail" href="{ecampaign_track_property_url}&property_id=http://<%= property_url(featured_property.detail.property_url) %>" style="color: <%= @proptypecolor %>; text-decoration: none; font-size:11px">
                                        <%= featured_property.detail.property_url%>
                                      </a>
                                    </p>
                                    <% end %>
                                    <p style=" padding:5px 0 0; margin:0; color: #444444; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold">Updated:<%= featured_property.updated_at%></p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <!-- end lst 1 -->      </tr>
                  <% end %>
                  <% end %>
                <!-- footer -->          <tr>
                  <td style="border-top:4px solid <%= @bottomlinecolor %>">
                    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td>
                            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal;">
                              <tbody>
                                <tr>
                                  <td width="50%" valign="top">
                                    <p style="border-top:8px solid white; color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin:0">To unsubscribe from this service please click <a href="{unsubcribe}" style="color:#999999;text-decoration:none; font-size:11px">here.</a></p>
                                    <p style="color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin: 0"><%= @data["footer_text"] %></p>
                                  </td>

                                  <td width="50%" valign="top" style="text-align:right;">
                                    <p style="border-top:8px solid white; color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin:0">Powered By <a href="http://agentpoint.com.au" target="_blank" style="color:#999999;text-decoration:underline;"><b>Agentpoint</b></a></p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

              </tbody>
            </table>
          </td>
        </tr>
    </table>
    <div style="display:none;">{view_open_url}</div>
  </div>
</div>