<style type="text/css">
  a img{color:transparent !important;}
  a:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  a.info_link:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  p{font-size:8pt;}
  .greybg{background-color:#EAEAEA;}
  .wrp{margin-top:3px;}
  .greybg td{border:0;padding:0}
  .greybg a{font-weight: normal;}
  .greybg table{
    border: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    margin: 0;
    }
    tr{background:none;}
    tr:hover{background:inherit}
</style>
<div class="greybg" style="margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;">
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;">
    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
      <tbody>
        <tr>
          <td valign="top" style="text-align:center;padding:5px 10px 20px 10px;">
            <p style="margin:0; font:Arial, Helvetica, sans-serif; font-size: 8pt; color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser. Or <a href="{forward}" style="color:#999999;" target="_blank">click here <img style="width: 22px;position: relative;top: 7px;left: 2px;" src="http://commercialloopcrm.com.au/images/mail_forward.png"></a> to forward this email</p>
          </td>
        </tr>
        <tr>
          <td valign="top" style="padding:5px 0; background:#061E35;">
            <img width="780" height="80" src="<%= @header_image.public_filename unless @header_image.blank? %>">
          </td>
        </tr>
        <% if @data[:hide_top_img].blank? %>
          <tr>
            <td valign="top" style="padding:20px; background:#ccc;">
              <img width="730" height="230" src="<%= @base_url %>/images/property_05.jpg">
            </td>
          </tr>
        <% end %>
        <tr>
          <td width="740" valign="top" style="background:<%= @bgcolor %>;">
            <table cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <!-- Main content -->
                  <td style="background: <%= @bgcolor %>;padding:10px;" valign="top">
                    <table cellpadding="0" cellspacing="0">
                      <tbody>
                        <% unless @property_checkbox_ids.blank? %>
                          <tr>
                            <td valign="top" style="padding:0 0 10px;">
                              <p style="margin:0;font: bold italic 18px 'Palatino Linotype', 'Times New Roman';"><%= @data["current_listing_title"].blank? ? "Homes For Sale" : @data["current_listing_title"] %></p>
                            </td>
                          </tr>
                        <% end %>
                        <tr>
                          <td valign="top">
                            <table cellpadding="0" cellspacing="0" style="white-space:normal">
                              <tbody>
                                <% unless @property_checkbox_ids.blank? %>
                                  <% @property_checkbox_ids.each_with_index do |property_checkbox, idx| %>
                                    <% if idx <= 1 %>
                                      <tr>
                                        <td valign="top" style="padding:0 0 10px">
                                          <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                            <tbody>
                                              <tr>
                                                <td valign="top" style="padding:10px; background:<%= @heading %>; border:2px solid #061E35;">
                                                  <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                    <tbody>
                                                      <tr>
                                                        <td valign="top">
                                                          <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                            <tbody>
                                                              <tr>
                                                                <td valign="top">
                                                                  <% if property_checkbox.images.present? %>
                                                                    <img width="126" src="<%= property_checkbox.images.first.public_filename(:thumb) %>" />
                                                                  <% else %>
                                                                    <img width="126" src="<%= @base_url %>/images/no_image.jpg" />
                                                                  <% end %>
                                                                </td>
                                                              </tr>
                                                              <tr>
                                                                <td valign="top" style="text-align:center; padding-top:10px">
                                                                  <a target="_blank" href="{ecampaign_track_property_url}&property_id=<%= property_checkbox.id %>"><img width="128" src="http://commercialloopcrm.com.au/images/button-details2.png"/></a>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>

                                                        <td valign="top" style="padding-left:10px">
                                                          <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                            <tbody>
                                                              <tr>
                                                                <td valign="top" style="padding:0 0 10px">
                                                                  <h2 style="margin:0; font:bold 14px Arial, Helvetica, sans-serif; color:<%= @headingtextcolor %>;"><%= property_checkbox.headline %></h2>
                                                                </td>
                                                              </tr>
                                                              <tr>
                                                                <td valign="top">
                                                                  <p style="margin:0; font:12px Arial, Helvetica, sans-serif;color:<%= @headingtextcolor %>;">
                                                                    <%= truncate(property_checkbox.description, 200, "...") %>
                                                                  </p>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    <% end %>
                                  <% end %>
                                <% end %>
                                <tr>
                                  <td valign="top" style="padding-bottom:10px">
                                    <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                      <tbody>
                                        <tr>
                                          <td valign="top">
                                            <h1 style="margin:0; font:bold 20px 'Palatino Linotype', 'Times New Roman'; color:<%= @textcolor %>;">
                                              <%= @data["sender_title"] %>
                                            </h1>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="top">
                                    <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                      <tbody>
                                        <tr>
                                          <td  style="color:<%= @textcolor %>" valign="top">
                                            <p style="margin:0; font:10px Arial,Helvetica,sans-serif ; color:<%= @textcolor %>; text-align:justify;">
                                              <%= @data["sender_description"]  %>
                                            </p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <!-- Sidebar -->
                  <% unless @featured_properties.blank? %>
                  <% featured_property = @featured_properties.first %>
                  <td width="302" valign="top" style="padding:10px;background:<%= @mainbg %>">
                    <table cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td valign="top" style="padding:0 0 10px">
                            <p style="color:<%= @maintext %>;margin:0;font: bold italic 18px 'Palatino Linotype', 'Times New Roman';"><%= @data["featured_listing_title"].blank? ? "Featured Property" : @data["featured_listing_title"] %></p>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top">
                            <% unless featured_property.images.blank? %>
                              <img width="300" src="<%= featured_property.images.first.public_filename(:medium) %>"/>
                            <% else %>
                              <img width="300" src="<%= @base_url %>/images/no_image.jpg"/>
                            <% end %>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" style="padding:10px 0">
                            <h3 style="margin:0; font: bold 14px 'Palatino Linotype', 'Times New Roman'; color:<%= @sidelinkcolor %>;">
                              <%= featured_property.headline %>
                            </h3>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top">
                            <p style="margin:0; font:12px Arial, Helvetica, sans-serif; color:<%= @maintext %>;">
                              <%= truncate(featured_property.description, 300, "...") %>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" style="text-align:right">
                            <a target="_blank" href="{ecampaign_track_property_url}&property_id=<%= featured_property.id %>" style="color: <%= @sidelinkcolor %>; font:12px Arial, Helvetica, sans-serif;">View More Profile</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <% if @property_checkbox_ids.present? && @property_checkbox_ids[2].present? %>
        <tr>
          <td valign="top" style="padding:5px 20px; border-top:5px solid #061E35; border-bottom:5px solid #061E35; background:<%= @thinline %>;">
            <table cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td valign="top" style="padding-top:10px; padding-bottom:10px">
                    <table cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td width="100" valign="middle" style="vertical-align:middle;">
                            <p style="margin:0; font:bold 20px 'Palatino Linotype', 'Times New Roman';">See Also</p>
                          </td>
                          <td width="30" valign="middle" style="padding:0 20px">
                            <img height="64" src="http://commercialloopcrm.com.au/images/arrow.png" />
                          </td>
                          <% @property_checkbox_ids.each_with_index do |property_checkbox, index| %>
                            <% if index > 1 && index < 5 %>
                              <td height="64" width="64" valign="middle">
                                <% if property_checkbox.images.present? %>
                                  <img height="64" width="64" src="<%= property_checkbox.images.first.public_filename(:thumb) %>" />
                                <% else %>
                                  <img height="64" width="64" src="<%= @base_url %>/images/no_image.jpg %>" />
                                <% end %>
                              </td>
                              <td width="120" valign="middle" style="padding:0 10px">
                                <a target="_blank" href="{ecampaign_track_property_url}&property_id=<%= property_checkbox.id %>" style="color: <%= @textcolor %>; font-size:12px; font-weight:bold">
                                  <%= property_checkbox.unit_number.blank? ? "" : "#{property_checkbox.unit_number}/" %><%= property_checkbox.street_number.blank? ? "" : "#{property_checkbox.street_number}&nbsp;" %>
                                  <%= property_checkbox.street.blank? ? "" : "#{property_checkbox.street}&nbsp;" %>
                                  <%= property_checkbox.suburb %>
                                </a>
                              </td>
                            <% end %>
                          <% end %>
                            <td valign="middle" style="width:auto">
                              &nbsp;
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <% end %>
        <tr>
          <td valign="top">
            <img src="<%= @footer_image.public_filename unless @footer_image.blank? %>" width="780" height="75">
          </td>
        </tr>
        <tr>
          <td valign="top" style="padding:5px 0">
            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td valign="top" width="50%">
                    <p style="margin:0"><span style="font:8pt Arial, Helvetica, sans-serif; color:#999;">To unsubscribe from this service please </span><span><a href="{unsubcribe}" style="color:#999999;text-decoration:underline; font:8pt Arial, Helvetica, sans-serif">click here</a></span></p>
                    <p style="margin:0"><span style="font:8pt Arial, Helvetica, sans-serif; color:#999;">Copyright © </span><span style="font: bold 8pt Arial, Helvetica, sans-serif; color:#999999;"><%= @office.name %> </span><span style="font:8pt Arial, Helvetica, sans-serif; color:#999999;"><%= Time.now.strftime("%Y")  %></span></p>
                  </td>
                  <td valign="top" width="50%" style="text-align:right">
                    <p style="margin:0"><span style="font:8pt Arial, Helvetica, sans-serif; color:#999;">Powered By </span><span><a href="http://agentpoint.com.au" target="_blank" style="color:#999999;text-decoration:underline; font:8pt Arial, Helvetica, sans-serif"><b>Agentpoint</b></a></span></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="display:none;">{view_open_url}</div>
  </div>
</div>