<style type="text/css">
  a img{color:transparent !important;}
  a:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  a.info_link:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  p{font-size:8pt;}
  tr{background:none;}
  .greybg{background-color:#EAEAEA;}
  .wrp{margin-top:3px;}
  .greybg th, .greybg td{padding:0}
  tr:hover{background:none;}
  .greybg table{
    border: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    margin: 0;
    }
  .greybg td{border:0}
  .greybg a{font-weight: normal;}
</style>
<div class="greybg" style="margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;">
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;">
    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
      <tbody>
        <tr>
          <td>
            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td>
                    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td>
                            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                              <tbody>
                                <tr>
                                  <td width="760" valign="top" style="text-align:center; padding:5px 10px 20px 10px">
                                    <p style="margin:0; font:Arial, Helvetica, sans-serif; font-size: 8pt; color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser. Or <a href="{forward}" style="color:#999999;" target="_blank">click here <img style="width: 22px;position: relative;top: 7px;left: 2px;" src="http://commercialloopcrm.com.au/images/mail_forward.png"></a> to forward this email</p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td valign="top" style="text-align:center; background:<%=@heading%>;">
                            <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780">
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" style="white-space:normal; background:#F0F0F0">
                            <table width="780" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td valign="top" style="padding:10px 15px;width:750px" width="750">
                                    <% unless @ecampaign_image.blank? %> <img src="<%= @ecampaign_image.public_filename %>" style="width:750px"/> <%end%>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" style="padding:10px 15px; background:#f0f0f0">
                            <table width="750" cellpadding="0" cellspacing="0" style="white-space:normal;">
                              <tbody>
                                <tr>
                                  <td width="170" valign="top">
                                    <table cellpadding="0" cellspacing="0" style="white-space:normal; background:#ffffff; border: 1px solid #E0E0E0;width: 100%">
                                      <tbody>
                                        <tr>
                                          <td style="padding:10px;">
                                            <table>
                                              <tbody>
                                                <tr>
                                                  <td valign="top" style="padding-bottom: 5px">
                                                    <p style="font-family:Verdana, Geneva, sans-serif; font-size:14px; color:<%= @heading %>; font-weight:bold; margin:0">In this issue:</p>
                                                  </td>
                                                </tr>
                                                <% unless @featured_properties.blank? %>
                                                  <tr>
                                                    <td valign="top" style="padding: 5px 0">
                                                      <a href="#<%= @data["featured_listing_title"].blank? ? "FEATURED LISTINGS" : @data["featured_listing_title"]%>" style="font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; text-decoration:none; margin:0; padding:0">
                                                          <%= @data["featured_listing_title"].blank? ? "Featured Listings" : @data["featured_listing_title"]%>
                                                        </a>
                                                    </td>
                                                  </tr>
                                                <% end %>
                                                <% unless @property_checkbox_ids.blank? %>
                                                  <tr>
                                                    <td valign="top" style="padding: 5px 0">
                                                      <a href="#<%= @data["current_listing_title"].blank? ? "CURRENT LISTINGS" : @data["current_listing_title"]%>" style="font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; text-decoration:none; margin:0; padding:0">
                                                          <%= @data["current_listing_title"].blank? ? "Current Listings" : @data["current_listing_title"]%>
                                                      </a>
                                                    </td>
                                                  </tr>
                                                <% end %>
                                                <% unless @property_rental_checkbox_ids.blank? %>
                                                  <tr>
                                                    <td valign="top" style="padding: 5px 0">
                                                      <a href="#<%= @data["rental_listing_title"].blank? ? "RENTAL LISTINGS" : @data["rental_listing_title"] %>" style="font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; text-decoration:none; margin:0; padding:0">
                                                          <%= @data["rental_listing_title"].blank? ? "Rental Listings" : @data["rental_listing_title"] %>
                                                        </a>
                                                    </td>
                                                  </tr>
                                                <% end %>
                                                <% unless @property_checkbox_soldlease_ids.blank? %>
                                                  <tr>
                                                    <td valign="top" style="padding: 5px 0">
                                                      <a href="#<%= @data["sold_listing_title"].blank? ? "SOLD LISTINGS" : @data["sold_listing_title"] %>" style="font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; text-decoration:none; margin:0; padding:0">
                                                          <%= @data["sold_listing_title"].blank? ? "Sold Listings" : @data["sold_listing_title"] %>
                                                        </a>
                                                    </td>
                                                  </tr>
                                                <% end %>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td style="padding:0 5px"></td>
                                  <td width="570" valign="top">
                                    <table cellpadding="0" cellspacing="0" style="white-space:normal;">
                                      <tbody>
                                        <tr>
                                          <td valign="top">
                                            <pre style="font-family:Arial, Helvetica, sans-serif; font-size:12px;white-space: pre-wrap;"><%= @data["sender_description"] %></pre>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td valign="top" style="padding: 10px 0 ">
                                          </td>
                                        </tr>
                                        <!-- FEATURED LISTINGS -->
                                        <% unless @featured_properties.blank? %>
                                        <tr>
                                          <td valign="top" align="left">
                                            <table id="<%= @data["featured_listing_title"].blank? ? "FEATURED LISTINGS" : @data["featured_listing_title"]%>" cellpadding="0" cellspacing="0" style="white-space:normal;width:auto" align="left">
                                              <tr>
                                                <td valign="top" style="background:<%= @heading %>; padding:9px" align="left">
                                                  <p style="margin:0; color:#FFFFFF; font-family: Verdana, Geneva, sans-serif; text-transform:uppercase; font-size:14px"><%= @data["featured_listing_title"].blank? ? "FEATURED LISTINGS" : @data["featured_listing_title"]%></p>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td valign="top" style="padding:10px 0">
                                            <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                              <tbody>
                                                  <% @featured_properties.each_with_index do |featured_property, index| %>
                                                    <tr>
                                                      <td width="170" valign="top">
                                                        <a href="{ecampaign_track_property_url}&property_id=<%= featured_property.id %>">
                                                          <% unless featured_property.images.blank? %>
                                                            <img width="170" border="0" src="<%= featured_property.images.first.public_filename(:medium) %>" style="display:block">
                                                          <% else %>
                                                            <img width="170" border="0" src="<%= @base_url %>/images/no_image.jpg" style="display:block">
                                                          <%end%>
                                                        </a>

                                                      </td>
                                                      <td width="595" valign="top" style="padding-left:10px">
                                                        <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                          <tbody>
                                                            <tr>
                                                              <td width="595" valign="top" style="border-bottom:1px solid <%= @thinline %>; padding-bottom:5px">
                                                                <p style="margin:0; font-family:Verdana, Geneva, sans-serif; font-size:11px;color:<%= @heading %>; font-weight:bold"><%= featured_property.headline.upcase %></p>
                                                              </td>
                                                            </tr>
                                                            <tr>
                                                              <td width="595" valign="top" style="padding:5px 0">
                                                                <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                                  <tbody>
                                                                    <tr>
                                                                      <td width="375" valign="top">
                                                                        <p style="font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#333333; margin:0; font-weight:bold;"><%= "#{featured_property.unit_number}/" if featured_property.unit_number.present? %><%= featured_property.street_number %>&nbsp;<%= featured_property.street %>&nbsp;<%= featured_property.suburb.upcase %></p>
                                                                      </td>
                                                                      <td width="220" valign="top" style="text-align:right">
                                                                        <p style="font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#333333; margin:0; font-weight:bold;">
                                                                          <% unless featured_property.display_price.to_i == 0 %>
                                                                            <% if featured_property.type.to_s == 'Commercial'%>
                                                                              <% if featured_property.deal_type == 'Lease' %>
                                                                                <%= featured_property.display_price.to_i == 1 ? (featured_property.detail.rental_price.blank? ? "" : "$#{featured_property.detail.rental_price} - $#{featured_property.detail.rental_price_to}") : featured_property.display_price_text %>
                                                                              <% else %>
                                                                                <%= featured_property.display_price.to_i == 1 ? (featured_property.detail.sale_price_from.blank? ? "" : "$#{featured_property.detail.sale_price_from} - $#{featured_property.detail.sale_price_to}") : featured_property.display_price_text %>
                                                                              <% end %>
                                                                            <% else %>
                                                                              <%= featured_property.display_price.to_i == 1 ? (featured_property.price.blank? ? "" : "$#{featured_property.price} - $#{featured_property.to_price}") : featured_property.display_price_text %>
                                                                            <% end %>
                                                                          <% end %>
                                                                        </p>
                                                                      </td>
                                                                    </tr>
                                                                  </tbody>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                            <tr>
                                                              <td valign="top" style="padding:5px 0 10px">
                                                                <p style="font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; margin:0"><%= truncate(featured_property.description, 200, "...") %></p>
                                                              </td>
                                                            </tr>
                                                            <tr>
                                                              <td valign="top">
                                                                <p style="margin:0; font-family:Verdana, Geneva, sans-serif; font-size:11px;color:black; font-weight:bold"><%= display_opentime(featured_property.id, "", "all") %></p>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                    <tr><td style="padding:7px 0"></td></tr>
                                                  <%end%>
                                                <%end%>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>

                                        <!-- CURRENT LISTINGS --> 
                                        <% unless @property_checkbox_ids.blank? %>
                                        <tr>
                                          <td valign="top">
                                            <table id="<%= @data["current_listing_title"].blank? ? "CURRENT LISTINGS" : @data["current_listing_title"]%>" cellpadding="0" cellspacing="0" style="white-space:normal;width:auto">
                                              <tr>
                                                <td valign="top" style="background:<%= @heading %>; padding:9px">
                                                  <p style="margin:0; color:#FFFFFF; font-family: Verdana, Geneva, sans-serif; text-transform:uppercase; font-size:14px"><%= @data["current_listing_title"].blank? ? "CURRENT LISTINGS" : @data["current_listing_title"]%></p>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>

                                        <tr>
                                          <td valign="top" style="padding:10px 0">
                                            <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                              <tbody>
                                                  <% @property_checkbox_ids.each do |property_checkbox| %>
                                                    <tr>
                                                      <td width="170" valign="top">
                                                        <a href="{ecampaign_track_property_url}&property_id=<%= property_checkbox.id %>" target="_blank">
                                                          <% unless property_checkbox.images.blank? %>
                                                            <img width="170" src="<%= property_checkbox.images.first.public_filename(:thumb) %>">
                                                          <% else %>
                                                            <img width="170" src="<%= @base_url %>/images/no_image.jpg">
                                                          <% end %>
                                                        </a>
                                                      </td>
                                                      <td width="595" valign="top" style="padding-left:10px">
                                                        <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                          <tbody>
                                                            <tr>
                                                              <td width="595" valign="top" style="border-bottom:1px solid <%= @thinline %>; padding-bottom:5px">
                                                                <p style="margin:0; font-family:Verdana, Geneva, sans-serif; font-size:11px;color:<%= @thinline %>; font-weight:bold"><%= property_checkbox.headline.upcase %></p>
                                                              </td>
                                                            </tr>
                                                            <tr>
                                                              <td width="595" valign="top" style="padding:5px 0">
                                                                <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                                  <tbody>
                                                                    <tr>
                                                                      <td width="375" valign="top">
                                                                        <p style="font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#333333; margin:0; font-weight:bold;">
                                                                          <%= "#{property_checkbox.unit_number}/" if property_checkbox.unit_number.present? %><%= property_checkbox.street_number.blank? ? "" : "#{property_checkbox.street_number}&nbsp;" %>
                                                                          <%= property_checkbox.street.blank? ? "" : "#{property_checkbox.street}&nbsp;" %>
                                                                          <%= property_checkbox.suburb.upcase %>
                                                                        </p>
                                                                      </td>
                                                                      <td width="220" valign="top" style="text-align:right">
                                                                        <p style="font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#333333; margin:0; font-weight:bold;">
                                                                          <% unless property_checkbox.display_price.to_i == 0 %>
                                                                            <% if property_checkbox.type.to_s == 'Commercial'%>
                                                                              <% if property_checkbox.deal_type == 'Lease' %>
                                                                                <%= property_checkbox.display_price.to_i == 1 ? (property_checkbox.detail.rental_price.blank? ? "" : ("$#{property_checkbox.detail.rental_price}" + (property_checkbox.detail.rental_price_to.blank? ? "" : " - $#{property_checkbox.detail.rental_price_to}"))) : property_checkbox.display_price_text %>
                                                                              <% else %>
                                                                                <%= property_checkbox.display_price.to_i == 1 ? (property_checkbox.detail.sale_price_from.blank? ? "" : ("$#{property_checkbox.detail.sale_price_from}" + (property_checkbox.detail.sale_price_to.blank? ? "" : " - $#{property_checkbox.detail.sale_price_to}"))) : property_checkbox.display_price_text %>
                                                                              <% end %>
                                                                            <% else %>
                                                                              <%= property_checkbox.display_price.to_i == 1 ? (property_checkbox.price.blank? ? "" : "$#{property_checkbox.price}" + (property_checkbox.to_price.blank? ? "" : "- $#{property_checkbox.to_price}")) : property_checkbox.display_price_text %>
                                                                            <% end %>
                                                                          <% end %>
                                                                        </p>
                                                                      </td>
                                                                    </tr>
                                                                  </tbody>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                            <tr>
                                                              <td valign="top" style="padding:5px 0 10px">
                                                                <p style="font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; margin:0"> <%= truncate(property_checkbox.description, 200, "...") %></p>
                                                              </td>
                                                            </tr>
                                                            <tr>
                                                              <td valign="top">
                                                                <p style="margin:0; font-family:Verdana, Geneva, sans-serif; font-size:11px;color:black; font-weight:bold"><%= display_opentime(property_checkbox.id, "", "all") %></p>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                    <tr><td style="padding:7px 0"></td></tr>
                                                  <%end%>
                                                <%end%>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr><td style="padding:10px 0 "></td></tr>
                                        <% unless @property_rental_checkbox_ids.blank? %>
                                          <!-- RENTAL LISTINGS -->
                                          <tr>
                                            <td valign="top">
                                              <table id="<%= @data["rental_listing_title"].blank? ? "RENTAL LISTINGS" : @data["rental_listing_title"] %>" cellpadding="0" cellspacing="0" style="white-space:normal;width:auto">
                                                <tr>
                                                  <td valign="top" style="background:<%= @heading %>; padding:9px">
                                                    <p style="margin:0; color:#FFFFFF; font-family: Verdana, Geneva, sans-serif; text-transform:uppercase; font-size:14px"> <%= @data["rental_listing_title"].blank? ? "RENTAL LISTINGS" : @data["rental_listing_title"] %></p>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top" style="padding:5px 0; border-bottom:2px solid <%= @thinline %>">
                                              <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                <tr>
                                                  <td width="250" valign="top">
                                                    <p style="margin:0; color:#222222; font-family: Verdana, Geneva, sans-serif; text-transform:uppercase; font-size:11px; font-weight:bold">Address</p>
                                                  </td>
                                                  <td width="160" valign="top" style="text-align:left;padding:0 10px">
                                                    <p style="margin:0; color:#222222; font-family: Verdana, Geneva, sans-serif; text-transform:uppercase; font-size:11px; font-weight:bold">Time</p>
                                                  </td>
                                                  <td width="140" valign="top" style="text-align:right">
                                                    <p style="margin:0; color:#222222; font-family: Verdana, Geneva, sans-serif; text-transform:uppercase; font-size:11px; font-weight:bold">Price</p>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                          <% @property_rental_checkbox_ids.each do |property_checkbox| %>
                                            <tr>
                                              <td valign="top" style="padding:5px 0;">
                                                <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                  <tr>
                                                    <td width="250" valign="top">
                                                      <a href="{ecampaign_track_property_url}&property_id=<%= property_checkbox.id %>" target="_blank" style="text-decoration:underline; font-family:Verdana, Geneva, sans-serif; text-decoration:underline; font-size:11px; color:#666666"> <%= property_checkbox.unit_number.blank? ? "" : "#{property_checkbox.unit_number}/" %><%= property_checkbox.street_number.blank? ? "" : "#{property_checkbox.street_number}&nbsp;" %>
                                                        <%= property_checkbox.street.blank? ? "" : "#{property_checkbox.street}&nbsp;" %>
                                                        <%= property_checkbox.suburb %></a>
                                                    </td>
                                                    <td width="160" valign="top" style="text-align:left;padding:0 10px">
                                                      <p style="margin:0; font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666666"><%= display_opentime(property_checkbox.id, "", "all",true) %></p>
                                                    </td>
                                                    <td width="140" valign="top" style="text-align:right">
                                                      <p style="margin:0; font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666666"><% unless property_checkbox.display_price.to_i == 0 %>
                                                          <% if property_checkbox.type.to_s == 'Commercial'%>
                                                            <% if property_checkbox.deal_type == 'Lease' %>
                                                              <%= property_checkbox.display_price.to_i == 1 ? (property_checkbox.detail.rental_price.blank? ? "" : ("$#{property_checkbox.detail.rental_price}" + (property_checkbox.detail.rental_price_to.blank? ? "" : " - $#{property_checkbox.detail.rental_price_to}"))) : property_checkbox.display_price_text %>
                                                            <% else %>
                                                              <%= property_checkbox.display_price.to_i == 1 ? (property_checkbox.detail.sale_price_from.blank? ? "" : ("$#{property_checkbox.detail.sale_price_from}" + (property_checkbox.detail.sale_price_to.blank? ? "" : " - $#{property_checkbox.detail.sale_price_to}"))) : property_checkbox.display_price_text %>
                                                            <% end %>
                                                          <% else %>
                                                            <%= property_checkbox.display_price.to_i == 1 ? (property_checkbox.price.blank? ? "" : "$#{property_checkbox.price}" + (property_checkbox.to_price.blank? ? "" : "- $#{property_checkbox.to_price}")) : property_checkbox.display_price_text %>
                                                          <% end %>
                                                        <% end %></p>
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          <% end %>
                                        <% end %>
                                         <tr><td style="padding:10px 0 "></td></tr>
<!-- SOLD LISTINGS -->
                                        <% unless @property_checkbox_soldlease_ids.blank? %>
                                          <tr>
                                            <td valign="top" >
                                              <table id="<%= @data["sold_listing_title"].blank? ? "SOLD LISTINGS" : @data["sold_listing_title"] %>" cellpadding="0" cellspacing="0" style="white-space:normal;width:auto">
                                                <tr>
                                                  <td valign="top" style="background:<%= @heading %>; padding:9px">
                                                    <p style="margin:0; color:#FFFFFF; font-family: Verdana, Geneva, sans-serif; text-transform:uppercase; font-size:14px"><%= @data["sold_listing_title"].blank? ? "SOLD LISTINGS" : @data["sold_listing_title"] %></p>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                          <% @property_checkbox_soldlease_ids.each do |property_checkbox| %>
                                            <tr>
                                              <td valign="top" style="padding:10px 0">
                                                <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                  <tbody>
                                                    <tr>
                                                        <td width="170" height="113" valign="top" align="left" style="background-repeat:no-repeat; width:165px; height:90px" valign="top" background="<%= property_checkbox.images.present? ? property_checkbox.images.first.public_filename(:thumb) : "#{@base_url}/images/no_image.jpg" %>">
                                                          <table cellpadding="0" cellspacing="0" border="0" width="140">
                                                            <tbody>
                                                              <tr>
                                                                <!--[if gte mso 9]>
                                                                   <v:image xmlns:v="urn:schemas-microsoft-com:vml" id="theImage" style='behavior: url(#default#VML); display:inline-block; position:absolute; background-repeat:no-repeat;height:94px; width:140px; top:0; left:0; border:0; z-index:1;' src="<%= property_checkbox.images.present? ? property_checkbox.images.first.public_filename(:thumb) : "#{@base_url}/images/no_image.jpg" %>"/>
                                                                   <v:shape xmlns:v="urn:schemas-microsoft-com:vml" id="theText" style='behavior: url(#default#VML); display:inline-block; position:absolute; background-repeat:no-repeat; height:94px; width:140px; top:-5; left:-10; border:0; z-index:2;'>
                                                                <![endif]-->
                                                                  <td valign="top" align="left">
                                                                    <a target="_blank" href="{ecampaign_track_property_url}&property_id=<%= property_checkbox.id %>">
                                                                      <img src="http://www.irealty.com.au/RichardsonandWrenchElizabethBay/Templates/sold.gif" width="140" height="94" border="0">
                                                                    </a>
                                                                  </td>
                                                                <!--[if gte mso 9]>
                                                                  </v:shape>
                                                                <![endif]-->
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      <td width="595" valign="top" style="padding-left:10px">
                                                        <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                          <tbody>
                                                            <tr>
                                                              <td width="595" valign="top" style="border-bottom:1px solid <%= @thinline %>; padding-bottom:5px">
                                                                <p style="margin:0; font-family:Verdana, Geneva, sans-serif; font-size:11px;color:<%= @heading %>; font-weight:bold"><%= property_checkbox.headline.upcase %></p>
                                                              </td>
                                                            </tr>
                                                            <tr>
                                                              <td width="595" valign="top" style="padding:5px 0">
                                                                <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                                  <tbody>
                                                                    <tr>
                                                                      <td width="375" valign="top">
                                                                        <p style="font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#333333; margin:0; font-weight:bold;">
                                                                          <%= property_checkbox.unit_number.blank? ? "" : "#{property_checkbox.unit_number}/" %><%= property_checkbox.street_number.blank? ? "" : "#{property_checkbox.street_number}&nbsp;" %>
                                                                          <%= property_checkbox.street.blank? ? "" : "#{property_checkbox.street}&nbsp;" %>
                                                                          <%= property_checkbox.suburb %>
                                                                        </p>
                                                                      </td>
                                                                      <td width="220" valign="top" style="text-align:right">
                                                                        <p style="font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#333333; margin:0; font-weight:bold;">
                                                                          <% unless property_checkbox.display_price.to_i == 0 %>
                                                                            <% if property_checkbox.type.to_s == 'Commercial'%>
                                                                              <% if property_checkbox.deal_type == 'Lease' %>
                                                                                <%= property_checkbox.display_price.to_i == 1 ? (property_checkbox.detail.rental_price.blank? ? "" : ("$#{property_checkbox.detail.rental_price}" + (property_checkbox.detail.rental_price_to.blank? ? "" : " - $#{property_checkbox.detail.rental_price_to}"))) : property_checkbox.display_price_text %>
                                                                              <% else %>
                                                                                <%= property_checkbox.display_price.to_i == 1 ? (property_checkbox.detail.sale_price_from.blank? ? "" : ("$#{property_checkbox.detail.sale_price_from}" + (property_checkbox.detail.sale_price_to.blank? ? "" : " - $#{property_checkbox.detail.sale_price_to}"))) : property_checkbox.display_price_text %>
                                                                              <% end %>
                                                                            <% else %>
                                                                              <%= property_checkbox.display_price.to_i == 1 ? (property_checkbox.price.blank? ? "" : "$#{property_checkbox.price}" + (property_checkbox.to_price.blank? ? "" : "- $#{property_checkbox.to_price}")) : property_checkbox.display_price_text %>
                                                                            <% end %>
                                                                          <% end %>
                                                                        </p>
                                                                      </td>
                                                                    </tr>
                                                                  </tbody>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                            <tr>
                                                              <td valign="top" style="padding:5px 0 10px">
                                                                <p style="font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; margin:0"><%= truncate(property_checkbox.description, 200, "...") %></p>
                                                              </td>
                                                            </tr>

                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          <%end%>
                                        <%end%>
                                      </tbody>
                                    </table>
                                  </td>

                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td>
                    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td>
                            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                              <tbody>
                                <tr>
                                  <td width="760" valign="top" style="text-align:center; background:<%= @heading %>; padding:10px">
                                    <p style="margin:0; font-size:11px; font-family:Verdana, Geneva, sans-serif; color:#ffffff; font-weight:bold"><%= @office.agent.name %></p>
                                    <p style="margin:0; font-size:11px; font-family:Verdana, Geneva, sans-serif; color:#ffffff;"><%= @office.street_number %>&nbsp;<%= @office.street %>,&nbsp;<%= @office.suburb %>&nbsp;<%= @office.state %><br></p>
                                    <p style="margin:0"><span style="margin:0; font-size:11px; font-family:Verdana, Geneva, sans-serif; color:#ffffff; font-weight:bold">P.</span><span style="margin:0; font-size:11px; font-family:Verdana, Geneva, sans-serif; color:#ffffff;"> <%= @office.phone_number %> </span><span style="margin:0; font-size:11px; font-family:Verdana, Geneva, sans-serif; color:#ffffff; font-weight:bold">F.</span><span style="margin:0; font-size:11px; font-family:Verdana, Geneva, sans-serif; color:#ffffff;"> <%= @office.fax_number %></span></p>
                                    <p style="margin:0; font-size:11px; font-family:Verdana, Geneva, sans-serif; color:#ffffff;">This email was sent to <a href="mailto:{recipient_mail_address}" style="color:#ffffff">{recipient_mail_address}</a> by <%= @office.agent.name %>.</p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td>
                    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td valign="top" style="padding:10px 0">
                            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal;">
                              <tbody>
                                <tr>
                                  <td width="50%" valign="top">
                                    <p style="color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin:0">To unsubscribe from this service please click <a href="{unsubcribe}" style="color:#999999;text-decoration:none; font-size:11px">here.</a></p>
                                    <p style="color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin: 0">Copyright &copy; <b><%= @office.name %></b> <%= Time.now.strftime("%Y")  %></p>
                                  </td>
                                  <td width="50%" valign="top" style="text-align:right;">
                                    <p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; margin:0">Powered By <a href="http://agentpoint.com.au" target="_blank" style="color:#999999;text-decoration:underline;"><b>Agentpoint</b></a></p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="display:none;">{view_open_url}</div>
  </div>
</div>
