<style type="text/css">
  a img{color:transparent !important;}
  a:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  a.info_link:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  p{font-size:8pt;}
  tr{background:none;}
  .greybg{background-color:#EAEAEA;}
  .wrp{margin-top:3px;}
  .greybg th, .greybg td{padding:0}
  tr:hover{background:none;}
  .greybg table{
    border: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    margin: 0;
    width:auto;
    }
  .greybg td{border:0}
  .greybg a{font-weight: normal;}
</style>

<div class="greybg" style="margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;">
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;">
    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
      <tbody>
        <tr>
          <td>
            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td>
                    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td>
                            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                              <tbody>
                                <tr>
                                  <td width="760" valign="top" style="text-align:center; padding:5px 10px 20px 10px">
                                    <p style="margin:0; font:Arial, Helvetica, sans-serif; font-size: 8pt; color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser. Or <a href="{forward}" style="color:#999999;" target="_blank">click here <img style="width: 22px;position: relative;top: 7px;left: 2px;" src="http://commercialloopcrm.com.au/images/mail_forward.png"></a> to forward this email</p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td valign="top">
                            <img width="780" src="<%= @header_image.public_filename unless @header_image.blank? %>"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal" style="border-bottom:1px solid #933">
                              <tbody>
                                <tr>
                                  <td width="<%= @img_portrait_2.blank? ? "750" : "570" %>" valign="top" style="padding:6px 5px 10px 10px;background:<%= @bgcolor %>" >
                                    <%= @data["sender_description"]  %>
                                  </td>
                                  <td style="padding:6px 10px 10px 5px;background:<%= @bgcolor %>">
                                    <% unless @img_portrait_2.blank? %>
                                    <img src="<%= @img_portrait_2.public_filename %>" width="195" height="auto" />
                                    <% end %>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" style="white-space:normal; background:<%= @bgcolor %>">
                            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal;border-top:1px solid #933">
                              <tbody>
                                <% unless @featured_properties.blank? %>
                                <tr>
                                  <td valign="top" style="padding:10px 10px 5px">
                                    <p style="margin:0; font-size: 11.5pt; font-family: Arial; color: rgb(17, 17, 17); font-weight: bold;"><%= @data["featured_listing_title"].blank? ? "Property of the week" : @data["featured_listing_title"] %></p>
                                  </td>
                                </tr>
                                <% @featured_properties.each_with_index do |featured_property, index| %>
                                  <tr>
                                    <td valign="top" style="padding:5px 10px">
                                      <table width="760" cellpadding="0" cellspacing="0" style="white-space:normal">
                                        <tbody>
                                          <tr>
                                            <td width="300" valign="top">
                                              <a target="_blank" href="{ecampaign_track_property_url}&property_id=<%= featured_property.id %>">
                                                <% unless featured_property.images.blank? %>
                                                  <img border="0" width="300" src="<%= featured_property.images.first.public_filename %>">
                                                <% else %>
                                                  <img width="170" border="0" src="<%= @base_url %>/images/no_image.jpg" style="display:block">
                                                <% end %>
                                              </a>
                                            </td>
                                            <td width="450" valign="top" style="text-align:left;padding-left:10px;">
                                              <table width="450" cellpadding="0" cellspacing="0" style="white-space:normal;border-left:10px solid <%= @bgcolor %>;">
                                                <tbody>
                                                  <tr>
                                                    <td width="440" valign="top">
                                                      <p style="margin:0;font-size: 9pt; font-family: Arial; color: rgb(64, 64, 64); text-transform: uppercase; font-weight: bold;">
                                                         <%= featured_property.unit_number.present? ? "#{featured_property.unit_number}/" : "" %><%= featured_property.street_number %>&nbsp;<%= featured_property.street %>&nbsp;
                                                      </p>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td width="440" valign="top" style="padding:15px 0">
                                                      <p style="margin:0;font-size: 9pt; font-family: Arial; color: rgb(157, 157, 157); text-transform: uppercase; font-weight: bold;"><%= featured_property.suburb %></p>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td width="440" valign="top">
                                                      <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                        <tbody>
                                                          <tr>
                                                            <% if featured_property.detail.respond_to?("bedrooms") && featured_property.detail.bedrooms > 0 %>
                                                              <td width="35" valign="top">
                                                                <img border="0" height="26" src="http://members.portplus.com/storage/newsletter/system/staffNewsletter/bed.jpg" />
                                                              </td>
                                                              <td width="10" valign="middle" style="padding-right:15px">
                                                                <p style="margin:0;font-size: 9pt; font-family: Arial; color: rgb(33, 33, 33); text-transform: uppercase; font-weight: bold"><%= featured_property.detail.bedrooms rescue '' %></p>
                                                              </td>
                                                            <% end %>
                                                            <% if featured_property.detail.respond_to?("bathrooms") && featured_property.detail.bedrooms > 0 %>
                                                              <td width="40" valign="top">
                                                                <img border="0" height="26" src="http://members.portplus.com/storage/newsletter/system/staffNewsletter/bath_2.jpg" />
                                                              </td>
                                                              <td width="10" valign="middle" style="padding-right:15px">
                                                                <p style="margin:0;font-size: 9pt; font-family: Arial; color: rgb(33, 33, 33); text-transform: uppercase; font-weight: bold"><%= featured_property.detail.bathrooms rescue '' %></p>
                                                              </td>
                                                            <% end %>
                                                            <% if (carport_garage(featured_property) != 0) %>
                                                              <td width="35" valign="top">
                                                                <img border="0" height="26" src="http://members.portplus.com/storage/newsletter/system/staffNewsletter/car_2.jpg" />
                                                              </td>
                                                              <td width="10" valign="middle">
                                                                <p style="margin:0;font-size: 9pt; font-family: Arial; color: rgb(33, 33, 33); text-transform: uppercase; font-weight: bold"><%= carport_garage(featured_property) %></p>
                                                              </td>
                                                            <% end %>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td width="440" valign="top" style="padding:15px 0">
                                                      <p style="margin:0; font-size: 9pt; font-family: Arial; color: rgb(64, 64, 64); text-transform: uppercase; font-weight: bold;">AGENT DETAILS</p>
                                                    </td>
                                                  </tr>
                                                  <% unless featured_property.primary_contact.blank? %>
                                                    <tr>
                                                      <td valign="top" style="padding:5px 0">
                                                        <p style="margin:0">
                                                          <span style="font-size: 8.5pt; font-family: Arial; color: rgb(18, 16, 16); text-transform: uppercase; font-weight: bold;">Tel.</span>
                                                          <span style="font-size: 8.5pt; font-family: Arial; color: rgb(157, 157, 157); text-transform: uppercase; font-weight: bold;">
                                                            <%= featured_property.primary_contact.phone  %>
                                                          </span>
                                                        </p>
                                                      </td>
                                                    </tr>
                                                  <% end %>
                                                  <% unless featured_property.primary_contact.blank? %>
                                                    <tr>
                                                      <td valign="top" style="padding:5px 0">
                                                        <p style="margin:0">
                                                          <span style="font-size: 8.5pt; font-family: Arial; color: rgb(18, 16, 16); text-transform: uppercase; font-weight: bold;">MOBILE.</span>
                                                          <span style="font-size: 8.5pt; font-family: Arial; color: rgb(157, 157, 157); text-transform: uppercase; font-weight: bold;">
                                                            <%= featured_property.primary_contact.mobile %>
                                                          </span>
                                                        </p>
                                                      </td>
                                                    </tr>
                                                  <% end %>
                                                  <% unless featured_property.primary_contact.blank? %>
                                                    <tr>
                                                      <td valign="top" style="padding:5px 0">
                                                        <a style="font:7pt Arial, Helvetica, sans-serif; color: #121010; text-transform:uppercase;" target="_blank" href="mailto:<%= featured_property.primary_contact.email %>">
                                                          <%= featured_property.primary_contact.email %>
                                                        </a>
                                                      </td>
                                                    </tr>
                                                  <% end %>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top" colspan="2" style="padding:10px 0">
                                              <p style="margin:0;font-size: 8.5pt; font-family: Arial; color: rgb(54, 54, 54); font-weight: bold;">
                                                <%= featured_property.headline unless featured_property.headline.blank? %>
                                              </p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td width="760" valign="top" colspan="2" style="padding:0 0 10px">
                                              <p style="margin:0; font-size: 8.5pt; font-family: Arial; color: rgb(54, 54, 54); text-align:justify;">
                                                <%= truncate(featured_property.description, 700, "...")  unless featured_property.description.blank? %>
                                              </p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td width="760" valign="top" colspan="2" style="padding:0 0 10px; text-align:right; border-bottom:1px solid #933">
                                              <a target="_blank" href="{ecampaign_track_property_url}&property_id=<%= featured_property.id %>">
                                                <img border="0" width="105" height="20" src="http://members.portplus.com/storage/newsletter/system/staffNewsletter/view.jpg">
                                              </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                <%end%>
                                <% end %>
                                <% unless @property_checkbox_ids.blank? %>
                                <tr>
                                  <td valign="top" style="padding:5px 10px 10px">
                                    <table width="760" cellpadding="0" cellspacing="0" style="white-space:normal">
                                      <tbody>
                                        <tr>
                                          <td valign="top" style="padding:0 0 10px">
                                            <p style="margin:0;font-size: 11.5pt; font-family: Arial; color: rgb(17, 17, 17); font-weight: bold"><%= @data["current_listing_title"].blank? ? "Current Listings" : @data["current_listing_title"] %></p>
                                          </td>
                                        </tr>
                                        <% @property_checkbox_ids.each_with_index do |current_listing, index| %>
                                          <tr>
                                            <td valign="top">
                                              <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                <tbody>
                                                  <tr>
                                                    <td width="138" valign="top">
                                                      <a target="_blank" href="{ecampaign_track_property_url}&property_id=<%= current_listing.id %>">
                                                        <img border="0" width="138" height="92" src="<%= current_listing.images.first.public_filename(:medium) unless current_listing.images.blank? %>">
                                                      </a>
                                                    </td>
                                                    <td width="420" valign="top" style="padding-left:10px">
                                                      <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                        <tbody>
                                                          <tr>
                                                            <td valign="top">
                                                              <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                                <tbody>
                                                                  <tr>
                                                                    <% if current_listing.detail.respond_to?("bedrooms") && current_listing.detail.bedrooms > 0 %>
                                                                      <td width="35" valign="top">
                                                                        <img border="0" height="26" src="http://members.portplus.com/storage/newsletter/system/staffNewsletter/bed.jpg" />
                                                                      </td>
                                                                      <td width="10" valign="middle" style="padding-right:15px">
                                                                        <p style="margin:0;font-size: 9pt; font-family: Arial; color: rgb(33, 33, 33); text-transform: uppercase; font-weight: bold"><%= current_listing.detail.bedrooms rescue '' %></p>
                                                                      </td>
                                                                    <% end %>
                                                                    <% if current_listing.detail.respond_to?("bathrooms") && current_listing.detail.bedrooms > 0 %>
                                                                      <td width="40" valign="top">
                                                                        <img border="0" height="26" src="http://members.portplus.com/storage/newsletter/system/staffNewsletter/bath_2.jpg" />
                                                                      </td>
                                                                      <td width="10" valign="middle" style="padding-right:15px">
                                                                        <p style="margin:0;font-size: 9pt; font-family: Arial; color: rgb(33, 33, 33); text-transform: uppercase; font-weight: bold"><%= current_listing.detail.bathrooms rescue '' %></p>
                                                                      </td>
                                                                    <% end %>
                                                                    <% if (carport_garage(current_listing) != 0) %>
                                                                    <td width="35" valign="top">
                                                                      <img border="0" height="26" src="http://members.portplus.com/storage/newsletter/system/staffNewsletter/car_2.jpg" />
                                                                    </td>
                                                                    <td width="10" valign="middle">
                                                                      <p style="margin:0;font-size: 9pt; font-family: Arial; color: rgb(33, 33, 33); text-transform: uppercase; font-weight: bold"><%= carport_garage(current_listing) %></p>
                                                                    </td>
                                                                    <% end %>
                                                                  </tr>
                                                                </tbody>
                                                              </table>
                                                            </td>
                                                          </tr>
                                                          <tr>
                                                            <td width="420" valign="top" style="padding-top:5px">
                                                              <p style="margin:0;font-size: 8.5pt; font-family: Arial; color: rgb(54, 54, 54); text-align:justify;">
                                                                 <%= truncate(current_listing.description, 300, "...") %>
                                                              </p>
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                    <td width="162" valign="top" style="padding-left:30px">
                                                      <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                        <tbody>
                                                          <tr>
                                                            <td valign="top" style="padding-bottom:10px">
                                                              <p style="margin:0;font-size: 9pt; font-family: Arial; color: rgb(64, 64, 64); text-transform: uppercase; font-weight: bold;">
                                                                <%= current_listing.unit_number.present? ? "#{current_listing.unit_number}/" : "" %><%= current_listing.street_number %>&nbsp;<%= current_listing.street %>&nbsp;
                                                              </p>
                                                            </td>
                                                          </tr>
                                                          <tr>
                                                            <td valign="top">
                                                              <p style="margin:0;font-size: 9pt; font-family: Arial; color: rgb(157, 157, 157); text-transform: uppercase; font-weight: bold"><%= current_listing.suburb %>&nbsp;</p>
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td width="760" valign="top" style="padding:5px 0 10px;border-bottom:1px dotted #ccc;text-align:right">
                                              <a target="_blank" href="{ecampaign_track_property_url}&property_id=<%= current_listing.id %>"><img border="0" width="105" height="20" src="http://members.portplus.com/storage/newsletter/system/staffNewsletter/view.jpg"></a>
                                            </td>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <% end %>

                               <% unless @property_checkbox_soldlease_ids.blank? %>
                                <tr>
                                  <td valign="top" style="padding:5px 10px 10px">
                                    <table width="760" cellpadding="0" cellspacing="0" style="white-space:normal;border-top:1px solid #933">
                                      <tbody>
                                        <tr>
                                          <td valign="top" style="padding:10px 0 10px">
                                            <p style="margin:0;font-size: 11.5pt; font-family: Arial; color: rgb(17, 17, 17); font-weight: bold"><%= @data["sold_listing_title"].blank? ? "Sold Listings" : @data["sold_listing_title"] %></p>
                                          </td>
                                        </tr>
                                        <% @property_checkbox_soldlease_ids.each_with_index do |current_listing, index| %>
                                          <tr>
                                            <td valign="top">
                                              <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                <tbody>
                                                  <tr>
                                                    <td width="138" valign="top">
                                                      <a target="_blank" href="{ecampaign_track_property_url}&property_id=<%= current_listing.id %>">
                                                        <img border="0" width="138" height="92" src="<%= current_listing.images.first.public_filename(:medium) unless current_listing.images.blank? %>">
                                                      </a>
                                                    </td>
                                                    <td width="420" valign="top" style="padding-left:10px">
                                                      <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                        <tbody>
                                                          <tr>
                                                            <td valign="top">
                                                              <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                                <tbody>
                                                                  <tr>
                                                                    <% if current_listing.detail.respond_to?("bedrooms") && current_listing.detail.bedrooms > 0 %>
                                                                      <td width="35" valign="top">
                                                                        <img border="0" height="26" src="http://members.portplus.com/storage/newsletter/system/staffNewsletter/bed.jpg" />
                                                                      </td>
                                                                      <td width="10" valign="middle" style="padding-right:15px">
                                                                        <p style="margin:0;font-size: 9pt; font-family: Arial; color: rgb(33, 33, 33); text-transform: uppercase; font-weight: bold"><%= current_listing.detail.bedrooms rescue '' %></p>
                                                                      </td>
                                                                    <% end %>
                                                                    <% if current_listing.detail.respond_to?("bathrooms") && current_listing.detail.bedrooms > 0 %>
                                                                      <td width="40" valign="top">
                                                                        <img border="0" height="26" src="http://members.portplus.com/storage/newsletter/system/staffNewsletter/bath_2.jpg" />
                                                                      </td>
                                                                      <td width="10" valign="middle" style="padding-right:15px">
                                                                        <p style="margin:0;font-size: 9pt; font-family: Arial; color: rgb(33, 33, 33); text-transform: uppercase; font-weight: bold"><%= current_listing.detail.bathrooms rescue '' %></p>
                                                                      </td>
                                                                    <% end %>
                                                                    <% if (carport_garage(current_listing) != 0) %>
                                                                    <td width="35" valign="top">
                                                                      <img border="0" height="26" src="http://members.portplus.com/storage/newsletter/system/staffNewsletter/car_2.jpg" />
                                                                    </td>
                                                                    <td width="10" valign="middle">
                                                                      <p style="margin:0;font-size: 9pt; font-family: Arial; color: rgb(33, 33, 33); text-transform: uppercase; font-weight: bold"><%= carport_garage(current_listing) %></p>
                                                                    </td>
                                                                    <% end %>
                                                                  </tr>
                                                                </tbody>
                                                              </table>
                                                            </td>
                                                          </tr>
                                                          <tr>
                                                            <td width="420" valign="top" style="padding-top:5px">
                                                              <p style="margin:0;font-size: 8.5pt; font-family: Arial; color: rgb(54, 54, 54); text-align:justify;">
                                                                 <%= truncate(current_listing.description, 300, "...") %>
                                                              </p>
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                    <td width="162" valign="top" style="padding-left:30px">
                                                      <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                        <tbody>
                                                          <tr>
                                                            <td valign="top" style="padding-bottom:10px">
                                                              <p style="margin:0;font-size: 9pt; font-family: Arial; color: rgb(64, 64, 64); text-transform: uppercase; font-weight: bold;">
                                                                <%= current_listing.unit_number.present? ? "#{current_listing.unit_number}/" : "" %><%= current_listing.street_number %>&nbsp;<%= current_listing.street %>&nbsp;
                                                              </p>
                                                            </td>
                                                          </tr>
                                                          <tr>
                                                            <td valign="top">
                                                              <p style="margin:0;font-size: 9pt; font-family: Arial; color: rgb(157, 157, 157); text-transform: uppercase; font-weight: bold"><%= current_listing.suburb %>&nbsp;</p>
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td width="760" valign="top" style="padding:5px 0 10px; border-bottom:1px dotted #ccc; text-align:right">
                                              <a target="_blank" href="{ecampaign_track_property_url}&property_id=<%= current_listing.id %>"><img border="0" width="105" height="20" src="http://members.portplus.com/storage/newsletter/system/staffNewsletter/view.jpg"></a>
                                            </td>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <% end %> 
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
      <tbody>
        <tr>
          <td>
            <table cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td width="580" >
                    <p style="color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:10px; margin:0">To unsubscribe from this service please <a href="{unsubcribe}" style="color:#999999;font-size:10px">click here.</a></p>
                    <p style="color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:10px; margin: 0">Copyright © <b><%= @office.name %></b> <%= Time.now.strftime("%Y")  %></p>
                  </td>
                  <td width="195">
                    <p style="color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:10px; margin:0; text-align:right">Powered By <a href="http://agentpoint.com.au" target="_blank" style="color:#999999;text-decoration:none;"><b>Agentpoint</b></a></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="display:none;">{view_open_url}</div>
  </div>
</div>