<style type="text/css">
  a img{color:transparent !important;}
  a:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  a.info_link:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  p{font-size:8pt;}
  tr{background:none;}
  .greybg{background-color:#EAEAEA;}
  .wrp{margin-top:3px;}
  .greybg th, .greybg td{padding:0}
  tr:hover{background:none;}
  .greybg table{
    border: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    margin: 0;}
   .greybg td{border:0}
  }
</style>
<div class="greybg" style="margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;">
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;">
    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
      <tbody>
        <tr>
          <td>
            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td valign="top" style="text-align:center">
                    <p style="margin:0; font:Arial, Helvetica, sans-serif; font-size: 8pt; color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser. Or <a href="{forward}" style="color:#999999;" target="_blank">click here <img style="width: 22px;position: relative;top: 7px;left: 2px;" src="http://commercialloopcrm.com.au/images/mail_forward.png"></a> to forward this email</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td>
                    <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780" height="80">
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
      <tbody>
        <tr>
          <td>
            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <% unless @img_portrait_2.blank? %>
                    <td width="170" valign="top" style="background:<%= @mainbg %>;">
                      <table cellpadding="0" cellspacing="0" style="white-space:normal">
                        <tbody>
                            <tr>
                              <td style=" padding-left:5px; padding-top:5px">
                                <img src="<%= @img_portrait_2.public_filename %>" width="170">
                              </td>
                            </tr>
                        </tbody>
                      </table>
                    </td>
                  <% end %>
                  <td width="auto" valign="top" style="background:<%= @mainbg %>">
                    <table cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td style="padding:5px 10px">
                            <p style="color:<%= @maintext %>; text-align:justify; font-family:Arial, Helvetica, sans-serif; font-size:10.0pt; line-height:15px;margin-top: 0;"><%= @data["sender_description"]  %></p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="3" valign="top" style="background:#ffffff">
                  </td>
                  <td valign="top" style=" background:<%= @bgcolor %>" width="195">
                    <table width="195" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <%= ecampaign_links_table(@info_links, @web_links, @general_links, @socials, @bgcolor, @heading, @headingtextcolor, @link_order) %>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <% unless @featured_properties.blank? %>
        <tr>
          <td>
            <table width="780" cellpadding="0" cellspacing="0" style="background:<%= @mainbg %>; white-space:normal">
              <tbody>
                <tr>
                  <td colspan="2" style="background:<%= @mainbg %>">
                    <table width="100%" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td colspan="2" style="padding: 15px 5px 10px;">
                            <p style="color:<%= @maintext %>; font-family:Arial, Helvetica, sans-serif;font-size: 14pt; font-weight:bold;margin: 0;"><%= @data["featured_listing_title"].blank? ? "Property of the week" : @data["featured_listing_title"] %></p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="3" valign="top" style="background:#ffffff">
                  </td>
                  <td width="195" valign="top" style="background:<%= @bgcolor %>">
                    <table cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td valign="top" style=" padding:5px 5px;">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <% @featured_properties.each_with_index do |featured_property, index| %>
        <tr>
          <td>
            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td colspan="2" valign="top" style="background:<%= @mainbg %>;border-top:1px solid <%= @thinline %>;">
                    <table width="100%" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="3" valign="top" style="background:#ffffff">
                  </td>
                  <td width="195" valign="top" style="background:<%= @bgcolor %>; border-top:1px solid <%= @bgcolor %>">
                    <table cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td valign="top" style=" padding:5px 5px;">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table cellpadding="0" cellspacing="0" style="background:<%= @mainbg %>; white-space:normal">
              <tbody>
                <tr>
                  <td width="250" valign="top" style=" background:<%= @mainbg %>; padding-left:5px; padding-bottom:5px">
                    <a href="{ecampaign_track_property_url}&property_id=<%= featured_property.id %>">
                      <% unless featured_property.images.blank? %>
                        <img src="<%= featured_property.images.first.public_filename(:medium) %>" width="250"/>
                      <% else %>
                        <img src="<%= @base_url %>/images/no_image.jpg" width="250"/>
                      <% end %>
                    </a>
                  </td>
                  <td width="auto" valign="top" style=" background:<%= @mainbg %>; padding:0 10px 10px 10px;">
                    <a href="{ecampaign_track_property_url}&property_id=<%= featured_property.id %>" style="font-family:arial;font-size:16px;text-decoration:none;color:<%= @headingtextcolor %>;">
                      <strong>
                        <%= featured_property.unit_number.present? ? "#{featured_property.unit_number}/" : "" %><%= featured_property.street_number %>&nbsp;<%= featured_property.street %>&nbsp;<%= featured_property.suburb %>
                      </strong>
                    </a>
                    <p style="font-weight:bold; color:<%= @headingtextcolor %>; font-family:Arial, Helvetica, sans-serif; font-size:16px;margin-top:0;"><%= featured_property.headline %></p>
                    <p style="color:<%= @textcolor %>; font-family:Arial, Helvetica, sans-serif; font-size:11px; text-align:justify">
                      <%= truncate(featured_property.description, 300, "...") %><br/><br/>
                      <strong>
                        <% unless featured_property.display_price.to_i == 0 %>
                          <% if featured_property.type.to_s == 'Commercial'%>
                            <% if featured_property.deal_type == 'Lease' %>
                               Price: <%= featured_property.display_price.to_i == 1 ? (featured_property.detail.rental_price.blank? ? "" : "$#{featured_property.detail.rental_price} - $#{featured_property.detail.rental_price_to}") : featured_property.display_price_text %>
                            <% else %>
                               Price: <%= featured_property.display_price.to_i == 1 ? (featured_property.detail.sale_price_from.blank? ? "" : "$#{featured_property.detail.sale_price_from} - $#{featured_property.detail.sale_price_to}") : featured_property.display_price_text %>
                            <% end %>
                          <% else %>
                             Price: <%= featured_property.display_price.to_i == 1 ? (featured_property.price.blank? ? "" : "$#{featured_property.price} - $#{featured_property.to_price}") : featured_property.display_price_text %>
                          <% end %>
                        <% end %>
                      </strong>
                    </p>
                  </td>
                  <td width="3" valign="top" style="background:#ffffff">
                  </td>
                  <td width="195" valign="top" style="background:<%= @bgcolor %>">
                    <table cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td valign="top" style=" padding:5px 5px;">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <% end %>
        <% end %>

        <% unless @property_checkbox_ids.blank? %>
          <tr>
            <td>
              <table width="780" cellpadding="0" cellspacing="0" style="background:<%= @mainbg %>; white-space:normal">
                <tbody>
                  <tr>
                    <td colspan="2" style="background:<%= @mainbg %>">
                      <table width="100%" cellpadding="0" cellspacing="0" style="white-space:normal">
                        <tbody>
                          <tr>
                            <td colspan="2" style="padding: 15px 5px 10px;">
                              <p style="color:<%= @maintext %>; font-family:Arial, Helvetica, sans-serif; font-weight:bold;margin: 0;font-size:13pt"><%= @data["current_listing_title"].blank? ? "Current Listings" : @data["current_listing_title"] %></p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td width="3" valign="top" style="background:#ffffff">
                    </td>
                    <td width="195" valign="top" style="background:<%= @bgcolor %>">
                      <table cellpadding="0" cellspacing="0" style="white-space:normal">
                        <tbody>
                          <tr>
                            <td valign="top" style=" padding:5px 5px;">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <% @property_checkbox_ids.each do |property_checkbox| %>
          <tr>
            <td>
              <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                <tbody>
                  <tr>
                    <td colspan="2" valign="top" style="background:<%= @mainbg %>;border-top:1px solid <%= @thinline %>;">
                      <table width="100%" cellpadding="0" cellspacing="0" style="white-space:normal">
                        <tbody>
                          <tr>
                            <td style="padding:10px 0px 10px 5px">
                              <a href="{ecampaign_track_property_url}&property_id=<%= property_checkbox.id %>" style="font-family:arial;font-size:10pt;text-decoration:none;color:<%= @textcolor %>;">
                                <%= property_checkbox.unit_number.blank? ? "" : "#{property_checkbox.unit_number}/" %><%= property_checkbox.street_number.blank? ? "" : "#{property_checkbox.street_number}&nbsp;" %>
                                <%= property_checkbox.street.blank? ? "" : "#{property_checkbox.street}&nbsp;" %><strong><%= property_checkbox.suburb.upcase %></strong>
                              </a>
                            </td>
                            <td style="width:160px; padding:10px 0px 10px 5px;text-align:right;color:<%= @icon_colour %>">
                              <% if ['ResidentialSale', 'ResidentialLease', 'ProjectSale', 'HolidayLease'].include?(property_checkbox.type.to_s) %>
                               <table width="100%" cellpadding="0" cellspacing="0" style="white-space:normal">
                                  <tbody>
                                    <tr>
                                       <td>&nbsp;</td>
                                     <% if (property_checkbox.detail.respond_to?("bedrooms") && property_checkbox.detail.bedrooms) %>
                                        <td style="width: 10px;color:<%= @maintext %>;font-size: 10pt; text-align: right; padding-right: 5px;"><%= property_checkbox.detail.bedrooms.to_s %></td>
                                        <td style="width: 30px;text-align: left;"><img src="<%=@base_url%>/images/<%=@img_nm%>_beds.gif"></td>
                                     <% end %>
                                     <% if (property_checkbox.detail.respond_to?("bathrooms") && property_checkbox.detail.bathrooms) %>
                                        <td style="width: 10px;color:<%= @maintext %>;font-size: 10pt; text-align: right; padding-right: 5px;"><%= property_checkbox.detail.bathrooms.to_s %></td>
                                        <td style="width: 30px;text-align: left;"><img src="<%=@base_url%>/images/<%=@img_nm%>_baths.gif"></td>
                                     <% end %>
                                     <% if (carport_garage(property_checkbox) != 0) %>
                                        <td style="width: 10px;color:<%= @maintext %>;font-size: 10pt; text-align: right; padding-right: 5px;"><%= carport_garage(property_checkbox) %></td>
                                        <td style="width: 30px;text-align: left;"><img src="<%=@base_url%>/images/<%=@img_nm%>_cars.gif"></td>
                                     <% end %>
                                    </tr>
                                  </tbody>
                               </table>
                              <% end %>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td width="3" valign="top" style="background:#ffffff">
                    </td>
                    <td width="195" valign="top" style="background:<%= @bgcolor %>; border-top:1px solid <%= @bgcolor %>">
                      <table cellpadding="0" cellspacing="0" style="white-space:normal">
                        <tbody>
                          <tr>
                            <td valign="top" style=" padding:5px 5px;">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" style="background:<%= @mainbg %>; white-space:normal">
                <tbody>
                  <tr>
                    <td width="170" valign="top" style=" background:<%= @mainbg %>; padding-left:5px; padding-bottom:5px">
                      <a href="{ecampaign_track_property_url}&property_id=<%= property_checkbox.id %>">
                        <% if !property_checkbox.images.blank? %>
                           <img src="<%= property_checkbox.images.first.public_filename(:thumb) %>" width="170" style="color:transparent !important;"/>
                        <% else %>
                           <img src="<%= @base_url %>/images/no_image.jpg" width="170"style="color:transparent !important;"/>
                        <% end %>
                      </a>
                    </td>
                    <td width="auto" valign="top" style=" background:<%= @mainbg %>; padding:0 10px 10px 10px;">
                      <p style="font-weight:bold; color:<%= @maintext %>; font-family:Arial, Helvetica, sans-serif; font-size:12px;margin-top:0;"><%= property_checkbox.headline %></p>
                      <p style="color:<%= @maintext %>; font-family:Arial, Helvetica, sans-serif; font-size:11px; text-align:justify"><%= truncate(property_checkbox.description, 350, "...") %><br/><br/>
                        <% unless property_checkbox.display_price.to_i == 0 %>
                          <% if property_checkbox.type.to_s == 'Commercial'%>
                            <% if property_checkbox.deal_type == 'Lease' %>
                              Price: <%= property_checkbox.display_price.to_i == 1 ? (property_checkbox.detail.rental_price.blank? ? "" : ("$#{property_checkbox.detail.rental_price}" + (property_checkbox.detail.rental_price_to.blank? ? "" : " - $#{property_checkbox.detail.rental_price_to}"))) : property_checkbox.display_price_text %>
                            <% else %>
                              Price: <%= property_checkbox.display_price.to_i == 1 ? (property_checkbox.detail.sale_price_from.blank? ? "" : ("$#{property_checkbox.detail.sale_price_from}" + (property_checkbox.detail.sale_price_to.blank? ? "" : " - $#{property_checkbox.detail.sale_price_to}"))) : property_checkbox.display_price_text %>
                            <% end %>
                          <% else %>
                             Price: <%= property_checkbox.display_price.to_i == 1 ? (property_checkbox.price.blank? ? "" : "$#{property_checkbox.price}" + (property_checkbox.to_price.blank? ? "" : "- $#{property_checkbox.to_price}")) : property_checkbox.display_price_text %>
                          <% end %>
                        <% end %>
                      </p>
                    </td>
                    <td width="3" valign="top" style="background:#ffffff">
                    </td>
                    <td width="195" valign="top" style="background:<%= @bgcolor %>">
                      <table cellpadding="0" cellspacing="0" style="white-space:normal">
                        <tbody>
                          <tr>
                            <td valign="top" style=" padding:5px 5px;">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <% end %>
        <% end %>

        <% unless @property_checkbox_soldlease_ids.blank? %>
          <tr>
            <td>
              <table width="780" cellpadding="0" cellspacing="0" style="background:<%= @mainbg %>; white-space:normal">
                <tbody>
                  <tr>
                    <td colspan="2" style="background:<%= @mainbg %>">
                      <table width="100%" cellpadding="0" cellspacing="0" style="white-space:normal">
                        <tbody>
                          <tr>
                            <td colspan="2" style="padding: 15px 5px 10px; ">
                              <p style="color:<%= @maintext %>; font-family:Arial, Helvetica, sans-serif; font-weight:bold;margin: 0;font-size:13pt"><%= @data["sold_listing_title"].blank? ? "Sold Listings" : @data["sold_listing_title"] %></p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td width="3" valign="top" style="background:#ffffff">
                    </td>
                    <td width="195" valign="top" style="background:<%= @bgcolor %>">
                      <table cellpadding="0" cellspacing="0" style="white-space:normal">
                        <tbody>
                          <tr>
                            <td valign="top" style=" padding:5px 5px;">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <% @property_checkbox_soldlease_ids.each do |property_checkbox| %>
          <tr>
            <td>
              <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
                <tbody>
                  <tr>
                    <td colspan="2" valign="top" style="background:<%= @mainbg %>;border-top:1px solid <%= @thinline %>;">
                      <table width="100%" cellpadding="0" cellspacing="0" style="white-space:normal">
                        <tbody>
                          <tr>
                            <td style="padding:10px 0px 10px 5px">
                              <a href="{ecampaign_track_property_url}&property_id=<%= property_checkbox.id %>" style="font-family:arial;font-size:10pt;text-decoration:none;color:<%= @textcolor %>;">
                                <%= property_checkbox.unit_number.blank? ? "" : "#{property_checkbox.unit_number}/" %><%= property_checkbox.street_number.blank? ? "" : "#{property_checkbox.street_number}&nbsp;" %>
                                <%= property_checkbox.street.blank? ? "" : "#{property_checkbox.street}&nbsp;" %><strong><%= property_checkbox.suburb.upcase %></strong>
                              </a>
                            </td>
                            <td style="width:160px; padding:10px 0px 10px 5px;text-align:right;color:<%= @icon_colour %>">
                              <% if ['ResidentialSale', 'ResidentialLease', 'ProjectSale', 'HolidayLease'].include?(property_checkbox.type.to_s) %>
                               <table width="100%" cellpadding="0" cellspacing="0" style="white-space:normal">
                                  <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                     <% if (property_checkbox.detail.respond_to?("bedrooms") && property_checkbox.detail.bedrooms) %>
                                        <td style="width: 10px;color:<%= @maintext %>;font-size: 10pt; text-align: right; padding-right: 5px;"><%= property_checkbox.detail.bedrooms.to_s %></td>
                                        <td style="width: 30px;text-align: left;"><img src="<%=@base_url%>/images/<%=@img_nm%>_beds.gif"></td>
                                     <% end %>
                                     <% if (property_checkbox.detail.respond_to?("bathrooms") && property_checkbox.detail.bathrooms) %>
                                        <td style="width: 10px;color:<%= @maintext %>;font-size: 10pt; text-align: right; padding-right: 5px;"><%= property_checkbox.detail.bathrooms.to_s %></td>
                                        <td style="width: 30px;text-align: left;"><img src="<%=@base_url%>/images/<%=@img_nm%>_baths.gif"></td>
                                     <% end %>
                                     <% if (carport_garage(property_checkbox) != 0) %>
                                        <td style="width: 10px;color:<%= @maintext %>;font-size: 10pt; text-align: right; padding-right: 5px;"><%= carport_garage(property_checkbox) %></td>
                                        <td style="width: 30px;text-align: left;"><img src="<%=@base_url%>/images/<%=@img_nm%>_cars.gif"></td>
                                     <% end %>
                                    </tr>
                                  </tbody>
                               </table>
                              <% end %>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td width="3" valign="top" style="background:#ffffff">
                    </td>
                    <td width="195" valign="top" style="background:<%= @bgcolor %>; border-top:1px solid <%= @bgcolor %>">
                      <table cellpadding="0" cellspacing="0" style="white-space:normal">
                        <tbody>
                          <tr>
                            <td valign="top" style=" padding:5px 5px;">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" style="background:<%= @mainbg %>; white-space:normal">
                <tbody>
                  <tr>
                    <td width="170" valign="top" style=" background:<%= @mainbg %>; padding-left:5px; padding-bottom:5px">
                      <a href="{ecampaign_track_property_url}&property_id=<%= property_checkbox.id %>">
                        <% if !property_checkbox.images.blank? %>
                           <img src="<%= property_checkbox.images.first.public_filename(:thumb) %>" width="170" style="color:transparent !important;"/>
                        <% else %>
                           <img src="<%= @base_url %>/images/no_image.jpg" width="170"style="color:transparent !important;"/>
                        <% end %>
                      </a>
                    </td>
                    <td width="auto" valign="top" style=" background:<%= @mainbg %>; padding:0 10px 10px 10px;">
                      <p style="font-weight:bold; color:<%= @maintext %>; font-family:Arial, Helvetica, sans-serif; font-size:12px;margin-top:0;"><%= property_checkbox.headline %></p>
                      <p style="color:<%= @maintext %>; font-family:Arial, Helvetica, sans-serif; font-size:11px; text-align:justify"><%= truncate(property_checkbox.description, 350, "...") %><br/><br/>
                        <% unless property_checkbox.display_price.to_i == 0 %>
                          <% if property_checkbox.type.to_s == 'Commercial'%>
                            <% if property_checkbox.deal_type == 'Lease' %>
                              Price: <%= property_checkbox.display_price.to_i == 1 ? (property_checkbox.detail.rental_price.blank? ? "" : ("$#{property_checkbox.detail.rental_price}" + (property_checkbox.detail.rental_price_to.blank? ? "" : " - $#{property_checkbox.detail.rental_price_to}"))) : property_checkbox.display_price_text %>
                            <% else %>
                              Price: <%= property_checkbox.display_price.to_i == 1 ? (property_checkbox.detail.sale_price_from.blank? ? "" : ("$#{property_checkbox.detail.sale_price_from}" + (property_checkbox.detail.sale_price_to.blank? ? "" : " - $#{property_checkbox.detail.sale_price_to}"))) : property_checkbox.display_price_text %>
                            <% end %>
                          <% else %>
                             Price: <%= property_checkbox.display_price.to_i == 1 ? (property_checkbox.price.blank? ? "" : "$#{property_checkbox.price}" + (property_checkbox.to_price.blank? ? "" : "- $#{property_checkbox.to_price}")) : property_checkbox.display_price_text %>
                          <% end %>
                        <% end %>
                      </p>
                    </td>
                    <td width="3" valign="top" style="background:#ffffff">
                    </td>
                    <td width="195" valign="top" style="background:<%= @bgcolor %>">
                      <table cellpadding="0" cellspacing="0" style="white-space:normal">
                        <tbody>
                          <tr>
                            <td valign="top" style=" padding:5px 5px;">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
      <tbody>
        <tr>
          <td>
            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td>
                    <img src="<%= @footer_image.public_filename unless @footer_image.blank? %>" width="780" height="75">
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
      <tbody>
        <tr>
          <td>
            <table cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td width="580" >
                    <p style="color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:10px; margin:0">To unsubscribe from this service please click <a href="{unsubcribe}" style="color:#999999;text-decoration:none; font-size:10px">here.</a></p>
                    <p style="color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:10px; margin: 0">Copyright © <b><%= @office.name %></b> <%= Time.now.strftime("%Y")  %></p>
                  </td>
                  <td width="195">
                    <p style="color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:10px; margin:0; text-align:right">Powered By <a href="http://agentpoint.com.au" target="_blank" style="color:#999999;text-decoration:none;"><b>Agentpoint</b></a></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="display:none;">{view_open_url}</div>
  </div>
</div>