<div class="title_block block">
  <h2 class="page_title">Campaign Copy</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= campaign_copy_agent_office_ecampaigns_path(@agent, @office) %>" method="post" name="frm1" enctype="multipart/form-data">
<input type="hidden" name="office_ids" id="office_ids" value="<%= @value_office %>"/>
<input type="hidden" name="listing_type_ids" id="listing_type_ids" value="<%= @value_listing_type %>"/>
<input type="hidden" name="rental_listing_type_ids" id="rental_listing_type_ids" value="<%= @value_rental_listing_type %>"/>
<input type="hidden" name="rental_property_type_ids" id="rental_property_type_ids" value="<%= @value_rental_property_type %>"/>
<input type="hidden" name="office_rental_ids" id="office_rental_ids" value="<%= @value_office_rental %>"/>
<input type="hidden" name="property_type_ids" id="property_type_ids" value="<%= @value_property_type %>"/>
<input type="hidden" name="office_soldlease_ids" id="office_soldlease_ids" value="<%= @value_office_soldlease %>"/>
<input type="hidden" name="listing_type_soldlease_ids" id="listing_type_soldlease_ids" value="<%= @value_listing_type_soldlease %>"/>
<input type="hidden" name="property_type_soldlease_ids" id="property_type_soldlease_ids" value="<%= @value_property_type_soldlease %>"/>
<input type="hidden" name="link_order" id="link_order" value="<%= @link_order %>"/>

<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Sender Details</h6><br/>
        <table style="border:none;">
          <tr style="background-color:#E1EBF5"><td style="width:150px;">Email Title:</td>
          <td><input type="text" name="data[sender_title]" id="data_sender_title" class="single" style="width:350px;" value="<%= @data["sender_title"] unless @data.blank? %>" /></td></tr>
          <tr style="background-color:#E1EBF5"><td style="width:150px;">Email Description:</td>
          <td><textarea name="data[sender_description]" id="data_description" class="mceEditor" style="width:750px;height:300px"><%= @data["sender_description"] unless @data.blank? %></textarea></td></tr>
          <tr style="background-color:#E1EBF5"><td style="width:150px;">Email Sender:</td>
          <td><%= select_tag "data[sender_email]", options_for_select(@contacts, @data["sender_email"].to_i) %></td></tr>
        </table>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <% if @layout == "theme1" %>
    <%= render :partial => "options_featured_listings" %>
    <%= render :partial => "options_current_listings" %>
    <%= render :partial => "options_sold_listings" %>
    <%= render :partial => "options_social_links" %>
  <% end %>

  <% if @layout == "theme2" %>
    <%= render :partial => "options_featured_listings" %>
    <%= render :partial => "footer_text" %>
  <% end %>

  <% if @layout == "theme3" %>
    <%= render :partial => "options_featured_listings" %>
    <%= render :partial => "options_current_listings" %>
    <%= render :partial => "options_sold_listings" %>
  <% end %>

  <% if @layout == "theme4" %>
    <%= render :partial => "hide_top_image" %>
    <%= render :partial => "options_featured_listings" %>
    <%= render :partial => "options_current_listings" %>
    <%= render :partial => "options_sold_listings" %>
  <% end %>

  <% if @layout == "theme5" %>
    <%= render :partial => "options_featured_listings" %>
    <%= render :partial => "options_current_listings" %>
    <%= render :partial => "options_sold_listings" %>
    <%= render :partial => "options_rental_listings" %>
    <%= render :partial => "options_main_image_contents" %>
  <% end %>

  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_layout_agent_office_ecampaigns_path(@agent, @office) %>'" class="submit_btn">« Previous</button>
            <button name="update" type="submit" value="Update" style="float:right;" class="submit_btn">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>
<%= javascript_include_tag "tiny_mce/tiny_mce.js" %>
<style type="text/css">
  .campaign-link-title{
    float:left;
    width:75px;
    margin-right:10px;
    font-weight:bold;
  }
  .campaign-link-link{
    float:left;
    width:200px;
    margin-right:10px;
  }

  .marg{margin-bottom:5px;}
  table a:link, table a:visited {color:#0E7FC7;}
  .bordered-cont{border:1px solid #999999;padding:10px;margin-bottom:10px;}
</style>
<script type="text/javascript">
  function add_options(type, opt_name){
    var a_all_id = $("#"+type+"_ids").val();
    var a_arry = a_all_id.split('#');
    var a_add =0;
    if($("#selection_"+type).val()!=''){
      for(var x=0; x < a_arry.length; x++){
        if((a_arry[x]!='')&&(a_arry[x]==$("#selection_"+type).val())){ a_add = 1; }
      }
      if(a_add != 1){
        var new_datas = $("#"+type+"_ids").val() + '#' + $("#selection_"+type).val();
        $("#"+type+"_ids").attr('value', new_datas);
        $("#"+type+"s").append('<span id="'+opt_name+$("#selection_"+type).val()+'" style="margin-right:20px;">'+$("#selection_"+type+" option:selected").text()+'\
         <a href="javascript:remove_options(\''+type+'\',\''+$("#selection_"+type).val()+'\',\''+opt_name+'\')">x</a></span> ');
      }
    }else{
      $("#"+type+"_ids").attr('value', "<%= @all_office_value_ids %>");
      if(type == "office_soldlease"){
        $("#"+type+"s").html("<%= @all_office_value_sold %>");
      }else{
        $("#"+type+"s").html("<%= @all_office_value %>");
      }
    }
  }

  function remove_options(type, id, opt_name){
    var all_id = $("#"+type+"_ids").val();
    var arry = all_id.split('#');
    $("#"+type+"_ids").attr('value', "");
    for(var x=0; x < arry.length; x++){
      if((arry[x]!='')&&(arry[x]!=id)){
       var new_datas = $("#"+type+"_ids").val() + '#' + arry[x];
       $("#"+type+"_ids").attr('value', new_datas);
      }
    }
    if(opt_name != ''){
      $("#"+opt_name+id).remove();
    }else{
      $("span").remove(":contains('"+id+"')");
    }
  }

   $(document).ready(function(){
     var ids = "<%= @property_checkbox_ids %>";
     var soldlease_ids = "<%= @property_checkbox_soldlease_ids %>";
     var rental_ids = "<%= @property_rental_checkbox_ids %>"
     if(ids != ''){adv_search();}
     if(soldlease_ids != ''){adv_search_soldlease();}
     if(rental_ids != ''){adv_rental_search();}
   });

   tinyMCE.init({
    mode : "textareas",
    theme : "advanced",
    theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,forecolor,backcolor,|,fontsizeselect",
    theme_advanced_buttons2 : "",
    theme_advanced_buttons3 : "",
    theme_advanced_buttons4 : "",
    editor_selector : "mceEditor",
    editor_deselector : "mceNoEditor, mNc"
	 });

    function add_info_link(){
      $(".campaingn_info_link").append('<div class="campaingn_link_wrapper"><div class="campaign-link-title">Title Link:&nbsp;</div><div class="campaign-link-link"><input type="text" name="info_link[][title]" class="single" style="width:200px;" value="" /></div><div class="campaign-link-title">&nbsp;Link:&nbsp;</div><div class="campaign-link-link"><input type="text" name="info_link[][url]" class="single" style="width:200px;" value="" /></div></div>');
    }

    function add_web_link(){
      $(".campaingn_web_link").append('<div class="campaingn_link_wrapper"><div class="campaign-link-title">Title Link:&nbsp;</div><div class="campaign-link-link"><input type="text" name="web_link[][title]" class="single" style="width:200px;" value="" /></div><div class="campaign-link-title">&nbsp;Link:&nbsp;</div><div class="campaign-link-link"><input type="text" name="web_link[][url]" class="single" style="width:200px;" value="" /></div></div>');
    }

    function add_general_link(){
      $(".campaingn_general_link").append('<div class="campaingn_link_wrapper marg"><div class="campaign-link-title">Headline:&nbsp;</div><div class="campaign-link-link"><input type="text" name="general_link[][title]" class="single" style="width:200px;" value="" /></div><div class="campaign-link-title">&nbsp;Link:&nbsp;</div><div class="campaign-link-link"><input type="text" name="general_link[][url]" class="single" style="width:200px;" value="" /></div><div style="clear:both;"></div></div><div class="campaingn_link_wrapper marg"><div class="campaign-link-title">Description:&nbsp;</div><div class="campaign-link-link"><textarea name="general_link[][desc]" style="width:495px;"></textarea></div><div style="clear:both;"></div></div>');
    }

    function remove_properties(id){
      var all_id = $("#featured_property_ids").val();
      var arry = all_id.split('#');
      $("#featured_property_ids").attr('value', "");
      for(var x=0; x < arry.length; x++){
        if((arry[x]!='')&&(arry[x]!=id)){
         var new_datas = $("#featured_property_ids").val() + '#' + arry[x];
         $("#featured_property_ids").attr('value', new_datas);
        }
      }
      $("#featured_property_id"+id).remove();
    }

    function adv_search(){
      $.ajax({
        type: "POST",
        url: "<%= search_agent_office_ecampaigns_path(@agent, @office) %>",
        data:"selection_office_id="+$("#office_ids").val()+"&selection_listing_type="+$("#listing_type_ids").val()+"&selection_property_type="+$("#property_type_ids").val(),
        dataType:"JSON",
        beforeSend:function(){
          $("#adv_search_container").html('<center><img src="/images/ajax-loader.gif" id="search-loader-note"></center>');
        },
        success: function(jsonResponse){
          $("#adv_search_container").html("");
          var ids = "<%= @property_checkbox_ids %>";
          var arr = ids.split("#");
          if (jsonResponse != ''){
            var jsonObject = eval('(' + jsonResponse + ')');
            $.each(jsonObject.results, function(index,array){
              if(include(arr, parseInt(array["id"]))){
                $("#adv_search_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="property_checkbox[]" value="'+array["id"]+'" checked/> &nbsp; '+array["address"]+'</div>');
              }else{
                $("#adv_search_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="property_checkbox[]" value="'+array["id"]+'"/> &nbsp; '+array["address"]+'</div>');
              }
            });
          }else{
            $("#adv_search_container").append("<center>No Matching Results</center>");
          };
        },
        complete:function(){
        }
      });
      return false;
    }

    function adv_rental_search(){
      $.ajax({
        type: "POST",
        url: "<%= search_agent_office_ecampaigns_path(@agent, @office) %>",
        data:"selection_office_id="+$("#office_rental_ids").val()+"&selection_listing_type="+$("#rental_listing_type_ids").val()+"&selection_property_type="+$("#rental_property_type_ids").val(),
        dataType:"JSON",
        beforeSend:function(){
          $("#adv_search_rental_container").html('<center><img src="/images/ajax-loader.gif" id="search-loader-note"></center>');
        },
        success: function(jsonResponse){
          $("#adv_search_rental_container").html("");
          var ids = "<%= @property_rental_checkbox_ids %>";
          var arr = ids.split("#");
          if (jsonResponse != ''){
            var jsonObject = eval('(' + jsonResponse + ')');
            $.each(jsonObject.results, function(index,array){
              if(include(arr, parseInt(array["id"]))){
                $("#adv_search_rental_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="property_rental_checkbox[]" value="'+array["id"]+'" checked/> &nbsp; '+array["address"]+'</div>');
              }else{
                $("#adv_search_rental_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="property_rental_checkbox[]" value="'+array["id"]+'"/> &nbsp; '+array["address"]+'</div>');
              }
            });
          }else{
            $("#adv_search_rental_containerr").append("<center>No Matching Results</center>");
          };
        },
        complete:function(){
        }
      });
      return false;
    }

    function adv_search_soldlease(){
      $.ajax({
        type: "POST",
        url: "<%= search_agent_office_ecampaigns_path(@agent, @office) %>",
        data:"status=sold&selection_office_id="+$("#office_soldlease_ids").val()+"&selection_property_type="+$("#property_type_soldlease_ids").val(),
        dataType:"JSON",
        beforeSend:function(){
          $("#adv_search_soldlease_container").html('<center><img src="/images/ajax-loader.gif" id="search-loader-note"></center>');
        },
        success: function(jsonResponse){
          $("#adv_search_soldlease_container").html("");
          var ids = "<%= @property_checkbox_soldlease_ids %>";
          var arr = ids.split("#");
          if (jsonResponse != ''){
            var jsonObject = eval('(' + jsonResponse + ')');
            $.each(jsonObject.results, function(index,array){
              if(include(arr, parseInt(array["id"]))){
                $("#adv_search_soldlease_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="property_soldlease_checkbox[]" value="'+array["id"]+'" checked/> &nbsp; '+array["address"]+'</div>');
              }else{
                $("#adv_search_soldlease_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="property_soldlease_checkbox[]" value="'+array["id"]+'"/> &nbsp; '+array["address"]+'</div>');
              }
            });
          }else{
            $("#adv_search_soldlease_container").append("<center>No Matching Results</center>");
          };
        },
        complete:function(){
        }
      });
      return false;
    }

    function include(arr, obj) {
        for(var i=0; i<arr.length; i++) {
            if(arr[i] == obj) return true;
        }
    }
</script>
<script type="text/javascript">
    function getAbsolutePosition(element){
      var r = { x : element.offsetLeft,  y : element.offsetTop};
      if( element.offsetParent ){
        var temp = getAbsolutePosition(element.offsetParent);
        r.x += temp.x;
        r.y += temp.y
      }
      return r;
    }

    $(document).ready(function(){
      var xMousePos = 0; // Horizontal position of the mouse on the screen
      var yMousePos = 0; // Vertical position of the mouse on the screen
      var xMousePosMax = 0; // Width of the page
      var yMousePosMax = 0; // Height of the page
      function captureMousePosition(e) {
        if (document.layers) {
          xMousePos = e.pageX;
          yMousePos = e.pageY;
          xMousePosMax = window.innerWidth+window.pageXOffset;
          yMousePosMax = window.innerHeight+window.pageYOffset;
        } else if (document.all) {
          xMousePos = window.event.x+document.body.scrollLeft;
          yMousePos = window.event.y+document.body.scrollTop;
          xMousePosMax = document.body.clientWidth+document.body.scrollLeft;
          yMousePosMax = document.body.clientHeight+document.body.scrollTop;
        } else if (document.getElementById) {
          xMousePos = e.pageX;
          yMousePos = e.pageY;
          xMousePosMax = window.innerWidth+window.pageXOffset;
          yMousePosMax = window.innerHeight+window.pageYOffset;
        }
      };

      function checkTheUnit(element){
        var patt1=/[px]/g;
        if(patt1.test(element)){
          element = element.split('px')[0];
        }
        return element;
      };

      $('#search-loader-note').hide();
      $('#toggler_wrapper').hide();
      $('#select_office').change(function(){
        window.open($(this).val(), '_self');
      });
      $('#toggler_off').click(function(){
        $('#toggler_wrapper').slideUp('slow');
        $('#toggler_off').attr('id','toggler');
      });
      var search_box = document.getElementById('search_property');
      var search_box_position = getAbsolutePosition(search_box);
      $("<div id='popup_table' style='position:absolute;text-transform:none;font-size:11px;z-index:300000'><div id='search_header' style='background-color:#0A3247;font-weight:bold;width:809px;height:15px;color:white;text-align:right;text-decoration:false;'><a id='close_button' href='#' onclick='return false;' style='margin:8px;text-decoration:false;color:white'>X</a></div><div id='search_container'><table  id='table_search_result' class='property-search' cellspacing='0' cellpadding = '0' >\n\
       <th class='first_cell'><th>ID</th><th>Address</th><th>Suburb</th><th>Type</th><th>Price</th><th>Status</th>\n\
      </table></div>").appendTo($("body"));
      var top_y = 0;
      if(search_box_position.y < 560){
        top_y = search_box_position.y + 120
      }else{
        top_y = search_box_position.y + 147
      }
      $("#popup_table").css({'top' : top_y,'left' : search_box_position.x,'width':"800px"})
      $("#search-loader").hide();
      $("#search_container").css({"overflow":"scroll","background-color":"#FFFFFF","position":"absolute","z-index":"9999","width":"800px","height":"100px","border":"solid black 4px","border-top":"0px"});
      $("#table_search_result th tr").css({"padding":"0px 5px","width":"800px"});
      $("#popup_table").hide();

      //event_listener_for_quick_search
      if($("#search_property").length > 0){
        $(document).click(function(e){
          var result_box = document.getElementById('search_container');
          var result_box_position = getAbsolutePosition(result_box);
          var result_box_width = parseInt(checkTheUnit(result_box.style.width));
          var result_box_height = parseInt(checkTheUnit(result_box.style.height));
          captureMousePosition(e);
          if(xMousePos < result_box_position.x || yMousePos < result_box_position.y || xMousePos > result_box_position.x + result_box_width || yMousePos > result_box_position.y + result_box_height){
            $("#popup_table").hide();
          };
        });
      };

      $("#popup_table").bind("mouseover",function(){
        $("#popup_table").show();
        return false;
      });

      $("#search_property").bind("focus",function(){
        $("#popup_table").show();
        return false;
      });

      $("#search_property").bind("click",function(){
        $("#popup_table").show();
        return false;
      });

      $("#close_button").bind("click",function(){
        $("#popup_table").hide();
        return false;
      });

      $("#search_feature_property").bind("click",function(){
        $("#popup_table").show();
        return false;
      });

      $("#search_property").bind("keydown",function(event){
        if(event.keyCode == 13){
          search_key_note();
          return false;
        }
      });
    });

    function search_featured_property(){
      search_key_note();
      $("#popup_table").show();
    }

    function use_address(id, text){
      var a_all_id = $("#featured_property_ids").val();
      var a_arry = a_all_id.split('#');
      var a_add =0;
      if(id !=''){
        for(var x=0; x < a_arry.length; x++){
          if((a_arry[x]!='')&&(a_arry[x]== id)){ a_add = 1; }
        }
        if(a_add != 1){
          var new_datas = $("#featured_property_ids").val() + '#' + id;
          $("#featured_property_ids").attr('value', new_datas);
          $("#featured_properties").append('<span id="featured_property_id'+id+'" style="margin-right:20px;">'+text+'\
           <a href="javascript:remove_properties(\''+id+'\')">x</a></span> ');
        }
      }
      $("#popup_table").hide();
      $("#draggable_tab").hide();
    }

    function search_key_note(){
      $.ajax({
        type: "POST",
        url: "<%= search_agent_office_ecampaigns_path(@agent, @office) %>",
        data:"search_value="+$("#search_property").val()+"&selection_office_id=<%= @office.id %>",
        dataType:"JSON",
        beforeSend:function(){
          $("#search-loader-note").show();
          if ($("#table_search_result").find("tr").length >0){
            $("#table_search_result").find("tr:gt(0)").remove() ;
            $("#search_container").css({"height":"100px"});
          };
          $("#draggable_tab").show();
        },
        success: function(jsonResponse){
          $("#search-loader-note").hide();
          if ($("#table_search_result").find("tr").length >0){
            $("#table_search_result").find("tr:gt(0)").remove() ;
            $("#search_container").css({"height":"100px"});
          };
          if (jsonResponse != ''){
            var jsonObject = eval('(' + jsonResponse + ')');
            $.each(jsonObject.results, function(index,array){
              $("#table_search_result").append("<tr>\n\
            <td><a href='javascript:use_address("+array["id"]+", \""+array["address"]+"\");' style='margin:0px;padding:0px 14px;color:blue;'>Use</a></td>\n\
            <td style='color:black'>"+array["id"]+"</td>\n\
            <td style='color:black'>"+array["address"]+"</td>\n\
            <td style='color:black'>"+array["suburb"]+"</td>\n\
            <td style='color:black'>"+array["type"]+"</td>\n\
            <td style='color:black'>"+array["price"]+"</td>\n\
            <td style='color:black'>"+array["status"]+"</td>\n\
            </tr>");
            });
            $("#search_container").css({"height":"400px"});
          }else{
            $("#table_search_result").append("<tr>\n\
            <td style='color:black' colspan='6'>No Matching Results</td>\n\
            </tr>");
            $("#search_container").css({"height":"100px"});
          };
        },
        complete:function(){
          $("#draggable_tab").show();
        }
      });
      return false;
    };

    function toggler_on(){
      $('#toggler_wrapper').slideDown('slow');
      $('#auto_toggle').empty().append("<a id='toggler' href='#toggler_wrapper' style='font-size:10px'>change office</a>")
      $('#toggler').attr('onclick','toggler_off()');
      return false;
    };
    function toggler_off(){
      $('#toggler_wrapper').slideUp('slow');
      $('#auto_toggle').empty().append("<a id='toggler' href='#toggler_wrapper' style='font-size:10px'>change office</a>")
      $('#toggler').attr('onclick','toggler_on()');
      return false;
    };
  </script>
<script type="text/javascript">
$(function() {
  init_sort();
  $("#linkcont").sortable({
    opacity: 0.6,
    cursor: 'move',update: function() {
      var order = $(this).sortable('serialize',{key:'key'})
      var neworder = order.replace(/key=/g,"");
      $('#link_order').val(neworder.replace(/&/g,"#"));
     }
    });
});

function init_sort(){
  if($('#link_order').val() != ''){
   var arr = $('#link_order').val().split("#");
   for(var i=0;i<4;i++){
     if(i==0){
       $('#linkcont_'+arr[0]).insertAfter('#setter');
     }else{
       $('#linkcont_'+arr[i]).insertAfter('#linkcont_'+arr[i-1]);
     }
   }
  }
}

</script>
<!--[if IE 8]>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".submit_btn").corner();
    });
  </script>
<![endif]-->