<div class="title_block block">
  <h2 class="page_title">Choose Colour</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= choose_colour_agent_office_ecampaigns_path(@agent, @office) %>" method="post" name="frm1">
<div id="clientdiv" class="block accounts">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <div style="width:65%;float:left;">
        <h6>Header Image</h6>
        <table cellpadding="0" cellspacing="0">
           <tr>
             <td colspan="2" >&nbsp;
               <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780" height="80"  class="dropper1"/>
             </td>
           </tr>
        </table>
        <h6>Footer Image</h6>
        <table cellpadding="0" cellspacing="0">
           <tr>
             <td colspan="2" >&nbsp;
               <img src="<%= @footer_image.public_filename unless @footer_image.blank? %>" width="780" height="75"  class="dropper1"/>
             </td>
           </tr>
        </table>
        <table cellpadding="0" cellspacing="0">
           <tr>
             <td>&nbsp;<b>Background Colour</b></td>
             <td>
               <div id="swatch_bgcolor" class="swatch" style="cursor:pointer;width:30px; height: 30px; border: 3px solid #1e8005;float:left;margin-right:10px;" onclick="active_selector('bgcolor')"></div>
             <% @color_list.each_with_index{|clr, index| %>
               <div class="bg_class color_block_stock" style="background-color:<%= clr %>" onclick="set_color('bgcolor', '<%= clr %>')"></div>
             <% } %>
               <div style="float:left;width:15px;height:1px;"></div>
               <div id="swatch_bgcolor_selector" class="swatch_bgcolor_selector" style="float:right;margin-right:3px;"><div style="background-color: #ffffff"></div></div>
             </td>
           </tr>
          <tr>
             <td>&nbsp;<b>Text Colour</b></td>
             <td>
               <div id="swatch_textcolor" class="swatch" style="cursor:pointer;width:30px; height: 30px; border: 1px solid #666666;float:left;margin-right:10px;" onclick="active_selector('textcolor')"></div>
               <% @color_list.each_with_index{|clr, index| %> <div class="bg_class color_block_stock" style="background-color:<%= clr %>" onclick="set_color('textcolor','<%= clr %>')"></div><% } %>
               <div style="float:left;width:15px;height:1px;"></div>
               <div id="swatch_textcolor_selector" class="swatch_textcolor_selector" style="float:right;margin-right:3px;"><div style="background-color: #ffffff"></div></div>
             </td>
           </tr>
          <% if ["theme1", "theme4", "theme5"].include?(@layout) %>
          <tr>
             <td>&nbsp;<b>
                 <% if @layout == "theme4" %>
                   Coloured Background
                 <% elsif @layout == "theme4" %>
                   Heading Colour
                 <% else %>
                   Heading Colour (Over the coloured background)
                 <% end %>
               </b></td>
             <td>
               <div id="swatch_heading" class="swatch" style="cursor:pointer;width:30px; height: 30px; border: 1px solid #666666;float:left;margin-right:10px;" onclick="active_selector('heading')"></div>
               <% @color_list.each_with_index{|clr, index| %> <div class="bg_class color_block_stock" style="background-color:<%= clr %>" onclick="set_color('heading','<%= clr %>')"></div><% } %>
               <div style="float:left;width:15px;height:1px;"></div>
               <div id="swatch_heading_selector" class="swatch_heading_selector" style="float:right;margin-right:3px;"><div style="background-color: #ffffff"></div></div>
             </td>
           </tr>
          <% end %>
          <% if ["theme1", "theme4"].include?(@layout) %>
          <tr>
             <td>&nbsp;<b>Text Colour (Over the coloured background)</b></td>
             <td>
               <div id="swatch_headingtextcolor" class="swatch" style="cursor:pointer;width:30px; height: 30px; border: 1px solid #666666;float:left;margin-right:10px;" onclick="active_selector('headingtextcolor')"></div>
               <% @color_list.each_with_index{|clr, index| %> <div class="bg_class color_block_stock" style="background-color:<%= clr %>" onclick="set_color('headingtextcolor', '<%= clr %>')"></div><% } %>
               <div style="float:left;width:15px;height:1px;"></div>
               <div id="swatch_headingtextcolor_selector" class="swatch_headingtextcolor_selector" style="float:right;margin-right:3px;"><div style="background-color: #ffffff"></div></div>
             </td>
           </tr>
           <% end %>
           <% if ["theme1", "theme4", "theme5"].include?(@layout) %>
            <tr>
               <td>&nbsp;<b><% if @layout == "theme4" %>Main Image Background
                   <% else %>
                   Thin line colour
                   <% end %></b></td>
               <td>
                 <div id="swatch_thinline" class="swatch" style="cursor:pointer;width:30px; height: 30px; border: 1px solid #666666;float:left;margin-right:10px;" onclick="active_selector('thinline')"></div>
                 <% @color_list.each_with_index{|clr, index| %> <div class="bg_class color_block_stock" style="background-color:<%= clr %>" onclick="set_color('thinline','<%= clr %>')"></div><% } %>
                 <div style="float:left;width:15px;height:1px;"></div>
                 <div id="swatch_thinline_selector" class="swatch_thinline_selector" style="float:right;margin-right:3px;"><div style="background-color: #ffffff"></div></div>
               </td>
             </tr>
           <% end %>
           <% if ["theme1", "theme4"].include?(@layout) %>
             <tr>
               <td>&nbsp;<b>
                   <% if @layout == "theme4" %>
                   Side content background colour
                   <% else %>
                   Main content background colour
                   <% end %></b></td>
               <td>
                 <div id="swatch_mainbg" class="swatch" style="cursor:pointer;width:30px; height: 30px; border: 1px solid #666666;float:left;margin-right:10px;" onclick="active_selector('mainbg')"></div>
                 <% @color_list.each_with_index{|clr, index| %> <div class="bg_class color_block_stock" style="background-color:<%= clr %>" onclick="set_color('mainbg','<%= clr %>')"></div><% } %>
                 <div style="float:left;width:15px;height:1px;"></div>
                 <div id="swatch_mainbg_selector" class="swatch_mainbg_selector" style="float:right;margin-right:3px;"><div style="background-color: #ffffff"></div></div>
               </td>
             </tr>
             <tr>
               <td>&nbsp;<b>
                   <% if @layout == "theme4" %>
                   Side content text colour
                   <% else %>
                   Main content text colour
                   <% end %>
                   </b></td>
               <td>
                 <div id="swatch_maintext" class="swatch" style="cursor:pointer;width:30px; height: 30px; border: 1px solid #666666;float:left;margin-right:10px;" onclick="active_selector('maintext')"></div>
                 <% @color_list.each_with_index{|clr, index| %> <div class="bg_class color_block_stock" style="background-color:<%= clr %>" onclick="set_color('maintext','<%= clr %>')"></div><% } %>
                 <div style="float:left;width:15px;height:1px;"></div>
                 <div id="swatch_maintext_selector" class="swatch_maintext_selector" style="float:right;margin-right:3px;"><div style="background-color: #ffffff"></div></div>
               </td>
             </tr>
             <% if @layout == "theme4" %>
               <tr>
                 <td>&nbsp;<b>Sidebar heading and view more link color</b></td>
                 <td>
                   <div id="swatch_sidelink" class="swatch" style="cursor:pointer;width:30px; height: 30px; border: 1px solid #666666;float:left;margin-right:10px;" onclick="active_selector('sidelink')"></div>
                   <% @color_list.each_with_index{|clr, index| %> <div class="bg_class color_block_stock" style="background-color:<%= clr %>" onclick="set_color('sidelink','<%= clr %>')"></div><% } %>
                   <div style="float:left;width:15px;height:1px;"></div>
                   <div id="swatch_sidelink_selector" class="swatch_sidelink_selector" style="float:right;margin-right:3px;"><div style="background-color: #ffffff"></div></div>
                 </td>
               </tr>
             <% end %>
           <% end %>
           <% if ["theme1"].include?(@layout) %>
           <tr>
             <td>&nbsp;<b>Icon Colour</b></td>
             <td>
               <input type="radio" name="icon_colour" value="black" <%= @icon_colour.blank? ? "checked" : (@icon_colour == "black" ? "checked" : "") %> />&nbsp;<b>Black</b>&nbsp;&nbsp;
               <input type="radio" name="icon_colour" value="white" <%= @icon_colour == "white" ? "checked" : "" %>/>&nbsp;<b>White</b>
             </td>
           </tr>
           <% end %>
           <% if ["theme2"].include?(@layout) %>
           <tr>
             <td>&nbsp;<b>Bottom Line Colour</b></td>
             <td>
               <div id="swatch_bottomline" class="swatch" style="cursor:pointer;width:30px; height: 30px; border: 1px solid #666666;float:left;margin-right:10px;" onclick="active_selector('bottomline')"></div>
               <% @color_list.each_with_index{|clr, index| %> <div class="bg_class color_block_stock" style="background-color:<%= clr %>" onclick="set_color('bottomline','<%= clr %>')"></div><% } %>
               <div style="float:left;width:15px;height:1px;"></div>
               <div id="swatch_bottomline_selector" class="swatch_bottomline_selector" style="float:right;margin-right:3px;"><div style="background-color: #ffffff"></div></div>
             </td>
           </tr>
           <tr>
             <td>&nbsp;<b>Property type text and view listing colour</b></td>
             <td>
               <div id="swatch_proptype" class="swatch" style="cursor:pointer;width:30px; height: 30px; border: 1px solid #666666;float:left;margin-right:10px;" onclick="active_selector('proptype')"></div>
               <% @color_list.each_with_index{|clr, index| %> <div class="bg_class color_block_stock" style="background-color:<%= clr %>" onclick="set_color('proptype','<%= clr %>')"></div><% } %>
               <div style="float:left;width:15px;height:1px;"></div>
               <div id="swatch_proptype_selector" class="swatch_proptype_selector" style="float:right;margin-right:3px;"><div style="background-color: #ffffff"></div></div>
             </td>
           </tr>
           <% end %>
        </table>
          <p><b>&nbsp;* To choose a background colour for your Stock List move the mouse over the header image and click on a colour. This colour will appear in the colour selection box. <br/>&nbsp;Note: this won't work if you use Internet Explorer.</b></p>
        </div>
        <div style="float:left;margin-left:10px;">
          <div style="text-align:center;font-weight:bold;margin-bottom:5px"><h6>Side Image</h6></div>
          <div style="width:150px;height:400px;padding:12px;background-color:#ffffff;">
            <img src="<%= @find_side_image.public_filename unless @find_side_image.blank? %>" width="150" height="400"  class="dropper1"/>
          </div>
        </div>
        <div style="clear:both;"></div>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= campaign_copy_agent_office_ecampaigns_path(@agent, @office) %>'" class="submit_btn">« Previous</button>
            <input type="hidden" name="active_selector" id="active_selector" value="bgcolor" />
            <input type="hidden" name="bgcolor" id="bgcolor" value="<%= @bgcolor %>"/>
            <input type="hidden" name="textcolor" id="textcolor" value="<%= @textcolor %>"/>
            <input type="hidden" name="heading" id="heading" value="<%= @heading %>"/>
            <input type="hidden" name="headingtextcolor" id="headingtextcolor" value="<%= @headingtextcolor %>"/>
            <input type="hidden" name="thinline" id="thinline" value="<%= @thinline %>"/>
            <input type="hidden" name="mainbg" id="mainbg" value="<%= @mainbg %>"/>
            <input type="hidden" name="maintext" id="maintext" value="<%= @maintext %>"/>
            <input type="hidden" name="bottomline" id="bottomline" value="<%= @bottomlinecolor %>"/>
            <input type="hidden" name="proptype" id="proptype" value="<%= @proptypecolor %>"/>
            <input type="hidden" name="sidelink" id="sidelink" value="<%= @sidelinkcolor %>"/>
            <button name="choose_colours" type="submit" value="Update" style="float:right;" class="submit_btn">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>
<%= stylesheet_link_tag 'colorpicker' %>
<%= javascript_include_tag 'dropperredux', 'colorpicker', 'eye', 'utils' %>
<style type="text/css">
  .color_block_stock{
    width:25px;
    height:25px;
    border:1px solid #CCCCCC;
    margin-left:5px;
    margin-bottom:5px;
    float:left;
    cursor:pointer;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    var turnon = function () {
        $.fn.dropperredux({
                selector: $('.dropper1'),
                hoverwidth: 10,
                clickCallback: function(color) {
                  set_color($("#active_selector").val(), "#"+color.rgbhex);
                }
        });
    };
    turnon();
    set_color("bgcolor", "<%= @bgcolor %>");
    set_color("textcolor", "<%= @textcolor %>");
    set_color("heading", "<%= @heading %>");
    set_color("headingtextcolor", "<%= @headingtextcolor %>");
    set_color("thinline", "<%= @thinline %>");
    set_color("mainbg", "<%= @mainbg %>");
    set_color("maintext", "<%= @maintext %>");
    set_color("bottomline","<%= @bottomlinecolor %>");
    set_color("proptype","<%= @proptypecolor %>");
    set_color("sidelink","<%= @sidelinkcolor %>");

    color_picker("bgcolor");
    color_picker("textcolor");
    color_picker("heading");
    color_picker("headingtextcolor");
    color_picker("thinline");
    color_picker("mainbg");
    color_picker("maintext");
    color_picker("bottomline");
    color_picker("proptype");
    color_picker("sidelink");

  });

  function color_picker(id){
     $("#swatch_"+id+"_selector").ColorPicker({
        color: '#ffffff',
        onShow: function (colpkr) {
                $(colpkr).fadeIn(500);
                return false;
        },
        onHide: function (colpkr) {
                $(colpkr).fadeOut(500);
                return false;
        },
        onChange: function (hsb, hex, rgb) {
              active_selector(id);
              $('#swatch_'+id+'_selector div').css('backgroundColor', '#' + hex);
              set_color(id, "#"+hex);
        }
    });
  }

  function active_selector(selector){
    $('.swatch').css({'border' : "1px solid #666666"});
    $('#swatch_'+selector).css({'border' : "3px solid #1e8005"});
    $("#active_selector").val(selector);
  }

  function set_color(id, color){
    active_selector(id);
    $('#swatch_'+id).css({'background-color' : color});
    $('#'+id).val(color);
  }
</script>