<div class="block help full">
  <div class="title_block threequarters leader"><h2>Eproperty Updates</h2>  </div>
  <div class="block help quarter follower">
    <div class="upload_button">
      <%= link_to 'Setup Eproperty Updates', choose_layout_agent_office_ecampaigns_path(@agent, @office), :class => 'btn' %>
    </div><br/>
  </div>
</div>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <h6>Existing Eproperty Updates </h6>
     <fieldset class="pf_fs2">
         <table width="100%" cellpadding="0" cellspacing="0">
           <tr>
             <td style="background-color:#f0f0f0;"><b>No</b></td>
             <td style="background-color:#f0f0f0;"><b>Title</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Sent</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Views</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>%</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Clicked</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Bounced</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Forward</b></td>
             <td style="background-color:#f0f0f0;"><b>Created</b></td>
             <td style="background-color:#f0f0f0;"><b>Sent</b></td>
             <td style="background-color:#f0f0f0;"><b>Action</b></td>
           </tr>
          <% @ecampaigns.each_with_index do |ecampaign, index| %>
           <tr>
             <td width="5%"><%= (index+1) %></td>
             <td width="30%"><%= ecampaign["title"] %></td>
             <td style="text-align:center;"><%= link_to ecampaign["recipient"], "/agents/#{@agent.id}/offices/#{@office.id}/ecampaigns/#{ecampaign["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to ecampaign["opened"], "/agents/#{@agent.id}/offices/#{@office.id}/ecampaigns/#{ecampaign["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to view_rates(ecampaign["opened"], ecampaign["recipient"])+" %" , "/agents/#{@agent.id}/offices/#{@office.id}/ecampaigns/#{ecampaign["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to ecampaign["clicked"].blank? ? "0" : ecampaign["clicked"] , "/agents/#{@agent.id}/offices/#{@office.id}/ecampaigns/#{ecampaign["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to ecampaign["bounced"].blank? ? "0" : ecampaign["bounced"] , "/agents/#{@agent.id}/offices/#{@office.id}/ecampaigns/#{ecampaign["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to ecampaign["forwarded"].blank? ? "0" : ecampaign["forwarded"] , "/agents/#{@agent.id}/offices/#{@office.id}/ecampaigns/#{ecampaign["id"]}/stats", :style => "color:blue;"  %></td>
             <td><%= (ecampaign["created_at"].blank? ? "-" : ecampaign["created_at"].to_date.strftime("%d %B %Y")) %></td>
             <td><%= (ecampaign["sent_at"].blank? ? "-" : ecampaign["sent_at"].to_date.strftime("%d %B %Y")) %></td>
             <td width="13%">
               <% if ecampaign["sent_at"].blank? %><%= link_to "Edit", "/agents/#{@agent.id}/offices/#{@office.id}/ecampaigns/#{ecampaign["id"]}/edit_ecampaign", :style => "color:blue;"  %><% else %>Edit<% end %>
               &nbsp;|&nbsp;
               <%= link_to "Duplicate", "/agents/#{@agent.id}/offices/#{@office.id}/ecampaigns/#{ecampaign["id"]}/duplicate_ecampaign", :style => "color:blue;"  %>&nbsp;|&nbsp;
               <%= link_to "Stats", "/agents/#{@agent.id}/offices/#{@office.id}/ecampaigns/#{ecampaign["id"]}/stats", :style => "color:blue;"  %>&nbsp;|&nbsp;
               <%= link_to "Delete", "/agents/#{@agent.id}/offices/#{@office.id}/ecampaigns/#{ecampaign["id"]}/delete_campaign", :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :style => "color:red;" %>&nbsp;|&nbsp;
               <% if ecampaign["sent_at"].blank? %>
                 <%= link_to "Send Eproperty", "/agents/#{@agent.id}/offices/#{@office.id}/ecampaigns/#{ecampaign["id"]}/view_and_send", :style => "color:blue;"  %>
               <% else %>
                  Campaign Sent
               <% end %>
             </td>
           </tr>
           <% end %>
         </table>
    </fieldset>
    </div>
  </div>
</div>