<div id="logo" style ="text-align: center"><% unless @office.logos.blank? %><p><%= image_tag(@office.logos.first.public_filename,:width => 200)%> </p><%end%> <h1 id="logo" style="font-size: 20px"><%= @office.name.include?("Sign") ? "#{@office.name}" : "#{@office.name} Forward Email" %></h1><br/></div>
<div id="teamadddiv" class="block full">
<% form_for :agent_contact, @agent_contact, :url => send_forward_agent_office_ecampaign_path(@agent,@office,@ecampaign), :html => {:class => 'member_details_form', :id => 'forward_form'} do |f| %>
  <%= f.error_messages :class => 'errortext' %>
  <% if flash.now[:notice] %>
    <div style="border:1px solid #003311;padding:5px;margin-bottom:5px;"><%= h flash.now[:notice] %></div>
  <% end %>
  <%= f.hidden_field :category_contact_id, :value => 8 %>
  <%= hidden_field_tag 'track_id', @track_id %>

  <div id="memdetailsdescrdiv" class="block transparent leader">
    <div id="memberdetailsdiv" class="group">
      <h4 class="full">Forward this email to a friend or colleague </h4>
      <div class="set">
        <fieldset class="pf_fs1">
          <ul class="pf-ul">
            <li class="li--1 required">
              <label><span>First Name:<span class="red_star">*</span></span></label>
              <%= f.text_field :first_name, :class => 'single fldrequired' %>
            </li>
            <li class="li--2 required">
              <label><span>Last Name:<span class="red_star">*</span></span></label>
              <%= f.text_field :last_name, :class => 'single fldrequired' %>
            </li>
            <li class="li--6">
              <label><span>Mobile:</span></label>
              <%= f.text_field :mobile_number, :class => 'single fldrequired' %>
            </li>
            <li class="li--7 required">
              <label><span>Email:<span class="red_star">*</span></span></label>
              <%= f.text_field :email, :class => 'single fldrequired' %>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="action_button">
    <button name="create" type="button" value="Forward Email" onclick="$('#forward_form').submit();" class="submit_btn">
      Forward Email
    </button>
  </div>
</div>
<% end %>