<style>
  .ec-desc{font-size:9pt;line-height:15px;margin-right:18px;width: 73%;float:left;}
</style>
<div class="block help full">
  <div class="title_block threequarters leader"><h2>Ecampaigns</h2></div>
</div>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <fieldset class="pf_fs2">
       <div style="font-size:9pt;line-height:30px;">
        In this section you can create HTML based email campaigns which can be sent to the Contacts you’ve added to the system.<br/>
        Some features of the Ecampaigns<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;1. <b>Save/Edit/Duplicate Ecampaigns</b> - You can save Ecampaigns and complete or send them at a later date. You also can duplicate them making it easy to create additional campaigns.<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;2. <b>Ecampign Tracking & Analytics</b> - All Ecampaigns will show which Contacts they have been sent to, who received the campaign, who opened it, who forwarded it and what sections Contacts clicked through.<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;3. <b>Contact Tracking</b> - In the Notes tab for each Contact all Ecampaigns, properties sent, and how the Contact interacted with the campaign will be recorded.<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;4. <b>Listing Tracking</b> - In the Notes section for each property listing you can see which Contacts, what type of campaign was sent, on what date and who interacted with it.<br/>
        Types of Ecampaigns.
       </div>
     </fieldset>
    </div>
  </div>

  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <h6>Eproperty Updates</h6>
     <fieldset class="pf_fs2">
       <div style="font-size:9pt;line-height:15px;width:73%;margin-right:15px;float:left;">
         Eproperty updates are sent manually by your office or agents as often as you like. They allow a campaign to be created which can showcase Agent Image, Introduction Text, Featured Properties, Current Listings, Sold Listings, General Links, Website Links, Social Media Links<br/><br/>
         When you create these campaigns you have full control over which listings appear along with the colours and who the campaign is sent to.
       </div>
       <div class="upload_button" style="float:left;width:25%;">
         <%= link_to 'Eproperty Updates', eproperty_update_agent_office_ecampaigns_path(@agent, @office), :class => 'btn' %>
       </div>
     </fieldset>
    </div>
  </div>

  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <h6>Eproperty Alerts</h6>
     <fieldset class="pf_fs2">
       <div class="ec-desc">
         These are automatic property alerts which can be pushed out by the office or individual agent. They use the same templates and functionality as the Eproperty Updates but are set to be sent automatically. Contacts will receive an email only if there are listings which match their criteria. You have the ability to control how close listings must be to a Contacts criteria.
       </div>
       <div class="upload_button" style="float:left;width:25%;">
         <%= link_to 'Eproperty Alerts', agent_office_ealerts_path(@agent, @office), :class => 'btn' %>
       </div>
     </fieldset>
    </div>
  </div>

  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <h6>Emarketing</h6>
     <fieldset class="pf_fs2">
       <div class="ec-desc">
         These campaigns don’t relate to property listings and are designed to allow you to communicate any other materials with Contacts. You have the freedom to load text and images and can select who the campaign is sent to.
       </div>
       <div class="upload_button" style="float:left;width:25%;">
         <%= link_to 'Emarketing', agent_office_emarketings_path(@agent, @office), :class => 'btn' %>
       </div>
     </fieldset>
    </div>
  </div>

  </div>
</div>