<div class="title_block block">
  <h2 class="page_title">Select Recipients</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= select_recipient_agent_office_ecampaigns_path(@agent, @office) %>" method="post" name="frm1">
<input type="hidden" name="group_ids" id="group_ids" value="<%= @value_group %>"/>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Mailing Group</h6>
        <table style="border:none;">
          <tr style="background-color:#E1EBF5"><td style="width:100px;"><b>Select Group:</b></td>
            <td>
              <select name="selection_group" id="selection_group" onchange="add_options('group','group');">
                <option value="">Please Select</option>
                <% @group_contacts.each do |group| %>
                 <option value="<%= group.id %>" <%= (@group_id == group.id.to_s) ? "selected" : "" %> ><%= group.name %></option>
                 <% end %>
              </select>
            </td>
          </tr>
          <tr style="background-color:#E1EBF5">
            <td colspan="2"><div id="groups"><%= @value_groups %></div></td>
          </tr>
          <tr style="background-color:#E1EBF5">
            <td colspan="2"><input type="button" name="search" value="Search Group" onclick="adv_search('');"/>
            <br/><br/><input type="checkbox" name="group_contact_checkbox_all" onchange="toggleChecked('contact_checkbox', this.checked)"/> Select All
            </td>
          </tr>
          <tr style="background-color:#FFFFFF"><td colspan="2">
          <div style="padding:10px;border:1px solid grey;">
            <div id="adv_search_container"><center><b>Current Contacts</b></center></div>
            <div style="clear:both;">&nbsp;</div>
          </div>
          </td>
          </tr>
        </table>
        <table style="border:none;">
          <tr style="background-color:#E1EBF5"><td style="width:120px;"><b>Display All Contacts</b></td>
            <td>
              <input type="checkbox" name="display_all_contact" id="display_all_contact" value="true" onchange="display_all_contact_func(this);" <%= (@display_all_contact == "true" ? "checked" : "") %>/>
              &nbsp;Select All&nbsp;&nbsp;<input type="checkbox" name="ck_contact_checkbox_all" onchange="toggleChecked('contact_checkbox_all', this.checked)"/>
            </td>
          </tr>
          <tr id="all_contact_cont" style="background-color:#FFFFFF;display:none;">
            <td colspan="2">
              <div style="padding:10px;border:1px solid grey;">
                <div id="adv_all_contact_container"><center><b>Current Contacts</b></center></div>
                <div style="clear:both;">&nbsp;</div>
              </div>
            </td>
          </tr>
        </table>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_layout_agent_office_ecampaigns_path(@agent, @office) %>'" class="submit_btn">« Previous</button>
            <button name="update" type="submit" value="Update" style="float:right;" class="submit_btn">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>

<script type="text/javascript">
    function add_options(type, opt_name){
      var a_all_id = $("#"+type+"_ids").val();
      var a_arry = a_all_id.split('#');
      var a_add =0;
      if($("#selection_"+type).val()!=''){
        for(var x=0; x < a_arry.length; x++){
          if((a_arry[x]!='')&&(a_arry[x]==$("#selection_"+type).val())){ a_add = 1; }
        }
        if(a_add != 1){
          var new_datas = $("#"+type+"_ids").val() + '#' + $("#selection_"+type).val();
          $("#"+type+"_ids").attr('value', new_datas);
          $("#"+type+"s").append('<span id="'+opt_name+$("#selection_"+type).val()+'" style="margin-right:20px;">'+$("#selection_"+type+" option:selected").text()+'\
           <a href="javascript:remove_options(\''+type+'\',\''+$("#selection_"+type).val()+'\',\''+opt_name+'\')">x</a></span> ');
        }
      }
    }

    function remove_options(type, id, opt_name){
      var all_id = $("#"+type+"_ids").val();
      var arry = all_id.split('#');
      $("#"+type+"_ids").attr('value', "");
      for(var x=0; x < arry.length; x++){
        if((arry[x]!='')&&(arry[x]!=id)){
         var new_datas = $("#"+type+"_ids").val() + '#' + arry[x];
         $("#"+type+"_ids").attr('value', new_datas);
        }
      }
      if(opt_name != ''){
        $("#"+opt_name+id).remove();
      }else{
        $("span").remove(":contains('"+id+"')");
      }
    }

   $(document).ready(function(){
     var ids = "<%= @contact_checkbox_ids %>";
     var display_all = "<%= @display_all_contact %>";
     if(ids !=''){ adv_search(''); }
     if(display_all != ''){ $('#all_contact_cont').show();adv_search('all'); }
   });

   function adv_search(type){
     var container = "";
     var field_name = "";
     var ids = "";
     var tmp_ids = "";
     if(type == "all"){
       container = $("#adv_all_contact_container");
       field_name = "contact_checkbox_all";
       $('.contact_checkbox:checked').each(function() { tmp_ids += "#"+this.value; });
       if(tmp_ids == ""){ tmp_ids = "<%= @contact_checkbox_ids %>"; }
       ids = "<%= @contact_checkbox_all_ids %>";
       if(ids == ""){ ids = tmp_ids; }

     }else{
       container = $("#adv_search_container");
       field_name = "contact_checkbox";
       ids = "<%= @contact_checkbox_ids %>";
     }

      $.ajax({
        type: "POST",
        url: "<%= search_contact_agent_office_ecampaigns_path(@agent, @office) %>",
        data:"selection_group_id="+$("#group_ids").val()+"&type="+type,
        dataType:"JSON",
        beforeSend:function(){
          container.html('<center><img src="/images/ajax-loader.gif" id="search-loader-note"></center>');
        },
        success: function(jsonResponse){
          container.html("");
          var arr = ids.split("#");
          if (jsonResponse != ''){
            var jsonObject = eval('(' + jsonResponse + ')');
            $.each(jsonObject.results, function(index,array){
              if(include(arr, parseInt(array["id"]))){
                container.append('<div style="float:left;width:33%;"><input type="checkbox" name="'+field_name+'[]" value="'+array["id"]+'" class="'+field_name+'" checked/> &nbsp; '+array["name"]+'</div>');
              }else{
                container.append('<div style="float:left;width:33%;"><input type="checkbox" name="'+field_name+'[]" value="'+array["id"]+'" class="'+field_name+'"/> &nbsp; '+array["name"]+'</div>');
              }
            });
          }else{
            container.append("<center>No Matching Results</center>");
          };
        },
        complete:function(){
        }
      });
      return false;
    };

    function include(arr, obj) {
        for(var i=0; i<arr.length; i++) {
            if(arr[i] == obj) return true;
        }
    }

   function display_all_contact_func(current){
    if(current.checked == true){
      $('#all_contact_cont').show();
      adv_search('all');
    }else{
      $('#all_contact_cont').hide();
    }
  }

    function toggleChecked(class_name, status) {
      $("."+class_name).each( function(){ $(this).attr("checked",status); });
    }
</script>