      <div id="propertydatadiv" class="group">
        <div class="set">
          <h6 class="full">Contact Details </h6>
          <fieldset class="pf_fs5">
            <ul class="pf-ul">
              <li class="li--20"><label><span>Title:</span></label>
              <%= contact.text_field :title, :class => "single" %>
              </li>
              <li class="li--17 required"><label><span>First Name:</span></label>
                <%= contact.text_field :first_name, :class => "single" %>
              </li>
              <li class="li--17 required"><label><span>Last Name:</span></label>
                <%= contact.text_field :last_name, :class => "single" %>
              </li>
              <li class="li--17"><label><span>Email:</span></label>
                <%= contact.text_field :email, :class => "single" %>
              </li>
              <li class="li--17"><label><span>Home Number:</span></label>
                <%= contact.text_field :home_number, :class => "single" %>
              </li>
              <li class="li--17"><label><span>Work Number:</span></label>
                <%= contact.text_field :work_number, :class => "single" %>
              </li>
              <li class="li--17"><label><span>Mobile Number:</span></label>
                <%= contact.text_field :mobile_number, :class => "single" %>
              </li>
              <li class="li--17"><label><span>Contact Number:</span></label>
                <%= contact.text_field :contact_number, :class => "single" %>
              </li>
              <li class="li--17"><label><span>Fax Number:</span></label>
                <%= contact.text_field :fax_number, :class => "single" %>
              </li>
              <li class="li--23"><label><span>Heard About this Property:</span></label>
                <%= form.select :heard_from_id, @heard_froms, {}, {:class => 'select_box', :style=> "width:58%"} %>
              </li>
              <li class="li--17"><label><span>Signup to Alert:</span></label>
                <%= form.check_box :alert, :style => "width:15px;min-width:15px;" %>
              </li>
              <li class="li--17"><label><span>Given Contract/Application:</span></label>
                <%= form.check_box :contract, :style => "width:15px;min-width:15px;" %>
              </li>
              <li class="li--23"><label><span>&nbsp;</span></label>
                <button name="btn_submit" type="submit" value="Submit">
                  <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Submit
                </button>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>