<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">Added Contacts </h6>
    <div style="width:auto;">
      <% @attended_users.each do |relation| -%>
        <div style="float:left;margin-left:10px;font-size:12px;">
          <%= (relation.agent_contact_id ? relation.agent_contact.full_name : "-") %>
          <%= link_to "x", agent_office_property_past_opentime_contact_pastopentime_relation_path(@agent,@office, @property, @pastopentime, relation), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        </div>
      <% end -%>
    </div>
    <div class="action_button" style="border:none;">
      <%= link_to "Close Popup", "#",:onclick=>"window.parent.location.reload();window.parent.tb_remove(); return false", :style =>"float:right;"%>
     </div>
  </div>
</div>