<p>
  <b>Name:</b>
  <%=h @user_defined_feature.name %>
</p>

<p>
  <b>Property type:</b>
  <%=h @user_defined_feature.property_type %>
</p>

<%= link_to 'Edit', edit_agent_office_user_defined_feature_path(@agent,@office,@user_defined_feature) %> |
<%= link_to 'Index', agent_office_user_defined_features_path(@agent,@office) %>|
<%= link_to 'Close', "#",:onclick=>"window.parent.tb_remove(); return false" %>
