<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_div { height: 100% }
  </style>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChQSpCH3SdXB4BFphbz9av5KUWhqMQzrk&sensor=false">
  </script>
  <script type="text/javascript">
    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(-34.397, 150.644),
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map_div"),
      mapOptions);
    }

    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyChQSpCH3SdXB4BFphbz9av5KUWhqMQzrk&sensor=false";
      document.body.appendChild(script);
    }

    window.onload = loadScript;
  </script>
<%= javascript_include_tag 'jquery.jmap.min', 'gmap' %>
<script type="text/javascript">
  $(document).ready(function(){
   var latlng = new Array(2);
   latlng[0]= '<%=@property.latitude%>';
   latlng[1]= '<%=@property.longitude %>';
   init_map(latlng, 15);
    var printing;
    if($.browser.msie){
      printing = $(document.createElement('div')).attr({'id':'printing'}).css({'text-align':'center','width':'60px','height':'35px','position':'absolute','top':'0px','left':$(window).width() - 50+'px'}).html('<img id="print_image" src="/images/icons/print.png" /><p id="print_label" style="display:none">Print</><p>');
    }else{
      printing = $(document.createElement('div')).attr({'id':'printing'}).css({'text-align':'center','width':'60px','height':'35px','position':'fixed','top':'0px','left':$(window).width() - 50+'px'}).html('<img id="print_image" src="/images/icons/print.png" /><p id="print_label" style="display:none">Print</><p>');
    };
    $('body').append(printing);
    $('#print_image').css({'cursor':'pointer'});
    $('#print_label').css({'cursor':'pointer','font-weight':'bolder','font-size':'15px'});
    $('#printing').css('line-height','1px');
    $('#printing').mouseover(function(){
      $('#printing').animate({
        height:60
      },{duration: 'slow',easing: 'easeOutBounce'}, function(){
        $('#printing').css('height','60px');
      });
      $('#print_label').show();
    });
    $('#printing').mouseleave(function(){
      $('#printing').animate({
        height:35
      },{duration: 'fast',easing: 'easeInBounce'}, function(){
        $('#printing').css('height','35px');
      });
      $('#print_label').hide();
    });
    $('#print_label,#print_image').click(function(){
      window.print();
      return false;
    });
  });
</script>
<style type="text/css" >
  .wrapper{margin:0 auto;width:700px;height:auto;font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif;}
  .logo{margin-bottom:5px;font-weight:bold;font-size:25px;}
  .headline{width:700px;height:30px;margin-bottom:5px;}
  .headline-text{font-size:12pt;font-weight:bold;}
  .middle-content{width:700px;height:auto;margin-bottom:5px;}
  .middle-content .right-column{width:450px;height:auto;float:left;}
  .middle-content .left-column{width:231px;height:auto;float:right;}
  .right-column .address-box{height:25px;border:1px solid #CCCCCC;margin-bottom:10px;padding:5px;}
  .right-column .big-pic{margin-bottom:10px;}
  .right-column .detail{height:auto;margin-bottom:10px;}
  .right-column .map{height:100px;border:1px solid #CCCCCC;}
  .detail .right-column{width:140px;height:auto;float:left;}
  .small-pic{width:140px;margin-bottom:10px;}
  .detail .left-column{width:290px;height:auto;float:right;}
  .clear{clear:both;}
  .right-box{
    width:210px;
    min-height:100px;
    border:1px solid #CCCCCC;
    margin-bottom:10px;
    padding:5px 10px;
  }
  p {
    font-size: 11px;
  }
  .detail .left-column ul{font-size:8pt;}
</style>
<div class="wrapper">
  <% unless @property.agent.developer.blank? %>
  <div class="logo">
    <% unless @header_image.blank? %>
      <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="700"/>
    <% else %>
      <%= @property.agent.developer && @property.agent.developer.company %>
    <% end %>
  </div>
  <% end %>
  <div class="headline"><p><span class="headline-text">
  <%= @property.deal_type == "Both" ? "For Sale & Lease" : @property.deal_type %>
      </span> Property Id : <%= @property.id %></p></div>
  <div class="middle-content">
    <div class="right-column">
      <div class="address-box"><%= @property.suburb %></div>
      <% unless @property.images.first.blank? %>
      <div class="big-pic">
        <img src="<%= @property.images.first.public_filename %>" name="big_pic" style="width:450px;" />
      </div>
      <% end %>
      <div class="detail">
        <div class="right-column">
          <% unless @property.images.second.blank? %>
            <div class="small-pic"><img src="<%= @property.images.second.public_filename %>" style="width:140px;" name="sec_pic" /></div>
          <% end %>
          <% unless @property.images.third.blank? %>
            <div class="small-pic"><img src="<%= @property.images.third.public_filename %>" style="width:140px;" name="sec_pic" /></div>
          <% end %>
        </div>
        <div class="left-column">
          <b><%= @property.headline %></b><br/>
          <p><%= strip_tags(@property.description).gsub("\n","</br>") %></p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="map">
        <div id='map_div' style="height:450px; width: auto; position: relative;"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="left-column">
      <% unless @property.primary_contact.blank? %>
      <div class="right-box">
        <%= @property.primary_contact.full_name %>
        <p>
          <%= @property.primary_contact.phone.blank? ? "": "<b>Phone</b> : #{@property.primary_contact.phone}" %>
          <%= @property.primary_contact.mobile.blank? ? "": "<br/><b>Mobile</b> : #{@property.primary_contact.mobile}" %>
          <%= @property.primary_contact.email.blank? ? "": "<br/><b>Email</b> : #{@property.primary_contact.email}" %>
        </p>
      </div>
      <% end %>
      <% unless @property.secondary_contact.blank? %>
      <div class="right-box">
        <%= @property.secondary_contact.full_name %>
        <p>
          <%= @property.secondary_contact.phone.blank? ? "": "<b>Phone</b> : #{@property.secondary_contact.phone}" %>
          <%= @property.secondary_contact.mobile.blank? ? "": "<br/><b>Mobile</b> : #{@property.secondary_contact.mobile}" %>
          <%= @property.secondary_contact.email.blank? ? "": "<br/><b>Email</b> : #{@property.secondary_contact.email}" %>
        </p>
      </div>
      <% end %>
      <div class="right-box">
        Property Summary:<hr/>
        <p>
          <% if @property.address.present? && @property.display_address != 2 %>
            <% if @property.display_address == 0 %>
              <%= "<b>Address</b> : #{@property.address.to_s[1..-1]}" %>
            <% else %>
              <%= "<b>Address</b> : #{@property.address}" %>
            <% end %>
          <% end %>
          <%= @property.deal_type.blank? ? "": "<br/><b>Deal Type</b> : #{@property.deal_type}" %>
          <%= @property.property_type.blank? ? "": "<br/><b>Property Type</b> : #{@property.property_type}" %>
          <%= @detail.property_type2.blank? ? "": "<br/><b>Property Type2</b> : #{@detail.property_type2}" %>
          <%= @detail.property_type3.blank? ? "": "<br/><b>Property Type3</b> : #{@detail.property_type3}" %>
          <%= @detail.authority.blank? ? "": "<br/><b>Authority</b> : #{@detail.authority}" %>
          <%= @detail.year_built.blank? ? "": "<br/><b>Year built:</b> : #{@detail.year_built}" %>
          <%= @detail.highlight1.blank? ? "": "<br/><b>highlight1:</b> : #{@detail.highlight1}" %>
          <%= @detail.highlight2.blank? ? "": "<br/><b>highlight2:</b> : #{@detail.highlight2}" %>
          <%= @detail.highlight3.blank? ? "": "<br/><b>highlight3:</b> : #{@detail.highlight3}" %>
          <%= @detail.land_area.blank? ? "": "<br/><b>Land Area</b> : #{@detail.land_area} (#{@detail.land_area_metric})" %>
          <%= @detail.floor_area.blank? ? "": "<br/><b>Floor Area</b> : #{@detail.floor_area} (#{@detail.floor_area_metric})" %>
          <%= @detail.office_area.blank? ? "": "<br/><b>Office Area:</b> : #{@detail.office_area} (#{@detail.office_area_metric})" %>
          <%= @detail.warehouse_area.blank? ? "": "<br/><b>Warehouse Area:</b> : #{@detail.warehouse_area} (#{@detail.warehouse_area_metric})" %>
          <%= @detail.retail_area.blank? ? "": "<br/><b>Retail Area:</b> : #{@detail.retail_area} (#{@detail.retail_area_metric})" %>
          <%= @detail.other_area.blank? ? "": "<br/><b>Other Area:</b> : #{@detail.other_area} (#{@detail.other_area_metric})" %>
          <%= @detail.area_range.blank? ? "": "<br/><b>Area Range:</b> : #{@detail.area_range} to #{@detail.area_range_to} <b>m2</b>" %>
          <%= @detail.zoning.blank? ? "": "<br/><b>Zoning</b> : #{@detail.zoning}" %>
          <%= @detail.carport_spaces.blank? ? "": "<br/><b>Number of Car Spaces</b> : #{@detail.carport_spaces}" %>

          <% if @property.display_price.to_i == 1 %>
            <%= @property.price.blank? ? "": "<br/><b>Sale Price</b> : #{property_currency(@property.price)}" %>
            <%= @detail.sale_price_from.blank? ? "": "<br/><b>Sale Price Range</b> : #{property_currency(@detail.sale_price_from)} to #{property_currency(@detail.sale_price_to)}" %>
            <%= @detail.return_percent.blank? ? "": "<br/><b>Return % pa</b> : #{@detail.return_percent}" %>
            <%= @detail.current_rent.blank? ? "": "<br/><b>Rent pa</b> : #{property_rent_currency(@detail.current_rent, @detail.rent_type, @detail.current_rent_include_tax)}" %>
            <%= @detail.rental_price.blank? ? "": "<br/><b>Rental psn/pa</b> : #{property_currency(@detail.rental_price)} to #{property_currency(@detail.rental_price_to)}" %>
          <% else %>
             <% if @property.display_price.to_i == 2 %>
               <%= @property.display_price_text.blank? ? "": "<br/><b>Price</b> : #{@property.display_price_text}" %>
             <% end %>
          <% end %>
          <%= @detail.annual_outgoings.blank? ? "": "<br/><b>Annual Outgoings</b> : #{property_currency(@detail.annual_outgoings)}" %>
          <%= @detail.lease_end.blank? ? "": "<br/><b>Lease End</b> : #{@detail.lease_end}" %>
          <%= @detail.lease_further_option.blank? ? "": "<br/><b>Further Option</b> : #{@detail.lease_further_option}" %>

          <%= @detail.auction_place.blank? ? "": "<br/><b>Event Place</b> : #{@detail.auction_place}" %>
          <%= @detail.auction_date.blank? ? "": "<br/><b>Event Date</b> : #{@detail.auction_date}" %>
          <%= @detail.auction_time.blank? ? "": "<br/><b>Event Time</b> : #{@detail.auction_time}" %>
        </p>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>