<script type="text/javascript">
  function add_assign(){
    var a_all_id = $("#assigns_id").val();
    var a_arry = a_all_id.split('#');
    var a_add =0;
    if($("#agent_company_assigned_to").val()!=''){
      for(var x=0; x < a_arry.length; x++){
        if((a_arry[x]!='')&&(a_arry[x]==$("#agent_company_assigned_to").val())){
          a_add = 1
        }
      }
      if(a_add != 1){
        var new_assigns = $("#assigns_id").val() + '#' + $("#agent_company_assigned_to").val()
        $("#assigns_id").attr('value', new_assigns);
        $("#assigns").append('<div id="'+$("#agent_company_assigned_to").val()+'" style="margin-right:20px;">'+$("#agent_company_assigned_to option:selected").text()+'\
         <a href="javascript:remove_assign('+$("#agent_company_assigned_to").val()+')">x</a></div>');
      }
    }else{
      remove_all_assign();
    }
  }

  function remove_assign(id){
    var all_id = $("#assigns_id").val();
    var arry = all_id.split('#');
    $("#assigns_id").attr('value', "");
    for(var x=0; x < arry.length; x++){
      if((arry[x]!='')&&(arry[x]!=id)){
        var new_assigns = $("#assigns_id").val() + '#' + arry[x]
        $("#assigns_id").attr('value', new_assigns);
      }
    }
    $('#assigns div#'+id).remove();
  }

  function remove_all_assign(){
    $("#assigns_id").attr('value', "");
    $('#assigns div').remove();
  }

  function add_access(){
    var all_id = $("#access_id").val();
    var arry = all_id.split('#');
    var add =0;
    if($("#agent_company_accessible_by").val()!=''){
      for(var x=0; x < arry.length; x++){
        if((arry[x]!='')&&(arry[x]==$("#agent_company_accessible_by").val())){
          add = 1
        }
      }
      if(add != 1){
        var new_access = $("#access_id").val() + '#' + $("#agent_company_accessible_by").val()
        $("#access_id").attr('value', new_access);
        $("#access").append('<div id="'+$("#agent_company_accessible_by").val()+'" style="margin-right:20px;">'+$("#agent_company_accessible_by option:selected").text()+'\
         <a href="javascript:remove_access('+$("#agent_company_accessible_by").val()+')">x</a></div>');
      }
    }else{
      remove_all_access();
    }
  }

  function remove_access(id){
    var all_id = $("#access_id").val();
    var arry = all_id.split('#');
    $("#access_id").attr('value', "");
    for(var x=0; x < arry.length; x++){
      if((arry[x]!='')&&(arry[x]!=id)){
        var new_access = $("#access_id").val() + '#' + arry[x]
        $("#access_id").attr('value', new_access);
      }
    }
    $('#access div#'+id).remove();
  }

  function remove_all_access(){
    $("#access_id").attr('value', "");
    $('#access div').remove();
  }
</script>
<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">Contact Assigned to </h6>
    <fieldset class="pf_fs5">
      <ul class="pf-ul">
        <li class="li--23"><label><span>Assigned To:</span></label>
          <%= form.select :assigned_to,  @team_members, {:selected => @assigned_main_id}, {:class => 'select_box', :onchange => "add_assign();"} %>
        </li>
        <li class="li--23">
          <input type="hidden" id="assigns_id" name="assigns_id" value="<%= @assigns_id %>" />
          <div id="assigns" style="width:300px;"><%=@list_assigns%></div>
        </li>
      </ul>
    </fieldset>
  </div>
</div>
<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">Accessible By </h6>
    <fieldset class="pf_fs5">
      <ul class="pf-ul">
        <li class="li--23"><label><span>Accessible By:</span></label>
          <%= form.select :accessible_by,  @team_members, {:selected => @access_main_id}, {:class => 'select_box', :onchange => "add_access();"} %>
        </li>
        <li class="li--23">
          <input type="hidden" id="access_id" name="access_id" value="<%=@access%>" />
          <div id="access" style="width:300px;"><%=@list_access%></div>
        </li>
      </ul>
    </fieldset>
  </div>
</div>