<div class="sub2nav">
  <% unless @agent_company.nil? %>
    <% if @agent_company.id.nil? %>
      <div class="optnav <%= params[:controller] == "agent_companies" && params[:action] == 'new' ? 'current-nav' : ''  %>" >
        <%= link_to 'Detail', new_agent_office_agent_company_path(@agent,@office), :title => 'Details'%>
      </div>
    <% else %>
      <% if current_user.full_access? || (current_user.client_only_access? && current_user.include_accessible?(@agent_company.id))  || (current_user.limited_client_access? && current_user.include_accessible?(@agent_company.id)) %>
      <div class="optnav <%= params[:controller] == "agent_companies" && params[:action] == 'edit' ? 'current-nav' : ''  %>">
        <%= link_to 'Detail', edit_agent_office_agent_company_path(@agent,@office, @agent_company), :title => 'Details'%>
      </div>
      <% end %>
      <div class="optnav <%= params[:controller] == "company_alerts" ? 'current-nav' : ''  %>">
       <%= link_to 'Requirements', agent_office_agent_company_company_alerts_path(@agent, @office, @agent_company), :title => 'Alerts'%>
      </div>
      <div class="optnav <%= params[:controller] == "company_notes" ? 'current-nav' : ''  %>">
        <%= link_to 'Notes', agent_office_agent_company_company_notes_path(@agent, @office, @agent_company), :title => 'Notes'%>
      </div>
    <% end %>
  <% end %>
  <div class="clearer"></div>
</div>