<div id="propertyaddressdiv" class="group">
  <div class="set">
    <h6 class="full">Company Details </h6>
    <fieldset class="pf_fs5">
      <ul class="pf-ul">
        <li class="li--20 required"><label><span>Company Name:</span><span class="red_star">*</span></label>
          <%= form.text_field :company, :class => "single" %>
        </li>
        <% if (@office.empty_contact_email.blank? || !@office.empty_contact_email) %>
          <li class="li--17"><label><span>Email:</span></label>
          <% else %>
          <li class="li--17"><label><span>Email:</span></label>
          <% end %>
          <%= form.text_field :email, :class => "single" %>
        </li>
        <li class="li--20"><label><span>Website:</span></label>
          <%= form.text_field :website, :class => "single" %>
        </li>
        <li class="li--17"><label><span>Contact Number:</span></label>
          <%= form.text_field :contact_number, :class => "single" %>
        </li>
        <li class="li--17"><label><span>Fax Number:</span></label>
          <%= form.text_field :fax_number, :class => "single" %>
        </li>
        <li class="li--17"><label><span>Inactive:</span></label>
          <%= form.check_box :inactive, :style => "width:14px;" %>
        </li>
      </ul>
    </fieldset>
  </div>
</div>