    <div id="propertydatadiv" class="group">
      <div class="set">
        <h6 class="full">Heard About Us </h6>
        <fieldset class="pf_fs5">
          <ul class="pf-ul">
            <li class="li--23"><label><span>Heard About us:</span></label>
              <div id="heard_wrap">
                <%= form.select :heard_from_id, @heard_froms, {}, {:class => 'select_box', :style=> "width:58%"} %>
              </div>
              <div id="heard_loading" ><%= image_tag "/images/ajax-loader.gif" %></div>
              &nbsp;&nbsp;<%= link_to 'Add', agent_office_heard_froms_path(@agent,@office)+"?KeepThis=true&TB_iframe=true&height=550&width=700&modal=true",:class =>"thickbox",:id=>"add_new_heard"%>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>