<div id="submissiondiv" class="group">
  <div class="set">
    <p><strong>Submission</strong> <em> created at <%= @agent_company.created_at.blank? ? "" : @agent_company.created_at.utc.strftime("%Y-%m-%d %H:%M:%S")  %></em></p>
    <p><strong>Submission</strong> <em> updated at <%= @agent_company.updated_at.blank? ? "" : @agent_company.updated_at.utc.strftime("%Y-%m-%d %H:%M:%S")  %></em></p>
    <div class="action_button">
      <button name="btn_submit" type="submit" value="Submit" class="submit_btn" >
        <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Submit
      </button>
          <%= link_to "Delete Company", agent_office_agent_company_path(@agent, @office, @agent_company),:confirm=>"Are you sure?",:method=>:delete ,:style =>"float:right;", :class => "submit_btn" if params[:action]=="edit" || params[:action]=="update"%>
    </div>
    <div class="clearer"></div>
  </div>
</div><!-- end #submissiondiv GROUP -->
