<div class="block help full sub-opt-nav">
  <div><%= render :partial => 'agent_companies/company_options' %></div>
</div>
<div id="clientdiv" class="block accounts full">
<% form_for :agent_company, @agent_company, :url => agent_office_agent_company_path(@agent,@office,@agent_company), :html => {:class => 'propertyform full', :method=>:put} do |f| %>
   <%= f.error_messages :class => 'errortext' %>
  <div class="block form half leader" >
     <%= render :partial => 'contact', :locals => {:form => f} %>
     <%= render :partial => 'postal', :locals => {:form => f} %>
     <%= render :partial => 'login', :locals => {:form => f} %>
   </div><!-- end .half BLOCK (left side) -->

   <div class="block form half follower" style="width: 48.5% !important"><!-- start .half BLOCK (right side) -->
    <%= render :partial => 'category_edit', :locals => {:form => f} %>
    <%= render :partial => 'assigned_accessible', :locals => {:form => f} %>
     <%= render :partial => 'solicitor', :locals => {:form => f} %>
    <%= render :partial => 'heard', :locals => {:form => f} %>
    <%= render :partial => 'mail_group', :locals => {:form => f} %>
    <%= render :partial => 'submit', :locals => {:form => f} %>
   </div><!-- end .half BLOCK (right side) -->
<% end %>
</div><!-- end #clientdiv -->