<div class="title_block block">
</div>
<div id="clientdiv" class="block accounts full">
<% form_for :agent_company, @agent_company, :url => agent_office_agent_companies_path(@agent,@office), :html => {:class => 'propertyform full', :id=> "form_new"} do |f| %>
   <%= f.error_messages :class => 'errortext' %>
   <div class="block form half leader" >
     <%= render :partial => 'contact', :locals => {:form => f} %>
     <%= render :partial => 'postal', :locals => {:form => f} %>
     <%= render :partial => 'login', :locals => {:form => f} %>
   </div><!-- end .half BLOCK (left side) -->

   <div class="block form half follower" style="width: 48.5% !important"><!-- start .half BLOCK (right side) -->
    <%= render :partial => 'category', :locals => {:form => f} %>
    <%= render :partial => 'assigned_accessible', :locals => {:form => f} %>
     <%= render :partial => 'solicitor', :locals => {:form => f} %>
    <%= render :partial => 'heard', :locals => {:form => f} %>
    <%= render :partial => 'mail_group', :locals => {:form => f} %>
    <%= render :partial => 'submit', :locals => {:form => f} %>
   </div><!-- end .half BLOCK (right side) -->
   <% ck = @agent_company.errors.on :check_error %>
   <% if ck == "duplicate" %>
      <script type="text/javascript">
         var answer = confirm ("There already exists a user in the database with this First Name, Last Name and Email/Telephone. Would you like to update that company with this data?")
          if(answer){
            $("#form_new").attr('action', "<%= update_duplicate_agent_office_agent_companies_path(@agent,@office)  %>");
            $("#form_new").submit();
          }
      </script>
   <% end %>
<% end %>
</div><!-- end #clientdiv -->
