<% content_for :head do %>
  <script type="text/javascript">
    jQuery(function(){
        jQuery("#property_suburb_suggest").flexbox('<%= search_suburbs_path %>',{
          method: 'post',
          watermark: '<%= @agent.suburb %>',
          showArrow: false,
          inputClass: 'single',
          resultTemplate: '{name} {id} {post}',
          hiddenValue: 'post',
          additionValue: 'id',
          minChars: 3,
          queryDelay: 300,
          highlightMatches: false,
          hiddenValue: 'post',
          onSelect: function(){
            jQuery("#agent_state").val(this.getAttribute("additionValue"));
            jQuery("#agent_zipcode").val(this.getAttribute("hiddenValue"));
            jQuery("#agent_suburb").val(this.getAttribute('val'));
          }
        });
        if(jQuery('#agent_suburb').parent('.fieldWithErrors').length){
          jQuery('#agent_suburb_suggest_input').wrap("<div class='fieldWithErrors'></div>");
        }
      });
  </script>
<% end %>
<div class="group">
  <div class="set half leader">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th colspan="2" class="first_cell">Client Details</th>
        </tr>
        <tr>
          <td class="field first_cell">Client Name:</td>
          <td class="value">
            <%= form.text_field :name, :class => 'single' %>
            <span style="color:red;font-weight:bold;">*</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Country:</td>
          <td class="value">
            <%= form.select :country, @countries %>
            <span style="color:red;font-weight:bold;">*</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Suburb:</td>
          <td class="value">
	        <%= form.text_field :suburb, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">State:</td>
          <td class="value">
            <%= form.text_field :state, :class => 'single' %>
            <!--            <input type="text" name="pf_field_6" id="pf_field_6" class="single noenter" value="NSW"/> -->
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Postcode:</td>
          <td class="value">
            <%= form.text_field :zipcode, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Unit/Office Number:</td>
          <td class="value">
            <%= form.text_field :unit_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Street Number:</td>
          <td class="value">
            <%= form.text_field :street_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Street Name/Type:</td>
          <td class="value">
            <%= form.text_field :street, :class => 'single' %>
          </td>
        </tr>

        <tr>
          <th colspan="2" class="first_cell">Client Account Holder</th>
        </tr>
        <tr>
          <td class="field first_cell">First Name:</td>
          <td class="value">
            <%= form.text_field :holder_first_name, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Last Name:</td>
          <td class="value">
            <%= form.text_field :holder_last_name, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Email:</td>
          <td class="value">
            <%= form.text_field :holder_email, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Office Phone:</td>
          <td class="value">
            <%= form.text_field :holder_phone, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Office Fax:</td>
          <td class="value">
            <%= form.text_field :holder_fax, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Mobile:</td>
          <td class="value">
            <%= form.text_field :holder_mobile, :class => 'single' %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="set half follower">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th colspan="2" class="first_cell">Client Settings</th>
        </tr>
        <tr>
          <td class="field first_cell">Developer Contact:</td>
          <td class="value">
            <%= form.select :developer_contact_id, @contacts, {}, :class => 'select_box contact_select' %>
            <span style="color:red;font-weight:bold;">*</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Support Contact:</td>
          <td class="value">
            <%= form.select :support_contact_id, @contacts, {}, :class => 'select_box contact_select' %>
            <span style="color:red;font-weight:bold;">*</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Upgrade Contact:</td>
          <td class="value">
            <%= form.select :upgrade_contact_id, @contacts, {}, :class => 'select_box contact_select' %>
            <span style="color:red;font-weight:bold;">*</span>
          </td>
        </tr>
          <tr>
          <th colspan="2" class="first_cell">API Keys</th>
        </tr>
        <tr>
          <td class="field first_cell">Access Key:</td>
          <td class="value">
            <%= @agent.access_key %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Private Key:</td>
          <td class="value">
            <%= @agent.private_key %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="clearer"></div>
</div>
<script type="text/javascript" charset="utf-8">
	$(function() {
		developer_access_event();
	});
</script>
