<tr class="<%= cycle('alt', '') %>">
  <td class="list_commenced first_cell"><%= row.created_at.strftime('%m/%d/%Y') %></td>
  <td class="list_client_name">
    <%= link_to (h row.name), edit_developer_agent_path(@developer,row), :style => "color:#0E7FC7;" %>
  </td>
  <td class="list_active_offices"><%= link_to row.count_active, developer_offices_path(@developer, :client => row.id, :status => 'active'), :style => "color:#0E7FC7;" %></td>
  <td class="list_total_listings"><%= row.count_properties %></td>
  <td class="list_total_team"><%= row.count_agents %></td>
  <td class="list_apis">
    <%= link_to "API",  api_details_agent_path(row), :style => "color:#0E7FC7;" %>
  </td>
  <td class="list_view_offices">
    <%= link_to 'View', developer_offices_path(@developer, :client => row), :style => "color:#0E7FC7;" %> | 
    <%= link_to 'Add Office', new_developer_agent_office_path(@developer, row), :style => "color:#F85911;" %>
  </td>
</tr>
