<script type="text/javascript">
  var newwindow;
  function poptastic(url)
  {
    newwindow=window.open(url,'name','height=screen.height,width=screen.width,resizable=yes,scrollbars=yes,toolbar=yes,status=yes');
    if (window.focus) {newwindow.focus()}
  }

</script>
<%unless @agent.blank?%>
  <h2><%= @agent.name %></h2><br/><br/>


  <h3>Property Listing XML</h3>
  <table cellspacing="0" cellpadding="0" class="export_settings_table full">
    <tr>
      <td class="field first_cell">Client ID:</td>
      <td class="value">
        <%= @agent.id %>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">XML Url</td>
      <td class="value">
        <%unless @agent.status == 'inactive'%>
          <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/properties?client_id=<%=@agent.id%>&page=1');">http://api.commercialloopcrm.com.au/api/properties?client_id=<%=@agent.id%>&page=1</a>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">Access Key:</td>
      <td class="value">
        <%unless @agent.status == 'inactive'%>
          <%= @agent.access_key %>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">Private Key:</td>
      <td class="value">
        <%unless @agent.status == 'inactive'%>
          <%= @agent.private_key %>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
  </table>
  <br/>

  <h3>Team Member XML</h3>
  <table cellspacing="0" cellpadding="0" class="export_settings_table full">
    <tr>
      <td class="field first_cell">Office ID:</td>
      <td class="value">
        <%= @agent.id %>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">XML Url</td>
      <td class="value">
        <%unless @agent.status == 'inactive'%>
          <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/agents?client_id=<%=@agent.id%>&page=1')">http://api.commercialloopcrm.com.au/api/agents?client_id=<%=@agent.id%>&page=1</a>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">Access Key:</td>
      <td class="value">
        <%unless @agent.status == 'inactive'%>
          <%= @agent.access_key %>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">Private Key:</td>
      <td class="value">
        <%unless @agent.status == 'inactive'%>
          <%= @agent.private_key %>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
  </table>

<h3>Office XML</h3>
  <table cellspacing="0" cellpadding="0" class="export_settings_table full">
    <tr>
      <td class="field first_cell">Office ID:</td>
      <td class="value">
        <%= @agent.id %>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">XML Url</td>
      <td class="value">
        <%unless @agent.status == 'inactive'%>
          <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/offices?client_id=<%=@agent.id%>&page=1')">http://api.commercialloopcrm.com.au/api/offices?client_id=<%=@agent.id%>&page=1</a>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">Access Key:</td>
      <td class="value">
        <%unless @agent.status == 'inactive'%>
          <%= @agent.access_key %>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
    <tr>
      <td class="field first_cell">Private Key:</td>
      <td class="value">
        <%unless @agent.status == 'inactive'%>
          <%= @agent.private_key %>
        <%else%>
          N/a
        <%end%>
      </td>
    </tr>
  </table>
<%end%>
