<p>
  <b>Name:</b>
  <%=h @agent.name %>
</p>

<p>
  <b>Code:</b>
  <%=h @agent.code %>
</p>

<p>
  <b>Unit number:</b>
  <%=h @agent.unit_number %>
</p>

<p>
  <b>Street number:</b>
  <%=h @agent.street_number %>
</p>

<p>
  <b>Street:</b>
  <%=h @agent.street %>
</p>

<p>
  <b>Street type:</b>
  <%=h @agent.street_type %>
</p>

<p>
  <b>Suburb:</b>
  <%=h @agent.suburb %>
</p>

<p>
  <b>State:</b>
  <%=h @agent.state %>
</p>

<p>
  <b>Country:</b>
  <%=h @agent.country %>
</p>

<p>
  <b>Email:</b>
  <%=h @agent.email %>
</p>

<p>
  <b>Business phone:</b>
  <%=h @agent.business_phone %>
</p>

<p>
  <b>Afterhrs phone:</b>
  <%=h @agent.afterhrs_phone %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @agent.mobile %>
</p>

<p>
  <b>Fax number:</b>
  <%=h @agent.fax_number %>
</p>

<p>
  <b>Website:</b>
  <%=h @agent.website %>
</p>


<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
