      <div id="propertydatadiv" class="group" style="min-height:100px;height:150px;">
        <div class="set">
          <h6 class="full">Add New Extra Option <%= session[:parent] %></h6>
          <fieldset class="pf_fs5">
            <ul class="pf-ul">
              <li class="li--23"><label><span>Option Title:</span></label>
                <%= form.text_field :option_title, :class => "single" %>
              </li>
              <li class="li--23"><label><span>Order Number:</span></label>
                <%= form.text_field :option_order, :class => "single" %>
              </li>
              <%= hidden_field_tag "parent", params[:parent_id] %>
              <li class="li--23"><label><span>&nbsp;</span></label>
                <button name="btn_submit" type="submit" value="Submit">
                  <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Submit
                </button>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>