<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">List Extra Options </h6>
    <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th class="first_cell" style="background-color:#C8D2DC;">Date</th>
          <th style="background-color:#C8D2DC;">Option Title</th>
          <th style="background-color:#C8D2DC;">Order Number</th>
          <th style="background-color:#C8D2DC;">Action</th>
        </tr>
        <% unless @extra_options.blank? %>
        <% @extra_options.each do |extra_option| -%>
        <tr>
          <td class="first_cell"><%= (extra_option.created_at ? extra_option.created_at.strftime("%d-%m-%Y") : "-") %></td>
          <td class="value"><%= (extra_option.option_title ? extra_option.option_title : "-") %></td>
          <td class="value"><%= (extra_option.option_order ? extra_option.option_order : "-") %></td>
          <td class="value">
            <%= link_to "Edit", edit_agent_office_property_extra_option_path(@agent,@office,@property, extra_option) + "?parent_id=#{extra_option.extra_detail_name_id}", :method => :get %> |
            <%= link_to "Delete", agent_office_property_extra_option_path(@agent,@office, @property, extra_option) + "?parent_id=#{extra_option.extra_detail_name_id}", :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>  </td>
        </tr>
        <% end -%>
        <% end %>
   </table>
    <%= will_paginate @extra_options unless @extra_options.blank? %>
    <div class="action_button" style="border:none;">
      <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove_and_refresh();window.parent.update_options(); return false", :style =>"float:right;"%>
     </div>
  </div>
</div>