<div class="set full">
<p class="required">* Fields in bold are required</p>

<%= f.error_messages :class => 'errortext' %>

<fieldset class="fu_fs1">
                <table>
                  <tr><td colspan="2">
                    <% if @message.new_record? %>
                      <input type="hidden" name="message[recipient]" value="<%= @agent.support_contact_id %>" />
                    <% end %>
                    <p class="required">
                      <strong>Title:<span class="red_star">*</span></strong><br />
                      <%= f.text_field :title, :class => 'single' %>
                    </p>
                    </td></tr>
                  <tr>
                    <td width="10%"><p class="select_category required"><strong>Select a category:<span class="red_star">*</span></strong>&nbsp;</p></td>
                    <td><%= f.select :category_id, (current_user.blank? ? nil : developer_message_categories_select_options(current_user.developer)), :class => 'select_box' %></td>
                  </tr>
                  <tr>
                    <td width="10%"><p class="select_category required"><strong>Priority:<span class="red_star">*</span></strong>&nbsp;</p></td>
                    <td><%= f.select :priority, @priorities.map{|n, i| [n, i]}.unshift(['Please select', nil]), :class => 'select_box' %></td>
                  </tr>
                  <tr>
                    <td width="10%"><p class="select_category">Quote Required:&nbsp;</p></td>
                    <td><%= f.check_box :quote, :class => 'checkbox' %></td>
                  </tr>
                  <tr><td colspan="2">
                      <p class="required">
			<strong>Message:<span class="red_star">*</span></strong><br />
			<%= f.text_area :message, :rows => 8, :cols => 17, :class => 'area' %>
		      </p>
                    </td></tr>
                </table>
		<%= render :partial => 'messages/message_form_file', :locals => { :f => f } %>

</fieldset>
</div>

		<div class="action_button">
				<button name="postmessage" type="button" value="Post this Message" onclick ="$('#postsuploadsform').submit();">
					<img src="/images/icons/famfamfam/email.png" alt="email" width="16" height="16"/>
					Post this Message
				</button>

			<span>or&nbsp;&nbsp;</span>

		    <% link_to agent_office_files_path(@agent, @office) do %>
				<img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/>
				Cancel
			<% end %>
		</div>