<hr class="separator" />

<%= render :partial => 'back_to_messages' %>

<div class="title_block">
<h2>Edit Message</h2>
<h4><span class="lite">For any issues just create a ticket and post a message to the support team.</span></h4>
</div>

<hr class="thick" />

<div class="block help full">
	<div class="group">
	<h3>Support Team</h3>
		<div class="set quarter leader">
			<p><strong><%= @agent.support_contact.full_name unless @agent.support_contact.blank? %></strong><br />For day-to-day issues<br /><%= @agent.support_contact.phone unless @agent.support_contact.blank? %></p>
		</div>
		<div class="set quarter follower">
			<p><strong><%= @agent.upgrade_contact.full_name unless @agent.upgrade_contact.blank? %></strong><br />For upgrades and additions<br /><%= @agent.upgrade_contact.phone unless @agent.upgrade_contact.blank? %></p>
		</div>
	<div class="clearer"></div>
	</div>
</div>


<div id="fileuploaddiv" class="block files full">
	
<% form_for :message, :url => agent_message_path(@agent, @message), :html => { :method => :put, :class => "postuploadform full", :id => "postsuploadsform", :multipart => true } do |f| %>

<%= render :partial => 'form', :locals => { :f => f } %>

<% end %>
</div>