<hr class="separator" />

<div id="tabulardiv" class="block files threequarters">

<div class="title_block block">
<h2><%= @title %></h2>
<h4 class="lite">Messages created by members of your agency.</h4>
</div>

<div class="group">
<% if @messages.blank? -%>
	<p>You don't have any messages yet.</p>
<% else -%>
	<%= render :partial => 'message', :collection => @messages %>
  <%= will_paginate @messages %>
<% end -%>

<div class="clearer"></div>
</div><!-- end first date .group -->

	<div class="action_button">
		<span class="user_message"><%= unread_messages_icon %>Unread</span>
		<span class="user_message"><%= read_messages_icon %>Read</span>
    <span class="archived_message"><%= read_n_replied_messages_icon %>Read & Replied</span>
	</div>


</div><!-- end #tabulardiv -->

<div id="sidebar" class="block files quarter">
<div class="upload_button">
    <% if @agent.developer.support %>
      <a href="http://helpdesk.agentpoint.com.au/" class="btn" target="_blank">
        Create a new message
      </a>
    <% else %>
      <%= link_to 'Create a new message', new_agent_message_path(@agent), :class => 'btn' %>
    <% end %>
</div>

<%= render :partial => 'messages/filter_form' %>

</div><!-- end #sidebar -->