<hr class="separator" />


<%= render :partial => 'back_to_messages' %>

<div class="title_block">
<h2>Post a New Message</h2>
<h4><span class="lite">For any issues just create a ticket and post a message to the support team.</span></h4>
</div>

<div id="fileuploaddiv" class="block files full">
	
<% form_for :message, :url => agent_messages_path(@agent), :html => { :class => "postuploadform full", :id => "postsuploadsform", :multipart => true } do |f| %>

<%= render :partial => 'form', :locals => { :f => f } %>

<% end %>
</div>