<hr class="separator" />

<div id="tabulardiv" class="block files threequarters">

<div class="title_block block">
<h2><%= h @message.title %></h2>
<p class="float-left">
	<%= @message.created_at.utc.to_s(:brief) %> by
	<%= h @message.sender.full_name %> -
	
	<strong>
	<% if AgentMessage === @message -%>
		<%= h @message.sender.developer.name %>
	<% else -%>
		<%= @message.sender.office.full_name %> (Office Id: <%= link_to @message.sender.office.id, edit_developer_agent_office_path(@message.sender.developer, @message.sender.office.agent, @message.sender.office), :target => '_blank' %>)
	<% end -%>
	</strong>
	&nbsp;&nbsp;|&nbsp;&nbsp;
	Filed in: <strong><%= h @message.category.name %></strong>
	
	<% if @message.editable_by?(current_user) -%>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<%= link_to 'Edit', edit_agent_message_path(@agent, @message) %>
	<% end -%>
	
	&nbsp;&nbsp;|&nbsp;&nbsp;
	
	<%= render :partial => 'messages/archive_icon', :locals => { :msg => @message } %>
</p>
<%= render :partial => 'back_to_messages' %>
<div class="clearer"></div>
</div>

<%= render :partial => 'messages/archive_request_dialog', :locals => { :msg => @message } %>

<%= render :partial => 'messages/messsage_detail' %>

</div><!-- end #tabulardiv -->

<div id="sidebar" class="block files quarter">
<div class="upload_button">
	<%= link_to 'Create a new message', new_agent_message_path(@agent), :class => 'btn' %>
</div>


</div><!-- end #sidebar -->
