<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop Crm Agents <%= @title %></title>
  </head>
  <%= javascript_include_tag 'jquery','jrails', 'jrails.autocomplete', 'jquery.suggest' %>
  <script type="text/javascript">
    <% if session[:close_popup] == true %>
      <%= session[:close_popup] = false %>
      window.parent.tb_remove();
      window.parent.location.reload();
    <% end %>
    $(document).ready(function(){
      $(".datepicker").datepicker({
      dateFormat: 'mm/dd/yy'
      });
      <% ck = @agent_contact.errors.on :check_error unless @agent_contact.nil? %>
      <% unless ck == "duplicate" %>
        $(".contact").hide();
      <% end %>
    });
  </script>
  <%= javascript_include_tag 'ui/ui.datepicker', :cache =>'base_datepicker'%>
  <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
  <body>
  <div id="clientdiv" class="block accounts full"><br/>
      <%#= f.error_messages :class => 'errortext' %>

     <div class="block form follower" style="padding-right:5px;">
      <div id="propertydatadiv" class="group">
        <div class="set">
          <h6 class="full">Transaction Details </h6>
          <fieldset class="pf_fs5">
            <ul class="pf-ul">
              <li class="li--23"><label><span>Purchaser:</span></label>
                <%= text_field_tag :contact, nil, :class =>'single', :style => "width:56%;" %>
              </li>
              <li class="li--23"><label><span>Amount:</span></label>
                <%= text_field_tag :sale_price, nil, :class => 'single' %>
              </li>
              <li class="li--23"><label><span>Sold Date:</span></label>
                <%= text_field_tag :date_of_sale, nil, :class => 'single datepicker' %>
              </li>
              <li class="li--23"><label><span>&nbsp;</span></label>
                <button name="btn_submit" type="submit" value="Submit">
                  <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Submit
                </button>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>
       <div id="propertydatadiv" class="group">
        <div class="action_button" style="border:none;">
          <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.location.reload(); return false", :style =>"float:right;"%>
        </div>
       </div>
     </div>
   </div>
</body>
</html>
<script type="text/javascript">
  function add_contact(){
    $(".contact").show();
    $(".formdiv").height(550);
    $("#remove_contact").show();
    $("#add_contact").hide();
    $("#offer_name").attr('disabled', 'disabled');
  }

  function remove_contact(){
    $(".contact").hide();
    $(".formdiv").height(150);
    $("#add_contact").show();
    $("#remove_contact").hide();
    $("#offer_name").removeAttr('disabled');
  }
</script>
<% ck = @agent_contact.errors.on :check_error unless @agent_contact.nil? %>
<% if ck == "duplicate" %>
  <script type="text/javascript">
     var answer = confirm ("There already exists a user in the database with this First Name, Last Name and Email/Telephone. Would you like to update that contact with this data?")
      if(answer){
        $("#form_new").attr('action', "<%= update_duplicate_offer_path(@agent,@office,@property)  %> ");
        $("#form_new").submit();
      }else{
        add_contact();
      }
  </script>
<% end %>
