<% if file.present? %>
  <div class="tabularrow set">
    <div class="rowicon">
      <%= link_to content_type_image(file), agent_office_file_path(@agent,@office,file) %>
    </div>

    <div class="rowblock">
      <h3>
        <%= link_to file.filename, agent_office_file_path(@agent,@office,file) %>
      </h3>
      <% if file.updated_at.present? && file.attachable.present? %>
        <p class="rowdate">
          <strong><%= file.updated_at.strftime("%d %B, %Y") %></strong> by <strong><%= file.attachable.full_name %></strong>
        </p>
      <% end %>
      <p class="rowdescr">
        <%= file.description.blank? ? 'No description' : file.description %>
      </p>
      <p class="rowmetadata">
        <%= file.private? ? 'Private' : 'Shared' %>&nbsp;&nbsp;|&nbsp;&nbsp;
        <%= number_to_human_size file.size %>&nbsp;&nbsp;|&nbsp;&nbsp;
        <strong class="filecategory">Filed in:</strong>
        <%= link_to file.category, agent_office_files_path(@agent,@office, :category => file.category) %>&nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Upload a new version', edit_agent_office_file_path(@agent,@office,file) %>&nbsp;&nbsp;|&nbsp;&nbsp;
        <% link_to agent_office_file_path(@agent,@office,file), :class => 'delete_btn', :method => :delete, :confirm => 'Are you sure?' do %>
          <img src="/images/delete.gif" alt="delete" />
        <% end %>
      </p>
    </div>
    <div class="clearer"></div>
  </div>
<%end%>