<!-- NOTE TO DEVELOPER: This is the same file for the Files main menu item as well as the File Storage subnav item under Res Sales, Res Rentals, etc. I have included the header for the Files main menu item, but please note that if the user is in Res Sales (for example), the navigation items for that page should be present. Also, please note that the file categories will be different depending on where it's linked. I have included some starter categories below for both situations. -->

<div id="tabulardiv" class="block files threequarters">
  <div class="title_block">
    <h2><%= params[:category].blank? ? 'Files' : params[:category] %></h2>
    <h4><span class="lite">Share files for this project with other members of your agency. You will also load the header, footer and side images for your Ecampaigns, stock lists and brochures in this section.</span></h4>
  </div>

  <div id="file_listing" class="group">

    <%= render :partial => 'file', :collection => @files %>

    <div class="clearer"></div>
  </div><!-- end first date .group -->
</div><!-- end #tabulardiv -->

<div id="sidebar" class="block files quarter">
  <div class="upload_button">
    <%= link_to 'Upload a file', new_agent_office_file_path(@agent,@office), :class => 'btn' %>
  </div>

  <div class="sideblock">
    <h3>File Storage</h3>
    <p>You're using <%= @disk_usage_percent %> of your <%= User::DISK_QUOTA %> GB limit.</p>
  </div>

  <div class="sideblock">
  <h3>Sort</h3>
  <ul class="filesortby">
    <li class="li--2">
      <input id="sortatoz" name="sortby" type="radio" value="atoz" onclick="update_file_listing('order=atoz')" />
      <label><span>A to Z</span></label>
    </li>
    <li class="li--2">
      <input id="createdby" name="sortby" type="radio" value="createdby" onclick="update_file_listing('order=createdby')" />
      <label><span>Created by</span></label>
    </li>
    <li class="li--1">
      <input id="sortydatetime" name="sortby" type="radio" value="datetime" checked="checked" onclick="update_file_listing('order=datetime')" />
      <label><span>Date and Time</span></label>
    </li>
    <li class="li--3">
      <input id="sortfilesize" name="sortby" type="radio" value="filesize" onclick="update_file_listing('order=filesize')" />
      <label><span>File Size</span></label>
    </li>
    <li class="li--4">
      <input id="sortprivateshared" name="sortby" type="radio" value="privateshared" onclick="update_file_listing('order=privateshared')" />
      <label><span>Private/Shared</span></label>
    </li>
  </ul>
  <!-- NOTE TO DEVELOPER: Here are some sample sort categories if this file is linked from the Res Sales page:
  <ul class="filesortby">
          <li class="li-2"><input id="sortatoz" name="sortby" type="radio" value="atoz" /> <label><span>A to Z</span></label>
          <li class="li-1"><input id="sortydatetime" name="sortby" type="radio" value="datetime" checked="checked" /> <label><span>Date and Time</span></label>
          <li class="li-3"><input id="sortfilesize" name="sortby" type="radio" value="filesize" /> <label><span>File Size</span></label>
          <li class="li-2"><input id="createdby" name="sortby" type="radio" value="createdby" /> <label><span>File Type</span></label>
          <li class="li-4"><input id="sortprivateshared" name="sortby" type="radio" value="privateshared" /> <label><span>Uploaded by</span></label>
  </ul>
   -->

  </div>

  <div class="sideblock">
    <h3 class="full">Category<small class="formgrouplinks">
    <%= link_to "Add", new_agent_office_user_file_category_path(@agent,@office) %> | <%= link_to 'Edit', agent_office_user_file_categories_path(@agent,@office) %></a></small></h3>
    <ul class="filecategorieslist">
      <% for category in @categories %>
        <li><%= link_to category, '#', :title => category, :onclick => "update_file_listing('category=#{category}')" %></li>
      <% end %>
    </ul>
    <!-- NOTE TO DEVELOPER: Here are some sample categories if this file is linked from the Res Sales page:
    <ul class="filecategorieslist">
            <li><a href="#" title="">Client Contact</a></li>
            <li><a href="#" title="">Photos</a></li>
            <li><a href="#" title="">Property Documents</a></li>
            <li><a href="#" title="">Property Details</a></li>
            <li><a href="#" title="">Videos</a></li>
    </ul>
     -->
  </div>
</div><!-- end #sidebar -->

<% javascript_tag do %>
  function update_file_listing(param) {
    $.ajax({
      url: "<%= agent_office_files_path(@agent,@office) %>.html",
      data: param,
      success: function(html){
        $('#file_listing').html(html);
      }
    });
  }
<% end %>
