<li class="block transparent third leader agentuser" id="agentuser_<%= card.id %>">
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
  <script type="text/javascript">
    function confirm_delete(fullname,agent_id,office_id,cid){
      var Auth = encodeURIComponent(AUTH_TOKEN);
      $(".delete_"+cid).hide("fast");
      $(".delete_"+cid).before("<img style='display: none;' src='/images/search-loader.gif' class='loader_"+cid+"' alt='Search-loader'>");
      $(".loader_"+cid).show();

      jQuery.ajax({
        url : "/agents/"+agent_id+"/offices/"+office_id+"/agent_users/check_user?id="+cid,
        type : 'get',
        timeout : 3000,
        tryCount : 0,
        retryLimit : 30,
        success :
          function(data) {
            var status = eval(data);
            if(status == 0){
              $(".loader_"+cid).remove();
              $(".delete_"+cid).removeAttr("style");
              alert("This user can not be deleted because they are the Primary user belonging to this office");
            }else{
              if (confirm("All properties assigned to this user will be allocated to the Level1 User for this office")) {
                jQuery.ajax({
                  type: "DELETE",
                  url: "/agents/"+agent_id+"/offices/"+office_id+"/agent_users/"+cid,
                  data: "id=<%=card.id%>"+"&authenticity_token=" + encodeURIComponent(Auth),
                  dataType:"script",
                  success: function(){
                    $(".loader_"+cid).remove();
                    $(".delete_"+cid).removeAttr("style");
                    $("#agentuser_"+cid).remove();
                  }
                });
              }else{
                $(".loader_"+cid).remove();
                $(".delete_"+cid).removeAttr("style");
              };
            };
          },
        error : function(xhr, textStatus, errorThrown ) {
          if (textStatus == 'timeout') {
            this.tryCount++;
            if (this.tryCount <= this.retryLimit) {
              $.ajax(this);
              return;
            }
            return;
          }
          if (xhr.status == 500) {
            alert('There seems to be a server problem, please try again later.');
          } else {
            alert('There was a problem, please try again later.');
          }
        }
      });

      return false;
    };
  </script>
  <div class="group">
    <table class="team_info_table" cellpadding="0" cellspacing="0">
      <tr>
        <td class="team_info_cell">
          <table cellpadding="0" cellspacing="0">
            <tr>
              <th class="position"><%= card.position %></th>
              <th></th>
            </tr>
            <tr>
              <td class="field first_cell">Name:</td>
              <td class="value"><%=h card.full_name %></td>
            </tr>
            <tr>
              <td class="field first_cell">Role:</td>
              <td class="value"><%=h card.role %></td>
            </tr>
            <tr>
              <td class="field first_cell">Email:</td>
              <td class="value"><%=h card.email %></td>
            </tr>
            <tr>
              <td class="field first_cell">Mobile:</td>
              <td class="value"><%=h card.mobile %></td>
            </tr>
            <tr>
              <td colspan="2" class="first_cell editdelete"><p>
                  <span class="access_level access_level3">Level <%= card.access_level %></span> |
                  <span class="edit_user"><%= link_to 'Edit User', edit_agent_office_agent_user_path(@agent,@office,card) %></span> |
                  <span class="delete"><%= link_to 'Delete', agent_office_agent_user_path(@agent,@office,card),:onclick => "confirm_delete(\"#{card.full_name}\",\"#{@agent.id}\",\"#{@office.id}\",\"#{card.id}\");return false;",:class=>"delete_#{card.id}" %></span>
                </p></td>
            </tr>
          </table>
        </td>
        <!--    <td class="image_portrait">
              <#%# link_to "#", :rel => "lightbox" do %>
                <#%# photos = card.portrait_image %>
                <#%#unless photos.blank?%>
                  <#%# photos.each do |photo| %>
                    <#%# if photo.position == 1 %>
                      <img height="125" width="100" src="<#%#= photo.public_filename %>" class="team_photo" alt="<#%#= photo.filename %>"/>
                    <#%#end%>
                  <#%# end %>
                <#%#else%>
                  <img height="125" width="100" src="/images/default_avatar.jpg" class="team_photo" alt="default_avatar.jpg"/>
                <#%#end%>
      <#%# user_photo card, PortraitImage %>
              <#%# end %>
            </td> -->
      </tr>
    </table>
  </div>
  <div class="clearer"></div>
</li>
