<script type="text/javascript">
  function add_office(){
    $(".office").show();
    $("#remove_office").show();
    $("#add_office").hide();
    $("#agent_user_conjunctional_id").attr('disabled', 'disabled');
  }

  function remove_office(){
    $(".office").hide();
    $("#add_office").show();
    $("#remove_office").hide();
    $("#agent_user_conjunctional_id").removeAttr('disabled');
  }
</script>
<style type="text/css">
  #memberdetailsdiv select{width:315px;}
</style>
<li class="li--1 required">
  <label><span>First Name:<span class="red_star">*</span></span></label>
  <%= f.text_field :first_name, :class => 'single fldrequired' %>
  <%= f.hidden_field(:password,:value => "123456") %>
  <%= f.hidden_field(:password_confirmation,:value => "123456") %>
  <%= f.hidden_field(:notification,:value => true) %>
  <%= f.hidden_field(:group,:value => "Other") %>
</li>
<li class="li--2 required">
  <label><span>Last Name:<span class="red_star">*</span></span></label>
  <%= f.text_field :last_name, :class => 'single fldrequired' %>
</li>
<li class="li--5">
  <label><span>Phone:</span></label>
  <%= f.text_field :phone, :class => 'single fldrequired' %>
</li>
<li class="li--7 required">
  <label><span>Email:<span class="red_star">*</span></span></label>
  <%= f.text_field :email, :class => 'single fldrequired' %>
</li>
<li class="li--7 required conjunctional">
  <span class="threequarters" style="width:100%;">
    <label><span>Office Name:<span class="red_star">*</span></span></label>
    <%= f.select :conjunctional_id,  @offices_agent, {:selected =>@agent_user.conjunctional_id}, {:class => 'select_box'} %>
    <!--<a href="javascript:add_office()" id="add_office">&nbsp;Add</a>
    <a href="javascript:remove_office()" id="remove_office" style="display:none;">&nbsp;Remove</a>-->
  </span>
</li>
<li class="li--5 office required" style="display:none;">
  <label><span>Office Name:<span class="red_star">*</span></span></label>
  <%= f.text_field :conjunctional_office, :class => 'single fldrequired' %>
</li>
<li class="li--7 office required" style="display:none;">
  <label><span>REA agent Id (office_id):</span></label>
  <%= f.text_field :conjunctional_rea_agent_id, :class => 'single fldrequired' %>
</li>