<tr class="alt">
  <td class="value first_cell"><%= conj.full_name %></td>
  <td class="value"><%= (conj.conjunctional.blank? ? "" : conj.conjunctional.conjunctional_office_name) %></td>
  <td class="value"><%= conj.email %></td>
  <td class="value"><%= conj.phone %></td>
  <td class="value">
    <% if check_user_office(@office, conj) %>
      <%= link_to "Edit", edit_conjunctional_agent_office_agent_user_path(@agent,@office,conj), {:style => "color:blue;"} %>
    <% else %>
      Edit
    <% end %>
  </td>
</tr>