<div id="descriptiondiv" class="group">
  <h4>Description</h4>
  <div class="set">
    <% form_for :agent_user, @agent_user, :url => agent_office_agent_user_path(@agent,@office,@agent_user), :html => {:method => :put, :class => 'member_details_form', :id => 'member_description_form'} do |f| %>
      <fieldset class="pf_fs2">
        <!--<#%= f.text_area :description, :class => 'area', :rows => '50', :cols => '20' %>-->
        <%= f.text_area :description, :class => 'area', :rows => '50', :cols => '20' %>
        <!--<#%= f.cktext_area(:description, :rows => "50", :cols => "20", :toolbar => "Commercial Loop CRM",:skin =>"v2",:width => "auto",:height =>"480px") %>-->
      </fieldset>
      <div class="action_button">
        <button name="update" type="button" value="Update" onclick="$('#member_description_form').submit()">
          <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
          Update
        </button>
      </div>
    <% end %>
  </div>
</div>
