<div id="photosdiv" class="group">
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
  <script type="text/javascript">
    function deleting_photo(agent_id,office_id,agent_user_id,btype,ptype,position,img_width,img_height){
      $("#"+btype+position+"_delete").hide("fast");
      $("#"+btype+position+"_delete").before("<img style='display: none;' src='/images/search-loader.gif' class='loader_"+btype+position+"' alt='Search-loader'>");
      $(".loader_"+btype+position).show();
      $.get("/agents/"+agent_id+"/offices/"+office_id+"/agent_users/delete_photo?type="+ptype+"&position="+position+"&agent_user_id="+agent_user_id, function(data) {
        var status = eval(data);
        if(status == "1"){
          $("#"+btype+position+"_image").before($("<img height="+img_height+" width="+img_width+" src='/images/default_avatar.jpg' class='team_photo' alt='default_avatar.jpg' />"));
          $("#"+btype+position+"_image").remove();
          $("#"+btype+position+"_dt_btn").hide();
          $("#"+btype+position+"_up_btn").show();
        }else{
          if(status == "-1"){
            alert("Failed to locate photo");
          }else{
            alert("Failed to delete photo");
          }
        }
        $(".loader_"+btype+position).remove();
        $("#"+btype+position+"_delete").show();
      });
      return false;
    };
  </script>
  <h4>Photos</h4>
  <div class="set">
    <p><strong>Landscape Image:</strong> Simply click the browse button to locate the image on your computer or disc drive.</p>
      <div class="pack file_button">
        <p>Size: 250px X 125px</p>
      </div>
      <div class="file_show">
        <%unless @img_1.blank? %>
          <img height="65" width="125" src="<%= @img_1.public_filename %>" class="team_photo" alt="<%= @img_1.filename %>" id="landscape1_image"/>
        <%else%>
          <img height="65" width="125" src="/images/default_avatar.jpg" class="team_photo" alt="default_avatar.jpg" />
        <%end%>
      </div>
      <div class="action_button" id="landscape1_action">
        <div id="landscape1_up_btn" style="<%= 'display:none;' unless @img_1.nil? %>">
        <button name="photosubmit" type="button" value="Upload Photos" onclick="window.location='<%= agent_office_agent_user_path(@agent, @office, @agent_user)+"/load_photo?type_image=landscape_image&position=1" %>'">
          <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/> Upload Photo
        </button>
        </div>
        <div id="landscape1_dt_btn" style="<%= 'display:none;' if @img_1.nil? %>">
        <button name="photodelete" type="button" value="Delete Photos" id="landscape1_delete" onclick="deleting_photo('<%=@agent.id%>','<%=@office.id%>','<%=@agent_user.id%>','landscape','landscape_image','1','125','65');return false;">
          <img src="/images/icons/famfamfam/cancel.png" alt="picture_add" width="16" height="16"/> Delete Photo
        </button>
        </div>
      </div>
      <div class="pack file_button">
        <p>Size: 500px X 250px</p>
      </div>
      <div class="file_show">
        <%unless @img_2.blank? %>
          <img height="125" width="250" src="<%= @img_2.public_filename %>" class="team_photo" alt="<%= @img_2.filename %>" id="landscape2_image"/>
        <%else%>
          <img height="125" width="250" src="/images/default_avatar.jpg" class="team_photo" alt="default_avatar.jpg"/>
        <%end%>
      </div>
      <div class="action_button" id="landscape2_action">
        <div id="landscape2_up_btn" style="<%= 'display:none;' unless @img_2.nil? %>">
        <button name="photosubmit" type="button" value="Upload Photos" onclick="window.location='<%= agent_office_agent_user_path(@agent, @office, @agent_user)+"/load_photo?type_image=landscape_image&position=2" %>'">
          <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/> Upload Photo
        </button>
        </div>
        <div id="landscape2_dt_btn" style="<%= 'display:none;' if @img_2.nil? %>">
        <button name="photodelete" type="button" value="Delete Photos" id="landscape2_delete" onclick="deleting_photo('<%=@agent.id%>','<%=@office.id%>','<%=@agent_user.id%>','landscape','landscape_image','2','250','125');return false;">
          <img src="/images/icons/famfamfam/cancel.png" alt="picture_add" width="16" height="16"/> Delete Photo
        </button>
        </div>
      </div>
  </div>

  <div class="set">
    <p><strong>Portrait Image:</strong> Simply click the browse button to locate the image on your computer or disc drive.</p>
      <div class="pack file_button">
        <p>Size: 100px X 125px</p>
      </div>
      <div class="file_show">
        <% unless @img_portrait_1.blank? %>
          <img height="65" width="50" src="<%= @img_portrait_1.public_filename %>" class="team_photo" alt="<%= @img_portrait_1.filename %>" id="portrait1_image"/>
        <%else%>
          <img height="65" width="50" src="/images/default_avatar.jpg" class="team_photo" alt="default_avatar.jpg"/>
        <%end%>
      </div>
      <div class="action_button" id="portrait1_action">
        <div id="portrait1_up_btn" style="<%= 'display:none;' unless @img_portrait_1.nil? %>">
        <button name="photosubmit" type="button" value="Upload Photos" onclick="window.location='<%= agent_office_agent_user_path(@agent, @office, @agent_user)+"/load_photo?type_image=portrait_image&position=1" %>'">
          <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/> Upload Photo
        </button>
        </div>
        <div id="portrait1_dt_btn" style="<%= 'display:none;' if @img_portrait_1.nil? %>">
        <button name="photodelete" type="button" value="Delete Photos" id="portrait1_delete" onclick="deleting_photo('<%=@agent.id%>','<%=@office.id%>','<%=@agent_user.id%>','portrait','portrait_image','1','50','65');return false;">
          <img src="/images/icons/famfamfam/cancel.png" alt="picture_add" width="16" height="16"/> Delete Photo
        </button>
        </div>
      </div>
      <div class="pack file_button">
        <p>Size: 300px X 375px</p>
      </div>
      <div class="file_show">
        <%unless @img_portrait_2.blank? %>
          <img height="125" width="100" src="<%= @img_portrait_2.public_filename %>" class="team_photo" alt="<%= @img_portrait_2.filename %>" id="portrait2_image"/>
        <%else%>
          <img height="125" width="100" src="/images/default_avatar.jpg" class="team_photo" alt="default_avatar.jpg"/>
        <%end%>
      </div>
      <div class="action_button" id="portrait2_action">
        <div id="portrait2_up_btn" style="<%= 'display:none;' unless @img_portrait_2.nil? %>">
        <button name="photosubmit" type="button" value="Upload Photos" onclick="window.location='<%= agent_office_agent_user_path(@agent, @office, @agent_user)+"/load_photo?type_image=portrait_image&position=2" %>'">
          <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/> Upload Photo
        </button>
        </div>
        <div id="portrait2_dt_btn" style="<%= 'display:none;' if @img_portrait_2.nil? %>">
        <button name="photodelete" type="button" value="Delete Photos" id="portrait2_delete" onclick="deleting_photo('<%=@agent.id%>','<%=@office.id%>','<%=@agent_user.id%>','portrait','portrait_image','2','100','125');return false;">
          <img src="/images/icons/famfamfam/cancel.png" alt="picture_add" width="16" height="16"/> Delete Photo
        </button>
        </div>
      </div>
  </div>
</div>
