<tr class="alt">
  <td class="field first_cell"><%= link_to pref.full_name, edit_agent_office_agent_user_path(@agent,@office,pref), {:style => "color:blue;"} %></td>
  <td class="value">
    <%= radio_button_tag "levels[#{pref.id}]", 1, (pref.access_level == 1),  :class => 'level1' %>
  </td>
  <td class="value">
    <%= radio_button_tag "levels[#{pref.id}]", 2, (pref.access_level == 2),  :class => 'level2' %>
  </td>
  <td class="value">
    <%= radio_button_tag "levels[#{pref.id}]", 3, (pref.access_level == 3),  :class => 'level3' %>
  </td>
  <% if @office.property_owner_access? %>
    <td class="value">
      <%= radio_button_tag "levels[#{pref.id}]", 4, (pref.access_level == 4),  :class => 'level4' %>
    </td>
  <%end%>
</tr>
