<h2>Setup</h2>
<div class="sub-opt-nav" style="margin-top:10px">
  <div class="sub2nav">
    <div class="optnav"><%= link_to 'Sharing Stock', agent_office_sharing_stocks_path(@agent,current_office), :title => 'Sharing Stock' %></div>
  </div>
</div>

<hr class="separator" />
