<script>
function cannot_delete(){
  alert("This user can not be deleted because they are the Primary user belonging to this office")
}
</script>
<div id="teamadddiv" class="block full">
  <div id="memdetailsdescrdiv" class="block transparent third leader">
    <%= render :partial => 'edit_detail' %>
    <%= render :partial => 'edit_description' %>
  </div>

  <div id="photovideoaudiodiv" class="block transparent third middle">
    <%= render :partial => 'edit_photo' %>
  </div>

  <div id="socialtestlinkdiv" class="block transparent third follower">
    <% form_for :agent_user, @agent_user, :url => agent_office_agent_user_path(@agent,@office,@agent_user), :html => {:method => :put, :class => 'social_details_form', :id => 'social_details_form'} do |f| %>
      <%= f.error_messages :class => 'errortext' %>
      <div id="socialdiv">
        <div id="facebookdiv" class="group">
          <div class="float-right"><img src="/images/facebook.png" alt="Facebook" /></div>
          <p>Let users follow you on Facebook</p>
          <p><span>www.facebook.com/&nbsp;</span><span><%= f.text_field :facebook_username, :class => 'single', :style =>"width:200px" %></span></p>
        </div>
        <div id="twitterdiv" class="group">
          <div class="float-right"><img src="/images/twitter.png" alt="Twitter" /></div>
          <p>Let users follow you on Twitter</p>
          <p><span>www.twitter.com/&nbsp;</span><span><%= f.text_field :twitter_username, :class => 'single', :style =>"width:200px" %></span></p>
        </div>
        <div id="linkedindiv" class="group">
          <div class="float-right"><img src="/images/linkedin.png" alt="Linkedin" /></div>
          <p>Let users follow you on Linkedin</p>
          <p><span>www.linkedin.com/&nbsp;</span><span><%= f.text_field :linkedin_username, :class => 'single', :style =>"width:200px" %></span></p>
        </div>
        <div class="action_button">
          <button name="update" type="button" value="Update" onclick="$('#social_details_form').submit()">
            <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
            Update
          </button>
        </div>
      <% end %>
    </div>

    <div id="twitterdiv" class="group">
    <div class="float-right">&nbsp;</div>
    <h4>Agent Media</h4>
    <% form_for :agent_user, :url => agent_office_agent_user_path(@agent,@office,@agent_user), :html => {:multipart => true, :method => :put, :class => 'member_details_form', :id => 'audio'} do |f| %>
       <table>
         <tr><td style="width:90px;border-bottom:none;">Video Url:</td><td style="border-bottom:none;"><%= f.text_field :video_url, :class => 'single', :style =>"width:200px" %></td></tr>
         <tr><td style="width:90px;border-bottom:none;">Video Embed code:</td><td style="border-bottom:none;"><%= f.text_field :video_code, :class => 'single', :style =>"width:200px" %></td></tr>
         <tr><td style="width:90px;border-bottom:none;">Audio:</td><td style="border-bottom:none;"><%= f.file_field :uploaded_data, :class => 'single', :style =>"width:200px", :size => '25'%></td></tr>
       </table>
      <p>Your Current Audio file:  <a href='#'><%= @audio.filename unless @audio.blank? %></a></p>
      <table><tr><td style="width:90px;border-bottom:none;">Website URL:</td><td style="border-bottom:none;"><%= f.text_field :website_url, :class => 'single', :style =>"width:200px" %></td></tr></table>
      <div class="action_button">
        <button name="photosubmit" type="button" value="Update" onclick="$('#audio').submit();">
          <img src="/images/icons/famfamfam/pencil.png" alt="picture_add" width="16" height="16"/> Update
        </button>
      </div>
     </div>
    <% end %>

    <div id="twitterdiv" class="group">
    <div class="float-right"><img src="/images/vcard.jpg" alt="vcard" height=80 width=80/></div>
    <p>Share your Vcard with users</p>
    <% form_for :vcard, :url => agent_office_agent_user_path(@agent,@office,@agent_user), :html => {:multipart => true, :method => :put, :class => 'member_details_form', :id => 'vcard'} do |f| %>
        <%= f.file_field :uploaded_data, :class => 'single', :style =>"width:200px", :size => '25'%>
    <p>Your Current Vcard:  <a href='#'><%= @vcard.filename unless @vcard.blank? %></a></p>
      <div class="action_button">
        <button name="photosubmit" type="button" value="Update" onclick="$('#vcard').submit();">
          <img src="/images/icons/famfamfam/pencil.png" alt="picture_add" width="16" height="16"/> Update
        </button>
      </div>
     </div>
    <% end %>

    <div id="testlinksdiv" class="group">
      <div id="testimonialsdiv" class="set">
        <h4 class="full">Testimonials <small class="formgrouplinks"><%= link_to "Add New", new_agent_office_testimonial_path(@agent, @office, :height => 400, :width => 400, :come_from => request.request_uri, :agent_user_id => @agent_user.id), :class => 'thickbox' %></small></h4>
        <table class="testimonials_table" cellpadding="0" cellspacing="0">
          <% @agent_user.testimonials.each do |tm| %>
            <tr id="testimonial_<%= tm.id %>" >
              <td class="first_cell"><%= tm.name %></td>
              <td><%= link_to 'Edit', open_agent_office_testimonials_path(@agent, @office, :id=>tm.id, :height => 400, :width => 400, :come_from => request.request_uri), :class => 'thickbox' %></td>
              <td><%= link_to_function image_tag("/images/delete.gif"), "destroyWithAjax('#{agent_office_testimonial_path(@agent, @office, tm)}')", :class => 'delete_btn' %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="action_button">
      <% if @can_delete == true %>
       <%= link_to "Delete Team Member", agent_office_agent_user_path(@agent,@office,:to_index => "1"),:confirm=>"Are you sure? All properties assigned to this user will be allocated to the Level1 User for this office",:method=>:delete ,:style =>"float:right;" if params[:action]=="edit" || params[:action]=="update"%>
      <% else %>
       <%= link_to "Delete Team Member", "#",:onclick => "cannot_delete()",:style =>"float:right;" if params[:action]=="edit" || params[:action]=="update"%> 
      <% end %>
    </div>

  </div><!-- end #socialtestlinkdiv MIDDLE BLOCK -->
</div><!-- end #teamadddiv -->
