<div class="block help full">
  <div class="title_block threequarters leader">
    <h2>Team Management</h2>
    <h4><span class="lite">To change the team order click on a team member and move it to where you would like them to be positioned.</span></h4>
  </div>
</div>

<div class="paging_button">
  <%= will_paginate @agent_users_paginate unless @agent_users_paginate.blank?%>
  <div class="clearer"></div>
</div>
<div>
  <ul id="agentusers" class="block full">
    <%= render :partial => 'card_group', :collection => @agent_users %>
  </ul>
</div>
<script type="text/javascript">
  $(function() {
    $("#agentusers").sortable({
      opacity: 0.6,
      cursor: 'move', update: function() {
        var order = $(this).sortable("serialize");
<% page = params[:page].present? ? "?page=#{params[:page]}" : "" %>
        $.post("<%= agent_office_agent_users_path(@agent,@office) + "/sort_users" + page %>", order, function(theResponse){
          update_orders('agentuser');
        });
      }
    });
  });
</script>
<style>
  .paging_button{margin-bottom:10px;}
  .paging_button a{
    width:auto;
    background-color: #cde9f8;
    margin:0 7px 0 0;
    padding:4px 10px 3px 7px; /* IE6 */
    border:1px solid #0e7fc7; /* 4c96bd */
    float:left;
    display:block;
    overflow:visible;
    text-decoration:none;
    font-weight:bold;
    color:#28323c;
    cursor:pointer;
  }
  .paging_button span {background-color: #f0f0f0;border:1px solid #0e7fc7;padding:4px 10px 3px 7px; margin: 2px; float: left; font-weight:bold; }
  .paging_button a { margin: 2px; }
</style>
