<style type="text/css">

</style>
<div id="teamadddiv" class="block full">
  <div class="box">
    <h2>Select a file from your computer</h2>
    <p>You can upload any size image file from your hard drive. We will automatically resize large images so you may upload the best quality version you have.<br/>We recommend you load an image which is equal to or larger than the size you are planning to end up with.</p>
    <p>You will have a chance to crop this image in the next step.</p>
    <% form_for :formimage, :url => load_photo_agent_office_agent_user_path(@agent,@office,@agent_user), :html => {:multipart => true, :method => :put, :class => 'member_details_form', :id => 'photoslandscapeform_1'} do |f| %>
    <p>
      <%= check_box_tag :no_crop %> Don't crop and just save, preserving original photo size.
    </p>
    <p>
       <label for="gravatar_file">File:</label>
       <%= f.file_field :uploaded_data %>
       <%= f.hidden_field :type_image, :value=>@type %>
       <%= f.hidden_field :position, :value=>@position %>
    </p>
    <p class="label_align">
      <input type="submit" class="button" name="commit" value="Next"/>
      <a class="button-secondary" href="<%= agent_office_agent_user_path(@agent, @office, @agent_user) %>">Cancel</a>
    </p>
    <% end %>
  </div>
</div><!-- end #teamadddiv -->
