<div id="teamadddiv" class="block full">
  <% form_for :agent_user, @agent_user, :url => agent_office_agent_users_path(@agent,@office), :html => {:class => 'member_details_form', :id => 'member_details_form'} do |f| %>

    <%= f.error_messages :class => 'errortext' %>

    <div id="memdetailsdescrdiv" class="block transparent third leader">
      <div id="memberdetailsdiv" class="group">
        <h4 class="full">Member Details <small class="formgrouplinks">* Fields in bold are required.</small></h4>
        <div class="set">
          <fieldset class="pf_fs1">
            <ul class="pf-ul">
              <li class="li--1 required">
                <label><span>First Name:<span class="red_star">*</span></span></label>
                <%= f.text_field :first_name, :class => 'single fldrequired' %>
              </li>
              <li class="li--2 required">
                <label><span>Last Name:<span class="red_star">*</span></span></label>
                <%= f.text_field :last_name, :class => 'single fldrequired' %>
              </li>
              <li class="li--3">
                <span>Company:</span>
                <div style="padding-left: 5px;"><%=h @agent.name %></div>
              </li>
              <li class="li--4">
                <span>Office:</span>
                <div style="padding-left: 5px;"><%=h @office.name %></div>
              </li>
              <li class="li--12">
              <label><span>Role:</span></label>
               <%= f.text_field :role, :class => 'single fldrequired' %>
              </li>
              <li class="li--13">
              <label><span>Group:</span></label>
               <%= f.select :group, (@group.blank? ? [['Please select', nil]] : @group), :class => 'single fldrequired' %>
              </li>
              <li class="li--5">
                <label><span>Phone:</span></label>
                <%= f.text_field :phone, :class => 'single fldrequired' %>
              </li>
              <li class="li--6">
                <label><span>Mobile:</span></label>
                <%= f.text_field :mobile, :class => 'single fldrequired' %>
              </li>
              <li class="li--7 required">
                <label><span>Email:<span class="red_star">*</span></span></label>
                <%= f.text_field :email, :class => 'single fldrequired' %>
              </li>
              <li class="li--8 required">
                <label><span>Username:<span class="red_star">*</span></span></label>
                <%= f.text_field :login, :class => 'single' %>
              </li>
              <li class="li--9 required">
                <label><span>Password:<span class="red_star">*</span></span></label>
                <%= f.password_field :password, :class => 'single fldrequired' %>
              </li>
              <li class="li--10 required">
                <label><span>Confirm password:<span class="red_star">*</span></span></label>
                <%= f.password_field :password_confirmation, :class => 'single fldrequired' %>
              </li>
              <li>
                <label><span>Send Notification?</span></label>
                <%= check_box_tag 'notification', nil, false, :class => 'checkbox' %>
              </li>
              <li>
                <label><span>Display on site?</span></label>
                <%= f.check_box :display_on_site, :class => 'checkbox' %>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>
    </div>

    <div id="photovideoaudiodiv" class="block transparent third middle">
      <div id="descriptiondiv" class="group">
        <h4>Description</h4>
        <div class="set">
          <fieldset class="pf_fs2">
            <%= f.text_area :description, :class => 'area', :rows => '34', :cols => '20' %>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="action_button">
      <button name="create" type="button" value="Create" onclick="$('#member_details_form').submit();" class="submit_btn" >
        <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
        Create
      </button>
    </div>

  <% end %>
</div><!-- end #teamadddiv -->
