<div class="block full">
  <div class="title_block half">
    <h2>Update Team Preferences</h2>
  </div>

<hr class="thick" />

<div class="block transparent third leader">
  <div class="group" style="height:80px;">
    <p><strong>Level 1 :</strong> Access allows a user to have full access and privileges across ALL offices belonging to that client. There are no restrictions for this user.</p><br/>
  </div>
</div>

<div class="block transparent third middle">
  <div class="group" style="height:80px;">
    <p><strong>Level 2 :</strong> Access allows a user to have full access and privileges only within this office. The user has no access to "Update Team Preferences" and can't Edit/Add any offices.</p>
  </div>
</div>

<div class="block transparent third follower">
  <div class="group" style="height:80px;">
    <p><strong>Level 3 :</strong> Access allows a user to view only their property listings and team member information. </p><br/>
  </div>
</div>

<% form_tag preference_agent_office_agent_users_path(@agent,@office), :class => 'teamform full', :id => 'team_info_form' do %>

<div id="teampreferencesdiv" class="block tables full">
  <div class="group">
    <table class="team_preferences_table">
      <tr>
        <th class="first_cell">Name</th>
        <th>Level 1</th>
        <th>Level 2</th>
        <th>Level 3</th>
<% if @office.property_owner_access? %>
        <th>Level 4</th>
<%end%>
      </tr>
      <%= render :partial => 'pref', :collection => @agent_users %>
    </table>
    <div class="clearer"></div>
  </div>

  <div class="action_button">
    <button name="update" type="button" value="Update" onclick="$('#team_info_form').submit();" class="submit_btn" >
      <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/> Update
    </button>
  </div>
</div> <!-- end #teampreferencesdiv -->

<% end %>
