<p>
  <b>Password:</b>
  <%=h @agent_user.password %>
</p>

<p>
  <b>Password confirmation:</b>
  <%=h @agent_user.password_confirmation %>
</p>

<p>
  <b>First name:</b>
  <%=h @agent_user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @agent_user.last_name %>
</p>

<p>
  <b>Login:</b>
  <%=h @agent_user.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @agent_user.email %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @agent_user.mobile %>
</p>

<p>
  <b>Phone:</b>
  <%=h @agent_user.phone %>
</p>

<p>
  <b>Description:</b>
  <%=h @agent_user.description %>
</p>


<%= link_to 'Edit', edit_agent_user_path(@agent_user) %> |
<%= link_to 'Back', agent_users_path %>
