<script type="text/javascript">
  function add_regions(){
    var all_id = $("#contact_alert_region").val();
    var arry_region = all_id.split(',');
    var add = 0;
    if($("#region_name_input").val()!=''){
      for(var x=0; x < arry_region.length; x++){
        if((arry_region[x]!='')&&(arry_region[x]==$("#region_name_input").val())){
          add = 1
        }
      }
      if(add != 1){
        var new_regions = $("#contact_alert_region").val() + ',' + $("#region_name_input").val()
        var currentdate = new Date();
        var id_region = currentdate.getTime();
        var region_name = $("#region_name_input").val();
        $("#contact_alert_region").attr('value', new_regions);
        $("#regions").append('<div id="'+id_region+'"style="padding-left:176px;width:200px"class="property_type_selected">'+region_name+'\
         <a href="javascript:remove_region('+id_region+',\''+region_name+'\')">x</a></div>');
      }
    }
  }

  function remove_region(id,region){
    var all_id = $("#contact_alert_region").val();
    var arry_region = all_id.split(',');
    arry_region.splice(arry_region.indexOf(region), 1);
    $("#contact_alert_region").val("");
    $("#contact_alert_region").attr("value", arry_region);
    $('#regions div#'+id).remove();
  }

  function add_suburbs(){
    var all_id = $("#contact_alert_suburb").val();
    var arry_suburb = all_id.split(',');
    var add = 0;
    if($("#suburb_name_input").val()!=''){
      for(var x=0; x < arry_suburb.length; x++){
        if((arry_suburb[x]!='')&&(arry_suburb[x]==$("#suburb_name_input").val())){
          add = 1
        }
      }
      if(add != 1){
        var new_suburbs = $("#contact_alert_suburb").val() + ',' + $("#suburb_name_input").val()
        var currentdate = new Date();
        var id_suburb = currentdate.getTime();
        var suburb_name = $("#suburb_name_input").val();
        $("#contact_alert_suburb").attr('value', new_suburbs);
        $("#suburbs").append('<div id="'+id_suburb+'"style="padding-left:176px;;width:200px"class="property_type_selected">'+suburb_name+'\
         <a href="#" onclick="remove_suburb('+id_suburb+',\''+suburb_name+'\')">x</a></div>');
      }
    }
  }

  function remove_suburb(id,suburb){
    var all_id = $("#contact_alert_suburb").val();
    var arry_suburb = all_id.split(',');
    arry_suburb.splice(arry_suburb.indexOf(suburb), 1);
    $("#contact_alert_suburb").val("");
    $("#contact_alert_suburb").attr("value", arry_suburb);
    $("#suburbs div#"+id).remove();
  }

  function tenant_flexbox(){
    var query = "<%= @tenant_name %>";
    jQuery("#tenant_name").flexbox('<%= auto_complete_tenant_agent_office_search_results_path(@agent, @office) %>',{
      customParameters: {q: query},
      method: 'post',
      watermark: query,
      showArrow: false,
      inputClass: 'single',
      minChars: 2,
      width:320,
      queryDelay: 300,
      paging:true,
      highlightMatches:true,
      containerClass:'ffbContainer',
      onSelect: function(){
        $("#contact_alert_tenant").attr('value', this.getAttribute('hiddenValue'));
      }
    });
  }

  $(document).ready(function(){;
    tenant_flexbox();
    jQuery("#indicator1").ajaxStop(function(){
      jQuery(this).show();
    });
    jQuery("#indicator1").ajaxStop(function(){
      jQuery(this).hide();
    });
    $('.form_area').show();
    $('input#contact_alert_listing_type_projectsale').attr('checked', 'checked');
    $("#region_name_input").css("margin-left","176px");
    $("#region_name_input").css("margin-top","-20px");
    $("#suburb_name_input").css("margin-left","176px");
    $("#suburb_name_input").css("margin-top","-20px");
    //$('a#history_link').css("display", "none");
    $('.advanced_commercial_search').css("display", "none");

<% if @office.is_only_allow_commercial? %>
      $("input#contact_alert_listing_type_commercial").attr('checked','checked');
      $('div.advanced_commercial_search').css("display", "block");
      $('dl#commercial').css("display", "block");
      $('li.commercial').css("display", "block");
      $('li.residential').css("display", "none");
      $('dl#residential').css("display", "none");
      $('dl#residential_building').css("display", "none");
      $('div.non_commercial_advanced_search').css("display", "none");
      $('label#residential_building').hide();
<%elsif @office.is_only_allow_residential?%>
      $("input#contact_alert_listing_type_residential").attr('checked','checked');
      $('div.advanced_commercial_search').css("display", "block");
      $('dl#residential').css("display", "block");
      $('dl#residential_building').css("display", "block");
      $('dl#commercial').css("display", "none");
      $('li.commercial').css("display", "none");
      $('li.residential').css("display", "block");
      $('div.non_commercial_advanced_search').css("display", "none");
      $('label#residential_building').show();
<%else%>
      $('input#contact_alert_listing_type_projectsale').attr('checked','checked');
      $('div.advanced_commercial_search').css("display", "none");
      $('div.non_commercial_advanced_search').css("display", "block");
<%end%>
<% unless params[:search_keyword].blank? %>
      var keyword = $('input#search_keyword').val();
      $('input#search_keyword_name').val(keyword);
      $('input#keyword').val(keyword);
<%end%>
<% unless params[:search_keyword_advanced].blank? %>
      var keyword_advanced = $('input#search_keyword_advanced').val();
      $('input#search_keyword_name').val(keyword_advanced);
      $('input#keyword').val(keyword_advanced);
<%end%>
<%unless params[:listing_type].blank?%>
      $(".advanced_search").click();
  <% if params[:listing_type] == "Commercial" %>
        $("#listing_type_commercial").attr("checked", "checked");
        $('div.advanced_commercial_search').css("display", "block");
        $('dl#commercial').css("display", "block");
        $('li.commercial').css("display", "block");
        $('li.residential').css("display", "none");
        $('dl#residential').css("display", "none");
        $('dl#residential_building').css("display", "none");
        $('div.non_commercial_advanced_search').css("display", "none");
        $('label#residential_building').hide();
        $("#availiability").val("<%=params[:availiability]%>").attr("selected", "selected");
        $("#list_status_commercial").val("<%=params[:list_status_commercial]%>").attr("selected", "selected");
        $("#commercial_type").val("<%=params[:commercial_type]%>").attr("selected", "selected");
        $("#state").val("<%=params[:state]%>").attr("selected", "selected");
        $("#region").val("<%=params[:region]%>").attr("selected", "selected");
        $("#suburb").val("<%=params[:suburb]%>");
        $("#agent_internal").val("<%=params[:agent_internal]%>").attr("selected", "selected");
        $("#external_company").val("<%=params[:external_company]%>").attr("selected", "selected");
        $("#agent_external").val("<%=params[:agent_external]%>").attr("selected", "selected");
        $("#yield_from").val("<%=params[:yield_from]%>");
        $("#yield_to").val("<%=params[:yield_to]%>");
        $("#building_from").val("<%=params[:building_from]%>");
        $("#building_to").val("<%=params[:building_to]%>");
        $("#land_from").val("<%=params[:land_from]%>");
        $("#land_to").val("<%=params[:land_to]%>");
        $("#price_from_commercial").val("<%=params[:price_from_commercial]%>");
        $("#price_to_commercial").val("<%=params[:price_to_commercial]%>");
        $("#annual_rental_from").val("<%=params[:annual_rental_from]%>");
        $("#annual_rental_to").val("<%=params[:annual_rental_to]%>");
        $("#floor_from").val("<%=params[:floor_from]%>");
        $("#floor_to").val("<%=params[:floor_to]%>");
        $("#office_from").val("<%=params[:office_from]%>");
        $("#office_to").val("<%=params[:office_to]%>");
        $("#warehouse_from").val("<%=params[:warehouse_from]%>");
        $("#warehouse_to").val("<%=params[:warehouse_to]%>");
        $("#rent_from").val("<%=params[:rent_from]%>");
        $("#rent_to").val("<%=params[:rent_to]%>");
        $("#lease_from").val("<%=params[:lease_from]%>");
        $("#lease_to").val("<%=params[:lease_to]%>");
        $("#tenant").val("<%=params[:tenant]%>");

        //Populate
        //$("li.commercial #list_status").val("<%#=params[:list_status]%>").attr("selected", "selected");
    <% unless params[:type_commercial].blank? %>
      <% params[:type_commercial].each do |com_type| %>
            $("#type_commercial_<%= com_type.downcase.gsub(" ", "_").gsub("&", "_").gsub("/", "_")%>").attr("checked", "checked");
      <%end%>
    <%end%>
        //End
  <%elsif params[:listing_type] == "Residential"%>
        $("#listing_type_residentialsale").attr("checked", "checked");
        $('div.advanced_commercial_search').css("display", "block");
        $('dl#residential').css("display", "block");
        $('dl#residential_building').css("display", "block");
        $('dl#commercial').css("display", "none");
        $('li.commercial').css("display", "none");
        $('li.residential').css("display", "block");
        $('div.non_commercial_advanced_search').css("display", "none");
        $('label#residential_building').show();

        //Populate
        $("#availiability").val("<%=params[:availiability]%>").attr("selected", "selected");
        $("#list_status_residential").val("<%=params[:list_status_residential]%>").attr("selected", "selected");
        $("#state").val("<%=params[:state]%>").attr("selected", "selected");
        $("#region").val("<%=params[:region]%>").attr("selected", "selected");
        $("#suburb").val("<%=params[:suburb]%>");
        $("#agent_internal").val("<%=params[:agent_internal]%>").attr("selected", "selected");
        $("#external_company").val("<%=params[:external_company]%>").attr("selected", "selected");
        $("#agent_external").val("<%=params[:agent_external]%>").attr("selected", "selected");
        $("#yield_from").val("<%=params[:yield_from]%>");
        $("#yield_to").val("<%=params[:yield_to]%>");
        $("#building_from").val("<%=params[:building_from]%>");
        $("#building_to").val("<%=params[:building_to]%>");
        $("#land_from").val("<%=params[:land_from]%>");
        $("#land_to").val("<%=params[:land_to]%>");
        $("#price_from_commercial").val("<%=params[:price_from_commercial]%>");
        $("#price_to_commercial").val("<%=params[:price_to_commercial]%>");
        $("#annual_rental_from").val("<%=params[:annual_rental_from]%>");
        $("#annual_rental_to").val("<%=params[:annual_rental_to]%>");
        $("#floor_from").val("<%=params[:floor_from]%>");
        $("#floor_to").val("<%=params[:floor_to]%>");
        $("#office_from").val("<%=params[:office_from]%>");
        $("#office_to").val("<%=params[:office_to]%>");
        $("#warehouse_from").val("<%=params[:warehouse_from]%>");
        $("#warehouse_to").val("<%=params[:warehouse_to]%>");
        $("#rent_from").val("<%=params[:rent_from]%>");
        $("#rent_to").val("<%=params[:rent_to]%>");
        $("#lease_from").val("<%=params[:lease_from]%>");
        $("#lease_to").val("<%=params[:lease_to]%>");
        $("#tenant").val("<%=params[:tenant]%>");
    <% unless @contact_alert.contact_alert_residential_types.blank? %>
      <% @contact_alert.contact_alert_residential_types.each do |type| %>
        <%if type.residential_type == "B&B"%>
              $("#type_b_b").attr("checked", "checked");
        <%else%>
              $("#type_<%=type.residential_type.gsub(" ", "_").gsub("/", "_").gsub("&", "_").downcase%>").attr("checked", "checked");
        <%end%>
      <%end%>
    <%end%>
    <%unless params[:residential_building].blank? %>
      <% params[:residential_building].each do |res_build| %>
            $("#residential_building_<%= res_build.gsub(" ", "_").downcase %>").attr("checked", "checked");
      <%end%>
    <%end%>
        //End
  <%else%>
        $('input#listing_type_projectsale').attr('checked','checked');
        $('div.advanced_commercial_search').css("display", "none");
        $('div.non_commercial_advanced_search').css("display", "block");

        //Populate
        $("#property_type").val("<%=params[:property_type]%>").attr("selected", "selected");
        $("#price_from").val("<%=params[:price_from]%>");
        $("#price_to").val("<%=params[:price_to]%>");
        $("#deal_type").val("<%=params[:deal_type]%>").attr("selected", "selected");
        $("#suites").val("<%=params[:suites]%>").attr("selected", "selected");
        $("#range_from").val("<%=params[:range_from]%>").attr("selected", "selected");
        $("#range_to").val("<%=params[:range_to]%>").attr("selected", "selected");
        //End
  <%end%>
<%end%>
  });

  $("#contact_alert_business_type").live('change', function(){
    <% if params[:action] == 'edit' %>
      edit_category($(this).val());
    <%else%>
      change_category($(this).val());
    <%end%>
  });

  function change_category(ptype){
    var base_address = $("li.business_category");
    var controller = "<%= change_property_types_agent_office_agent_contact_alerts_path(@agent, @office, params[:agent_contact_id], params[:id]) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data: {"ptype" : ptype},
      dataType:"html",
      beforeSend:function(){
        $('#contact_alert_business_type').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#contact_alert_business_category').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
      },
      success:function(data){
        $('#contact_alert_business_type').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#contact_alert_business_category').removeAttr('disabled').css('background-color', '#FFFFFF');
        jQuery("li.business_category").html(data);
        <% unless params[:business_category].blank? %>
          $("#contact_alert_business_category").find("option[value='<%= params[:contact_alert][:business_category] %>']").attr('selected', 'selected');
        <%end%>
      }
    })
  }

  function edit_category(ptype){
    var base_address = $("li.business_category");
    var controller = "<%= edit_property_types_agent_office_agent_contact_alert_path(@agent, @office, params[:agent_contact_id], params[:id]) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data: {"ptype" : ptype},
      dataType:"html",
      beforeSend:function(){
        $('#contact_alert_business_type').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#contact_alert_business_category').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
      },
      success:function(data){
        $('#contact_alert_business_type').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#contact_alert_business_category').removeAttr('disabled').css('background-color', '#FFFFFF');
        jQuery("li.business_category").html(data);
        <% unless @contact_alert.business_category.blank? %>
          $("#contact_alert_business_category").find("option[value='<%= @contact_alert.business_category %>']").attr('selected', 'selected');
        <%end%>
      }
    })
  }

  $('input.listing_type').live('change', function(){
    var checked = $('input.listing_type:checked').val() == 'Commercial';
    var checked_residential = $('input.listing_type:checked').val() == 'Residential';
    var checked_project = $('input.listing_type:checked').val() == 'ProjectSale';
    if (checked)
    {
      $('div.advanced_commercial_search').css("display", "block");
      $('dl#commercial').css("display", "block");
      $('li.commercial').css("display", "block");
      $('li.residential').css("display", "none");
      $('dl#residential').css("display", "none");
      $('dl#residential_building').css("display", "none");
      $('div.non_commercial_advanced_search').css("display", "none");
      $('label#residential_building').hide();
<% if params[:action] == "edit" %>
  <% if @contact_alert.listing_type == "Residential" %>
          $("#delete_residential_attributes").attr('value', true);
  <% elsif @contact_alert.listing_type == "Commercial" %>
          $("#delete_commercial_attributes").removeAttr('value');
  <%end%>
<%end%>
    }else if (checked_residential){
      $('div.advanced_commercial_search').css("display", "block");
      $('dl#residential').css("display", "block");
      $('dl#residential_building').css("display", "block");
      $('dl#commercial').css("display", "none");
      $('li.commercial').css("display", "none");
      $('li.residential').css("display", "block");
      $('div.non_commercial_advanced_search').css("display", "none");
      $('label#residential_building').show();
<% if params[:action] == "edit" %>
  <% if @contact_alert.listing_type == "Commercial" %>
          $("#delete_commercial_attributes").attr('value', true);
  <% elsif @contact_alert.listing_type == "Residential" %>
          $("#delete_residential_attributes").removeAttr('value');
  <%end%>
<%end%>
    }else if (checked_project){
<% if params[:action] == "edit" %>
  <% if @contact_alert.listing_type == "Commercial" %>
          $("#delete_commercial_attributes").attr('value', true);
  <% elsif @contact_alert.listing_type == "Residential" %>
          $("#delete_residential_attributes").removeAttr('value');
  <%end%>
<%end%>
      $('div.advanced_commercial_search').css("display", "none");
      $('div.non_commercial_advanced_search').css("display", "block");

      $("li.business_category").css("display", "none");
      $(".business_sale").css("display", "none");
      $("#contact_alert_business_type").css("display", "none");
      $(".property_type").show()
      $("#contact_alert_houseland_property_type").show();
      $("#contact_alert_business_type").val("");
      $("#contact_alert_business_category").val("");
    }else{
      $("#contact_alert_houseland_property_type").val("");
      $("li.business_category").show();
      $(".business_sale").show();
      $("#contact_alert_business_type").show();
      $(".property_type").css("display", "none");
      $("#contact_alert_houseland_property_type").css("display", "none");
      $('.non_commercial_advanced_search #contact_alert_property_type').attr('disabled', false);
      $('div.advanced_commercial_search').css("display", "none");
      $('div.non_commercial_advanced_search').css("display", "block");
      <% if params[:action] == 'edit' %>
        <% unless @contact_alert.business_type.blank? %>
          $("#contact_alert_business_type").find("option[value='<%= @contact_alert.business_type %>']").attr('selected', 'selected');
        <%end%>
        <% unless @contact_alert.business_category.blank? %>
          edit_category('<%= @contact_alert.business_type %>');
          $("#contact_alert_business_category").find("option[value = '<%= @contact_alert.business_category %>']").attr('selected', 'selected');
        <%end%>
      <%end%>
    }
  });

  $('button.btn_img_search').live('click', function(){
    $('input.btn_img_search').click();
  });

  $("#contact_alert_state").live("change", function(){
    populate_regions();
  });

  $("#region_name_input").live("change", function(){
    add_regions();
    populate_suburbs();
  });

  $("#suburb_name_input").live("change", function(){
    add_suburbs();
  })

<% if params[:action] == "edit" %>
  <% unless @contact_alert.state.blank? %>
    <% if @contact_alert.region.blank? %>
        populate_regions();
    <% else %>
      <% if @contact_alert.suburb.blank? %>
          populate_suburbs();
      <%end%>
    <%end%>
  <%end%>
<%end%>

  function populate_regions(){
    var base_address = $("ul.locations");
    var controller = "<%= populate_regions_agent_office_agent_contact_alert_path(@agent, @office, @agent_contact, params[:id]) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data: {"state_name" : $('#contact_alert_state').val()},
      dataType:"html",
      beforeSend:function(){
        $('#contact_alert_state').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#region_name_input').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#suburb_name_input').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
      },
      success:function(data){
        $('#contact_alert_state').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#region_name_input').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#suburb_name_input').removeAttr('disabled').css('background-color', '#FFFFFF');
        jQuery("ul.locations").html(data);
      }
    })
  }

  function populate_suburbs(){
    var base_address = $("li.suburbs");
    var controller = "<%= populate_suburbs_agent_office_agent_contact_alert_path(@agent, @office, @agent_contact, params[:id]) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data: {"region_name" : $('#region_name_input').val(), "state_name" : $('#contact_alert_state').val(), "arr_suburb" : $("#contact_alert_suburb").val()},
      dataType:"html",
      beforeSend:function(){
        $('#contact_alert_state').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#region_name_input').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
        $('#suburb_name_input').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
      },
      success:function(data){
        $('#contact_alert_state').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#region_name_input').removeAttr('disabled').css('background-color', '#FFFFFF');
        $('#suburb_name_input').removeAttr('disabled').css('background-color', '#FFFFFF');
        jQuery("li.suburbs").html(data);
      }
    })
  }
</script>
<script type="text/javascript">
  $(function(){
    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
    });
    $('.loading').hide();
  });
</script>
<div class="basic_search">
  <div class="clearer"></div>
  <div class="form_area">
    <%= hidden_field_tag 'contact_alert_agent_contact_id', params[:agent_contact_id] %>
    <ul class="form_listing position_left">
      <li>
        <label for="keyword">keyword</label>
        <%= form.text_field :keyword, :class => "single", :placeholder => "Search keywords..." %>
      </li>
      <li>
        <label class="position_left">listing type</label>
        <div class="position_left list_radio_button">
          <% if @office.is_allow_commercial? %>
            <label for="commercial">
              <%= form.radio_button :listing_type, 'Commercial', :class => 'listing_type' %>
              <span>commercial</span>
            </label>
          <%end%>

          <% if @office.is_allow_residential? %>
            <label for="residential">
              <%= form.radio_button :listing_type, 'Residential', :class => 'listing_type' %>
              <span>residential</span>
            </label>
          <%end%>

          <% if @office.is_allow_houseland? %>
            <label for="house_land">
              <%= form.radio_button :listing_type, 'ProjectSale', :class => 'listing_type' %>
              <span>house & land</span>
            </label>
          <%end%>

          <% if @office.is_allow_business_sale? %>
              <label for="business_sale">
                <%= form.radio_button :listing_type, 'BusinessSale', :class => 'listing_type' %>
                <span>business sale</span>
              </label>
            <%end%>
        </div>
        <div class="clearer"></div>
      </li>
      <div class="clearer"></div>
    </ul>
    <%= hidden_field_tag 'delete_commercial_attributes' %>
    <%= hidden_field_tag 'delete_residential_attributes'  %>
    <%= hidden_field_tag 'delete_houseland_attributes'  %>
    <%= hidden_field_tag 'delete_business_attributes' %>
    <div class="advanced_commercial_search">
      <div class="clearer"></div>
      <h3 class="caption_form">
        <span>General Details</span>
      </h3>
      <ul class="form_listing width_full">
        <li>
          <label for="keyword" class="position_left">type</label>
          <dl id="residential" class="list_checkbox position_left">
              <% @residential_types.each do |rtype| %>
                <dd>
                  <input id="type_<%=rtype.name.downcase.gsub(" ", "_").gsub("/", "_").gsub("&", "_")%>" type="checkbox" value="<%=rtype.name%>" name="contact_alert[residential_type][]"/>
                  <label for="<%=rtype.name%>"><%=rtype.name%></label>
                </dd>
              <%end%>
            </dl>
          <dl id="commercial" class="list_checkbox position_left">
              <% @commercial_types.each do |ctype| %>
                <dd>
                  <input id="type_commercial_<%=ctype.name.downcase.gsub(" ", "_").gsub("/", "_").gsub("&", "_")%>" type="checkbox" value="<%=ctype.name%>" name="contact_alert[commercial_type][]"/>
                  <label for="<%=ctype.name%>"><%=ctype.name%></label>
                </dd>
              <%end%>
            </dl>
          <div class="clearer"></div>
        </li>
        <li>
          <label for="keyword" class="position_left" id="residential_building">residential buildings</label>
          <dl id="residential_building" class="list_checkbox position_left" >
            <% @residential_buildings.each do |residential_building| %>
              <dd class="residential_building_suburb">
                <%= check_box_tag 'contact_alert[residential_building][]', "#{residential_building}" %>
                <label for="<%=residential_building%>"><%=residential_building%></label>
              </dd>
            <%end%>
          </dl>
          <div class="clearer"></div>
        </li>
        <li>
          <label for="property_type">Availiability Type</label>
          <%= form.select(:availiability_type, availiability_options) %>
        </li>
        <li class="commercial">
          <label for="property_type">listing select status</label>
          <%= form.select(:listing_select_status_commercial, status_property_commercial) %>
        </li>
        <li class="commercial">
          <label for="property_type">property type</label>
          <%= form.select(:commercial_property_type, commercial_type) %>
        </li>
        <li class="residential">
          <label for="property_type">listing select status</label>
          <%= form.select(:listing_select_status_residential, status_property_residential) %>
        </li>
      </ul>

      <ul class="form_listing position_left locations">
        <li>
          <h3 class="caption_form">
            <span>Location Details</span>
          </h3>
        </li>
        <li>
          <label for="state">State</label>
          <%= form.select(:state, australian_states) %>
        </li>
        <li>
          <label for="region">Region</label>
          <% if params[:action] == "new" %>
            <select id="contact_alert_region" name="contact_alert[region]">
              <option>Please select</option>
            </select>
          <%else%>
            <%unless @contact_alert.region.blank? || @contact_alert.state.blank? %>
              <% @regions = TownCountry.find_all_by_state_name(@contact_alert.state).map{|x|[x.name,x.name]}.unshift(['Please select', '']) %>
              <%= select_tag 'region_name_input', options_for_select(@regions, @contact_alert.region.split(",").last) %>
            <%else%>
               <% @regions = TownCountry.find_all_by_state_name(@contact_alert.state).map{|x|[x.name,x.name]}.unshift(['Please select', '']) %>
              <%= select_tag 'region_name_input', options_for_select(@regions) %>
            <%end%>
          <%end%>
          <%= hidden_field_tag 'contact_alert[region]', @all_regions %>
          <div id="regions" style="width:300px;"><%= @all_regions_list %></div>
<%#= hidden_field_tag :region_input, :class => 'single' %>
          <!--<span id="indicator1" style="display:none;"><img src="/images/search-loader.gif" id="contact-loader"></img></span>
<%#= hidden_field_tag :region, @all_regions %>
          <div id="regions" style="width:300px;"><%#= @all_regions_list %></div>-->
        </li>
        <li class="suburbs">
          <label for="suburb">Suburb</label>
          <% if params[:action] == "new" %>
            <select id="contact_alert_suburb" name="contact_alert[suburb]">
              <option>Please select</option>
            </select>
          <%else%>
            <%unless @contact_alert.suburb.blank? || @contact_alert.state.blank? %>
              <% @suburbs = Suburb.find_all_by_region_name(@contact_alert.region.split(",").last).map{|x|[x.name,x.name]}.unshift(['Please select', '']) %>
              <%= select_tag 'suburb_name_input', options_for_select(@suburbs, @contact_alert.suburb.split(",").last) %>
            <%else%>
              <select id="suburb_name_input" name="suburb_name_input">
                <option>Please select</option>
              </select>
            <%end%>
          <%end%>
          <%= hidden_field_tag 'contact_alert[suburb]', @all_suburbs %>
          <div id="suburbs" style="width:300px;"><%= @all_suburbs_list %></div>
          <!--<div id="suburb_name"></div>
<%#= hidden_field_tag :suburb_input, :class => 'single' %>
          <span id="indicator1" style="display:none;"><img src="/images/search-loader.gif" id="contact-loader"></img></span>
<%#= hidden_field_tag :suburb, @all_suburbs %>
          <div id="suburbs" style="width:300px;"><%#= @all_suburbs_list %></div>-->
        </li>
      </ul>

      <ul class="form_listing position_right">
        <li>
          <h3 class="caption_form">
            <span>Agent Details</span>
          </h3>
        </li>
        <li>
          <label for="internal">Internal Agent</label>
          <%= form.select(:internal_agent, @internal_agents) %>
        </li>
        <li>
          <label for="external">External Company</label>
          <%= form.select(:external_company, @external_companies) %>
        </li>
        <li>
          <label for="agent">External Agent</label>
          <%= form.select(:external_agent, @external_agents) %>
        </li>
      </ul>
      <div class="clearer"></div>
      <ul class="form_listing position_left">
        <li>
          <h3 class="caption_form">
            <span>Sale Filters</span>
          </h3>
        </li>
        <li class="two_field">
          <label for="yield">Yield (%)</label>
          <%= form.text_field :yield_from, :class => "first_form" %>
          <label for="to_yield" class="second">to</label>
          <%= form.text_field :yield_to %>
        </li>
        <li class="two_field">
          <label for="building">Floor area</label>
          <%= form.text_field :building_area_from, :class => "first_form" %>
          <label for="to_building" class="second">to</label>
          <%= form.text_field :building_area_to %>
        </li>
        <li class="two_field">
          <label for="land">Land area</label>
          <%= form.text_field :land_area_from, :class => "first_form" %>
          <label for="to_land" class="second">to</label>
          <%= form.text_field :land_area_to %>
        </li>
        <li class="two_field">
          <label for="asking">Asking Price</label>
          <%= form.text_field :asking_price_from, :class => 'first_form' %>
          <label for="to_asking" class="second">to</label>
          <%= form.text_field :asking_price_to %>
        </li>
        <li class="two_field">
          <label for="annual">Annual Rental</label>
          <%= form.text_field :annual_rental_from, :class => 'first_form' %>
          <label for="to_annual" class="second">to</label>
          <%= form.text_field :annual_rental_to %>
        </li>
      </ul>

      <ul class="form_listing position_right">
        <li>
          <h3 class="caption_form">
            <span>Rental Filters</span>
          </h3>
        </li>
        <li class="two_field">
          <label for="floorArea">Total Floor Area</label>
          <%= form.text_field :total_floor_area_from, :class => 'first_form' %>
          <label for="to_floorArea" class="second">to</label>
          <%= form.text_field :total_floor_area_to %>
        </li>
        <li class="two_field">
          <label for="office">Office</label>
          <%= form.text_field :office_from, :class => 'first_form' %>
          <label for="to_office" class="second">to</label>
          <%= form.text_field :office_to %>
        </li>
        <li class="two_field">
          <label for="warehouse">Warehouse</label>
          <%= form.text_field :warehouse_from, :class => 'first_form' %>
          <label for="to_warehouse" class="second">to</label>
          <%= form.text_field :warehouse_to %>
        </li>
        <li class="two_field">
          <label for="rent">Rent</label>
          <%= form.text_field :rent_from, :class => 'first_form' %>
          <label for="to_rent" class="second">to</label>
          <%= form.text_field :rent_to %>
        </li>
        <li class="two_field">
          <label for="leaseexpiry">Lease expiry</label>
          <%= form.text_field :lease_expiry_from, :class => "first_form datepicker" %>
          <label for="to_leaseexpiry" class="second">to</label>
          <%= form.text_field :lease_expiry_to, :class => "single datepicker" %>
        </li>
        <li>
          <label for="tenant">Tenant</label>
          <div id="tenant_name" style="padding-left: 176px; margin-top: -19px;"></div>
          <%= form.hidden_field :tenant %>
        </li>
      </ul>
    </div>
    <div class="non_commercial_advanced_search">
      <ul class="form_listing position_right">
        <li>
          <label for="business_type" class="business_sale" style="display:none">business type</label>
          <%= form.select(:business_type, @business_type, {}, {:style => "display:none"}) %>
          <label for="property_type" class="property_type">property type</label>
          <%= form.select(:houseland_property_type, @property_type) %>
        </li>
        <li class="business_category" style="display:none">
          <label for="business_category" class="business_sale">category</label>
          <select id="contact_alert_business_category" class="select_box" name="contact_alert[business_category]" >
            <option value=''>Please select</option>
          </select>
        </li>
        <li class="two_field">
          <label for="price_range">price range</label>
          <%= form.text_field :price_range_from, :class => 'first_form' %>
          <label for="to" class="second">to</label>
          <%= form.text_field :price_range_to %>
        </li>
        <li>
          <label for="deal_type">status</label>
          <%= form.select(:houseland_status, status_property_residential) %>
        </li>
        <li>
          <label for="suites">suites</label>
          <%= form.select(:suites, @suites, :selected => @contact_alert.suites.blank? ? "" : @contact_alert.suites.to_i) %>
        </li>
        <li class="two_field" last>
          <label for="sqm_range">sqm range</label>
          <%= form.select(:sqm_range_from, @ranges, {:selected => @contact_alert.sqm_range_from.blank? ? "" : @contact_alert.sqm_range_from.to_i}, { :class => 'first_form' }) %>

          <label for="to_sqm_range" class="second">to</label>
          <%= form.select(:sqm_range_to, @ranges, :selected => @contact_alert.sqm_range_to.blank? ? "" : @contact_alert.sqm_range_to.to_i) %>
        </li>
      </ul>
    </div>
    <div class="clearer"></div>
    <%= submit_tag 'Submit', :class => 'buttons btns_yellow' %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
<% if params[:action] == "edit" %>
  <% if @contact_alert.listing_type == 'BusinessSale' %>
    $("#contact_alert_houseland_property_type").val("");
    $("li.business_category").show();
    $(".business_sale").show();
    $("#contact_alert_business_type").show();
    $(".property_type").css("display", "none");
    $("#contact_alert_houseland_property_type").css("display", "none");
    $('.non_commercial_advanced_search #contact_alert_property_type').attr('disabled', false);
    $('div.advanced_commercial_search').css("display", "none");
    $('div.non_commercial_advanced_search').css("display", "block");
    <% unless @contact_alert.business_type.blank? %>
      edit_category('<%= @contact_alert.business_type %>');
    <%end%>
  <%end%>
  <% unless @contact_alert.tenant.blank? %>
    <% tenant = @contact_alert.tenant %>
    <% if tenant.class == "Fixnum" %>
      <% @tenant = AgentContact.find(@contact_alert.tenant) %>
          $("#tenant_name_input").val('<%= @tenant.full_name == " " ? @tenant.first_name : @tenant.full_name %>');
    <%end%>
  <%end%>
  <% unless @contact_alert.contact_alert_commercial_types.blank? %>
    <% @contact_alert.contact_alert_commercial_types.each do |com_type| %>
          $("#type_commercial_<%= com_type.commercial_type.downcase.gsub(" ", "_").gsub("/","_").gsub("&", "_")%>").attr("checked", true);
    <%end%>
  <%end%>
  <% unless @contact_alert.contact_alert_residential_types.blank? %>
    <% @contact_alert.contact_alert_residential_types.each do |res_type| %>
          $("#type_<%= res_type.residential_type.downcase.gsub(" ", "_").gsub("/","_").gsub("&", "_")%>").attr("checked", true);
    <%end%>
  <%end%>
  <% unless @contact_alert.contact_alert_residential_buildings.blank? %>
    <% @contact_alert.contact_alert_residential_buildings.each do |res_build| %>
          $("dd.residential_building_suburb").find("input[type=checkbox][value=<%=res_build.residential_building%>]").attr('checked', 'checked');
    <%end%>
  <%end%>
  <%unless @contact_alert.tenant.blank? %>
    $("#tenant_name_input").val("<%= @tenant.full_name %>");
  <%end%>
  <% unless @contact_alert.listing_type.blank? %>
        $("#contact_alert_listing_type_<%= @contact_alert.listing_type.downcase %>").attr('checked', 'checked');
    <% if @contact_alert.listing_type == "Residential" %>
          $('div.advanced_commercial_search').css("display", "block");
          $('dl#residential').css("display", "block");
          $('dl#residential_building').css("display", "block");
          $('dl#commercial').css("display", "none");
          $('li.commercial').css("display", "none");
          $('li.residential').css("display", "block");
          $('div.non_commercial_advanced_search').css("display", "none");
          $('label#residential_building').show();
    <% elsif @contact_alert.listing_type == "Commercial" %>
          $('div.advanced_commercial_search').css("display", "block");
          $('dl#commercial').css("display", "block");
          $('li.commercial').css("display", "block");
          $('li.residential').css("display", "none");
          $('dl#residential').css("display", "none");
          $('dl#residential_building').css("display", "none");
          $('div.non_commercial_advanced_search').css("display", "none");
          $('label#residential_building').hide();
    <%else%>
          $('div.advanced_commercial_search').css("display", "none");
          $('div.non_commercial_advanced_search').css("display", "block");
    <%end%>
  <%end%>
<%end%>
  })
</script>
