<div class="group" style="background-color:#E1EBF5;">
<table cellpadding="0" cellspacing="0" class="update_table full">
<tr>
  <th class="first_cell" style="width:80px;background-color:#C8D2DC;">Date</th>
  <th style="width:80px;background-color:#C8D2DC;">Listing Type</th>
  <th style="width:200px;background-color:#C8D2DC;">General Details</th>
  <th style="width:160px;background-color:#C8D2DC;">Location Details</th>
  <th style="width:200px;background-color:#C8D2DC;">Agent Details</th>
  <th style="width:200px;background-color:#C8D2DC;">Sale Filters</th>
  <th style="width:200px;background-color:#C8D2DC;">Rental Filters</th>
  <th style="width:80px;background-color:#C8D2DC;">Min Price</th>
  <th style="width:80px;background-color:#C8D2DC;">Max Price</th>
  <th style="background-color:#C8D2DC;">Actions</th>
</tr>
<% unless @alerts.blank? %>
  <% @alerts.each do |alert| -%>
  <tr>
    <td class="value"><%= (alert.created_at ? alert.created_at.strftime("%d-%m-%Y") : "-") %></td>
    <td class="value"><%= (alert.listing_type ? (alert.listing_type == "ProjectSale" ? "House & Land" : alert.listing_type) : "-") %>
      <br/>
      <% if alert.listing_type == 'ProjectSale' %>
        <strong>Suites</strong> : <%= alert.suites.blank? ? '-' : alert.suites %>
        <br/>
        <strong>Sqm Range From</strong> : <%= alert.sqm_range_from.blank? ? '-' : alert.sqm_range_from %>
        <br/>
        <strong>Sqm Range To</strong> : <%= alert.sqm_range_to.blank? ? '-' : alert.sqm_range_to %>
      <%end%>
    </td>
    <td class="value">
      <strong>Type</strong> : <%= alert.information_of_alert[1].blank? ? '-' : alert.information_of_alert[1] %>
      <br/>
      <% if alert.listing_type == 'Residential' %>
        <strong>Residential Buildings</strong> : <%= alert.contact_alert_residential_buildings.blank? ? '-' : alert.residential_building_lists %>
      <%end%>
      <br/>
      <strong>Availiability Type</strong> : <%= alert.availiability_type.blank? ? '-' : alert.availiability_type_mean %>
      <br/>
      <strong>Listing Select Status</strong> : <%= alert.information_of_alert[0].blank? ? '-' : alert.information_of_alert[0] %>
      <br/>
      <strong>Property Type</strong> : <%= alert.listing_type != 'Commercial' ? '-' : (alert.commercial_property_type.blank? ? '-' : alert.commercial_property_type)%>
    </td>
    <td class="value">
      <strong>State</strong> : <%= alert.state.blank? ? '-' : alert.state %>
      <br/>
      <strong>Region</strong> : <%= alert.contact_alert_regions.blank? ? '-' : alert.region_lists %>
      <br/>
      <strong>Suburb</strong> : <%= alert.contact_alert_suburbs.blank? ? '-' : alert.suburb_lists %>
    </td>
    <td class="value">
      <strong>Internal Agent</strong> : <%= alert.listing_type == 'ProjectSale' ? '-' : (alert.internal_agent.blank? ? '-' : alert.internal_agent) %>
      <br/>
      <strong>External Company</strong> : <%= alert.listing_type == 'ProjectSale' ? '-' : (alert.external_company.blank? ? '-' : alert.external_company) %>
      <br/>
      <strong>External Agent</strong> : <%= alert.listing_type == 'ProjectSale' ? '-' : (alert.external_agent.blank? ? '-' : alert.external_agent) %>
    </td>
    <td class="value">
      <strong>Yield From</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.yield_from.blank? ? '-' : alert.yield_from)) %>
      <br/><strong>Yield To</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.yield_to.blank? ? '-' : alert.yield_to)) %>
      <br/>
      <strong>Floor Area From</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.building_area_from.blank? ? '-' : alert.building_area_from)) %>
      <br/><strong>Floor Area To</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.building_area_to.blank? ? '-' : alert.building_area_to)) %>
      <br/>
      <strong>Land Area From</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.land_area_from.blank? ? '-' : alert.land_area_from)) %>
      <br/><strong>Land Area To</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.land_area_to.blank? ? '-' : alert.land_area_to)) %>
      <br/>
      <strong>Annual Rental From</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.annual_rental_from.blank? ? '-' : number_to_currency(alert.annual_rental_from, :precision => 0))) %>
      <br/><strong>Annual Rental To</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.annual_rental_to.blank? ? '-' : number_to_currency(alert.annual_rental_to, :precision => 0))) %>
    </td>
    <td class="value">
      <strong>Total Area From</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.total_floor_area_from.blank? ? '-' : alert.total_floor_area_from)) %>
      <br/><strong>Total Area To</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.total_floor_area_to.blank? ? '-' : alert.total_floor_area_to)) %>
      <br/>
      <strong>Office Area From</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.office_from.blank? ? '-' : alert.office_from)) %>
      <br/><strong>Office Area To</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.office_to.blank? ? '-' : alert.office_to)) %>
      <br/>
      <strong>Warehouse Area From</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.warehouse_from.blank? ? '-' : alert.warehouse_from)) %>
      <br/><strong>Warehoouse Area To</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.warehouse_to.blank? ? '-' : alert.warehouse_to)) %>
      <br/>
      <strong>Rent From</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.rent_from.blank? ? '-' : number_to_currency(alert.rent_from, :precision => 0))) %>
      <br/><strong>Rent To</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.rent_to.blank? ? '-' : number_to_currency(alert.rent_to, :precision => 0))) %>
      <br/>
      <strong>Lease Expiry From</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.lease_expiry_from.blank? ? '-' : alert.lease_expiry_from.strftime('%d-%m-%Y'))) %>
      <br/><strong>Lease Expiry To</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.lease_expiry_to.blank? ? '-' : alert.lease_expiry_to.strftime('%d-%m-%Y'))) %>
      <br/>
      <strong>Lease Expiry From</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.lease_expiry_from.blank? ? '-' : alert.lease_expiry_from.strftime('%d-%m-%Y'))) %>
      <br/><strong>Lease Expiry To</strong> : <%= (alert.listing_type == 'ProjectSale' ? '-' : (alert.lease_expiry_to.blank? ? '-' : alert.lease_expiry_to.strftime('%d-%m-%Y'))) %>
      <br/><strong>Tenant</strong> : <%= alert.listing_type == 'ProjectSale' ? '-' : (alert.tenant.blank? ? '-' : alert.tenant_name) %>
    </td>
    <td class="value"><%= alert.listing_type != "ProjectSale" ? (alert.asking_price_from.blank? ? "-" : number_to_currency(alert.asking_price_from, :precision => 0)) : (alert.price_range_from.blank? ? "-" : number_to_currency(alert.price_range_from, :precision => 0)) %></td>
    <td class="value"><%= alert.listing_type != "ProjectSale" ? (alert.asking_price_to.blank? ? "-" : number_to_currency(alert.asking_price_to, :precision => 0)) : (alert.price_range_to.blank? ? "-" : number_to_currency(alert.price_range_to, :precision => 0)) %></td>
    <td class="value">
      <%= link_to "Edit", edit_agent_office_agent_contact_alert_path(@agent,@office, @agent_contact, alert), :method => :get, :style => "color:blue;" %> |
      <%= link_to "Delete", agent_office_agent_contact_alert_path(@agent,@office, @agent_contact, alert), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :style => "color:red;" %>  </td>
  </tr>
  <% end -%>
<% end -%>
</table>
<% unless @alerts.blank? %>
  <%= will_paginate @alerts %>
<% end -%>
<div class="clearer"></div>
</div>

