<label for="deal_type">category</label>
<select id="contact_alert_business_category" class="select_box" name="contact_alert[business_category]" >
  <option value=''>Please select</option>
  <% @categories.each do |category| %>
  	<option value='<%= category.name %>'><%= category.name %></option>
  <%end%>
</select>