<div class="title_block block">
 <h2 class="page_title">Alerts For Contact <%= @agent_contact.full_name %></h2>
</div>

<% form_for :contact_alert, @contact_alert, :url => agent_office_agent_contact_alert_path(@agent,@office, @agent_contact), :html => {:class => 'propertyform full', :method => :put} do |f| %>
  <%= f.error_messages :class => 'errortext' %>
  <%= render :partial => 'alert_form', :locals => {:form => f} %>
  <%= render :partial => 'alert_list' %>
<% end %>

