<li style="padding-top: 5px"></li>
<li class="suburbs" style="margin-bottom:8px">
    <label for="state">Suburb</label>
    <% unless @suburbs.blank? %>
    <%= select_tag 'suburb_name_input', options_for_select(@suburbs), {:class => "select_box", :style => "margin-left: 175px; margin-top: -20px"} %>
    <%else%>
    <%= select_tag 'suburb_name_input', options_for_select(@suburbs) %>
    <%end%>
    <%= hidden_field_tag 'contact_alert[suburb]', @all_suburbs %>
    <div id="suburbs" style="width:300px;"><%= @all_suburbs_list %></div>
  </li>
<script type="text/javascript">
  $("#suburb_name_input").live("change", function(){
    add_suburbs();
  });

  function add_suburbs(){
    var all_id = $("#contact_alert_suburb").val();
    var arry_suburb = all_id.split(',');
    var add = 0;
    if($("#suburb_name_input").val()!=''){
      for(var x=0; x < arry_suburb.length; x++){
        if((arry_suburb[x]!='')&&(arry_suburb[x]==$("#suburb_name_input").val())){
          add = 1
        }
      }
      if(add != 1){
        var new_suburbs = $("#contact_alert_suburb").val() + ',' + $("#suburb_name_input").val()
        var currentdate = new Date();
        var id_suburb = currentdate.getTime();
        var suburb_name = $("#suburb_name_input").val();
        $("#contact_alert_suburb").attr('value', new_suburbs);
        $("#suburbs").append('<div id="'+id_suburb+'"style="padding-left:176px;;width:200px"class="property_type_selected">'+suburb_name+'\
         <a href="#" onclick="remove_suburb('+id_suburb+',\''+suburb_name+'\')">x</a></div>');
      }
    }
  }

  function remove_suburb(id,suburb){
    var all_id = $("#contact_alert_suburb").val();
    var arry_suburb = all_id.split(',');
    arry_suburb.splice(arry_suburb.indexOf(suburb), 1);
    $("#contact_alert_suburb").val("");
    $("#contact_alert_suburb").attr("value", arry_suburb);
    $("#suburbs div#"+id).remove();
  }
</script>