<div class="greybg" style="margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;text-align:center">
  <div style="width:600px;height:auto;margin:5px auto;font-family: arial;text-align:center;font-size:8pt;color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser. Or <a href="{forward}" style="color:#999999;" target="_blank">click here</a> to forward this email</div>
  <div class="view" style="width: 600px; clear: both; margin-right: auto; margin-left: auto; background-color: #FFFFFF;">
    <table border="0" cellspacing="0" cellpadding="0" width="600" bgcolor="white" style="width:600px;background:white;border-collapse:collapse;border:0">
      <tbody>
        <tr>
          <td valign="top" style="padding:0in 0in 0in 0in; border:0; margin:0; border-bottom:5px solid black; background:white;">
            <% if @office.url.present? %>
              <a href="http://<%= @office.url.gsub("http://","").gsub("https://","") %>" style="padding:0">
                <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="600" style="width:600px;padding:0;margin:0;display:block;">
              </a>
            <% else %>
              <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="600" style="width:600px;padding:0;margin:0;display:block;">
            <% end %>
          </td>
        </tr>
        <tr>
          <td valign="top" style="padding:0in 0in 0in 0in">
            <div align="center">
              <table border="0" cellspacing="0" cellpadding="0" width="600" style="width:6.25in;border-collapse:collapse">
                <tbody><tr>
                    <td width="400" valign="top" style="width:300.0pt;padding:0in 0in 0in 0in" class="left-td">
                      <table border="0" cellspacing="0" cellpadding="0" width="400" style="width:300.0pt;border-collapse:collapse">
                        <tbody>
                          <tr class="first-tr">
                            <td valign="top" style="padding:10pt 0in 0in 0in">
                              <table border="0" cellspacing="0" cellpadding="0" width="400" style="width:300.0pt;border-collapse:collapse">
                                <tbody>
                                  <tr>
                                    <td valign="top" bgcolor="white" style="background:white;padding:0in 0in 0in 0in">
                                      <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse;">
                                        <tbody>
                                          <% if !@news_links.blank? %>
                                            <% @news_links.each do |news_link| %>
                                              <tr>
                                                <td valign="top" style="padding:0pt 15.0pt 0pt 15.0pt">
                                                  <h4 style="margin-right:0in;margin-bottom:7.5pt;margin-left:0in;line-height:16.5pt">
                                                    <span style="font-size:15.0pt;color:#202020;font-weight: bold;font-family: 'Times New Roman'">
                                                      <%= news_link["headline"] %>
                                                    </span>
                                                  </h4>
                                                  <p>
                                                    <font size="2" color="#202020" face="Arial">
                                                    <span style="font-size:10.5pt;font-family:Arial;color:#202020">

                                                      <%= news_link["description"].gsub("\n","<br/>") if news_link["description"].present? %>

                                                    </span>
                                                    </font>
                                                  </p>
                                                  <p style="padding: 10px 0;">
                                                    <font size="2" color="#202020" face="Arial">
                                                    <span style="font-size:10.5pt;font-family:Arial;color:#202020">
                                                      <% if news_link["url"].present? %>
                                                        <a href="{ecampaign_track_url}&link_url=http://<%= process_link(news_link["url"]) %>" target="_blank" style="font-family:Arial;font-weight: bold;color:#3d8cdb">
                                                          <span>Click here</span>
                                                        </a>
                                                      <% end %>
                                                      for details. </span>
                                                    </font>
                                                  </p>
                                                  <div>
                                                    <h4 align="center" style="margin:0in;margin-bottom:.0001pt;text-align:center"><b><font size="5" color="#202020" face="Arial"><span style="font-size:16.5pt;font-family:Arial;color:#202020">
                                                          <hr size="2" width="100%" noshade="" color="black" align="center">
                                                        </span></font></b></h4>
                                                  </div>
                                                </td>
                                              </tr>
                                            <% end %>
                                          <% end %>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>

                          <tr class="second-tr">
                            <td valign="top" style="padding:0in 0in 0in 0in">
                              <table border="0" cellspacing="0" cellpadding="0" width="400" style="width:300.0pt;border-collapse:collapse">
                                <tbody>
                                  <tr>
<%# ---------------------------------- BOTTOM LEFT CONTENT ---------------------------------------- %>
                                    <td width="180" valign="top" bgcolor="white" style="width:135.0pt;background:white;padding:0in 0in 0in 0in">
                                      <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse">
                                        <tbody>
                                          <tr>
                                            <% if @bottom_left.present? %>
                                              <td valign="top" style="padding:15.0pt 15.0pt 15.0pt 15.0pt">
                                                <p class="MsoNormal" align="center" style="text-align:center;line-height:150%">
                                                  <span style="font-size:10.5pt;line-height:150%;font-family:Arial;color:#505050">
                                                    <% if @bottom_left["url"].present? && @bottom_left["image_id"].present?%>
                                                      <a href="{ecampaign_track_url}&link_url=http://<%= process_link(@bottom_left["url"]) %>" target="_blank">
                                                        <img border="0" width="160" src="<%= free_attachment(@bottom_left["image_id"]) %>">
                                                      </a>
                                                    <% elsif @bottom_left["image_id"].present? %>
                                                      <img border="0" width="160" src="<%= free_attachment(@bottom_left["image_id"]) %>">
                                                    <% end %>
                                                  </span>
                                                </p>
                                                <h4 style="margin-right:0in;margin-bottom:7.5pt;margin-left:0in;color:rgb(32,32,32)">
                                                  <span style="font-size:16.5pt;color:#505050;font-weight: bold;line-height: 133%;font-family: 'Times New Roman'"><%= @bottom_left["headline"] %></span>
                                                </h4>
                                                <p class="MsoNormal" style="line-height:150%">
                                                  <font size="2" color="#505050" face="Arial">
                                                  <span style="font-size:10.5pt;line-height:150%;font-family:Arial;color:#505050">
                                                    <%= @bottom_left["description"] %>
                                                    <br/>
                                                    <% if @bottom_left["url"].present? %>
                                                      <a href="{ecampaign_track_url}&link_url=http://<%= process_link(@bottom_left["url"]) %>" target="_blank">
                                                        <font color="#3d8cdb">
                                                        <span style="font-weight:normal;color:#3d8cdb;text-decoration:none">click here</span>
                                                        </font>
                                                      </a>
                                                    <% end %>
                                                  </span>
                                                  </font>
                                                </p>
                                              </td>
                                            <% end %>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <p class="MsoNormal"><font size="3" face="Times New Roman"><span style="font-size:12.0pt"></span></font></p>
                                    </td>

<%# ---------------------------------- BOTTOM RIGHT CONTENT ---------------------------------------- %>
                                    <td width="180" valign="top" bgcolor="white" style="width:135.0pt;background:white;padding:0in 0in 0in 0in">
                                      <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse">
                                        <tbody>
                                          <tr>
                                            <% if @bottom_right.present? %>
                                              <td valign="top" style="padding:15.0pt 15.0pt 15.0pt 15.0pt">
                                                <p class="MsoNormal" style="line-height:150%">
                                                  <span style="font-size:10.5pt;line-height:150%;font-family:Arial;color:#565656">
                                                    <% if @bottom_right["url"].present? && @bottom_right["image_id"].present?%>
                                                      <a href="{ecampaign_track_url}&link_url=http://<%= process_link(@bottom_right["url"]) %>" target="_blank">
                                                        <img border="0" width="160" src="<%= free_attachment(@bottom_right["image_id"]) %>">
                                                      </a>
                                                    <% elsif @bottom_right["image_id"].present? %>
                                                      <img border="0" width="160" src="<%= free_attachment(@bottom_right["image_id"]) %>">
                                                    <% end %>
                                                  </span>
                                                </p>
                                                <h4 style="margin-right:0in;margin-bottom:7.5pt;margin-left:0in;color:rgb(32,32,32)">
                                                  <span style="font-size:16.5pt;color:#505050;font-weight: bold;line-height: 133%;font-family: 'Times New Roman'"><%= @bottom_right["headline"] %></span>
                                                </h4>
                                                <p class="MsoNormal" style="line-height:150%">
                                                  <font size="2" color="#565656" face="Arial">
                                                  <span style="font-size:10.5pt;line-height:150%;font-family:Arial;color:#565656">
                                                    <%= @bottom_right["description"] %>
                                                    <br/>
                                                    <% if @bottom_right["url"].present? %>
                                                      <a href="{ecampaign_track_url}&link_url=http://<%= process_link(@bottom_right["url"]) %>" target="_blank">
                                                        <font color="#3d8cdb">
                                                        <span style="font-weight:normal;color:#3d8cdb;text-decoration:none">click here</span>
                                                        </font>
                                                      </a>
                                                    <% end %>
                                                  </span>
                                                  </font>
                                                </p>
                                              </td>
                                            <% end%>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <p class="MsoNormal"><font size="3" face="Times New Roman"><span style="font-size:12.0pt"></span></font></p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <p class="MsoNormal"><font size="3" face="Times New Roman"><span style="font-size:12.0pt"></span></font></p>
                            </td>
                          </tr>
                        </tbody></table>
                      <p class="MsoNormal"><font size="3" face="Times New Roman"><span style="font-size:12.0pt"></span></font></p>
                    </td>

                    <td width="200" valign="top" bgcolor="#E6EFF7" style="width:150.0pt;background:#e6eff7;padding:0in 0in 0in 0in">
                      <table border="0" cellspacing="0" cellpadding="0" width="200" style="width:150.0pt;border-collapse:collapse">
                        <tbody>
                          <tr>
                            <td valign="top" style="padding:0in 0in 0in 0in">
                              <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse">
                                <tbody><tr style="background-color: #E6EFF7">
                                    <td valign="top" style="padding:12pt 15.0pt 0in 15.0pt">
                                      <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                        <tbody>
                                          <% if @facebook_social_link.present? %>
                                            <tr style="background-color: #E6EFF7">
                                              <td width="16" style="width:12.0pt;padding:0in 0in 0in 0in">
                                                <p class="MsoNormal"><font size="3" face="Times New Roman"><span style="font-size:12.0pt"><img border="0" width="16" height="16" src="<%= @base_url %>/images/icons/Facebook.png"><u></u><u></u></span></font></p>
                                              </td>
                                              <td valign="top" style="padding:0in 0in 0in 0in">
                                                <p class="MsoNormal" style="line-height:150%"><font size="1" color="#565656" face="Arial"><span style="font-size:9.0pt;line-height:150%;font-family:Arial;color:#565656"><a href="{ecampaign_track_url}&link_url=http://<%= @facebook_social_link.gsub("http://", "")%>" target="_blank"><font color="#3d8cdb"><span style="color:#3d8cdb;text-decoration:none">Friend on Facebook</span></font></a><u></u><u></u></span></font></p>
                                              </td>
                                            </tr>
                                          <% end %>
                                          <% if @twitter_social_link.present? %>
                                            <tr style="background-color: #E6EFF7">
                                              <td width="16" style="width:12.0pt;padding:0in 0in 0in 0in">
                                                <p class="MsoNormal"><font size="3" face="Times New Roman"><span style="font-size:12.0pt"><img border="0" width="16" height="16" src="<%= @base_url %>/images/icons/twitter.png"><u></u><u></u></span></font></p>
                                              </td>
                                              <td valign="top" style="padding:0in 0in 0in 0in">
                                                <p class="MsoNormal" style="line-height:150%"><font size="1" color="#565656" face="Arial"><span style="font-size:9.0pt;line-height:150%;font-family:Arial;color:#565656"><a href="{ecampaign_track_url}&link_url=http://<%= @twitter_social_link.gsub("http://", "")%>" target="_blank"><font color="#3d8cdb"><span style="color:#3d8cdb;text-decoration:none">Follow on Twitter</span></font></a><u></u><u></u></span></font></p>
                                              </td>
                                            </tr>
                                          <% end %>
                                          <% if @data.present? && @data["forward_link"].present? %>
                                            <tr style="background-color: #E6EFF7">
                                              <td width="16" style="width:12.0pt;padding:0in 0in 0in 0in">
                                                <p class="MsoNormal"><font size="3" face="Times New Roman"><span style="font-size:12.0pt"><img border="0" width="16" height="16" src="<%= @base_url %>/images/icons/mail_ico.gif"><u></u><u></u></span></font></p>
                                              </td>
                                              <td valign="top" style="padding:0in 0in 0in 0in">
                                                <p class="MsoNormal" style="line-height:150%"><font size="1" color="#565656" face="Arial"><span style="font-size:9.0pt;line-height:150%;font-family:Arial;color:#565656"><a href="{ecampaign_track_url}&link_url=http://<%= @data["forward_link"].gsub("http://", "")%>" target="_blank"><font color="#3d8cdb"><span style="color:#3d8cdb;text-decoration:none">Forward to a Friend</span></font></a><u></u><u></u></span></font></p>
                                              </td>
                                            </tr>
                                          <% end %>
                                        </tbody></table>
                                      <p class="MsoNormal"><font size="3" face="Times New Roman"><span style="font-size:12.0pt;background-color: #E6EFF7"></span></font></p>
                                    </td>
                                  </tr>
                                </tbody></table>
                              <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse">
                                <tbody><tr>
                                    <td valign="top" style="background-color: #E6EFF7;padding:15.0pt 15.0pt 15.0pt 15.0pt">
                                      <p class="MsoNormal" align="center" style="text-align:center;line-height:150%">
                                        <font size="1" color="#565656" face="Arial">
                                        <span style="font-size:9.0pt;line-height:150%;font-family:Arial;color:#565656">
                                          <% if @sidebar_links.present? %>
                                            <% @sidebar_links.each do |side_image| %>
                                              <br>
                                              <% img = Attachment.find_by_id(side_image["image_id"])%>
                                              <% if img.present? %>
                                                <% if img.width >= 155 %>
                                                  <a href="{ecampaign_track_url}&link_url=http://<%= process_link(side_image["url"]) %>" target="_blank"><font color="#3d8cdb"><span style="color:#3d8cdb;text-decoration:none"><img border="0" width="155" height="80" src="<%= img.public_filename %>"></span></font></a><br/>
                                                <% else %>
                                                  <a href="{ecampaign_track_url}&link_url=http://<%= process_link(side_image["url"]) %>" target="_blank"><font color="#3d8cdb"><span style="color:#3d8cdb;text-decoration:none"><img border="0" width="<%=img.width%>" height="<%=img.height%>" src="<%= img.public_filename %>"></span></font></a><br/>
                                                <% end %>
                                              <% end %>
                                            <% end %>
                                          <% end %>
                                        </span>
                                        </font>
                                      </p>
                                    </td>
                                  </tr>
                                </tbody></table>
                              <p class="MsoNormal"><font size="3" face="Times New Roman"><span style="font-size:12.0pt"><u></u><u></u></span></font></p>
                            </td>
                          </tr>
                        </tbody></table>
                      <p class="MsoNormal"><font size="3" face="Times New Roman"><span style="font-size:12.0pt"><u></u><u></u></span></font></p>
                    </td>
                  </tr>
                </tbody></table>
            </div>
          </td>
        </tr>

        <tr>
          <td valign="top" style="padding:0in 0in 0in 0in">
            <div align="center">
              <table border="0" cellspacing="0" cellpadding="0" width="600" bgcolor="#00257E" style="width:6.25in;background:#00257e;border-collapse:collapse">
                <tbody>
                  <tr style="background-color: #00257E;">
                    <td valign="top" style="padding:7.5pt 7.5pt 7.5pt 7.5pt">
                      <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse">
                        <tbody>
                          <tr style="background-color: #00257E;">
                            <td width="350" valign="top" style="width:262.5pt;padding:7.5pt 7.5pt 7.5pt 7.5pt">
                              <p class="MsoNormal" style="line-height:125%">
                                <font size="1" color="#e4e4e4" face="Arial">
                                  <span style="font-size:8.5pt;line-height:125%;font-family:Arial;color:#e4e4e4">
                                    <% if @office.id == 3306 %>
                                      <a href="{ecampaign_track_url}&link_url=http://www.bestpractice.com.au/lists/redir/fU9RCVBQBgBSAk0ACk5XDAIHAg%3D%3D" target="_blank">
                                        <font color="white"><span style="color:white">Bestpractice.com.au</span></font>
                                      </a>
                                      Pty Limited<br>
                                      PO Box 404,
                                      Springwood NSW<br>
                                      Australia
                                      2777<br>
                                      Tel: 61 (2) 4751 5555<br>
                                      Fax: 61 (2) 4751 5211
                                    <% else %>
                                      <% if @office.url.present? %>
                                        <a href="{ecampaign_track_url}&link_url=http://<%= @office.url.gsub("http://","") %>" target="_blank">
                                          <font color="white"><span style="color:white"><%= @office.url.gsub("http://","") %></span></font>
                                        </a>
                                      <% end %>
                                      <%= @office.name %><br/>
                                      <%= "#{@office.unit_number}/" if @office.unit_number.present? %><%= @office.street_number %> <%= @office.street %> <%= @office.suburb.present? ? "#{@office.suburb}," : "" %> <%= @office.state %> <%= @office.zipcode %><br/>
                                      <%= @office.country %>
                                      <%= @office.phone_number.present? ? "Tel: #{@office.phone_number}<br>" : "" %>
                                      <%= @office.fax_number.present? ? "Fax: #{@office.fax_number}" : "" %>
                                    <% end %>
                                  </span>
                                </font>
                              </p>
                            </td>
                            <td width="190" valign="top" style="width:142.5pt;padding:7.5pt 7.5pt 7.5pt 7.5pt">
                              <p class="MsoNormal" style="line-height:125%"><font size="1" color="#e4e4e4" face="Arial"><span style="font-size:8.5pt;line-height:125%;font-family:Arial;color:#e4e4e4">&nbsp;</span></font></p>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2" bgcolor="#001A57" style="background:#001a57;padding:7.5pt 7.5pt 7.5pt 7.5pt">
                              <p class="MsoNormal" align="center" style="text-align:center;line-height:125%"><font size="1" color="#e4e4e4" face="Arial"><span style="font-size:8.5pt;line-height:125%;font-family:Arial;color:#e4e4e4">&nbsp;<a href="{unsubcribe}" target="_blank"><font color="white"><span style="color:white">unsubscribe from this list</span></font></a>
                                  <% if @update_sub.present? %>
                                    | <a href="{ecampaign_track_url}&link_url=http://<%= @update_sub.gsub("http://","") %>" target="_blank"><font color="white"><span style="color:white">update subscription preferences</span></font></a>&nbsp;<img border="0" width="1" height="1"></span></font></p>
                              <% end %>
                            </td>
                          </tr>
                        </tbody></table>
                      <p class="MsoNormal"><font size="3" face="Times New Roman"><span style="font-size:12.0pt"></span></font></p>
                    </td>
                  </tr>

                </tbody></table>
            </div>
            <p class="MsoNormal" align="center" style="text-align:center"><font size="3" face="Times New Roman"><span style="font-size:12.0pt"></span></font></p>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="display:none;">{view_open_url}</div>
  </div>
</div>