<style type="text/css">
   a img{color:transparent !important;}
   a:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
   a.info_link:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
   p{font-size:8pt;}
   .greybg{background-color:#EAEAEA;}
   .greybg tr{background:none}
   .greybg td{padding:0}
   .wrp{margin-top:3px;}
</style>
<div class="greybg" style="margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;">
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;">
    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal;background-color:<%= @bgcolor %>;margin-bottom:0">
      <tbody>
        <tr>
          <td width="760" valign="top" style="text-align:center; padding:5px 10px 20px 10px">
            <p style="margin:0; font:Arial, Helvetica, sans-serif; font-size: 8pt; color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser.</p>
          </td>
        </tr>
        <tr>
          <td>
            <% if @office.url.present? %>
              <a href="http://<%= @office.url.gsub("http://","").gsub("https://","") %>" style="padding:0">
                <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780"/>
              </a>
            <% else %>
              <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780"/>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <table width="780" border="0" cellspacing="0" cellpadding="10">
              <tr>
                <td width="500" valign="top" style="padding:5px 10px">
                  <table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tr>
                      <td bgcolor="#ffc424" style="font-family:Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; padding: 8px; text-align: center;"><%= @data["sender_title"] %></td>
                    </tr>
                    <tr>
                      <td>
                        <% if !@news_links.blank? %>
                          <% @news_links.each do |news_link| %>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>
                                  <table width="100%" border="0" cellspacing="5" cellpadding="0" style="border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: #DDDDDD;">
                                    <tr>
                                      <td colspan="2" valign="top" style="padding:10px 0">
                                        <span style="font-family:Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold;"><%= news_link["headline"] %></span><br/>
                                        <span style="font-family:Arial, Helvetica, sans-serif; font-size: 15px; font-style: italic; font-weight: normal; padding-bottom:10px;"><%= news_link["date"] %></span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <% unless free_attachment(news_link["image_id"]).blank? %>
                                        <td valign="top" style="padding:0 10px 0 0">
                                          <img src="<%= free_attachment(news_link["image_id"]) %>" width="120" style="border:#000000 2px solid;"/>
                                        </td>
                                      <% end %>
                                      <td valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size: 13px; margin-bottom:10px;">
                                        <%= news_link["description"] %>
                                        <table width="90" style="border-spacing: 0;width:90px;border-top:10px solid <%= @bgcolor %>">
                                          <tr>
                                            <td width="90" valign="middle" align="center" style="padding:7px;background-color:#ffc424;text-align:center">
                                              <span style="width: 90px;text-align:center;">
                                                <a href="{ecampaign_track_url}&link_url=http://<%= process_link(news_link["url"]) %>" style="font-size: 13px; text-decoration: none; color: #000000; width:90px;">
                                                  Read more
                                                </a>
                                              </span>
                                            </td>
                                          </tr>
                                          <tr>
                                            <% if news_link["url"].present? && @social_share.present? %>
                                              <td width="30" style="padding:10px 0 0 ">
                                                <a style="text-decoration: none" href="http://www.facebook.com/sharer.php?u=<%= news_link["url"].gsub("http://","")%>" style="text-decoration: none" target="_blank">
                                                  <img src="<%= @base_url %>/images/icons/Facebook.png"/>
                                                </a>
                                                <a style="text-decoration: none" href="http://twitter.com/home?status=<%= news_link["headline"] %> <%= news_link["url"].gsub("http://","")%>" style="text-decoration: none" target="_blank">
                                                  <img src="<%= @base_url %>/images/icons/twitter.png"/>
                                                </a>
                                              </td>
                                            <% end %>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td height="40" colspan="2" valign="top" >&nbsp;</td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                  </table>
                </td>
                <td width="280" valign="top" style="border-left-width: 3px; border-left-style: solid; border-left-color: #DDDDDD;padding: 5px 10px">
                  <% if !@sidebar_links.blank? %>
                    <% @sidebar_links.each do |sidebar_link| %>
                      <table width="100%" border="0" cellspacing="0" cellpadding="5">
                        <tr>
                          <td bgcolor="#dddddd" style="font-family:Arial, Helvetica, sans-serif;font-size: 20px; font-weight: bold; padding: 8px; text-align: center; "><%= sidebar_link["headline"] %></td>
                        </tr>
                        <tr>
                          <td bgcolor="#f4f4f4" style="padding:0 10px">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="145" colspan="3" align="center" style="text-align:center">
                                  <% unless free_attachment(sidebar_link["image_id"]).blank? %>
                                    <% if @larger_photos.present? %>
                                      <img src="<%= free_attachment(sidebar_link["image_id"]) %>" width="160" style="border:#000000 solid 2px;"/>
                                    <%else%>
                                      <img src="<%= free_attachment(sidebar_link["image_id"]) %>" width="120" style="border:#000000 solid 2px;"/>
                                    <%end%>
                                  <% end %>
                                </td>
                              </tr>
                              <% if sidebar_link["description"].present? %>
                                <tr>
                                  <td colspan="3" valign="top">
                                    <table width="100%" border="0" cellspacing="5">
                                      <tr>
                                        <td valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size: 11pt;"><%= sidebar_link["description"] %></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              <% end %>
                              <% if sidebar_link["field_name1"].present? || sidebar_link["field_name2"].present? %>
                                <tr>
                                  <td colspan="3" valign="top"><table width="100%" border="0" cellspacing="5">
                                      <% if sidebar_link["field_name1"].present? %>
                                        <tr>
                                          <td width="33%" valign="top" style="font-family:Arial, Helvetica, sans-serif;font-size: 11pt;"><%= sidebar_link["field_name1"] %></td>
                                          <td width="7%" valign="top">:</td>
                                          <td width="60%" valign="top" style="font-family:Arial, Helvetica, sans-serif;font-size: 11pt;"><%= sidebar_link["field_value1"] %></td>
                                        </tr>
                                      <% end %>
                                      <% if sidebar_link["field_name2"].present? %>
                                        <tr>
                                          <td valign="top" style="font-family:Arial, Helvetica, sans-serif;font-size: 11pt;"><%= sidebar_link["field_name2"] %></td>
                                          <td valign="top">:</td>
                                          <td valign="top" style="font-family:Arial, Helvetica, sans-serif;font-size: 11pt;"><%= sidebar_link["field_value2"] %></td>
                                        </tr>
                                      <% end %>
                                    </table></td>
                                </tr>
                              <% end %>
                              <tr>
                                <td height="30" colspan="3" align="center" style="text-align:center;padding:10px 0">
                                  <table width="90" style="width:90px;margin:auto">
                                    <tr>
                                      <td width="90" valign="middle" align="center" style="padding: 7px;background-color:#ffc424">
                                        <span style="width: 90px;text-align:center;">
                                          <a href="{ecampaign_track_url}&link_url=http://<%= process_link(sidebar_link["url"]) %>" style="font-size: 13px; text-decoration: none; color: #000000; width:90px;">Read more</a>
                                        </span>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table></td>
                        </tr>
                        <tr>
                          <td bgcolor="#ffffff" height="15"></td>
                        </tr>
                      </table>
                    <% end %>
                  <% end %>
                  <% if @facebook_social_link.present? || @twitter_social_link.present? %>
                    <table style="width:100px" border="0" cellspacing="0" cellpadding="5">
                      <tr colspan="2">
                        <td colspan="2" style="font-size: 12px; font-weight: bold;">Follow Us:</td>
                      </tr>
                      <tr>
                        <% if @facebook_social_link.present? %>
                          <td style="width:50px">
                            <a href="http://<%= @facebook_social_link.gsub("http://", "")%>" name="fb"><img src="<%= @base_url %>/images/facebook.png" /></a>
                          </td>
                        <% end %>
                        <% if @twitter_social_link.present? %>
                          <td style="width:50px">
                            <a href="http://<%= @twitter_social_link.gsub("http://", "")%>" name="tw"><img src="<%= @base_url %>/images/twitter.png" /></a>
                          </td>
                        <% end %>
                      </tr>
                    </table>
                  <% end %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal;margin-bottom:0">
      <tbody>
        <tr>
          <td style="padding:0">
            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td style="padding:0">
                    <img src="<%= @footer_image.public_filename unless @footer_image.blank? %>" width="780" height="75">
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
      <tbody>
        <tr>
          <td>
            <table cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td width="580" >
                    <p style="color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:10px; margin:0">To unsubscribe from this service please click <a href="{unsubcribe}" style="color:#999999;text-decoration:none; font-size:10px">here.</a></p>
                    <p style="color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:10px; margin: 0">Copyright © <b><%= @office.name %></b> <%= Time.now.strftime("%Y")  %></p>
                  </td>
                  <td width="195">
                    <p style="color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:10px; margin:0; text-align:right">Powered By <a href="http://agentpoint.com.au" target="_blank" style="color:#999999;text-decoration:none;"><b>Agentpoint</b></a></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <div style="display:none;">{view_open_url}</div>
  </div>
</div>