<style type="text/css">
   a img{color:transparent !important;}
   a:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
   a.info_link:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
   p{font-size:10pt;}
   .greybg{background-color:#EAEAEA;}
   .wrp{margin-top:2px;}
   .greybg td{border:0;padding:0}
</style>
<div class="greybg" style="margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;">
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;">
    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal;background-color:<%= @bgcolor %>">
      <tbody>
        <tr>
          <td width="760" valign="top" style="text-align:center; padding:5px 10px 20px 10px">
            <p style="margin:0; font:Arial, Helvetica, sans-serif; font-size: 8pt; color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser.</p>
          </td>
        </tr>
        <tr>
          <td>
            <% if @office.url.present? %>
              <a href="http://<%= @office.url.gsub("http://","").gsub("https://","") %>" style="padding:0">
                <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780"/>
              </a>
            <% else %>
              <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780"/>
            <% end %>
          </td>
        </tr>
        <tr>
          <td style="background-color:<%= @bgcolor %>;padding:10px 0">
            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td width="490" valign="top" style="background-color:<%= @bgcolor %>;color:<%= @textcolor %>;vertical-align:top;padding:0 10px">
                    <% if @data["sender_description"].present? %>
                      <% unless session["no_dear"].present? %>
                        <p style="margin:0">Dear{recipient_name},</p><br/>
                      <% end %>
                      <%= @data["sender_description"] %>
                    <% end %>
                  </td>
                  <td width="250" valign="top" style="background-color:<%= @heading %>;width: 250px;vertical-align:top;padding:0 10px;text-align:center">
                    <table cellpadding="0" cellspacing="0" style="white-space:normal;margin:auto">
                      <tbody>
                        <% unless @facebook_social_link.blank? %>
                          <tr>
                            <td style="padding: 0 0 5px 0;">
                              <a style="font-size:10pt;color:<%= @headingtextcolor %>;text-decoration:none;" href="{ecampaign_track_url}&link_url=http://<%= @facebook_social_link.gsub("http://", "") %>" name="fb"><img src="http://agentpoint.agentaccount.com/images/sfs_icon_facebook.png" />&nbsp;Friend on Facebook</a>
                            </td>
                          </tr>
                        <% end %>
                        <% unless @twitter_social_link.blank? %>
                          <tr>
                            <td style="padding: 0 0 5px 0;">
                              <a style="font-size:10pt;color:<%= @headingtextcolor %>;text-decoration:none;" href="{ecampaign_track_url}&link_url=http://<%= @twitter_social_link.gsub("http://", "") %>" name="tw"><img src="http://agentpoint.agentaccount.com/images/sfs_icon_twitter.png" />&nbsp;Follow on Twitter</a>
                            </td>
                          </tr>
                        <% end %>
                        <%= @general_links %>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <% unless @footer_image.blank? %>
          <tr>
            <td>
              <img src="<%= @footer_image.public_filename %>" width="780" height="75" />
            </td>
          </tr>
        <% end %>
        <tr>
          <td valign="top" align="center" style="background:#f4f4f4;border-left: 90px solid #f4f4f4;border-right: 90px solid #f4f4f4;text-align:center">
            <table width="600" cellpadding="0" cellspacing="0" style="white-space:0">
             <tbody>
                <tr>
                  <td valign="top" style="text-align:center;background:#f4f4f4;padding-top:15px">
                    <% if @office.url.present? %>
                      <p style="color:#474747;font-size:8pt;line-height:21px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:1.4em;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-weight:normal;">
                        This email was sent to {recipient_mail_address} by <a href="http://<%= @office.url.gsub("http://","") %>" style="color:#ff4920;text-decoration:none !important;"><%= @office.url.gsub("http://","") %></a>. <br/>
                        <%= "#{@office.unit_number}/" if @office.unit_number.present? %><%= @office.street_number %> <%= @office.street %> <%= @office.suburb %>, <%= @office.state %> <%= @office.zipcode %><br/>
                        If you no longer wish to receive this newsletter you may <a href="{unsubcribe}" style="color:#ff4920;text-decoration:underline;">unsubscribe here</a>.<br/>
                      </p>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="display:none;">{view_open_url}</div>
  </div>
</div>