<div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
  <div class="set">
     <div style="width:100%" id="linkcont">
      <h6>Links</h6>
      <div id="setter"></div>
        <div class="bordered-cont" id="linkcont_social">
        <table style="border:none;">
          <tr style="background-color:#E1EBF5"><td colspan="2"><b>Social Links:</b></td></tr>
          <tr style="background-color:#E1EBF5"><td style="padding-left:10px;width:600px;" colspan="2">
            <div class="campaingn_social_link">
              <div class="campaingn_link_wrapper marg">
                <div class="campaign-link-title">&nbsp;Facebook:&nbsp;</div>
                <div class="campaign-link-link"><input type="text" name="facebook_social_link" class="single" style="width:495px;" value="<%= @facebook_social_link %>" /></div>
                <div style="clear:both;"></div>
              </div>
              <div class="campaingn_link_wrapper marg">
                <div class="campaign-link-title">&nbsp;Twitter:&nbsp;</div>
                <div class="campaign-link-link"><input type="text" name="twitter_social_link" class="single" style="width:495px;" value="<%= @twitter_social_link %>" /></div>
                <div style="clear:both;"></div>
              </div>
            </div>
            </td>
          </tr>
        </table>
        </div>
       <div class="bordered-cont" id="linkcont_general">
       <table style="border:none;">
        <tr style="background-color:#E1EBF5"><td><b>Side Images (width: 185px):</b></td></tr>
        <tr style="background-color:#E1EBF5"><td style="padding-left:10px;width:350px;">
          <div class="campaingn_general_link" style="width:90%;margin:0 auto;">
            <% if @general_links.blank? %>
              <div class="logos">
                <table width="230">
                  <tr><td colspan="2" style="text-align:center;height:150px;">&nbsp;</td></tr>
                  <tr><td>&nbsp;<b>Link:&nbsp;</b></td><td><input type="hidden" name="general_link[][id]" value="" /><input type="text" name="general_link[][url]" class="single" style="width:190px;" value="" /></td></tr>
                  <tr><td>&nbsp;<b>Image Logo:&nbsp;</b></td><td><input type="file" name="general_link[][uploaded_data]" id="general_link__uploaded_data" /></td></tr>
                </table>
              </div>
            <% else %>
              <% @general_links.each do |general_link| %>
               <div class="logos" id="img-<%= general_link["id"] %>">
                  <table width="230">
                    <tr>
                      <td colspan="2" style="text-align:center;height:150px;">
                        <img src="<%= free_attachment(general_link["id"]) %>" width="185"/>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;<b>Link:&nbsp;</b></td>
                      <td>
                        <input type="hidden" name="general_link[][id]" value="<%= general_link["id"].to_s %>" />
                        <input type="text" name="general_link[][url]" class="single" style="width:190px;" value="<%= general_link["url"] %>" />
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;<b>Image Logo:&nbsp;</b></td>
                      <td>
                        <input type="file" name="general_link[][uploaded_data]" id="general_link__uploaded_data" />
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        &nbsp;<a href="#delete_image" name="delete_img" onclick="confirm_delete(<%= general_link["id"].to_s %>)">Delete Image</a>
                        <img src="<%=@base_url%>/images/search-loader.gif" id="loader-<%= general_link["id"].to_s %>" style="display:none"/>
                      </td>
                    </tr>
                  </table>
                </div>
              <% end %>
            <% end %>
          </div>
        </td>
        </tr>
      </table>
         <a href="javascript:add_general_link();" name="add_general_link">Add</a>
      </div>
     </div>
  </div>
  <div class="clearer"></div>
</div>
<script type="text/javascript">
  function confirm_delete(id){
    $("#loader-"+id).show();
    jQuery.ajax({
      type: "DELETE",
      url: "/agents/"+<%= @agent.id %>+"/offices/"+<%= @office.id %>+"/emarketings/delete_emarketing_image",
      data: "image_id="+id+"&emarketing_id=<%=session["emarketing_id"]%>",
      dataType:"script",
      success: function(){
        $("#img-"+id).remove();
      },
      error : function(xhr, textStatus, errorThrown ) {
        if (textStatus == 'timeout') {
          this.tryCount++;
          if (this.tryCount <= this.retryLimit) {
            $.ajax(this);
            return;
          }
          return;
        }
        if (xhr.status == 500) {
          alert('There seems to be a server problem, please try again later.');
        } else {
          alert('There was a problem, please try again later.');
        }
      }
    });
    return false;
  };
</script>