<style type="text/css">
   a img{color:transparent !important;}
   a:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
   a.info_link:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
   p{font-size:8pt;}
   .greybg{background-color:#EAEAEA;}
   .wrp{margin-top:3px;}
</style>
<div class="greybg" style="margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;">
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;text-align:center;font-size:8pt;color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser. Or <a href="{forward}" style="color:#999999;" target="_blank">click here <img style="width: 22px;position: relative;top: 7px;left: 2px;" src="<%= @base_url %>/images/mail_forward.png"/></a> to forward this email</div>
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;">
  <% if @header_image.present? %>
    <div style="width:780px;height:<%= @header_image.height %>px;">
      <% if @office.url.present? %>
        <a href="http://<%= @office.url.gsub("http://","").gsub("https://","") %>" style="padding:0">
          <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780" height="<%= @header_image.height %>" />
        </a>
      <% else %>
        <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780" height="<%= @header_image.height %>" />
      <% end %>
    </div>
  <% end %>
  <% if @data.present? && @data["sender_description"].present? %>
    <div class="no-margin padding10p" style="background-color:#fff">
        <% unless session["no_dear"].present? %>
          <p style="margin:0;font-size:13px">Dear{recipient_name},</p>
        <% end %>
        <%= (@data["sender_description"]) %>
    </div>
  <% end %>
  <div style="font-family:arial;margin-bottom:3px;" class="wrp">
    <% if @data.present? && @data["link_url"].present? %>
      <a href="{emarketing_track_url}&link_url=http://<%= process_link(@data["link_url"]) %>" name="link_url" style="text-decoration:none;padding:0;margin:0;">
        <img src="<%= @emarketing_image.public_filename unless @emarketing_image.blank? %>" width="780" />
      </a>
    <% else %>
      <img src="<%= @emarketing_image.public_filename unless @emarketing_image.blank? %>" width="780" />
    <% end %>
  </div>
  <% unless @footer_image.blank? %>
    <div style="font-family:arial;width:780px;height:75px;">
      <img src="<%= @footer_image.public_filename %>" width="780" height="75" />
    </div>
  <% end %>
  </div>
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;font-size:8pt;color:#999999;">
    <div style="font-family:arial;width:400px;float:left;">To unsubcribe from this service please <a href="{unsubcribe}" style="color:#999999;text-decoration:underline;">click here</a>.</div>
    <div style="font-family:arial;width:300px;float:right;text-align:right">Powered By <a href="http://agentpoint.com.au" target="_blank" style="color:#999999;text-decoration:underline;"><b>Agentpoint</b></a></div>
    <div style="font-family:arial;clear:both;"></div>
    <div style="font-family:arial;width:400px;">Copyright &copy; <b><%= @office.name %></b> <%= Time.now.strftime("%Y")  %></div>
    <div style="font-family:arial;display:none;">{view_open_url}</div>
  </div>
</div>