<div class="block form group" style="background-color:#E1EBF5;">
  <div class="set">
    <div style="width:100%">
      <div>
        <div style="float:left;"><h6>Social Links:</h6></div>
        <div class="clearer"></div>
      </div>
      <div class="">
        <div class="bordered-cont" id="linkcont_social">
          <div class="nl-wrp">
            <div class="nl1">
              <div class="nl1-text-w1">Facebook:</div>
              <div class="nl1-text-w2"><input type="text" name="facebook_social_link" class="single" style="width:495px;" value="<%= @facebook_social_link %>" /></div>
              <div class="clearer"></div>
            </div>
            <div class="nl1">
              <div class="nl1-text-w1">Twitter:</div>
              <div class="nl1-text-w2"><input type="text" name="twitter_social_link" class="single" style="width:495px;" value="<%= @twitter_social_link %>" /></div>
              <div class="clearer"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block form group-bluesky">
  <div class="set">
     <div>
      <h6>Top Image</h6><br/>
      <table class="border-less">
        <tr class="blue-bgcolor"><td class="wd-150">Image link:</td><td><input type="text" name="data[link_url]" id="data_link_url" class="single" style="width:350px;" value="<%= @data["link_url"] unless @data.blank? %>" /></td>
        </tr>
        <tr class="blue-bgcolor">
          <td class="wd-150">Top Image (width= 600px, height= 122px) :</td>
          <td> <%= file_field_tag 'emarketing_image[uploaded_data]' %>
          <% unless @emarketing_image.blank? %>
            <p id="p-<%= @emarketing_image.id %>">Your Current Top Image: <br/> 
              <img id="image-<%= @emarketing_image.id %>" src="<%= @emarketing_image.public_filename %>" width="780"/><br/>
              <%= link_to 'Delete top image',delete_emarketing_image_agent_office_emarketings_path,:onclick => "confirm_delete(#{@emarketing_image.id});return false;", :class=>"delete_#{@emarketing_image.id}" %>
              <img src="<%=@base_url%>/images/search-loader.gif" id="loader-<%= @emarketing_image.id %>" style="display:none"/>
            </p>
          <% end %>
          </td>
        </tr>
      </table>
     </div>
  </div>
  <div class="clearer"></div>
</div>

<div id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
  <div class="set">
     <div style="width:100%" id="linkcont">
       <div>
         <div style="float:left;"><h6>News Links</h6></div>
         <div style="float:left;font-size:9pt;">&nbsp;(<a href="javascript:add_news_link();" name="add_news_link">Add News link</a>)</div>
         <div class="clearer"></div>
       </div>
      <div class="news_setter" id="news_setter">
        <% if !@news_links.blank? %>
           <% @news_links.each_with_index do |news_link, idx| %>
            <div class="bordered-cont news_links" id="nl<%= idx %>">
             <div style="font-size:9pt;">
               <img src="<%=@base_url%>/images/search-loader.gif" id="loader-<%= idx %>" style="padding-left:10px;display:none"/>
               <div style="float:left;">
                 <% if news_link["image_id"].present? %>
                   <a href="#remove_container" name="delete_news_link" onclick="remove_container(<%= idx %>, <%= news_link["image_id"] %>, <%= news_link["id"] %>, 'news_link' )">Remove container</a>
                 <% else %>
                   <a href="#remove_container" name="delete_news_link" onclick="remove_container(<%= idx %>,' ',<%= news_link["id"] %>, 'news_link' )">Remove container</a>
                 <% end %>
               </div>
               <div style="float:right;margin-right:10px;"></div>
             </div>
             <div class="clearer"></div>
             <div class="nl-wrp">
               <input type="hidden" name="news_link[][id]" value="<%= news_link["id"] %>"/>
               <input type="hidden" name="news_link[][image_id]" value="<%= news_link["image_id"] %>"/>
               <input type="hidden" name="news_link[][image_id2]" value="<%= news_link["image_id2"] %>"/>

               <div class="nl1">
                 <div class="nl1-text-w1">Headline:</div>
                 <div class="nl1-text-w2"><input type="text" name="news_link[][headline]" class="single" value="<%= news_link["headline"] %>"/></div>
                 <div class="nl1-text-w1">Link url:</div>
                 <div class="nl1-text-w2"><input type="text" name="news_link[][url]" class="single" value="<%= news_link["url"] %>"/></div>
                 <div class="clearer"></div>
               </div>
               <div class="nl1">
                 <div class="nl1-text-w1">Description:</div>
                 <textarea class="desc-area mceEditor" name="news_link[][description]" cols="89" rows="2" style="width:666px;height:200px"><%= news_link["description"] %></textarea>
               </div>
               <div class="nl1">
                 <div class="nl1-text-w1">Image:</div>
                 <div class="nl1-text-w2">
                   <% if free_attachment(news_link["image_id"]).present? %>
                     <a href="#delete_image" name="delete_img" onclick="confirm_delete(<%= news_link["image_id"] %>,1)">Delete Image</a>
                     <img src="<%=@base_url%>/images/search-loader.gif" id="loader-<%= news_link["image_id"] %>" style="display:none"/><br/>
                   <% end %>
                   <img id="p-<%= news_link["image_id"] %>" src="<%= free_attachment(news_link["image_id"]) %>" width="150" class="paddingB10"/>
                   <input type="file" name="news_link[][uploaded_data]"/>
                 </div>
                 <div class="nl1-text-w1">Custom button image:</div>
                 <div class="nl1-text-w2">
                   <% if free_attachment(news_link["image_id2"]).present? %>
                      <a href="#delete_image" name="delete_img" onclick="confirm_delete(<%= news_link["image_id2"] %>,2)">Delete Image</a>
                      <img src="<%=@base_url%>/images/search-loader.gif" id="loader-<%= news_link["image_id2"] %>" style="display:none"/><br/>
                   <% end %>
                   <img id="p-<%= news_link["image_id2"] %>" src="<%= free_attachment(news_link["image_id2"]) %>" width="150" class="paddingB10"/>
                   <input type="file" name="news_link[][custom_button][uploaded_data]"/>
                 </div>
               </div>
              </div>
             <div class="clearer"></div>
            </div>
           <% end %>
        <% end %>
          <div class="bordered-cont news_links">
           <div class="nl-wrp">
             <input type="hidden" name="news_link[][id]"/>
             <input type="hidden" name="news_link[][image_id]"/>
             <input type="hidden" name="news_link[][image_id2]"/>

             <div class="nl1">
               <div class="nl1-text-w1">Headline:</div>
               <div class="nl1-text-w2"><input type="text" class="single" name="news_link[][headline]"/></div>
               <div class="nl1-text-w1">Link url:</div>
               <div class="nl1-text-w2"><input type="text" class="single" name="news_link[][url]"/></div>
               <div class="clearer"></div>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Description:</div>
               <textarea class="desc-area mceEditor" name="news_link[][description]" cols="89" rows="2" style="width:666px;height:200px"></textarea>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Image:</div>
               <div class="nl1-text-w2"><input type="file" name="news_link[][uploaded_data]"/></div>
               <div class="nl1-text-w1">Custom button image:</div>
               <div class="nl1-text-w2">
                 <input type="file" name="news_link[][custom_button][uploaded_data]"/>
               </div>
             </div>
            </div>
           <div class="clearer"></div>
          </div>
      </div>
     </div>
  </div>
  <div class="clearer"></div>
</div>

<div id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
  <div class="set">
     <div style="width:100%" id="linkcont">
       <div>
         <div style="float:left;"><h6>Bottom Left News Links</h6></div>
         <div class="clearer"></div>
       </div>
      <div>
        <% if !@bottom_left.blank? %>
          <div class="bordered-cont">
           <div class="clearer"></div>
           <div class="nl-wrp">
             <input type="hidden" name="bottom_left[][id]" value="<%= @bottom_left["id"] %>"/>
             <input type="hidden" name="bottom_left[][image_id]" value="<%= @bottom_left["image_id"] %>"/>
             <div class="nl1">
               <div class="nl1-text-w1">Headline:</div>
               <div class="nl1-text-w2"><input type="text" name="bottom_left[][headline]" class="single" value="<%= @bottom_left["headline"] %>"/></div>
               <div class="nl1-text-w1">Link url:</div>
               <div class="nl1-text-w2"><input type="text" name="bottom_left[][url]" class="single" value="<%= @bottom_left["url"] %>"/></div>
               <div class="clearer"></div>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Description:</div>
               <textarea class="desc-area mceEditor" name="bottom_left[][description]" cols="89" rows="2" style="width:666px;height:200px"><%= @bottom_left["description"] %></textarea>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Image:</div>
               <div class="nl1-text-w2">
                 <% if free_attachment(@bottom_left["image_id"]).present? %>
                    <a href="#delete_image" name="delete_img" onclick="confirm_delete(<%= @bottom_left["image_id"] %>,3)">Delete Image</a>
                    <img src="<%=@base_url%>/images/search-loader.gif" id="loader-<%= @bottom_left["image_id"] %>" style="display:none"/><br/>
                 <% end %>
                 <img id="p-<%= @bottom_left["image_id"] %>" src="<%= free_attachment(@bottom_left["image_id"]) %>" width="150" class="paddingB10"/><br/>
                 <input type="file" name="bottom_left[][uploaded_data]"/>
               </div>
             </div>
            </div>
           <div class="clearer"></div>
          </div>
        <% else %>
          <div class="bordered-cont">
           <div class="nl-wrp">
             <input type="hidden" name="bottom_left[][id]"/>
             <input type="hidden" name="bottom_left[][image_id]"/>
             <div class="nl1">
               <div class="nl1-text-w1">Headline:</div>
               <div class="nl1-text-w2"><input type="text" class="single" name="bottom_left[][headline]"/></div>
               <div class="nl1-text-w1">Link url:</div>
               <div class="nl1-text-w2"><input type="text" class="single" name="bottom_left[][url]"/></div>
               <div class="clearer"></div>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Description:</div>
               <textarea class="desc-area mceEditor" name="bottom_left[][description]" cols="89" rows="2" style="width:666px;height:200px"></textarea>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Image:</div>
               <div class="nl1-text-w2"><input type="file" name="bottom_left[][uploaded_data]"/></div>
             </div>
            </div>
           <div class="clearer"></div>
          </div>
        <% end %>
      </div>
     </div>
  </div>
  <div class="clearer"></div>
</div>

<div id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
  <div class="set">
     <div style="width:100%" id="linkcont">
       <div>
         <div style="float:left;"><h6>Bottom Right News Links</h6></div>
         <div class="clearer"></div>
       </div>
      <div>
        <% if !@bottom_right.blank? %>
          <div class="bordered-cont">
           <div class="clearer"></div>
           <div class="nl-wrp">
             <input type="hidden" name="bottom_right[][id]" value="<%= @bottom_right["id"] %>"/>
             <input type="hidden" name="bottom_right[][image_id]" value="<%= @bottom_right["image_id"] %>"/>
             <div class="nl1">
               <div class="nl1-text-w1">Headline:</div>
               <div class="nl1-text-w2"><input type="text" name="bottom_right[][headline]" class="single" value="<%= @bottom_right["headline"] %>"/></div>
               <div class="nl1-text-w1">Link url:</div>
               <div class="nl1-text-w2"><input type="text" name="bottom_right[][url]" class="single" value="<%= @bottom_right["url"] %>"/></div>
               <div class="clearer"></div>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Description:</div>
               <textarea class="desc-area mceEditor" name="bottom_right[][description]" cols="89" rows="2" style="width:666px;height:200px"><%= @bottom_right["description"] %></textarea>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Image:</div>
               <div class="nl1-text-w2">
                 <% if free_attachment(@bottom_right["image_id"]).present? %>
                    <a href="#delete_image" name="delete_img" onclick="confirm_delete(<%= @bottom_right["image_id"] %>,4)">Delete Image</a>
                    <img src="<%=@base_url%>/images/search-loader.gif" id="loader-<%= @bottom_right["image_id"] %>" style="display:none"/><br/>
                 <% end %>
                 <img id="p-<%= @bottom_right["image_id"] %>" src="<%= free_attachment(@bottom_right["image_id"]) %>" width="150" class="paddingB10"/>
                 <input type="file" name="bottom_right[][uploaded_data]"/>
               </div>
             </div>
            </div>
           <div class="clearer"></div>
          </div>
        <% else %>
          <div class="bordered-cont">
           <div class="nl-wrp">
             <input type="hidden" name="bottom_right[][id]"/>
             <input type="hidden" name="bottom_right[][image_id]"/>
             <div class="nl1">
               <div class="nl1-text-w1">Headline:</div>
               <div class="nl1-text-w2"><input type="text" class="single" name="bottom_right[][headline]"/></div>
               <div class="nl1-text-w1">Link url:</div>
               <div class="nl1-text-w2"><input type="text" class="single" name="bottom_right[][url]"/></div>
               <div class="clearer"></div>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Description:</div>
               <textarea class="desc-area mceEditor" name="bottom_right[][description]" cols="89" rows="2" style="width:666px;height:200px"></textarea>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Image:</div>
               <div class="nl1-text-w2"><input type="file" name="bottom_right[][uploaded_data]"/></div>
             </div>
            </div>
           <div class="clearer"></div>
          </div>
        <% end %>
      </div>
     </div>
  </div>
  <div class="clearer"></div>
</div>

<script type="text/javascript">
  function add_news_link(){ $(".news_setter").append($('.news_links:last').clone()); }
  function add_sidebar_link(){ $(".sidebar_setter").append($('.sidebar_links:last').clone()); }

  $("#sidebar_setter").sortable({opacity: 0.6, cursor: 'move',update: function() {} });

  function confirm_delete(id,part){
    $("#loader-"+id).show();
    if (part == undefined)
    {part = ""}
    jQuery.ajax({
      type: "DELETE",
      url: "/agents/"+<%= @agent.id %>+"/offices/"+<%= @office.id %>+"/emarketings/delete_emarketing_image",
      data: "image_id="+id+"&emarketing_id=<%=session["emarketing_id"]%>"+"&part="+part,
      dataType:"script",
      success: function(){
        $("#p-"+id).remove();
        $("#loader-"+id).hide();
      },
      error : function(xhr, textStatus, errorThrown ) {
        if (textStatus == 'timeout') {
          this.tryCount++;
          if (this.tryCount <= this.retryLimit) {
            $.ajax(this);
            return;
          }
          return;
        }
        if (xhr.status == 500) {
          alert('There seems to be a server problem, please try again later.');
        } else {
          alert('There was a problem, please try again later.');
        }
      }
    });
    return false;
  };

  function remove_container(idx, img_id, id, type){
    if (type == "news_link"){$("#loader-"+idx).show();}
    if (type == "sidebar_link"){$("#slloader-"+idx).show();}
    jQuery.ajax({
      type: "DELETE",
      url: "/agents/"+<%= @agent.id %>+"/offices/"+<%= @office.id %>+"/emarketings/delete_image",
      data: "type="+type+"&image_id="+img_id+"&id="+id,
      dataType:"script",
      success: function(){
        if (type == "news_link"){$("#nl"+idx).remove();}
        if (type == "sidebar_link"){$("#sl"+idx).remove();}
      },
      error : function(xhr, textStatus, errorThrown ) {
        if (textStatus == 'timeout') {
          this.tryCount++;
          if (this.tryCount <= this.retryLimit) {
            $.ajax(this);
            return;
          }
          return;
        }
        if (xhr.status == 500) {
          alert('There seems to be a server problem, please try again later.');
        } else {
          alert('There was a problem, please try again later.');
        }
      }
    });
    return false;
  };
</script>
<style type="text/css">
  .nl-wrp{font-size:8pt;font-weight:bold;}
  .nl1{margin-bottom:5px;}
  .nl1-text-w1{width:80px;margin-right:10px;float:left;}
  .nl1-text-w2{width:240px;margin-right:10px;float:left;}
  .nl1-text-w2 input{width:230px;}
  .nl1-text-w3{width:300px;margin-right:10px;float:left;}
</style>