<div class="title_block block">
  <h2 class="page_title">Choose Layout</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= choose_layout_agent_office_emarketings_path(@agent, @office) %>" method="post" name="frm1">
<div id="clientdiv" class="block accounts full">
  <div style="width:80%">
      <div class="brochure_layout_wraper h230">
        <div class="layout-opt">
          <input type="radio" name="layout" value="theme1" style="vertical-align:top;" <%= @emarketing_layout.blank? ? "checked" : (@emarketing_layout == "theme1" ? "checked" : "") %>/>&nbsp;Template 1
        </div>
        <div class="layout-title">
          <a class="thumbnail" href="/images/theme/emarketing01_preview.png" >
            <img src='/images/theme/emarketing01_thumb.png' style="border:1px solid black;" />
            <div class="magnifier pos3">&nbsp;</div>
          </a>
        </div>
      </div>
      <div class="brochure_layout_wraper h230">
        <div class="layout-opt">
          <input type="radio" name="layout" value="theme2" style="vertical-align:top;" <%= @emarketing_layout == "theme2" ? "checked" : "" %> />&nbsp;Template 2
        </div>
        <div class="layout-title">
          <a class="thumbnail" href="/images/theme/emarketing02_preview.png" >
            <img src='/images/theme/emarketing02_thumb.png' style="border:1px solid black;" />
            <div class="magnifier pos3">&nbsp;</div>
          </a>
        </div>
      </div>
      <div class="brochure_layout_wraper h230">
        <div class="layout-opt">
          <input type="radio" name="layout" value="theme3" style="vertical-align:top;" <%= @emarketing_layout == "theme3" ? "checked" : "" %> />&nbsp;Template 3
        </div>
        <div class="layout-title">
          <a class="thumbnail" href="/images/theme/emarketing03_preview.png" >
            <img src='/images/theme/emarketing03_thumb.png' style="border:1px solid black;" />
            <div class="magnifier pos3">&nbsp;</div>
          </a>
        </div>
      </div>
      <div class="brochure_layout_wraper h230">
        <div class="layout-opt">
          <input type="radio" name="layout" value="theme4" style="vertical-align:top;" <%= @emarketing_layout == "theme4" ? "checked" : "" %> />&nbsp;Template 4
        </div>
        <div class="layout-title">
          <a class="thumbnail" href="/images/theme/emarketing04_preview.png" >
            <img src='/images/theme/emarketing04_thumb.png' style="border:1px solid black;height:168px" />
            <div class="magnifier pos3">&nbsp;</div>
          </a>
        </div>
      </div>
      <div class="brochure_layout_wraper h230">
        <div class="layout-opt">
          <input type="radio" name="layout" value="theme5" style="vertical-align:top;" <%= @emarketing_layout == "theme5" ? "checked" : "" %> />&nbsp;Template 5
        </div>
        <div class="layout-title">
          <a class="thumbnail" href="/images/theme/emarketing05_preview.png" >
            <img src='/images/theme/emarketing05_thumb.png' style="border:1px solid black;" height="166" />
            <div class="magnifier pos3">&nbsp;</div>
          </a>
        </div>
      </div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8"><td class="value" colspan="5">
          <button name="choose_layout" type="submit" value="Update" style="float:right;" class="submit_btn" class="submit_btn">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>

<style>
  .layout-opt{width:142px;text-align:center;font-size:10pt;font-weight:bold;margin-bottom:2px;}
  .layout-title{width:142px;text-align:center;}
</style>
<script>
  $(function() {
	$('.layout-title a').lightBox({fixedNavigation:true});
        $('.thumbnail').mouseover(function(){
          $(this).children('.magnifier').css('display','block')
        })
        $('.thumbnail').mouseout(function(){
          $(this).children('.magnifier').css('display','none')
        })
  });
</script>
