<div class="block help full">
  <div class="title_block threequarters leader"><h2>Emarketing</h2>  </div>
  <div class="block help quarter follower">
    <div class="upload_button">
      <%= link_to 'Setup Emarketing', choose_layout_agent_office_emarketings_path(@agent, @office), :class => 'btn' %>
    </div><br/>
  </div>
</div>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <h6>Existing Emarketing </h6>
     <fieldset class="pf_fs2">
         <table width="100%" cellpadding="0" cellspacing="0">
           <tr>
             <td style="background-color:#f0f0f0;"><b>No</b></td>
             <td style="background-color:#f0f0f0;"><b>Title</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Sent</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Views</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>%</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Clicked</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Bounced</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Forward</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Unsubscribed</b></td>
             <td style="background-color:#f0f0f0;"><b>Created</b></td>
             <td style="background-color:#f0f0f0;"><b>Sent</b></td>
             <td style="background-color:#f0f0f0;"><b>Action</b></td>
           </tr>
          <% @emarketings.each_with_index do |emarketing, index| %>
           <tr>
             <td width="5%"><%= (index+1) %></td>
             <td width="30%"><%= emarketing["title"] %></td>
             <td style="text-align:center;"><%= link_to emarketing["recipient"], "/agents/#{@agent.id}/offices/#{@office.id}/emarketings/#{emarketing["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to emarketing["opened"], "/agents/#{@agent.id}/offices/#{@office.id}/emarketings/#{emarketing["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to view_rates(emarketing["opened"], emarketing["recipient"])+" %" , "/agents/#{@agent.id}/offices/#{@office.id}/emarketings/#{emarketing["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to emarketing["clicked"].blank? ? "0" : emarketing["clicked"] , "/agents/#{@agent.id}/offices/#{@office.id}/emarketings/#{emarketing["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to emarketing["bounced"].blank? ? "0" : emarketing["bounced"] , "/agents/#{@agent.id}/offices/#{@office.id}/emarketings/#{emarketing["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to emarketing["forwarded"].blank? ? "0" : emarketing["forwarded"] , "/agents/#{@agent.id}/offices/#{@office.id}/emarketings/#{emarketing["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to emarketing["unsubcribed"].blank? ? "0" : emarketing["unsubcribed"] , "/agents/#{@agent.id}/offices/#{@office.id}/emarketings/#{emarketing["id"]}/stats", :style => "color:blue;"  %></td>
             <td>
               <%= (emarketing["created_at"].blank? ? "-" : emarketing["created_at"].to_date.strftime("%d %B %Y")) %><br/>
               <%= (emarketing["created_at"].blank? ? "-" : emarketing["created_at"].to_datetime.strftime("%H:%M:%S")) %>
             </td>
             <td>
               <%= emarketing_sent_at_time(emarketing["id"]) %>
             </td>
             <td width="13%">
               <% if emarketing["sent_at"].blank? %><%= link_to "Edit", "/agents/#{@agent.id}/offices/#{@office.id}/emarketings/#{emarketing["id"]}/edit_emarketing", :style => "color:blue;"  %><% else %>Edit<% end %>
               &nbsp;|&nbsp;
               <%= link_to "Duplicate", "/agents/#{@agent.id}/offices/#{@office.id}/emarketings/#{emarketing["id"]}/duplicate_emarketing", :style => "color:blue;"  %>&nbsp;|&nbsp;
               <%= link_to "Stats", "/agents/#{@agent.id}/offices/#{@office.id}/emarketings/#{emarketing["id"]}/stats", :style => "color:blue;"  %>&nbsp;|&nbsp;
               <%= link_to "Delete", "/agents/#{@agent.id}/offices/#{@office.id}/emarketings/#{emarketing["id"]}/delete_emarketing", :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :style => "color:red;" %>&nbsp;|&nbsp;
               <% if emarketing["sent_at"].blank? %>
                 <%= link_to "Send Emarketing", "/agents/#{@agent.id}/offices/#{@office.id}/emarketings/#{emarketing["id"]}/view_and_send", :style => "color:blue;"  %>
               <% else %>
                  Sent &nbsp;|&nbsp;
                  <%= link_to "View", "/agents/#{@agent.id}/offices/#{@office.id}/emarketings/#{emarketing["id"]}/preview", :style => "color:blue;", :target => "_blank" %>
               <% end %>
             </td>
           </tr>
           <% end %>
         </table>
    </fieldset>
    </div>
  </div>
</div>