<div id="logo" style ="text-align: center">
  <% unless @office.logos.blank? %>
    <p><%= image_tag(@office.logos.first.public_filename,:width => 200)%> </p>
  <%end%> 
  <h1 id="logo" style="font-size: 20px">
    <%= @office.name.include?("Sign") ? "#{@office.name}" : "#{@office.name} Unsubcribe Mailing List" %>
  </h1><br/>
</div>
<div id="teamadddiv" class="block full" style="width:430px;text-align: center;margin: auto;">
  <form method="post" name="frm1" action="" class="member_details_form" >
  <div id="memdetailsdescrdiv" class="block transparent leader">
    <div id="memberdetailsdiv" class="group">
      <h4 class="full" style="color:#003311;">You have successfully unsubscribed from this mailing list</h4>
      <div class="set"></div>
    </div>
  </div>
  </form>
</div>