<div class="title_block block">
  <h2 class="page_title">View Email</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<% if @emarketing_layout == "theme3" %>
<style type="text/css">
  /* reset for outlook */
   .view table {
        -moz-border-radius: none;
        border: none;
        border-collapse: none;
        border-spacing: none;
        clear: both;
        margin: none;
        padding: none;
        width: 100%;
    }
    .view p, ul, ol, button {
        font-size: 8pt;
    }
    .view tr { background-color: transparent; }
    .view td { border-bottom: none;}
    .view table table td{ padding:5px;}
    .view table table.tab_foot td{ padding:0;}
    .view th, td { padding: none; vertical-align: top; }
    .view caption, th, td { font-weight: none; text-align: left; }
    .view div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, button, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
        border: none;
        margin: none;
        outline: none;
        padding: none;
    }
</style>
<% end %>
<form action="" method="post" name="frm1">
<div id="clientdiv" class="block accounts full">
  <%= render :partial => @emarketing_layout %>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8"><td class="value" colspan="5">
          <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= select_recipient_agent_office_emarketings_path(@agent, @office) %>'" class="submit_btn">« Previous</button>
          <form action="" method="post" name="frm1">
            <input type="hidden" name="send_emarketing" value="true"/>
            <button name="choose_submit" type="submit" value="Update" style="float:right;background-color: #F85911;color:#FFFFFF;">Send Emarketing</button>
          </form>
          <button name="choose_submit" type="button" value="Update" style="float:right;" onclick="window.location= '<%= agent_office_emarketings_path(@agent, @office) %>'" class="submit_btn">Save Emarketing</button>
          <%= link_to 'Send Sample', sample_agent_office_emarketing_path(@agent,@office,@emarketing)+"?KeepThis=true&TB_iframe=true&height=350&width=700&modal=true",:class =>"thickbox submit_btn",:id=>"send_sample", :style => "-moz-border-radius: 4px 4px 4px 4px;float:right;color:blue;margin-right:10px;background-color: #CDE9F8;color: #28323C;cursor: pointer;font-weight: bold;overflow: visible;padding: 3px 4px;text-decoration: none;width: auto;" %>
        </td></tr>
      </table>
  </div>
  <div id="senderdesc" style="display:none">
    <%=@data["sender_description"]%>
  </div>
  <div id="news-links" style="display:none">
    <% if !@news_links.blank? %>
      <% @news_links.each do |news_link| %>
        <%= news_link["description"] %>
      <% end %>
    <% end %>
  </div>
</div>
</form>

<script>
  $(document).ready(function(){
    jQuery('#senderdesc').find('a').each(function(){
      $('#senderdesc').append('<input type="hidden" name="user_links[]" value="'+$(this).attr('href')+'" />')
    })
    jQuery('#news-links').find('a').each(function(){
      $('#news-links').append('<input type="hidden" name="news_urls[]" value="'+$(this).attr('href')+'" />')
    })
  })

</script>