<div class="group" style="background-color:#E1EBF5;">
<table cellpadding="0" cellspacing="0" class="update_table full">
<tr>
  <th class="first_cell" style="width:80px;background-color:#C8D2DC;">Date</th>
  <th style="width:200px;background-color:#C8D2DC;">Alert Type</th>
  <th style="background-color:#C8D2DC;">Property Type</th>
  <th style="width:80px;background-color:#C8D2DC;">Min Price</th>
  <th style="width:80px;background-color:#C8D2DC;">Max Price</th>
  <th style="width:250px;background-color:#C8D2DC;">Suburb</th>
  <th style="background-color:#C8D2DC;">Actions</th>
</tr>
<% unless @alerts.blank? %>
  <% @alerts.each do |alert| -%>
  <tr>
    <td class="value"><%= (alert.created_at ? alert.created_at.strftime("%d-%m-%Y") : "-") %></td>
    <td class="value"><%= (alert.alert_type ? alert.alert_type : "-") %></td>
    <td class="value">
      <% if alert.alert_type != 'Latest News' %>
      <%= (alert.listing_type ? alert.listing_type : "-") %>&nbsp;&nbsp;<%= (alert.property_type ? alert.property_type : "-") %>
      <br/><strong>Min Bed</strong> : <%= (alert.min_bedroom ? alert.min_bedroom : "-") %>
      &nbsp;<strong>Min Bath</strong> : <%= (alert.min_bathroom ? alert.min_bathroom : "-") %>
      &nbsp;<strong>Min Car</strong> : <%= (alert.min_carspace ? alert.min_carspace : "-") %>
      <% else %>
      -
      <% end %>
    </td>
    <td class="value"><%= alert.alert_type != 'Latest News' ? (alert.min_price ? alert.min_price : "-") : "-" %></td>
    <td class="value"><%= alert.alert_type != 'Latest News' ? (alert.max_price ? alert.max_price : "-") : "-" %></td>
    <td class="value"><%= alert.alert_type != 'Latest News' ? (alert.company_alert_suburbs.map{|cat|cat.suburb.to_s + ', ' }) : "-" %>
    </td>
    <td class="value">
      <%= link_to "Edit", edit_agent_office_agent_company_company_alert_path(@agent,@office, @agent_company, alert), :method => :get, :style => "color:blue;" %> |
      <%= link_to "Delete", agent_office_agent_company_company_alert_path(@agent,@office, @agent_company, alert), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :style => "color:red;" %>  </td>
  </tr>
  <% end -%>
<% end -%>
</table>
<% unless @alerts.blank? %>
  <%= will_paginate @alerts %>
<% end -%>
<div class="clearer"></div>
</div>

