<div class="title_block block">
 <h2 class="page_title">Alerts For Company <%= @agent_company.company %></h2>
</div>
<div id="clientdiv" class="block accounts full">
<% form_for :company_alert, @company_alert, :url => agent_office_agent_company_company_alert_path(@agent,@office, @agent_company), :html => {:class => 'propertyform full', :method => :put} do |f| %>
  <%= f.error_messages :class => 'errortext' %>
  <%= render :partial => 'alert_form', :locals => {:form => f} %>
  <%= render :partial => 'alert_list' %>
<% end %>
</div><!-- end #clientdiv -->
