<div class="title_block block sub-opt-nav">
 <h2 class="page_title"><%= @agent_company.company %> </h2>
 <div><%= render :partial => 'agent_companies/company_options' %></div>
</div>
<div id="clientdiv" class="block accounts full">
<% form_for :company_alert, @company_alert, :url => agent_office_agent_company_company_alerts_path(@agent,@office), :html => {:class => 'propertyform full'} do |f| %>
  <%= f.error_messages :class => 'errortext' %>
  <%= render :partial => 'alert_form', :locals => {:form => f} %>
  <%= render :partial => 'alert_list' %>
<% end %>
</div><!-- end #clientdiv -->
