<%@property_type_categories.each do |category|%>
  <% unless category.category == "Business" %>
    <%find_category(category.category)%>
    <% @data_property =  @country.country_property_type_relationships.collect {|map| map.property_type_id}%>
    <div class="group">
      <% if category.category == "Residential" %>
        <div class="<%= cycle("set half leader", "set half follower") -%>">
          <table cellpadding="0" cellspacing="0" class="update_table ">
            <tr>
              <th colspan="2" class=""><%= category.category.humanize %> Sale/Lease & Project</th>
            </tr>
            <%@property_types_by_category.each do |pt|%>
              <tr>
                <td class="field first_cell"><%= pt.name %></td>
                <% unless params[:action] == "edit" || params[:action] == "update" %>
                  <td class="value">
                    <%= check_box_tag("category[]", pt.id) %>
                  </td>
                <%else%>
                  <td class="value">
                    <%= check_box_tag("category[]", pt.id,!@data_property.blank? ? @data_property.include?(pt.id) : false,:disabled => !@data_property.blank? ? @data_property.include?(pt.id) : false) %>
                  </td>
                <%end%>
              </tr>
            <%end%>
          </table>
        </div>
      <%else%>
        <div class="<%= cycle("set half leader", "set half follower") -%>">
          <table cellpadding="0" cellspacing="0" class="update_table ">
            <tr>
              <th colspan="2" class="<%= cycle("first_cell", "follower") -%>"><%= category.category.humanize %></th>
            </tr>
            <%@property_types_by_category.each do |pt|%>
              <tr>
                <td class="field first_cell"><%= pt.name %></td>
                <% unless params[:action] == "edit" || params[:action] == "update" %>
                  <td class="value">
                    <%= check_box_tag("category[]", pt.id) %>
                  </td>
                <%else%>
                  <td class="value">
                    <%= check_box_tag("category[]", pt.id,!@data_property.blank? ? @data_property.include?(pt.id) : false,:disabled => !@data_property.blank? ? @data_property.include?(pt.id) : false) %>
                  </td>
                <%end%>
              </tr>
            <%end%>
          </table>
        </div>
      <%end%>
    </div>
  <%end%>
<%end%>