<div id="sidebar" class="block files quarter">
<div class="upload_button">
  <%= link_to "Add a New Country", new_admin_country_path, :class => "btn" %>
	<!-- NOTE TO DEVELOPER: This form should be blank when you click on it from here. Client Name should already be set, though. -->
</div>
</div>

<h2>Commercial Loop is offered in the following countries</h2><br />

<table width="100%" cellpadding="0" cellspacing="0" class="countries_list_table">
<tr>
	<th class="first_cell">Country</th>
	<th class="field">Country Code</th>
	<th class="field">Currency</th>
	<th class="field">Currency Code</th>
	<th class="field">Default Land</th>
	<th class="field">Default Building</th>

	<th class="field">EER</th>
	<th class="field">States</th>
	<th class="field">Suburbs</th>
	<th class="field">Flag</th>
	<th>&nbsp;</th>
</tr>
<% @countries.each do |c| %>
  <tr class="alt">
	<td class="first_cell field"><%= c.name %></td>
	<td class="value"><%= c.code %></td>
	<td class="value"><%= c.currency_name %></td>
	<td class="value"><%= c.currency_code %></td>
	<td class="value"><%= c.metrics_land %></td>
	<td class="value"><%= c.metrics_building %></td>

	<td class="value"><%= c.energy_efficiency_rating %></td>
	<td class="value"><%= c.states.count %></td>
	<td class="value"><%= c.suburbs.count %></td>
	<td class="value"><%= c.flag.file? %></td>
	<td class="value"><%= link_to "View Details", admin_country_path(c) %></a></td>
</tr>	
<% end %>

</table>

