<% form_for [:admin, @country] , :html => { :multipart => true }do |f| %>
  <% unless f.error_messages.blank?   -%>
    <%= f.error_messages :class => 'errortext' %>
  <% end -%>
  <div class="group">
    <div class="set half leader">
      <%= render :partial => "country_form", :locals => {:f => f} %>
    </div>

    <div class="clearer"></div>
  </div>
  <div class="clearer"></div>
  <div class="title_block block">
    <h2>Country Property Types <i style="font-size:10px">(note: once you check a property type it can't be unchecked)</i></h2>
    <div class="clearer"></div>
  </div>
  <div class="group">
    <div class="set half leader">
      <%= render :partial => "country_property_type_form", :locals => {:f => f} %>
    </div>
    <div class="clearer"></div>
  </div>

  <div class="action_button">
    <button name="update" type="button" value="Update" onclick="form.submit();">
      <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
      Create
    </button>

    <span>or&nbsp;&nbsp;</span>
    <a href="<%= url_for admin_countries_path %>" title="">

      <img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/>
      Cancel
    </a>
  </div>
<% end %>
