  <div class="step_button">
    <a href="<%= choose_layout_agent_office_ebrochures_path(@agent, @office) %>" class="<%= 'active_tab' if %w(choose_layout).include?(params[:action]) %>">1. Choose layout</a>
    <a href="<%= campaign_copy_agent_office_ebrochures_path(@agent, @office) %>" class="<%= 'active_tab' if %w(campaign_copy).include?(params[:action]) %>">2. Campaign Copy</a>
    <a href="<%= choose_colour_agent_office_ebrochures_path(@agent, @office) %>" class="<%= 'active_tab' if %w(choose_colour).include?(params[:action]) %>">3. Choose Colours</a>
    <a href="<%= select_recipient_agent_office_ebrochures_path(@agent, @office) %>" class="<%= 'active_tab' if %w(select_recipient).include?(params[:action]) %>">4. Select Recipients</a>
    <a href="<%= view_sample_agent_office_ebrochures_path(@agent, @office) %>" class="<%= 'active_tab' if %w(view_sample).include?(params[:action]) %>">5. View Sample</a>
  </div>