<style type="text/css">
   tr:hover{background-color:transparent !important;}
   tr{background-color:transparent;}
   td{border:none}
</style>

<div class="greybg" style="margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;">
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;text-align:center;font-size:8pt;color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser. Or <a href="{forward}" style="color:#999999;" target="_blank">click here <img style="width: 22px;position: relative;top: 7px;left: 2px;" src="<%= @base_url %>/images/mail_forward.png"/></a> to forward this email</div>
  <div class="view" style="width: 780px; clear: both; margin-right: auto; margin-left: auto;">
<table cellpadding="0" cellspacing="0" border="0" width="600" align="center" style="font-family: arial, helvetica, tahoma, sans-serif; font-size: 14px; line-height: normal; color: #fff;width: 600px; margin:0 auto; background-image: url(<%= @base_url %>/images/background.jpg); background-color: #494949; background-repeat: no-repeat; background-position: left bottom">
    <tbody>
        <tr>
            <td style="white-space:normal;padding: 15px;">
                <table cellpadding="0" cellspacing="0" border="0" style="font-family: arial, helvetica, tahoma, sans-serif; font-size: 12px; line-height: normal; color: #fff;">
                    <tbody>
                        <tr>
                            <td colspan="3" style="padding: 0 0 10px; vertical-align: top;">
                                <h1 style="color:white; margin: 0; padding: 0; font-size: 36px; font-weight: normal;"><%= @data["top_headline"].present? ? @data["top_headline"] : top_headline(@property) %></h1>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 0 0 10px; vertical-align: top;">
                                <p style="margin: 0; padding: 0;"><img src="<%= @main_image %>" alt="property image" width="570" height="410" style="display: block; border: 0;" /><p style="margin: 0; padding: 0;">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding: 0 0 10px; vertical-align: top;">
                                <h2 style="color:white;margin: 0; padding: 0; font-size: 18px; font-weight: normal;">
                                    <%= @property.unit_number.blank? ? @property.street_number : "#{@property.unit_number}/#{@property.street_number}" %>&nbsp;<%= @property.street %><%= @property.suburb.present? ? "," : ""%>&nbsp;
                                    <%= @property.suburb.upcase if @property.suburb.present? %>
                                </h2>
                            </td>
                            <td style="padding: 0 0 10px; vertical-align: bottom; width: 150px;">
                                <p style="margin: 0; padding: 0;">
                                  <% if ['ResidentialSale', 'ResidentialLease', 'ProjectSale', 'HolidayLease'].include?(@property.type.to_s) %>
                                     <%= (@property.detail.bedrooms) ? "<span style='padding:0; margin: 0;'>#{@property.detail.bedrooms.to_s}</span> <img src='#{@base_url}/images/bed.png' alt='bed' width='20' height='16' style='border: 0; margin: 0 10px 0 5px;' />" : "" %>
                                     <%= (@property.detail.bathrooms) ? "<span style='padding:0; margin: 0;'>#{@property.detail.bathrooms.to_s}</span> <img src='#{@base_url}/images/bath.png' alt='bath' width='20' height='16' style='border: 0; margin: 0 10px 0 5px;' />" : "" %>
                                     <%= ((@property.detail.carport_spaces.to_i + @property.detail.garage_spaces.to_i) == 0) ? "" : "<span style='padding:0; margin: 0;'>#{(@property.detail.carport_spaces.to_i + @property.detail.garage_spaces.to_i).to_s}</span> <img src='#{@base_url}/images/car.png' alt='car' width='20' height='16' style='border: 0; margin: 0 10px 0 5px;' />" %>
                                  <% end %>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 0 0 10px; vertical-align: top;">
                                <h3 style="color:white; margin: 0; padding: 0; font-size: 14px; font-weight: normal;"><%= @property.headline %></h3>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 0 0 10px; vertical-align: top;">
                                <pre style="margin: 0; padding: 0; font-size: 9pt; white-space: pre-wrap; width: 567px; height: 170px; max-height:170px; font-family:arial; overflow: hidden;"><%= @property.description %></pre>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 0 0 10px; vertical-align: top;">
                                <p style="margin: 0; padding: 0; font-size: 9pt">For further details, or to arrange an inspection, please contact:</p>
                                <p style="margin: 0; padding: 0; font-size: 9pt">AGENT on 0412 345 678</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0; vertical-align: middle;">
                                <p style="margin: 0; padding: 0; font-size: 9pt">25 Queensbridge Street Southbank</p>
                                <p style="margin: 0; padding: 0; font-size: 9pt"><a href="http://www.evolverealestate.com.au" style="color: #fff; text-decoration:none;">www.evolverealestate.com.au</a></p>
                            </td>
                            <td style="padding: 0; vertical-align: middle; width: 200px;" align="center">
                                <p style="margin: 0; padding: 0; font-size:26px;">9690 8800</p>
                            </td>
                            <td style="padding: 0; vertical-align: middle; width: 150px;" align="right">
                                <p style="margin: 0; padding: 0;"><img src="<%= @base_url  %>/images/logo.png" alt="logo" width="130" height="50" style="border: 0; margin: 0; display: block;" /></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
  </div>
</div>