<style type="text/css">
  a img{color:transparent !important;}
  a:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  a.info_link:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  p{font-size:8pt;}
  .greybg{background-color:#EAEAEA;}
  .greybg th, .greybg td{padding:0}
  .greybg td{border:0}
  tr{background:none;}
  tr:hover{background:inherit}
  .greybg table{border: 0;}
</style>
<div class="greybg" style="font-family:arial;margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;">
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;">
    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
      <tbody>
        <tr>
          <td valign="baseline" style="text-align:center;padding:5px 10px 20px 10px; background:#fbfbfb">
            <p style="margin:0; font:Arial, Helvetica, sans-serif; font-size: 8pt; color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser. Or <a href="{forward}" style="color:#999999;" target="_blank">click here <img border="0" src="http://commercialloopcrm.com.au/images/mail_forward.png" width="22"></a> to forward this email</p>
          </td>
        </tr>
        <% if @header_image.present? %>
          <tr>
            <td valign="top">
              <img border="0" height="80" src="<%= @header_image.public_filename unless @header_image.blank? %>" style="display:block;width:780px">
            </td>
          </tr>
        <% end %>
        <tr>
          <td valign="top">
            <table cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td valign="top">
                    <img border="0" src="<%= @main_image %>" width="520" style="display:block" />
                  </td>
                  <td valign="top">
                    <table cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td valign="top">
                            <img border="0" src="<%= @thumb_image1 %>" height="195" width="260" style="display:block" />
                          </td>
                        </tr>
                        <tr>
                          <td valign="top">
                            <img border="0" src="<%= @thumb_image2 %>" height="195" width="260" style="display:block"  />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr> 
          <td valign="top" style="background:#fbfbfb;">
            <table cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td valign="top" style="padding:10px;background-color:<%=@bgcolor%>;color:<%=@generaltextcolor%>">
                    <table width="100%" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td valign="top">
                            <p style="margin:0; font:13pt Arial, Helvetica, sans-serif">
                              <% unless @data["display_address"].blank? %>
                                <%= @property.unit_number.blank? ? @property.street_number.downcase : "#{@property.unit_number}/#{@property.street_number}".downcase %>&nbsp;<%= @property.street.downcase %>
                              <% end %>
                              <% unless @data["display_suburb"].blank? %>
                                <%= @property.suburb.upcase %>
                              <% end %>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" style="padding:10px 0">
                            <p style="margin:0; font:15pt Arial, Helvetica, sans-serif">
                              <% unless @data["display_headline"].blank? %><%= @property.headline %><% end %>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" style="padding-bottom:10px; border-bottom:1px dashed #eaeaea">
                            <p style="margin:0; font:10pt Arial, Helvetica, sans-serif">
                              <% unless @data["display_desc"].blank? %><%= @property.description %><% end %>
                            </p>
                          </td>
                        </tr>
                        <% unless @data["display_price"].blank? %>
                          <tr>
                            <td valign="top" style="padding-top:10px">
                              <p style="margin:0; font:bold 13pt Arial, Helvetica, sans-serif;">Price :</p>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" style="padding-bottom:10px">
                              <p style="margin:0; font:12pt Arial, Helvetica, sans-serif">
                                <% unless @property.display_price.to_i == 0 %>
                                  <% if @property.type.to_s == 'Commercial'%>
                                    <% if @property.deal_type == 'Lease' %>
                                      <%= @property.display_price.to_i == 1 ? (@property.detail.rental_price.blank? ? "" : "$#{@property.detail.rental_price} - $#{@property.detail.rental_price_to}") : @property.display_price_text %>
                                    <% else %>
                                      <%= @property.display_price.to_i == 1 ? (@property.detail.sale_price_from.blank? ? "" : "$#{@property.detail.sale_price_from} - $#{@property.detail.sale_price_to}") : @property.display_price_text %>
                                    <% end %>
                                  <% else %>
                                     <%= @property.display_price.to_i == 1 ? (@property.price.blank? ? "" : "$#{@property.price} - $#{@property.to_price}") : @property.display_price_text %>
                                  <% end %>
                                <% end %>
                              </p>
                            </td>
                          </tr>
                        <% end %>

                        <% if @data["display_opentime"].present? && @data["opentime_type"].present?%>
                          <tr>
                            <td valign="top">
                              <p style="margin:0; font:bold 13pt Arial, Helvetica, sans-serif;">Open time :</p>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" style="padding-bottom:10px">
                              <p style="margin:0; font:10pt Arial, Helvetica, sans-serif">
                                <%= display_opentime_ebochures(@property.id, @opentime_days, @data["opentime_type"])%>
                              </p>
                            </td>
                          </tr>
                        <% end %>

                        <% if @data["display_auction"].present? && ["ResidentialSale", "BussinessSale", "Commercial"].include?(@property.type.to_s) && @property.detail.auction_date.present? %>
                          <tr>
                            <td valign="top">
                              <p style="margin:0; font:bold 13pt Arial, Helvetica, sans-serif;">Auction :</p>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" style="padding-bottom:10px">
                              <p style="margin:0; font:10pt Arial, Helvetica, sans-serif">
                                <%= @property.detail.auction_place.blank? ? "" : "#{@property.detail.auction_place}," %>&nbsp;<%= @property.detail.auction_date.to_date.strftime('%a %b %d') %> <%= @property.detail.auction_time.blank? ? "" : @property.detail.auction_time %>
                              </p>
                            </td>
                          </tr>
                        <% end %>
                        <% unless @data["display_contact"].blank? %>
                          <tr>
                            <td valign="top">
                              <p style="margin:0; font:bold 13pt Arial, Helvetica, sans-serif;">Contact :</p>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top">
                              <p style="margin:0; font:12pt Arial, Helvetica, sans-serif"><%= @property.primary_contact.full_name %></p>
                            </td>
                          </tr>
                          <% unless @property.primary_contact.phone.blank? %>
                          <tr>
                            <td valign="top">
                              <p style="margin:0"><span style="font: 12pt Arial, Helvetica, sans-serif">T : </span>
                                <span style="font-size:12pt; font-weight:bold;font-family: arial;">
                                  <%= @property.primary_contact.phone %>
                                </span>
                              </p>
                            </td>
                          </tr>
                          <% end %>
                          <% unless @property.primary_contact.mobile.blank? %>
                            <tr>
                              <td valign="top" style="padding-bottom:10px;">
                                <p style="margin:0"><span style="font: 12pt Arial, Helvetica, sans-serif">M : </span>
                                  <span style="font-family: arial;font-size:12pt; font-weight:bold">
                                    <%= @property.primary_contact.mobile %>
                                  </span>
                                </p>
                              </td>
                            </tr>
                          <% end %>
                          <% unless @property.secondary_contact.blank? %>
                            <tr>
                              <td valign="top">
                                <p style="margin:0; font:12pt Arial, Helvetica, sans-serif"><%= @property.secondary_contact.full_name %></p>
                              </td>
                            </tr>
                            <% unless @property.secondary_contact.phone.blank? %>
                              <tr>
                                <td valign="top">
                                  <p style="margin:0"><span style="font: 12pt Arial, Helvetica, sans-serif">T : </span><span style="font-family: arial;font-size:12pt; font-weight:bold"><%= @property.secondary_contact.phone %></span></p>
                                </td>
                              </tr>
                            <% end %>
                            <% unless @property.secondary_contact.mobile.blank? %>
                              <tr>
                                <td valign="top" style="padding-bottom:10px;">
                                  <p style="margin:0"><span style="font: 12pt Arial, Helvetica, sans-serif">M : </span><span style="font-family: arial;font-size:12pt; font-weight:bold"><%= @property.secondary_contact.mobile %></span></p>
                                </td>
                              </tr>
                            <% end %>
                          <% end %>
                        <% end %>
                        <% if @data["display_feature"].present? && @property.features.present? %>
                          <tr>
                            <td valign="top" style="padding:5px; background:#f7f7f7;">
                              <p style="margin:0; font: bold 9pt Arial, Helvetica, sans-serif;">Features :</p>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" style="padding:5px; background:#f2f2f2">
                              <table width="490" cellpadding="0" cellspacing="0" style="white-space:normal">
                                <tbody>
                                  <tr>
                                    <td width="50%" valign="top">
                                      <table cellpadding="0" cellspacing="0" style="white-space:normal;">
                                        <tbody>
                                          <% @property.features.each_with_index do |feature, idx| %>
                                            <% if (idx+1) % 2 == 1 %>
                                              <tr>
                                                <td valign="top" style="padding-bottom:3px">
                                                  <p style="margin:0; font:9pt Arial, Helvetica, sans-serif">-&nbsp;<%= feature.name %></p>
                                                </td>
                                              </tr>
                                            <% end %>
                                          <% end %>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td width="50%" valign="top">
                                      <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                        <tbody>
                                          <% @property.features.each_with_index do |feature, idx| %>
                                            <% if (idx+1) % 2 == 0 %>
                                              <tr>
                                                <td valign="top" style="padding-bottom:3px">
                                                  <p style="margin:0; font:9pt Arial, Helvetica, sans-serif">-&nbsp;<%= feature.name %></p>
                                                </td>
                                              </tr>
                                            <% end %>
                                          <% end %>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </td>

                  <td width="249" valign="top" style="padding:10px 0 10px 10px;border-left:1px dashed #f0f0f0;background-color:<%=@sidecolor%>;color:<%=@sidetextcolor%>">
                    <table width="249" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <% if ['ResidentialSale', 'ResidentialLease', 'ProjectSale', 'HolidayLease'].include?(@property.type.to_s) %>
                          <tr>
                            <td valign="top" style="padding:0 0 10px 10px">
                              <table width="150" cellpadding="0" cellspacing="0" style="white-space:normal">
                                <tbody>
                                  <tr>
                                    <% if @data["display_side_bed"].present? && @property.detail.bedrooms %>
                                      <td width="55" valign="baseline">
                                        <p style="margin:0">
                                          <span style="font:10pt Arial, Helvetica, sans-serif">
                                            <strong><%= "#{@property.detail.bedrooms.to_s}&nbsp;" %></strong>
                                          </span>
                                          <span><img border="0" src="http://commercialloopcrm.com.au/images/p_beds.gif"></span>
                                        </p>
                                      </td>
                                    <% end %>
                                    <% if @data["display_side_bath"].present? && @property.detail.bathrooms%>
                                      <td width="55" valign="baseline">
                                        <p style="margin:0"><span style="font:10pt Arial, Helvetica, sans-serif"><strong><%= "#{@property.detail.bathrooms.to_s}&nbsp;" %></strong></span><span><img border="0" src="http://commercialloopcrm.com.au/images/p_baths.gif"></span></p>
                                      </td>
                                    <% end %>
                                    <% if @data["display_side_car"].present? && ((@property.detail.carport_spaces.to_i + @property.detail.garage_spaces.to_i) > 0)%>
                                      <td width="55" valign="baseline">
                                        <p style="margin:0"><span style="font:10pt Arial, Helvetica, sans-serif"><strong><%= "#{(@property.detail.carport_spaces.to_i + @property.detail.garage_spaces.to_i).to_s}&nbsp;" %></strong></span><span><img border="0" src="http://commercialloopcrm.com.au/images/p_cars.gif"></span></p>
                                      </td>
                                    <% end %>
                                      <td>
                                        &nbsp;
                                      </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        <% end %>
                        <% if @data["display_side_price"].present? && @property.display_price.to_i != 0 %>
                          <tr>
                            <td valign="top" style="padding-left:10px">
                              <p style=" margin:0; font: bold 14px Arial, Helvetica, sans-serif ">Price :</p>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" style="padding:0 0 10px 10px">
                              <p style=" margin:0; font:12px Arial, Helvetica, sans-serif ">
                                <% if @property.type.to_s == 'Commercial'%>
                                  <% if @property.deal_type == 'Lease' %>
                                    <%= @property.display_price.to_i == 1 ? (@property.detail.rental_price.blank? ? "" : "$#{@property.detail.rental_price} - $#{@property.detail.rental_price_to}") : @property.display_price_text %>
                                  <% else %>
                                    <%= @property.display_price.to_i == 1 ? (@property.detail.sale_price_from.blank? ? "" : "$#{@property.detail.sale_price_from} - $#{@property.detail.sale_price_to}") : @property.display_price_text %>
                                  <% end %>
                                <% else %>
                                   <%= @property.display_price.to_i == 1 ? (@property.price.blank? ? "" : "$#{@property.price} - $#{@property.to_price}") : @property.display_price_text %>
                                <% end %>
                              </p>
                            </td>
                          </tr>
                        <% end %>

                        <% if @data["display_side_opentime"].present? && @data["opentime_type"].present? %>
                          <tr>
                            <td valign="top" style="padding-left:10px">
                              <p style=" margin:0; font: bold 14px Arial, Helvetica, sans-serif ">Open time :</p>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" style="padding:0 0 10px 10px">
                              <p style=" margin:0; font:12px Arial, Helvetica, sans-serif ">
                                <%= display_opentime_ebochures(@property.id, @opentime_days, @data["opentime_type"])%>
                              </p>
                            </td>
                          </tr>
                        <% end %>

                        <% if @data["display_side_auction"].present? && ["ResidentialSale", "BussinessSale", "Commercial"].include?(@property.type.to_s) && @property.detail.auction_date.present? %>
                          <tr>
                            <td valign="top" style="padding-left:10px">
                              <p style=" margin:0; font: bold 14px Arial, Helvetica, sans-serif ">Auction :</p>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" style="padding:0 0 10px 10px">
                              <p style=" margin:0; font:12px Arial, Helvetica, sans-serif ">
                                <%= @property.detail.auction_place.blank? ? "" : "#{@property.detail.auction_place}," %>&nbsp;<%= @property.detail.auction_date.to_date.strftime('%a %b %d') %> <%= @property.detail.auction_time.blank? ? "" : @property.detail.auction_time %>
                              </p>
                            </td>
                          </tr>
                        <% end %>

                        <% unless @data["display_side_contact"].blank? %>
                          <tr>
                            <td valign="top" style="padding:0 0 5px 10px">
                              <p style=" margin:0; font: bold 14px Arial, Helvetica, sans-serif ">Contact :</p>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" style=" padding-left:10px">
                              <p style=" margin:0; font:14px Arial, Helvetica, sans-serif "><%= @property.primary_contact.full_name %></p>
                            </td>
                          </tr>
                          <% unless @property.primary_contact.phone.blank? %>
                            <tr>
                              <td valign="top" style="padding-left:10px;">
                                <p style="margin:0"><span style="font: 14px Arial, Helvetica, sans-serif">T : </span><span style="font-family: arial;font-size:14px; font-weight:bold"><%= @property.primary_contact.phone %></span></p>
                              </td>
                            </tr>
                          <% end %>
                          <% unless @property.primary_contact.mobile.blank? %>
                            <tr>
                              <td valign="top" style="padding:0 0 10px 10px;">
                                <p style="margin:0"><span style="font: 14px Arial, Helvetica, sans-serif">M : </span><span style="font-family: arial;font-size:14px; font-weight:bold"><%= @property.primary_contact.mobile %></span></p>
                              </td>
                            </tr>
                          <% end %>
                          <% unless @property.secondary_contact.blank? %>
                            <tr>
                              <td valign="top" style="padding:0 0 5px 10px">
                                <p style=" margin:0; font: bold 14px Arial, Helvetica, sans-serif ">Contact :</p>
                              </td>
                            </tr>
                            <tr>
                              <td valign="top" style=" padding-left:10px">
                                <p style=" margin:0; font:14px Arial, Helvetica, sans-serif "><%= @property.secondary_contact.full_name %></p>
                              </td>
                            </tr>
                            <% unless @property.secondary_contact.phone.blank? %>
                              <tr>
                                <td valign="top" style="padding-left:10px;">
                                  <p style="margin:0"><span style="font: 14px Arial, Helvetica, sans-serif">T : </span><span style="font-family: arial;font-size:14px; font-weight:bold"><%= @property.secondary_contact.phone %></span></p>
                                </td>
                              </tr>
                            <% end %>
                            <% unless @property.secondary_contact.mobile.blank? %>
                              <tr>
                                <td valign="top" style="padding:0 0 10px 10px;">
                                  <p style="margin:0"><span style="font: 14px Arial, Helvetica, sans-serif">M : </span><span style="font-family: arial;font-size:14px; font-weight:bold"><%= @property.secondary_contact.mobile %></span></p>
                                </td>
                              </tr>
                            <% end %>
                          <% end %>
                        <% end %>
                        <% unless @data["display_side_feature"].blank? %>
                          <tr>
                            <td valign="top" style="padding:0 0 5px 10px;">
                              <p style="margin:0; font: bold 14px Arial, Helvetica, sans-serif;">Features :</p>
                            </td>
                          </tr>
                          <% @property.features.each do |feature| %>
                            <tr>
                              <td valign="top" style="padding:0 0 3px 10px">
                                <p style="margin:0; font:9pt Arial, Helvetica, sans-serif">-&nbsp;<%= feature.name %></p>
                              </td>
                            </tr>
                          <% end %>
                        <% end %>
                        <tr>
                          <td valign="top" style="padding:0 0 10px 10px;" >
                            <a href="{ebrochure_track_property_url}" name="view_property" style="color:<%=@sidetextcolor%>;font:bold 14px Arial, Helvetica, sans-serif;">View Property</a>
                          </td>
                        </tr>
                        <% unless @side_image.blank? %>
                          <tr>
                            <td valign="top" style="padding-left:10px">
                              <img border="0" src="<%= @side_image.public_filename %>" width="200" height="400" style="display:block">
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td valign="top">
            <img border="0" src="<%= @footer_image.public_filename unless @footer_image.blank? %>" width="780" height="75" style="display:block">
          </td>
        </tr>
        <tr>
          <td valign="top" style="padding:10px 0">
            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td valign="top" width="50%">
                    <p style="margin:0"><span style="font:8pt Arial, Helvetica, sans-serif; color:#999;">To unsubscribe from this service please </span><span><a href="{unsubcribe}" style="color:#999999;text-decoration:underline; font:8pt Arial, Helvetica, sans-serif">click here</a></span></p>
                    <p style="margin:0"><span style="font:8pt Arial, Helvetica, sans-serif; color:#999;">Copyright © </span><span style="font: bold 8pt Arial, Helvetica, sans-serif; color:#999999;"><%= @office.name %> </span><span style="font:8pt Arial, Helvetica, sans-serif; color:#999999;"><%= Time.now.strftime("%Y") %></span></p>
                  </td>
                  <td valign="top" width="50%" style="text-align:right">
                    <p style="margin:0"><span style="font:8pt Arial, Helvetica, sans-serif; color:#999;">Powered By </span><span><a href="http://agentpoint.com.au" target="_blank" style="color:#999999;text-decoration:underline; font:8pt Arial, Helvetica, sans-serif"><b>Agentpoint</b></a></span></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="font-family:arial;display:none;">{view_open_url}</div>
  </div>
</div>