<style type="text/css">
  a img{color:transparent !important;}
  a:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  a.info_link:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  p{font-size:8pt;}
  .greybg{background-color:#EAEAEA;}
  .greybg th, .greybg td{padding:0}
  .greybg td{border:0}
  tr{background:none;}
  tr:hover{background:inherit}
  .greybg table{border: 0;}
  .greybg a{padding:0;}
</style>
<div class="greybg" style="margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;">
  <div class="view" style="width: 780px; clear: both; margin-right: auto; margin-left: auto;">
    <table width="780" border="0" cellspacing="0" cellpadding="0" align="center">	
      <tbody>
        <tr>
          <td>
            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td valign="top" style="text-align:center;padding-bottom:10px">
                    <p style="margin:0; font:Arial, Helvetica, sans-serif; font-size: 8pt; color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser. Or <a href="{forward}" style="color:#999999;" target="_blank">click here <img style="width: 22px;position: relative;top: 7px;left: 2px;" src="http://commercialloopcrm.com.au/images/mail_forward.png"></a> to forward this email</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center">
            <img src="<%= @header_image.public_filename unless @header_image.blank? %>" border="0" align="left" style="width:780px">
          </td>
        </tr>
        <tr> 
          <td bgcolor="#ffffff" align="center" style="padding:5px 10px;margin-top:0px;margin-bottom:0px">
            <a href="{ebrochure_track_property_url}" target="_blank" style="padding:0"><img src="<%= @main_image %>" border="0" width="760"></a>
          </td>
        </tr> 
        <tr> 
          <td style="padding:0 10px 5px 10px;background-color:#ffffff"> 
            <table border="0" cellpadding="0" cellspacing="0" width="760" align="center"> 
              <tbody>
                <tr> 
                  <td width="250" style="padding-right:5px"><a href="{ebrochure_track_property_url}" target="_blank"><img src="<%= @thumb_image1 %>" border="0" width="250" height="188"></a></td> 
                  <td width="250" style="padding-right:5px"><a href="{ebrochure_track_property_url}" target="_blank"><img src="<%= @thumb_image2 %>" border="0" width="250" height="188"></a></td> 
                  <td width="250"><a href="{ebrochure_track_property_url}" target="_blank"><img src="<%= @thumb_image3 %>" border="0" width="250" height="188"></a></td> 
                </tr> 
              </tbody>
            </table> 
          </td> 
        </tr>

        <tr> 
          <td colspan="2" style="padding:5px 10px 0px" bgcolor="#ffffff"> 
            <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
              <tbody>
                <tr> 
                  <td style="font-weight:bold;font-size:13pt">
                    <% unless @data["display_address"].blank? %>
                      <%= @property.unit_number.blank? ? @property.street_number.downcase : "#{@property.unit_number}/#{@property.street_number}".downcase %>&nbsp;<%= @property.street.downcase %><%= @data["display_suburb"].blank? ? "" : ",&nbsp;" %>
                    <% end %>
                    <% unless @data["display_suburb"].blank? %>
                      <span style="text-transform:uppercase"><%= @property.suburb.upcase %></span>
                    <% end %>
                    &nbsp;
                  </td>
                  <td align="right" width="170"> 
                    <table border="0" cellpadding="0" cellspacing="0"> 
                      <tbody>
                        <% if ['ResidentialSale', 'ResidentialLease', 'ProjectSale', 'HolidayLease'].include?(@property.type.to_s) %>
                          <tr>
                            <% unless @data["display_side_bed"].blank? %>
                              <td width="22"><img src="http://bhr.agentboxcrm.com.au/email_images/enews_img/bed.png"></td>
                              <td style="font-weight:bold;padding-left:5px" align="center" width="25">
                                <%= (@property.detail.bedrooms) ? "#{@property.detail.bedrooms.to_s}&nbsp;" : "" %>
                              </td>
                            <% end %>
                            <% unless @data["display_side_bath"].blank? %>
                              <td width="22"><img src="http://bhr.agentboxcrm.com.au/email_images/enews_img/bath.png"></td>
                              <td style="font-weight:bold;padding-left:5px" align="center" width="25">
                                <%= (@property.detail.bathrooms) ? "#{@property.detail.bathrooms.to_s}&nbsp;" : "" %>
                              </td>
                            <% end %>
                            <% unless @data["display_side_car"].blank? %>
                              <td width="22"><img src="http://bhr.agentboxcrm.com.au/email_images/enews_img/car.png"></td>
                              <td style="font-weight:bold;padding-left:5px" align="center" width="25">
                                <%= ((@property.detail.carport_spaces.to_i + @property.detail.garage_spaces.to_i) == 0) ? "" : "#{(@property.detail.carport_spaces.to_i + @property.detail.garage_spaces.to_i).to_s}&nbsp;" %>
                              </td>
                            <% end %>
                          </tr>
                        <% end %>
                      </tbody>
                    </table> 
                  </td> 
                </tr> 
              </tbody></table> 
          </td> 
        </tr> 
        <tr> 
          <td style="padding:10px;text-align:center;" colspan="2" align="center" bgcolor="#ffffff"> 
            <% unless @data["display_headline"].blank? %>
              <h1 style="line-height:1.4em;border-top:1px solid #000000;margin-top:0px;margin-bottom:15px;padding:10px 0px 0px;font-size:24px;font-family:Arial,Helvetica,sans-serif">
                <%= @property.headline %>
              </h1>
            <% end %>
            <% unless @data["display_price"].blank? %>
              <p style="font-size:18px;margin:20px 0 15px 0;font-weight:bold"><%= deal_type_and_price(@data["display_price"], @property) %></p>
            <% end %>
            <% unless @data["display_desc"].blank? %>
              <p style="font-size:12px">
                <%= @property.description.gsub("\n","<br/>") %>
              </p>
            <% end %>
            <p style="font-size:18px;font-weight:bold;margin-top:10px"><a href="{ebrochure_track_property_url}" style="color:#5a6265" target="_blank">View this property</a></p>
          </td> 
        </tr>
        <% unless @data["display_contact"].blank? %>
          <tr>
            <td style="padding:15px 10px 15px" bgcolor="#ffffff">
              <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
                <tbody>
                  <tr>
                    <td>
                      <table style="margin-left:5px" border="0" cellpadding="0" cellspacing="0" width="285">
                        <tbody>
                          <tr>
                            <td height="90" width="70"><img src="<%= @contact_photo1 %>" width="60"></td>
                            <td><p style="margin:0px 0px 8px;font-size:12px"><b><%= @property.primary_contact.full_name %></b></p>
                              <p style="margin:0px 0px 8px;font-size:12px"><%= @property.primary_contact.phone %></p>
                              <p style="margin:0px 0px 8px;font-size:12px"><a href="mailto:<%= @property.primary_contact.email %>" target="_blank"><%= @property.primary_contact.email %></a></p></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <% if @property.secondary_contact.present? %>
                      <td>
                        <table style="margin-left:5px" border="0" cellpadding="0" cellspacing="0" width="285">
                          <tbody>
                            <tr>
                              <td height="90" width="70"><img src="<%= @contact_photo2 %>" width="60"></td>
                              <td><p style="margin:0px 0px 8px;font-size:12px"><b><%= @property.secondary_contact.full_name %></b></p>
                                <p style="margin:0px 0px 8px;font-size:12px"><%= @property.secondary_contact.phone %></p>
                                <p style="margin:0px 0px 8px;font-size:12px"><a href="mailto:<%= @property.secondary_contact.email %>" target="_blank"><%= @property.secondary_contact.email %></a></p></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    <% else %>
                      <td>&nbsp;</td>
                    <% end %>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        <% end %>
        <tr>
          <td style="background-color:#000000;text-align:center;padding:13px 0" align="center">
            <table cellspacing="0" cellpadding="0" border="0" align="center" width="780">
              <tbody>
                <tr>
                  <td align="center" style="text-align:center;padding-bottom: 17px;">
                    <p style="color:#ffffff;font-size:12px;padding:0;margin:0;font-weight:bold">
                      <%= "#{@office.unit_number}/" if @office.unit_number.present? %><%= @office.street_number %>&nbsp;<%= @office.street %><%= @office.street.present? ? ", #{@office.suburb}" : @office.suburb %>&nbsp;
                      <%= @office.state %>&nbsp;<%= @office.zipcode %>
                      <br/>
                      P: <%= @office.phone_number.present? ? @office.phone_number : "" %> | 
                      F: <%= @office.fax_number.present? ? @office.fax_number : "" %> | 
                      E: <a style="color:#ffffff" href="mailto:<%= @office.email %>" target="_blank"><%= @office.email %></a>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="text-align:center">
                    <p style="line-height:1.2em;color:#ffffff;font-size:10px;padding-top:0px;margin-top:0px;margin-bottom:12px">
                      The sender believes that this E-mail and any attachments were free of any virus, worm, Trojan horse, and/or malicious code when sent. This message and its attachments could have been infected during transmission. By reading the message and opening any attachments, the recipient accepts full responsibility for taking protective and remedial action about viruses and other defects. The sender's employer is not liable for any loss or damage arising in any way from this message or its attachments.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="top" style="padding:10px 0">
            <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>
                <tr>
                  <td valign="top" width="50%">
                    <p style="margin:0"><span style="font:8pt Arial, Helvetica, sans-serif; color:#999;">To unsubscribe from this service please </span><span><a href="{unsubcribe}" style="color:#999999;text-decoration:underline; font:8pt Arial, Helvetica, sans-serif">click here</a></span></p>
                    <p style="margin:0"><span style="font:8pt Arial, Helvetica, sans-serif; color:#999;">Copyright © </span><span style="font: bold 8pt Arial, Helvetica, sans-serif; color:#999999;"><%= @office.name %> </span><span style="font:8pt Arial, Helvetica, sans-serif; color:#999999;"><%= Time.now.strftime("%Y") %></span></p>
                  </td>
                  <td valign="top" width="50%" style="text-align:right">
                    <p style="margin:0"><span style="font:8pt Arial, Helvetica, sans-serif; color:#999;">Powered By </span><span><a href="http://agentpoint.com.au" target="_blank" style="color:#999999;text-decoration:underline; font:8pt Arial, Helvetica, sans-serif"><b>Agentpoint</b></a></span></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="font-family:arial;display:none;">{view_open_url}</div>
  </div>
</div>