<div class="title_block block">
  <h2 class="page_title">Campaign Copy</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= campaign_copy_agent_office_ebrochures_path(@agent, @office) %>" method="post" name="frm1">
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Sender Details</h6><br/>
        <table style="border:none;">
          <tr style="background-color:#E1EBF5"><td style="width:150px;">Email Title:</td>
          <td><input type="text" name="data[sender_title]" id="data_sender_title" class="single" style="width:350px;" value="<%= @data["sender_title"] unless @data.blank? %>" /></td></tr>
          <%#*<tr style="background-color:#E1EBF5"><td style="width:150px;">Email Description:</td>
          <td><textarea name="data[sender_description]" id="data_description" class="mceEditor"><%= @data["sender_description"] unless @data.blank? </textarea></td></tr>
          %>
          <tr style="background-color:#E1EBF5"><td style="width:150px;">Email Sender:</td>
          <td><%= select_tag "data[sender_email]", options_for_select(@contacts, @data["sender_email"].to_i) %></td></tr>
          <tr style="background-color:#E1EBF5"><td style="width:150px;">Select Listing <span style="color:red;">*</span>:</td>
          <td>
            <input type="text" style="width: 255px;" size="30" name="search_property" id="search_property" class="single"/>
            <img src="/images/search-loader.gif" id="search-loader-note"></img>
            <br/>
            <div id="selected_listing" style="font-weight:bold;"><%= @selected_listing %></div>
            <br/>
            <input type="text" name="data[property_id]" id="data_property_id" style="display:none" value="<%= @data["property_id"] unless @data.blank? %>" />
          </td>
          </tr>
        </table>
        <% if @ebrochure_layout == "theme3" %>
          <h6>Top Headline</h6><br/>
          <table style="border:none;">
            <tr style="background-color:#E1EBF5"><td style="width:150px;">Top Headline text:</td>
              <td>
                <input type="text" name="data[top_headline]" class="single" style="width:350px;" value="<%= @data["top_headline"] unless @data.blank? %>" />
                Leave this blank to auto-generate top headline
              </td>
            </tr>
          </table>
        <% end %>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <% if ["theme1"].include?(@ebrochure_layout) %>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Display Open Inspection Times</h6><br/>
        <div style="font-size:9pt;font-weight:bold;">
          <input type="radio" name="data[opentime_type]" value="" style="vertical-align:top;" <%= @data["opentime_type"].blank? ? "checked" : "" %> />&nbsp;No Open Times
          &nbsp;&nbsp;<input type="radio" name="data[opentime_type]" value="all" style="vertical-align:top;" <%= @data["opentime_type"] == "all" ? "checked" : "" %> />&nbsp;All Open Times
          &nbsp;&nbsp;<input type="radio" name="data[opentime_type]" value="7" style="vertical-align:top;" <%= @data["opentime_type"] == "7" ? "checked" : "" %>/>&nbsp;Next 7 days
          &nbsp;&nbsp;<input type="radio" name="data[opentime_type]" value="14" style="vertical-align:top;" <%= @data["opentime_type"] == "14" ? "checked" : "" %> />&nbsp;Next 14 days
        </div>
      </div>
    </div>
    <div class="clearer"></div>
  </div>
  <% end %>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Display Options Content Area</h6><br/>
        <div style="font-size:9pt;font-weight:bold;">
          <table style="border:none;">
            <% if @ebrochure_layout == "theme1" %>
            <tr>
              <td class="display-opt"><input type="checkbox" name="data[display_headline]" value="true" style="vertical-align:top;" <%= @data["display_headline"].blank? ? "" : "checked" %> />&nbsp;Headline</td>
              <td class="display-opt"><input type="checkbox" name="data[display_desc]" value="true" style="vertical-align:top;" <%= @data["display_desc"].blank? ? "" : "checked" %>/>&nbsp;Description</td>
              <td class="display-opt"><input type="checkbox" name="data[display_suburb]" value="true" style="vertical-align:top;" <%= @data["display_suburb"].blank? ? "" : "checked" %>/>&nbsp;Suburb</td>
              <td class="display-opt"><input type="checkbox" name="data[display_address]" value="true" style="vertical-align:top;" <%= @data["display_address"].blank? ? "" : "checked" %> />&nbsp;Address</td>
              <td class="display-opt"><input type="checkbox" name="data[display_price]" value="true" style="vertical-align:top;" <%= @data["display_price"].blank? ? "" : "checked" %> />&nbsp;Price</td>
            </tr>
            <tr>
              <td class="display-opt"><input type="checkbox" name="data[display_fullsize]" value="true" style="vertical-align:top;" <%= @data["display_fullsize"].blank? ? "" : "checked" %> />&nbsp;Use full size images</td>
              <td class="display-opt"><input type="checkbox" name="data[display_feature]" value="true" style="vertical-align:top;" <%= @data["display_feature"].blank? ? "" : "checked" %> />&nbsp;Property Features</td>
              <td class="display-opt"><input type="checkbox" name="data[display_opentime]" value="true" style="vertical-align:top;" <%= @data["display_opentime"].blank? ? "" : "checked" %> />&nbsp;Opens</td>
              <td class="display-opt"><input type="checkbox" name="data[display_contact]" value="true" style="vertical-align:top;" <%= @data["display_contact"].blank? ? "" : "checked" %> />&nbsp;Contact</td>
              <td class="display-opt"><input type="checkbox" name="data[display_land]" value="true" style="vertical-align:top;" <%= @data["display_land"].blank? ? "" : "checked" %> />&nbsp;Display Land</td>
            </tr>
            <tr>
              <td class="display-opt"><input type="checkbox" name="data[display_auction]" value="true" style="vertical-align:top;" <%= @data["display_auction"].blank? ? "" : "checked" %> />&nbsp;Display Auction Time</td>
              <td class="display-opt"><input type="checkbox" name="data[display_bond]" value="true" style="vertical-align:top;" <%= @data["display_bond"].blank? ? "" : "checked" %> />&nbsp;Bond</td>
              <td class="display-opt"><input type="checkbox" name="data[display_property_id]" value="true" style="vertical-align:top;" <%= @data["display_property_id"].blank? ? "" : "checked" %> />&nbsp;Property Id</td>
              <td class="display-opt"><input type="checkbox" name="data[display_internet_id]" value="true" style="vertical-align:top;" <%= @data["display_internet_id"].blank? ? "" : "checked" %> />&nbsp;Internet Id</td>
              <td class="display-opt"><input type="checkbox" name="data[display_available]" value="true" style="vertical-align:top;" <%= @data["display_available"].blank? ? "" : "checked" %> />&nbsp;Available Date</td>
            </tr>
            <% elsif @ebrochure_layout == "theme2"  %>
              <tr>
                <td class="display-opt"><input type="checkbox" name="data[display_headline]" value="true" style="vertical-align:top;" <%= @data["display_headline"].blank? ? "" : "checked" %> />&nbsp;Headline</td>
                <td class="display-opt"><input type="checkbox" name="data[display_desc]" value="true" style="vertical-align:top;" <%= @data["display_desc"].blank? ? "" : "checked" %>/>&nbsp;Description</td>
                <td class="display-opt"><input type="checkbox" name="data[display_suburb]" value="true" style="vertical-align:top;" <%= @data["display_suburb"].blank? ? "" : "checked" %>/>&nbsp;Suburb</td>
                <td class="display-opt"><input type="checkbox" name="data[with_region]" value="true" style="vertical-align:top;" <%= @data["with_region"].blank? ? "" : "checked" %> />&nbsp;Region</td>
                <td class="display-opt"><input type="checkbox" name="data[display_address]" value="true" style="vertical-align:top;" <%= @data["display_address"].blank? ? "" : "checked" %> />&nbsp;Address</td>
                <td class="display-opt"><input type="checkbox" name="data[display_feature]" value="true" style="vertical-align:top;" <%= @data["display_feature"].blank? ? "" : "checked" %> />&nbsp;Property Features</td>
              </tr>
              <tr>
              <td class="display-opt"><input type="checkbox" name="data[display_price]" value="true" style="vertical-align:top;" <%= @data["display_price"].blank? ? "" : "checked" %> />&nbsp;Price</td>
              <td class="display-opt"><input type="checkbox" name="data[display_auction]" value="true" style="vertical-align:top;" <%= @data["display_auction"].blank? ? "" : "checked" %> />&nbsp;Display Auction Time</td>
              </tr>
            <% elsif @ebrochure_layout == "theme4" %>
              <tr>
                <td class="display-opt"><input type="checkbox" name="data[display_headline]" value="true" style="vertical-align:top;" <%= @data["display_headline"].blank? ? "" : "checked" %> />&nbsp;Headline</td>
                <td class="display-opt"><input type="checkbox" name="data[display_desc]" value="true" style="vertical-align:top;" <%= @data["display_desc"].blank? ? "" : "checked" %>/>&nbsp;Description</td>
                <td class="display-opt"><input type="checkbox" name="data[display_suburb]" value="true" style="vertical-align:top;" <%= @data["display_suburb"].blank? ? "" : "checked" %>/>&nbsp;Suburb</td>
                <td class="display-opt"><input type="checkbox" name="data[display_address]" value="true" style="vertical-align:top;" <%= @data["display_address"].blank? ? "" : "checked" %> />&nbsp;Address</td>
                <td class="display-opt"><input type="checkbox" name="data[display_price]" value="true" style="vertical-align:top;" <%= @data["display_price"].blank? ? "" : "checked" %> />&nbsp;Price</td>
                <td class="display-opt"><input type="checkbox" name="data[display_contact]" value="true" style="vertical-align:top;" <%= @data["display_contact"].blank? ? "" : "checked" %> />&nbsp;Contact</td>
                <td class="display-opt"><input type="checkbox" name="data[display_side_bed]" value="true" style="vertical-align:top;" <%= @data["display_side_bed"].blank? ? "" : "checked" %> />&nbsp;Bed</td>
                <td class="display-opt"><input type="checkbox" name="data[display_side_bath]" value="true" style="vertical-align:top;" <%= @data["display_side_bath"].blank? ? "" : "checked" %>/>&nbsp;Bath</td>
                <td class="display-opt"><input type="checkbox" name="data[display_side_car]" value="true" style="vertical-align:top;" <%= @data["display_side_car"].blank? ? "" : "checked" %>/>&nbsp;Car</td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="clearer"></div>
  </div>

  <% if @ebrochure_layout == "theme2"  %>
    <div class="block form group" style="background-color:#E1EBF5;">
      <div class="set">
         <div style="width:100%">
          <h6>Display Confidentiality Agreement Link</h6><br/>
          <div style="font-size:9pt;font-weight:bold;">
            <table style="border:none;">
              <tr>
                <td class="display-opt" style="width:250px;"><input type="checkbox" name="data[display_ca]" value="true" style="vertical-align:top;" <%= @data["display_ca"].blank? ? "" : "checked" %> />&nbsp;Display Confidentiality Agreement Link</td>
              </tr>
              <tr style="background-color:#E1EBF5">
                <td style="width:150px;">Confidentiality Agreement Link:</td>
                <td><input type="text" name="data[ca_link]" class="single" style="width:350px;" value="<%= @data["ca_link"] unless @data.blank? %>" /></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>

    <div class="block form group" style="background-color:#E1EBF5;">
      <div class="set">
         <div style="width:100%">
          <h6>Other layout settings</h6><br/>
          <div style="font-size:9pt;font-weight:bold;">
            <table style="border:none;">
              <tr>
                <td class="display-opt" style="width:250px;"><input type="checkbox" name="data[no_price_word]" value="true" style="vertical-align:top;" <%= @data["no_price_word"].blank? ? "" : "checked" %> />&nbsp;Remove word "Price: "</td>
              </tr>
              <tr>
                <td class="display-opt" style="width:250px;"><input type="checkbox" name="data[large_font]" value="true" style="vertical-align:top;" <%= @data["large_font"].blank? ? "" : "checked" %> />&nbsp;Larger font on content (12pt)</td>
              </tr>
              <tr>
                <td class="display-opt" style="width:250px;"><input type="checkbox" name="data[no_footer]" value="true" style="vertical-align:top;" <%= @data["no_footer"].blank? ? "" : "checked" %> />&nbsp;Hide footer</td>
              </tr>
              <tr>
                <td class="display-opt" style="width:250px;"><input type="checkbox" name="data[no_readmore]" value="true" style="vertical-align:top;" <%= @data["no_readmore"].blank? ? "" : "checked" %> />&nbsp;Remove "Read more" and border</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>

  <% end %>

  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Display Options Sidebar</h6><br/>
        <div style="font-size:9pt;font-weight:bold;">
          <table style="border:none;">
            <% if @ebrochure_layout == "theme1" %>
            <tr>
              <td class="display-opt"><input type="checkbox" name="data[display_side_bed]" value="true" style="vertical-align:top;" <%= @data["display_side_bed"].blank? ? "" : "checked" %> />&nbsp;Bed</td>
              <td class="display-opt"><input type="checkbox" name="data[display_side_bath]" value="true" style="vertical-align:top;" <%= @data["display_side_bath"].blank? ? "" : "checked" %>/>&nbsp;Bath</td>
              <td class="display-opt"><input type="checkbox" name="data[display_side_car]" value="true" style="vertical-align:top;" <%= @data["display_side_car"].blank? ? "" : "checked" %>/>&nbsp;Car</td>
              <td class="display-opt"><input type="checkbox" name="data[display_side_contact]" value="true" style="vertical-align:top;" <%= @data["display_side_contact"].blank? ? "" : "checked" %> />&nbsp;Contact</td>
              <td class="display-opt"><input type="checkbox" name="data[display_side_land]" value="true" style="vertical-align:top;" <%= @data["display_side_land"].blank? ? "" : "checked" %> />&nbsp;Display Land</td>
            </tr>
            <tr>
              <td class="display-opt"><input type="checkbox" name="data[display_side_auction]" value="true" style="vertical-align:top;" <%= @data["display_side_auction"].blank? ? "" : "checked" %> />&nbsp;Display Auction Time</td>
              <td class="display-opt"><input type="checkbox" name="data[display_side_bond]" value="true" style="vertical-align:top;" <%= @data["display_side_bond"].blank? ? "" : "checked" %> />&nbsp;Bond</td>
              <td class="display-opt"><input type="checkbox" name="data[display_side_property_id]" value="true" style="vertical-align:top;" <%= @data["display_side_property_id"].blank? ? "" : "checked" %> />&nbsp;Property Id</td>
              <td class="display-opt"><input type="checkbox" name="data[display_side_internet_id]" value="true" style="vertical-align:top;" <%= @data["display_side_internet_id"].blank? ? "" : "checked" %> />&nbsp;Internet Id</td>
              <td class="display-opt"><input type="checkbox" name="data[display_side_available]" value="true" style="vertical-align:top;" <%= @data["display_side_available"].blank? ? "" : "checked" %> />&nbsp;Available Date</td>
            </tr>
            <tr>
              <td class="display-opt"><input type="checkbox" name="data[display_side_price]" value="true" style="vertical-align:top;" <%= @data["display_side_price"].blank? ? "" : "checked" %> />&nbsp;Price</td>
              <td class="display-opt"><input type="checkbox" name="data[display_side_feature]" value="true" style="vertical-align:top;" <%= @data["display_side_feature"].blank? ? "" : "checked" %> />&nbsp;Property Features</td>
              <td class="display-opt" colspan="4"><input type="checkbox" name="data[display_side_opentime]" value="true" style="vertical-align:top;" <%= @data["display_side_opentime"].blank? ? "" : "checked" %> />&nbsp;Opens</td>
            </tr>
            <% elsif @ebrochure_layout == "theme2"  %>
            <tr>
              <td class="display-opt"><input type="checkbox" name="data[display_side_contact]" value="true" style="vertical-align:top;" <%= @data["display_side_contact"].blank? ? "" : "checked" %> />&nbsp;Contact</td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="clearer"></div>
  </div>

  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_layout_agent_office_ecampaigns_path(@agent, @office) %>'" class="submit_btn">« Previous</button>
            <button name="update" type="submit" value="Update" style="float:right;">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>
<%= javascript_include_tag "tiny_mce/tiny_mce.js" %>
<style type="text/css">
  .display-opt{background-color:#E1EBF5;width:50px;}
  .campaign-link-title{
    float:left;
    width:75px;
    margin-right:10px;
    font-weight:bold;
  }
  .campaign-link-link{
    float:left;
    width:200px;
    margin-right:10px;
  }

  .marg{margin-bottom:5px;}
  table a:link, table a:visited {color:#0E7FC7;}
  .bordered-cont{border:1px solid #999999;padding:10px;margin-bottom:10px;}
</style>
<script type="text/javascript">
   tinyMCE.init({
    mode : "textareas",
    theme : "advanced",
    theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,forecolor,backcolor,|,fontsizeselect",
    theme_advanced_buttons2 : "",
    theme_advanced_buttons3 : "",
    theme_advanced_buttons4 : "",
    editor_selector : "mceEditor",
    editor_deselector : "mceNoEditor, mNc"
	 });
</script>
<script type="text/javascript">
  function getAbsolutePosition(element){
    var r = { x : element.offsetLeft,  y : element.offsetTop};
    if( element.offsetParent ){
      var temp = getAbsolutePosition(element.offsetParent);
      r.x += temp.x;
      r.y += temp.y
    }
    return r;
  }

  $(document).ready(function(){
    var xMousePos = 0; // Horizontal position of the mouse on the screen
    var yMousePos = 0; // Vertical position of the mouse on the screen
    var xMousePosMax = 0; // Width of the page
    var yMousePosMax = 0; // Height of the page
    function captureMousePosition(e) {
      if (document.layers) {
        xMousePos = e.pageX;
        yMousePos = e.pageY;
        xMousePosMax = window.innerWidth+window.pageXOffset;
        yMousePosMax = window.innerHeight+window.pageYOffset;
      } else if (document.all) {
        xMousePos = window.event.x+document.body.scrollLeft;
        yMousePos = window.event.y+document.body.scrollTop;
        xMousePosMax = document.body.clientWidth+document.body.scrollLeft;
        yMousePosMax = document.body.clientHeight+document.body.scrollTop;
      } else if (document.getElementById) {
        xMousePos = e.pageX;
        yMousePos = e.pageY;
        xMousePosMax = window.innerWidth+window.pageXOffset;
        yMousePosMax = window.innerHeight+window.pageYOffset;
      }
    };

    function checkTheUnit(element){
      var patt1=/[px]/g;
      if(patt1.test(element)){
        element = element.split('px')[0];
      }
      return element;
    };

    $('#search-loader-note').hide();
    $('#toggler_wrapper').hide();
    $('#select_office').change(function(){
      window.open($(this).val(), '_self');
    });
    $('#toggler_off').click(function(){
      $('#toggler_wrapper').slideUp('slow');
      $('#toggler_off').attr('id','toggler');
    });
    var search_box = document.getElementById('search_property');
    var search_box_position = getAbsolutePosition(search_box);
    $("<div id='popup_table' style='position:absolute;text-transform:none;font-size:11px;z-index:300000'><div id='search_header' style='background-color:#0A3247;font-weight:bold;width:809px;height:15px;color:white;text-align:right;text-decoration:false;'><a id='close_button' href='#' onclick='return false;' style='margin:8px;text-decoration:false;color:white'>X</a></div><div id='search_container'><table  id='table_search_result' class='property-search' cellspacing='0' cellpadding = '0' >\n\
     <th class='first_cell'><th>ID</th><th>Address</th><th>Suburb</th><th>Type</th><th>Price</th><th>Status</th>\n\
    </table></div>").appendTo($("body"));
    var top_y = 0;
    if(search_box_position.y < 460){
      top_y = search_box_position.y + 120
    }else{
      top_y = search_box_position.y + 100
    }
    $("#popup_table").css({'top' : top_y,'left' : search_box_position.x,'width':"800px"})
    $("#search-loader").hide();
    $("#search_container").css({"overflow":"scroll","background-color":"#FFFFFF","position":"absolute","z-index":"9999","width":"800px","height":"100px","border":"solid black 4px","border-top":"0px"});
    $("#table_search_result th tr").css({"padding":"0px 5px","width":"800px"});
    $("#popup_table").hide();

    //event_listener_for_quick_search
    if($("#search_property").length > 0){
      $(document).click(function(e){
        var result_box = document.getElementById('search_container');
        var result_box_position = getAbsolutePosition(result_box);
        var result_box_width = parseInt(checkTheUnit(result_box.style.width));
        var result_box_height = parseInt(checkTheUnit(result_box.style.height));
        captureMousePosition(e);
        if(xMousePos < result_box_position.x || yMousePos < result_box_position.y || xMousePos > result_box_position.x + result_box_width || yMousePos > result_box_position.y + result_box_height){
          $("#popup_table").hide();
        };
      });
    };

    $("#popup_table").bind("mouseover",function(){
      $("#popup_table").show();
      return false;
    });

    $("#search_property").bind("focus",function(){
      $("#popup_table").show();
      return false;
    });

    $("#search_property").bind("click",function(){
      $("#popup_table").show();
      return false;
    });

    $("#close_button").bind("click",function(){
      $("#popup_table").hide();
      return false;
    });

    $("#search_property").bind("click",function(){
      $("#popup_table").show();
      return false;
    });

    var delay = (function(){
      var timer = 0;
      return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
      };
    })();

    function addTextAreaCallback(textArea, callback, delay) {
      var timer = null;
      textArea.onkeypress = function() {
          if (timer) {
              window.clearTimeout(timer);
          }
          timer = window.setTimeout( function() {
              timer = null;
              callback();
          }, delay );
      };
      textArea = null;
    }

//    function do_ajax_search(){
//      if($(this).val()!=""){
//        search_key_note();
 //       $("#popup_table").show();
//      };
//    }

    addTextAreaCallback( document.getElementById("search_property"),
      function(event){
        if($("#search_property").val()!=""){
          search_key_note();
          $("#popup_table").show();
        }
      }, 500);

//    $("#search_property").bind("keyup",function(event){
 //     if($(this).val()!=""){
//        search_key_note();
//        $("#popup_table").show();
//      };
//    });

    $("#search_property").bind("keydown",function(event){
      if(event.keyCode == 13){
        search_key_note();
        return false;
      }
    });
  });

  function search_featured_property(){
    search_key_note();
    $("#popup_table").show();
  }

  function use_address(id, text){
    var a_all_id = $("#data_property_id").val();
    var a_arry = a_all_id.split('#');
    var a_add =0;
    if(id !=''){
      $("#data_property_id").attr('value', id);
      $("#selected_listing").html(text);
    }
    $("#popup_table").hide();
  }

  function search_key_note(){
    $.ajax({
      type: "POST",
    //  url: "<%= search_agent_office_properties_path(@agent, @office) %>",
      url: "<%= sql_search_agent_office_properties_path(@agent, @office) %>",
      data:"search_value="+$("#search_property").val()+"&selection_office_id=<%= @office.id %>",
      dataType:"JSON",
      beforeSend:function(){
        $("#search-loader-note").show();
        if ($("#table_search_result").find("tr").length >0){
          $("#table_search_result").find("tr:gt(0)").remove() ;
          $("#search_container").css({"height":"100px"});
        };
        $("#draggable_tab").show();
      },
      success: function(jsonResponse){
        $("#search-loader-note").hide();
        if ($("#table_search_result").find("tr").length >0){
          $("#table_search_result").find("tr:gt(0)").remove() ;
          $("#search_container").css({"height":"100px"});
        };
        if (jsonResponse != ''){
          var jsonObject = eval('(' + jsonResponse + ')');
          $.each(jsonObject.results, function(index,array){
            $("#table_search_result").append("<tr>\n\
          <td><a href='javascript:use_address("+array["id"]+", \""+array["address"]+"\");' style='margin:0px;padding:0px 14px;color:blue;'>Use</a></td>\n\
          <td style='color:black'>"+array["id"]+"</td>\n\
          <td style='color:black'>"+array["address"]+"</td>\n\
          <td style='color:black'>"+array["suburb"]+"</td>\n\
          <td style='color:black'>"+array["type"]+"</td>\n\
          <td style='color:black'>"+array["price"]+"</td>\n\
          <td style='color:black'>"+array["status"]+"</td>\n\
          </tr>");
          });
          $("#search_container").css({"height":"400px"});
        }else{
          $("#table_search_result").append("<tr>\n\
          <td style='color:black' colspan='6'>No Matching Results</td>\n\
          </tr>");
          $("#search_container").css({"height":"100px"});
        };
      },
      complete:function(){
        $("#draggable_tab").show();
      }
    });
    return false;
  };

  function toggler_on(){
    $('#toggler_wrapper').slideDown('slow');
    $('#auto_toggle').empty().append("<a id='toggler' href='#toggler_wrapper' style='font-size:10px'>change office</a>")
    $('#toggler').attr('onclick','toggler_off()');
    return false;
  };
  function toggler_off(){
    $('#toggler_wrapper').slideUp('slow');
    $('#auto_toggle').empty().append("<a id='toggler' href='#toggler_wrapper' style='font-size:10px'>change office</a>")
    $('#toggler').attr('onclick','toggler_on()');
    return false;
  };
</script>