<div class="block help full">
  <div class="title_block threequarters leader"><h2>Ebrochure</h2>  </div>
  <div class="block help quarter follower">
    <div class="upload_button">
      <%= link_to 'Setup Ebrochures', choose_layout_agent_office_ebrochures_path(@agent, @office), :class => 'btn' %>
    </div><br/>
  </div>
</div>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <h6>Existing Ebrochures</h6>
     <fieldset class="pf_fs2">
         <table width="100%" cellpadding="0" cellspacing="0">
           <tr>
             <td style="background-color:#f0f0f0;"><b>No</b></td>
             <td style="background-color:#f0f0f0;"><b>Title</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Sent</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Views</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>%</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Clicked</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Bounced</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Forward</b></td>
             <td style="background-color:#f0f0f0;"><b>Created</b></td>
             <td style="background-color:#f0f0f0;"><b>Sent</b></td>
             <td style="background-color:#f0f0f0;"><b>Action</b></td>
           </tr>
          <% @ebrochures.each_with_index do |ebrochure, index| %>
           <tr>
             <td width="5%"><%= (index+1) %></td>
             <td width="30%"><%= ebrochure["title"] %></td>
             <td style="text-align:center;"><%= link_to ebrochure["recipient"], "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{ebrochure["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to ebrochure["opened"], "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{ebrochure["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to view_rates(ebrochure["opened"], ebrochure["recipient"])+" %" , "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{ebrochure["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to ebrochure["clicked"].blank? ? "0" : ebrochure["clicked"] , "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{ebrochure["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to ebrochure["bounced"].blank? ? "0" : ebrochure["bounced"] , "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{ebrochure["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to ebrochure["forwarded"].blank? ? "0" : ebrochure["forwarded"] , "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{ebrochure["id"]}/stats", :style => "color:blue;"  %></td>
             <td><%= (ebrochure["created_at"].blank? ? "-" : ebrochure["created_at"].to_date.strftime("%d %B %Y")) %></td>
             <td><%= (ebrochure["sent_at"].blank? ? "-" : ebrochure["sent_at"].to_date.strftime("%d %B %Y")) %></td>
             <td width="13%">
               <% if ebrochure["sent_at"].blank? %><%= link_to "Edit", "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{ebrochure["id"]}/edit_ebrochure", :style => "color:blue;"  %><% else %>Edit<% end %>
               &nbsp;|&nbsp;
               <%= link_to "Duplicate", "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{ebrochure["id"]}/duplicate_ebrochure", :style => "color:blue;"  %>&nbsp;|&nbsp;
               <%= link_to "Stats", "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{ebrochure["id"]}/stats", :style => "color:blue;"  %>&nbsp;|&nbsp;
               <%= link_to "Delete", "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{ebrochure["id"]}/delete_ebrochure", :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :style => "color:red;" %>&nbsp;|&nbsp;
               <%= ebrochure_sent(ebrochure) %>
             </td>
           </tr>
           <% end %>
         </table>
    </fieldset>
    </div>
  </div>
</div>