<div class="block help full">
  <div class="title_block threequarters leader"><h2>Ebrochure Stats - <%= @ebrochure_stats.title %> </h2>(<b>sent:</b> <%= @ebrochure_stats.sent_at.present? ? @ebrochure_stats.sent_at.strftime("%d %B %Y %H:%M:%S") : "-"%>)</div>
</div>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <h6>Summary Stats</h6>
      <table width="100%" cellpadding="0" cellspacing="0">
       <tr><td style="width:15%"><b>Property:</b></td><td><%= @property.address unless @property.blank? %></td></tr>
       <tr><td style="width:15%"><b>Recipients:</b></td><td><%= link_to (@ebrochure_stats.recipient.blank? ? 0 : @ebrochure_stats.recipient), "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{@ebrochure_stats.id}/stats?type=recipients", :style => "color:blue;" %></td></tr>
       <tr><td style="width:15%"><b>Views:</b></td><td><%= link_to (@ebrochure_stats.opened.blank? ? 0 : @ebrochure_stats.opened), "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{@ebrochure_stats.id}/stats?type=views", :style => "color:blue;" %></td></tr>
       <tr><td style="width:15%"><b>View Rates:</b></td><td><%= view_rates(@ebrochure_stats.opened, @ebrochure_stats.recipient)+" %" %></td></tr>
       <tr><td style="width:15%"><b>Clicked detail links:</b></td><td><%= link_to (@ebrochure_stats.clicked.blank? ? 0 : @ebrochure_stats.clicked), "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{@ebrochure_stats.id}/stats?type=clicks", :style => "color:blue;" %></td></tr>
       <tr><td style="width:15%"><b>Bounced:</b></td><td><%= link_to (@ebrochure_stats.bounced.blank? ? 0 : @ebrochure_stats.bounced), "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{@ebrochure_stats.id}/stats?type=bounced", :style => "color:blue;" %></td></tr>
       <tr><td style="width:15%"><b>Forwarded:</b></td><td><%= link_to (@ebrochure_stats.forwarded.blank? ? 0 : @ebrochure_stats.forwarded), "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{@ebrochure_stats.id}/stats?type=forward", :style => "color:blue;" %></td></tr>
       <tr><td style="width:15%"><b>Unsubcribe:</b></td><td><%= link_to (@ebrochure_stats.unsubcribed.blank? ? 0 : @ebrochure_stats.unsubcribed), "/agents/#{@agent.id}/offices/#{@office.id}/ebrochures/#{@ebrochure_stats.id}/stats?type=unsubcribe", :style => "color:blue;" %></td></tr>
      </table>
    </div>
  </div>
  <% if !@ecampaign_tracks.blank? %>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <% unless @stats_type.blank? %> <h6>Stats for <%= @stats_type == "forward" ? "forwarded by" : @stats_type %></h6> <% end %>
         <table width="100%" cellpadding="0" cellspacing="0">
           <tr>
             <td style="background-color:#f0f0f0;width:10%;"><b>No</b></td>
             <td style="background-color:#f0f0f0;width:30%;"><b>Name</b></td>
             <td style="background-color:#f0f0f0;"><b>Email</b></td>
           </tr>
           <% unless @ecampaign_tracks.blank? %>
             <% @ecampaign_tracks.each_with_index do |et, index| %>
               <% unless et.agent_contact.blank? %>
               <tr>
                 <td><%= index + 1 %></td>
                 <td><%= et.agent_contact.full_name %></td>
                 <td><%= et.agent_contact.email %></td>
               </tr>
               <% end %>
             <% end %>
           <% end %>
         </table>
    </div>
  </div>
  <% end %>
</div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_to_list" type="button" value="Back to ebrochure list" style="float:right;" onclick="window.location= '<%= agent_office_ebrochures_path(@agent, @office) %>'" class="submit_btn">Back to Ebrochure list</button>
        </td></tr>
      </table>
  </div>
<style type="text/css">
table td{padding:2px;}
</style>