<style type="text/css" >
  .import-table{background-color:#E1EBF5;border:none;}
  .import-table td{background-color:#E1EBF5;}
</style>
<div style="color:red;font-size:9pt"><%= @errors_import+"<br/>" unless @errors_import.blank? %></div>

<div class="block help full">
  <div class="title_block block sub-opt-nav">
    <h2 class="page_title">CSV Export / Import</h2>
    <h4><span class="lite">Here is where you can export or import a csv file for your contacts or property listings. If you'd like to import a list then you first need to download a file and use this as a template to add your data and then re-import it.</span></h4><br/>
    <div class="sub2nav">
      <div class="optnav"><a href="javascript:import_csv();" name="import" id="import_link">Import CSV</a></div>
      <div class="optnav"><a href="javascript:export_csv();" name="export" id="export_link">Export CSV</a></div>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
<div id="clientdiv" class="block accounts full">
  <div id="export_contact" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <h6>Export Contacts </h6>
      <fieldset class="pf_fs2">
        <p>* You can export contacts from this office to CSV format file by clicking the button below.</p>
        <form action="<%= export_contact_csv_agent_office_csv_export_import_path(@agent,@office) %>" method="get" name="frm1">
          <button name="btn" type="submit" value="Update" id="rounded_corner" class="submit_btn">Export Contacts to CSV file</button>
        </form>
      </fieldset>
    </div>
  </div>

  <div id="export_property" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <h6>Export Properties </h6>
      <fieldset class="pf_fs2">
        <p>* You can export Properties from this office to CSV format file by clicking the button below.</p>
        <form action="<%= export_property_csv_agent_office_csv_export_import_path(@agent,@office) %>" method="get" name="frm1">
          <table class="import-table">
            <tr><td style="width:70px;">Listing Type</td><td>:</td><td><%= select_tag "export_listing_type", options_for_select(@listings, ""), :class => 'select_box' %></td></tr>
            <tr><td colspan="2">&nbsp;</td><td><button name="btn" type="submit" value="Update" class="submit_btn">Export Properties to CSV file</button></td></tr>
          </table>
        </form>
      </fieldset>
    </div>
  </div>

  <div  id="import_contact" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <h6>Import Contacts </h6>
      <fieldset class="pf_fs2">
        <p>* You can import contact data from CSV format file to Contacts Section by upload your file here:</p>
        <% form_for :contact_csv, :url => import_contact_csv_agent_office_csv_export_import_path(@agent,@office), :html => {:multipart => true, :id=> "contact_form_import"} do |form| %>
          <%= form.file_field :file %><br/><br/>
          <button name="import_contact" type="button" value="Import" onclick="upload_file('contact');" class="submit_btn">Import Contacts</button>
        <% end %>
        <div style="clear:both;"></div>
        <div style="margin-top:20px;">
          <p>Instructions:<br/>
            1. Press the 'Export Contacts to CSV file" option on 'EXPORT CSV' tab. This will download a file containing your existing properties.<br/>
            2. Delete your existing contacts from the csv file and then add your new contacts to the file.<br/>
            3. user_id is the contact id in our system, leave it blank for new contact. If you use this id again in the file then it will update the existing contact in our system which uses this id.<br/>
            4. Choose "assign to", "accessible by", "category", "group" and import the contacts once you're ready.<br/>
          </p>
        </div>
        <div style="clear:both;"></div>
        <div style="margin-top:20px;font-size:10pt;float:left;width:350px;">
          <div><b>List of Assign to and Accessible by users</b></div>
          <% unless @contacts.blank? %>
            <% @contacts.each do |contact| %>
              <div>- <%= contact.full_name %></div>
            <% end %>
          <% end %>
        </div>
        <div style="margin-top:20px;font-size:10pt;float:left;width:300px;">
          <div><b>List of Contact Category</b></div>
          <% unless @category_contacts.blank? %>
            <% @category_contacts.each do |category| %>
              <div>- <%= category.name %></div>
            <% end %>
          <% end %>
        </div>
        <div style="margin-top:20px;font-size:10pt;float:left;width:300px;">
          <div><b>List of Group</b></div
          <% unless @group_contacts.blank? %>
            <% @group_contacts.each do |group| %>
              <div>- <%= group.name %></div>
            <% end %>
          <% end %>
        </div>
        <div style="clear:both;"></div>
      </fieldset>
    </div>
  </div>

  <div id="import_property" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <h6>Import Properties </h6>
      <fieldset class="pf_fs2">
        <p>* You can import Properties data from CSV format file to Contacts Section by upload your file here:</p>
        <% form_for :property_csv, :url => import_property_csv_agent_office_csv_export_import_path(@agent,@office), :html => {:multipart => true, :id=> "property_form_import"} do |form| %>
          <table class="import-table">
            <tr><td style="width:70px;">Listing Type</td><td>:</td><td><%= form.select "listing_type", @listings, :class => 'select_box' %></td></tr>
            <tr><td>Csv File</td><td>:</td><td><%= form.file_field :file %></td></tr>
            <tr><td colspan="2">&nbsp;</td><td><button name="import_property" type="button" value="Import" onclick="upload_file('property');" class="submit_btn">Import Properties</button></td></tr>
          </table>
        <% end %>
        <p>Instructions:<br/>
          1. Press the 'Export Properties to CSV file" option on 'EXPORT CSV' tab. This will download a file containing your existing properties.<br/>
          2. Delete your existing properties from the csv file and then add your new properties to the file.<br/>
          3. Fields which have suffix "_compulsory" are compulsory.<br/>
          4. xml_id is the property id you assign this property. If you use this id again in the file then it will update the existing property in our system which uses this id.<br/>
          5. Choose listing type and import the properties once you're ready.<br/>
        </p>
      </fieldset>
    </div>
  </div>

  <div id="import_property_residential_sale" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <h6>Import Residential Sales Data</h6>
      <table class="import-table">
      <tr><td>Residential Building</td><td>:</td><td><%= select_tag :parent_id, options_for_select(@residential_buildings) %></td></tr>
      </table>
      <fieldset class="pf_fs2">
        <% form_for :residential_sale_price_list_csv, :url => import_residential_sale_price_list_csv_agent_office_csv_export_import_path(@agent,@office), :html => {:multipart => true, :id => "residential_sale_price_list_form_import"} do |form| %>
          <%= hidden_field_tag :parent_listing %>
          <table class="import-table">
            <tr><td>Residential Sale Price List File</td><td>:</td><td><%= form.file_field :file %></td></tr>
            <tr><td colspan="2">&nbsp;</td><td><button name="import_property" type="button" value="Import" onclick="upload_file('residential_sale_price_list');" class="submit_btn">Import Price List</button></td></tr>
          </table>
        <%end%>
      </fieldset>
      <fieldset class="pf_fs2">
        <% form_for :residential_sale_summary_csv, :url => import_residential_sale_summary_csv_agent_office_csv_export_import_path(@agent,@office), :html => {:multipart => true, :id => "residential_sale_summary_form_import"} do |form| %>
          <%= hidden_field_tag :parent %>
          <table class="import-table">
            <tr><td>Residential Sale Summary File</td><td>:</td><td><%= form.file_field :file %></td></tr>
            <tr><td colspan="2">&nbsp;</td><td><button name="import_residential_sale_summary" type="button" value="Import" onclick="upload_file('residential_sale_summary');" class="submit_btn">Import Summary Stage</button></td></tr>
          </table>
        <%end%>
      </fieldset>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){ import_csv(); });
  function upload_file(type){
    if($("#"+type+"_csv_file").val() != ""){
      file_arr = $("#"+type+"_csv_file").val().split(".");
      if(file_arr[file_arr.length - 1] == "csv"){
        $("#"+type+"_form_import").submit();
      }else{
        alert("Please upload csv format");
      }
    }
  }

  function import_csv(){
    $("#import_contact").show();
    $("#import_property").show();
    $("#import_property_residential_sale").show();
    $("#export_contact").hide();
    $("#export_property").hide();
    $("#import_link").parent().addClass("current-nav");
    $("#export_link").parent().removeClass("current-nav");
  }

  function export_csv(){
    $("#import_contact").hide();
    $("#import_property").hide();
    $("#import_property_residential_sale").hide();
    $("#export_contact").show();
    $("#export_property").show();
    $("#export_link").parent().addClass("current-nav");
    $("#import_link").parent().removeClass("current-nav");
  }

  $("#parent_id").live('change', function(){
    $("#parent").val($("#parent_id").val());
    $("#parent_listing").val($("#parent_id").val());
  });
</script>
