<h1>Editing Category</h1>

<% form_for :user_file_category, @user_file_category, :url => agent_office_user_file_category_path(@agent,@office,@user_file_category), :html => {:method => :put} do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', agent_office_user_file_categories_path(@agent,@office) %>
