<h1>File Categories</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for user_file_category in @user_file_categories %>
  <tr>
    <td><%=h user_file_category.name %></td>
    <td><%= link_to 'Edit', edit_agent_office_user_file_category_path(@agent,@office,user_file_category) %></td>
    <td><%= link_to 'Destroy', agent_office_user_file_category_path(@agent,@office,user_file_category), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_agent_office_user_file_category_path(@agent,@office) %> | <%= link_to 'Back', agent_office_files_path(@agent,@office) %>
