<form action="<%= agent_office_contact_listeners_path(@agent,@office) %>" method="post" name="form1">
  <table>
    <!-- contact -->
    <tr><td>Agent Id:</td><td><input type="text" name="agent_id" value="1"/></td></tr>
    <tr><td>Office Id:</td><td><input type="text" name="office_id" value="1"/></td></tr>
    <tr><td>Property Id:</td><td><input type="text" name="property_id" value="396"/></td></tr>
    <tr><td>title:</td><td><input type="text" name="title"/></td></tr>
    <tr><td>first name:</td><td><input type="text" name="first_name"/></td></tr>
    <tr><td>last name:</td><td><input type="text" name="last_name"/></td></tr>
    <tr><td>email:</td><td><input type="text" name="email"/></td></tr>
    <tr><td>home number:</td><td><input type="text" name="home_number"/></td></tr>
    <tr><td>work number:</td><td><input type="text" name="work_number"/></td></tr>
    <tr><td>mobile number:</td><td><input type="text" name="mobile_number"/></td></tr>
    <tr><td>contact number:</td><td><input type="text" name="contact_number"/></td></tr>
    <tr><td>fax number:</td><td><input type="text" name="fax_number"/></td></tr>
    <tr><td>sign up for alert:</td><td><input id="alert" type="checkbox" value="1" name="alert"/></td></tr>
    <tr><td>given contract/application:</td><td><input id="contract" type="checkbox" value="1" name="contract"/></td></tr>
    <tr><td>heard from id:</td><td><input type="text" name="heard_from_id" value="9"/></td></tr>
    <tr><td>heard about us:</td><td><input type="text" name="heard_about_us" value="6"/></td></tr>
    <tr><td>category id:</td><td><input type="text" name="category_id" value="8"/></td></tr>
    <tr><td>company:</td><td><input type="text" name="company" value=""/></td></tr>

    <tr><td>country:</td><td><input type="text" name="country" value=""/></td></tr>
    <tr><td>sub urb:</td><td><input type="text" name="suburb" value=""/></td></tr>
    <tr><td>state:</td><td><input type="text" name="state" value=""/></td></tr>
    <tr><td>city:</td><td><input type="text" name="city" value=""/></td></tr>
    <tr><td>street:</td><td><input type="text" name="street" value=""/></td></tr>
    <tr><td>postcode:</td><td><input type="text" name="postcode" value=""/></td></tr>
    <tr><td>email format:</td><td><input type="text" name="email_format" value=""/></td></tr>

    <!-- note -->
    <tr><td>note type:</td><td><input type="text" name="note_type" value="2"/></td></tr>
    <tr><td>property address:</td><td><input type="text" name="address" value=""/></td></tr>
    <tr><td>note:</td><td><input type="text" name="note" value=""/></td></tr>

    <!-- alert -->
    <tr><td>alert type:</td><td><input type="text" name="alert_type" value=""/></td></tr>
    <tr><td>listing type:</td><td><input type="text" name="listing_type" value=""/></td></tr>
    <tr><td>property type:</td><td><input type="text" name="property_type" value=""/></td></tr>
    <tr><td>min bedroom:</td><td><input type="text" name="min_bedroom" value=""/></td></tr>
    <tr><td>min bathroom:</td><td><input type="text" name="min_bathroom" value=""/></td></tr>
    <tr><td>min carspace:</td><td><input type="text" name="min_carspace" value=""/></td></tr>
    <tr><td>min price:</td><td><input type="text" name="min_price" value=""/></td></tr>
    <tr><td>max price:</td><td><input type="text" name="max_price" value=""/></td></tr>

    <tr><td>username:</td><td><input type="text" name="username" value=""/></td></tr>
    <tr><td>password:</td><td><input type="text" name="password" value=""/></td></tr>

    <tr><td>&nbsp;</td><td><input type="submit" name="submit" value="submit"/></td></tr>
  </table>
</form>