<form action="<%= add_group_contact_agent_office_contact_listeners_path(@agent,@office) %>" method="post" name="form1">
  <table>
    <tr><td>Group Contact:</td><td><input type="text" name="group_contact" value=""/></td></tr>
    <tr><td>&nbsp;</td><td><input type="submit" name="submit" value="submit"/></td></tr>
  </table>
</form>