<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_div { height: 100% }
</style>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChQSpCH3SdXB4BFphbz9av5KUWhqMQzrk&sensor=false">
</script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(-34.397, 150.644),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_div"),
    mapOptions);
  }

  function loadScript() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyChQSpCH3SdXB4BFphbz9av5KUWhqMQzrk&sensor=false";
    document.body.appendChild(script);
  }

  window.onload = loadScript;
</script>
<%= javascript_include_tag 'jquery.jmap.min', 'gmap' %>
<script type="text/javascript">
  $(document).ready(function(){
    var latlng = new Array(2);
    latlng[0]= '<%=@property.latitude%>';
    latlng[1]= '<%=@property.longitude %>';
    init_map(latlng, 15);
    var printing;
    if($.browser.msie){
      printing = $(document.createElement('div')).attr({'id':'printing'}).css({'text-align':'center','width':'60px','height':'35px','position':'absolute','top':'0px','left':$(window).width() - 50+'px'}).html('<img id="print_image" src="/images/icons/print.png" /><p id="print_label" style="display:none">Print</><p>');
    }else{
      printing = $(document.createElement('div')).attr({'id':'printing'}).css({'text-align':'center','width':'60px','height':'35px','position':'fixed','top':'0px','left':$(window).width() - 50+'px'}).html('<img id="print_image" src="/images/icons/print.png" /><p id="print_label" style="display:none">Print</><p>');
    };
    $('body').append(printing);
    $('#print_image').css({'cursor':'pointer'});
    $('#print_label').css({'cursor':'pointer','font-weight':'bolder','font-size':'15px'});
    $('#printing').css('line-height','1px');
    $('#printing').mouseover(function(){
      $('#printing').animate({
        height:60
      },{duration: 'slow',easing: 'easeOutBounce'}, function(){
        $('#printing').css('height','60px');
      });
      $('#print_label').show();
    });
    $('#printing').mouseleave(function(){
      $('#printing').animate({
        height:35
      },{duration: 'fast',easing: 'easeInBounce'}, function(){
        $('#printing').css('height','35px');
      });
      $('#print_label').hide();
    });
    $('#print_label,#print_image').click(function(){
      window.print();
      return false;
    });
  });
</script>
<style type="text/css" >
  .wrapper{margin:0 auto;width:700px;height:auto;font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif;}
  .logo{margin-bottom:5px;font-weight:bold;font-size:25px;}
  .headline{width:700px;height:30px;margin-bottom:5px;}
  .headline-text{font-size:12pt;font-weight:bold;}
  .middle-content{width:700px;height:auto;margin-bottom:5px;}
  .middle-content .right-column{width:450px;height:auto;float:left;}
  .middle-content .left-column{width:231px;height:auto;float:right;}
  .right-column .address-box{height:25px;border:1px solid #CCCCCC;margin-bottom:10px;padding:5px;}
  .right-column .big-pic{margin-bottom:10px;}
  .right-column .detail{height:auto;margin-bottom:10px;}
  .right-column .map{height:100px;border:1px solid #CCCCCC;}
  .detail .right-column{width:140px;height:auto;float:left;}
  .small-pic{width:140px;margin-bottom:10px;}
  .detail .left-column{width:290px;height:auto;float:right;}
  .clear{clear:both;}
  .right-box{
    width:210px;
    min-height:100px;
    border:1px solid #CCCCCC;
    margin-bottom:10px;
    padding:5px 10px;
  }
  p {
    font-size: 11px;
  }
  .detail .left-column ul{font-size:8pt;}
</style>
<div class="wrapper">
  <% unless @property.agent.developer.blank? %>
    <div class="logo">
      <% unless @header_image.blank? %>
        <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="700"/>
      <% else %>
        <%= @property.agent.developer && @property.agent.developer.company %>
      <% end %>
    </div>
  <% end %>
  <div class="headline"><p><span class="headline-text">
        <%= @property.deal_type == "Both" ? "For Sale & Lease" : @property.deal_type %>
      </span> Property Id : <%= @property.id %></p></div>
  <div class="middle-content">
    <div class="right-column">
      <div class="address-box"><%= @property.suburb %></div>
      <% unless @property.images.first.blank? %>
        <div class="big-pic">
          <img src="<%= @property.images.first.public_filename %>" name="big_pic" style="width:450px;" />
        </div>
      <% end %>
      <div class="detail">
        <div class="right-column">
          <% unless @property.images.second.blank? %>
            <div class="small-pic"><img src="<%= @property.images.second.public_filename %>" style="width:140px;" name="sec_pic" /></div>
          <% end %>
          <% unless @property.images.third.blank? %>
            <div class="small-pic"><img src="<%= @property.images.third.public_filename %>" style="width:140px;" name="sec_pic" /></div>
          <% end %>
        </div>
        <div class="left-column">
          <b><%= @property.headline %></b><br/>
          <p><%= strip_tags(@property.description).gsub("\n","</br>") %></p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="map">
        <div id='map_div' style="height:450px; width: auto; position: relative;"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="left-column">
      <% unless @property.primary_contact.blank? %>
        <div class="right-box">
          <%= @property.primary_contact.full_name %>
          <p>
            <%= @property.primary_contact.phone.blank? ? "": "<b>Phone</b> : #{@property.primary_contact.phone}" %>
            <%= @property.primary_contact.mobile.blank? ? "": "<br/><b>Mobile</b> : #{@property.primary_contact.mobile}" %>
            <%= @property.primary_contact.email.blank? ? "": "<br/><b>Email</b> : #{@property.primary_contact.email}" %>
          </p>
        </div>
      <% end %>
      <% unless @property.secondary_contact.blank? %>
        <div class="right-box">
          <%= @property.secondary_contact.full_name %>
          <p>
            <%= @property.secondary_contact.phone.blank? ? "": "<b>Phone</b> : #{@property.secondary_contact.phone}" %>
            <%= @property.secondary_contact.mobile.blank? ? "": "<br/><b>Mobile</b> : #{@property.secondary_contact.mobile}" %>
            <%= @property.secondary_contact.email.blank? ? "": "<br/><b>Email</b> : #{@property.secondary_contact.email}" %>
          </p>
        </div>
      <% end %>
      <div class="right-box">
        Property Summary:<hr/>
        <p>
          <% if @property.address.present? && @property.display_address != 2 %>
            <% if @property.display_address == 0 %>
              <%= "<b>Address</b> : #{@property.address.to_s[1..-1]}" %>
            <% else %>
              <%= "<b>Address</b> : #{@property.address}" %>
            <% end %>
          <% end %>
          <%= @property.deal_type.blank? ? "": "<br/><b>Deal Type</b> : #{@property.deal_type}" %>
          <%= @property.property_type.blank? ? "": "<br/><b>Property Type</b> : #{@property.property_type}" %>
          <% if @property.display_price.to_i == 1 %>
            <%= @property.price.blank? ? "": "<br/><b>Sale Price</b> : #{property_currency(@property.price)}" %>
          <% else %>
            <% if @property.display_price.to_i == 2 %>
              <%= @property.display_price_text.blank? ? "": "<br/><b>Price</b> : #{@property.display_price_text}" %>
            <% end %>
          <% end %>

          <% unless @property.is_a?(NewDevelopment)||(LandRelease)%>
            <% unless @property.is_a?(ProjectSale) %>
              <%= @detail.year_built.blank? ? "": "<br/><b>Year built:</b> : #{@detail.year_built}" %>
            <% end %>
            <%= @detail.land_area.blank? ? "": "<br/><b>Land Area</b> : #{@detail.land_area} (#{@detail.land_area_metric})" %>
            <%= @detail.floor_area.blank? ? "": "<br/><b>Floor Area</b> : #{@detail.floor_area} (#{@detail.floor_area_metric})" %>
          <% end %>

          <% if @property.is_a?(ResidentialSale) %>
            <%= @detail.bedrooms.blank? ? "": "<br/><b>Bedrooms</b> : #{@detail.bedrooms}" %>
            <%= @detail.half_bathroom.blank? ? "": "<br/><b>Half Bathroom</b> : #{@detail.half_bathroom}" %>
            <%= @detail.bathrooms.blank? ? "": "<br/><b>Bathrooms</b> : #{@detail.bathrooms}" %>
            <%= @detail.half_bedroom.blank? ? "": "<br/><b>Half Bedroom</b> : #{@detail.half_bedroom}" %>
            <%= @detail.number_of_floors.blank? ? "": "<br/><b>Number Of Floors</b> : #{@detail.number_of_floors}" %>
            <%= @detail.carport_spaces.blank? ? "": "<br/><b>Carport Spaces</b> : #{@detail.carport_spaces}" %>
            <%= @detail.garage_spaces.blank? ? "": "<br/><b>Garage Spaces</b> : #{@detail.garage_spaces}" %>
            <%= @detail.off_street_spaces.blank? ? "": "<br/><b>Off Street Spaces</b> : #{@detail.off_street_spaces}" %>
            <%= @detail.energy_efficiency_rating.blank? ? "": "<br/><b>Energy Efficiency Rating</b> : #{@detail.energy_efficiency_rating}" %>

            <%= @detail.tax_rate.blank? ? "": "<br/><b>Tax Rate</b> : #{@detail.tax_rate} (#{@detail.tax_rate_period})" %>
            <%= @detail.condo_strata_fee.blank? ? "": "<br/><b>Condo/strata Fee</b> : #{@detail.condo_strata_fee} (#{@detail.condo_strata_fee_period})" %>
            <%= @detail.estimate_rental_return.blank? ? "": "<br/><b>Estimate Rental Return</b> : #{@detail.estimate_rental_return} (#{@detail.estimate_rental_return_period})" %>
            <%= @detail.water_rate.blank? ? "": "<br/><b>Water Rate</b> : #{@detail.water_rate} (#{@detail.water_rate_period})" %>

            <%= @detail.auction_place.blank? ? "": "<br/><b>Event Place</b> : #{@detail.auction_place}" %>
            <%= @detail.auction_date.blank? ? "": "<br/><b>Event Date</b> : #{@detail.auction_date}" %>
            <%= @detail.auction_time.blank? ? "": "<br/><b>Event Time</b> : #{@detail.auction_time}" %>
          <% end %>

          <% if @property.is_a?(ResidentialLease) %>
            <%= @detail.bedrooms.blank? ? "": "<br/><b>Bedrooms</b> : #{@detail.bedrooms}" %>
            <%= @detail.half_bathroom.blank? ? "": "<br/><b>Half Bathroom</b> : #{@detail.half_bathroom}" %>
            <%= @detail.bathrooms.blank? ? "": "<br/><b>Bathrooms</b> : #{@detail.bathrooms}" %>
            <%= @detail.half_bedroom.blank? ? "": "<br/><b>Half Bedroom</b> : #{@detail.half_bedroom}" %>
            <%= @detail.number_of_floors.blank? ? "": "<br/><b>Number Of Floors</b> : #{@detail.number_of_floors}" %>
            <%= @detail.carport_spaces.blank? ? "": "<br/><b>Carport Spaces</b> : #{@detail.carport_spaces}" %>
            <%= @detail.garage_spaces.blank? ? "": "<br/><b>Garage Spaces</b> : #{@detail.garage_spaces}" %>
            <%= @detail.off_street_spaces.blank? ? "": "<br/><b>Off Street Spaces</b> : #{@detail.off_street_spaces}" %>
            <%= @detail.energy_efficiency_rating.blank? ? "": "<br/><b>Energy Efficiency Rating</b> : #{@detail.energy_efficiency_rating}" %>

            <%= @detail.bond.blank? ? "": "<br/><b>Bond</b> : #{@detail.bond}" %>
            <%= @detail.date_available.blank? ? "": "<br/><b>Date Available</b> : #{@detail.date_available.strftime("%d/%m/%Y")}" %>
            <%= @detail.fee_terms.blank? ? "": "<br/><b>Fee Terms</b> : #{@detail.fee_terms}" %>
          <% end %>

          <% if @property.is_a?(BusinessSale) %>
            <%= @detail.energy_efficiency_rating.blank? ? "": "<br/><b>Energy Efficiency Rating</b> : #{@detail.energy_efficiency_rating}" %>
            <%= @detail.category.blank? ? "": "<br/><b>Category</b> : #{@detail.category}" %>
            <%= @detail.business_name.blank? ? "": "<br/><b>Business Name</b> : #{@detail.business_name}" %>
            <%= @detail.premise.blank? || @detail.premise == "Please select" ? "": "<br/><b>Premise</b> : #{@detail.premise}" %>
            <%= @detail.lease_commencement.blank? ? "": "<br/><b>Lease commencement</b> : #{@detail.lease_commencement}" %>
            <%= @detail.lease_end.blank? ? "": "<br/><b>Lease End</b> : #{@detail.lease_end}" %>
            <%= @detail.lease_option.blank? || @detail.lease_option == "Please select" ? "": "<br/><b>Lease Option</b> : #{@detail.lease_option}" %>
            <%= @detail.lease_plus_another.blank? || @detail.lease_plus_another == "Please select" ? "": "<br/><b>Lease Plus Another</b> : #{@detail.lease_plus_another}" %>
            <%= @detail.current_rent.blank? ? "": "<br/><b>Current Rent</b> : #{@detail.current_rent}" %>
            <%= @detail.current_rent_include_tax.blank? ? "": "<br/><b>Current Rent Include Tax</b> : #{@detail.current_rent_include_tax}" %>
            <%= @detail.current_outgoings.blank? ? "": "<br/><b>Current Outgoings</b> : #{@detail.current_outgoings}" %>
            <%= @detail.patron_capacity.blank? ? "": "<br/><b>Patron Capacity</b> : #{@detail.patron_capacity}" %>
            <%= @detail.parking_spaces.blank? ? "": "<br/><b>Parking Spaces</b> : #{@detail.parking_spaces}" %>
            <%= @detail.franchise.blank? || @detail.franchise == "Please select" ? "": "<br/><b>Franchise</b> : #{@detail.franchise}" %>
            <%= @detail.outlets.blank? ? "": "<br/><b>Outlets</b> : #{@detail.outlets}" %>
            <%= @detail.franchise_royalties.blank? ? "": "<br/><b>Franchise Royalties</b> : #{@detail.franchise_royalties}" %>
            <%= @detail.franchise_levies.blank? ? "": "<br/><b>Franchise Levies</b> : #{@detail.franchise_levies}" %>
            <%= @detail.staff_full_time.blank? ? "": "<br/><b>Staff Full Time</b> : #{@detail.staff_full_time}" %>
            <%= @detail.staff_casual.blank? ? "": "<br/><b>Staff Casual</b> : #{@detail.staff_casual}" %>
            <%= @detail.annual_turnover.blank? ? "": "<br/><b>Annual Turnover</b> : #{@detail.annual_turnover}" %>
            <%= @detail.annual_gross_profit.blank? ? "": "<br/><b>Annual Gross Profit</b> : #{@detail.annual_gross_profit}" %>
            <%= @detail.annual_ebit.blank? ? "": "<br/><b>Annual Ebit</b> : #{@detail.annual_ebit}" %>
            <%= @detail.approximate_stock_value.blank? ? "": "<br/><b>Approximate Stock Value</b> : #{@detail.approximate_stock_value}" %>
            <%= @detail.price_include_tax.blank? ? "": "<br/><b>Price Include Tax</b> : #{@detail.price_include_tax}" %>
            <%= @detail.price_include_stock.blank? ? "": "<br/><b>Price Include Stock</b> : #{@detail.price_include_stock}" %>

            <%= @detail.auction_place.blank? ? "": "<br/><b>Event Place</b> : #{@detail.auction_place}" %>
            <%= @detail.auction_date.blank? ? "": "<br/><b>Event Date</b> : #{@detail.auction_date}" %>
            <%= @detail.auction_time.blank? ? "": "<br/><b>Event Time</b> : #{@detail.auction_time}" %>
          <% end %>

          <% if @property.is_a?(ProjectSale) %>
            <%= @detail.bedrooms.blank? ? "": "<br/><b>Bedrooms</b> : #{@detail.bedrooms}" %>
            <%= @detail.half_bathroom.blank? ? "": "<br/><b>Half Bathroom</b> : #{@detail.half_bathroom}" %>
            <%= @detail.bathrooms.blank? ? "": "<br/><b>Bathrooms</b> : #{@detail.bathrooms}" %>
            <%= @detail.half_bedroom.blank? ? "": "<br/><b>Half Bedroom</b> : #{@detail.half_bedroom}" %>
            <%= @detail.carport_spaces.blank? ? "": "<br/><b>Carport Spaces</b> : #{@detail.carport_spaces}" %>
            <%= @detail.garage_spaces.blank? ? "": "<br/><b>Garage Spaces</b> : #{@detail.garage_spaces}" %>
            <%= @detail.off_street_spaces.blank? ? "": "<br/><b>Off Street Spaces</b> : #{@detail.off_street_spaces}" %>
            <%= @detail.energy_efficiency_rating.blank? ? "": "<br/><b>Energy Efficiency Rating</b> : #{@detail.energy_efficiency_rating}" %>
            <%= @detail.date_of_completion.blank? ? "": "<br/><b>Date of Completion</b> : #{@detail.date_of_completion}" %>
            <%= @detail.development_name.blank? ? "": "<br/><b>Development Name</b> : #{@detail.development_name}" %>
            <%= @detail.design_type.blank? ? "": "<br/><b>Design Type</b> : #{@detail.design_type}" %>
            <%= @detail.style.blank? ? "": "<br/><b>Style</b> : #{@detail.style}" %>
            <%= @detail.porch_terrace_area.blank? ? "": "<br/><b>Porch Terrace Area</b> : #{@detail.porch_terrace_area}  (#{@detail.porch_terrace_area_metric})" %>
            <%= @detail.land_width.blank? ? "": "<br/><b>Land Width</b> : #{@detail.land_width}  (#{@detail.land_width_metric})" %>
            <%= @detail.land_depth.blank? ? "": "<br/><b>Porch Terrace Area</b> : #{@detail.land_depth}  (#{@detail.land_depth_metric})" %>
          <% end %>

          <% if @property.is_a?(HolidayLease) %>
            <%= @detail.bedrooms.blank? ? "": "<br/><b>Bedrooms</b> : #{@detail.bedrooms}" %>
            <%= @detail.half_bathroom.blank? ? "": "<br/><b>Half Bathroom</b> : #{@detail.half_bathroom}" %>
            <%= @detail.bathrooms.blank? ? "": "<br/><b>Bathrooms</b> : #{@detail.bathrooms}" %>
            <%= @detail.half_bedroom.blank? ? "": "<br/><b>Half Bedroom</b> : #{@detail.half_bedroom}" %>
            <%= @detail.number_of_floors.blank? ? "": "<br/><b>Number Of Floors</b> : #{@detail.number_of_floors}" %>
            <%= @detail.carport_spaces.blank? ? "": "<br/><b>Carport Spaces</b> : #{@detail.carport_spaces}" %>
            <%= @detail.garage_spaces.blank? ? "": "<br/><b>Garage Spaces</b> : #{@detail.garage_spaces}" %>
            <%= @detail.off_street_spaces.blank? ? "": "<br/><b>Off Street Spaces</b> : #{@detail.off_street_spaces}" %>
            <%= @detail.energy_efficiency_rating.blank? ? "": "<br/><b>Energy Efficiency Rating</b> : #{@detail.energy_efficiency_rating}" %>
            <%= @detail.max_persons.blank? ? "": "<br/><b>Max Persons</b> : #{@detail.max_persons}" %>

            <%= @detail.bond.blank? ? "": "<br/><b>Bond</b> : #{@detail.bond}" %>
            <%= @detail.cleaning_fee.blank? ? "": "<br/><b>Cleaning Fee</b> : #{@detail.cleaning_fee}" %>
            <%= @detail.unavailable_date.blank? ? "": "<br/><b>Unavailable Date</b> : #{@detail.unavailable_date}" %>
            <%= @detail.price_period.blank? ? "": "<br/><b>Price Period</b> : #{@detail.price_period}" %>

            <%= @detail.mid_season_price.blank? ? "": "<br/><b>Mid Season Price</b> : #{@detail.mid_season_price} (#{@detail.mid_season_period})" %>
            <%= @detail.high_season_price.blank? ? "": "<br/><b>High Season Price</b> : #{@detail.high_season_price} (#{@detail.high_season_period})" %>
            <%= @detail.peak_season_price.blank? ? "": "<br/><b>Peak Season Price</b> : #{@detail.peak_season_price} (#{@detail.peak_season_period})" %>
          <% end %>
          <% if @property.is_a?(NewDevelopment)%>
            <%= @detail.development_name.blank? ? "": "<br/><b>Building Name</b> : #{@detail.development_name}" %>
            <%= @detail.development_website.blank? ? "": "<br/><b>Building Website</b> : #{@detail.development_website}" %>
            <%= @detail.number_of_floors.blank? ? "": "<br/><b>Number Of Floors</b> : #{@detail.number_of_floors}" %>
            <%= @detail.number_of_properties.blank? ? "": "<br/><b>Number Of Properties</b> : #{@detail.number_of_properties}" %>
            <%= @detail.architect_name.blank? ? "": "<br/><b>Architect Name</b> : #{@detail.architect_name}" %>
            <%= @detail.start_date.blank? ? "": "<br/><b>Start Date</b> : #{@detail.start_date}" %>
            <%= @detail.completion_date.blank? ? "": "<br/><b>Completion Date</b> : #{@detail.completion_date}" %>
            <%= @detail.distance.blank? ? "": "<br/><b>Distance</b> : #{@detail.distance}" %>
            <%= @detail.listing_privacy.blank? ? "": "<br/><b>Listing Privacy</b> : #{@detail.listing_privacy}" %>

            <%= @detail.bedroom_from.blank? ? "": "<br/><b>Bedroom</b> : #{@detail.bedroom_from} to #{@detail.bedroom_to}" %>
            <%= @detail.carspace_from.blank? ? "": "<br/><b>Carspace</b> : #{@detail.carspace_from} to #{@detail.carspace_to}" %>
            <%= @detail.size_from.blank? ? "": "<br/><b>Size</b> : #{@detail.size_from} to #{@detail.size_to}" %>
          <% end %>
          <% if @property.is_a?(LandRelease) %>
            <%= @detail.release_name.blank? ? "": "<br/><b>Release Name</b> : #{@detail.release_name}" %>
            <%= @detail.release_website.blank? ? "": "<br/><b>Release Website</b> : #{@detail.release_website}" %>
            <%= @detail.start_date.blank? ? "": "<br/><b>Start Date</b> : #{@detail.start_date}" %>
            <%= @detail.completion_date.blank? ? "": "<br/><b>Completion Date</b> : #{@detail.completion_date}" %>
            <%= @detail.size_from.blank? ? "": "<br/><b>Size</b> : #{@detail.size_from} to #{@detail.size_to}" %>
            <%= @detail.distance.blank? ? "": "<br/><b>Distance</b> : #{@detail.distance}" %>
          <%end%>
          <% if @property.is_a?(CommercialBuilding) %>
            <%= @detail.building_name.blank? ? "": "<br/><b>Release Name</b> : #{@detail.building_name}" %>
            <%= @detail.building_website.blank? ? "": "<br/><b>Release Website</b> : #{@detail.building_website}" %>
            <%= @detail.distance.blank? ? "": "<br/><b>Distance</b> : #{@detail.distance}" %>
            <%= @detail.year_built.blank? ? "": "<br/><b>Year built:</b> : #{@detail.year_built}" %>
            <%= @detail.land_area.blank? ? "": "<br/><b>Land Area</b> : #{@detail.land_area} (#{@detail.land_area_metric})" %>
            <%= @detail.floor_area.blank? ? "": "<br/><b>Floor Area</b> : #{@detail.floor_area} (#{@detail.floor_area_metric})" %>
            <%= @detail.office_area.blank? ? "": "<br/><b>Office Area</b> : #{@detail.office_area} (#{@detail.office_area_metric})" %>
            <%= @detail.warehouse_area.blank? ? "": "<br/><b>Warehouse Area</b> : #{@detail.warehouse_area} (#{@detail.warehouse_area_metric})" %>
            <%= @detail.retail_area.blank? ? "": "<br/><b>Retail Area</b> : #{@detail.retail_area} (#{@detail.retail_area_metric})" %>
            <%= @detail.other_area.blank? ? "": "<br/><b>Other Area</b> : #{@detail.other_area} (#{@detail.other_area_metric})" %>
            <%= @detail.size_from.blank? ? "": "<br/><b>Size</b> : #{@detail.size_from} to #{@detail.size_to}" %>
            <%= @detail.number_of_suites.blank? ? "": "<br/><b>Number of Suites</b> : #{@detail.number_of_suites}" %>
            <%= @detail.number_of_floors.blank? ? "": "<br/><b>Number of Floors</b> : #{@detail.number_of_floors}" %>
            <%= @detail.number_of_carspaces.blank? ? "": "<br/><b>Number of Car Spaces</b> : #{@detail.number_of_carspaces}" %>
            <%= @detail.parking_comments.blank? ? "": "<br/><b>Parking Comments</b> : #{@detail.parking_comments}" %>
            <%= @detail.carspace_from.blank? ? "": "<br/><b>Carspace range</b> : #{@detail.carspace_from} to #{@detail.carspace_to}" %>
          <%end%>
        </p>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>