<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">List Heard Categories </h6>
    <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th class="first_cell" style="background-color:#C8D2DC;">Date</th>
          <th style="background-color:#C8D2DC;">Name</th>
          <th style="background-color:#C8D2DC;">Creator</th>
          <th style="background-color:#C8D2DC;">Action</th>
        </tr>
        <% @heards.each do |heard| -%>
        <tr>
          <td class="first_cell"><%= (heard.created_at ? heard.created_at.strftime("%d-%m-%Y") : "-") %></td>
          <td class="value"><%= (heard.name ? heard.name : "-") %></td>
          <td class="value"><%= (heard.creator.nil? ? "System" : heard.creator.full_name) %></td>
          <td class="value">
            <% unless heard.creator.nil? %>
            <%= link_to "Edit", edit_agent_office_heard_from_path(@agent,@office,  heard), :method => :get %> |
            <%= link_to "Delete", agent_office_heard_from_path(@agent,@office, heard), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>  </td>
            <% end %>
        </tr>
        <% end -%>
   </table>
    <%= will_paginate @heards %>
    <div class="action_button" style="border:none;">

      <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.update_heards(); return false", :style =>"float:right;"%>
     </div>
  </div>
</div>