<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">List Groups </h6>
    <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th class="first_cell" style="background-color:#C8D2DC;">Date</th>
          <th style="background-color:#C8D2DC;">Name</th>
          <th style="background-color:#C8D2DC;">Creator</th>
          <th style="background-color:#C8D2DC;">Action</th>
        </tr>
        <% @groups.each do |group| -%>
        <tr>
          <td class="first_cell"><%= (group.created_at ? group.created_at.strftime("%d-%m-%Y") : "-") %></td>
          <td class="value"><%= (group.name ? group.name : "-") %></td>
          <td class="value"><%= (group.creator.blank? ? "System" : group.creator.full_name) %></td>
          <td class="value">
            <% unless group.creator_id.nil? %>
            <%= link_to "Edit", edit_agent_office_group_company_path(@agent,@office,  group), :method => :get %> |
            <%= link_to "Delete", agent_office_group_company_path(@agent,@office, group), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>  </td>
            <% end %>
        </tr>
        <% end -%>
   </table>
    <%= will_paginate @groups %>
    <div class="action_button" style="border:none;">

      <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.update_groups(); return false", :style =>"float:right;"%>
     </div>
  </div>
</div>