<div class="wrapper" style="height:auto;">
  <div class="stock_header">
    <div class="bg-top">
      <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780" height="80"/>
    </div>
  </div>
  <div class="stock_middle" style="background-color:<%= @title_color %>" >
    <%= @title_list %>
  </div>
  <% unless @properties.blank? %>
    <% @properties.each_with_index do |property, index| %>
    <div class="stock_list" >
      <% unless stock_image_path(property["image_id"], property["image_p_id"], property["image_file"]).blank? %>
      <div class="list_img" style="border:1px solid #CCCCCC;width:100px;">
       <img src="<%= stock_image_path(property["image_id"], property["image_p_id"], property["image_file"]) %>" width="100" height="75"/>
      </div>
      <% end %>
      <div class="list_desc">
        <% if @display_headline == "true" %><span class="list_title" style="font-size:10pt;color:<%= @title_color %>"><%= property["headline"] %></span><% end %>
        <span class="list_spec" style="float:right;">
        <% if property['type'].to_s == 'ResidentialSale' %>
            <% if @display_bed == "true" %><%= (property['residential_sale_bedrooms']) ? property['residential_sale_bedrooms'] + '&nbsp;<img height="12" width="12" src="/images/beds_blue.png"/>&nbsp;&nbsp;' : "" %><% end %>
            <% if @display_bath == "true" %><%= (property['residential_sale_bathrooms']) ? property['residential_sale_bathrooms'] + '&nbsp;<img height="12" width="12" src="/images/baths_blue.png"/>&nbsp;&nbsp;' : "" %><% end %>
            <% if @display_car == "true" %><%= ((property['residential_sale_carport_spaces'].to_i + property['residential_sale_garage_spaces'].to_i) == 0) ? "" : (property['residential_sale_carport_spaces'].to_i + property['residential_sale_garage_spaces'].to_i).to_s + '&nbsp;<img height="12" width="12" src="/images/cars_blue.png"/>' %><% end %>
        <% end %>
        <% if property['type'].to_s == 'ResidentialLease' %>
            <% if @display_bed == "true" %><%= (property['residential_lease_bedrooms']) ? property['residential_lease_bedrooms'] + '&nbsp;<img height="12" width="12" src="/images/beds_blue.png"/>&nbsp;&nbsp;' : "" %><% end %>
            <% if @display_bath == "true" %><%= (property['residential_lease_bathrooms']) ? property['residential_lease_bathrooms'] + '&nbsp;<img height="12" width="12" src="/images/baths_blue.png"/>&nbsp;&nbsp;' : "" %><% end %>
            <% if @display_car == "true" %><%= ((property['residential_lease_carport_spaces'].to_i + property['residential_lease_garage_spaces'].to_i) == 0) ? "" : (property['residential_lease_carport_spaces'].to_i + property['residential_lease_garage_spaces'].to_i).to_s + '&nbsp;<img height="12" width="12" src="/images/cars_blue.png"/>' %><% end %>
        <% end %>
        <% if property['type'].to_s == 'ProjectSale' %>
            <% if @display_bed == "true" %><%= (property['project_sale_bedrooms']) ? property['project_sale_bedrooms'] + '&nbsp;<img height="12" width="12" src="/images/beds_blue.png"/>&nbsp;&nbsp;' : "" %><% end %>
            <% if @display_bath == "true" %><%= (property['project_sale_bathrooms']) ? property['project_sale_bathrooms'] + '&nbsp;<img height="12" width="12" src="/images/baths_blue.png"/>&nbsp;&nbsp;' : "" %><% end %>
            <% if @display_car == "true" %><%= ((property['project_sale_carport_spaces'].to_i + property['project_sale_garage_spaces'].to_i) == 0) ? "" : (property['project_sale_carport_spaces'].to_i + property['project_sale_garage_spaces'].to_i).to_s + '&nbsp;<img height="12" width="12" src="/images/cars_blue.png"/>' %><% end %>
        <% end %>
        <% if property['type'].to_s == 'HolidayLease' %>
            <% if @display_bed == "true" %><%= (property['holiday_lease_bedrooms']) ? property['holiday_lease_bedrooms'] + '&nbsp;<img height="12" width="12" src="/images/beds_blue.png"/>&nbsp;&nbsp;' : "" %><% end %>
            <% if @display_bath == "true" %><%= (property['holiday_lease_bathrooms']) ? property['holiday_lease_bathrooms'] + '&nbsp;<img height="12" width="12" src="/images/baths_blue.png"/>&nbsp;&nbsp;' : "" %><% end %>
            <% if @display_car == "true" %><%= ((property['holiday_lease_carport_spaces'].to_i + property['holiday_lease_garage_spaces'].to_i) == 0) ? "" : (property['holiday_lease_carport_spaces'].to_i + property['holiday_lease_garage_spaces'].to_i).to_s + '&nbsp;<img height="12" width="12" src="/images/cars_blue.png"/>' %><% end %>
        <% end %>
        </span>
      </div>
      <div class="list_desc">
        <div class="col1">
          <% if @display_address == "true" %><%= property["unit_number"].blank? ? property["street_number"] : "#{property["unit_number"]}/#{property["street_number"]}" %>&nbsp;<%= property["street"] %><% end %>
          <% if @display_suburb == "true" %>&nbsp;<%= property["suburb"] %><% end %>
          <br/>
          <% if @display_desc == "true" %><p><%= stock_desc(property["id"]).blank? ? truncate(property["description"], 80, "...") : truncate(stock_desc(property["id"]), 80, "...") %></p><% end %>
          <% if @display_price == "true" %>
            <% unless property["display_price"].to_i == 0 %>
               <% if property['type'].to_s == 'Commercial' %>
                  <% if property['commercial_current_rent'] !='' && property['deal_type'] == 'Lease' %>
                    <div class="list_price"><%= property["display_price"].to_i == 1 ? (property["commercial_current_rent"].blank? ? "" : "$"+property["commercial_current_rent"]) : property["display_price_text"] %></div>
                  <% else %>
                    <div class="list_price"><%= property["display_price"].to_i == 1 ? (property["price"].blank? ? "" : "$"+property["price"]) : property["display_price_text"] %></div>
                 <% end %>
               <% else %>
                  <div class="list_price">
                     <%= property["display_price"].to_i == 1 ? (property["price"].blank? ? "" : "$"+property["price"]) : property["display_price_text"] %>
                     <% if !property['residential_lease_bond'].blank? && @display_bond == "true" %> <br/>Bond: <%= "$"+property['residential_lease_bond'] %> <% end %>
                  </div>
               <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="col2">
          <div class="list_contact"> <% if @display_contact == "true" %><%= property["contact"].to_s + " - " + (property["mobile"].blank? ? property["phone"].to_s : property["mobile"].to_s) %><% end %></div>
          <div class="list_open">
            <%= display_opentime(property["id"], @opentime_days, @opentime_type) unless @opentime_type.blank? %>
          </div>
          <% if @display_auction == "true" %>
            <div class="list_open">
                <% if property['type'].to_s == 'ResidentialSale' %>
                  <% unless property['residential_sale_auction_date'].blank? %>
                    Auction: <%= (property['residential_sale_auction_place']) ? property['residential_sale_auction_place'] : "" %>, <%= (property['residential_sale_auction_date']) ? property['residential_sale_auction_date'].to_date.strftime('%A %B %d') : "" %> <%= (property['residential_sale_auction_time']) ? property['residential_sale_auction_time'] : "" %> <br/>
                  <% end %>
                <% end %>
                <% if property['type'].to_s == 'BussinessSale' %>
                 <% unless property['business_sale_auction_date'].blank? %>
                   Auction: <%= (property['business_sale_auction_place']) ? property['business_sale_auction_date'] : "" %>, <%= (property['business_sale_auction_date']) ? property['residential_sale_auction_date'].to_date.strftime('%A %B %d') : "" %> <%= (property['business_sale_auction_time']) ? property['residential_sale_auction_time'] : "" %> <br/>
                 <% end %>
                <% end %>
                <% if property['type'].to_s == 'Commercial' %>
                  <% unless property['business_sale_auction_date'].blank? %>
                   Auction: <%= (property['commercial_auction_place']) ? property['commercial_auction_place'] : "" %>, <%= (property['commercial_auction_date']) ? property['commercial_auction_date'].to_date.strftime('%A %B %d') : "" %> <%= (property['commercial_auction_time']) ? property['commercial_auction_time'] : "" %> <br/>
                  <% end %>
                <% end %>
            </div>
          <% end %>
          <% if @display_property_id == "true" %>
            <% unless property['id'].blank? %>
              <div class="list_open">Property ID: <%=  property['id'] %></div>
            <% end %>
          <% end %>
          <% if @display_internet_id == "true" %>
            <% unless property['property_id'].blank? %>
              <div class="list_open">Internet ID: <%=  property['property_id'] %></div>
            <% end %>
          <% end %>
          <% if @display_available == "true" %>
            <% if property['type'].to_s == 'Commercial' %>
                <%= (property['commercial_date_available']) ? "<div class='list_open'> Available: #{property['commercial_date_available'].to_date.strftime("%d/%m/%Y")}</div>" : "" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <% if index < 9 && @count == 9 %>
      <% @count = 0 %>
      <div style="height:8px;width:782px;"></div>
    <% end %>
    <% if @count == 10 %>
      <% @count = 1 %>
      <div style="height:7px;width:782px;"></div>
    <% else %>
      <% @count += 1 %>
    <% end %>
    <div class="clear"></div>
     <% if @properties.size == (index +1) %>
        <div class="stock_footer" style="margin-top:35px;"><div class="bg-top"><img src="<%= @footer_image.public_filename unless @footer_image.blank? %>" width="780" height="75"/></div></div>
      <% end %>
    <% end %>
  <% end %>
</div>