<div class="wrapper stock-theme5" style="height:auto;">
  <% unless @properties.blank? %>
    <% @properties.each_with_index do |property, index| %>
    <% if index == 0 %>
      <div class="s5-header"><div class="bg-top"><img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780"/></div></div>
    <% end %>
    <% if (12..500).step(12).include?(index) %>
      <div class="clear"></div>
      <div class="s5-content-name"><%= @title_list %></div>
      <div class="s5-footer">
        <div class="bg-top"><img src="<%= @footer_image.public_filename unless @footer_image.blank? %>" width="780" height="78"/></div>
      </div>
      <div class="s5-header"><div class="bg-top"><img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780"/></div></div>
    <% end %>
    <div class="s5-list">
      <div class="s5-img">
        <img src="<%= stock_image_path(property["image_id"], property["image_p_id"], property["image_file"]) %>" width="150" />
      </div>
      <div class="s5-bbc">
        <% if property['type'].to_s == 'ResidentialSale' %>
          <% if @display_bed == "true" %><% unless property['residential_sale_bedrooms'].blank? %><%= (property['residential_sale_bedrooms'].to_i > 0) ? "<div class='s5-bbc-detail' #{(property['residential_sale_half_bedroom'] == "1" ? "style='margin-left: 2px;'" : "" )}>#{(property['residential_sale_half_bedroom'] == "1" ? property['residential_sale_bedrooms'].to_i + 0.5 : property['residential_sale_bedrooms'])}&nbsp;<img width='20' src='/images/p_beds.gif'/></div>" : "" %><% end %><% end %>
          <% if @display_bath == "true" %><% unless property['residential_sale_bathrooms'].blank? %><%= (property['residential_sale_bathrooms'].to_i > 0) ? "<div class='s5-bbc-detail' #{(property['residential_sale_half_bathroom'] == "1" ? "style='margin-left: 2px;'" : "" )}>#{(property['residential_sale_half_bathroom'] == "1" ? property['residential_sale_bathrooms'].to_i + 0.5 : property['residential_sale_bathrooms'])}&nbsp;<img width='20' src='/images/p_baths.gif'/></div>" : "" %><% end %><% end %>
          <% if @display_car == "true" %><%= ((property['residential_sale_carport_spaces'].to_i + property['residential_sale_garage_spaces'].to_i) == 0) ? "" : "<div class='s5-bbc-detail'>#{(property['residential_sale_carport_spaces'].to_i + property['residential_sale_garage_spaces'].to_i).to_s}&nbsp;<img width='20' src='/images/p_cars.gif'/></div>" %><% end %>
        <% end %>
        <% if property['type'].to_s == 'ResidentialLease' %>
          <% if @display_bed == "true" %><% unless property['residential_lease_bedrooms'].blank? %><%= (property['residential_lease_bedrooms'].to_i > 0) ? "<div class='s5-bbc-detail' #{(property['residential_lease_half_bedroom'] == "1" ? "style='margin-left: 2px;'" : "" )}>#{(property['residential_lease_half_bedroom'] == "1" ? property['residential_lease_bedrooms'].to_i + 0.5 : property['residential_lease_bedrooms'])}&nbsp;<img width='20' src='/images/p_beds.gif'/></div>" : "" %><% end %><% end %>
          <% if @display_bath == "true" %><% unless property['residential_lease_bathrooms'].blank? %><%= (property['residential_lease_bathrooms'].to_i > 0) ? "<div class='s5-bbc-detail' #{(property['residential_lease_half_bathroom'] == "1" ? "style='margin-left: 2px;'" : "" )}>#{(property['residential_lease_half_bathroom'] == "1" ? property['residential_lease_bathrooms'].to_i + 0.5 : property['residential_lease_bathrooms'])}&nbsp;<img width='20' src='/images/p_baths.gif'/></div>" : "" %><% end %><% end %>
          <% if @display_car == "true" %><%= ((property['residential_lease_carport_spaces'].to_i + property['residential_lease_garage_spaces'].to_i) == 0) ? "" : "<div class='s5-bbc-detail'>#{(property['residential_lease_carport_spaces'].to_i + property['residential_lease_garage_spaces'].to_i).to_s}&nbsp;<img width='20' src='/images/p_cars.gif'/></div>" %><% end %>
        <% end %>
        <% if property['type'].to_s == 'ProjectSale' %>
          <% if @display_bed == "true" %><% unless property['project_sale_bedrooms'].blank? %><%= (property['project_sale_bedrooms'].to_i > 0) ? "<div class='s5-bbc-detail' #{(property['project_sale_half_bedroom'] == "1" ? "style='margin-left: 2px;'" : "" )}>#{(property['project_sale_half_bedroom'] == "1" ? property['project_sale_bedrooms'].to_i + 0.5 : property['project_sale_bedrooms'])}&nbsp;<img width='20' src='/images/p_beds.gif'/></div>" : "" %><% end %><% end %>
          <% if @display_bath == "true" %><% unless property['project_sale_bathrooms'].blank? %><%= (property['project_sale_bathrooms'].to_i > 0) ? "<div class='s5-bbc-detail' #{(property['project_sale_half_bathroom'] == "1" ? "style='margin-left: 2px;'" : "" )}>#{(property['project_sale_half_bathroom'] == "1" ? property['project_sale_bathrooms'].to_i + 0.5 : property['project_sale_bathrooms'])}&nbsp;<img width='20' src='/images/p_baths.gif'/></div>" : "" %><% end %><% end %>
          <% if @display_car == "true" %><%= ((property['project_sale_carport_spaces'].to_i + property['project_sale_garage_spaces'].to_i) == 0) ? "" : "<div class='s5-bbc-detail'>#{(property['project_sale_carport_spaces'].to_i + property['project_sale_garage_spaces'].to_i).to_s}&nbsp;<img width='20' src='/images/p_cars.gif'/></div>" %><% end %>
        <% end %>
        <% if property['type'].to_s == 'HolidayLease' %>
          <% if @display_bed == "true" %><% unless property['holiday_lease_bedrooms'].blank? %><%= (property['holiday_lease_bedrooms']) ? "<div class='s5-bbc-detail' #{(property['holiday_lease_half_bedroom'] == "1" ? "style='margin-left: 2px;'" : "" )}>#{(property['holiday_lease_half_bedroom'] == "1" ? property['holiday_lease_bedrooms'].to_i + 0.5 : property['holiday_lease_bedrooms'])}&nbsp;<img width='20' src='/images/p_beds.gif'/></div>" : "" %><% end %><% end %>
          <% if @display_bath == "true" %><% unless property['holiday_lease_bathrooms'].blank? %><%= (property['holiday_lease_bathrooms']) ? "<div class='s5-bbc-detail' #{(property['holiday_lease_half_bathroom'] == "1" ? "style='margin-left: 2px;'" : "" )}>#{(property['holiday_lease_half_bathroom'] == "1" ? property['holiday_lease_bathrooms'].to_i + 0.5 : property['holiday_lease_bathrooms'])}&nbsp;<img width='20' src='/images/p_baths.gif'/></div>" : "" %><% end %><% end %>
          <% if @display_car == "true" %><%= ((property['holiday_lease_carport_spaces'].to_i + property['holiday_lease_garage_spaces'].to_i) == 0) ? "" : "<div class='s5-bbc-detail'>#{(property['holiday_lease_carport_spaces'].to_i + property['holiday_lease_garage_spaces'].to_i).to_s}&nbsp;<img width='20' src='/images/p_cars.gif'/></div>" %><% end %>
        <% end %>
      </div>
      <div class="s5-content">
        <% if @display_suburb == "true" %>
          <div class="s5-content-suburb"><%= property["suburb"].upcase %></div>
        <% end %>
        <% if @display_address == "true" %>
          <div class="s5-content-address"><%= property["unit_number"].blank? ? property["street_number"].downcase : "#{property["unit_number"]}/#{property["street_number"]}".downcase %>&nbsp;<%= property["street"].downcase %></div>
        <% end %>
        <% unless @opentime_type.blank? %>
          <% if check_opentime(property["id"]) %>
            <div class="s5-content-opentime"><%= display_opentime_theme5(property["id"], @opentime_days, @opentime_type)%></div>
          <% end %>
        <% end %>
        <% if @display_headline == "true" %>
          <div class="s5-content-headline"><%= property["headline"] %></div>
        <% end %>
        <% if @display_price == "true" %>
          <% unless property["display_price"].to_i == 0 %>
            <% if property['type'].to_s == 'Commercial' || property['type'].to_s == 'ResidentialLease' || property['type'].to_s == 'HolidayLease' %>
              <% if property['commercial_current_rent'] %>
                <% if property['deal_type'] == 'Lease' %>
                  <div class="s5-content-price"><%= property["display_price"].to_i == 1 ? (property["commercial_current_rent"].blank? ? "" : "$"+property["commercial_current_rent"]) : property["display_price_text"] %></div>
                <% else %>
                  <div class="s5-content-price"><%= property["display_price"].to_i == 1 ? (property["price"].blank? ? "" : "$"+property["price"]) : property["display_price_text"] %></div>
                <% end %>
              <% else %>
                <div class="s5-content-price"><%= property["display_price"].to_i == 1 ? (property["price"].blank? ? "" : "$"+property["price"]) : property["display_price_text"] %></div>
              <% end %>
            <% else %>
              <div class="s5-content-price"><%= property["display_price"].to_i == 1 ? (property["price"].blank? ? "" : "$"+property["price"]) : property["display_price_text"] %></div>
            <% end %>
          <% end %>
        <% end %>
        <% if @display_contact == "true" %>
          <div class="s5-content-contact"><%= property["contact_first_name"].to_s.capitalize + " " + property["contact_last_name"].to_s.capitalize + " " + (property["mobile"].blank? ? property["phone"].to_s.downcase : property["mobile"].to_s.downcase) %></div>
          <%= level5_contacts(property["id"]) %>
        <% end %>
      </div>
      <%#*<div style="position: relative; top: -77px; left: 24px; font-size: 40px; font-weight: bold; color: red;">SOLD</div>%>
      <div class="clear"></div>
    </div>
    <% end %>
    <%
        @psize_min = 0
        if @properties.size != 0
          if @properties.size % 12 != 0
            page_size = (@properties.size.to_f/12).ceil
            all_property = page_size * 12
            @psize_min = all_property - @properties.size
          else
            @psize_min = 1
          end
        end
    %>
    <% unless @psize_min.blank? %>
    <% if @psize_min > 0 %>
      <% (1..@psize_min).each do |i| %>
        <% if @psize_min != 1%>
          <div class="s5-list">&nbsp;</div>
        <% end %>
      <% end %>
    <% end %>
    <% end %>
  <% end %>
  <div class="clear"></div>
  <div class="s5-content-name"><%= @title_list %></div>
  <div class="s5-footer">
    <div class="bg-top"><img src="<%= @footer_image.public_filename unless @footer_image.blank? %>" width="780" height="75"/></div>
  </div>
  <div class="clear"></div>
</div>