<style>
  img{max-height: 200px;}
</style>
<div class="wrapper stock-theme2" style="height:auto;">
  <% unless @properties.blank? %>
  <% @properties.each_with_index do |property, index| %>
    <% if (0..100).step(4).include?(index) %>
      <div class="stock_header">
        <div class="bg-top">
          <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780" height="80"/>
        </div>
      </div>
    <% end %>
    <div class="s2-list <%= (index.to_i % 2 == 1)? 'grey-stock':''%>">
      <div class="s2-headline">
        <% if @display_suburb == "true" %><%= property["suburb"] %>&nbsp;<% end %>
        <% if @display_address == "true" %>
          <%= property["unit_number"].blank? ? property["street_number"] : "#{property["unit_number"]}/#{property["street_number"]}" %>&nbsp;<%= property["street"] %>
        <% end %>
      </div>
      <div class="s2-content">
        <div class="s2-content-left">
          <div class="desc-option">
            <% if @display_property_id == "true" %>
              <% unless property['id'].blank? %>
                <div class="detail-option"><div class="detail-title">Property ID:</div> <%=  property['id'] %></div>
              <% end %>
            <% end %>
            <% if @display_internet_id == "true" %>
              <% unless property['property_id'].blank? %>
                <div class="detail-option"><div class="detail-title">Internet ID:</div> <%=  property['property_id'] %></div>
              <% end %>
            <% end %>
            <% if @display_price == "true" %>
              <% unless property["display_price"].to_i == 0 %>
                <% if property['type'].to_s == 'Commercial' || property['type'].to_s == 'ResidentialLease' || property['type'].to_s == 'HolidayLease' %>
                  <% if property['commercial_current_rent'] %>
                    <% if property['deal_type'] == 'Lease' %>
                      <div class="detail-option"><div class="detail-title">Rent:</div> <%= property["display_price"].to_i == 1 ? (property["commercial_current_rent"].blank? ? "" : "$"+property["commercial_current_rent"]) : property["display_price_text"] %></div>
                    <% else %>
                      <div class="detail-option"><div class="detail-title">For Sale:</div> <%= property["display_price"].to_i == 1 ? (property["price"].blank? ? "" : "$"+property["price"]) : property["display_price_text"] %></div>
                    <% end %>
                  <% else %>
                    <div class="detail-option"><div class="detail-title">Rent:</div> <%= property["display_price"].to_i == 1 ? (property["price"].blank? ? "" : "$"+property["price"]) : property["display_price_text"] %></div>
                    <% if !property['residential_lease_bond'].blank? && @display_bond == "true" %><div class="detail-option"><div class="detail-title">Bond:</div> <%= "$"+property['residential_lease_bond'] %></div><% end %>
                  <% end %>
                <% else %>
                  <div class="detail-option"><div class="detail-title">For Sale:</div> <%= property["display_price"].to_i == 1 ? (property["price"].blank? ? "" : "$"+property["price"]) : property["display_price_text"] %></div>
                <% end %>
              <% end %>
            <% end %>
            <% if property['type'].to_s == 'ResidentialSale' %>
                <% if @display_bed == "true" %><%= (property['residential_sale_bedrooms']) ? "<div class='detail-option'><div class='detail-title'>Bedrooms:</div> #{property['residential_sale_bedrooms']}</div>" : "" %><% end %>
                <% if @display_bath == "true" %><%= (property['residential_sale_bathrooms']) ? "<div class='detail-option'><div class='detail-title'>Bathrooms:</div> #{property['residential_sale_bathrooms']}</div>" : "" %><% end %>
                <% if @display_car == "true" %><%= (property['residential_sale_carport_spaces']) ? "<div class='detail-option'><div class='detail-title'>Parking:</div> #{property['residential_sale_carport_spaces']}</div>" : "" %><% end %>
            <% end %>
            <% if property['type'].to_s == 'ResidentialLease' %>
                <% if @display_bed == "true" %><%= (property['residential_lease_bedrooms']) ? "<div class='detail-option'><div class='detail-title'>Bedrooms:</div> #{property['residential_lease_bedrooms']}</div>" : "" %><% end %>
                <% if @display_bath == "true" %><%= (property['residential_lease_bathrooms']) ? "<div class='detail-option'><div class='detail-title'>Bathrooms:</div> #{property['residential_lease_bathrooms']}</div>" : "" %><% end %>
                <% if @display_car == "true" %><%= (property['residential_lease_carport_spaces']) ? "<div class='detail-option'><div class='detail-title'>Parking:</div> #{property['residential_lease_carport_spaces']}</div>" : "" %><% end %>
                <% if @display_available == "true" %><%= (property['residential_lease_date_available']) ? "<div class='detail-option'><div class='detail-title'>Available From:</div> #{property['residential_lease_date_available'].to_date.strftime("%d/%m/%Y")}</div>" : "" %><% end %>
            <% end %>
            <% if property['type'].to_s == 'ProjectSale' %>
                <% if @display_bed == "true" %><%= (property['project_sale_bedrooms']) ? "<div class='detail-option'><div class='detail-title'>Bedrooms:</div> #{property['project_sale_bedrooms']}</div>" : "" %><% end %>
                <% if @display_bath == "true" %><%= (property['project_sale_bathrooms']) ? "<div class='detail-option'><div class='detail-title'>Bathrooms:</div> #{property['project_sale_bathrooms']}</div>" : "" %><% end %>
                <% if @display_car == "true" %><%= (property['project_sale_carport_spaces']) ? "<div class='detail-option'><div class='detail-title'>Parking:</div> #{property['project_sale_carport_spaces']}</div>" : "" %><% end %>
            <% end %>
            <% if property['type'].to_s == 'HolidayLease' %>
                <% if @display_bed == "true" %><%= (property['holiday_lease_bedrooms']) ? "<div class='detail-option'><div class='detail-title'>Bedrooms:</div> #{property['holiday_lease_bedrooms']}</div>" : "" %><% end %>
                <% if @display_bath == "true" %><%= (property['holiday_lease_bathrooms']) ? "<div class='detail-option'><div class='detail-title'>Bathrooms:</div> #{property['holiday_lease_bathrooms']}</div>" : "" %><% end %>
                <% if @display_car == "true" %><%= (property['holiday_lease_carport_spaces']) ? "<div class='detail-option'><div class='detail-title'>Parking:</div> #{property['holiday_lease_carport_spaces']}</div>" : "" %><% end %>
            <% end %>
            <% if @display_available == "true" %>
              <% if property['type'].to_s == 'Commercial' %>
                  <%= (property['commercial_date_available']) ? "<div class='detail-option'><div class='detail-title'>Available From:</div> #{property['commercial_date_available'].to_date.strftime("%d/%m/%Y")}</div>" : "" %>
              <% end %>
            <% end %>
            <% if pets_allowed(property['id']) == true %>
               <div class="detail-option"><div class='detail-title'>Pets:</div> Yes</div>
            <% end %>
            <div class="clear"></div>
            <% unless @opentime_type.blank? %>
              <% if check_opentime(property["id"])  %>
              <div><b>Open For Inspection:</b></div>
              <div><%= display_opentime(property["id"], @opentime_days, @opentime_type)%></div>
              <% end %>
            <% end %>
          </div>
          <% if @display_headline == "true" %><p style="font-size:12pt;"><b><%= property["headline"] %></b></p><% end %>
          <% if @display_desc == "true" %><p><%= stock_desc(property["id"]).blank? ? truncate(property["description"], 500, "...") : truncate(stock_desc(property["id"]), 500, "...") %></p><% end %>
        </div>
        <div class="s2-content-right">
          <div style="width:210px;height:160px;overflow:hidden;"><img src="<%= stock_image_path(property["image_id"], property["image_p_id"], property["image_file"]) %>" width="210"/></div>
          <% if @display_contact == "true" %><p><%= property["contact"].to_s + "<br/>" + (property["mobile"].blank? ? property["phone"].to_s : property["mobile"].to_s) %></p><% end %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>