<div class="wrapper stock-theme4" style="height:auto;">
  <% unless @properties.blank? %>
    <% @properties.each_with_index do |property, index| %>
    <% if index == 0 %>
      <div class="s4-header" style="height: 90px;">
        <div class="bg-top" style="width: 745px; height: 90px; margin-left: 18px;overflow:hidden">
          <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780"/>
        </div>
      </div>
      <div class="s4-header2">
        <div class="bg-top" style="width: 745px; height: 75px; margin-left: 18px;overflow:hidden">
          <img src="<%= @header_image2.public_filename unless @header_image2.blank? %>" width="780"/>
        </div>
      </div>
      <div class="s4-headline">
        <%= @title_list %>
      </div>
    <% end %>
    <% if (7..500).step(8).include?(index) %>
      <div class="s4-header" style="height: 90px;margin-top:5px;margin-bottom:5px;">
        <div class="bg-top" style="width: 745px; height: 90px; margin-left: 18px;overflow:hidden">
          <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780"/>
        </div>
      </div>
    <% end %>
    <div class="s4-list">
      <div class="s4-img">
        <%= stock_image_theme4_path(property["image_id"], property["image_p_id"], property["image_file"], @display_fullsize, property['status'], @preview) %>
      </div>
      <div class="s4-bed">
        <% if @display_suburb == "true" %><div class="s4-bed-1"><b><%= property["suburb"].downcase %></b></div><% end %>
        <div class="s4-bed-1">
          <% if property['type'].to_s == 'ResidentialSale' %>
            <% if @display_bed == "true" %><% unless property['residential_sale_bedrooms'].blank? %><%= (property['residential_sale_bedrooms'].to_i > 0) ? "<div class='s4-bed-detail'><div class='boldf bedn'>#{property['residential_sale_bedrooms']}</div><div class='bedf'>bed rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_bath == "true" %><% unless property['residential_sale_bathrooms'].blank? %><%= (property['residential_sale_bathrooms'].to_i > 0) ? "<div class='s4-bed-detail'><div class='boldf bedn'>#{property['residential_sale_bathrooms']}</div> <div class='bedf'>bath rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_car == "true" %><%= ((property['residential_sale_carport_spaces'].to_i + property['residential_sale_garage_spaces'].to_i) == 0) ? "" : "<div class='s4-bed-detail'><div class='boldf bedn'>#{(property['residential_sale_carport_spaces'].to_i + property['residential_sale_garage_spaces'].to_i).to_s}</div> <div class='bedf'>car parking</div></div>" %><% end %>
          <% end %>
          <% if property['type'].to_s == 'ResidentialLease' %>
            <% if @display_bed == "true" %><% unless property['residential_lease_bedrooms'].blank? %><%= (property['residential_lease_bedrooms'].to_i > 0) ? "<div class='s4-bed-detail'><div class='boldf bedn'>#{property['residential_lease_bedrooms']}</div> <div class='bedf'>bed rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_bath == "true" %><% unless property['residential_lease_bathrooms'].blank? %><%= (property['residential_lease_bathrooms'].to_i > 0) ? "<div class='s4-bed-detail'><div class='boldf bedn'>#{property['residential_lease_bathrooms']}</div> <div class='bedf'>bath rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_car == "true" %><%= ((property['residential_lease_carport_spaces'].to_i + property['residential_lease_garage_spaces'].to_i) == 0) ? "" : "<div class='s4-bed-detail'><div class='boldf bedn'>#{(property['residential_lease_carport_spaces'].to_i + property['residential_lease_garage_spaces'].to_i).to_s}</div> <div class='bedf'>car parking</div></div>" %><% end %>
          <% end %>
          <% if property['type'].to_s == 'ProjectSale' %>
            <% if @display_bed == "true" %><% unless property['project_sale_bedrooms'].blank? %><%= (property['project_sale_bedrooms'].to_i > 0) ? "<div class='s4-bed-detail'><div class='boldf bedn'>#{property['project_sale_bedrooms']}</div> <div class='bedf'>bed rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_bath == "true" %><% unless property['project_sale_bathrooms'].blank? %><%= (property['project_sale_bathrooms'].to_i > 0) ? "<div class='s4-bed-detail'><div class='boldf bedn'>#{property['project_sale_bathrooms']}</div> <div class='bedf'>bath rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_car == "true" %><%= ((property['project_sale_carport_spaces'].to_i + property['project_sale_garage_spaces'].to_i) == 0) ? "" : "<div class='s4-bed-detail'><div class='boldf bedn'>#{(property['project_sale_carport_spaces'].to_i + property['project_sale_garage_spaces'].to_i).to_s}</div> <div class='bedf'>car parking</div></div>" %><% end %>
          <% end %>
          <% if property['type'].to_s == 'HolidayLease' %>
            <% if @display_bed == "true" %><% unless property['holiday_lease_bedrooms'].blank? %><%= (property['holiday_lease_bedrooms']) ? "<div class='s4-bed-detail'><div class='boldf bedn'>#{property['holiday_lease_bedrooms']}</div> <div class='bedf'>bed rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_bath == "true" %><% unless property['holiday_lease_bathrooms'].blank? %><%= (property['holiday_lease_bathrooms']) ? "<div class='s4-bed-detail'><div class='boldf bedn'>#{property['holiday_lease_bathrooms']}</div> <div class='bedf'>bath rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_car == "true" %><%= ((property['holiday_lease_carport_spaces'].to_i + property['holiday_lease_garage_spaces'].to_i) == 0) ? "" : "<div class='s4-bed-detail'><div class='boldf bedn'>#{(property['holiday_lease_carport_spaces'].to_i + property['holiday_lease_garage_spaces'].to_i).to_s}</div> <div class='bedf'>car parking</div></div>" %><% end %>
          <% end %>
          <% if @display_land == "true" %>
            <% if property['type'].to_s == 'ResidentialSale' %>
              <%= (property['residential_sale_land']) ? "<div class='s4-bed-detail'><div class='boldf bedn'>&nbsp;</div> <div class='bedf'>#{property['residential_sale_land']} #{stock_land_metric(property['residential_sale_land_metric'])} land</div></div>" : "" %>
            <% end %>
            <% if property['type'].to_s == 'ResidentialLease' %>
              <%= (property['residential_lease_land']) ? "<div class='s4-bed-detail'><div class='boldf bedn'>&nbsp;</div> <div class='bedf'>#{property['residential_lease_land']} #{stock_land_metric(property['rresidential_lease_land_metric'])} land</div></div>" : "" %>
            <% end %>
            <% if property['type'].to_s == 'ProjectSale' %>
              <%= (property['project_sale_land']) ? "<div class='s4-bed-detail'><div class='boldf bedn'>&nbsp;</div> <div class='bedf'>#{property['project_sale_land']} #{stock_land_metric(property['project_sale_land_metric'])} land</div></div>" : "" %>
            <% end %>
            <% if property['type'].to_s == 'HolidayLease' %>
              <%= (property['holiday_lease_land']) ? "<div class='s4-bed-detail'><div class='boldf bedn'>&nbsp;</div> <div class='bedf'>#{property['holiday_lease_land']} #{stock_land_metric(property['holiday_lease_land_metric'])} land</div></div>" : "" %>
            <% end %>
            <% if property['type'].to_s == 'Commecial' %>
              <%= (property['commercial_land']) ? "<div class='s4-bed-detail'><div class='boldf bedn'>&nbsp;</div> <div class='bedf'>#{property['commercial_land']} #{stock_land_metric(property['commercial_land_metric'])} land</div></div>" : "" %>
            <% end %>
          <% end %>
          <div class="clear"></div>
        </div>
        <% if @display_price == "true" %>
          <% unless property["display_price"].to_i == 0 %>
            <% if !["2","5"].include?(property["status"]) %>
            <div class="s4-bed-1 boldf">
                <% if property['deal_type'] == 'Lease' %>
                  <%= property["display_price"].to_i == 1 ? (property["commercial_current_rent"].blank? ? "" : "$"+property["commercial_current_rent"]) : property["display_price_text"] %>
                <% else %>
                  <%= property["display_price"].to_i == 1 ? (property["price"].blank? ? "" : "$"+property["price"]) : property["display_price_text"] %>
                <% end %>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="s4-desc">
        <% if @display_address == "true" && property["display_address"] == "1" %><div class="s4-desc-detail boldf"><%= property["unit_number"].blank? ? property["street_number"].downcase : "#{property["unit_number"]}/#{property["street_number"]}".downcase %>&nbsp;<%= property["street"].downcase %></div><% end %>
        <% if @display_desc == "true" %><div class="s4-desc-detail"><%= stock_desc(property["id"]).blank? ? truncate(property["description"], 173, "...") : stock_desc(property["id"]) %></div><% end %>
        <% if @display_contact == "true" %>
          <div class="s4-desc-detail">
            <br/><%= property["contact"].to_s.downcase + " " + (property["mobile"].blank? ? property["phone"].to_s.downcase : property["mobile"].to_s.downcase) %>
          </div>
          <div class="s4-desc-detail" style="margin-top:2px;"><%= secondary_contact(property["id"]) %></div>
        <% end %>
      </div>
      <div class="s4-opentime">
        <% if @display_auction == "true" %>
          <% if property['status'] == "5" %>
             <div class="s4-opentime-detail boldf" style="margin-bottom:4px;">under contract</div>
          <% elsif property['status'] == "2" %>
             <div class="s4-opentime-detail boldf" style="margin-bottom:4px;">sold</div>
          <% else %>
            <% if property['type'].to_s == 'ResidentialSale' %>
              <% if !property['residential_sale_auction_date'].blank? %>
              <div class="s4-opentime-detail">
                <div class="boldf">auction</div>
                <div><%= auction_theme4(property['residential_sale_auction_time'], property['residential_sale_auction_date']) %></div>
              </div>
              <% else %>
                <%= rent_forsale_stocklist_theme4(property) %>
              <% end %>
            <% end %>
            <% if property['type'].to_s == 'BussinessSale' %>
              <% if !property['business_sale_auction_date'].blank? %>
                <div class="s4-opentime-detail">
                  <div class="boldf">auction</div>
                  <div><%= auction_theme4(property['business_sale_auction_time'], property['business_sale_auction_date']) %></div>
                </div>
              <% else %>
                <%= rent_forsale_stocklist_theme4(property) %>
              <% end %>
            <% end %>
            <% if property['type'].to_s == 'Commercial' %>
              <% if !property['commercial_auction_date'].blank? %>
                <div class="s4-opentime-detail">
                  <div class="boldf">auction</div>
                  <div><%= (property['commercial_auction_time']) ? property['commercial_auction_time'].downcase : "" %> <%= (property['commercial_auction_date'] != "0000-00-00") ? property['commercial_auction_date'].to_date.strftime('%a %d %b').downcase : "" %></div>
                </div>
              <% else %>
                <%= rent_forsale_stocklist_theme4(property) %>
              <% end %>
             <% if property['type'].to_s == 'ProjectSale' || property['type'].to_s == 'ResidentialLease' || property['type'].to_s == 'HolidayLease' %>
               <%= rent_forsale_stocklist_theme4(property) %>
             <% end %>
           <% end %>
          <% end %>
        <% else %>
          <%= rent_forsale_stocklist_theme4(property) %>
        <% end %>

        <% if !["2","5"].include?(property["status"]) %>
        <% unless @opentime_type.blank? %>
          <% if check_opentime(property["id"]) %>
            <div class="s4-opentime-detail" style="margin-top:10px;">
              <div>inspect</div>
              <%= display_opentime_theme4(property["id"], @opentime_days, @opentime_type, @opentime_startdate)%>
            </div>
          <% else %>
              <div class="s4-opentime-detail" style="margin-top:10px;">
              <div>inspect</div>by appointment
              </div>
          <% end %>
        <% end %>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>
    <% end %>
  <% end %>
  <div class="clear"></div>
</div>