<style>
  .display-opt{background-color:#E1EBF5;width:50px;}
</style>
<%= stylesheet_link_tag 'style' %>
<div class="title_block block">
  <h2 class="page_title">Choose Data</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= choose_data_agent_office_stock_lists_path(@agent, @office) %>" method="post" name="frm1">
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Sort Result By</h6><br/>
        <table style="border:none;">
          <tr style="background-color:#E1EBF5"><td style="width:150px;">First Level</td>
            <td><select name="first_level">
              <option value="">Please Select</option>
              <option value="suburb" <%= (@first_level.blank?) ? "selected" : ((@first_level == "suburb")? "selected": "")  %>>Suburb</option>
              <option value="price" <%= (@first_level == "price")? "selected": ""  %>>Price</option>
              <option value="status_order" <%= (@first_level == "status_order")? "selected": ""  %>>Status</option>
              <option value="updated_at" <%= (@first_level == "updated_at")? "selected": ""  %>>Date</option>
              </select>
            </td>
          </tr>
          <tr style="background-color:#E1EBF5"><td style="width:150px;">Second Level</td>
            <td><select name="second_level">
              <option value="">Please Select</option>
              <option value="suburb" <%= (@second_level.blank?) ? "selected" : ((@second_level == "suburb")? "selected": "")  %>>Suburb</option>
              <option value="price" <%= (@second_level == "price")? "selected": ""  %>>Price</option>
              <option value="status_order" <%= (@second_level == "status_order")? "selected": ""  %>>Status</option>
              <option value="updated_at" <%= (@second_level == "updated_at")? "selected": ""  %>>Date</option>
              </select>
            </td>
          </tr>
        </table>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Display Open Inspection Times</h6><br/>
        <div style="font-size:9pt;font-weight:bold;">
          <input type="radio" name="opentime_type" value="" style="vertical-align:top;" <%= @opentime_type.blank? ? "checked" : "" %> />&nbsp;No Open Times
          &nbsp;&nbsp;<input type="radio" name="opentime_type" value="all" style="vertical-align:top;" <%= @opentime_type == "all" ? "checked" : "" %> />&nbsp;All Open Times<br/>
          From date : <input class="single datepicker" value="<%= @opentime_startdate.blank? ? Date.today.strftime("%d/%m/%Y") : @opentime_startdate %>" name="opentime_startdate" size="30" type="text"> until
          &nbsp;&nbsp;<input type="radio" name="opentime_type" value="7" style="vertical-align:top;" <%= @opentime_type == "7" ? "checked" : "" %>/>&nbsp;Next 7 days
          &nbsp;&nbsp;<input type="radio" name="opentime_type" value="14" style="vertical-align:top;" <%= @opentime_type == "14" ? "checked" : "" %> />&nbsp;Next 14 days<br/>

        </div>
      </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Display Options</h6><br/>
        <div style="font-size:9pt;font-weight:bold;">
          <table style="border:none;">
            <tr>
              <td class="display-opt"><input type="checkbox" name="display_headline" value="true" style="vertical-align:top;" <%= @display_headline.blank? ? "checked" : (@display_headline == "true"? "checked" : "") %> />&nbsp;Headline</td>
              <td class="display-opt"><input type="checkbox" name="display_desc" value="true" style="vertical-align:top;" <%= @display_desc.blank? ? "checked" : (@display_desc == "true"? "checked" : "") %>/>&nbsp;Description</td>
              <td class="display-opt"><input type="checkbox" name="display_suburb" value="true" style="vertical-align:top;" <%= @display_suburb.blank? ? "checked" : (@display_suburb == "true"? "checked" : "") %>/>&nbsp;Suburb</td>
              <td class="display-opt"><input type="checkbox" name="display_address" value="true" style="vertical-align:top;" <%= @display_address.blank? ? "checked" : (@display_address == "true"? "checked" : "") %> />&nbsp;Address</td>
              <td class="display-opt"><input type="checkbox" name="display_price" value="true" style="vertical-align:top;" <%= @display_price.blank? ? "checked" : (@display_price == "true"? "checked" : "") %> />&nbsp;Price</td>
            </tr>
            <tr>
              <td class="display-opt"><input type="checkbox" name="display_bed" value="true" style="vertical-align:top;" <%= @display_bed.blank? ? "checked" : (@display_bed == "true"? "checked" : "") %> />&nbsp;Bed</td>
              <td class="display-opt"><input type="checkbox" name="display_bath" value="true" style="vertical-align:top;" <%= @display_bath.blank? ? "checked" : (@display_bath == "true"? "checked" : "") %>/>&nbsp;Bath</td>
              <td class="display-opt"><input type="checkbox" name="display_car" value="true" style="vertical-align:top;" <%= @display_car.blank? ? "checked" : (@display_car == "true"? "checked" : "") %>/>&nbsp;Car</td>
              <td class="display-opt"><input type="checkbox" name="display_contact" value="true" style="vertical-align:top;" <%= @display_contact.blank? ? "checked" : (@display_contact == "true"? "checked" : "") %> />&nbsp;Contact</td>
              <td class="display-opt"><input type="checkbox" name="display_land" value="true" style="vertical-align:top;" <%= @display_land.blank? ? "checked" : (@display_land == "true"? "checked" : "") %> />&nbsp;Display Land</td>
            </tr>
            <tr>
              <td class="display-opt"><input type="checkbox" name="display_auction" value="true" style="vertical-align:top;" <%= @display_auction.blank? ? "checked" : (@display_auction == "true"? "checked" : "") %> />&nbsp;Display Auction Time</td>
              <td class="display-opt"><input type="checkbox" name="display_bond" value="true" style="vertical-align:top;" <%= @display_bond.blank? ? "checked" : (@display_bond == "true"? "checked" : "") %> />&nbsp;Bond</td>
              <td class="display-opt"><input type="checkbox" name="display_property_id" value="true" style="vertical-align:top;" <%= @display_property_id.blank? ? "checked" : (@display_property_id == "true"? "checked" : "") %> />&nbsp;Property Id</td>
              <td class="display-opt"><input type="checkbox" name="display_internet_id" value="true" style="vertical-align:top;" <%= @display_internet_id.blank? ? "checked" : (@display_internet_id == "true"? "checked" : "") %> />&nbsp;Internet Id</td>
              <td class="display-opt"><input type="checkbox" name="display_available" value="true" style="vertical-align:top;" <%= @display_available.blank? ? "checked" : (@display_available == "true"? "checked" : "") %> />&nbsp;Available Date</td>
            </tr>
            <tr>
              <td class="display-opt" colspan="5"><input type="checkbox" name="display_fullsize" value="true" style="vertical-align:top;" <%= @display_fullsize.blank? ? "" : (@display_fullsize == "true"? "checked" : "") %> />&nbsp;Use full size images</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <input type="hidden" name="choose_data" value="update"/>
            <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_properties_agent_office_stock_lists_path(@agent, @office) %>'">« Previous</button>
            <button name="choose_images" type="submit" value="Update" style="float:right;">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>

<script type="text/javascript"> 
$(document).ready(function(){
  $(".datepicker").datepicker({
  dateFormat: 'dd/mm/yy'
  });
});
 </script> 