<%= stylesheet_link_tag 'colorpicker' %>
<%= javascript_include_tag 'dropperredux', 'colorpicker', 'eye', 'utils' %>
<script type="text/javascript">
  $(document).ready(function() {
    var def_color = "<%= @list_color %>";
    if(def_color!=""){
      select_color(def_color);
    }

     var turnon = function () {
                  	$.fn.dropperredux({
		                selector: $('.dropper1'),
		                hoverwidth: 10,
				clickCallback: function(color) {
					select_color("#"+color.rgbhex);
				}
			});
		 };
		 turnon();

      $('#colorSelector').ColorPicker({
	      color: '#ffffff',
	      onShow: function (colpkr) {
		      $(colpkr).fadeIn(500);
		      return false;
	      },
	      onHide: function (colpkr) {
		      $(colpkr).fadeOut(500);
		      return false;
	      },
	      onChange: function (hsb, hex, rgb) {
		      $('#colorSelector div').css('backgroundColor', '#' + hex);
          select_color("#"+hex);
	      }
      });
  });
</script>
<style type="text/css">
  .color_block_stock{
    width:25px;
    height:25px;
    border:1px solid #CCCCCC;
    margin-left:5px;
    margin-bottom:5px;
    float:left;
    cursor:pointer;
  }
</style>
<div class="title_block block">
  <h2 class="page_title">Choose Properties</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= choose_colour_agent_office_stock_lists_path(@agent, @office) %>" method="post" name="frm1">
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Colour Section</h6>
        <table cellpadding="0" cellspacing="0">
           <tr>
             <td colspan="2" >
               <b>Header Image1</b><br/>
               <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780" height="80"  class="dropper1"/>
             </td>
           </tr>
           <% unless @header_image2.blank? %>
           <tr>
             <td colspan="2" >
               <b>Header Image2</b><br/>
               <img src="<%= @header_image2.public_filename unless @header_image2.blank? %>" width="780" height="80"  class="dropper1"/>
             </td>
           </tr>
           <% end %>
           <tr>
             <td colspan="2" >
               <b>Footer Image</b><br/>
               <img src="<%= @footer_image.public_filename unless @footer_image.blank? %>" width="780" height="80"  class="dropper1"/>
             </td>
           </tr>
           <tr>
             <td style="width:250px;">&nbsp;<b>Stock List Name</b></td>
             <td>
               <input type="text" name="list_name" id="list_name" class="single" value="<%= @list_name %>" style="width:200px;"/>
               <input type="hidden" name="list_color" id="list_color" value="<%= @list_color %>"/>
             </td>
           </tr>
           <tr>
             <td>&nbsp;<b>Stock List Background Colour</b></td>
             <td>
               <div id="swatch" style="width:30px; height: 30px; border: 1px solid #666666;float:left;margin-right:10px;"></div>
             <% @color_list.each_with_index{|clr, index| %>
               <div class="bg_class color_block_stock" style="background-color:<%= clr %>" onclick="select_color('<%= clr %>')"></div>
             <% } %>
               <div style="float:left;width:15px;height:1px;"></div>
               <div id="colorSelector" style="float:left;"><div style="background-color: #ffffff"></div></div>
             </td>
           </tr>
           <tr>
             <td>&nbsp;<b>Black Text Colour (Template 3 only)</b></td>
             <td>
               <div>
                 <input type="checkbox" name="black_text" value="true" style="vertical-align:top;" <%= @black_text.present? ? "checked" : "" %> />&nbsp;
               </div>
             </td>
           </tr>
         </table>
        <p><b>&nbsp;* To choose a background colour for your Stock List move the mouse over the header image and click on a colour. This colour will appear in the colour selection box. <br/>&nbsp;Note: this won't work if you use Internet Explorer.</b></p>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_properties_agent_office_stock_lists_path(@agent, @office) %>'">« Previous</button>
            <input type="hidden" name="list_image" id="list_image" value="2"/>
            <button name="choose_images" type="submit" value="Update" style="float:right;">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>
<script type="text/javascript">
  function select_color(color){
    $('#swatch').css({'background-color' : color});
    $('#list_color').val(color);
  }
</script>