<div class="title_block block">
  <h2 class="page_title">Choose Layout</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="" method="post" name="frm1">
<div id="clientdiv" class="block accounts full">
  <div style="width:80%">
      <div class="brochure_layout_wraper">
        <input type="radio" name="layout" value="theme1" style="vertical-align:top;" checked/>
        <img src='/images/theme/theme1.jpg' />
      </div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8"><td class="value" colspan="5">
          <button name="choose_layout" type="submit" value="Update" style="float:right;">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>