<div class="block help full">
  <div class="title_block threequarters leader"><h2>Stock Lists</h2>
  <h4><span class="lite">Here is where you can create a pdf of your stock. You have the ability to search and filter stock and then brand the Stock List so it abides to your styling guide. We can create a custom stock list design for you for a fee of $350 + GST. Simply submit a request to support on the right.</span></h4><br/>
  </div>
  <div class="block help quarter follower">
    <div class="upload_button">
      <%= link_to 'Create Stock list', choose_layout_agent_office_stock_lists_path(@agent, @office), :class => 'btn' %>
    </div><br/>
  </div>
</div>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <h6>Existing Stock Lists </h6>
     <fieldset class="pf_fs2">
       <form name="stocklist_form" id="stocklist_form" method="post" action="<%= multiple_delete_agent_office_stock_lists_path(@agent, @office) %>">
         <div class="action_button" style="border:none;">
           <button name="btn_submit" type="button" value="Submit" onclick="$('#stocklist_form').submit();">
             <img src="/images/icons/famfamfam/cancel.png" alt="tick" width="16" height="16"/> Delete stocklists
           </button>
         </div>
         <table width="100%" cellpadding="0" cellspacing="0">
           <tr><td style="background-color:#f0f0f0;width:20px;">&nbsp;<input type="checkbox" name="check_all" id="check_all" onchange="check_all_func();"/></td><td style="background-color:#f0f0f0;"><b>&nbsp;&nbsp;Date Created</b></td><td style="background-color:#f0f0f0;"><b>Title</b></td><td style="background-color:#f0f0f0;"><b>Filename</b></td><td style="background-color:#f0f0f0;"><b>Action</b></td></tr>
           <% @stock_lists.each do |stocklist| %>
           <tr>
             <td>&nbsp;<input type="checkbox" name="stocklist_ids[]" value="<%= stocklist.id %>"/></td>
             <td>&nbsp;&nbsp;<%= stocklist.created_at.utc.strftime("%d-%m-%Y %H:%I:%S") %></td><td><%= stocklist.title %></td><td><%= stocklist.filename %></td>
             <td><a href="<%= download_agent_office_stock_list_path(@agent, @office, stocklist) %>" target="_blank" style="color:blue;">Download Stock Lists</a> | <%= link_to "Remove Stock List", delete_stock_agent_office_stock_list_path(@agent, @office, stocklist), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :style => "color:red;" %></td>
           </tr>
           <%  end %>
         </table>
       </form>
    </fieldset>
    </div>
  </div>
</div>
<script type="text/javascript">
  function check_all_func(){
    if($('#check_all').is(':checked')){
      $('input[name=stocklist_ids[]]').attr('checked', true);
    }else{
      $('input[name=stocklist_ids[]]').attr('checked', false);
    }
  }
</script>
