<%= stylesheet_link_tag 'brochure','pdf_style', 'stocklist_style' %>
<div class="title_block block">
  <h2 class="page_title">Preview</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="" method="post" name="frm1">
<div id="clientdiv" class="block accounts full <%= @stock_layout == "theme7"? "w1560" : "" %>">
  <div style="margin:0 auto;">
      <%= render :partial => @stock_layout %>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8"><td class="value" colspan="5">
          <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_colour_agent_office_stock_lists_path(@agent, @office) %>'">« Previous</button>
          <form action="" method="post" name="frm1">
            <input type="hidden" name="generate" value="true"/>
            <button name="choose_submit" type="submit" value="Update" style="float:right;">Generate Stock List</button>
           </form>
        </td></tr>
      </table>
  </div>
</div>
</form>