<div class="group">
  <h4>Activate The Vault</h4>
  <div class="set full leader">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="full" id="table_add_domain">
        <tr>
          <td class="field first_cell">
            <%= check_box_tag 'office[activate_vault]', 1, @office.activate_vault, :class => 'checkbox' %>
            <span style="font-style:italic;">(Check here to activate the vault)</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>