<% content_for :head do %>
  <script type="text/javascript">
    jQuery(function(){
        jQuery("#property_suburb_suggest").flexbox('<%= search_suburbs_path %>',{
          method: 'post',
          watermark: '<%= @office.suburb unless @office.blank? %>',
          showArrow: false,
          inputClass: 'single',
          resultTemplate: '{name} {id} {post}',
          hiddenValue: 'post',
          additionValue: 'id',
          minChars: 3,
          queryDelay: 300,
          highlightMatches: false,
          hiddenValue: 'post',
          onSelect: function(){
            jQuery("#office_state").val(this.getAttribute("additionValue"));
            jQuery("#office_zipcode").val(this.getAttribute("hiddenValue"));
            jQuery("#office_suburb").val(this.getAttribute('val'));
          }
        });
        if(jQuery('#office_suburb').parent('.fieldWithErrors').length){
          jQuery('#office_suburb_suggest_input').wrap("<div class='fieldWithErrors'></div>");
        }
      });
  </script>
<% end %>
<div class="group">
  <div class="set half leader">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th colspan="2" class="first_cell">Client Details</th>
        </tr>
        <tr>
          <td class="field first_cell">Client Name:</td>
          <td class="value">
            <span><%= h @agent.name unless @agent.blank? %></span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Client Office:</td>
          <td class="value">
            <%= form.text_field :name, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Country:</td>
          <td class="value">
            <%= form.select :country, @countries, :class => 'select_box' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Suburb:</td>
          <td class="value">
			<div id="property_suburb_suggest"></div>
	        <%= form.hidden_field :suburb %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">State:</td>
          <td class="value">
            <%= form.text_field :state, :class => 'single' %>
            <!-- should with noenter class -->
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Postcode:</td>
          <td class="value">
            <%= form.text_field :zipcode, :class => 'single' %>
            <!-- should with noenter class -->
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Unit/Office Number:</td>
          <td class="value">
            <%= form.text_field :unit_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Street Number:</td>
          <td class="value">
            <%= form.text_field :street_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Street Name/Type:</td>
          <td class="value">
            <%= form.text_field :street, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Office Phone:</td>
          <td class="value">
            <%= form.text_field :phone_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Office Fax:</td>
          <td class="value">
            <%= form.text_field :fax_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Office Email:</td>
          <td class="value">
            <%= form.text_field :email, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Website:</td>
          <td class="value">
            <%= form.text_field :url, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <th colspan="2" class="first_cell">Office Contact</th>
        </tr>
        <tr>
          <td class="field first_cell">First Name:</td>
          <td class="value">
            <%= form.text_field :contact_first_name, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Last Name:</td>
          <td class="value">
            <%= form.text_field :contact_last_name, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Email:</td>
          <td class="value">
            <%= form.text_field :contact_email, :class => 'single' %>
          </td>
        </tr>

      </table>
    </div>
  </div>

  <div class="set half follower">
    <div class="group">
	
	    <%= form.hidden_field :latitude %>
	    <%= form.hidden_field :longitude %>
      <div class="block mapdiv">
        <%= render :partial => "offices/gmap", :locals => { :height => '280px' } %>
        <!-- NOTE TO DEVELOPER: I'm sure you don't really want this image so remove as needed. And I certainly don't actually want the map to distort when the user adjusts their window size. but if the map could extend or contract as the user moves her window out or in without distorting, that would be awesome. i'm sure there's a way we can do this. -->
      </div>

      <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th colspan="2" class="first_cell">Office Settings</th>
        </tr>
        <tr>
          <td class="field first_cell">Office Status:</td>
          <td class="value">
            <%= form.select :status, @status, :class => 'select_box' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Developer Contact:</td>
          <td class="value">
            <%= form.select :developer_contact_id, @contacts, {}, :class => 'select_box contact_select' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Support Contact:</td>
          <td class="value">
            <%= form.select :support_contact_id, @contacts, {}, :class => 'select_box contact_select' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Upgrade Contact:</td>
          <td class="value">
            <%= form.select :upgrade_contact_id, @contacts, {}, :class => 'select_box contact_select' %>
          </td>
        </tr>
        <tr class="noborder"><!-- NOTE TO DEVELOPER: This "noborder" class is important here to make the two Client Access rows look like one. -->
          <td class="field first_cell" style="vertical-align:text-top;">Developer Access:</td>
          <td class="value">
			<ul class="developer_access">
				<li><label><%= check_box_tag 'all_access', nil, false, :class => 'checkbox' %> All</label></li>
        <% unless @agent.developer.developer_users.blank?  %>
				<% @agent.developer.developer_users.each do |dev| %>
					<li><label><%= check_box_tag 'developer_accesses[]', dev.id, @office_developer_accesses_ids.include?(dev.id), :class => 'checkbox developer_access_select', :id => "access_#{dev.id}" %> <%= h dev.full_name %></label></li>
				<% end %>
        <% end %>
			</ul>
			</td>
        </tr>
      </table>
    </div>
  </div>

<script type="text/javascript" charset="utf-8">
	$(function() {
		developer_access_event();
	});
</script>

  <div class="clearer"></div>
</div>
