<% content_for :head do %>
  <script type="text/javascript">
    jQuery(function(){
      jQuery("#client_name").show();
      jQuery("#office_new_agent_id").hide();
      jQuery("#edit_agent").val("false");
      jQuery("#office_new_agent_id").attr('disabled', 'disabled');
      jQuery("#property_suburb_suggest").flexbox('<%= search_suburbs_path %>',{
        method: 'post',
        watermark: '<%= @office.suburb unless @office.blank? %>',
        showArrow: false,
        inputClass: 'single',
        resultTemplate: '{name} {id} {post}',
        hiddenValue: 'post',
        additionValue: 'id',
        minChars: 3,
        queryDelay: 300,
        highlightMatches: false,
        hiddenValue: 'post',
        onSelect: function(){
          jQuery("#office_state").val(this.getAttribute("additionValue"));
          jQuery("#office_zipcode").val(this.getAttribute("hiddenValue"));
          jQuery("#office_suburb").val(this.getAttribute('val'));
        }
      });
      if(jQuery('#office_suburb').parent('.fieldWithErrors').length){
        jQuery('#office_suburb_suggest_input').wrap("<div class='fieldWithErrors'></div>");
      }
    });

    function enable_disable_agent(){
      if(jQuery("#edit_agent").val() == "false"){
        jQuery("#edit_agent").val("true");
        jQuery("#client_name").hide();
        jQuery("#office_new_agent_id").show();
        jQuery("#enadis").text("Back");
        jQuery("#office_new_agent_id").removeAttr('disabled');
      }else{
        jQuery("#edit_agent").val("false");
        jQuery("#client_name").show();
        jQuery("#office_new_agent_id").hide();
        jQuery("#enadis").text("Change Client");
        jQuery("#office_new_agent_id").attr('disabled', 'disabled');
      }
    }
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
  <% unless @office.header_color.blank? %>
        $("#swatch_heading").css("background-color", "<%= @office.header_color %>");
        $("#swatch_heading").css("border", "1px solid red");
  <%end%>
  <% unless @office.navdiv_color.blank? %>
        $("#swatch_navdiv").css("background-color", "<%= @office.navdiv_color %>");
        $("#swatch_navdiv").css("border", "1px solid red");
  <%end%>
  <% unless @office.ul_nav_li_active_color.blank? %>
        $("#swatch_nav_list_active").css("background-color", "<%= @office.ul_nav_li_active_color %>");
        $("#swatch_nav_list_active").css("border", "1px solid red");
  <%end%>
  <% unless @office.ul_nav_li_current_color.blank? %>
        $("#swatch_nav_list_current").css("background-color", "<%= @office.ul_nav_li_current_color %>");
        $("#swatch_nav_list_current").css("border", "1px solid red");
  <%end%>
    <% unless @office.ul_nav_color.blank? %>
        $("#swatch_below_navigation").css("background-color", "<%= @office.ul_nav_color %>");
        $("#swatch_below_navigation").css("border", "1px solid red");
  <%end%>
    });
  </script>
<% end %>
<div class="group">
  <div class="set half leader">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th colspan="2" class="first_cell">Office Details</th>
        </tr>
        <tr>
          <td class="field first_cell">Client Name:</td>
          <td class="value">
            <input type="hidden" name="edit_agent" id="edit_agent" value="false"/>
            <div id="client_name" style="width:61%;float:left;"><%= h @agent.name unless @agent.blank? %></div>
            <%= form.select :new_agent_id, @agents, :class => 'select_box', :selected => @agent.id %>
            <a href="javascript:enable_disable_agent()" name="enadis" id="enadis">Change Client</a>
            <div style="clear:both;"></div>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Client Office:</td>
          <td class="value">
            <%= form.text_field :name, :class => 'single' %>
            <span style="color:red;font-weight:bold;">*</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Country:</td>
          <td class="value">
            <% if (params[:action] == "new") || (params[:action] == "create") %>
              <%= form.select :country, @countries, :class => 'select_box', :selected => @agent.country %>
              <span style="color:red;font-weight:bold;">*</span>
            <%else%>
              <%= @office.country%>
            <%end%>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Suburb:</td>
          <td class="value">
            <%= form.text_field :suburb, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">State:</td>
          <td class="value">
            <%= form.text_field :state, :class => 'single' %>
            <!-- should with noenter class -->
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Postcode:</td>
          <td class="value">
            <%= form.text_field :zipcode, :class => 'single' %>
            <!-- should with noenter class -->
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Unit/Office Number:</td>
          <td class="value">
            <%= form.text_field :unit_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Street Number:</td>
          <td class="value">
            <%= form.text_field :street_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Street Name/Type:</td>
          <td class="value">
            <%= form.text_field :street, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Office Phone:</td>
          <td class="value">
            <%= form.text_field :phone_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Office Fax:</td>
          <td class="value">
            <%= form.text_field :fax_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Office Email:</td>
          <td class="value">
            <%= form.text_field :email, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Website:</td>
          <td class="value">
            <%= form.text_field :url, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Facebook:</td>
          <td class="value">
            <%= form.text_field :facebook, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Twitter:</td>
          <td class="value">
            <%= form.text_field :twitter, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Youtube:</td>
          <td class="value">
            <%= form.text_field :youtube, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <th colspan="2" class="first_cell">Office Contact</th>
        </tr>
        <% if (params[:action] == "new") || (params[:action] == "create") %>
          <% fields_for :agent_user, @agent_user do |as| %>
            <tr>
              <td class="field first_cell">First Name:</td>
              <td class="value">
                <%= as.text_field :first_name, :class => 'single' %>
                <span style="color:red;font-weight:bold;">*</span>
              </td>
            </tr>
            <tr>
              <td class="field first_cell">Last Name:</td>
              <td class="value">
                <%= as.text_field :last_name, :class => 'single' %>
                <span style="color:red;font-weight:bold;">*</span>
              </td>
            </tr>
            <tr>
              <td class="field first_cell">Email:</td>
              <td class="value">
                <%= as.text_field :email, :class => 'single' %>
                <span style="color:red;font-weight:bold;">*</span>
              </td>
            </tr>

            <tr>
              <td class="field first_cell">Username:</td>
              <td class="value">
                <%= as.text_field :login, :class => 'single' %>
                <span style="color:red;font-weight:bold;">*</span>
              </td>
            </tr>
            <tr>
              <td class="field first_cell">Password:</td>
              <td class="value">
                <%=  as.password_field :password, :class => 'single'  %>
                <span style="color:red;font-weight:bold;">*</span>
              </td>
            </tr>
            <tr>
              <td class="field first_cell">Retype Password:</td>
              <td class="value">
                <%=  as.password_field :password_confirmation, :class => 'single' %>
                <span style="color:red;font-weight:bold;">*</span>
              </td>
            </tr>
          <%end%>
        <%else%>
          <tr>
            <td class="field first_cell">Agent User:</td>
            <td class="value">
              <%= form.select :office_contact, @office.agent_users.all.collect {|p| [ "#{p.first_name} #{p.last_name}", p.id ] } ,{:class => 'single'}%>
            </td>
          <%end%>
      </table>
      <br/>
      <% if (params[:action] == "edit") || (params[:action] == "update") %>
        <span style="font-size:12px">Telephone: </span><span style="font-size:12px; margin-left:90px"><%= @office.phone_number%></span><br/><br/>
        <% unless @office.office_contact.blank? %>
          <% detail = AgentUser.find_by_id(@office.office_contact) %>
          <span style="font-size:12px">Mobile   : </span><span style="font-size:12px; margin-left:110px"><%= detail.mobile unless detail.blank? %></span><br/><br/>
          <span style="font-size:12px">Email    : </span><span style="font-size:12px; margin-left:115px"><%= detail.email unless detail.blank? %></span><br/>
        <%end%>
      <%end%>
    </div>
  </div>

  <div class="set half follower">
    <div class="group">

      <%= form.hidden_field :latitude %>
      <%= form.hidden_field :longitude %>
      <div class="block mapdiv">
        <%= render :partial => "offices/gmap", :locals => { :height => '280px' } %>
        <!-- NOTE TO DEVELOPER: I'm sure you don't really want this image so remove as needed. And I certainly don't actually want the map to distort when the user adjusts their window size. but if the map could extend or contract as the user moves her window out or in without distorting, that would be awesome. i'm sure there's a way we can do this. -->
      </div>

      <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th colspan="3" class="first_cell">Office Settings</th>
        </tr>
        <tr>
          <td class="field first_cell">Office Status:</td>
          <td class="value"  colspan="2">
            <% if (params[:action] == "edit") || (params[:action] == "update") %>
              <%= @office.status %>
            <% else %>
              <%= "Active" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Developer Contact:</td>
          <td class="value" colspan="2">
            <%= form.select :developer_contact_id, @contacts, {}, :class => 'select_box contact_select' %>
            <span style="color:red;font-weight:bold;">*</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Support Contact:</td>
          <td class="value" colspan="2">
            <%= form.select :support_contact_id, @contacts, {}, :class => 'select_box contact_select' %>
            <span style="color:red;font-weight:bold;">*</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Upgrade Contact:</td>
          <td class="value" colspan="2">
            <%= form.select :upgrade_contact_id, @contacts, {}, :class => 'select_box contact_select' %>
            <span style="color:red;font-weight:bold;">*</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Send Notification?</td>
          <td class="value" colspan="2">
            <%= check_box_tag 'notification', nil, false, :class => 'checkbox' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Create property url</td>
          <td class="value" colspan="2">
            <%= form.check_box :property_url, :class => 'checkbox' %>
            <span style="font-style:italic;">(By default property url will be created for each property eg. yoursite.com/123)</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Limit access to exports tab</td>
          <td class="value" colspan="2">
            <%= form.check_box :limit_access, :class => 'checkbox' %>
            <span style="font-style:italic;">(Only level 1 users can get access to property export tab.)</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Allow empty email on contact</td>
          <td class="value" colspan="2">
            <%= form.check_box :empty_contact_email, :class => 'checkbox' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Listing Type</td>
          <td class="value" colspan="2">
            <strong>Parent:</strong>
            <br/>
            <%= form.check_box :new_development, :class => 'checkbox' %>
            <span>Residential Building</span>
            <br/>
            <%= form.check_box :commercial_building, :class => 'checkbox' %>
            <span>Building</span>
            <br/>
            <%= form.check_box :land_release, :class => 'checkbox' %>
            <span>Land Release</span>
            <br />
            <%= form.check_box :general_sale, :class => 'checkbox' %>
            <span>General Sale</span>
            <br />
            <%= form.check_box :livestock_sale, :class => 'checkbox' %>
            <span>Livestock Sale</span>
            <br />
            <%= form.check_box :clearing_sales_event, :class => 'checkbox' %>
            <span>Clearing Sales Event</span>
            <br/>
            <br/>
            <strong>Children:</strong>
            <br/>
            <%= form.check_box :residential_sale, :class => 'checkbox' %>
            <span>Residential Sale</span>
            <br/>
            <%= form.check_box :residential_lease, :class => 'checkbox' %>
            <span>Residential Lease</span>
            <br/>
            <%= form.check_box :holiday_lease, :class => 'checkbox' %>
            <span>Holiday Lease</span>
            <br/>
            <%= form.check_box :commercial, :class => 'checkbox' %>
            <span>Commercial Sale/Lease</span>
            <br/>
            <%= form.check_box :project_sale, :class => 'checkbox' %>
            <span>Project Sale</span>
            <br/>
            <%= form.check_box :business_sale, :class => 'checkbox' %>
            <span>Business Sale</span>
            <br />
            <%= form.check_box :clearing_sale, :class => 'checkbox' %>
            <span>Clearing Sale</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Hide unused exports</td>
          <td class="value" colspan="2">
            <%= form.check_box :hide_unused_exports, :class => 'checkbox' %>
            <span style="font-style:italic;">Hide unused portal export checkboxes in property exports page</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Display API in Agents System</td>
          <td class="value" colspan="2">
            <%= form.check_box :display_api_agent_system, :class => 'checkbox' %>
            <span style="font-style:italic;">Display API settings page in agent system.</span>
          </td>
        </tr>
        <tr>
          <th colspan="2" class="first_cell">Style Office</th>
        </tr>
        <tr>
          <td class="field first_cell">Heading Color</td>
          <td class="value">
          <p><input type="text" maxlength="6" size="6" id="colorpickerField1" value="<%= @office.header_color.blank? ? '#00ff00' : @office.header_color %>" />
            <%= form.hidden_field :header_color, :class => "color_input" %>
          </p>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Navigation Color</td>
          <td class="value">
          <p><input type="text" maxlength="6" size="6" id="colorpickerField3" value="<%= @office.navdiv_color.blank? ? '#0000ff' : @office.navdiv_color %>" />
            <%= form.hidden_field :navdiv_color, :class => "color_input" %>
          </p>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Navigation List Active Color</td>
          <td class="value">
            <p><input type="text" maxlength="6" size="6" id="colorpickerField2" value="<%= @office.ul_nav_li_active_color.blank? ? '#ff0000' : @office.ul_nav_li_active_color %>" />
              <%= form.hidden_field :ul_nav_li_active_color, :class => "color_input" %>
            </p>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Navigation List Current Color</td>
          <td class="value">
            <p><input type="text" maxlength="6" size="6" id="colorpickerField4" value="<%= @office.ul_nav_li_current_color.blank? ? '#ff0000' : @office.ul_nav_li_current_color %>" />
              <%= form.hidden_field :ul_nav_li_current_color, :class => "color_input" %>
            </p>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Below Navigation Color</td>
          <td class="value">
            <p><input type="text" maxlength="6" size="6" id="colorpickerField5" value="<%= @office.ul_nav_color.blank? ? '#ff0000' : @office.ul_nav_color %>" />
              <%= form.hidden_field :ul_nav_color, :class => "color_input" %>
            </p>
          </td>
        </tr>
         <tr>
          <td class="field first_cell">Font Color Active</td>
          <td class="value">
            <p><input type="text" maxlength="6" size="6" id="colorpickerField5" value="<%= @office.font_color_active.blank? ? '#000000' : @office.font_color_active %>" />
              <%= form.hidden_field :font_color_active, :class => "color_input" %>
            </p>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Font Color Non-Active</td>
          <td class="value">
            <p><input type="text" maxlength="6" size="6" id="colorpickerField5" value="<%= @office.font_color_non_active.blank? ? '#ffffff' : @office.font_color_non_active %>" />
              <%= form.hidden_field :font_color_non_active, :class => "color_input" %>
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      developer_access_event();
    });
  </script>

  <div class="clearer"></div>
</div>


