<% logo = @office.logos.find_by_order(type) %>
<div class="group" id="form<%=type%>">
  <table cellpadding="0" cellspacing="0" class="logo_form_table full">
    <tr><th colspan="2"><%= banner %></th></tr>
    <tr><td class="field first_cell"><%= logo_image(@office, type, 1) %></td></tr>
    <tr>
      <td colspan="2" class="first_cell editdelete"><p>
          <span class="upload"><%= link_to 'Upload', logo_developer_agent_office_path(@developer,@agent,@office, :type => type), :onclick => 'callToServer($(this).attr("href"),400,200);return false;' %></span> |
<!--          <span class="view"><%= link_to "View", logo_developer_agent_office_path(@developer,@agent,@office, :view_type => type), :title => "View Logo" %></span> -->
          <span class="view"><%= link_to "View", logo_img_path(@office, type, 1), :title => "View Logo" %></span>
          <% if logo %>
            |
            <span class="delete"><%= link_to 'Delete', logo_developer_agent_office_path(@developer,@agent,@office, :type => type), :onclick => "delete_logo('#{@developer.id}','#{@agent.id}','#{@office.id}','#{type}');return false;" %></span>
          <% end %>
        </p></td>
    </tr>
  </table>
</div>
