<div class="group">
  <% content_for :head do %>
    <script type="text/javascript">
      function update_logo(developer_id,agent_id,office_id,logo_order) {
        tb_remove_ajax();
        var controller = "/developers/"+developer_id+"/agents/"+agent_id+"/offices/"+office_id+"/change_logo";
        $("#form"+logo_order).remove();
        $.ajax({
          type: "GET",
          url: escape(controller),
          data:"logo_order="+logo_order,
          dataType:"html",
          beforeSend:function(){
            $("#logo"+logo_order).append("<div class='set full leader' style='text-align:center;width:100%' id='load_logo'><img src='<%= image_path("search-loader.gif") %>' alt='loading image ...'></div>");
          },
          success: function(html){
            $("#load_logo").remove();
            $("#logo"+logo_order).append(html.toString());
          }
        });
        return false;
      };
      function delete_logo(developer_id,agent_id,office_id,logo_order){
        if (confirm("Are you sure to delete this logo?")) {
          var controller = "/developers/"+developer_id+"/agents/"+agent_id+"/offices/"+office_id+"/delete_logo";
          $("#form"+logo_order).remove();
          $.ajax({
            type: "GET",
            url: escape(controller),
            data:"logo_order="+logo_order,
            dataType:"html",
            beforeSend:function(){
              $("#form"+logo_order).remove();
              $("#logo"+logo_order).append("<div class='set full leader' style='text-align:center;width:100%' id='load_logo'><img src='<%= image_path("search-loader.gif") %>' alt='loading image ...'></div>");
            },
            success: function(html){
              $("#load_logo").remove();
              $("#logo"+logo_order).append(html.toString());
            }
          });
        };
        return false;
      }
      function callToServer(path,width,height) {
        if($("RSIFrame").length <= 1){
          var winW = $(window).width();
          $("<div id='mask'></div>").insertBefore("#main_body");
          $("#booting").show();
          $('#mask').css({'width': winW,'height': 800,"position":"fixed","background-color":"black","opacity":"0.5","z-index":"9999","top":0,"left":0});
          if(width == "200" && height == "300"){
            $(document.body).append($('<div id="frameContainer"></div><a id="closeFrame">Close</a>'));
            $("#frameContainer").append("<div id = 'errorExplanation' class = 'errortext'><h2> This property can not be shared on Facebook because no property url exist in the property details section. Please edit the property and add a link to the property page on your website</h2></div>");
            $("#booting").hide();
            $("#frameContainer").css('top', height/2);
          }else{
            $(document.body).append($('<div id="frameContainer"></div><a id="closeFrame">Close</a><iframe id="RSIFrame"></iframe>'));
            $("#RSIFrame").css("background-color", "white");
            $("#RSIFrame").attr("width", width);
            $("#RSIFrame").attr("height", height);
            $("#RSIFrame").attr("position", 'fixed');
            $("#RSIFrame").attr("src", path);
            $("#frameContainer").css('left',winW/2-$("#RSIFrame").width()/2);
            $("#frameContainer").css('width', width);
            $("#frameContainer").css('top', height);
          }
          //transition effect
          $('#mask').fadeIn(1000);
          $('#mask').fadeTo("slow",0.8);
          $('#closeFrame').css({'width':"100%",'height':"10px","background":"black","z-index":"9999","top":"0px","text-align":"center","color":"white"});
          $("#frameContainer").append($("#closeFrame"));
          //Get the window height and width
          $("#frameContainer").attr("width", width+50);
          $("#frameContainer").attr("height", height+50);
          $("#frameContainer").css({display:"block"})
          $("#frameContainer").css('float', "left");
          $("#frameContainer").css('z-index','9999');
          $("#frameContainer").css('position','fixed');
          $("#frameContainer").append($("#RSIFrame"))
          $('#closeFrame').click(function () {
            $("#mask").hide();
            $("#frameContainer").remove();
            $("#closeFrame").remove();
            $("#RSIFrame").remove();
            tb_remove_ajax();
            return false;
          });
          $('#mask').click(function () {
            $("#mask").hide();
            $("#frameContainer").remove();
            $("#closeFrame").remove();
            $("#RSIFrame").remove();
            tb_remove_ajax();
          });
          return false;
        }
      };
      function tb_remove_ajax() {
        $("#mask").hide();
        $("#frameContainer").remove();
        $("#closeFrame").remove();
        $("#RSIFrame").remove();
      }
      function tb_remove_ajax_and_change_location(referer) {
        $("#mask").hide();
        $("#frameContainer").remove();
        $("#closeFrame").remove();
        $("#RSIFrame").remove();
        $("#booting").hide();
        window.location.replace(referer);
      }
    </script>
  <%  end %>
  <h4>Office Logos</h4>
  <!--<div class="set third leader">
    <#%= render :partial => 'logo_form', :locals => {:type => 1, :banner => 'Small Logo (160px x 30px)'} %>
  </div>
  <div class="set third middle">
    <#%= render :partial => 'logo_form', :locals => {:type => 2, :banner => 'Custom Logo (150px x 75px)'} %>
  </div>

  <div class="set third follower">
    <#%= render :partial => 'logo_form', :locals => {:type => 3, :banner => 'Custom Logo (250px x 125px)'} %>
  </div>-->
  <div class="set half leader" id="logo1">
    <%= render :partial => 'logo_form', :locals => {:type => 1, :banner => 'Custom Logo (200px x 150px)'} %>
  </div>
  <div class="set half follower" id="logo2">
    <%= render :partial => 'logo_form', :locals => {:type => 2, :banner => 'Custom Logo (200px x 200px)'} %>
  </div>
  <div class="clearer"></div>
</div>
