<tr class="<%= cycle 'alt', '' %>">
  <% agent = row.agent %>
  <td class="first_cell list_commenced"><%= row.created_at.strftime('%m/%d/%Y') %></td>
  <td class="list_client_name"><%=h agent.name %></td>
  <td class="list_country"><%= row.id %></td>
  <td class="list_office_name">
    <%= link_to (h row.name), edit_developer_agent_office_path(@developer, agent, row), :style => "color:#0E7FC7;" %>
  </td>
  <td class="list_status"><%= row.status.humanize %></td>
  <td class="list_listings"><%= row.count_properties %></td>
  <td class="list_team"><%= row.count_agents %></td>
  <td class="list_exports">
    <%= link_to "Exports <span class=\"lite\">(#{row.portal_accounts.map{|x| x if x.active_feeds == "1"}.compact.size  })</span>",  edit_export_setting_developer_office_path(@developer, row), :style => "color:#0E7FC7;" %>
  </td>
  <td class="list_exports">
    <%= link_to "API",  api_details_developer_office_path(@developer, row), :style => "color:#0E7FC7;" %>
  </td>
  <td class="list_system"><a style="color: rgb(14, 127, 199);" href="<%= agent_office_path(row.agent_id, row.id) %>" target = "_blank" >System</a></td>
  <td class="list_website">
    <%= link_to 'Website', translate_url(row.url), :style => "color:#0E7FC7;", :target => '_blank' unless row.url.blank? %>
  </td>
  <td class="list_website">
    <%  sub = row.subscription %>
  <% unless sub.blank? %>

    <% if row.status == "active" && sub.status == "ok" %>
      Subscribed
    <%else%>
      <%= link_to "Subscribe Now", subscribe_developer_developer_account_path({:developer_id => @developer.id, :subscription_id => sub.id, :tariff_plan_id => 'one_monthly', :taxes => sub.taxes_amount, :amount => sub.net_amount}), :method => :post, :style=>"color:red;" %>
    <%end%>
  <%end%>
  </td>
</tr>
