<div class="group">
  <h4>Send Contact</h4>
  <div class="set full leader">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="full" id="table_add_domain">
        <tr>
          <td class="field first_cell" colspan="2">
            <%= check_box_tag 'office[send_contact]', 1, @office.send_contact, :class => 'checkbox' %>
            <span style="font-style:italic;">(Sending contact to Boom API)</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell" style="width:200px;">Boom Company Name</td>
          <td class="value">
            <%= send_contact.text_field :boom_company_name, :class => 'single'  %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell" style="width:200px;">Boom Username</td>
          <td class="value">
            <%= send_contact.text_field :boom_username, :class => 'single'  %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell" style="width:200px;">Boom Password</td>
          <td class="value">
            <%= send_contact.text_field :boom_password, :class => 'single'  %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell" colspan="2">
            <%= check_box_tag 'office[send_to_mydesktop]', 1, @office.send_to_mydesktop, :class => 'checkbox' %>
            <span style="font-style:italic;">(Sending contact to My Desktop)</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell" style="width:200px;">Commerce Australia Group ID</td>
          <td class="value">
            <%= send_contact.text_field :mydesktop_group_id, :class => 'single'  %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell" colspan="2">
            <%= send_contact.check_box :send_to_irealty, :class => 'checkbox' %>
            <span style="font-style:italic;">(Sending contact to iRealty)</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell" style="width:200px;">iRealty Username</td>
          <td class="value">
            <%= send_contact.text_field :irealty_username, :class => 'single'  %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell" style="width:200px;">iRealty Password</td>
          <td class="value">
            <%= send_contact.text_field :irealty_password, :class => 'single'  %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>