<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
<script type="text/javascript">
  $(document).ready(function(){
    <% unless @office.include_watermark == true %>
      $("#watermark_wrp").hide();
    <% end %>
  });
  function checkuncheck(){
    if ($("#watermark_wrp").is(":hidden")) {
      $("#watermark_wrp").show();
    }else{
      $("#watermark_wrp").hide();
    }
  }
</script>
<div class="group">
  <h4>Watermark</h4>
  <div class="set full leader">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="full" id="table_add_domain">
        <tr>
          <th >Include watemark</th>
          <th >Watermark Image (GIF format, Width: 250px)</th>
        </tr>
        <tr>
          <td class="field first_cell">
            <%= check_box_tag 'watermark[include_watermark]', 1, @office.include_watermark, :onclick => "checkuncheck();", :class => 'checkbox' %>
            <span style="font-style:italic;">(Include this Watermark on all Images saved)</span>
          </td>
          <td class="value">
            <div id="watermark_wrp">
              <%= file_field_tag 'watermark[uploaded_data]' %>
              <p>Your Current Watermark: <br/> <img src="<%= @watermark.public_filename unless @watermark.blank? %>" width="150"/></p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>