<% if @logo_order.to_i == 1 %>
  <%= render :partial => 'logo_form', :locals => {:type => 1, :banner => 'Custom Logo (200px x 150px)'} %>
<%end%>
<% if @logo_order.to_i == 2 %>
  <%= render :partial => 'logo_form', :locals => {:type => 2, :banner => 'Custom Logo (200px x 200px)'} %>
<%end%>
