<div class="title_block block">
  <h2>Update Office Details: <%=h @office.name %></h2>

  <!-- <h6 class="threequarters">Note: Pro Account Holder :: Add $29.00 USD Per Month to Account <a href="#" title="">Read More</a></h6> -->
</div>

<div id="officediv" class="block accounts full">
  <% form_for :office, @office, :url => developer_agent_office_path(@developer,@agent,@office), :html => {:multipart => true, :method => :put, :class => 'update_form', :name => 'update_form', :id => 'update_form'} do |f| %>

    <%= f.error_messages :class => 'errortext' %>

    <%= render :partial => 'form', :object => f %>
    <%= render :partial => 'vendor' , :object => f%>
  </div>
  <%#= render :partial => 'domain', :object => f %>
  <%= render :partial => 'logo' %>
  <%= render :partial => 'watermark', :object => f %>
  <%= render :partial => 'send_contact', :object => f %>
  <%= render :partial => 'update_business_commercial', :object => f %>
  <%= render :partial => 'activate_the_vault', :object => f %>
  <%= render :partial => 'speciality', :object => f %>

  <!-- <p><a href="#" title="">Download Property Listing CSV file for this office.</a></p>

  <p class="nopadding"><strong>Upload Property Listing CSV for this office.</strong></p>

  <div class="pack file_button">
    <input id="attach_file" name="attach[file]" size="30" type="file" />
  </div><br /> -->

  <div class="action_button">
    <button name="update" type="button" value="Update" onclick="$('#update_form').submit();">
      <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/> Update
    </button>
    <span>or&nbsp;&nbsp;</span>
    <% link_to developer_offices_path(@developer, :agent => @agent) do %>
      <%= image_tag 'icons/famfamfam/cancel.png', :alt => 'cancel' %> Cancel
    <% end %>
    <span>or&nbsp;&nbsp;</span>
    <%= link_to('Delete Office', url_for(:controller => 'offices_d', :action => 'delete_office', :id => @office.id), :method => 'delete', :confirm => 'Are you sure?') %>
  </div>

<% end %>
</div><!-- end #officediv -->
<%= javascript_include_tag 'tiny_mce/tiny_mce.js', 'dropperredux', 'colorpicker', 'eye', 'utils' %>
<style>
  .selector{cursor:pointer; width:30px; height: 30px; border: 1px solid #666666;float:left;margin-right:10px;}
</style>
<script type="text/javascript">
  tinyMCE.init({
    mode : "textareas",
    theme : "advanced",
    plugins : "spellchecker",
    theme_advanced_buttons1 : "spellchecker, bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,forecolor,backcolor,|,fontsizeselect",
    theme_advanced_buttons2 : "",
    theme_advanced_buttons3 : "",
    theme_advanced_buttons4 : "",
    editor_selector : "mceEditor",
    editor_deselector : "mceNoEditor, mNc"
  });
</script>
<script type="text/javascript">
  function active_selector_func(active){
    $(".selector").css({'border' : "1px solid #CCCCCC"});
    $('#active_selector').val(active);
    $('#swatch_'+active).css({'border' : "1px solid red"});
  }

  function select_color(color){
    var active = $('#active_selector').val();
    $('#swatch_'+active).css({'background-color' : color});
    $('#brochure_'+(active == 'heading'? 'title' : active)).css({'background-color' : color});
    $('#style_'+active+'_color').val('background-color:'+color+';');
    $('#option_'+active+'_color').val(color);
  }

  function update_heading(color, id){
    active_selector_func("heading");
    $('#swatch_heading').css({'background-color' : color});
    $('#style_heading_color').val('background-color:'+color+';');
    $('#office_header_color').val(color);
    $('div.heading_class').removeClass('block_active');
    $('#heading_class'+id).addClass('block_active');
  }

  function update_navdiv(color, id){
    active_selector_func("navdiv");
    $('#swatch_navdiv').css({'background-color' : color});
    $('#style_navdiv_color').val('background-color:'+color+';');
    $('#office_navdiv_color').val(color);
    $('div.navdiv_class').removeClass('block_active');
    $('#navdiv_class'+id).addClass('block_active');
  }

  function update_nav_list_active(color, id){
    active_selector_func("nav_list_active");
    $('#swatch_nav_list_active').css({'background-color' : color});
    $('#style_nav_list_active_color').val('background-color:'+color+';');
    $('#office_ul_nav_li_active_color').val(color);
    $('div.nav_list_active_class').removeClass('block_active');
    $('#nav_list_active_class'+id).addClass('block_active');
  }

  function update_nav_list_current(color, id){
    active_selector_func("nav_list_current");
    $('#swatch_nav_list_current').css({'background-color' : color});
    $('#style_nav_list_current_color').val('background-color:'+color+';');
    $('#office_ul_nav_li_current_color').val(color);
    $('div.nav_list_current_class').removeClass('block_active');
    $('#nav_list_current_class'+id).addClass('block_active');
  }

  function update_below_navigation(color, id){
    active_selector_func("below_navigation");
    $('#swatch_below_navigation').css({'background-color' : color});
    $('#style_below_navigation_color').val('background-color:'+color+';');
    $('#office_ul_nav_color').val(color);
    $('div.below_navigation_class').removeClass('block_active');
    $('#below_navigation_class'+id).addClass('block_active');
  }
</script>
