<!--[if IE 8]>
  <%= javascript_include_tag 'jquery.corner.js'%>
    <script type="text/javascript">
      $(document).ready(function(){
        $("a.btn").corner();
      });
    </script>
<![endif]-->
<div class="block full">
  <div id="sidebar" class="block files quarter">
    <div class="upload_button">
      <% link_to new_developer_agent_path(@developer), :class => 'btn' do %>
        <%= image_tag '/images/icons/misc/24-em-plus.gif', :alt => '', :width => 18, :height => 19 %>Add a New Client
      <% end %>
    </div>
  </div>

  <h2>Client Offices</h2><br />

  <div id="filtersresultsdiv" class="block threequarters filtersresultsdiv">
	<% form_tag '', :id => 'filters', :method => 'get' do %>
      <%= select_tag "client", options_for_select(@developer.agents.find(:all, :order => "name ASC").map{|s| [s.name, s.id.to_s]}.unshift(["All Clients", nil]), params[:client]), :class => 'select_box' %>
      <%= select_tag "office", options_for_select(@developer.offices.find(:all, :conditions => "offices.deleted_at IS NULL", :order => "name ASC").map{|s| [s.name, s.id.to_s]}.unshift(["All Offices", nil]), params[:office]), :class => 'select_box' %>
	  <%= hidden_field_tag 'order' %>
      <div class="action_button">
              <button name="filter" type="submit" value="Filter" class="filter"><img src="/images/icons/famfamfam/filter.png" alt="filter" width="16" height="16"/>
                      Filter
              </button>
      </div>
    <% end %>
  </div><!-- end #filtersresultsdiv -->
</div>

<script type="text/javascript" charset="utf-8">
	function set_order(o) {
		$('#order').val(o);
		$('#filters').submit();
	}
</script>

<div class="block full">
  <table class="client-list" cellspacing="0" cellpadding="0">
    <tr>
      <th class="first_cell"><%= link_to "#{(params[:sort_by] == 'created_at' && params[:sort_type] == 'ASC') ? image_tag('/images/down-arrow.png'):image_tag('/images/up-arrow.png')} Commenced", developer_offices_path(@developer)+"?id=#{params[:id]}&client=#{params[:client]}&status=#{params[:status]}&office=#{params[:office]}&sort_by=created_at&sort_type=#{(params[:sort_by] == 'created_at' && params[:sort_type] == 'ASC') ? 'DESC':'ASC'}&page=#{params[:page]}"%></th>
      <!-- NOTE TO DEVELOPER: The first cell in every row of any table should have a class of "first_cell" -->
      <th><%= link_to "#{(params[:sort_by] == 'client_name' && params[:sort_type] == 'ASC') ? image_tag('/images/down-arrow.png'):image_tag('/images/up-arrow.png')} Client Name", developer_offices_path(@developer)+"?id=#{params[:id]}&client=#{params[:client]}&status=#{params[:status]}&office=#{params[:office]}&sort_by=client_name&sort_type=#{(params[:sort_by] == 'client_name' && params[:sort_type] == 'ASC') ? 'DESC':'ASC'}&page=#{params[:page]}"%></th>
      <th><%= link_to "#{(params[:sort_by] == 'id' && params[:sort_type] == 'ASC') ? image_tag('/images/down-arrow.png'):image_tag('/images/up-arrow.png')} Office Id", developer_offices_path(@developer)+"?id=#{params[:id]}&client=#{params[:client]}&status=#{params[:status]}&office=#{params[:office]}&sort_by=id&sort_type=#{(params[:sort_by] == 'id' && params[:sort_type] == 'ASC') ? 'DESC':'ASC'}&page=#{params[:page]}"%></th>
      <th><%= link_to "#{(params[:sort_by] == 'name' && params[:sort_type] == 'ASC') ? image_tag('/images/down-arrow.png'):image_tag('/images/up-arrow.png')} Office Name", developer_offices_path(@developer)+"?id=#{params[:id]}&client=#{params[:client]}&status=#{params[:status]}&office=#{params[:office]}&sort_by=name&sort_type=#{(params[:sort_by] == 'name' && params[:sort_type] == 'ASC') ? 'DESC':'ASC'}&page=#{params[:page]}"%></th>
      <th><%= link_to "#{(params[:sort_by] == 'status' && params[:sort_type] == 'ASC') ? image_tag('/images/down-arrow.png'):image_tag('/images/up-arrow.png')} Status", developer_offices_path(@developer)+"?id=#{params[:id]}&client=#{params[:client]}&status=#{params[:status]}&office=#{params[:office]}&sort_by=status&sort_type=#{(params[:sort_by] == 'status' && params[:sort_type] == 'ASC') ? 'DESC':'ASC'}&page=#{params[:page]}"%></th>
      <th><%= link_to "#{(params[:sort_by] == 'listing' && params[:sort_type] == 'ASC') ? image_tag('/images/down-arrow.png'):image_tag('/images/up-arrow.png')} Listing", developer_offices_path(@developer)+"?id=#{params[:id]}&client=#{params[:client]}&status=#{params[:status]}&office=#{params[:office]}&sort_by=listing&sort_type=#{(params[:sort_by] == 'listing' && params[:sort_type] == 'ASC') ? 'DESC':'ASC'}&page=#{params[:page]}"%></th>
      <th><%= link_to "#{(params[:sort_by] == 'team' && params[:sort_type] == 'ASC') ? image_tag('/images/down-arrow.png'):image_tag('/images/up-arrow.png')} Team", developer_offices_path(@developer)+"?id=#{params[:id]}&client=#{params[:client]}&status=#{params[:status]}&office=#{params[:office]}&sort_by=team&sort_type=#{(params[:sort_by] == 'team' && params[:sort_type] == 'ASC') ? 'DESC':'ASC'}&page=#{params[:page]}"%></th>
      <th>Exports</th>
      <th>API</th>
      <th>System</th>
      <th>Website</th>
      <th>Account</th>
    </tr>

    <%= render :partial => 'row', :collection => @offices %>

  </table>
</div>
<div class="paging_button">
  <%= will_paginate @offices unless @offices.blank?%>
</div>

<style>
  .paging_button a{
    width:auto;
    background-color: #cde9f8;
    margin:0 7px 0 0;
    padding:4px 10px 3px 7px; /* IE6 */
    border:1px solid #0e7fc7; /* 4c96bd */
    float:left;
    display:block;
    overflow:visible;
    text-decoration:none;
    font-weight:bold;
    color:#28323c;
    cursor:pointer;
  }
  .paging_button span {background-color: #f0f0f0;border:1px solid #0e7fc7;padding:4px 10px 3px 7px; margin: 2px; float: left; font-weight:bold; }
  .paging_button a { margin: 2px; }
</style>