<div class="title_block block">
  <h2>Create New Office: <%= h @agent.name %></h2>
</div>

<div id="officediv" class="block accounts full">

  <% form_for :office, @office, :url => developer_agent_offices_path(@developer, @agent), :html => {:class => 'update_form', :name => 'create_form', :id => 'create_form'} do |f| %>

    <%if !@office.errors.blank? || !@agent_user.errors.blank?%>
      <div id="errorExplanation" class="errorExplanation">
        <p>There were problems with the following fields:</p>
        <% [{:klass => :office, :kolumn => :name}, {:klass => :office, :kolumn => :country}, {:klass => :office, :kolumn => :status}, {:klass => :office, :kolumn => :developer_contact_id}, {:klass => :office, :kolumn => :support_contact_id}, {:klass => :office, :kolumn => :update_contact_id}, {:klass => :agent_user, :kolumn => :first_name}, {:klass => :agent_user, :kolumn => :last_name}, {:klass => :agent_user, :kolumn => :email}, {:klass => :agent_user, :kolumn => :login}, {:klass => :agent_user, :kolumn => :password}, {:klass => :agent_user, :kolumn => :password_confirmation}].each do |x| %>
          <ul>
            <% error_message = error_message_on x[:klass], x[:kolumn], Kernel.const_get(x[:klass].to_s.camelize).human_attribute_name(x[:kolumn].to_s) + ' ' %>
            <% if !error_message.blank? %><li><%= error_message %></li><% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

    <%= render :partial => 'form', :object => f %>
    <%= render :partial => 'vendor' , :object => f%>
  </div>

  <!-- <#%#= render :partial => 'logo' , :object => f%> -->
  <!-- <p class="nopadding"><strong>Upload Property Listing CSV for this office.</strong></p>

    <div class="pack file_button">
      <input id="attach_file" name="attach[file]" size="30" type="file" />
    </div><br /> -->

  <div class="action_button">
    <button name="create" type="button" value="Create" onclick="$('#create_form').submit();">
      <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/> Create
    </button>
    <span>or&nbsp;&nbsp;</span>
    <% link_to developer_offices_path(@developer, :agent => @agent) do %>
      <%= image_tag 'icons/famfamfam/cancel.png', :alt => 'cancel' %> Cancel
    <% end %>
  </div>

<% end %>
</div><!-- end #officediv -->
