<%= javascript_include_tag 'jquery-1.3.min', 'jquery-ui', 'ui/jquery.flexbox.min', 'jquery.tooltip.pack.js','thickbox','application'%>
<script type="text/javascript">
  $(document).ready(function(){
    window.parent.update_logo("<%= @developer_id %>","<%= @agent_id%>","<%= @office.id %>","<%= @logo_order %>");
    return false
  });
</script>