<div class="block full">
  <div id="sidebar" class="block files quarter">
    <div class="upload_button">

      <%= link_to 'Add a Team Member', new_admin_user_path %>
      <!-- NOTE TO DEVELOPER: This form should be blank when you click on it from here. Client Name should already be set, though. -->
    </div>
  </div>
  <h2>Team Members</h2>
</div>

<div class="block tables full">
  <div class="group">
    <table class="team_members_table" cellpadding="0" cellspacing="0">
      <tr>
        <th class="first_cell field">Edit</th>
        <th class="field">Name</th>
        <th class="field">Email</th>
        <th class="field">IM</th>
        <th class="field">Phone</th>
        <th class="field">Mobile/Cell</th>
        <th class="field">Access</th>
      </tr>
      <% for admin_user in @admin_users %>
        <tr id="admin_user_<%= admin_user.id %>">
          <td class="field"><%= link_to 'Edit', edit_admin_user_path(admin_user)  %></td>
          <td class="field"><%=h admin_user.full_name  %></td>
          <td class="field"><%=h admin_user.email  %></td>
          <td class="field"><%=h admin_user.im_username %></td>
          <td class="field"><%=h admin_user.phone  %></td>
          <td class="field"><%=h admin_user.mobile  %></td>
          <td class="field">
            <%=h admin_user.access %>&nbsp;|
            <% if admin_user.full_access? %>
              Account Admin
            <% else %>
              <%= link_to_function 'Delete', "destroyWithAjax('#{admin_user_path(admin_user)}')" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
