<div class="title_block block">

<h2>Add a Team Member</h2>
<div class="clearer"></div>
</div>


<div id="clientdiv" class="block accounts full">

  <% form_for @admin_user, :html => {:multipart => true} do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div class="action_button">
    <button name="update" type="submit" value="Update">
    <img src="../images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
    Create
    </button>

    <span>or&nbsp;&nbsp;</span>
    <a href="/admin_users" title="">
    <img src="../images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/>
    Cancel
    </a>

    </div>  <!-- NOTE TO DEVELOPER: If user is Adding, this should be the file: ../includes/action_add_cancel.php. -->

<% end %>
</div><!-- end #clientdiv -->
