<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Agents <%= @title %></title>
  </head>
  <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
  <body>
  <div id="clientdiv" class="block accounts full"><br/>
    <div class="block form follower" style="padding-right:5px;">
    <div id="propertydatadiv" class="group">
      <div class="set">
        <h6 class="full">List Design Type </h6>
        <table cellpadding="0" cellspacing="0" class="update_table full">
            <tr>
              <th class="first_cell" style="background-color:#C8D2DC;">Date</th>
              <th style="background-color:#C8D2DC;">Name</th>
              <th style="background-color:#C8D2DC;">Action</th>
            </tr>
           <% unless @project_design_types.blank? %>
              <% @project_design_types.each do |dev| -%>
              <tr>
                <td class="first_cell"><%= (dev.created_at ? dev.created_at.strftime("%d-%m-%Y") : "-") %></td>
                <td class="value"><%= (dev.name ? dev.name : "-") %></td>
                <td class="value">
                  <%= link_to "Edit", edit_agent_office_project_design_type_path(@agent,@office,  dev), :method => :get %> |
                  <%= link_to "Delete", agent_office_project_design_type_path(@agent,@office, dev), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>  </td>
              </tr>
              <% end -%>
          <% else -%>
            <tr><td class="first_cell">&nbsp;</td><td class="value">Record Not Found</td><td class="value">&nbsp; </td></tr>
          <% end -%>
       </table>
        <div class="action_button" style="border:none;">
          <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.refresh_design();return false", :style =>"float:right;"%>
        </div>
      </div>
    </div>
    </div>
   </div>
</body>
</html>
