<div class="set photo_image" id="image_<%= image.id %>" onmouseover="if(/msie/.test(navigator.userAgent.toLowerCase()) && !/opera/.test(navigator.userAgent.toLowerCase())){ this.childNodes[0].childNodes[0].childNodes[0].childNodes[this.childNodes[0].childNodes[0].childNodes[0].childNodes.length-3].style.visibility = 'visible';}else{this.childNodes[1].childNodes[1].childNodes[1].childNodes[this.childNodes[1].childNodes[1].childNodes[1].childNodes.length-2].style.visibility = 'visible';} ;" onmouseout="if(/msie/.test(navigator.userAgent.toLowerCase()) && !/opera/.test(navigator.userAgent.toLowerCase())){ this.childNodes[0].childNodes[0].childNodes[0].childNodes[this.childNodes[0].childNodes[0].childNodes[0].childNodes.length-3].style.visibility = 'hidden';}else{this.childNodes[1].childNodes[1].childNodes[1].childNodes[this.childNodes[1].childNodes[1].childNodes[1].childNodes.length-2].style.visibility = 'hidden';} ;">
  <fieldset class="pphoto_fs<%= image.position %>">
    <ul>
      <li>
        <h4><%= image.position %></h4>
        <% if image.new_record? %>
          <div class="file_show"><%= image_tag('/images/default_avatar.jpg', :style => "width: 100px; height: 65px;") %><br />&nbsp;</div>
        <% else %>
          <div class="file_show">
            <%= image_tag(image.public_filename(:thumb), :style => "width: 100px; height: 65px;") %><br />
            <%= link_to 'View', image.public_filename, :target => '_blank' %> |
			      <%= link_to_remote image_tag('/images/delete.gif', :id => "del_img_#{image.id}"), :url => destroy_image_agent_office_property_media_path(@agent, @office, @property, :image_id => image.id),
			 			:method => :delete, :confirm => "Are you sure to delete this image", :html => {:class => "delete_btn"}, :after => "$('#del_img_#{image.id}').attr('src', '/images/search-loader.gif')" %>
          </div>
        <% end %>

        <div class="clearer"></div>
        <label><span>Name:</span></label>
        <input type="text" id="images__description" value="<%=image.description%>" class="single fldrequired" onfocus="this.parentNode.childNodes[this.parentNode.childNodes.length-2].style.visibility = 'visible';" />
        <input style="visibility: hidden" type="button" value="Update" onclick="var desc,_this = this;if(/msie/.test(navigator.userAgent.toLowerCase()) && !/opera/.test(navigator.userAgent.toLowerCase())){ desc = _this.parentNode.childNodes[_this.parentNode.childNodes.length-5];}else{desc = _this.parentNode.childNodes[_this.parentNode.childNodes.length-4]} ;$.post('/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%=@property.id%>/media/update_description', { media_type:'image', media_id:'<%=image.id%>',description:desc.value},function(data){desc.value = data;});return false;"></input>
      </li>
    </ul>

    <!--<div class="pack file_button"><#%#= file_field_tag "images[][uploaded_data]" %></div>-->

  </fieldset>
</div>