<% form_for :property, @property, :url =>update_logo_agent_office_property_media_path(@agent, @office, @property, :come_from => request.request_uri), :html => { :multipart => true, :class => "mediaform full", :id => "propertyaudioform" } do |f| %>
  <div class="group">

    <h3 style="float:left;">Property Logo </h3>
    <div style="clear:float;"></div>
    <div class="block full" >
      <div id="logo_images">
        <% unless @property.property_logo.blank? %>
          <div class="set logo_image" id="logo_<%= @property.property_logo.id %>"  onmouseover="if(/msie/.test(navigator.userAgent.toLowerCase()) && !/opera/.test(navigator.userAgent.toLowerCase())){ this.childNodes[0].childNodes[0].childNodes[0].childNodes[this.childNodes[0].childNodes[0].childNodes[0].childNodes.length-3].style.visibility = 'visible';}else{this.childNodes[1].childNodes[1].childNodes[1].childNodes[this.childNodes[1].childNodes[1].childNodes[1].childNodes.length-2].style.visibility = 'visible';} ;" onmouseout="if(/msie/.test(navigator.userAgent.toLowerCase()) && !/opera/.test(navigator.userAgent.toLowerCase())){ this.childNodes[0].childNodes[0].childNodes[0].childNodes[this.childNodes[0].childNodes[0].childNodes[0].childNodes.length-3].style.visibility = 'hidden';}else{this.childNodes[1].childNodes[1].childNodes[1].childNodes[this.childNodes[1].childNodes[1].childNodes[1].childNodes.length-2].style.visibility = 'hidden';} ;">
            <fieldset class="plogo_fs_1">
              <ul>
                <li>
                  <h4>1</h4>
                  <% if @property.property_logo.new_record? %>
                    <div class="file_show"><%= image_tag('/images/default_avatar.jpg', :style => "width: 100px; height: 65px;") %><br />&nbsp;</div>
                  <% else %>
                    <div class="file_show">
                     <img style="width: 100px; height: 65px;" src="<%= @property.property_logo.public_filename %>"/><br />
                     <%= link_to 'View', @property.property_logo.public_filename, :target => '_blank' %> |
                     <%= link_to image_tag('/images/delete.gif'), destroy_logo_agent_office_property_media_path(@agent, @office, @property, {:image_id => @property.property_logo.id, :upload_type => "browsers"}), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :style => "color:red;" %>
                    </div>
                  <% end %>
                  <%= hidden_field_tag "images[][id]", @property.property_logo.id %>

                  <div class="clearer"></div>
                  <label><span>Name:</span></label>
                  <input type="text" id="images__description" value="<%=@property.property_logo.description%>" class="single fldrequired" onfocus="this.parentNode.childNodes[this.parentNode.childNodes.length-2].style.visibility = 'visible';" />
                  <input style="visibility: hidden" type="button" value="Update" onclick="var desc,_this = this;if(/msie/.test(navigator.userAgent.toLowerCase()) && !/opera/.test(navigator.userAgent.toLowerCase())){ desc = _this.parentNode.childNodes[_this.parentNode.childNodes.length-5];}else{desc = _this.parentNode.childNodes[_this.parentNode.childNodes.length-4]} ;$.post('/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%=@property.id%>/media/update_description', { media_type:'floorplan', media_id:'<%@property.property_logo.id%>',description:desc.value},function(data){desc.value = data;});return false;"></input>
                </li>
              </ul>
            </fieldset>
          </div>
        <%end %>
      </div>
      <div class="clearer"></div>
    </div>
  </div>

  <div class="action_button">
    <span id="logo_action_button"></span>
    <button name="logosubmit" type="submit" value="Upload Logo" onclick="logo_uploader.startUpload();return false;" id="btn_upload">
      <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/>
      Upload Logo
    </button>
  </div>

<% end %>
<script type="text/javascript" charset="utf-8">
  $(function() {
    //update_audio_button(<#%#= Property::MAX_AUDIO %>);
  });
</script>