<% form_for :property, @property, :url => update_images_agent_office_property_media_path(@agent, @office, @property, :come_from => params[:come_from] ), :html => { :multipart => true, :class => "mediaform full", :id => "propertyphotoform" } do |f| %>
  <% unless @photo_errors.blank? %>
    <div style='background-color: #EF4123; margin: 0 0 18px; padding: 0px; text-align: left; font-size: 18px; line-height: 24px; color: #fff;'>
      <ul>
        <% @photo_errors.each do |k,v|%>
          <li ><%=v%></li>
        <%end%>
      </ul>
    </div>
  <%end%>
  <div class="group">
    <h3 style="float:left;">Property photo gallery</h3>
    <p>&nbsp;(* File types allowed: jpeg, jpg)</p>
    <div style="clear:float;"></div>
    <div class="block full" >
      <div id="photo_images">
        <% unless @property.images.blank? %>
          <%= render :partial => 'media/image', :collection => @property.images %>
        <% end %>
      </div>
      <div class="clearer"></div>
    </div>
  </div>
  <div class="action_button">
    <span id="image_action_button"></span>
    <button name="photosubmit" type="submit" value="Upload Photos" onclick="photos_uploader.startUpload();return false;" id="btn_upload">
      <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/>
      Upload Photos
    </button>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    update_photo_button(<%= Property::MAX_PHOTO %>);
  });
</script>

<script type="text/javascript">
$(function() {
  $("#photo_images").sortable({
    opacity: 0.6,
    cursor: 'move', update: function() {
      var order = $(this).sortable("serialize");
      $.post("<%= agent_office_property_media_path(@agent, @office, @property) + "/sort_images" %>", order, function(theResponse){
        update_orders('photo_image');
      });
     }
    });
});

function sort_images(){
  var order = $("#photo_images").sortable("serialize");
    $.post("<%= agent_office_property_media_path(@agent, @office, @property) + "/sort_images" %>", order, function(theResponse){
      update_orders('photo_image');
    });
}

</script>
