<% form_for :property, @property, :url => update_simple_brochures_agent_office_property_media_path(@agent, @office, @property, :come_from => request.request_uri), :html => { :multipart => true, :class => "mediaform full", :id => "propertybrochureform" } do |f| %>
  <div class="group">
    <h3 style="float:left;">Property Brochure Gallery </h3>
    <p>&nbsp;(* File types allowed: pdf)</p>
    <div style="clear:float;"></div>
    <div class="block full" >
      <div id="brochure_images">
        <% if @property.brochure.blank? %>
         <%= render :partial => 'media/simple_brochure_form', :locals => { :b => @property.brochure.build(:position => 1) } %>
        <% else %>
          <% @property.brochure.find(:all, :conditions => "`send_to_api` IS NULL OR `send_to_api` = 1", :order => "`position`").each do |b| %>
           <%= render :partial => 'media/simple_brochure_form', :locals => { :b => b } %>
          <%end %>
        <% end %>
      </div>
      <div class="clearer"></div>
    </div>
  </div>

  <div class="action_button">
    <%= link_to_function(image_tag("/images/icons/famfamfam/picture_add.png") + " Add Another", nil, :id => "photo_button") do |page|
      html = render(:partial => 'media/simple_brochure_form', :locals => { :b => @property.brochure.build(:position => 9999) })
      page << %{
    $('#brochure_images').append('#{escape_javascript(html)}'.replace(/9999/g, $('.brochure_image').length + 1))}
    end %>
    <button name="brochuresubmit" type="submit" value="Upload Brochure">
      <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/>
      Upload Brochure
    </button>
  </div>

<% end %>

<script type="text/javascript">
$(function() {
  $("#brochure_images").sortable({
    opacity: 0.6,
    cursor: 'move', update: function() {
      var order = $(this).sortable("serialize");
      $.post("<%= agent_office_property_media_path(@agent, @office, @property) + "/sort_brochure" %>", order, function(theResponse){
        update_orders('brochure_image');
      });
     }
    });
});
</script>
