<div class="set photo_image" id="image_<%= simple_image.id %>">
<fieldset class="pphoto_fs<%= simple_image.position %>">
	<ul>
		<li>
		  <h4><%= simple_image.position %></h4>
		  <% if simple_image.new_record? %>
		    	<div class="file_show"><%= image_tag('/images/default_avatar.jpg', :style => "width: 100px; height: 65px;") %><br />&nbsp;</div>
			<% else %>
				<div class="file_show">
                                 <div style="display:none;">
                                   <%= simple_image.real_filename %><br/><%= simple_image.real_filename("thumb") %>
                                 </div>
                                 <img style="width: 100px; height: 65px;" src="<%= simple_image.public_filename(:thumb) %>"/><br />
			        <%= link_to 'View', simple_image.public_filename, :target => '_blank' %> |
			        <%= link_to_remote image_tag('/images/delete.gif', :id => "del_img_#{simple_image.id}"), :url => destroy_image_agent_office_property_media_path(@agent, @office, @property, :image_id => simple_image.id),
			 			  :method => :delete, :confirm => "Are you sure to delete this image", :html => {:class => "delete_btn"}, :after => "$('#del_img_#{simple_image.id}').attr('src', '/images/search-loader.gif')" %>
				</div>
			<% end %>
			<%= hidden_field_tag "images[][id]", simple_image.id %>
			<div class="clearer"></div>
		    <label><span>Name:</span></label>
			<%= text_field_tag "images[][description]", simple_image.description, :class => "single fldrequired" %>
		</li>
	</ul>
<div class="pack file_button"><%= file_field_tag "images[][uploaded_data]" %></div>
</fieldset>
</div>