<% form_for :logo, @logo, :url => update_logo_agent_office_property_media_path(@agent, @office, @property, :upload_type => "browsers"), :html => { :multipart => true, :id => 'upload', :class => "mediaform full" } do |f| %>
  <div class="group">
      <h3 style="float:left;">Property Logo</h3>
      <div style="clear:float;"></div>
      <div class="block full">
        <div class="set logo_image" id="logo_<%= @property.property_logo.id %>">
        <fieldset class="plogo_fs_1">
          <ul><li>
              <% if @logo.new_record? %>
                <div class="file_show"><%= image_tag('/images/default_avatar.jpg', :style => "width: 100px; height: 65px;") %><br />&nbsp;</div>
              <% else %>
                <div class="file_show">
                  <img style="width: 100px; height: 65px;" src="<%= @property.property_logo.public_filename %>"/><br />
                 <%= link_to 'View', @property.property_logo.public_filename, :target => '_blank' %> |
                 <%= link_to image_tag('/images/delete.gif'), destroy_logo_agent_office_property_media_path(@agent, @office, @property, {:image_id => @property.property_logo.id, :upload_type => "browsers"}), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :style => "color:red;" %>
                </div>
              <% end %>
              <div class="clearer"></div>
              <label><span>Name:</span></label>
              <input type="text" id="logo_description" name="logo[description]" value="<%=@property.property_logo.description%>" class="single fldrequired" />
          </li></ul>
          <div class="pack file_button"><%= f.file_field :uploaded_data, :size => 0 %></div>
        </fieldset>
        </div>
        <div class="clearer"></div>
      </div>
    </div>
    <div class="action_button">
      <button name="brochuresubmit" type="submit" value="Upload Logo">
        <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/>
        Upload Logo
      </button>
    </div>
<% end %>
