<% form_for :mp3, @mp3, :url => agent_office_property_mp3s_path(@agent, @office, @property, :come_from => request.request_uri), :html => { :multipart => true, :id => 'upload', :class => "mediaform full" } do |f| %>
  <div class="group">
      <h3 style="float:left;">Property Audio Gallery</h3>
      <p>&nbsp;(* File types allowed: mp3, x-mp3, mpeg, mpg)</p>
      <div style="clear:float;"></div>
      <div class="block full">
        <div class="set mp3_image" id="mp3_<%= @property.mp3.id %>">
        <fieldset class="pmp3_fs_1">
          <ul><li>
              <% if @mp3.new_record? %>
                <div class="file_show"><%= image_tag('/images/default_avatar.jpg', :style => "width: 100px; height: 65px;") %><br />&nbsp;</div>
              <% else %>
                <div class="file_show">
                  <%= image_tag(@property.mp3.public_filename(:thumb), :style => "width: 100px; height: 65px;") %><br />
                  <%= link_to 'Download', @property.mp3.public_filename, :target => '_blank' %>
                </div>
              <% end %>
              <div class="clearer"></div>
              <label><span>Name:</span></label>
              <input type="text" id="mp3_description" name="mp3[description]" value="<%=@property.mp3.description%>" class="single fldrequired" />
          </li></ul>
          <div class="pack file_button"><%= f.file_field :uploaded_data, :size => 0 %></div>
        </fieldset>
        </div>
        <div class="clearer"></div>
      </div>
    </div>
    <div class="action_button">
      <button name="brochuresubmit" type="submit" value="Upload Audio">
        <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/>
        Upload Audio
      </button>
    </div>
<% end %>
