<% image = simple_plan %>
<div class="set plan_image" id="plan_<%= image.id %>">
  <fieldset class="pplans_fs<%= image.position %>">
    <ul>
      <li>
        <h4><%= image.position %></h4>
        <% if image.new_record? %>
          <div class="file_show"><%= image_tag('/images/default_avatar.jpg', :style => "width: 100px; height: 65px;") %><br />&nbsp;</div>
        <% else %>
          <div class="file_show">
            <%= image_tag(image.public_filename(:thumb), :style => "width: 100px; height: 65px;") %><br />
            <%= link_to 'View', image.public_filename, :target => '_blank' %> |
            <%= link_to_remote image_tag('/images/delete.gif', :id => "del_img_#{image.id}"), :url => destroy_plan_agent_office_property_media_path(@agent, @office, @property, :image_id => image.id),
            :method => :delete, :confirm => "Are you sure to delete this image", :html => {:class => "delete_btn"}, :after => "$('#del_img_#{image.id}').attr('src', '/images/search-loader.gif')" %>
          </div>
        <% end %>
        <%= hidden_field_tag "images[][id]", image.id %>

        <div class="clearer"></div>
        <label><span>Name:</span></label>
        <%= text_field_tag "images[][description]", image.description, :class => "single fldrequired" %>
      </li>
    </ul>

    <div class="pack file_button"><%= file_field_tag "images[][uploaded_data]" %></div>

  </fieldset>
</div>
