<%= stylesheet_link_tag 'uploadify' %>
<%= javascript_include_tag 'uploader/swfobject', 'uploader/swfupload','uploader/swfupload.queue','uploader/fileprogress','uploader/handlers'%>
<script type="text/javascript">
  var photos_uploader, plans_uploader, brochure_uploader, mp3_uploader;
  window.onload = function() {
    photos_uploader = new SWFUpload({
      // Backend Settings
      upload_url: "<%= update_images_agent_office_property_media_path(@agent, @office, @property, :come_from => params[:come_from],:type=>"image" ) %>",
      post_params: { },

      // File Upload Settings
      file_post_name : "uploaded_data",
      file_types : "*.jpg;*.jpeg",
      file_types_description : "Image Files",
      file_upload_limit : "30",
      file_queue_limit : "0",

      // Event Handler Settings (all my handlers are in the Handler.js file)
      file_dialog_start_handler : fileDialogStart,
      file_queued_handler : fileQueued,
      file_queue_error_handler : fileQueueError,
      upload_start_handler : uploadStart,
      upload_progress_handler : uploadProgress,
      upload_error_handler : uploadError,
      upload_success_handler : uploadSuccess,

      // Button Settings
      button_placeholder_id : "image_action_button",
      button_width: 110,
      button_height: 28,
      button_image_url:"<%= image_path("browse_image_gry.png") %>",
      custom_settings : {
        progressTarget : "photo_images",
        element : "photo",
        user_id : <%= current_user.id %>
      },
      // Flash Settings
      flash_url : "<%= javascript_path "uploader/swfupload.swf"  %>",
      debug: false
    });

    plans_uploader = new SWFUpload({
      // Backend Settings
      upload_url: "<%= update_plans_agent_office_property_media_path(@agent, @office, @property, :come_from => params[:come_from],:type=>"floorplan" ) %>",
      post_params: { },

      // File Upload Settings
      file_post_name : "uploaded_data",
      file_types : "*.jpg;*.gif;*.jpeg",
      file_types_description : "Floorplan Files",
      file_upload_limit : "5",
      file_queue_limit : "0",

      // Event Handler Settings (all my handlers are in the Handler.js file)
      file_dialog_start_handler : fileDialogStart,
      file_queued_handler : fileQueued,
      file_queue_error_handler : fileQueueError,
      upload_start_handler : uploadStart,
      upload_progress_handler : uploadProgress,
      upload_error_handler : uploadError,
      upload_success_handler : uploadSuccess,

      // Button Settings
      button_placeholder_id : "floorplan_action_button",
      button_width: 130,
      button_height: 28,
      button_image_url:"<%= image_path("browse_floorplans_gry.png") %>",
      custom_settings : {
        progressTarget : "plan_images",
        element : "plan",
        user_id : <%= current_user.id %>
      },
      // Flash Settings
      flash_url : "<%= javascript_path "uploader/swfupload.swf"  %>",
      debug: false
    });

    brochure_uploader = new SWFUpload({
      // Backend Settings
      upload_url: "<%= update_brochure_agent_office_property_media_path(@agent, @office, @property, :come_from => params[:come_from],:type=>"brochure" ) %>",
      post_params: { },

      // File Upload Settings
      file_post_name : "uploaded_data",
      file_types : "*.pdf",
      file_types_description : "Brochure Files",
      file_upload_limit : "10",
      file_queue_limit : "0",

      // Event Handler Settings (all my handlers are in the Handler.js file)
      file_dialog_start_handler : fileDialogStart,
      file_queued_handler : fileQueued,
      file_queue_error_handler : fileQueueError,
      upload_start_handler : uploadStart,
      upload_progress_handler : uploadProgress,
      upload_error_handler : uploadError,
      upload_success_handler : uploadSuccess,

      // Button Settings
      button_placeholder_id : "brochure_action_button",
      button_width: 130,
      button_height: 28,
      button_image_url:"<%= image_path("browse_brochure_gry.png") %>",
      custom_settings : {
        progressTarget : "brochure_images",
        element : "brochure",
        user_id : <%= current_user.id %>
      },
      // Flash Settings
      flash_url : "<%= javascript_path "uploader/swfupload.swf"  %>",
      debug: false
    });

    mp3_uploader = new SWFUpload({
      // Backend Settings
      upload_url: "<%= update_mp3_agent_office_property_media_path(@agent, @office, @property, :come_from => params[:come_from],:type=>"mp3" ) %>",
      post_params: { },

      // File Upload Settings
      file_post_name : "uploaded_data",
      file_types : "*.mp3",
      file_types_description : "MP3 Files",
      file_upload_limit : "1",
      file_queue_limit : "0",

      // Event Handler Settings (all my handlers are in the Handler.js file)
      file_dialog_start_handler : fileDialogStart,
      file_queued_handler : fileQueued,
      file_queue_error_handler : fileQueueError,
      upload_start_handler : uploadStart,
      upload_progress_handler : uploadProgress,
      upload_error_handler : uploadError,
      upload_success_handler : uploadSuccess,

      // Button Settings
      button_placeholder_id : "mp3_action_button",
      button_width: 110,
      button_height: 28,
      button_image_url:"<%= image_path("browse_audio_gry.png") %>",
      custom_settings : {
        progressTarget : "mp3_images",
        element : "mp3",
        user_id : <%= current_user.id %>
      },
      // Flash Settings
      flash_url : "<%= javascript_path "uploader/swfupload.swf"  %>",
      debug: false
    });

    var sh = "<%= @property.type.to_s%>";
    if(sh == "NewDevelopment"){
      logo_uploader = new SWFUpload({
        // Backend Settings
        upload_url: "<%= update_logo_agent_office_property_media_path(@agent, @office, @property, :come_from => params[:come_from],:type=>"logo" ) %>",
        post_params: { },

        // File Upload Settings
        file_post_name : "uploaded_data",
        file_types : "*.jpg;*.gif",
        file_types_description : "logo Files",
        file_upload_limit : "1",
        file_queue_limit : "0",

        // Event Handler Settings (all my handlers are in the Handler.js file)
        file_dialog_start_handler : fileDialogStart,
        file_queued_handler : fileQueued,
        file_queue_error_handler : fileQueueError,
        upload_start_handler : uploadStart,
        upload_progress_handler : uploadProgress,
        upload_error_handler : uploadError,
        upload_success_handler : uploadSuccess,

        // Button Settings
        button_placeholder_id : "logo_action_button",
        button_width: 110,
        button_height: 28,
        button_image_url:"<%= image_path("browse_logo_gry.png") %>",
        custom_settings : {
          progressTarget : "logo_images",
          element : "logo",
          user_id : <%= current_user.id %>
        },
        // Flash Settings
        flash_url : "<%= javascript_path "uploader/swfupload.swf"  %>",
        debug: false
      });
    }

    video_uploader = new SWFUpload({
      // Backend Settings
      upload_url: "<%= update_uploaded_video_agent_office_property_media_path(@agent, @office, @property, :come_from => params[:come_from],:type=>"uploaded_video" ) %>",
      post_params: { },

      // File Upload Settings
      file_post_name : "uploaded_data",
      file_types : "*.mp4;*.mov",
      file_types_description : "Video Files",
      file_upload_limit : "1",
      file_queue_limit : "0",

      // Event Handler Settings (all my handlers are in the Handler.js file)
      file_dialog_start_handler : fileDialogStart,
      file_queued_handler : fileQueued,
      file_queue_error_handler : fileQueueError,
      upload_start_handler : uploadStart,
      upload_progress_handler : uploadProgress,
      upload_error_handler : uploadError,
      upload_success_handler : uploadSuccess,

      // Button Settings
      button_placeholder_id : "uploaded_video_action_button",
      button_width: 110,
      button_height: 28,
      button_image_url:"<%= image_path("browse_audio_gry.png") %>",
      custom_settings : {
        progressTarget : "uploaded_video",
        element : "video",
        user_id : <%= current_user.id %>
      },
      // Flash Settings
      flash_url : "<%= javascript_path "uploader/swfupload.swf"  %>",
      debug: false
    });

    if(photos_uploader == undefined || plans_uploader == undefined || brochure_uploader == undefined || mp3_uploader == undefined || video_uploader == undefined){
      alert("use old uploader")
    }

    checkFlashPlayer()
  };
</script>

<div class="title_block block"><h2 class="page_title"><%= @property.address %></h2>
  <% unless session[:search_keyword].blank? %>
    <span style="float:right"><%= link_to "Back to search results", "/agents/#{current_agent.id}/offices/#{current_office.id}/search_results?search_keyword=#{session[:search_keyword]}&commit=Search" %></span>
  <%end%>
</div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div id="propphotogallerydiv" class="block media full">
  <div class="block transparent full">
    <div class="set full leader">
      <div class="group" style="background-color: orange;margin-top:-30px">
        <p >You are using the Flash uploader. Problems? Try the <%= link_to "Browser uploader",agent_office_property_media_path(@agent, @office, @property)+"?isBrowser=true" %> instead. </p>
      </div>
    </div>
  </div>

  <div id="no-flash-warn" class="warn-text"></div>

  <div class="block transparent full">
    <div class="set quarter leader">
      <div class="group">
        <p><strong>Media:</strong> You can upload up to 30 images, 5 floorplans, 10 brochures.</p>
      </div>
    </div>

    <div class="set quarter middle">
      <div class="group">
        <p><strong>Sorting:</strong> Reorder uploaded images by dragging the set over another set.</p>
      </div>
    </div>

    <div class="set quarter middle">
      <div class="group">
        <p><strong>Naming:</strong> You can name an image after it is uploaded. <em>Example: Dining Room</em>.</p>
      </div>
    </div>

    <div class="set quarter follower">
      <div class="group">
        <p><strong>Adding new images:</strong> Click on the browse button below to add images to this gallery. You can select 1 image or multiple images and load them at once, press Upload once complete.</p>
      </div>
    </div>
  </div>

  <%= render :partial => "photos" %>
</div>

<div id="propertyplansdiv" class="block media full">

  <%= render :partial => 'plans' %>

</div>

<div id="propertybrochurediv" class="block media full">
  <%= render :partial => "brochure" %>
  <div class="clearer"></div>
</div>

<!--<div id="propertyaudiodiv" class="block media full">
  <%#= render :partial => "mp3"%>
  <div class="clearer"></div>
</div>-->

<% if @property.type.to_s == "NewDevelopment" %>
  <div id="propertylogodiv" class="block media full">
    <%= render :partial => "logo"%>
    <div class="clearer"></div>
  </div>
<% else %>
  <div style="display:none" id="logo_action_button"></div>
<% end %>

<!--<div id="propertyvideodiv" class="block media full">
  <%#= render :partial => "video" %>
</div>-->

<!--<div id="propertyuploadvideodiv" class="block media full">
  <%#= render :partial => "upload_video"%>
  <div class="clearer"></div>
</div>-->