<%= javascript_include_tag 'uploader/swfobject' %>
<div class="title_block block"><h2 class="page_title"><%= @property.address %></h2>
  <% unless session[:search_keyword].blank? %>
  <span style="float:right"><%= link_to "Back to search results", "/agents/#{current_agent.id}/offices/#{current_office.id}/search_results?search_keyword=#{session[:search_keyword]}&commit=Search" %></span>
  <%end%>
</div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div id="propphotogallerydiv" class="block media full">
  <div class="block transparent full">
    <div class="set full leader">
      <div class="group" style="background-color: orange;margin-top:-30px">
        <p >You are using the Browser uploader. Try the <%= link_to "Flash uploader",agent_office_property_media_path(@agent, @office, @property)+"?isBrowser=false" %> instead.</p>
      </div>
    </div>
  </div>
  <div class="block transparent full">
    <div class="set quarter leader">
      <div class="group">
        <p><strong>Media:</strong> You can upload up to 30 images, 5 floorplans, 10 brochures.</p>
      </div>
    </div>

    <div class="set quarter middle">
      <div class="group">
        <p><strong>Sorting:</strong> Reorder uploaded images by dragging the set over another set.</p>
      </div>
    </div>

    <div class="set quarter middle">
      <div class="group">
        <p><strong>Naming:</strong> You can name an image after it is uploaded. <em>Example: Dining Room</em>.</p>
      </div>
    </div>

    <div class="set quarter follower">
      <div class="group">
        <p><strong>Adding new images:</strong> Click the Choose File/Browse option to select the file on your computer. You can then press Add Another and repeat this process. Once you've selected all files then press Upload.</p>
      </div>
    </div>

    <div class="action_button clearer">
    </div>
  </div>
  <%= render :partial => "simple_photos" %>
</div><!-- end #propphotogallerydiv -->

<div id="propertyplansdiv" class="block media full">
  <%= render :partial => 'simple_plans' %>
</div>

<div id="propertybrochurediv" class="block media full">
  <%= render :partial => "simple_brochure", :locals => { :position => 1 } %>
  <div class="clearer"></div>
</div>

<div id="propertyaudiodiv" class="block media full">
  <%= render :partial => "simple_mp3"%>
  <div class="clearer"></div>
</div>

<% if @property.type.to_s == "NewDevelopment" %>
<div id="propertylogodiv" class="block media full">
  <%= render :partial => "simple_logo" %>
</div>
<% end %>

<div id="propertyvideodiv" class="block media full">
  <%= render :partial => "video" %>
</div>

<div id="propertyuploadvideodiv" class="block media full">
  <%= render :partial => "simple_upload_video"%>
  <div class="clearer"></div>
</div>

<!-- end #propertyaudiodiv -->
