<% if @property.present? %>
  <div class="title_block block"><h2 class="page_title"><%= @property.address %></h2></div>
  <div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<% end %>
<div class="title_block block">
  <% if @property.blank?  %>
    <h2>Create Letter</h2>
  <% end %>
  <h4><span class="lite">
    Please read the documentation on which placeholders you may put in your templates before they are uploaded.
    The placeholders will be replaced with the data from the database including your agency, property, agent and
    contact details.
    Please download the <a href="http://www.agentaccount.com/mailmerge/Mailmerge%20Placeholders.pdf">PDF documentation here.</a><br/>
    </span></h4>
</div>
<div id="clientdiv" class="block accounts full">
  <div class="block form group" style="background-color:#E1EBF5;float:left;margin-right:15px;width:58%;">
    <h6>Create Letter</h6>
    <% form_tag @property.present? ? agent_office_property_mail_merges_path(@agent, @office, @property) : agent_office_mail_merges_path(@agent, @office),
       :method => 'post' do %>
      <fieldset class="pf_fs5">
        <ul class="pf-ul" style="padding:0">
          <li class="li--23 nobullet"><label style="width:145px"><span>Select letter:</span></label>
            <%= select_tag "document[id]", options_for_select(@docs), :class => 'select_box', :style => "width:261px" %>
          </li>
          <li class="li--23 nobullet"><label style="width:145px"><span>Select output format:</span></label>
            <%= select_tag "document[format]", options_for_select(@doc_format), :class => 'select_box', :style => "width:261px" %>
          </li>
          <li class="nobullet"><input type="hidden" name="contact_ids" id="contact_ids" value=""/></li>
        </ul>
    <% end %>
        <ul>
          <li class="li--23 nobullet">
            <table style="border:none;margin:0">
              <tr style="background-color: inherit">
                <td style="width:137px;padding:0"><label style="width:137px;min-width:0"><span>Search contact:</span></label></td>
                <td style="padding: 0 0 0 8px;">
                  <input type="text" style="width: 255px;" size="30" name="search_property" id="search_contacts" class="single"/>
                  <img src="/images/search-loader.gif" id="search-loader-note"></img>
                </td>
              </tr>
            </table>
          </li>
          <li class="li--23 nobullet">
            <div id="selected_contacts" style="text-align:left;font-size:9pt;"><%= @featured_properties %></div>
          </li>
          <li class="li--23 nobullet nobullet">
            &nbsp;
          </li>
          <li class="li--23 nobullet" style="width:70%">
            <button name="submit" type="submit" value="Submit" style="float:left;width:74px" class="submit_btn">
              Create
            </button>
          </li>
          <% if current_user.full_access? %>
          <li class="li--23 nobullet" style="width:25%">
            <button name="delete" type="submit" value="delete" style="float:left;width: 140px;margin-left: 50px;" onclick="confirm('Are you sure?')" class="submit_btn">
              Delete selected letter
            </button>
          </li>
          <% end %>
        </ul>
      </fieldset>
  </div>

  <% if current_user.full_access? %>
  <div class="block form group" style="background-color:#E1EBF5;float:left;width:35%">
    <h6>Add Letter</h6>
    <% form_tag @property.present? ? upload_doc_agent_office_property_mail_merges_path(@agent, @office, @property) : upload_doc_agent_office_mail_merges_path(@agent, @office),
       :method => 'post', :enctype=>"multipart/form-data"  do %>
      <fieldset class="pf_fs5">
        <ul class="pf-ul">
          <li class="li--23">
            <label style="width:145px">
            <label><span>Letter title:</span></label>
            <%= text_field_tag "document[title]",{}, :class => "single fldrequired", :style => "width:200px" %><br/>
            <div class="clearer"><br/></div>
            <label style="width:400px"><span>Supported input format: .doc, .docx, .odt </span></label>
            <div class="file_button" style="margin-top:15px"><%= file_field_tag "document[uploaded_data]" %></div>
            <div class="clearer"></div>
          </li>
          <li class="li--23" style="margin-top:9px">
            <button name="submit" type="submit" value="Submit" style="float:left;width:74px" class="submit_btn">
              Upload
            </button>
          </li>
        </ul>
      </fieldset>
    <% end %>
  </div>
  <% end %>

</div>
<script type="text/javascript">
$(document).ready(function(){
  // Prevent submitting form by pressing enter
  $(window).keydown(function(event){
    if( (event.keyCode == 13)) {
      event.preventDefault();
      return false;
    }
  });

  $('#search-loader-note').hide()
  $("<div id='popup_table' style='position:absolute;text-transform:none;font-size:11px;z-index:300000'><div id='search_header' style='background-color:#0A3247;font-weight:bold;width:808px;height:15px;color:white;text-align:right;text-decoration:false;'><a id='close_button' href='#' onclick='return false;' style='margin:8px;text-decoration:false;color:white'>X</a></div><div id='search_container'><table  id='table_search_result' class='property-search' cellspacing='0' cellpadding = '0' >\n\
   <th class='first_cell'></th><th>ID</th><th>First Name</th><th>Last Name</th><th>Email</th>\n\
  </table></div>").appendTo($("body"));
  $("#popup_table").css({'top' : 467,'left' : 56,'width':"800px"})
  $('#popup_table').hide()
  $("#close_button").click(function(){
    $('#popup_table').hide()
  })

  $("#search_contacts").click(function(){
    $('#popup_table').show()
  })

  var delay = (function(){
    var timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    };
  })();

  function addTextAreaCallback(textArea, callback, delay) {
    var timer = null;
    if (textArea != null && textArea != undefined)
    {
      textArea.onkeypress = function() {
          if (timer) {
              window.clearTimeout(timer);
          }
          timer = window.setTimeout( function() {
              timer = null;
              callback();
          }, delay );
      };
      textArea = null;
    }
  }


  addTextAreaCallback( document.getElementById("search_contacts"),
    function(event){
      if($("#search_contacts").val()!=""){
        search_key_note();
        $("#popup_table").show();
      }
  }, 400);

  $("#search_contacts").bind("keydown",function(event){
    if(event.keyCode == 13){
      search_key_note();
      return false;
    }
  });



})

function use_address(id){
  var a_all_id = $("#contact_ids").val();
  var a_arry = a_all_id.split(',');
  var a_add =0;
  if(id !=''){
    for(var x=0; x < a_arry.length; x++){
      if((a_arry[x]!='')&&(a_arry[x]== id)){ a_add = 1; }
    }
    if(a_add != 1){
      var new_datas = $("#contact_ids").val() + ',' + id;
      var text = $('#f'+id).html()+" "+$('#l'+id).html()
      $("#contact_ids").attr('value', new_datas);
      $("#selected_contacts").append('<span id="selected_contact_id'+id+'" style="margin-right:20px;">'+text+'\
       <a href="javascript:remove_contact(\''+id+'\')">x</a></span> ');
    }
  }
}

function remove_contact(id){
  var all_id = $("#contact_ids").val();
  var arry = all_id.split(',');
  $("#contact_ids").attr('value', "");
  for(var x=0; x < arry.length; x++){
    if((arry[x]!='')&&(arry[x]!=id)){
     var new_datas = $("#contact_ids").val() + ',' + arry[x];
     $("#contact_ids").attr('value', new_datas);
    }
  }
  $("#selected_contact_id"+id).remove();
}

function search_featured_property(){
      search_key_note();
      $("#popup_table").show();
    }

function search_key_note(){
  $.ajax({
    type: "POST",
    url: "<%= search_agent_office_agent_contacts_path(@agent, current_office) %>",
    data:"search_value="+$("#search_contacts").val(),
    dataType:"JSON",
    beforeSend:function(){
      $("#search-loader-note").show();
      if ($("#table_search_result").find("tr").length >0){
        $("#table_search_result").find("tr:gt(0)").remove() ;
        $("#search_container").css({"height":"100px"});
      };
    },
    success: function(jsonResponse){
      $("#search-loader-note").hide();
      if ($("#table_search_result").find("tr").length >0){
        $("#table_search_result").find("tr:gt(0)").remove() ;
        $("#search_container").css({"height":"100px"});
      };
      if (jsonResponse != ''){
        var jsonObject = eval('(' + jsonResponse + ')');
        $.each(jsonObject.results, function(index,array){
          $("#table_search_result").append("<tr>\n\
        <td><a href='javascript:use_address("+array["id"]+");' style='margin:0px;padding:0px 14px;color:blue;'>Use</a></td>\n\
        <td style='color:black'>"+array["id"]+"</td>\n\
        <td style='color:black'><span style='display:none' id='f"+array["id"]+"' >"+array["first_name"]+"</span>"+array["first_name"]+"</td>\n\
        <td style='color:black'><span style='display:none' id='l"+array["id"]+"' >"+array["last_name"]+"</span>"+array["last_name"]+"</td>\n\
        <td style='color:black'>"+array["email"]+"</td>\n\
        </tr>");
        });
        $("#search_container").css({"height":"400px"});
      }else{
        $("#table_search_result").append("<tr>\n\
        <td style='color:black' colspan='6'>No Matching Results</td>\n\
        </tr>");
        $("#search_container").css({"height":"100px"});
      };
    }
  });
  return false;
};


</script>