<%= render :partial => 'agent_users/settings' %>
<br/>
<br/>
<div id="memberdetailsdiv" class="group">
  <div class="set">
    <% form_for :agent_user, @agent_user, :url => agent_office_sharing_stock_path(@agent,@office,@agent_user), :html => {:method => :put, :class => 'member_details_form', :id => 'member_details_form'} do |f| %>
      <div id="contactsdiv" class="block form group" style="background-color: #E1EBF5">
        <div class="set" style="padding: 10px;font-size: 12px">
          <%= f.check_box :share_stock_on_admin_account %>&nbsp;Share my stock with other offices in my admin account
          <br/>
          <%= f.check_box :share_stock_with_all_offices %>&nbsp;Share my stock with all offices in Commercial Loop
          <br/>
          <%= f.check_box :share_database_requirement_on_admin_account %>&nbsp;Share my database requirements with other offices in my admin account
          <br/>
          <%= f.check_box :share_database_requirement_with_all_offices %>&nbsp;Share my database requirements with all offices in Commercial Loop
        </div>
      </div>
      <br/>
      <div class="action_button">
        <button name="update" type="button" value="Update" onclick="$('#member_details_form').submit();">
          <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
          Update
        </button>
      </div>
    <%end%>
  </div>
</div>