<div id="smsdiv" class="group">
  <div class="set">
    <h4 class="full">Send SMS</h4>

    <br />

    <div id="validation_text"></div>

    <fieldset class="pf_fs5">
      <ul class="pf-ul">
        <li class="li--20 required">

          <label><span>To:<span class="red_star">*</span></span></label>

          <div class="receiver_number_container">
            <div class="receiver_number_box_container">
              <div class="receiver_number_auto_complete" class="textbox"></div>
              <span class="indicator1" style="display:none;"><img src="/images/search-loader.gif" id="contact-loader"></img></span>
            </div>
          </div>

          <div class="receiver_number_box_container" style="display:none">
            <div class="receiver_number_auto_complete" class="textbox"></div>
            <span class="indicator1" style="display:none;"><img src="/images/search-loader.gif" id="contact-loader"></img></span>
            <div class="remove_receiver_number"><a href="javascript:void(0)">remove</a></div>
          </div>

          <%= form.hidden_field :receiver_number %>
          <div id="add_receiver_number"><a href="javascript:void(0)">add recipient</a></div>

        </li>

        <li class="li--17">
          <label><span>Message:</span></label>
          <%= form.text_area :message, :class => "area" %>
          <div class="counter-info"><span id="remaining">160</span>/<span id="messages">1</span><span id="credit_text"></span></div>
        </li>

        <li><strong>Total credit will be charged: <span id="total_credit">0</span></strong></li>
        <li><strong>Your credit: <span id="user_credit"><%= @office.sms_credit %></span></strong></li>
        <li><strong><%= link_to "Purchase SMS credit", @purchase_url %></strong></li>
      </ul>
    </fieldset>

    <div class="action_button">
      <button name="btn_submit" type="submit" value="Submit" id="send_sms" class="submit_btn">
        <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Send
      </button>
    </div>

    <div class="clearer"></div>
  </div>
</div>

<script>
  function autocompleteResultTemplate() {
    var template = "<div class='contact-autocomplete-row'>";

    template += "<span class='col-left'>";
    template += "{name}";
    template += "</span>";
    template += "<span class='col-right'>";
    template += "{mobile_number}";
    template += "</span>";
    template += "</div>";

    return template;
  }

  function appendAutoCompleteValue() {
    return function() {
      updateReceiverNumberCollection();
    }
  }

  function prepareAutoComplete(field) {
    field.flexbox(
      "<%= auto_complete_agent_office_sms_path(@agent, @office) %>", {
        method: 'post',
        showArrow: false,
        inputClass: 'single',
        noResultsText: '',
        minChars: 2,
        width: 400,
        queryDelay: 300,
        paging: false,
        hiddenValue: 'mobile_number',
        maxVisibleRows: 8,
        containerClass: 'ffbContainer',
        onSelect: appendAutoCompleteValue(),
        resultTemplate: autocompleteResultTemplate()
      }
    )
  }

  function customAjax() {
    jQuery(".indicator1").ajaxStart(function(event){
      jQuery(this).show();
    });

    jQuery(".indicator1").ajaxStop(function(){
      jQuery(this).hide();
    });
  }

  function characterCounter(messageBoxElmt, remainingElmt, messagesElmt) {
    return function() {
      var chars = messageBoxElmt.val().length;
      var messages = Math.ceil(chars / 160);
      var remaining = messages * 160 - (chars % (messages * 160) || messages * 160);

      var numberOfValidReceivers = getNumberOfValidReceivers();

      if (messages > 1) {
        messages = Math.ceil(chars / 153);
        remaining = messages * 153 - (chars % (messages * 153) || messages * 153);
      }

      if (chars == 0) { remaining = 160; messages = 1; }

      calculateTotalCredit(numberOfValidReceivers, messages);

      remainingElmt.text(remaining);
      messagesElmt.text(messages);
    }
  }

  function addReceiverNumberField(containerElmt, boxElmt, autoCompleteField) {
    return function() {
      var newBoxElmt = boxElmt.clone();

      newBoxElmt.show().appendTo(containerElmt);
      prepareAutoComplete(newBoxElmt.children(autoCompleteField).first());

      newBoxElmt.find('.remove_receiver_number a').click(removeReceiverNumberField());
      newBoxElmt.find('#_input').blur(triggerUpdateReceiverNumberCollection());
      newBoxElmt.find('#_input').focus(triggerUpdateReceiverNumberCollection());
    }
  }

  function removeReceiverNumberField() {
    return function() {
      this.parentElement.parentElement.remove();
      updateReceiverNumberCollection();
    }
  }

  function countValidReceivers() {
    var arrayOfReceivers = new Array();
    var inputFields = $('.receiver_number_box_container').find('#_input');

    for (var i = 0, len = inputFields.length; i < len; i++) {
      setHiddenValue(inputFields[i]);
      if (inputFields[i].getAttribute('hiddenvalue') != '' &&
          inputFields[i].getAttribute('hiddenvalue') != undefined &&
            inputFields[i].value != '') {
        arrayOfReceivers.push(inputFields[i]);
      }
    }

    return arrayOfReceivers;
  }

  function getNumberOfValidReceivers() {
    return $('#sms_message_receiver_number').val().split(',').length - 1;
  }

  function triggerUpdateReceiverNumberCollection() {
    return function() {
      updateReceiverNumberCollection();
    }
  }

  function updateReceiverNumberCollection() {
    var field = $('#sms_message_receiver_number');

    var inputFields = countValidReceivers();
    var numberOfMessages = parseInt($('#messages').text());
    var numberOfReceivers = 0;

    field.val('');

    for (var i = 0, len = inputFields.length; i < len; i++) {
      field.val(field.val() + ',' + inputFields[i].getAttribute('hiddenvalue'));
      numberOfReceivers += 1;
    }

    calculateTotalCredit(numberOfReceivers, numberOfMessages);
  }

  function calculateTotalCredit(numberOfReceivers, numberOfMessages) {
    $('#total_credit').text(numberOfReceivers * numberOfMessages);
  }

  function showValidationMessage(message) {
    var validationElmt = $('#validation_text');

    validationElmt.text(message);
    validationElmt.show();

    setTimeout(function() {
      validationElmt.hide()
    }, 3000);
  }

  function anyBlankReceiver(inputFields) {
    var any = false;

    for (var i = 0, len = inputFields.length; i < len; i++) {
      if (inputFields[i].value == '') {
       any = true;
      }
    }

    if (any) {
      showValidationMessage('Please fill all required fields.');
    }

    return any;
  }

  function isNumber(n) {
    return !isNaN(parseFloat(n)) && isFinite(n);
  }

  function setHiddenValue(field) {
    var rVal = true;

    if (isNumber(field.value)) {
      if (field.value.length == 10) {
        field.setAttribute('hiddenvalue', field.value);
      } else {
        rVal = false;
      }
    }

    return rVal;
  }

  function anyInvalidMobileNumber(inputFields) {
    var any = false;

    for (var i = 0, len = inputFields.length; i < len; i++) {
      if (!setHiddenValue(inputFields[i]))
        any = true;
    }

    if (any) {
      showValidationMessage('Please fill correct mobile number.');
    }

    return any;
  }

  function insufficientCredit() {
    var userCredit = parseInt($('#user_credit').text());
    var credit = parseInt($('#total_credit').text());

    if (credit > userCredit) {
      showValidationMessage('You have insufficient credit. Please top up your balance first.');
      return true;
    } else {
      return false;
    }
  }

  function formValidation() {
    var inputFields = $('.receiver_number_box_container').find('#_input');

    if (anyBlankReceiver(inputFields) || anyInvalidMobileNumber(inputFields) || insufficientCredit())
      return false;

    return true;
  }

  function submitClick() {
    return function() {
      if (!formValidation()) {
        return false;
      }
    }
  }

  $(document).ready(function(){
    var autoCompleteField = $('.receiver_number_auto_complete').first();
    var remainingElmt = $('#remaining');
    var messagesElmt = $('#messages');
    var messageBoxElmt = $('#sms_message_message');

    var receiverNumberBoxElmt = $('.receiver_number_box_container').last();
    var receiverNumberElmt = $('.receiver_number_container');

    //customAjax();
    prepareAutoComplete(autoCompleteField);

    $('#sms_message_message').keyup(characterCounter(messageBoxElmt, remainingElmt, messagesElmt));
    $('#add_receiver_number a').click(addReceiverNumberField(receiverNumberElmt, receiverNumberBoxElmt, autoCompleteField));
    $('#send_sms').click(submitClick());

    $('.receiver_number_box_container').find('#_input').blur(triggerUpdateReceiverNumberCollection());
    $('.receiver_number_box_container').find('#_input').focus(triggerUpdateReceiverNumberCollection());
  })
</script>
