<%= render :partial => 'submenu' %>

<hr class="thick"></hr>

<div class="block help full">
  <div class="threequarters leader">
    <h2>SMS Logs</h2>
  </div>
</div>

<hr class="separator" />
<%= render :partial => 'filter' %>
