<%= render :partial => 'submenu' %>

<hr class="thick"></hr>

<div id="clientdiv" class="block accounts full">
  <% form_for :sms_message, @sms_message, :url => agent_office_sms_path(@agent,@office), :html => {:class => 'propertyform full', :id=> "form_new"} do |f| %>
    <%= f.error_messages :class => 'errortext' %>

    <div class="block form half leader" >
      <%= render :partial => 'sms', :locals => {:form => f} %>
    </div>
  <% end %>
</div>
