
<% remote_form_for comment, :url => message_comment_url(@message, comment), :html => { :method => :put, :class => "postuploadform full" } do |f| %>

<div class="set full">
	<div class="group">
		<%= f.text_area :comment, :class => :area, :rows => 6 %>
		<div class="clearer"></div>
	</div>
</div>

<div class="action_button">
	<button name="postcomment" type="submit" value="Post a Comment">
		<img src="/images/icons/famfamfam/email.png" alt="email" width="16" height="16"/>
		Update
	</button>
	
	<span>or&nbsp;&nbsp;</span>
	
    <%= link_to_function image_tag('icons/famfamfam/cancel.png') + "Cancel", "$('#comment_detail_#{comment.id}').show();$('#comment_edit_#{comment.id}').hide();" %>
	
	<input type="reset" id="form_reset" style="display: none;" />
</div>

<% end %>