
<h2>Post a Comment</h2>

<div id="fileuploaddiv" class="block files full">
	
<% if @message.archivable_by?(current_user) && @message.pending_archive? %>

<% form_for @message, :url => archive_message_comments_path(@message), :html => { :method => :put, :class => "postuploadform full" } do %>

<div class="set full">

<div class="group">
	<div class="tabularrow set">
		<p>The recipient of this message has completed your task and would like to archive the message. If this message has been completed then please rate the service provided by the recipient, if it is not complete select incomplete.</p>

		<p>
		<input id="rating" name="rating" type="radio" value="<%= Message::RatingIncomplete %>" /><label><strong>Incomplete</strong></label>
		<input id="rating" name="rating" type="radio" value="<%= Message::RatingPoor       %>" /><label><strong>Poor</span></strong>
		<input id="rating" name="rating" type="radio" value="<%= Message::RatingReasonable %>" /><label><strong>Reasonable</strong></label>
		<input id="rating" name="rating" type="radio" value="<%= Message::RatingGood       %>" /><label><strong>Good</span></strong>
		<input id="rating" name="rating" type="radio" value="<%= Message::RatingExcellent  %>" /><label><strong>Excellent</strong></label>
		</p>
	</div>

	<h2>Remarks</h2>
	
	<%= text_area_tag :remarks, nil, :rows => 6, :class => "area" %>
	<div class="clearer"></div>
</div>
</div>

<div class="action_button">
	<button name="postcomment" type="submit" value="Post a Comment">
		<img src="/images/icons/famfamfam/email.png" alt="email" width="16" height="16"/>
		Post a Comment
	</button>
	
	<span>or&nbsp;&nbsp;</span>
	
    <%= link_to_function image_tag("/images/icons/famfamfam/cancel.png") + "Cancel", "$('#form_reset').trigger('click');" %>
	
	<input type="reset" id="form_reset" style="display: none;" />
</div>

<% end %>
</div>
<% else %>
	
<% form_for :comment, MessageComment.new, :url => message_comments_path(@message), :html => { :method => :post, :class => "postuploadform full", :id => "new_comment_form", :multipart => true } do |f| %>

<div class="set full">
	
	<%= f.error_messages :class => 'errortext' %>
	
	<div class="group">
		<%= f.text_area :comment, :class => :area, :rows => 6 %>
		<div class="clearer"></div>
	</div>

	<div class="pack file_button">
		<p><strong>Attach files</strong> (Note: You may not upload files larger than 100 MB.)</p>
		<%= f.file_field :uploaded_file_data %>
	</div>
  <% if @status != 'internal' %>
    <% if @message.archived? && @message.sender == current_user %>
    <div class="pack ">
      <p><label><%= check_box_tag :unarchive %> Unarchive this message</label></p>
    </div>
    <% else %>
       <% unless @message.archived? %>
         <% unless @message.sender == current_user %>
          <div class="pack ">
            <p><label><%= check_box_tag :archive %> Archive this ticket with this comment</label></p>
          </div>
        <% end %>
       <% end %>
    <% end %>
  <% else %>
    <%= f.hidden_field "internal_chat", :value => true %>
    <%= f.hidden_field "developer_internal", :value => @developer_internal %>
  <% end %>
</div>

<% if flash[:post_reullt] %>
	<div class="errortext pf_error"><%= flash[:post_reullt] %></div>
<% end %>

<div class="action_button">
	<button name="postcomment" type="submit" value="Post a Comment">
		<img src="/images/icons/famfamfam/email.png" alt="email" width="16" height="16"/>
		Post a Comment
	</button>
	
	<span>or&nbsp;&nbsp;</span>
	
    <%= link_to_function image_tag("/images/icons/famfamfam/cancel.png") + "Cancel", "$('#form_reset').trigger('click');" %>
	
	<input type="reset" id="form_reset" style="display: none;" />
</div>

<% end %>

<% end %>
</div>