<div id="thickbox_content">
<%= thickbox_close_button %>

<h2>Archive this Message</h2>

<p>The recipient of this message has completed your task and would like to archive the message. If this message has been completed then please rate the service provided by the recipient, if it is not complete select incomplete.</p>

<% remote_form_for @message, :url => archive_message_comments_path(@message), :html => { :method => :put } do %>

<style>
input#rating { margin: 0px 3px 0px 12px; display: inline-block; }
label { display: inline-block; }
</style>
<div>
<input id="rating" name="rating" type="radio" value="<%= Message::RatingIncomplete %>" /><label><strong>Incomplete</strong></label>
<input id="rating" name="rating" type="radio" value="<%= Message::RatingPoor       %>" /><label><strong>Poor</span></strong>
<input id="rating" name="rating" type="radio" value="<%= Message::RatingReasonable %>" /><label><strong>Reasonable</strong></label>
<input id="rating" name="rating" type="radio" value="<%= Message::RatingGood       %>" /><label><strong>Good</span></strong>
<input id="rating" name="rating" type="radio" value="<%= Message::RatingExcellent  %>" /><label><strong>Excellent</strong></label>
</div>

<p>
	<label>Remarks</label>
	<br />
	<%= text_area_tag :remarks, nil, :rows => 8, :cols => 50, :style => "width: 400px;" %>
</p>

<p><%= submit_tag 'Submit' %> or <%= link_to_function 'Cancel', 'tb_remove();'%></p>
<% end %>
</div>