var html = '<tr id="campaign_<%= @campaign.id %>"> <td class="first_cell field"><%= @campaign.id %><td> <td class="value">Current Campaign<gtd> <td class="value">Start:<%= @campaign.start_date %></td> <td class="value"></td> <td class="value"><a href="#" title="">View</a> | <a href="#" title="" class="delete_btn" onclick="destroyCampaign(\'<%= agent_office_property_campaign_path(@agent, @office, @property, @campaign) %>\'); return false;"><img src="/images/delete.gif" alt="delete" /></a></td> </tr>';
$('#campaign_summary').prepend(html);
$('#add_new_campaign_button').hide();
