<script type="text/javascript">
  $(document).ready(function(){
    var query = '<%= @contact_name %>';
    var ff = jQuery("#purchaser_name").flexbox('<%= auto_complete_sale_property_agent_office_properties_path(@agent, @office) %>',{
      customParameters: {q: query},
      method: 'post',
      watermark: query,
      showArrow: false,
      inputClass: 'single',
      minChars: 2,
      width:250,
      queryDelay: 300,
      paging:false,
      highlightMatches:false,
      containerClass:'autopopup',
      onSelect: function(){
        $('#agent_name').attr('value', this.getAttribute('val'));
        $('#purchaser_agent_contact_id').attr('value', this.getAttribute('hiddenValue'));
        if($("#purchaser_agent_contact_id").val() != ""){
          $("#on_hold_only").attr("value", true);
          $("#add_contact").hide();
          $("#view_contact").show();
        }
        if($("#mark_for_deleted").val() == "true"){
          $("#mark_for_deleted").val("false");
        }
      }
    });
    jQuery("#indicator1").ajaxStart(function(){
      jQuery(this).show();
    });
    jQuery("#indicator1").ajaxStop(function(){
      $("#purchaser_name_ctr").width(250).css({"top":"20px"});
      jQuery(this).hide();
    });
    $("#property_date").live('change', function(){
      $("#transaction_settlement_date").val($(this).val());
    })
    $("#transaction_settlement_date").live('change', function(){
      $("#property_date").val($(this).val());
    })
  })

</script>
<script type="text/javascript">
  $(document).ready(function(){
<% if @add_new_contact == "true" %>
      add_contact()
<% else %>
      remove_contact()
<% end %>

    $(".datepicker").datepicker({
      dateFormat: 'dd/mm/yy'
    });
<% if @property.status == 2 %>
      $("#purchaserdiv").show();
      $("#transactiondiv").show();
      $("#external_agent_div").show();
<% elsif @property.status == 3 %>
      $("#tenant_info_div").show();
      $("#tenancydiv").show();
      $("#external_agent_div").show();
      $("#lease_expiry_div").show();
<% end %>
<% if @property.status == 7 %>
      $("#purchaserdiv").show();
      $("td.non-on-hold").css("display", "none");
<%end%>
  });
</script>

<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<% form_for :purchaser, @purchaser, :url => update_status_agent_office_property_transaction_path(@agent, @office, @property, @transaction, :come_from => params[:come_from] ), :html => {:method => 'put',:class =>"status_form"}  do |f| %>
  <% fields_for @purchaser_contact do |contact_fields| %>
    <%= contact_fields.error_messages :class => 'errortext' %>
    <%= f.error_messages :class => 'errortext' %>
    <div id="contactsdiv" class="block form group" style="background-color: #E1EBF5">
      <div id="purchaserdiv">
        <br/>
        <% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
          <h6 class="full">Rental Details </h6>
        <% else %>
          <h6 class="full">Purchaser Details </h6>
        <% end %>
        <table  class="pf-table" style="border:none;width:900px;">
          <tr class="li--8">
            <td>
              <table class="pf-table" style="border:none;width:503px;">
                <tr class="li--8">
                  <td style="width:38%">Contact Name:</td>
                  <td>
                    <%= f.hidden_field :agent_contact_id, :class => "single" %>
                    <%= hidden_field_tag "agent_name", @contact_name %>
                    <%= hidden_field_tag "add_new_contact" %>
                    <%= hidden_field_tag "edit_selected_contact" %>
                    <%= hidden_field_tag "on_hold_only" %>
                    <%= hidden_field_tag "mark_for_deleted" %>
                    <%= hidden_field_tag "edit_this_contact" %>
                    <table>
                      <tr>
                        <td style="width:260px;padding:0">
                          <div id="purchaser_name">
                          </div>
                        </td>
                        <td>
                          <img src="/images/search-loader.gif" id="indicator1" style="display:none;"/>
                          <a href="javascript:add_contact()" id="add_contact" style="color:blue;font-weight:none;" class="add-edit"><%= !@purchaser.blank? ? (@purchaser.agent_contact_id.blank? ? "Add" : "Edit") : "Add"  %></a>
                          <a href="javascript:remove_contact()" id="remove_contact" style="display:none;color:blue;font-weight:none;">Remove</a>
                          <a href="javascript:get_agent_contact()" id="view_contact" style="display:none;color:blue;font-weight:none;">View</a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr class="test-contact">
                <tr class="li--8 contact"><td>First Name:</td><td><%= contact_fields.text_field :first_name, :class => "single", :style => "width: 255px" %></td></tr>
                <tr class="li--8 contact"><td>Last Name:</td><td><%= contact_fields.text_field :last_name, :class => "single", :style => "width: 255px" %></td></tr>
                <tr class="li--8 contact"><td>Email:</td><td><%= contact_fields.text_field :email, :class => "single", :style => "width: 255px" %></td></tr>
                <tr class="li--8 contact"><td>Home Number:</td><td><%= contact_fields.text_field :home_number, :class => "single", :style => "width: 255px" %></td></tr>
                <tr class="li--8 contact"><td>Work Number:</td><td><%= contact_fields.text_field :work_number, :class => "single", :style => "width: 255px" %></td></tr>
                <tr class="li--8 contact"><td>Mobile Number:</td><td><%= contact_fields.text_field :mobile_number, :class => "single", :style => "width: 255px" %></td></tr>
                <tr class="li--8 contact"><td>Contact Number:</td><td><%= contact_fields.text_field :contact_number, :class => "single", :style => "width: 255px"  %></td></tr>
          </tr>
        </table>
        </td>
        </tr>
        </table>
      </div>

      <div id="transactiondiv" style="display:none;">
        <fieldset class="pf_fs5">
          <ul class="pf-ul" id="address_container">
            <li class="li--15"><label class="transaction" style="width: 15.3%">Sold Date<span class="red_star">*</span></label>
              <%= text_field_tag 'transaction[date]', @date, :class => 'single datepicker', :style => "width:255px" %>
            </li>
            <li class="li--15"><label class="transaction" style="width: 15.3%">Sold Amount<span class="red_star">*</span></label>
              <%= text_field_tag 'transaction[amount]', @amount, :class => 'single', :style => "width:255px" %>
            </li>
            <li class="li--15"><label class="transaction" style="width: 15.3%">Display Sold Price</label>
              <%= check_box_tag 'transaction[display_price]' %>
            </li>
          </ul>
        </fieldset>
        <br/>
        <h6 class="full">Transaction Information</h6>
        <fieldset class="pf_fs5">
          <ul class="pf-ul" id="address_container">
            <li class="li--15"><label class="transaction-edit">Method of Sale</label>
              <%= select_tag 'transaction[method_of_sale]', options_for_select([['Please select', nil],['For Sale', 'For Sale'],['Auction', 'Auction',], ['Sale by Negotiation', 'Sale by Negotiation'], ['Tender', 'Tender'], ['Expression of Interest', 'Expression of Interest'],['Offers to Purchase', 'Offers to Purchase']]) %>
            </li>
            <li class="li--15"><label class="transaction-edit">Investment</label>
              <%= select_tag 'transaction[investment]', options_for_select([['Please select', nil],['Yes', true],['No', false]]) %>
            </li>
            <li class="li--15"><label class="transaction-edit">Fees</label>
              $ <%= text_field_tag 'transaction[fee]', @fee, :class => 'single transaction-input' %>
            </li>
            <li class="li--15"><label class="transaction-edit">Settlement Date</label>
              <%= text_field_tag 'transaction[settlement_date]', @settlement_date, :class => 'single datepicker transaction-input' %>
            </li>
            <li class="li--15"><label class="transaction-edit">Contract Link</label>
              <%= text_field_tag 'transaction[contract_link]', @contract_link, :placeholder => "http://", :class => 'single transaction-input' %>
            </li>
            <li class="li--15"><label class="transaction-edit">Office Note</label>
              <%= text_area_tag 'transaction[office_note]', @office_note, :class => 'single', :style => 'margin: 0px; height: 95px; width: 255px;' %>
            </li>
            <li class="li--15"><label class="transaction-edit">Salesperson</label>
              <%= select_tag 'transaction[transaction_sales_person]', options_for_select(@sales_person) %>
            </li>
          </ul>
        </fieldset>
      </div>

      <div id="external_agent_div" style="display:none;">
        <br/>
        <h6 class="full">External Agent(optional)</h6>
        <fieldset class="pf_fs5">
          <ul class="pf-ul" id="address_container">
            <li class="li--15"><label class="transaction-edit">Company</label>
              <%= text_field_tag 'transaction[external_agent_company]', @external_agent_company, :class => 'single transaction-input' %>
            </li>
            <li class="li--15"><label class="transaction-edit">Sales Person</label>
              <%= text_field_tag 'transaction[external_agent_sales_person]', @external_agent_sales_person, :class => 'single transaction-input' %>
            </li>
            <li class="li--15"><label class="transaction-edit">Conjunction Fees</label>
              $ <%= text_field_tag 'transaction[conjunction_fee]', @conjunction_fee, :class => 'single transaction-input' %>
            </li>
            <li class="li--15"><label class="transaction-edit">Scale of Fees</label>
              <%= text_field_tag 'transaction[scale_of_fee]', @scale_of_fee, :class => 'single transaction-input' %>
            </li>
          </ul>
        </fieldset>
      </div>
      <div class="action_button">
        <button name="update" type="submit" value="Update" style="float:left;">
          Update
        </button>
        <% unless @transaction.is_deleted == true %>
          <%= link_to "Delete", agent_office_property_transaction_path(@agent,@office,@property,@transaction), :confirm => "Are you sure?", :method => :delete %>
        <%end%>
      </div>
    </div>
  <%end%>
<%end%>
<script type="text/javascript">
  $(function(){
    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });
</script>
<script type="text/javascript">
  $(document).ready(function(){
$("#purchaser_name_input").css("width", "255px");
<% if @display_price == true %>
      $("#transaction_display_price").attr('checked', 'checked');
<%else%>
      $("#transaction_display_price").removeAttr('checked');
<%end%>
    $("#transactiondiv").show();
    $("#external_agent_div").show();
    $("#transaction_method_of_sale").find('option[value=<%=@transaction.method_of_sale%>]').attr('selected', 'selected');
    $("#transaction_investment").find('option[value=<%=@transaction.investment%>]').attr('selected', 'selected');
    $("#transaction_transaction_sales_person").find('option[value=<%=@transaction.transaction_sales_person%>]').attr('selected', 'selected');
<% unless @property.purchaser.blank? %>
  <% if @property.status == '7' || !@property.purchaser.agent_contact_id.blank? %>
        $("#view_contact").hide();
        $("#add_contact").show();
  <%end%>
<%end%>
<% unless @sales_record.blank? %>
      $("#transaction_method_of_sale").find('option[value=<%=@method_of_sale%>]').attr('selected', 'selected');
      $("#transaction_investment").find('option[value=<%=@investment%>]').attr('selected', 'selected');
      $("#transaction_transaction_sales_person").find('option[value=<%=@transaction_sales_person%>]').attr('selected', 'selected');
<%else%>
      $("#transaction_transaction_sales_person").find('option[value=<%=@property.primary_contact_id%>]').attr('selected', 'selected');
<%end%>
<% unless @tenancy_record.blank? %>
      $("#tenancy_net_gross").find('option[value=<%=@net_gross%>]').attr('selected', 'selected');
      $("#tenancy_sales_person").find('option[value=<%=@tenancy_transaction_sales_person%>]').attr('selected', 'selected');
      $("#tenancy_lease_expiry_sales_person").find('option[value=<%=@lease_expiry_sales_person%>]').attr('selected', 'selected');
<%else%>
      $("#tenancy_sales_person").find('option[value=<%=@property.primary_contact_id%>]').attr('selected', 'selected');
<%end%>

<% if params[:action] == "update_status" %>
  $("#transaction_date").val('<%= params[:transaction][:date] %>');
  $("#transaction_amount").val('<%= params[:transaction][:amount] %>');
  $("#transaction_method_of_sale").find("option[value='<%= params[:transaction][:method_of_sale] %>']").attr('selected', 'selected');
  $("#transaction_investment").find("option[value='<%= params[:transaction][:investment] %>']").attr('selected', 'selected');
  $("#transaction_fee").val('<%= params[:transaction][:fee] %>');
  $("#transaction_settlement_date").val('<%= params[:transaction][:settlement_date] %>');
  $("#transaction_contract_link").val('<%= params[:transaction][:contract_link] %>');
  $("#transaction_office_note").val('<%= params[:transaction][:office_note] %>');
  $("#transaction_transaction_sales_person").val('<%= params[:transaction][:transaction_sales_person] %>');
  $("#transaction_external_agent_company").val('<%= params[:transaction][:external_agent_company] %>');
  $("#transaction_external_agent_sales_person").val('<%= params[:transaction][:external_agent_sales_person] %>');
  $("#transaction_conjunction_fee").val('<%= params[:transaction][:conjunction_fee] %>');
  $("#transaction_scale_of_fee").val('<%= params[:transaction][:scale_of_fee] %>');
  <% unless params[:transaction][:display_price].blank? %>
        <% if params[:transaction][:display_price] == '1' %>
          $("#transaction_display_price").attr('checked', 'checked');
        <%else%>
          $("#transaction_display_price").removeAttr('checked');
        <%end%>
      <%end%>
  <% unless params[:purchaser][:agent_contact_id].blank? %>
    $(".contact").hide();
    $("#add_contact").show();
    $("#remove_contact").hide();
  <%end%>
<%end%>
  });

  function get_agent_contact(){
    var base_address = $('.test-contact');
    var controller = "<%= get_agent_contact_purchaser_agent_office_properties_path(@agent, @office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data: {"purchaser_agent_contact_id" : $("#purchaser_agent_contact_id").val(), "property_id" : "<%= @property.id %>", "controllah" : "<%= params[:controller] %>" },
      dataType:"html",
      beforeSend:function(){
        $("#purchaser_name_input").attr("disabled", "disabled");
        $("img#indicator1").show();
      },
      success: function(data){
        $("#purchaser_name_input").attr("disabled", "disabled");
        $("img#indicator1").hide();
        $("#view_contact").hide();
        $("#remove_contact").show();
        $(".test-contact").show();
        $("#add_new_contact").val("false");
        $("#edit_selected_contact").attr("value", true);
        $("#mark_for_deleted").val("false");
        jQuery(".test-contact").html(data);
      }
    });
    return false;
  }

  function add_contact(){
    $(".contact").show();
    $("#remove_contact").show();
    $("#add_contact").hide();
    $("#purchaser_name_input").attr('disabled', 'disabled');
    $("#add_new_contact").attr('value', true);
    $("#mark_for_deleted").attr('value', false);
    if($("#mark_for_deleted").val() == "false"){
<% unless @property.purchaser.blank? %>
  <% unless @property.purchaser.agent_contact_id.blank? %>
          $(".test-contact").hide();
  <%end%>
<%end%>
    }
  }

  function remove_contact(){
<% unless @property.purchaser.blank? %>
      $("#purchaser_name_input").val("<%= @property.purchaser.agent_contact.blank? ? "" : (@property.purchaser.agent_contact.full_name.blank? ? @property.purchaser.agent_contact.first_name : @property.purchaser.agent_contact.full_name) %>");
  <% if @property.purchaser.agent_contact_id.blank? %>
        $("a.add-edit").text("Add");
  <%else%>
        $("a.add-edit").text("Edit");
  <%end%>
<%end%>
    if($("#mark_for_deleted").val() == "false"){
      $("#mark_for_deleted").val("true");
      $("#purchaser_name_input").val("");
      $("#edit_selected_contact").val("false");
    }
    $(".contact").hide();
    $("#add_contact").show();
    $("#remove_contact").hide();
    $("#purchaser_name_input").removeAttr('disabled');
    $("#add_new_contact").attr('value', true);
  }

  function showpurchaser(){

<% if @property.type.to_s == "CommercialBuilding" || @property.type.to_s == "Commercial" %>
      if($("#property_status_2").is(":checked") == true){
        $("#purchaserdiv").slideDown("slow");
        $("#transactiondiv").slideDown("slow");
        $("#external_agent_div").slideDown("slow");
        $("#tenancydiv").slideUp("slow");
        $("#lease_expiry_div").slideUp("slow");
        $("#tenant_info_div").slideUp("slow");
      }else if($("#property_status_3").is(":checked") == true){
        $("#purchaserdiv").slideUp("slow");
        $("#tenant_info_div").slideDown("slow");
        $("#tenancydiv").slideDown("slow");
        $("#lease_expiry_div").slideDown("slow");
        $("#transactiondiv").slideUp("slow");
      }
<%end%>
<% unless @property.type.to_s == "Commercial" && @property.deal_type.to_s == "Lease" %>
      $("#purchaserdiv").slideDown("slow");
<%end%>
    $("#external_agent_div").slideDown("slow");
    if($("#on_hold_only").val() == "true"){
      $("#view_contact").hide();
      $("#add_contact").show();
      $(".test-contact").hide();
      $("#remove_contact").hide();
      $("#purchaser_name_input").removeAttr('disabled');
    }
<% unless @property.purchaser.blank? %>
  <% if @property.status == 2 %>
        if($("#property_status_2").is(':checked')){
          $("#purchaser_agent_contact_id").val("<%= @property.purchaser.blank? ? "" : (@property.purchaser.agent_contact_id.blank? ? "" : @property.purchaser.agent_contact_id) %>");
          $("a.add-edit").text("Edit");
          $("#add_new_contact").attr('value', false);
          $("#agent_contact_first_name").val("<%= @property.purchaser.agent_contact.first_name rescue nil %>");
          $("#agent_contact_last_name").val("<%= @property.purchaser.agent_contact.last_name rescue nil %>");
          $("#agent_contact_email").val("<%= @property.purchaser.agent_contact.email rescue nil %>");
          $("#agent_contact_home_number").val("<%= @property.purchaser.agent_contact.home_number rescue nil %>");
          $("#agent_contact_work_number").val("<%= @property.purchaser.agent_contact.work_number rescue nil %>");
          $("#agent_contact_mobile_number").val("<%= @property.purchaser.agent_contact.mobile_number rescue nil %>");
          $("#agent_contact_contact_number").val("<%= @property.purchaser.agent_contact.contact_number rescue nil %>");
          $("#purchaser_name_input").val("<%= @property.purchaser.agent_contact.blank? ? "" : (@property.purchaser.agent_contact.full_name.blank? ? @property.purchaser.agent_contact.first_name : @property.purchaser.agent_contact.full_name) %>");
        }else if($("#property_status_7").is(':checked')){
          $("#purchaser_agent_contact_id").val("");
          $("#agent_contact_first_name").val("");
          $("#agent_contact_last_name").val("");
          $("#agent_contact_email").val("");
          $("#agent_contact_home_number").val("");
          $("#agent_contact_work_number").val("");
          $("#agent_contact_mobile_number").val("");
          $("#agent_contact_contact_number").val("");
          $("a.add-edit").text("Add");
          $("#add_new_contact").attr('value', true);
          $("#purchaser_name_input").val("");
        }
  <%elsif @property.status == 7 %>
        if($("#property_status_7").is(':checked')){
          $("#purchaser_agent_contact_id").val("<%=@property.purchaser.blank? ? "" : (@property.purchaser.agent_contact_id.blank? ? "" : @property.purchaser.agent_contact_id) %>");
          $("a.add-edit").text("Edit");
          $("#add_new_contact").attr('value', false);
          $("#agent_contact_first_name").val("<%= @property.purchaser.agent_contact.first_name rescue nil %>");
          $("#agent_contact_last_name").val("<%= @property.purchaser.agent_contact.last_name rescue nil %>");
          $("#agent_contact_email").val("<%= @property.purchaser.agent_contact.email rescue nil %>");
          $("#agent_contact_home_number").val("<%= @property.purchaser.agent_contact.home_number rescue nil %>");
          $("#agent_contact_work_number").val("<%= @property.purchaser.agent_contact.work_number rescue nil %>");
          $("#agent_contact_mobile_number").val("<%= @property.purchaser.agent_contact.mobile_number rescue nil %>");
          $("#agent_contact_contact_number").val("<%= @property.purchaser.agent_contact.contact_number rescue nil %>");
          $("#purchaser_name_input").val("<%= @property.purchaser.agent_contact.blank? ? "" : (@property.purchaser.agent_contact.full_name.blank? ? @property.purchaser.agent_contact.first_name : @property.purchaser.agent_contact.full_name) %>");
        }else if($("#property_status_2").is(':checked')){
          $("#purchaser_agent_contact_id").val("");
          $("#agent_contact_first_name").val("");
          $("#agent_contact_last_name").val("");
          $("#agent_contact_email").val("");
          $("#agent_contact_home_number").val("");
          $("#agent_contact_work_number").val("");
          $("#agent_contact_mobile_number").val("");
          $("#agent_contact_contact_number").val("");
          $("a.add-edit").text("Add");
          $("#add_new_contact").attr('value', true);
          $("#purchaser_name_input").val("");
        }
  <%end%>
<%end%>
<% if @property.status == 2 %>
  <% unless @property.purchaser.blank?  %>
    <% unless @property.purchaser.date.blank? %>
          $("#property_date").val("<%=@property.purchaser.date.strftime("%m/%d/%Y")%>");
    <%end%>
    <% unless @property.purchaser.amount.blank? %>
          $("#property_amount").val("<%=@property.purchaser.amount%>");
    <%end%>
    <% unless @property.purchaser.display_price.blank? %>
          $("#property_display_price").val("<%=@property.purchaser.display_price %>");
    <%end%>
  <%end%>
<%end%>
    if($('#property_status_7').is(':checked')){
      $('h6.full').text('Hold Details');
      $("td.non-on-hold").css("display", "none");
      $("#property_date").val("");
      $("#property_amount").val("");
      $("#property_display_price").val("");
    }else{
      //$('h6.full').text('Purchaser Details');
      $("td.non-on-hold").css("display", "block");
<% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
        $('b.status_date').text('Lease Date');
        $('b.status_amount').text('Lease Amount');
        $('p.display_price').text('Display Lease Price:');
<%else%>
        $('b.status_date').text('Sold Date');
        $('b.status_amount').text('Sold Amount');
        $('p.display_price').text('Display Sold Price:');
<%end%>
    }
  }

  function hidepurchaser(){
<%  if @property.type.to_s == "CommercialBuilding" || @property.type.to_s == "Commercial" %>
      $("#transactiondiv").slideUp("slow");
      $("#external_agent_div").slideUp("slow");
      $("#tenancydiv").slideUp("slow");
      $("#lease_expiry_div").slideUp("slow");
      $("#tenant_info_div").slideUp("slow");
<%end%>
<% if @property.status != 2 or @property.status != 3  %>
      $("#purchaserdiv").slideUp("slow");
<% end %>
  }
</script>