<div class="title_block block">
  <h2 class="page_title"><%= @property.address %></h2>
</div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<%= render :partial => "filter" %>