<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_div { height: 100% }
</style>
<style type="text/css" >
  .wrapper{margin:0 auto;width:700px;height:auto;font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif;}
  .logo{margin-bottom:5px;font-weight:bold;font-size:25px;}
  .headline{width:700px;height:30px;margin-bottom:5px;}
  .headline-text{font-size:12pt;font-weight:bold;}
  .middle-content{width:700px;height:auto;margin-bottom:5px;}
  .middle-content .right-column{width:450px;height:auto;float:left;}
  .middle-content .left-column{width:231px;height:auto;float:right;}
  .right-column .address-box{height:auto;border-bottom:1px solid #CCCCCC;margin-bottom:10px;padding:5px;width: 686px}
  .right-column .big-pic{margin-bottom:10px;}
  .right-column .detail{height:auto;margin-bottom:10px;}
  .right-column .map{height:100px;border:1px solid #CCCCCC;}
  .detail .right-column{width:140px;height:auto;float:left;}
  .small-pic{width:140px;margin-bottom:10px;}
  .detail .left-column{width:290px;height:auto;float:right;}
  .clear{clear:both;}
  .right-box{
    width:210px;
    min-height:100px;
    border:1px solid #CCCCCC;
    margin-bottom:10px;
    padding:5px 10px;
  }
  p {
    font-size: 11px;
  }
  .detail .left-column ul{font-size:8pt;}
  .content-label{
    width: 200px;
    float: left;
  }
  .uppercase{
    text-transform: uppercase
  }
</style>
<div class="wrapper">
  <% unless @property.agent.developer.blank? %>
    <div class="logo">
      <% unless @header_image.blank? %>
        <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="700"/>
      <% else %>
        <%= @property.agent.name %>
      <% end %>
    </div>
  <% end %>
  <div class="headline"><p><span class="headline-text">
        <%= @property.deal_type == "Both" ? "For Sale & Lease" : @property.deal_type %>
      </span> Property Id : <%= @property.id %></p></div>
  <div class="middle-content">
    <div class="right-column">
      <legend class="uppercase">Purchaser Information</legend>
      <div class="address-box" style="font-size: 14px">
        <b class="content-label">Company</b> : <%= @transaction.agent_contact.blank? ? "-" : (@transaction.agent_contact.company.blank? ? "-" : "#{@transaction.agent_contact.company}") %>
        <br/><b class="content-label">Contact</b> : <%= @transaction.agent_contact.blank? ? "-" : (@transaction.agent_contact.full_name.blank? ? "#{@transaction.agent_contact.first_name}" : "#{@transaction.agent_contact.full_name}") %>
        <br/><b class="content-label">Phone</b> : <%= @transaction.agent_contact.blank? ? "-" : (@transaction.agent_contact.contact_number.blank? ? "-" : "#{@transaction.agent_contact.contact_number}") %>
        <br/><b class="content-label">Mobile</b> : <%= @transaction.agent_contact.blank? ? "-" : (@transaction.agent_contact.mobile_number.blank? ? "-" : "#{@transaction.agent_contact.mobile_number}") %>
        <br/><b class="content-label">Email</b> : <%= @transaction.agent_contact.blank? ? "-" : (@transaction.agent_contact.email.blank? ? "-" : "#{@transaction.agent_contact.email}") %>
        <div class="clear"></div>
      </div>
    </div>
    <div class="right-column">
      <legend class="uppercase">Transaction Information</legend>
      <div class="address-box" style="font-size: 14px">
        <b class="content-label">Method of Sale</b> : <%= @transaction.method_of_sale.blank? ? "-" : "#{@transaction.method_of_sale}" %>
        <br/><b class="content-label">Investment</b> : <%= @transaction.investment.blank? ? "-" : "#{@transaction.investment == true ? "Yes" : "No"}" %>
        <br/><b class="content-label">Sale Price</b> : <%= @transaction.sale_price.blank? ? "-" : "$ #{@transaction.sale_price}" %>
        <br/><b class="content-label">Fees</b> : <%= @transaction.fee.blank? ? "-" : "$ #{@transaction.fee}" %>
        <br/><b class="content-label">Date of Sale</b> : <%= @transaction.date_of_sale.blank? ? "-" : "#{@transaction.date_of_sale}" %>
        <br/><b class="content-label">Settlement Date</b> : <%= @transaction.settlement_date.blank? ? "-" : "#{@transaction.settlement_date}" %>
        <br/><b class="content-label">Contract Link</b> : <%= @transaction.contract_link.blank? ? "-" : "<a href='http://#{@transaction.contract_link}' target='_blank'>#{@transaction.contract_link}</a>" %>
        <br/><b class="content-label">Office Note</b> : <%= @transaction.office_note.blank? ? "-" : "#{@transaction.office_note}" %>
        <% @agent_user = AgentUser.find(@transaction.transaction_sales_person) rescue nil %>
        <br/><b class="content-label">Salesperson*</b> : <%= @transaction.transaction_sales_person.blank? ? "-" : (@agent_user.blank? ? "-" : "#{@agent_user.full_name.blank? ? @agent_user.first_name : @agent_user.full_name}") %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="right-column">
      <legend class="uppercase">External Agent (Optional)</legend>
      <div class="address-box" style="font-size: 14px">
        <b class="content-label">Company</b> : <%= @transaction.external_agent_company.blank? ? "-" : "#{@transaction.external_agent_company}" %>
        <br/><b class="content-label">Sales Person</b> : <%= @transaction.external_agent_sales_person.blank? ? "-" : "#{@transaction.external_agent_sales_person}" %>
        <br/><b class="content-label">Conjunction Fees</b> : <%= @transaction.conjunction_fee.blank? ? "-" : "$ #{@transaction.conjunction_fee}" %>
        <br/><b class="content-label">Scale of Fees</b> : <%= @transaction.scale_of_fee.blank? ? "-" : "$ #{@transaction.scale_of_fee}" %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="footer">
    <% unless @header_image.blank? %>
      <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="700" style="margin-top: 400px;" />
    <% end %>
  </div>
</div>