<script type="text/javascript">
  // Path to the blank image must point to a valid location on your server
  function tb_remove_ajax() {
    $("#mask").hide();
    $("#frameContainer").remove();
    $("#closeFrame").remove();
    $("#RSIFrame").remove();
    Ext.getCmp("listingGrid").getStore().reload();
  }
  // Main application entry point
  Ext.onReady(function() {
    var page_name = "<%= params[:controller] == "general_sale_children_listings" && params[:action] == "index" ? 'listing_view' : 'office_view' %>"
    var pagesize;
    var tbar;
    var urlProxy;

    if(page_name == 'listing_view'){
      var comboDS = new Ext.data.JsonStore({
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'team'},
          {name: 'suburbs'},
          {name: 'types'},
          {name: 'floors'}
        ],
        proxy: new Ext.data.HttpProxy({
          url: '/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%= @property.id %>/general_sale_children_listings/populate_combobox',
          method:'GET'
        })
      });
      var suburbDS = new Ext.data.JsonStore({
        root: 'suburbs',
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'suburb'},
          {name: 'suburbText'}
        ]
      });
      var floorDS = new Ext.data.JsonStore({
        root: 'floors',
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'floor'},
          {name: 'floorText'}
        ]
      });
      var typeDS = new Ext.data.JsonStore({
        root: 'types',
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'type'},
          {name: 'typeText'}
        ]
      });
      var teamDS = new Ext.data.JsonStore({
        root: 'team',
        id: 'id',
        totalProperty: 'results',
        remoteSort: false,
        fields: [
          {name: 'assigned_to'},
          {name: 'assigned_toText'}
        ]
      });
      comboDS.load();
      comboDS.on('load', function(){
        suburbDS.loadData(comboDS.reader.jsonData);
        typeDS.loadData(comboDS.reader.jsonData);
        teamDS.loadData(comboDS.reader.jsonData);
        floorDS.loadData(comboDS.reader.jsonData);

        assigned_toCombo.setValue('<%= session[:primary_contact_fullname].blank? ? 'all' : session[:primary_contact_fullname] %>');
        typeCombo.setValue('<%= session[:property_type].blank? ? 'all' : session[:property_type] %>');
        suburbCombo.setValue('<%= session[:suburb].blank? ? 'all' : session[:suburb] %>');
        floorCombo.setValue('<%= session[:floor].blank? ? 'all' : session[:floor] %>');
      });

      var listingCombo = new Ext.form.ComboBox({
        id:'listingCombo',
        fieldLabel:'All Listing Type',
        store: new Ext.data.ArrayStore({
          id: 0,
          fields: [
            'val',
            'text'
          ],
          data: [['all', 'All Listing Types'], ['GeneralSale', 'General Sale']]
        }),
        typeAhead: true,
        mode: 'local',
        triggerAction: 'all',
        sortable: false,
        selectOnFocus:true
        ,valueField:'val'
        ,displayField:'text'

      });

      var assigned_toCombo = new Ext.form.ComboBox({
        store: teamDS,
        typeAhead: true,
        mode: 'local',
        id: 'contactCombo',
        triggerAction: 'all',
        sortable: false,
        selectOnFocus:true
        ,valueField:'assigned_to'
        ,displayField:'assigned_toText'
      });

      var typeCombo = new Ext.form.ComboBox({
        store: typeDS,
        typeAhead: true,
        mode: 'local',
        id: 'typeCombo',
        triggerAction: 'all',
        sortable: false,
        selectOnFocus:true
        ,valueField:'type'
        ,displayField:'typeText'
      });

      var suburbCombo = new Ext.form.ComboBox({
        store: suburbDS,
        typeAhead: true,
        mode: 'local',
        id: 'suburbCombo',
        sortable: false,
        triggerAction: 'all',
        selectOnFocus:true
        ,valueField:'suburb'
        ,displayField:'suburbText'
      });

      var floorCombo = new Ext.form.ComboBox({
        store: floorDS,
        typeAhead: true,
        mode: 'local',
        id: 'floorCombo',
        sortable: false,
        triggerAction: 'all',
        selectOnFocus:true
        ,valueField:'floor'
        ,displayField:'floorText'
      });

      var statusCombo = new Ext.form.ComboBox({
        fieldLabel:'All Status',
        store: new Ext.data.ArrayStore({
          id: 0,
          fields: [
            'val',
            'text'
          ],
          data: [['all', 'All Status'], ['1', 'Available'], ['2', 'Sold'], ['3', 'Leased'], ['4', 'Withdrawn'], ['5', 'Underoffer'], ['6', 'Draft'], ['7', 'On Hold']]
        }),
        id:'statusCombo',
        typeAhead: true,
        mode: 'local',
        sortable: false,
        triggerAction: 'all',
        selectOnFocus:true
        ,valueField:'val'
        ,displayField:'text'
      });
      listingCombo.setValue('<%= session[:type].blank? ? 'all' : session[:type] %>');
      statusCombo.setValue('<%= session[:status].blank? ? 'all' : session[:status] %>');
      floorCombo.setValue('<%= session[:floor].blank? ? 'all' : session[:floor] %>');
      tbar = new Ext.Toolbar({
        hideMode:'offset',
        forcefit: true,
        items  : [listingCombo,suburbCombo,floorCombo,typeCombo,assigned_toCombo,statusCombo]
      });
      pagesize = 35;
      urlProxy = '/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%= @property.id %>/general_sale_children_listings/view_listing?page_name='+page_name+'&suburb='+suburbCombo.getValue()+'&floor='+floorCombo.getValue()+'&type='+listingCombo.getValue()+'&status='+statusCombo.getValue()+'&floor'+statusCombo.getValue()+'&property_type='+typeCombo.getValue()+'&primary_contact_fullname='+assigned_toCombo.getValue();
      suburbCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      floorCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      listingCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      typeCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      statusCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);

      assigned_toCombo.on('select', function(combo,record,index){
        setGridURL();
      }, this);
    }else{
      pagesize = 20;
      urlProxy =  '<%= view_listing_agent_office_property_general_sale_children_listings_path(@agent,@office) %>?page_name='+page_name+'&status=<%=session[:status]%>';
    };

    var ds = new Ext.data.JsonStore({
      //autoLoad: true,
      root: 'rows',
      id: 'id',
      totalProperty: 'results',
      remoteSort: true,

      fields: [
        'id', 'listing','property_type','address','suite','suburb','type','price','assigned_to','actions','status','fb','payment_status','level','sqm'
      ],

      // load using script tags for cross domain, if the data in on the same domain as
      // this page, an HttpProxy would be better
      proxy: new Ext.data.HttpProxy({
        url: urlProxy,
        method:'GET'
      })
    });
    //  var compareData = new Array();
    ds.setDefaultSort('updated_at','DESC');


    var paging_toolbar = new Ext.PagingToolbar({
      pageSize: pagesize,
      displayInfo: true,
      emptyMsg: 'No data found',
      displayInfo: true,
      forcefit: true,
      style: 'text-align:center;',
      hideMode:'offset',
      displayMsg: 'Results : {2}',
      store: ds,
      toggleHandler: function(btn, pressed){
        var view = grid.getView();
        view.showPreview = pressed;
        view.refresh();
      }
    })
    // create the Grid
    var grid = new Ext.grid.GridPanel({
      id:'listingGrid',
      store: ds,
      tbar: tbar,
      loadMask:true,
      style: 'text-align:center;',
      layout:'fit',
      stripeRows:true,
      autoScroll:true,
      shim:true,
      forceFit:true,
      width:'100%',
      viewConfig : {
        layout : function() {
          if (!this.mainBody) {
            return; // not rendered
          }
          var g = this.grid;
          var c = g.getGridEl();
          var csize = c.getSize(true);
          var vw = csize.width;
          if (!g.hideHeaders && (vw < 20 || csize.height < 20)) { // display:
            // none?
            return;
          }
          if (g.autoHeight) {
            if (this.innerHd) {
              this.innerHd.style.width = (vw) + 'px';
            };
            var scroll_height = g.getStore().getCount() * 30;

            if(scroll_height < 40){
              this.scroller.setHeight(this.scroller.getHeight() + 8);
            };
            if(scroll_height > 40){
              this.scroller.setHeight(scroll_height);
            };
            //g.getTopToolbar().setWidth(csize.width)
            //g.getBottomToolbar().setWidth(csize.width)
          } else {
            this.el.setSize(csize.width, csize.height);
            var hdHeight = this.mainHd.getHeight();
            var vh = csize.height - (hdHeight);
            this.scroller.setSize(vw, vh);
            if (this.innerHd) {
              this.innerHd.style.width = (vw) + 'px';
            }
          }
          if (this.forceFit) {
            if (this.lastViewWidth != vw) {
              this.fitColumns(false, false);
              this.lastViewWidth = vw;
            }
          } else {
            this.autoExpand();
            this.syncHeaderScroll();
          }
          this.onLayout(vw, vh);
        }
      }

      ,
      columns: [
        {header: 'ID', width: 35, sortable: true, dataIndex: 'id',filterable: true},
        {header: 'Listing', width: 70, sortable: true, dataIndex: 'listing'},
        {header: 'Type', width: 70, sortable: true, dataIndex: 'property_type'},
        {header: 'Suburb', width: 70, sortable: true,dataIndex: 'suburb'},
        {header: 'Address', width: 135, sortable: true, dataIndex: 'address'},
        {header: 'Price', width: 70, sortable: true, renderer: moneyFormat, dataIndex: 'price'},
        {header: 'Suite', width: 50, sortable: true, dataIndex: 'suite'},
        {header: 'Level', width: 50, sortable: true, dataIndex: 'level'},
        {header: 'Sqm', width: 50, sortable: true, dataIndex: 'sqm'},
        {header: 'I/E', width: 80, sortable: true, dataIndex: 'I/E'},
        {header: 'Actions', width: 225,dataIndex: 'actions',renderer:renderAction},
        {header: 'Status', width: 70,dataIndex: 'status',renderer:renderStatus, sortable: true}
      ],
      autoHeight:true,
      title: 'Click on column headings to sort, drag column headings to reposition, adjust column width or remove columns from the view.',
      bbar:paging_toolbar
    });
    grid.on('resize',function(){
      grid.getView().refresh();
    })
    // render the grid to the specified div in the page
    grid.render('property-list');
    paging_toolbar.refresh.hideParent = true;
    paging_toolbar.refresh.hide();

    function renderEdit(id){
      return '<a href="/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/' + id + '" style="color:#0e7fc7;">Edit</a>';
    };
    function renderAction(actions){
      var act = "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/edit'><img src='/images/icons/editBlue.png'/></a>\n\
      <a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/media'><img src='"+actions[1]+"'/></a>\n\
      <a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/media'><img src='"+actions[2]+"'/></a>";
      if(actions[10] == "ResidentialSale" || actions[10] == "ResidentialLease" || actions[10] == "ResidentialBuilding" || actions[10] == "LandRelease" || actions[10] == "ProjectSale" || actions[10] == "HolidayLease"){
        act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/opentimes'><img src='"+actions[3]+"'/></a>";
      }else{
        if(actions[10] == "GeneralSale"){
          act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/edit'><img src='"+actions[11]+"'/></a>";
        }
      }
      act = act + "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/preview' onclick='callPreview(this.href);return false;'><img src='/images/icons/icon_preview.gif'/></a>";

      var payment_st = "<%= @office.property_payment_required%>";
      if(payment_st == "true"){
        var pay_link = "";
        if(actions[4] == "/images/icons/icon_dollar_grey.gif"){
          pay_link =   "<img src='"+actions[4]+"'/>";
        }else{
          pay_link =  "<a href='https://www.paypal.com/cgi-bin/webscr?' onclick='return payment(\"http://<%= request.host %>/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/property_ipn\",\"http://<%= request.host %>/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties\",\"http://<%= request.host %>/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + actions[0] + "/property_ipn\",\""+actions[0]+"\",\""+actions[4]+"\",\""+actions[5]+"\",\""+actions[6]+"\",\""+actions[7]+"\",\""+actions[8]+"\",\""+actions[9]+"\");return false;'><img src='"+actions[4]+"'/></a>";
        }
        return act +pay_link
      }else{
        return act;
      }
    };

    function renderStatus(status){

<% if current_user.allow_property_owner_access? %>
  <% if(@office.property_owner_access && @office.property_draft_for_new) %>
          if(status[1] == 'draft'){
            return "<img src='/images/icons/icon_"+status[1]+".gif'/>"
          }else{
    <%if @office.property_payment_required%>
              if(status[2] == "completed"){
                return "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + status[0] + "/status'><img src='/images/icons/icon_"+status[1]+".gif'/></a>"
              }else{
                return "<img src='/images/icons/icon_"+status[1]+".gif'/>"
              }
    <%else%>
              return "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + status[0] + "/status'><img src='/images/icons/icon_"+status[1]+".gif'/></a>"
    <%end%>
          };
  <%else%>
    <%if @office.property_payment_required%>
            if(status[2] == "completed"){
              return "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + status[0] + "/status'><img src='/images/icons/icon_"+status[1]+".gif'/></a>"
            }else{
              return "<img src='/images/icons/icon_"+status[1]+".gif'/>"
            }
    <%else%>
            return "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + status[0] + "/status'><img src='/images/icons/icon_"+status[1]+".gif'/></a>"
    <%end%>
  <% end %>
<% else %>
        return "<a href='/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/" + status[0] + "/status'><img src='/images/icons/icon_"+status[1]+".gif'/></a>"
<% end %>

    };
    function renderShare(fb){
      return "<a href='http://www.facebook.com/share.php' rel='nofollow' onclick='return fbs_click(\""+fb[1]+"\")' target='_blank' class='fb_share_button'><img src='/images/icons/Facebook.png'/></a><a href='#' onclick='OpenTwitter(\""+fb[2]+"\")'><img src='/images/icons/twitter.png'/></a>"
    };
    ds.load({params:{start:0,limit:pagesize}});
    grid.doLayout();
    // ds.on('load', function(store, records, index) {
    //grid.setHeight(ds.getCount() * 37);
    // });
    function setGridURL(){
      grid.getStore().proxy.setApi('read', '/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%= @property.id %>/general_sale_children_listings/view_listing?page_name='+page_name+'&suburb='+suburbCombo.getValue()+'&floor='+floorCombo.getValue()+'&type='+listingCombo.getValue()+'&status='+statusCombo.getValue()+'&property_type='+typeCombo.getValue()+'&primary_contact_fullname='+assigned_toCombo.getValue());
      paging_toolbar.changePage(1);
      grid.getStore().reload();
    }
  });

  function moneyFormat(v){
    v = (Math.round((v-0)*100))/100;
    v = (v == Math.floor(v)) ? v + ".00" : ((v*10 == Math.floor(v*10)) ? v + "0" : v);
    v = String(v);
    var ps = v.split('.'),
    whole = ps[0],
    // sub = ps[1] ? '.'+ ps[1] : '.00',
    r = /(\d+)(\d{3})/;
    while (r.test(whole)) {
      whole = whole.replace(r, '$1' + ',' + '$2');
    }
    v = whole; //+ sub;
    if(v.charAt(0) == '-'){
      return '-$' + v.substr(1);
    }
    if(v == "0"){
      return ""
    }else{
      return "$" +  v;
    }
  }

  function OpenTwitter(tw) {
    window.open("http://twitter.com/home?status="+tw,1,'toolbar=no,location=no,directories=no,status=no,scrollbars=yes,resizable=no,copyhistory=no,width=802,height=489')
  }
</script>
<style type="text/css">
  #property-list table{
    margin: 0px;
    border: medium none;
    width: 0%;
  }
  #property-list .x-toolbar {
    background-color:inherit;
    background-image:none;
    border-color:#A9BFD3;
  }
</style>
<div id="property-list"></div>
<!-- NOTE TO DEVELOPER: For home/dashboard page, please show 10 listings. -->
<!-- NOTE TO DEVELOPER: For Listings page, please show 50 listings. -->
