<div class="title_block block">
  <h2 class="page_title"><%= @property.address %></h2>
</div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div style="padding-bottom:10px">
<%= link_to 'Add children listing', general_sale_new_agent_office_property_path(@agent,@office), :title => 'Add children listing' %>
  </div>
<div class="clear"></div>
<%= render :partial => "filter" %>
