<div class="wrapper" id="brochure" style="height:<%=(@editor_limit.to_i+30)%>px;font-family:<%= @pdf_configuration.font_family %>">
   <div class="middle" style="background-color:<%= @pdf_configuration.heading_color %>;color:<%= @pdf_configuration.heading_font_color %>"  id="brochure_title">
    <div style="width:230px;float:left;cursor:pointer;">
      1 <img height="18" width="18" src="/images/beds_<%= @pdf_configuration.heading_font_color == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_beds"/>
      1 <img height="18" width="18" src="/images/baths_<%= @pdf_configuration.heading_font_color == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_baths"/>
      1 <img height="18" width="18" src="/images/cars_<%= @pdf_configuration.heading_font_color == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_cars"/>
    </div>
    <div style="height: 25px;float: right;padding:2px;" id="brochure_price">
      $ 1,000,000
    </div>
   </div>
   <div class="content over-hidden" style="height:<%=@editor_limit%>px;border:1px solid red;overflow:hidden;background-color: #fff">
     <table style="height:<%=@editor_limit.to_i %>px;">
       <tr>
         <td id="brochure_background" style="width:550px;<%= @style[:background_color] unless @style.blank? %>">
           <div style="padding:5px;cursor:pointer;" id="brochure_headline">
             <b>STUNNING TOP FLOOR OFFICE WITH MODERN FIT-OUT</b>
           </div>
           <div style="padding:5px;cursor:pointer;" id="brochure_description">
             <p>
              • 225 sqm executive office<br/>
              • Three (3) separate strata lots make up this generous suite<br/>
              • Modern and bright office space with high quality glass partitioning<br/>
              • DA approval already obtained for installation of two (2) large skylights<br/>
              • Modern glass partitioning to entry<br/>
              • Sale includes full fit-out and all fittings / furniture as seen (except plants)<br/>
              • Recently refurbished to high standard creating an inspirational and impressive workspace<br/>
              • Flexible layout with ability to split into multiple tenancies<br/>
              • Located in vibrant precinct of the CBD<br/>
              • PROPERTY WILL BE SOLD - REALISTIC VENDOR READY TO MEET THE MARKET<br/><br/>

              A stunning "Penthouse" office in a vibrant precinct of the CBD. This superb office has been fully refurbished and fitted-out to a high quality including workstations, boardroom, meeting rooms and furniture. This office is 'ready for business' and ready for a new owner!<br/>

              The office has a modern glass entry leading to reception area and large open plan workstations. This office is already partitioned and includes a boardroom and two (2) large executive offices.</p>
           </div>
         </td>
         <td id="brochure_sidebar" style="padding:5px;<%= @pdf_configuration.sidebar_color if @pdf_configuration %>">
           <div style="cursor:pointer;" id="brochure_title_text">
             <span style="font-size: small;">Contact</span>
           </div>
           <div style="margin-top:5px;">
             <% unless @primary_image.blank? %>
               <img class="left-side" src="<%= @primary_image.public_filename unless @primary_image.blank? %>" id="img_primary" style="<%= @option[:display_team_image] == '1' ? '' : 'display:none;' %>"/>
             <% end %>
             <div id="brochure_contact1" style="cursor:pointer;">Ryan O'Grady</div>
            <div class="clear"></div>
           </div>
         </td>
       </tr>
     </table>
    </div>
</div>