<div class="wrapper" id="brochure" style="height:<%=(@editor_limit.to_i+30)%>px;font-family:<%= @pdf_configuration.font_family %>">
  <div class="middle" style="background-color:<%= @pdf_configuration.heading_color %>;color:<%= @pdf_configuration.heading_font_color %>"  id="brochure_title">
    <div style="width:630px;float:left;cursor:pointer;" id="brochure_title_text">
      1025, 124 - 128 George Street, Sydney, NSW, Australia
    </div>
    <div style="height: 25px;float: right;font-size:11pt;padding:2px;">
        1 <img height="18" width="18" src="/images/beds_<%= @pdf_configuration.heading_font_color == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_beds"/>
        1 <img height="18" width="18" src="/images/baths_<%= @pdf_configuration.heading_font_color == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_baths"/>
        1 <img height="18" width="18" src="/images/cars_<%= @pdf_configuration.heading_font_color == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_cars"/>
    </div>
  </div>
  <div class="content over-hidden" style="height:<%=@editor_limit%>px;border:1px solid red;background-color: #fff">
    <div class="full-big space_margin" id="brochure_headline" style="cursor:pointer;">
      <b>STUNNING TOP FLOOR OFFICE WITH MODERN FIT-OUT</b>
    </div>
    <div class="full-big" id="brochure_description" style="cursor:pointer;">
      <p>
        • 225 sqm executive office<br/>
        • Three (3) separate strata lots make up this generous suite<br/>
        • Modern and bright office space with high quality glass partitioning<br/>
        • DA approval already obtained for installation of two (2) large skylights<br/>
        • Modern glass partitioning to entry<br/>
        • Sale includes full fit-out and all fittings / furniture as seen (except plants)<br/>
        • Recently refurbished to high standard creating an inspirational and impressive workspace<br/>
        • Flexible layout with ability to split into multiple tenancies<br/>
        • Located in vibrant precinct of the CBD<br/>
        • PROPERTY WILL BE SOLD - REALISTIC VENDOR READY TO MEET THE MARKET<br/><br/>

        A stunning "Penthouse" office in a vibrant precinct of the CBD. This superb office has been fully refurbished and fitted-out to a high quality including workstations, boardroom, meeting rooms and furniture. This office is 'ready for business' and ready for a new owner!<br/>

        The office has a modern glass entry leading to reception area and large open plan workstations. This office is already partitioned and includes a boardroom and two (2) large executive offices.</p>
    </div>
    <div class="full-small">
      <div class="small-desc left-side" id="brochure_price" style="cursor:pointer;">
        $ 1,000,000
      </div>
      <div class="small-desc left-side">
        <% unless @primary_image.blank? %>
          <img class="left-side" src="<%= @primary_image.public_filename unless @primary_image.blank? %>" id="img_primary" style="<%= @option[:display_team_image] == '1' ? '' : 'display:none;' %>"/>
        <% end %>
        <div id="brochure_contact1" style="cursor:pointer;">Ryan O'Grady</div>
        <div class="clear"></div>
      </div>
      <div class="small-desc left-side">
        <%  unless @secondary_image.blank? %>
          <img class="left-side" src="<%= @secondary_image.public_filename unless @secondary_image.blank? %>" id="img_secondary" style="<%= @option[:display_team_image] == '1' ? '' : 'display:none;' %>"/>
        <% end %>
        <div id="brochure_contact2" style="cursor:pointer;">John Smith</div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>