<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Agents <%= @title %></title>
  </head>
  <%= javascript_include_tag "application", "jquery-1.4.2.min" %>
  <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
  <body>
    <div id="clientdiv" class="block accounts full"><br/>
      <div class="block form follower" style="padding-right:5px;">
        <div id="propertydatadiv" class="group" style="min-height:100px;height:150px;">
          <div class="set">
            <h6 class="full">Add New Extra Option</h6>
            <fieldset class="pf_fs5">
              <ul class="pf-ul">
                <li class="li--23"><label><span>Option Title:</span></label>
                  <%= text_field_tag 'extra_option_option_title', nil, :class => "single" %>
                </li>
                <li class="li--23"><label><span>Order Number:</span></label>
                  <%= text_field_tag 'extra_option_option_order', nil, :class => "single" %>
                </li>
                <li class="li--23"><label><span>&nbsp;</span></label>
                  <a href="#" id="submit_btn" onclick="add_hidden_value()">Submit</a>
                </li>
              </ul>
            </fieldset>
          </div>
        </div>
        <div id="propertydatadiv" class="group">
          <div class="set">
            <h6 class="full">List Extra Options </h6>
            <table cellpadding="0" cellspacing="0" class="update_table full">
              <tr>
                <th class="first_cell" style="background-color:#C8D2DC;">Date</th>
                <th style="background-color:#C8D2DC;">Option Title</th>
                <th style="background-color:#C8D2DC;">Order Number</th>
                <th style="background-color:#C8D2DC;">Action</th>
              </tr>
            </table>
            <div class="action_button" style="border:none;">
              <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.update_options(); return false", :style =>"float:right;"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        if(parent.$("#hidden_val_<%=@value_hidden%>").size() > 0){
          var hidden_input = parent.$("#hidden_val_<%=@value_hidden%>").find("input");

          hidden_input.each(function(){
            var split = $(this).val().split('|');
            var title = split[0];
            var order = split[1];
            var titleize = split[0].toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-');
            $("table.update_table").append('<tr id="option_'+titleize+'"><td class="first_cell"></td><td class="value" id="title-list-<%=@value_hidden%>-'+titleize+'">'+title+'</td><td class="value" id="order-list-<%=@value_hidden%>-'+titleize+'">'+order+'</td><td class="value"><a href="#" onclick="edit_option(this)" id="'+title+';'+order+'">Edit</a> |<a href="#" onclick="delete_option(this)" id="'+titleize+'">Delete</a></td></tr>');
          })
        }
      });

      function add_hidden_value(title,order){
        title = $("#extra_option_option_title").val();
        order = $("#extra_option_option_order").val();
        var titleize = title.toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-');

        if(title == ""){
          alert("Title can't be blank");
          return false;
        }else{
          parent.$("#hidden_val_<%=@value_hidden%>").append('<input type="hidden" value="'+title+'|'+order+'" id="option_value_<%=@value_hidden%>_'+titleize+'" name="additional_field[field_<%=@value_hidden%>][option_value][]" class="opt_val_<%=@value_hidden%>">');
          parent.$("#extra_option_<%=@value_hidden%>").append('<option value="'+title+'" id="option_'+titleize+'" >'+title+'</option>');
          $("table.update_table").append('<tr id="option_'+titleize+'"><td class="first_cell"></td><td class="value" id="title-list-<%=@value_hidden%>-'+titleize+'">'+title+'</td><td class="value" id="order-list-<%=@value_hidden%>-'+titleize+'">'+order+'</td><td class="value"><a href="#" onclick="edit_option(this)" id="'+title+';'+order+'">Edit</a> |<a href="#" onclick="delete_option(this)" id="'+titleize+'">Delete</a></td></tr>');
          $("#extra_option_option_title").val("");
          $("#extra_option_option_order").val("");
        }
      }

      function edit_option(elm){
        var id = $(elm).attr("id");
        var split = id.split(";");

        var title = split[0];
        var order = split[1];
        var titleize = title.toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-');

        $("#extra_option_option_title").val(title);
        $("#extra_option_option_order").val(order);

        $("#submit_btn").text("Update");
        $("#submit_btn").attr("onClick", "update_option(this)");
        $("#submit_btn").attr("class", titleize);
      }

      function delete_option(elm){
        var id = $(elm).attr("id");
        $("table.update_table").find("#option_"+id).remove();
        parent.$("#hidden_val_<%=@value_hidden%>").find("#option_value_<%=@value_hidden%>_"+id).remove();
        parent.$("#extra_option_<%=@value_hidden%>").find("#option_"+id).remove();
      }

      function update_option(elm){
        var id = $(elm).attr("class");
        var title = $("#extra_option_option_title").val();
        var order = $("#extra_option_option_order").val();
        var titleize = title.toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-');

        $("table.update_table").find('#option_'+id).remove();
        $("table.update_table").append('<tr id="option_'+titleize+'"><td class="first_cell"></td><td class="value" id="title-list-<%=@value_hidden%>-'+titleize+'">'+title+'</td><td class="value" id="order-list-<%=@value_hidden%>-'+titleize+'">'+order+'</td><td class="value"><a href="#" onclick="edit_option(this)" id="'+title+';'+order+'">Edit</a> |<a href="#" onclick="delete_option(this)" id="'+titleize+'">Delete</a></td></tr>');

        parent.$("#hidden_val_<%=@value_hidden%>").find("#option_value_<%=@value_hidden%>_"+id).remove();
        parent.$("#hidden_val_<%=@value_hidden%>").append('<input type="hidden" value="'+title+'|'+order+'" id="option_value_<%=@value_hidden%>_'+titleize+'" name="additional_field[field_<%=@value_hidden%>][option_value][]" class="opt_val_<%=@value_hidden%>">');
        parent.$("#extra_option_<%=@value_hidden%>").find("#option_"+id).remove();
        parent.$("#extra_option_<%=@value_hidden%>").append('<option value="'+title+'" id="option_'+titleize+'">'+title+'</option>');
        $("#extra_option_option_title").val("");
        $("#extra_option_option_order").val("");

        $("#submit_btn").text("Submit");
        $("#submit_btn").attr("onClick", "add_hidden_value()");
        $("#submit_btn").removeAttr("class");

      }


    </script>
  </body>
</html>
