
<%= render :partial => 'messages/back_to_messages' %>

<h2>System Message Categories</h2>

<p><%= link_to 'Add a New Category', :action => 'new' %></p>

<p class="required">* Categories that have messages could not be deleted</p>

<ul class="edit_message_categories">
  <% unless @categories.blank? %>
	<% @categories.each do |category| %>
		<li id="category_<%= category.id %>">
			<%= h category.name %>
			<span class='actions'>
				<%= link_to 'Edit', edit_message_category_path(category) %>
				|
				<%= link_to 'Topics', message_category_topics_path(category) %>
				|
				<% if category.can_delete? %>
					<%= link_to_remote 'Delete', :url => message_category_path(category), :method => 'delete', :confirm => 'Are you sure to delete this category?' %>
				<% else %>
					Delete
				<% end %>
			</span>
		</li>
	<% end %>
  <% end %>
</ul>

<%= will_paginate @categories %>