<div class="step_button">
	<a href="<%= agent_office_pdf_configurations_path(@agent, @office) %>" class="<%= 'active_tab' if %w(index).include?(params[:action]) %>">1. Choose PDF Layout</a>
	<% if @pdf_configuration%>
      <a href="#">2. Choose PDF Styling</a>
    <% else %>
      <a href="<%= template_view_agent_office_pdf_configurations_path(@agent, @office) %>" class="<%= 'active_tab' if %w(template_view).include?(params[:action]) %>">2. Choose PDF Styling</a>
    <% end %>
</div>