<div class="title_block block">
  <h2 class="page_title">Choose PDF Layout</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<% form_for :office, @office, :url => agent_office_pdf_configurations_path(@agent, @office), :html => {:name => 'create_form', :class => "business_details_form", :style => "padding-top:50px", :method => :post, :multipart => true} do |form| %>
	<div class="contactdiv" style="background-color:#E1EBF5;padding:20px;border-radius:15px">
	<h4>Choose Template</h4>
	<div class="set">
		<div id="clientdiv" class="block accounts full">
			<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
				  <div style="width:80%">
				    <% for i in 1..8 do -%>
				      <div class="brochure_layout_wraper h230">
				        <input type="radio" id="pdf_configuration_theme<%= i %>" name="pdf_configuration[theme]" class="pdf_template" value="theme<%= i %>" style="vertical-align:top;"  <%= ('theme'+i.to_s == session[:layout]) ? 'checked' : '' %> />
				        <a class="thumbnail" href="/images/theme/brochure_preview<%= i %>.png" >
				          <img src='/images/theme/brochure<%= i %>.png' />
				          <div class="magnifier pos4">&nbsp;</div>
				        </a>
				      </div>
				    <% end -%>
				  </div>
				  <div id="contactsdiv">
				    <table class="pf-table" style="border:none;">
				       <tr class="li--8"><td class="value" colspan="5">
				          <button name="choose_layout" type="submit" value="Update" style="float:right;" class="submit_btn">Next >></button>
				       </td></tr>
				    </table>
				</div>
			</div>
		</div>
	</div>
</div>
<%end%>
<script>
$(document).ready(function(){
	<% if @office.pdf_configuration %>
		<%unless @office.pdf_configuration.theme.blank?%>
			$("#pdf_configuration_<%= @office.pdf_configuration.theme %>").attr('checked', true);
		<%end%>
	<%else%>
		$("#pdf_configuration_theme1").attr('checked', true);
	<%end%>
});

  $(function() {
	$('.brochure_layout_wraper a').lightBox({fixedNavigation:true});
        $('.thumbnail').mouseover(function(){
          $(this).children('.magnifier').css('display','block')
        })
        $('.thumbnail').mouseout(function(){
          $(this).children('.magnifier').css('display','none')
        })
  });
</script>
