<div class="wrapper" style="<%= @style[:font] unless @style.blank? %>">
   <div class="header">
    <% if @option[:leave_blank_header] == '1' %>
       <div class="bg-top" style="<%= @style[:heading_color]+@style[:title_color] unless @style.blank? %>">&nbsp;</div>
    <% else %>
      <% unless @header_image.blank? %>
        <div class="bg-top"><img src="<%= @header_image.public_filename %>" width="780" height="80"/></div>
      <% else %>
         <div class="bg-top" style="<%= @style[:heading_color]+@style[:title_color] unless @style.blank? %>"><div style="padding-top:25px;"><%= @office.name  %></div></div>
      <% end %>
    <% end %>
  </div>
  <div class="middle" style="text-align:center;<%= @style[:heading_color]+@style[:title_color] unless @style.blank? %>">
    <%= @property.address %>
  </div>
  <div class="content" style="margin-bottom:3px;">
    <% unless @brochure_image.blank? %>
      <div style="margin-top:3px;"><img src="<%= @brochure_image.public_filename %>" width="780" height="454"/></div>
    <% end %>
    <% unless @brochure_map.blank? %>
      <div style="margin-top:3px;"><img src="<%= @brochure_map.public_filename %>" width="780" height="454"/></div>
    <% end %>
    <div class="clear"></div>
  </div>
  <% if @option[:leave_blank_header] == '1' %>
     <div class="footer" style="<%= @style[:heading_color]+@style[:title_color] unless @style.blank? %>">&nbsp;</div>
  <% else %>
    <% unless @footer_image.blank? %>
      <div class="footer"> <img src="<%= @footer_image.public_filename %>" width="780" height="75"/> </div>
    <% else %>
       <div class="footer" style="<%= @style[:heading_color]+@style[:title_color] unless @style.blank? %>"> <div style="padding-top:25px;"><%= @office.name  %></div></div>
    <% end %>
  <% end %>
</div>