<div class="wrapper" style="<%= @style[:font] unless @style.blank? %>">
  <div class="header">
    <% if @option[:leave_blank_header] == '1' %>
      <div class="bg-top" style="<%= @style[:heading_color]+@style[:title_color] unless @style.blank? %>">&nbsp;</div>
    <% else %>
      <% unless @header_image.blank? %>
        <div class="bg-top"><img src="<%= @header_image.public_filename %>" width="780" height="<%= @header_image.height %>"/></div>
      <% else %>
        <div class="bg-top" style="<%= @style[:heading_color]+@style[:title_color] unless @style.blank? %>"><div style="padding-top:25px;"><%= @office.name  %></div></div>
      <% end %>
    <% end %>
    <div class="big-image-3"><img src="<%= @main_image.public_filename unless @main_image.blank? %>" width="780" height="<%= @main_height %>" /></div>
    <div class="three-column2">
      <% unless @thumb_images.blank? %>
        <% @thumb_images.each_with_index do |image, index| %>
          <div class="cols" style="<%= 'margin:0 3px' if index == 1 %>"><img src="<%= image.public_filename unless image.blank? %>" width="<%= @thumb_width %>" height="<%= @thumb_height %>"/></div>
        <%  end %>
      <%  end %>
      <div class="clear"></div>
    </div>
  </div>
  <div class="middle" style="<%= @style[:heading_color]+@style[:title_color] unless @style.blank? %>">
    <div style="width:635px;float:left;">
      <% if @beds != 0 %>
        <%= @beds  %> <img height="18" width="18" src="/images/b_beds_<%= @option[:title_color] == '#FFFFFF' ? 'white.png' : 'black.png' %>"/>
      <% end %>
      <% if @baths != 0 %>
        <%= @baths  %> <img height="18" width="18" src="/images/b_baths_<%= @option[:title_color] == '#FFFFFF' ? 'white.png' : 'black.png' %>"/>
      <% end %>
      <% if @garages != 0 %>
        <%= @garages  %> <img height="18" width="18" src="/images/b_cars_<%= @option[:title_color] == '#FFFFFF' ? 'white.png' : 'black.png' %>"/>
      <% end %>
    </div>
    <div style="height: 25px;float: right;font-size:11pt;padding:2px;">
      <%= @data[:price] unless @data.blank? %>
    </div>
  </div>
  <div class="content" style="height:<%=@editor_limit.to_i %>px;overflow:hidden;">
    <table style="height:<%=@editor_limit.to_i %>px;">
      <tr>
        <td id="brochure_background" style="width:550px;<%= @style[:background_color] unless @style.blank? %>">
          <div style="padding:5px;"><%= @data[:headline] unless @data.blank? %></div>
          <div style="padding:5px;"><%= @data[:description].gsub("\n","<br/>") if @data.present? && @data[:description].present? %></div>
        </td>
        <td id="brochure_sidebar" style="padding:5px;<%= @style[:sidebar_color] unless @style.blank? %>">
          <div><span style="font-size: small;"><%= @data[:title] unless @data.blank? %></span></div>
          <div style="margin-top:5px;">
            <% if @option[:display_team_image] == '1' %>
              <% unless @primary_image.blank? %>
                <img class="left-side" src="<%= @primary_image.public_filename unless @primary_image.blank? %>" />
              <% end %>
            <% end %>
            <%= @data[:contact1] unless @data.blank?  %>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <% if @option[:leave_blank_header] == '1' %>
    <div class="footer" style="<%= @style[:heading_color]+@style[:title_color] unless @style.blank? %>">&nbsp;</div>
  <% else %>
    <% unless @footer_image.blank? %>
      <div class="footer"> <img src="<%= @footer_image.public_filename %>" width="780" height="75"/> </div>
    <% else %>
      <div class="footer" style="<%= @style[:heading_color]+@style[:title_color] unless @style.blank? %>"> <div style="padding-top:25px;"><%= @office.name  %></div></div>
    <% end %>
  <% end %>
</div>