<style type="text/css">
   tr:hover{background-color:transparent !important;}
   tr{background-color:transparent;}
   td{border:none}
   pre p{font-size:9pt;font-weight:normal;}
   table{border: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -khtml-border-radius: 0;
          border-radius: 0;}
</style>

<div class="wrapper" style="height: 832px;width: 600px;<%= @style[:font] unless @style.blank? %>">
  <table cellpadding="0" cellspacing="0" border="0" width="600" align="center" style="font-family: arial, helvetica, tahoma, sans-serif; font-size: 14px; line-height: normal; color: #fff;width: 600px; margin:0 auto; background-image: url(/images/background.jpg); background-color: #494949; background-repeat: no-repeat; background-position: left bottom">
    <tbody>
      <tr>
        <td style="white-space:normal;padding: 15px;">
          <table cellpadding="0" cellspacing="0" border="0" style="font-family: arial, helvetica, tahoma, sans-serif; font-size: 12px; line-height: normal; color: #fff;">
            <tbody>
              <tr>
                <td colspan="3" style="padding: 0 0 10px; vertical-align: top;">
                  <h1 style="color:white; margin: 0; padding: 0; font-size: 36px; font-weight: normal;"><%= top_headline(@property) %></h1>
                </td>
              </tr>
              <tr>
                <td colspan="3" style="padding: 0 0 10px; vertical-align: top;">
                  <p style="margin: 0; padding: 0;"><img src="<%= @main_image.public_filename unless @main_image.blank? %>" alt="property image" width="570" height="410" style="display: block; border: 0;" /><p style="margin: 0; padding: 0;">
                </td>
              </tr>
              <tr>
                <td colspan="2" style="padding: 0 0 10px; vertical-align: top;">
                  <h2 style="color:white;margin: 0; padding: 0; font-size: 18px; font-weight: normal;">
                    <%= @property.unit_number.blank? ? @property.street_number : "#{@property.unit_number}/#{@property.street_number}" %>&nbsp;<%= @property.street %><%= @property.suburb.present? ? "," : ""%>&nbsp;
                    <%= @property.suburb.upcase if @property.suburb.present? %>
                  </h2>
                </td> 
                <td style="padding: 0 0 10px; vertical-align: top; width: 180px; text-align:right;">
                  <p style="margin: 0; padding: 0; font-size: 9pt; float:right;">
                    <% if ['ResidentialSale', 'ResidentialLease', 'ProjectSale', 'HolidayLease'].include?(@property.type.to_s) %>
                      <% if @beds != 0 && @beds.present? %>
                        <span style='padding:0; margin: 0; float: left;'><%= @beds %></span> <img src='/images/bed.png' alt='bed' width='20' height='16' style='border: 0; margin: 0 10px 0 5px; float: left;' />
                      <% end %>
                      <% if @baths != 0 && @baths.present? %>
                        <span style='padding:0; margin: 0; float: left;'><%= @baths %></span> <img src='/images/bath.png' alt='bath' width='20' height='16' style='border: 0; margin: 0 10px 0 5px; float: left;' />
                      <% end %>
                      <% if @garages != 0 && @garages.present? %>
                        <span style='padding:0; margin: 0; float: left;'><%= @garages %></span> <img src='/images/car.png' alt='car' width='20' height='16' style='border: 0; margin: 0 10px 0 5px; float: left;' />
                      <% end %>
                    <% end %>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="3" style="padding: 0 0 10px; vertical-align: top;">
                  <h3 style="color:white; margin: 0; padding: 0; font-size: 14px; font-weight: normal;"><%= @property.headline %></h3>
                </td>
              </tr>
              <tr>
                <td colspan="3" style="padding: 0 0 10px; vertical-align: top;">
                  <pre style="margin: 0; padding: 0; font-size: 9pt; white-space: pre-wrap; width: 567px; height: 202px; font-family:arial; overflow: hidden;"><%= @data[:description].gsub("\r\n","<br/>") if @data.present? && @data[:description].present? %></pre>
                </td>
              </tr>
              <tr>
                <td colspan="3" style="padding: 0 0 10px; vertical-align: top;">
                </td>
              </tr>
              <tr>
                <td style="padding: 0; vertical-align: middle;">
                  <p style="margin: 0; padding: 0; font-size: 9pt">25 Queensbridge Street, Southbank VIC 3006</p>
                  <p style="margin: 0; padding: 0; font-size: 9pt"><a href="http://www.evolverealestate.com.au" style="color: #fff; text-decoration:none; font-weight:normal;">www.evolverealestate.com.au</a></p>
                </td>
                <td style="padding: 0; vertical-align: middle; width: 200px; text-align:center;">
                  <p style="margin: 0; padding: 0; font-size:26px;">9690 8800</p>
                </td>
                <td style="padding: 0; vertical-align: middle; width: 150px; text-align:right;">
                  <p style="margin: 0; padding: 0;padding-left: 20px;"><img src="/images/evolve-logo-big-white.png" alt="logo" width="130" height="50" style="border: 0; margin: 0; display: block;" /></p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>