<script type="text/javascript">
  $(document).ready(function(){
    var query = '<%= @contact_name %>';
    var ff = jQuery("#purchaser_name").flexbox('<%= auto_complete_residential_projects_path %>',{
      customParameters: {q: query},
      method: 'post',
      watermark: query,
      showArrow: false,
      inputClass: 'single',
      minChars: 2,
      width:250,
      queryDelay: 300,
      paging:false,
      highlightMatches:false,
      containerClass:'autopopup',
      onSelect: function(){
        $('#agent_name').attr('value', this.getAttribute('val'));
        $('#purchaser_agent_contact_id').attr('value', this.getAttribute('hiddenValue'));
      }
    });
    jQuery("#indicator1").ajaxStart(function(){
      jQuery(this).show();
    });
    jQuery("#indicator1").ajaxStop(function(){
      $("#purchaser_name_ctr").width(250).css({"top":"20px"});
      jQuery(this).hide();
    });
  })

</script>
<script type="text/javascript">
  $(document).ready(function(){
<% if @add_new_contact == "true" %>
      add_contact()
<% else %>
      remove_contact()
<% end %>

    $(".datepicker").datepicker({
      dateFormat: 'mm/dd/yy'
    });
<% if @property.status == 2 or @property.status == 3 %>
      $("#purchaserdiv").show();
<% end %>
<% if @property.status == 7 %>
      $("#purchaserdiv").show();
      $('h6.full').text('Hold Details');
      $('td.non-on-hold').css('display', 'none');
<%end%>
    $('hr.separator').css("display", "none");
  });
</script>
<div id="clientdiv" class="block accounts full">
  <% form_for :purchaser, @purchaser, :url => update_status_residential_project_path(@property, :come_from => params[:come_from] ), :html => {:method => 'put',:class =>"status_form"}  do |f| %>
    <% fields_for @purchaser_contact do |contact_fields| %>
      <%= contact_fields.error_messages :class => 'errortext' %>
      <%= f.error_messages :class => 'errortext' %>

      <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
        <div class="set">
          <h6>Property Status </h6>
          <fieldset class="pf_fs2">
            <table class="pf-table" style="width:500px;border:none;margin:0;">
              <tr class="li--8">
                <td><%= radio_button "property", "status", Property::STATUS[:available], {:disabled => is_property_draft_for(@office, @property, @agent_contact.assigned), :onclick => "hidepurchaser();" } %> <label for="property_status_1">Available</label></td>
                <% if @property.type == "ResidentialSale" %>
                  <td><%= radio_button "property", "status", Property::STATUS[:on_hold], {:disabled => is_property_draft_for(@office, @property, @agent_contact.assigned), :onclick => "showpurchaser();" } %> <label for="property_status_7">On Hold</label></td>
                <%end%>
              </tr>
            </table>
            <div id="purchaserdiv" style="display:none;">
              <br/>
              <% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
                <h6 class="full">Rental Details </h6>
              <% else %>
                <h6 class="full">Purchaser Details </h6>
              <% end %>
              <table  class="pf-table" style="border:none;width:900px;">
                <tr class="li--8">
                  <td>
                    <table class="pf-table" style="border:none;width:500px;">
                      <tr class="li--8">
                        <td>Contact Name:</td>
                        <td>
                          <%= f.hidden_field :agent_contact_id, :class => "single" %>
                          <%= hidden_field_tag "agent_name", @contact_name %>
                          <%= hidden_field_tag "add_new_contact" %>
                          <table>
                            <tr><td style="width:260px;"><div id="purchaser_name"></div></td>
                              <td>
                                <img src="/images/search-loader.gif" id="indicator1" style="display:none;"/>
                                <a href="javascript:add_contact()" id="add_contact" style="color:blue;font-weight:none;"><%= !@purchaser.blank? ? (@purchaser.agent_contact_id.blank? ? "Add" : "Edit") : "Add"  %></a>
                                <a href="javascript:remove_contact()" id="remove_contact" style="display:none;color:blue;font-weight:none;">Remove</a>
                              </td>
                            </tr>
                          </table>
                        </td></tr>
                      <tr class="li--8 contact"><td><b>First Name:</b></td><td><%= contact_fields.text_field :first_name, :class => "single" %></td></tr>
                      <tr class="li--8 contact"><td><b>Last Name:</b></td><td><%= contact_fields.text_field :last_name, :class => "single" %></td></tr>
                      <tr class="li--8 contact"><td>Email:</td><td><%= contact_fields.text_field :email, :class => "single" %></td></tr>
                      <tr class="li--8 contact"><td>Home Number:</td><td><%= contact_fields.text_field :home_number, :class => "single" %></td></tr>
                      <tr class="li--8 contact"><td>Work Number:</td><td><%= contact_fields.text_field :work_number, :class => "single" %></td></tr>
                      <tr class="li--8 contact"><td>Mobile Number:</td><td><%= contact_fields.text_field :mobile_number, :class => "single" %></td></tr>
                      <tr class="li--8 contact"><td>Contact Number:</td><td><%= contact_fields.text_field :contact_number, :class => "single" %></td></tr>
                    </table>
                  </td>
                  <td class="non-on-hold" >
                    <table class="pf-table" style="border:none;">
                      <% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
                        <tr class="li--8"><td><b class="status_date">Lease Date:</b></td><td>
                            <%= text_field_tag 'property[date]', @property.leased_on, :class => 'single datepicker', :value => ( @property.leased_on.blank? ? "" : @property.leased_on.strftime("%m/%d/%Y")) %>
                          </td></tr>
                      <% else %>
                        <tr class="li--8"><td><b class="status_date">Sold Date:</b></td><td>
                            <%= text_field_tag 'property[date]', @property.sold_on, :class => 'single datepicker', :value => ( @property.sold_on.blank? ? "" : @property.sold_on.strftime("%m/%d/%Y")) %>
                          </td></tr>
                      <% end %>

                      <% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
                        <tr class="li--8"><td><b class="status_amount">Lease Amount:</b></td><td>
                            <%= text_field_tag 'property[amount]', @property.leased_price, :class => 'single' %>
                          </td></tr>
                      <% else %>
                        <tr class="li--8"><td><b class="status_amount">Sold Amount:</b></td><td>
                            <%= text_field_tag 'property[amount]', @property.sold_price, :class => 'single' %>
                          </td></tr>
                      <% end %>

                      <tr class="li--8"><td>
                          <% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
                            <p class="display_price">Display Lease Price:</p>
                          <% else %>
                            <p class="display_price">Display Sold Price:</p>
                          <% end %>
                        </td><td><%= check_box_tag 'property[display_price]', 1, @property.show_price %></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
            <% unless is_property_draft_for(@office, @property, @agent_contact.assigned) == "disabled"  %>
              <table class="pf-table" style="border:none;">
                <tr class="li--8">
                  <td class="value" colspan="5">
                    <button name="update" type="submit" value="Update" style="float:right;">
                      Submit
                    </button>
                  </td>
                </tr>
              </table>
            <% end %>
          </fieldset>
        </div>
        <div class="clearer"></div>
      </div>
    <% end %>
  <% end %>
</div>
<script type="text/javascript">
  function add_contact(){
    $(".contact").show();
    $("#remove_contact").show();
    $("#add_contact").hide();
    $("#purchaser_name_input").attr('disabled', 'disabled');
    $("#add_new_contact").attr('value', true);
  }

  function remove_contact(){
    $(".contact").hide();
    $("#add_contact").show();
    $("#remove_contact").hide();
    $("#purchaser_name_input").removeAttr('disabled');
    $("#add_new_contact").attr('value', false);
  }
  function showpurchaser(){
    $("#purchaserdiv").slideDown("slow");
    if($('#property_status_7').is(':checked')){
      $('h6.full').text('Hold Details');
      $('td.non-on-hold').css('display', 'none');
    }else{
      $('h6.full').text('Purchaser Details');
      $('td.non-on-hold').css('display','block');
<% unless (!@property.lease? || (@property.is_a?(Commercial) && ["Sale","Both"].include?(@property.deal_type)))  %>
        $('b.status_date').text('Lease Date');
        $('b.status_amount').text('Lease Amount');
        $('p.display_price').text('Display Lease Price:');
<%else%>
        $('b.status_date').text('Sold Date');
        $('b.status_amount').text('Sold Amount');
        $('p.display_price').text('Display Sold Price:');
<%end%>
    }
  }
  function hidepurchaser(){
<% if @property.status != 2 or @property.status != 3  %>
      $("#purchaserdiv").slideUp("slow");
<% end %>
  }
</script>