<div class="title_block block"><h2 class="page_title"><%= @property.address %></h2></div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div id="tabulardiv" class="block files" style="width:100%">
  <div class="title_block block">
    <h4><span class="lite">
        Property History
      </span></h4>
  </div>
  <% if @property.present? %>
    <div id="file_listing" class="group">
      <table id="vault_table">
        <tbody>
          <tr>
            <th style="background-color:#C8D2DC;font-size:13px">User</th>
            <th style="background-color:#C8D2DC;font-size:13px">User ID</th>
            <th style="background-color:#C8D2DC;font-size:13px">Date / Time</th>
            <th style="background-color:#C8D2DC;font-size:13px">Old value</th>
            <th style="background-color:#C8D2DC;font-size:13px">New value</th>
          </tr>
          <%= old_new_value(@property_logs,@property.deleted_at) %>
        </tbody>
      </table>
      <div class="clearer"></div>
    </div><!-- end first date .group -->
  <% else %>
    <div class="title_block">
      <h2>Changes logs not found</h2>
    </div>
  <% end %>
</div><!-- end #tabulardiv -->
