<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">List Categories </h6>
    <%= link_to 'Add New', new_agent_office_property_new_development_category_path(@agent,@office,@property), :style => "font-size:9pt;" %>
    <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th class="first_cell" style="background-color:#C8D2DC;">Date</th>
          <th style="background-color:#C8D2DC;">Name</th>
          <th style="background-color:#C8D2DC;">Action</th>
        </tr>
        <% unless @new_development_categories.blank? %>
        <% @new_development_categories.each do |extra_option| -%>
        <tr>
          <td class="first_cell"><%= (extra_option.created_at ? extra_option.created_at.strftime("%d-%m-%Y") : "-") %></td>
          <td class="value"><%= (extra_option.name ? extra_option.name : "-") %></td>
          <td class="value">
            <%= link_to "Edit", edit_agent_office_property_new_development_category_path(@agent,@office,@property, extra_option), :method => :get %> |
            <%= link_to "Delete", agent_office_property_new_development_category_path(@agent,@office, @property, extra_option), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>  </td>
        </tr>
        <% end -%>
        <% end %>
   </table>
    <%= will_paginate @new_development_categories unless @new_development_categories.blank? %>
    <div class="action_button" style="border:none;">
      <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.refresh_categories(); return false", :style =>"float:right;"%>
     </div>
  </div>
</div>