<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Agents <%= @title %></title>
  </head>
  <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
  <body>
  <div id="helpdiv" class="block help full">
      <% if flash.now[:notice] %>
        <div class='group'>
          <p class="help_message"><%= h flash.now[:notice] %></p>
        </div>
      <% end %>
  </div>
  <div id="clientdiv" class="block accounts full">
  <% form_for :project_style, @project_style, :url => agent_office_project_styles_path(@agent,@office), :html => {:class => 'propertyform full'} do |f| %>
     <%= f.error_messages :class => 'errortext' %>
     <div class="block form follower" style="padding-right:5px;">
       <div id="propertydatadiv" class="group" style="min-height:100px;height:100px;">
        <div class="set">
          <h6 class="full">Add New Project Style </h6>
          <%= render :partial => 'project_form', :locals => {:form => f} %>
        </div>
        <div class="action_button" style="border:none;">
          <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.refresh_style();return false", :style =>"float:right;"%>
        </div>
      </div>
     </div>
    <% end %>
   </div>
</body>
</html>
