
    <%= f.hidden_field :agent_user_id %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => 'single' %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 6, :cols => 20, :class => 'area' %>
  </p>
  <label>Upload Image</label>
  <div id="testi-img">
    <%= file_field_tag 'testi_img[uploaded_data]' %>
    <p>Image: <br/> 
    <% if @testi_img.present? %>
      <img src="<%= @testi_img.public_filename %>" width="200"/></p>
    <%else%>
      No image.
    <%end%>
  </div>
