<h1>Listing testimonials</h1>

<table>
  <tr>
    <th>Integer</th>
    <th>String</th>
    <th>Text</th>
  </tr>
<%unless @testimonials.blank? %>
<% @testimonials.each do |testimonial| %>
  <tr>
    <td><%=h testimonial.integer %></td>
    <td><%=h testimonial.string %></td>
    <td><%=h testimonial.text %></td>
    <td><%= link_to 'Show', testimonial %></td>
    <td><%= link_to 'Edit', edit_testimonial_path(testimonial) %></td>
    <td><%= link_to 'Destroy', testimonial, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New testimonial', new_testimonial_path %>