<h1>Editing testimonial</h1>

<% form_for :testimonial, @testimonial, :url => agent_office_testimonial_path(@agent, @office, @testimonial, :come_from => params[:come_from]), :html => {:multipart => true, :method => 'put' } do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
