<p>
  <b>Integer:</b>
  <%=h @testimonial.integer %>
</p>

<p>
  <b>String:</b>
  <%=h @testimonial.string %>
</p>

<p>
  <b>Text:</b>
  <%=h @testimonial.text %>
</p>


<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>