<div class="block help full">
  <div class="title_block block">
    <h2 class="page_title">Choose Properties</h2>
    <%= render :partial => "steps_tab" %>
  </div>
</div>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <fieldset class="pf_fs2">
       <form action="<%= export_to_csv_agent_office_reports_path(@agent,@office) %>" method="get" name="frm1" id="frm1">
         <div style="width:100%;font-size:9pt;">
          <table style="border:none;">
            <tr style="background-color:#E1EBF5;">
              <td width="15%"><b>Displayed Fields</b></td>
              <td width="25%">
                <%= select_tag "selection_field", options_for_select(@fields, ""), :class => 'select_box', :onchange => "add_options('field');"%>
                <input type="hidden" name="field" id="field" value="<%= @value_field %>"/>
              </td>
              <td><div id="fields" style="text-align:left;font-size:9pt;"><%= @value_fields %></div></td>
            </tr>
          </table>
         </div>
         <button name="btn" type="button" value="Update" onclick="export_csv();">Export Report to CSV file</button>
         <button name="btn" type="button" value="Preview" onclick="preview();">Preview Report</button>
       </form>
     </fieldset>
    </div>
  </div>
</div>
<script type="text/javascript">
  function preview(){
     path = "<%= preview_agent_office_reports_path(@agent,@office) %>?field="+$("#field").val();
     window.open(path,'sharer','menubar=1,toolbar=0,scrollbars=1,status=0,width=1050,height=800');
  }

  function export_csv(){
    $("#frm1").submit();
  }

  function add_options(type){
    var a_all_id = $("#"+type).val();
    var a_arry = a_all_id.split('~');
    var a_add =0;
    if($("#selection_"+type).val()!=''){
      for(var x=0; x < a_arry.length; x++){
        if((a_arry[x]!='')&&(a_arry[x]==$("#selection_"+type).val())){ a_add = 1; }
      }

      if(a_add != 1){
        var new_datas = $("#"+type).val() + '~' + $("#selection_"+type).val();
        $("#"+type).attr('value', new_datas);
        $("#"+type+"s").append('<span id="'+type+$("#selection_"+type).val()+'" style="margin-right:20px;">'+$("#selection_"+type+" option:selected").text()+'\
         <a href="javascript:remove_options(\''+type+'\',\''+$("#selection_"+type).val()+'\')">x</a></span>');
      }
    }
  }
  function remove_options(type, id){
    var all_id = $("#"+type).val();
    var arry = all_id.split('~');
    $("#"+type).attr('value', "");
    for(var x=0; x < arry.length; x++){
      if((arry[x]!='')&&(arry[x]!=id)){
       var new_datas = $("#"+type).val() + '~' + arry[x];
       $("#"+type).attr('value', new_datas);
      }
    }
    $("#"+type+id).remove();
  }
</script>