<script type="text/javascript">
  $(document).ready(function(){
    var printing;
    if($.browser.msie){
      printing = $(document.createElement('div')).attr({'id':'printing'}).css({'text-align':'center','width':'60px','height':'35px','position':'absolute','top':'0px','left':$(window).width() - 50+'px'}).html('<img id="print_image" src="/images/icons/print.png" /><p id="print_label" style="display:none">Print</><p>');
    }else{
      printing = $(document.createElement('div')).attr({'id':'printing'}).css({'text-align':'center','width':'60px','height':'35px','position':'fixed','top':'0px','left':$(window).width() - 50+'px'}).html('<img id="print_image" src="/images/icons/print.png" /><p id="print_label" style="display:none">Print</><p>');
    };
    $('body').append(printing);
    $('#print_image').css({'cursor':'pointer'});
    $('#print_label').css({'cursor':'pointer','font-weight':'bolder','font-size':'15px'});
    $('#printing').css('line-height','1px');
    $('#printing').mouseover(function(){
      $('#printing').animate({
        height:60
      },{duration: 'slow',easing: 'easeOutBounce'}, function(){
        $('#printing').css('height','60px');
      });
      $('#print_label').show();
    });
    $('#printing').mouseleave(function(){
      $('#printing').animate({
        height:35
      },{duration: 'fast',easing: 'easeInBounce'}, function(){
        $('#printing').css('height','35px');
      });
      $('#print_label').hide();
    });
    $('#print_label,#print_image').click(function(){
      window.print();
      return false;
    });
  });
</script>
<style type="text/css" >
  .wrapper{margin:0 auto;width:900px;height:auto;font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif;}
  .logo{margin-bottom:5px;font-weight:bold;font-size:25px;}
  .headline{width:900px;font-weight:bold;padding:5px;border:1px solid #CCCCCC;margin-bottom:5px;}
  .middle-content{width:900px;height:auto;margin-bottom:5px;}
  table{
    width:913px;font-size: 12px;
  }
  td{border:1px solid #CCCCCC;padding:2px;}
  .clear{clear:both;}
</style>
<div class="wrapper">
  <div class="logo"></div>
  <div class="headline">
    Portal Summary Report for <%= @office.name %> at <%= Time.now.strftime("%d-%m-%Y") %>
  </div>
  <div class="middle-content">
    <table>
      <% unless @criteria_fields.blank? %>
        <tr>
          <% if @criteria_fields.include?("property_id") %><td><b>Property ID</b></td><% end %>
          <% if @criteria_fields.include?("address") %><td><b>Address</b></td><% end %>
          <% if @criteria_fields.include?("suburb") %><td><b>Suburb</b></td><% end %>
          <% if @criteria_fields.include?("portals") %><td style="width:350px;"><b>Portals</b></td><% end %>
          <% if @criteria_fields.include?("state") %><td><b>State</b></td><% end %>
          <% if @criteria_fields.include?("primary_agent") %><td><b>Primary Agent</b></td><% end %>
          <% if @criteria_fields.include?("floor_area") %><td><b>Floor Area</b></td><% end %>
          <% if @criteria_fields.include?("eer") %><td><b>EER</b></td><% end %>
          <% if @criteria_fields.include?("office_name") %><td><b>Office Name</b></td><% end %>
          <% if @criteria_fields.include?("agent_names") %><td><b>Agent Names</b></td><% end %>
        </tr>
        <% @properties.each do |property| %>
          <tr>
            <% if @criteria_fields.include?("property_id") %><td><%= property["id"] %></td><% end %>
            <% if @criteria_fields.include?("address") %><td><%= "#{property["unit_number"]} #{property["street_number"]} #{property["street"]}" %></td><% end %>
            <% if @criteria_fields.include?("suburb") %><td><%= property["suburb"] %></td><% end %>
            <% if @criteria_fields.include?("portals") %><td><%= portals(property["id"]) %></td><% end %>
            <% if @criteria_fields.include?("state") %><td><%= property["state"] %></td><% end %>
            <% if @criteria_fields.include?("primary_agent") %><td><%= property["primary_agent"] %></td><% end %>
            <% if @criteria_fields.include?("floor_area") %><td><%= report_floor(property["id"]) %></td><% end %>
            <% if @criteria_fields.include?("eer") %><td><%= report_eer(property["id"]) %></td><% end %>
            <% if @criteria_fields.include?("office_name") %><td><%= report_office_name(property["id"]) %></td><% end %>
            <% if @criteria_fields.include?("agent_names") %><td><%= report_agent_names(property["id"]) %></td><% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>