<% content_for :head do %>
  <%= stylesheet_link_tag "jquery-ui-dialog" %>
<%end%>

<div class="title_block block">
  <h2 class="page_title"><%= @property.address %></h2>
</div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<% unless @property.parent_listing_id.blank? && @property.parent_category.blank? %>
  <%= render :partial => "filter" %>
<%end%>

<% if @property.parent_category.blank? && @property.parent_listing_id.blank? %>
  <div id="dialog-message" title="Parent Listing not selected">
    <p>
      This listing does not have a Parent Listing. You can chose a Parent Listing below the map on the Details page.
    </p>
  </div>
<%end%>

<script type="text/javascript">
  $(document).ready(function(){
<% if @property.parent_listing_id.blank? && @property.parent_category.blank? %>
      $(function() {
        $( "#dialog-message").dialog({
          modal: true,
          buttons: {
            Ok: function() {
              $( this ).dialog( "close" );
            }
          }
        });
      });
<%end%>
  })
</script>