<!-- NOTE TO DEVELOPER: the class "current" obviously needs to be on the current section -->
<ul class="subnav">
  <% unless current_user.allow_property_owner_access? %>
  <li class="subnav3 quick_edit">
    <form action="post" name="the_view_form">
      <fieldset>
        <label>Quick Search: </label>
        <div id="quick_edit_txtbox" class="textbox"></div>
        <!-- <input type="text" id="quick_edit_txtbox" class="textbox" value="Type in a keyword" /> -->
        <!-- NOTE TO DEVELOPER: The text in the "value" attribute should disappear onfocus. Thanks! -->
      </fieldset>
    </form>
  </li>
  <%end%>
  <li class="subnav1">
    <fieldset>
      <label>Parent Listing: </label>
      <%= select_tag 'create_parent_property', options_for_select(parent_property_options), :class => 'select_box' %>
      <input type="submit" class="btn" value="Go" onclick="create_parent_property();"/>
      <!-- NOTE TO DEVELOPER: Any "input" submit buttons that can be <a> tags will make Jen's life so much more fun to live. I have assumed we need input buttons here, but if they can be <a> tags, understand that somehow I will buy you a Coke. -->
      <!-- Jan said: hey you can replace the button with <a>, just keep the onclick attributes. -->
    </fieldset>
  </li>
  <% unless current_user.allow_property_owner_access? %>
    <li class="subnav2">
      <fieldset>
        <label>View Current: </label>
        <%= select_tag 'view_parent_listing', options_for_select(parent_property_options_classify,:selected =>session[:type].blank? ? '' : session[:type].classify), :class => 'select_box' %>
        <input type="submit" class="btn" value="Go" onclick="view_parent_listing();"/>
      </fieldset>
    </li>
  <%end%>
</ul>

<% javascript_tag do %>
  function create_parent_property() {
  var type = jQuery('select#create_parent_property').val();
  if(type) {
  var loc =  "<%= new_agent_office_property_path(@agent,@office) %>/" + type;
  window.location = loc;
  }
  }

  function view_parent_listing() {
  var type = jQuery('select#view_parent_listing').val();
  if(type) {
  var loc =  "<%= agent_office_properties_path(@agent,@office) %>?filter=Filter&sort_by=DESC&status=1&type=" + type;
  window.location = loc;
  }
  }
<% end %>
