<!-- NOTE TO DEVELOPER: the class "current" obviously needs to be on the current section -->
<ul class="subnav">
  <% unless current_user.allow_property_owner_access? %>
    <% unless params[:controller] == "search_results" %>
      <%= render :partial => "search_results/quicksearch" %>
    <%end%>
  <%end%>
</ul>

<% javascript_tag do %>
  function create_property() {
  var type = jQuery('select#create_property').val();
  if(type) {
  var loc =  "<%= new_agent_office_property_path(@agent,@office) %>/" + type;
  window.location = loc;
  }
  }

  function view_listing() {
  var type = jQuery('select#view_listing').val();
  if(type) {
  var loc =  "<%= agent_office_properties_path(@agent,@office) %>?filter=Filter&sort_by=DESC&status=1&type=" + type;
  window.location = loc;
  }
  }

  function search_results() {
  var type = jQuery('input#search_result').val();
  if(type) {
  var loc = "<%= agent_office_search_results_path(@agent,@office) %>"
  window.location = loc;
  }
  }
<% end %>
<script type="text/javascript">
  var el = $('select.select_box > option');
  $.each(el,function(i){
    if ($(el[i]).text() == 'Parent :'){
      $(el[i]).text('Parent :').css('font-weight', 'bold');
    }else if ($(el[i]).text() == 'Child :'){
      $(el[i]).text('Child :').css('font-weight', 'bold');
    }
  });
</script>
