<ul class="subnav">
  <li class="subnav_title">Residential Sale:<!-- NOTE TO DEVELOPER: Can we add this little subtitle (Residential Sale, Residential Lease, etc.) and have it change based on the type of new listing the user is preparing? --></li>
  <li class="subnav1 current"><a href="#" title="">Details</a></li>
  <!-- Please add a class of "current" on the current page we're on. This is just an example -->
  <li class="subnav2"><a href="media.php" title="">Media</a></li>
  <li class="subnav3"><a href="files.php" title="">File Storage</a></li>
  <li class="subnav4"><a href="analytics_sales.php" title="">Analytics</a></li>
  <li class="subnav5"><a href="#" title="">Preview</a></li>
</ul>
