<!-- NOTE TO DEVELOPER: the class "current" obviously needs to be on the current section -->
<ul class="subnav">
  <li class="subnav3 quick_edit">
    <form action="post" name="the_view_form">
      <fieldset>
        <div style="float:left;margin-right:10px;"><label>Quick Search: </label></div>
        <div id="quick_edit_txtbox_contact" class="textbox" style="float:left;"></div>
        <div style="clear:both;"></div>
      </fieldset>
    </form>
  </li>
  <% if params[:controller] == "agent_contacts" || params[:controller] == "agent_companies" %>
    <% if params[:controller] == "agent_contacts" && params[:action] == "new" %>
      <li class="subnav1 current">
      <%else%>
      <li class="subnav1">
      <%end%>
      <%= link_to 'Add a contact', new_agent_office_agent_contact_path(@agent,@office) %>
    </li>
    <% if params[:controller] == "agent_companies" && params[:action] == "new" %>
      <li class="subnav2 current">
      <%else%>
      <li class="subnav2">
      <%end%>
      <%= link_to 'Add a company', new_agent_office_agent_company_path(@agent,@office) %>
    </li>
    <% if params[:controller] == "agent_contacts" %>
      <% if params[:action] == "tenants" %>
      <li class="subnav2 current">
      <%else%>
      <li class="subnav2">
      <%end%>
      <%= link_to 'Tenants', tenants_agent_office_agent_contacts_path(@agent, @office) %>
      </li>
    <%end%>
  <%end%>
  <% if params[:controller] == "agent_contacts" && (params[:action] == "edit" || params[:action] == "listings") %>
    <% if params[:action] == "listings" %>
      <li class="subnav2 current">
    <%else%>
      <li class="subnav2">
    <%end%>
        <%= link_to 'Listings', listings_agent_office_agent_contact_path(@agent, @office, params[:id]) %>
    </li>
  <%end%>
</ul>