<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Admin <%= @title %></title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />

    <%= javascript_include_tag 'jquery-1.3.min' %>
    <%= javascript_include_tag 'jquery-ui' %>
    <%= javascript_include_tag 'ui/ui.datepicker', "ui/jquery.flexbox.min",'jquery.form-defaults' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'commercialloopcrm' %>
    <%= stylesheet_link_tag 'ui.datepicker', "jquery.flexbox" %>
    <%= javascript_include_tag 'thickbox' %>
    <%= stylesheet_link_tag 'thickbox' %>
    <% if current_page?(:controller => 'admin/translations') %>
      <%= javascript_include_tag '/ext/ext-base.js' %>
      <%= javascript_include_tag '/ext/ext-all.js' %>
      <%= stylesheet_link_tag '/ext/resources/css/ext-all.css'  %>
    <%end%>
    <%= yield :head %>
    <script type="text/javascript">
      $(function(){
        $("#quick_edit_txtbox").flexbox('<%= search_developers_path %>', {
          watermark: 'Enter a Developer Name',
          method: 'post',
          width: 140,
          showArrow: false,
          hiddenValue: 'href',
          inputClass: 'textbox',
          onSelect: function(){
            window.open(this.getAttribute('hiddenValue'), '_self');
          }
        });
        $("#quick_edit_txtbox_clients").flexbox('<%= search_admin_path %>',{
          watermark: 'Enter a Client Name',
          method: 'post',
          width: 140,
          showArrow: false,
          hiddenValue: 'href',
          inputClass: 'textbox',
          onSelect: function(){
            window.open(this.getAttribute('hiddenValue'), '_self');
          }
        });
      });
    </script>
  </head>

  <body id="<%= @body_id || params[:controller]%>" class="admin">
    <!-- NOTE TO DEVELOPER: the id on the body tag changes per page. the class represents the system we're in (agents, developers or theme). we're using the same stylesheet for all, so this is important. Thanks! -->
    <div id="main_body">

      <div id="header">
        <h1 id="logo">
          <%= link_to "commercialloopcrm.com.au", admin_path %>
        </h1><!--  -->

        <div id="accountmetadata">
          <p>
            <span class="logged_in"><strong>Logged in as</strong> <%= current_user ? current_user.full_name : '' %></strong> (<%= current_user ? current_user.email : '' %>)</span>
          </p>
        </div>

        <ul id="quick_links">
          <li class="link1"><a href="#" title="">Wiki</a></li>
          <li class="link2"><%= link_to "Team Members", admin_users_path %></li>
          <li class="link3"><%= link_to 'Sign Out', logout_path %></li>
        </ul>
      </div><!-- end #header -->

      <div id="navdiv">
        <ul id="nav">
          <li class="nav_item nav_item_1 <%= 'current' if current_page?(:controller => 'admin', :action => 'index') %>">
            <%= link_to 'My Dashboard', admin_path %>
            <% if current_page?(:controller => 'admin', :action => 'index') %>
              <ul class="subnav">
                <li class="subnav1 quick_edit">
                  <form action="post" name="the_view_form">
                    <fieldset>
                      <label>Quick Search: </label>
                      <div class="quick_edit_txtbox" id="quick_edit_txtbox"></div>
                      <!-- NOTE TO DEVELOPER: The text in the "value" attribute should disappear onfocus. Thanks! -->
                    </fieldset>
                  </form>
                </li>
              </ul>
            <% end %>
          </li>
          <li class="nav_item nav_item_2 <%= 'current' if current_page?(:controller => 'developers', :action => 'index') %>">
            <%= link_to 'Developers', developers_path, :title => 'Developers' %>
            <% if current_page?(:controller => 'developers', :action => 'index') %>
              <ul class="subnav">
                <li class="subnav1 quick_edit">
                  <form action="post" name="the_view_form">
                    <fieldset>
                      <label>Quick Search: </label>
                      <div class="quick_edit_txtbox" id="quick_edit_txtbox"></div>
                      <!-- NOTE TO DEVELOPER: The text in the "value" attribute should disappear onfocus. Thanks! -->
                    </fieldset>
                  </form>
                </li>
              </ul>
            <% end %>
          </li>
          <li class="nav_item nav_item_3 <%= 'current' if current_page?(:controller => 'admin', :action => 'clients') || current_page?(:controller => 'admin', :action => 'offices') %>">
            <%= link_to "Clients", clients_admin_path, :title => 'Clients' %>
            <% if current_page?(:controller => 'admin', :action => 'clients') || current_page?(:controller => 'admin', :action => 'offices')%>
              <!-- NOTE TO DEVELOPER: the class "current" obviously needs to be on the current section -->
              <ul class="subnav">
                <li class="subnav1 <%= 'current' if current_page?(:controller => 'admin', :action => 'clients') %>">
                  <%= link_to 'Clients', clients_admin_path %>
                </li>
                <li class="subnav2 <%= 'current' if current_page?(:controller => 'admin', :action => 'offices') %>">
                  <%= link_to 'Offices', offices_admin_path %>
                </li>
                <li class="subnav3 quick_edit">
                  <form action="post" name="the_view_form">
                    <!-- NOTE TO DEVELOPER: I will assume I can use whatever classes I want, and you will add an ids you need. If you need to make classes into IDs or if there is any issues with classes on forms or anything other object, please let Jen know. Action and Name attributes have merely been added here to protect the innocent; please alter or delete as you see fit. -->
                    <fieldset>

                      <label>Quick Search: </label>
                      <div class="quick_edit_txtbox" id="quick_edit_txtbox_clients" ></div>
                      <!-- NOTE TO DEVELOPER: The text in the "value" attribute should disappear onfocus. Thanks! -->
                    </fieldset>
                  </form>
                </li>
              </ul>
            <% end %>
          </li>
          <li class="nav_item nav_item_6 <%= 'current' if params[:controller] == 'messages' %>">
            <% link_to messages_path do %>
              Messages
              <% if current_user && current_user.unread_messages_count > 0 -%>
                <span class="notify"><%= current_user.unread_messages_count %></span>
              <% end -%>
            <% end %>
          </li>
          <li class="nav_item <%= 'current' if current_page?(:controller => "admin/countries") || current_page?(:controller => 'admin/active_help_pages/index') ||current_page?(:controller => 'admin/active_help_page_agents/index') || current_page?(:controller => "admin/exports") || current_page?(:controller => "admin/active_helps" )  || current_page?(:controller => "admin/updates") || current_page?(:controller => "admin/agent_quicklinks") || current_page?(:controller => "admin/developer_quicklinks") || current_page?(:controller => 'admin/translations') %> ">
            <%= link_to "Tools" , admin_countries_path %>
            <% if current_page?(:controller => "admin/countries") || current_page?(:controller => 'admin/active_help_pages/index') || current_page?(:controller => 'admin/active_help_page_agents/index') || current_page?(:controller => "admin/exports") || current_page?(:controller => "admin/active_helps" ) || current_page?(:controller => "admin/quick_links") || current_page?(:controller => "admin/updates") || current_page?(:controller => "admin/agent_quicklinks") || current_page?(:controller => "admin/developer_quicklinks") || current_page?(:controller => 'admin/translations') %>
              <ul class="subnav">
                <li class="subnav1 <%= 'current' if current_page?(:controller => 'admin/countries') %>" >
                  <%= link_to "COUNTRIES" , admin_countries_path %>
                </li>
                <li class="subnav1 <%= 'current' if current_page?(:controller => 'admin/exports') %>" >
                  <%= link_to "EXPORTS" , admin_exports_path %>
                </li>
                <li class="subnav1 <%= 'current' if current_page?(:controller => 'admin/active_helps') %>" >
                  <%= link_to "ACTIVE HELP" , admin_active_help_path %>
                </li>
                <li class="subnav1 <%= 'current' if current_page?(:controller => 'admin/active_help_pages/index') %>" >
                  <%= link_to "ACTIVE HELP PAGES" , index_admin_active_help_pages_path %>
                </li>
                <li class="subnav1 <%= 'current' if current_page?(:controller => 'admin/active_help_page_agents/index') %>" >
                  <%= link_to "CLIENT ACTIVE HELP PAGES" , index_admin_active_help_page_agents_path %>
                </li>
                <li class="subnav1 <%= 'current' if current_page?(:controller => 'admin/updates') %>" >
                  <%= link_to "UPDATES" , admin_updates_path %>
                </li>
                <li class="subnav1 <%= 'current' if current_page?(:controller => 'admin/agent_quicklinks') %>" >
                  <%= link_to "AGENT QUICKLINKS" , admin_agent_quicklinks_path %>
                </li>
                <li class="subnav1 <%= 'current' if current_page?(:controller => 'admin/developer_quicklinks') %>" >
                  <%= link_to "DEVELOPER QUICKLINKS" , admin_developer_quicklinks_path %>
                </li>
             <!--   <li class="subnav1 <#%= 'current' if current_page?(:controller => 'admin/translations') %>" >
                  <#%= link_to "TRANSLATION" , admin_translations_path %>
                </li>-->
              </ul>
            <% end %>
          </li>
        </ul>
        <div class="clearer" /></div>

    </div><!-- end #navdiv -->
    <div id="helpdiv" class="block help full">
      <% if flash.now[:notice] %>
        <div class='group'>
          <p class="help_message"><%= h flash.now[:notice] %></p>
        </div>
      <% end %>
    </div>
    <!-- NOTE TO DEVELOPER: Howdy! There are a lot of notes in and throughout all these files. Please take all html and notes very seriously and replicate to the letter. On the property form templates, there are numbered classes which I would like you to auto-generate, but there are notes about that in those files. -->

    <!-- Being how things always tend to change, pleasadmin_translationse be sure I have access to the final HTML documents so I can make styling edits. I would imagine you'll have the html separated from the code, yes? -->

    <!-- If you have ANY question or concerns about this HTML, please contact Jen Germann right away at hello@jengermann.com, or MSN/AIM at jengermann, or talk to Peter or Ryan and they'll get me. Thanks! -->

    <%= yield %>

    <hr class="separator" />
    <%= render :partial => "layouts/footer" %>

    </div> <!-- end #main_body -->
  </body>

</html>
