<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title><%= @developer && @developer.name || get_developer_subdomain %> System <%= @title %></title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
  </head>
  <%if %w(elists emarketings ealerts ebrochures brochures stock_lists reports ecampaigns pdf_configurations configurations changes_logs auto_responder csv_export_import team_assigns sms mail_merges).include? params[:controller] %>
    <%= stylesheet_link_tag 'brochure', 'thickbox' %>

  <%else%>
    <%= stylesheet_link_tag 'commercialloopcrm', 'ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip', :cache=>'style' %>
  <%end%>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <% if params[:controller] == 'media' || params[:controller] == 'agent_users' || params[:controller] == 'parent_listings' %>
    <%= javascript_include_tag 'jquery-ui' %>
  <% else %>
    <%= javascript_include_tag 'jquery-ui-old' %>
  <% end %>
  <%= javascript_include_tag 'jquery.spellchecker','ui/jquery.flexbox.min', 'jquery.tooltip.pack.js','thickbox','application','jquery.rte'%>
  <%= javascript_include_tag 'ui/ui.datepicker', :cache =>'base_datepicker'%>
  <%= stylesheet_link_tag 'spellchecker' %>
  <%= javascript_include_tag 'jquery.lightbox-0.5.js'%>
  <%= stylesheet_link_tag 'jquery.lightbox-0.5' %>
  <script type="text/javascript">
   $(document).ready(function(){
    var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
    var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
    // if(window.screen.availHeight == 973 && window.screen.availWidth == 1920){
    //   if(($.browser.safari) == true){
    //     window.parent.document.body.style.zoom = 1.5;

    //   }
    // }
    if(jQuery.browser.mozilla == true){
      window.parent.document.body.style.zoom = 4;
    }else if(isSafari == true){
      window.parent.document.body.style.zoom = 1;
    }
    if(window.screen.availHeight == 1440 && window.screen.availWidth == 2560){
      $("fieldset.iMac").css("margin-left", "1024px");
    }
  });
  </script>
  <!--[if IE 8]>
  <%= javascript_include_tag 'jquery.corner.js' %>
      <script type="text/javascript">
        $(document).ready(function(){
          $("a#reverser").click();
          $("tbody").addClass("corner");
          $("tbody.corner").corner();
          $(".form_area").corner();
          $(".current-active-listing-detail-link").corner();
          $(".current-active-other-link").corner();
          $(".current-active-marketing-link").corner();
          $(".current-listing-detail-link").corner();
          $(".current-other-link").corner();
          $(".current-marketing-link").corner();
          $("#propertydatadiv").corner();
          $("a.btn").corner();
          $(".property-stats").corner();
          $(".help_centre_table").corner();
          $(".legend_listing_tab").corner();
          $(".optnav-group-listing-details").corner();
          $(".optnav-group-marketing").corner();
          $(".optnav-group-other").corner();
          $(".submit_btn").corner();
          $("button#btn_upload").corner();
          $("button#button_show_upload").corner();
          $("button#upload_from_url").corner();
          $("button#upload_embed_code").corner();
          <% unless @office.navdiv_color.blank? %>
           $(".main_tab").corner();
          <%end%>

          <% if ["media", "extras", "brochures", "match_contacts", "property_notes", "property_tasks"].include?(params[:controller]) %>
            <% @property = Property.find(params[:property_id]) %>
            <%elsif params[:controller] == "properties" %>
              <% @property = Property.find(params[:id]) unless ["index", "commercial_building", "land_release", "new_development", "residential_sale", "residential_lease", "commercial", "business_sale", "holiday_lease", "project_sale", "general_sale", "livestock_sale", "clearing_sales_event", "clearing_sale"].include?(params[:action]) %>
          <%end%>
            <% if @property.type.to_s == "Commercial" %>
              $("ul.content_group").css("width", "1185px");
              <%elsif @property.type.to_s == "CommercialBuilding" %>
              $("ul.content_group").css("width", "1200px");
            <%end%>
        });
      </script>
      <style>
        #draggable_tab{display:none}
        #search-loader_contact{display:none}
        select#state{margin-left:176px;margin-top:-20px}
        <% if @property.type.to_s == "NewDevelopment" %>
          .classify ul.content_group{width:97%}
        <%end%>
        button#rounded_corner{
           -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
           -khtml-border-radius: 4px;
           border-radius: 4px;
           behavior: url("/images/PIE-1.0.0/PIE.htc");
        }
      </style>
    <![endif]-->

    <!-- To revert the header like the old style, just give comment this code below -->
    <% unless @office.blank? %>

        <%unless @office.font_color_active.blank? %>
          <style>
            body.agents ul#nav li.current a, body.agents ul#nav li a:hover {
            color: <%= @office.font_color_active %> !important;
          }
          </style>
        <%end%>
        <% unless @office.font_color_non_active.blank? %>
          <style>
            body.agents ul#nav li a {
            background-image: none;
            margin-right: 1px;
            background-color: #ffffff;
            color: <%= @office.font_color_non_active %> !important;
          }
          </style>
        <%end%>
      <% unless @office.header_color.blank? %>
        <style>
          #header{
            background: <%= @office.header_color %>;
          }
        </style>
      <%end%>
      <% unless @office.navdiv_color.blank? %>
        <style>
          ul#nav{
            background: url("/images/bg-nav-top.png") 0 0 repeat-x <%= @office.navdiv_color %>;
          }
        </style>
      <%end%>
      <% unless @office.ul_nav_li_current_color.blank? %>
        <style>
          body ul#nav li.current a, body.agents ul#nav li a:hover {
            background-color: <%= @office.ul_nav_li_current_color %> !important;
          }
        </style>
      <%end%>
      <% unless @office.ul_nav_li_active_color.blank? %>
        <style>
          body.agents ul#nav li a {
            background-image: none;
            margin-right: 1px;
            background-color: <%= @office.ul_nav_li_active_color %>;
          }
          a.main_tab{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
        </style>
      <%end%>
      <% unless @office.ul_nav_color.blank? %>
        <style>
          #navdiv{
            background-color: <%= @office.ul_nav_color %> !important;
          }
          ul.subnav{
            background-color: <%= @office.ul_nav_color %> !important;
          }
        </style>
      <%end%>
      <% if get_current_subdomain == 'cbre' %>
        <style>
          body.agents{
            background-image: none;
          }
          .office-client{
            color:#000;
          }
          a#toggler{
            color:#000;
          }
          a#reverser{
            color:#000;
          }
        </style>
      <%end%>
    <%end%>
    <!-- end revert -->

  <% if(params[:controller] == "offices_a" && params[:action] == "show") || (params[:controller] == "properties" && params[:action] == "index") || (params[:controller] == "opentimes")  || (params[:controller] == "property_notes" && params[:action] == "index") || (params[:controller] == "agent_contacts" && params[:action] == "index") || (params[:controller] == "agent_companies" && params[:action] == "index") || (params[:controller] == "commercial_building_children_listings" && params[:action] == "index") || (params[:controller] == "land_release_children_listings" && params[:action] == "index") || (params[:controller] == "residential_building_children_listings" && params[:action] == "index") || (params[:controller] == 'search_results' && params[:action] == "index" ) || (params[:controller] == 'match_contacts' && params[:action] == "index" ) || (params[:controller] == 'search_results' && params[:action] == 'email_configuration') || (params[:controller] == 'match_contacts' && params[:action] == 'new' ) || (params[:controller] == 'parent_listings' && params[:action] == 'index' ) || (params[:controller] == 'tenancies' && params[:action] == 'index' ) || (params[:controller] == 'transactions' && params[:action] == 'index' ) || (params[:controller] == "general_sale_children_listings" && params[:action] == "index") || (params[:controller] == "livestock_sale_children_listings" && params[:action] == "index") || (params[:controller] == "clearing_sales_event_children_listings" && params[:action] == "index") || (params[:controller] == "tasks" && (params[:action] == "index" || params[:action] == "edit")) || (params[:controller] == "sms" && (params[:action] == "index" || params[:action] == "new")) || (params[:controller] == "search_results" && (params[:action] == "history" || params[:action] == "view_history_listing")) || params[:controller] == "agent_contacts" && params[:action] == "tenants" || params[:controller] == "listings" && params[:action] == "index" || params[:controller] == "agent_contacts" && params[:action] == "listings" %>
    <%= stylesheet_link_tag '/javascripts/ext/resources/css/ext-all.css' %>
    <%= javascript_include_tag 'ext/adapter/ext/ext-base.js',"ext/ext-all-debug.js",
      "ext/examples/ux/gridfilters/menu/RangeMenu.js",
      "ext/examples/ux/gridfilters/menu/ListMenu.js",
      "ext/examples/ux/gridfilters/GridFilters.js",
      "ext/examples/ux/gridfilters/filter/Filter.js",
      "ext/examples/ux/gridfilters/filter/StringFilter.js",
      "ext/examples/ux/gridfilters/filter/ListFilter.js",
      "ext/examples/ux/gridfilters/filter/NumericFilter.js",
      "ext/examples/ux/gridfilters/filter/DateFilter.js",
      "ext/examples/ux/gridfilters/filter/BooleanFilter.js"
  %>
    <script type="text/javascript">
      Ext.BLANK_IMAGE_URL = '/javascripts/ext/resources/images/default/s.gif';
      $(document).ready(function(){
        function callPreview(path) {
          window.open(path,'sharer','menubar=1,toolbar=0,scrollbars=1,status=0,width=800,height=800');
        };
      });
    </script>
  <%end%>
  <%= yield :head %>
  <body id="<%= @body_id || params[:controller]%>" class="agents <%= check_layout_subdomain %>">
    <!-- NOTE TO DEVELOPER: the id on the body tag changes per page. the class represents the system we're in (agents, developers or theme). we're using the same stylesheet for all, so this is important. Thanks! -->
        <% if @office.id == 243 %>
        <div id="header">
          <div class="containerBox">
        <% else %>
           <div id="main_body">
            <div class="header">
        <%end%>
        <h1 id="logo">
          <%# @logo = Attachment.find(:first, :conditions => "attachable_type = 'Office' AND attachable_id = '#{current_office.id}' AND category = 'Office Logo'")  %>
          <% @logo = current_office.logos.find_by_order(1) %>

          <% if @logo && @logo.thumbnails.present? %>
            <%= link_to image_tag(@logo.thumbnails.first.public_filename, :alt => "#{current_office.name.gsub(" ","_").downcase}", :style => "max-height:60px"), agent_office_path(current_agent, current_office), :title => "#{current_office.agent.name} Logo" %>
          <%else%>
          <div class="welcome-header"><%= link_to "Welcome - #{current_office.name rescue nil}", agent_office_path(current_agent, current_office) %></div>
          <% end %>
        </h1><!--  -->
        <ul id="quick_links" style="margin-top:-20px">
          <li class="link2 no-border no-padding"><%= link_to 'Sign Out', logout_path, :style=> "#{(get_current_subdomain == 'knightfrank' || get_current_subdomain == 'cre' || get_current_subdomain == 'portalpushing' || get_current_subdomain == 'cbre') ? 'color:#000000;':''}" %></li>
          <% unless current_office.blank? %>
            <%unless current_office.url.blank?%>
              <li class="link3 borderL1 padL7">
                <%=  link_to 'View Website', translate_url(current_office.url), :target => "_blank" %>
              </li>
            <%end%>
          <%end%>
        </ul>
        <br/>
        <%# if current_user.role_gte?(DeveloperUser) && current_user.full_access?  %>
          <div style="" class="office-client" >
            <div>
              <%=current_office.name unless current_office.blank? %>
            </div>

            <div>
              <%= link_to '<span>(</span>change office)', '#', :id => 'toggler', :onclick =>'javascript:show_wrapper()' %>

              <span id='toggler_wrapper'>
                <span class="bold">(</span>
                <%= select_tag 'office', options_for_select(@agent.offices.sort!{|x,y| x.name.downcase <=> y.name.downcase}.map{|o| [o.name, agent_office_path(@agent, o)] if o.deleted_at.blank?}.compact.unshift(['Select Office', nil])), :class => 'select_box', :id => 'select_office', :onchange => "javascript:change_office($(this).val())" %>
                <%= link_to 'Cancel)', '#', :id => 'reverser', :onclick =>'javascript:hide_wrapper();' %>
              </span>
            </div>

            <div>
              <%= current_user.full_name %> (<%= current_user.email %>)
            </div>
          </div>
        <%#end%>
      </div>
    </div><!-- end #header -->
    <div id="navdiv">
      <p class="navlinks">
        <!--<span class="navlink navlink3" id='active_help_area'>
<%#= render :partial => 'layouts/active_help' %>
        </span>-->
        <!-- <span class="navlink navlink4">Active Help is Turned <a href="#" title="">On +</a></span> -->
      </p>

      <ul id="nav">
        <% if current_user.full_access? || current_user.client_only_access? %>

          <li class="nav_item nav_item_1 <%= 'current' if current_page?(:controller => 'offices_a', :action => 'show') %>">
            <%= link_to 'My Dashboard', agent_office_path(current_agent, current_office), :class => "main_tab" %>
            <% if current_page?(:controller => 'offices_a', :action => 'show') %>
              <%= render :partial => 'layouts/create_view_search' %>
            <% end %>
          </li>

        <%end%>

        <li class="nav_item nav_item_2 <%= 'current' if %w(properties media opentimes extras property_notes brochures vaults search_results).include? params[:controller] %>">
<%#= link_to 'Listings', agent_office_properties_path(@agent,current_office)+"?type=&suburb=&property_type=&primary_contact_fullname=&status=1&filter=Filter"%>
          <%= link_to 'Listings', agent_office_search_results_path(@agent.id,@office.id), :class => "main_tab" %>
          <%= render :partial => 'layouts/create_view_search' %>
        </li>
      <li class="nav_item nav_item_1 <%= 'current' if current_page?(:controller => 'agent_contacts') || current_page?(:controller => 'agent_companies') || current_page?(:controller => 'alerts') || current_page?(:controller => 'notes') %>">
          <% if current_user.allow_property_owner_access? %>
            <%= link_to 'Profile', agent_office_agent_users_path(current_agent,current_office) %>
          <% else %>
            <%= link_to 'Contacts', agent_office_agent_contacts_path(current_agent,current_office), :class => "main_tab" %>
          <% end %>
          <%= render :partial => 'layouts/search_contact' %>
        </li>

        <!-- added by ari -->
        <% if current_user.full_access? || current_user.client_only_access? %>

          <li class="nav_item nav_item_1 <%= 'current' if current_page?(:controller => 'agent_users') %>">
            <%= link_to 'Team', agent_office_agent_users_path(current_agent,current_office), :class => "main_tab" %>
            <ul class="subnav">
            <li class="subnav1 <%= 'current' if %w(index edit update load_photo crop_photo).include?(params[:action]) && !params[:conjunctional] %>">
              <%= link_to 'Team Management', agent_office_agent_users_path(@agent,current_office), :title => 'Team Management' %>
            </li>
            <% if !current_user.allow_property_owner_access?%>
              <li class="subnav2 <%= 'current' if params[:action] == 'new' && !params[:conjunctional] %>">
                <%= link_to 'Add a Team Member', new_agent_office_agent_user_path(@agent,current_office), :title => 'Add a Team Member' %>
              </li>
            <% end %>

            <% if current_user.full_access?  %>
              <li class="subnav3 <%= 'current' if params[:action] == 'preference' %>">
                <%= link_to 'Update Team Preferences', preference_agent_office_agent_users_path(@agent,current_office), :title => 'Update Team Preferences' %>
              </li>
            <% end %>

            <% if @agent.developer.show_conjunction %>
              <li class="subnav3 <%= 'current' if params[:action] == 'conjunctional' || params[:action] == 'edit_conjunctional' || params[:conjunctional] == 'true' %>">
                <%= link_to 'Conjunctional', conjunctional_agent_office_agent_users_path(@agent,current_office), :title => 'Conjunctional' %>
              </li>
            <% end %>
          </ul>

          </li>

        <%end%>
        <!-- end added by ari -->

        <% if current_user.full_access? || current_user.client_only_access? || current_user.limited_client_access? %>
          <li class="nav_item nav_item_5 <%= 'current' if (%w(team_assigns csv_export_import emarketings auto_responder configurations pdf_configurations changes_logs mail_merges sms ecampaigns).include? params[:controller]) %>">
            <%= link_to 'Tools', agent_office_team_assigns_path(current_agent,current_office), :class => "main_tab" %>

            <ul class="subnav" style="list-style: none;">
              <% unless (current_user.client_only_access? || current_user.limited_client_access?) %>
                <li class="subnav2 <%= 'current' if params[:controller] == "team_assigns" && params[:action] == 'index' %>">
                  <%= link_to 'Team Assign', agent_office_team_assigns_path(@agent,current_office), :class => "sub_menu" %>
                </li>
              <% end %>

              <% unless (current_user.client_only_access? || current_user.limited_client_access?) %>
                <li class="subnav2 <%= 'current' if params[:controller] == "csv_export_import" %>">
                  <%= link_to 'CSV',agent_office_csv_export_import_index_path(@agent,current_office), :class => "sub_menu" %>
                </li>
              <% end %>

              <%# unless (current_user.client_only_access? || current_user.limited_client_access?) %>
                <!--<li class="subnav2 <%#= 'current' if params[:controller] == "emarketings" %>">
                  <%#= link_to 'Emarketings', agent_office_emarketings_path(@agent,current_office), :class => "sub_menu" %>
                </li>-->
              <%# end %>

              <% unless (current_user.client_only_access? || current_user.limited_client_access?) %>
                <li class="subnav2 <%= 'current' if params[:controller] == "ecampaigns" %>">
                  <%= link_to 'Ecampaigns', agent_office_ecampaigns_path(@agent,current_office), :class => "sub_menu" %>
                </li>
              <% end %>

              <%# unless (current_user.client_only_access? || current_user.limited_client_access?) %>
                <!--<li class="subnav2 <%#= 'current' if params[:controller] == "auto_responder" %>">
                  <%#= link_to 'Auto Responders', agent_office_auto_responder_index_path(@agent,current_office), :class => "sub_menu" %>
                </li>-->
              <%# end %>

              <% unless (current_user.client_only_access? || current_user.limited_client_access?) %>
                <li class="subnav2 <%= 'current' if params[:controller] == "changes_logs" %>">
                  <%= link_to 'Property Log', agent_office_changes_logs_path(@agent,current_office), :class => "sub_menu" %>
                </li>
              <% end %>

              <%# if @office.id == 243 %>
                <% unless (current_user.client_only_access? || current_user.limited_client_access?) %>
                  <li class="subnav2 <%= 'current' if params[:controller] == "mail_merges" %>">
                    <%= link_to 'Create Letter', agent_office_mail_merges_path(@agent, current_office), :class => "sub_menu" %>
                  </li>
                <% end %>
              <%# end %>

              <% unless (current_user.client_only_access? || current_user.limited_client_access?) %>
                <li class="subnav2 <%= 'current' if params[:controller] == "configurations" %>">
                  <%= link_to 'Configuration', agent_office_configurations_path(@agent,current_office), :class => "sub_menu" %>
                </li>
              <% end %>

              <% unless (current_user.client_only_access? || current_user.limited_client_access?) %>
                <li class="subnav2 <%= 'current' if params[:controller] == "pdf_configurations" %>">
                <%= link_to 'PDF Configuration', agent_office_pdf_configurations_path(@agent,current_office), :class => "sub_menu" %>
                </li>
              <% end %>

              <%# if @office.id == 243 %>
                <% unless (current_user.client_only_access? || current_user.limited_client_access?) %>
                  <li class="subnav2 <%= 'current' if params[:controller] == "sms" && %w(new index).include?(params[:action]) %>">
                    <%= link_to 'SMS', new_agent_office_sm_path(@agent,current_office), :class => "sub_menu" %>
                  </li>
                <% end %>
              <%# end %>
            </ul>
          </li>
        <% end %>

        <% unless (["AdminUser"]).include?(current_user.class.name)%>
          <li class="nav_item nav_item_6 <%= 'current' if params[:controller] == 'messages_a' %>">
            <a href="#" style="visibility:hidden;">&nbsp;</a>

            <ul class="subnav">
              <li class="subnav1 <%= 'current' if %w(index).include?(params[:action]) %>">
                <%= link_to 'All Messages', agent_messages_path(@agent) %>
              </li>
              <li class="subnav2 <%= 'current' if %w(new edit update).include?(params[:action]) %>">
                <% if @agent.developer.support %>
                  <a href=" http://helpdesk.commercialloop.com.au/" target="_blank">Create a New Message</a>
                <% else %>
                  <%= link_to 'Create a New Message', new_agent_message_path(@agent) %>
                <% end %>
              </li>
              <li class="subnav3 <%= 'current' if %w(unread).include?(params[:action]) %>">
                <%= link_to "View Unread (#{current_user.unread_messages_count})", unread_agent_messages_path(@agent) %>
              </li>
              <li class="subnav4 <%= 'current' if %w(archives).include?(params[:action]) %>">
                <%= link_to 'View Archives', archives_agent_messages_path(@agent) %>
              </li>
            </ul>
          </li>
        <%end%>

        <%# if current_user.full_access? || current_user.client_only_access? %>
          <%# unless (["AdminUser"]).include?(current_user.class.name)%>
            <!--<li style="float:right" class="<%#= 'current' if %w(agent_users).include? params[:controller] %>">
              <%# link_to agent_office_agent_users_path(current_agent, current_office), :class => "main_tab", :title => 'Settings', :id=> "message" do %>
                <span>Settings</span>
              <%#end%>
            </li>-->
          <%#end%>
        <%#end%>
      </ul>
    </div><!-- end #navdiv -->
    <div id="main_body">
      <div class="breadcrumb">
        <%= breadcrumb(params,current_agent, current_office) %>
      </div>
      <div id="helpdiv" class="block help full">
        <% if flash.now[:notice] %>
          <div class='group'>
            <p class="help_message"><%= h flash.now[:notice] %></p>
          </div>
        <% end %>
      </div>
      <%# unless @active_help_agent.blank?  %>
        <!--<div class="block help full" id="active_help" style="display:<%#= @page_status.blank? ? 'blank' : current_user.active_help_status && @page_status[0].status == '1' ? 'block' : 'none' %>;">
          <div style="background:#F9CD98; border-bottom:1px solid #D2DCE6; margin:20px 0; padding: 5px"><p style="padding:5px 30px 0;">
              <%#= link_to_remote "<span style='top: 105px; position: absolute; z-index: 99; right: 5px; font-size:10px;'>close</span>", :url => {:controller => 'agent_users', :action => 'close_button_per_page', :id => @active_help_agent.id} %><%#= @active_help_agent.content %></p></div></div>-->
      <%#end%>
      <%= yield %>

      <hr class="separator" />

      <%= render :partial => "layouts/footer" %>
    </div>

  </body>
  <script type="text/javascript">
    function getAbsolutePosition(element){
      try{
        var r = { x : element.offsetLeft,  y : element.offsetTop};
        if( element.offsetParent ){
          var temp = getAbsolutePosition(element.offsetParent);
          r.x += temp.x;
          r.y += temp.y
        }
        return r;
      }catch(ex){
        return [-100,-100];
      }

    }


    $(document).ready(function(){
      <% if params[:controller] == "search_results" && params[:action] == "notification" %>
        setTimeout(function(){
          $('.group').fadeOut("slow");
        }, 5000);
      <%end%>

      var xMousePos = 0; // Horizontal position of the mouse on the screen
      var yMousePos = 0; // Vertical position of the mouse on the screen
      var xMousePosMax = 0; // Width of the page
      var yMousePosMax = 0; // Height of the page

      function captureMousePosition(e) {
        if (document.layers) {
          xMousePos = e.pageX;
          yMousePos = e.pageY;
          xMousePosMax = window.innerWidth+window.pageXOffset;
          yMousePosMax = window.innerHeight+window.pageYOffset;
        } else if (document.all) {
          xMousePos = window.event.x+document.body.scrollLeft;
          yMousePos = window.event.y+document.body.scrollTop;
          xMousePosMax = document.body.clientWidth+document.body.scrollLeft;
          yMousePosMax = document.body.clientHeight+document.body.scrollTop;
        } else if (document.getElementById) {
          xMousePos = e.pageX;
          yMousePos = e.pageY;
          xMousePosMax = window.innerWidth+window.pageXOffset;
          yMousePosMax = window.innerHeight+window.pageYOffset;
        }
      };

      function checkTheUnit(element){
        var patt1=/[px]/g;
        if(patt1.test(element)){
          element = element.split('px')[0];
        }
        return element;
      };

      $("#quick_edit_txtbox").append($("<input type='text' id='search_box' class='textbox' /><img src='/images/search-loader.gif' id='search-loader'></img>"));
      $("#quick_edit_txtbox_contact").append($("<input type='text' id='search_box_contact' class='textbox' /><img src='/images/search-loader.gif' id='search-loader_contact'></img>"));
      $("#search_box").css({"width":"200px"});
      var search_box = document.getElementById('search_box');
      var search_box_position = getAbsolutePosition(search_box);
      $("<div id='draggable_tab' style='position:absolute;text-transform:none;font-size:11px;z-index:300000'><div id='search_header' style='background-color:#0A3247;font-weight:bold;width:809px;height:15px;color:white;text-align:right;text-decoration:false;'><a id='close_button' href='#' onclick='return false;' style='margin:8px;text-decoration:false;color:white'>X</a></div><div id='search_container'><table  id='table_search_result' class='property-search' cellspacing='0' cellpadding = '0' >\n\
               <th class='first_cell'><th>ID</th><th>Address</th><th>Suburb</th><th>Type</th><th>Price</th><th>Status</th>\n\
              </table></div>").appendTo($("body"));
      $("#draggable_tab").css({'top' : search_box_position.y + 15,'left' : search_box_position.x,'width':"800px"})
      $("#search-loader").hide();
      $("#search_container").css({"overflow":"scroll","background-color":"#FFFFFF","position":"absolute","z-index":"9999","width":"800px","height":"100px","border":"solid black 4px","border-top":"0px"});
      $("#table_search_result th tr").css({"padding":"0px 5px","width":"800px"});
      $("#draggable_tab").hide();
      //event_listener_for_quick_search
      if($("#search_box").length > 0){
        $(document).click(function(e){
          var result_box = document.getElementById('search_container');
          var result_box_position = getAbsolutePosition(result_box);
          var result_box_width = parseInt(checkTheUnit(result_box.style.width));
          var result_box_height = parseInt(checkTheUnit(result_box.style.height));
          captureMousePosition(e);
          if(xMousePos < result_box_position.x || yMousePos < result_box_position.y || xMousePos > result_box_position.x + result_box_width || yMousePos > result_box_position.y + result_box_height){
            $("#draggable_tab").hide();
          };
        });
      };

      $("#search_box").bind("focus",function(){
        $("#draggable_tab").show();
        return false;
      });

      $("#search_box").bind("click",function(){
        $("#draggable_tab").show();
        return false;
      });


      var delay = (function(){
        var timer = 0;
        return function(callback, ms){
          clearTimeout (timer);
          timer = setTimeout(callback, ms);
        };
      })();

      function addTextAreaCallback(textArea, callback, delay) {
        var timer = null;
        if (textArea != null && textArea != undefined)
        {
          textArea.onkeypress = function() {
            if (timer) {
              window.clearTimeout(timer);
            }
            timer = window.setTimeout( function() {
              timer = null;
              callback();
            }, delay );
          };
          textArea = null;
        }
      }

      addTextAreaCallback( document.getElementById("search_box"),
      function(event){
        if($("#search_box").val()!=""){
          search_key();
          $("#draggable_tab").show();
        }
      }, 400);

      //      $("#search_box").bind("keyup",function(event){
      //        if($(this).val()!=""){
      //          search_key();
      //          $("#draggable_tab").show();
      //        };
      //      });

      $("#search_box").bind("keydown",function(event){
        if(event.keyCode == 13){
          search_key();
          return false;
        }
      });

      $("#close_button").bind("click",function(){
        $("#draggable_tab").hide();
        return false;
      });

      $("#draggable_tab").bind("mouseover",function(){
        $("#draggable_tab").show();
        return false;
      });


      $("#search_box_contact").css({"width":"200px"});
      var search_box_contact = document.getElementById('search_box_contact');
      var search_box_contact_position = getAbsolutePosition(search_box_contact);
      $("<div id='draggable_tab_contact' style='position:absolute;text-transform:none;font-size:11px;z-index:300000'><div id='search_header_contact' style='background-color:#0A3247;font-weight:bold;width:809px;height:15px;color:white;text-align:right;text-decoration:false;'><a id='close_button_contact' href='#' onclick='return false;' style='margin:8px;text-decoration:false;color:white'>X</a></div><div id='search_container_contact'><table  id='table_search_result_contact' class='property-search' cellspacing='0' cellpadding = '0' >\n\
            <th class='first_cell'><th>ID</th><th>First Name</th><th>Last Name</th><th>Email</th></table></div>").appendTo($("body"));
      $("#draggable_tab_contact").css({'top' : search_box_contact_position.y + 15,'left' : search_box_contact_position.x,'width':"800px"})
      $("#search-loader_contact").hide();
      $("#search_container_contact").css({"overflow":"scroll","background-color":"#FFFFFF","position":"absolute","z-index":"9999","width":"800px","height":"100px","border":"solid black 4px","border-top":"0px"});
      $("#table_search_result_contact th tr").css({"padding":"0px 5px","width":"800px"});
      $("#draggable_tab_contact").hide();
      if($("#search_box_contact").length > 0){
        $(document).click(function(e){
          var result_box = document.getElementById('search_container_contact');
          var result_box_position = getAbsolutePosition(result_box);
          var result_box_width = parseInt(checkTheUnit(result_box.style.width));
          var result_box_height = parseInt(checkTheUnit(result_box.style.height));
          captureMousePosition(e);
          if(xMousePos < result_box_position.x || yMousePos < result_box_position.y || xMousePos > result_box_position.x + result_box_width || yMousePos > result_box_position.y + result_box_height){
            $("#draggable_tab_contact").hide();
          };
        });
      };

      $("#search_box_contact").bind("focus",function(){
        $("#draggable_tab_contact").show();
        return false;
      });

      $("#search_box_contact").bind("click",function(){
        $("#draggable_tab_contact").show();
        return false;
      });

      addTextAreaCallback( document.getElementById("search_box_contact"),
      function(event){
        if($("#search_box_contact").val()!=""){
          search_key_contact();
          $("#draggable_tab_contact").show();
        }
      }, 400);

      //      $("#search_box_contact").bind("keyup",function(event){
      //        if($(this).val()!=""){
      //          search_key_contact();
      //          $("#draggable_tab_contact").show();
      //        };
      //      });

      $("#search_box_contact").bind("keydown",function(event){
        if(event.keyCode == 13){
          search_key_contact();
          return false;
        }
      });

      $("#close_button_contact").bind("click",function(){
        $("#draggable_tab_contact").hide();
        return false;
      });

      $("#draggable_tab_contact").bind("mouseover",function(){
        $("#draggable_tab_contact").show();
        return false;
      });

      $("#toggler_wrapper").hide();


    });

    function show_wrapper(){
        $("ul.office_client").css("margin-right", "-320px");
        $("#toggler_wrapper").slideDown("fast");
        $("a#toggler").hide();
      }

      function hide_wrapper(){
        $("ul.office_client").css("margin-right", "-230px");
        $("#toggler_wrapper").slideUp("fast");
        $("a#toggler").show();
      }

      function change_office(location){
        window.location.href = location;
      }

    function search_key(){
      $.ajax({
        type: "POST",
        url: "<%= search_agent_office_properties_path(@agent, current_office) %>",
        data:"search_value="+$("#search_box").val(),
        dataType:"JSON",
        beforeSend:function(){
          $("#search-loader").show();
          if ($("#table_search_result").find("tr").length >0){
            $("#table_search_result").find("tr:gt(0)").remove() ;
            $("#search_container").css({"height":"100px"});
          };
          $("#draggable_tab").show();
        },
        success: function(jsonResponse){
          $("#search-loader").hide();
          if ($("#table_search_result").find("tr").length >0){
            $("#table_search_result").find("tr:gt(0)").remove() ;
            $("#search_container").css({"height":"100px"});
          };
          if (jsonResponse != ''){
            var jsonObject = eval('(' + jsonResponse + ')');
            $.each(jsonObject.results, function(index,array){
              $("#table_search_result").append("<tr>\n\
            <td><a href='"+array["href"]+"' style='margin:0px;padding:0px 14px;'>Edit</a></td>\n\
            <td style='color:black'>"+array["id"]+"</td>\n\
            <td style='color:black'>"+array["address"]+"</td>\n\
            <td style='color:black'>"+array["suburb"]+"</td>\n\
            <td style='color:black'>"+array["type"]+"</td>\n\
            <td style='color:black'>"+array["price"]+"</td>\n\
            <td style='color:black'>"+array["status"]+"</td>\n\
            </tr>");
            });
            $("#search_container").css({"height":"400px"});
          }else{
            $("#table_search_result").append("<tr>\n\
            <td style='color:black' colspan='6'>No Matching Results</td>\n\
            </tr>");
            $("#search_container").css({"height":"100px"});
          };
        },
        complete:function(){
          $("#draggable_tab").show();
        }
      });
      return false;
    };

    function search_key_contact(){
      $.ajax({
        type: "POST",
        url: "<%= search_path(params, @agent, current_office) %>",
        data:"search_value="+$("#search_box_contact").val(),
        dataType:"JSON",
        beforeSend:function(){
          $("#search-loader_contact").show();
          if ($("#table_search_result_contact").find("tr").length >0){
            $("#table_search_result_contact").find("tr:gt(0)").remove() ;
            $("#search_container_contact").css({"height":"100px"});
          };
          $("#draggable_tab_contact").show();
        },
        success: function(jsonResponse){
          $("#search-loader_contact").hide();
          if ($("#table_search_result_contact").find("tr").length >0){
            $("#table_search_result_contact").find("tr:gt(0)").remove() ;
            $("#search_container_contact").css({"height":"100px"});
          };
          if (jsonResponse != ''){
            var jsonObject = eval('(' + jsonResponse + ')');
            $.each(jsonObject.results, function(index,array){
              $("#table_search_result_contact").append("<tr>\n\
            <td><a href='"+array["href"]+"' style='margin:0px;padding:0px 14px;'>Edit</a></td>\n\
            <td style='color:black'>"+array["id"]+"</td>\n\
            <td style='color:black'>"+array["first_name"]+"</td>\n\
            <td style='color:black'>"+array["last_name"]+"</td>\n\
            <td style='color:black'>"+array["email"]+"</td>\n\
            </tr>");
            });
            $("#search_container_contact").css({"height":"400px"});
          }else{
            $("#table_search_result_contact").append("<tr>\n\
            <td style='color:black' colspan='6'>No Matching Results</td>\n\
            </tr>");
            $("#search_container_contact").css({"height":"100px"});
          };
        },
        complete:function(){
          $("#draggable_tab_contact").show();
        }
      });
      return false;
    };

    function toggler_on(){
      $('#toggler_wrapper').slideDown('slow');
      $('#auto_toggle').empty().append("<a id='toggler' href='#toggler_wrapper' style='font-size:10px'>change office</a>")
      $('#toggler').attr('onclick','toggler_off()');
      return false;
    };
    function toggler_off(){
      $('#toggler_wrapper').slideUp('slow');
      $('#auto_toggle').empty().append("<a id='toggler' href='#toggler_wrapper' style='font-size:10px'>change office</a>")
      $('#toggler').attr('onclick','toggler_on()');
      return false;
    };
  </script>
  <script type="text/javascript">
    function toggle_active_help(status) {
      if (status){
        document.getElementById('active_help').style.display = 'block';
      }
      else{
        document.getElementById('active_help').style.display = 'none';
      }
    }
  </script>
</html>
