<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Agents <%= @title %></title>
    <%= stylesheet_link_tag 'commercialloopcrm' unless params[:action] == "preview"%>
    <%= javascript_include_tag 'jquery-1.3.min', 'jquery-ui'%>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
