<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Agents <%= @title %></title>
  </head>
  <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
  <link rel="stylesheet" href="/stylesheets/login.css" type="text/css" />
  <%= javascript_include_tag 'jquery-1.3.min', 'jquery-ui', 'ui/jquery.flexbox.min', 'jquery.tooltip.pack.js','thickbox','application'%>
  <%= javascript_include_tag 'ui/ui.datepicker', :cache =>'base_datepicker'%>
  <style type="text/css">
    body#login #login_body {
      margin-top: 10px;
    }
  </style>
  <body id="login">
    <div id="login_body">
      <%= yield %>
    </div>
  </body>
</html>





