<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Building Reports</title>
    <%= stylesheet_link_tag  "application", :media => "all" %>
    <%= stylesheet_link_tag "print", :media => "all" %>
    <%= javascript_include_tag "application", :media => "all" %>
  </head>
  <body id="print">
    <div id="content" class="container clearfix">
      <%= yield %>
    </div>
  </body>
</html>