<!DOCTYPE HTML PUBLIC "XSLT-compat">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Commercial Loop <%= @title %></title>
<meta name="description" content="Commercial Loop" />
<meta name="keywords" content="commercial loop, real estate, software, property, properties, listings, listing, application, property management" />
<meta name="author" content="Jen Germann" />
<meta name="copyright" content="Jen Germann" />
<link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
<%= javascript_include_tag 'jquery-1.3.min', "prototype", "application" %>
<%= stylesheet_link_tag "signup" , :media => "screen"%>
<!--[if lt IE 7]>
<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
<![endif]-->

<!--[if lt IE 8]>
<link rel="stylesheet" href="http://www.commercialloopcrm.com.au/wp-content/themes/zoo/styles/iehacks.css" type="text/css" media="screen" />
<![endif]-->

<!-- for creating the new elements in IE -->
<!--[if IE]>
<script>
  document.createElement('header');
  document.createElement('footer');
  document.createElement('section');
  document.createElement('aside');
  document.createElement('nav');
  document.createElement('article');
</script>
<![endif]-->

</head>
<body id="home" class="signup">

<div id="header">
<div id="headerwrap">

	<h1 id="logo"><a href="http://www.commercialloopcrm.com.au"><!--<img src="http://www.commercialloopcrm.com.au/wp-content/uploads/logos/logo_zoo_property_black.gif" alt="Commercial Loop" width="225" height="40"/>-->commercialloopcrm.com.au</a></h1>

<div id="nav" style="width:952px;margin-top:-40px">
  <p class="float-right button" style="margin-left:5px;"><%= link_to "FORGOT PASSWORD", forgot_password_path, :class => "btn" %></p>
  <p class="float-right button" style="margin-left:5px;"><%= link_to "REGISTER", signup_path, :class => "btn" %></p>
  <p class="float-right button"><%= link_to "LOGIN", login_path, :class => "btn" %></p>
  <!-- <p class="float-left">
    <span class="link link2"><a href="http://www.commercialloopcrm.com.au" title="Feature Tour">Feature Tour</a> | </span>

    <span class="link link3"><a href="http://www.commercialloopcrm.com.au/pricing" title="Pricing">Pricing</a> | </span>
    <span class="link link4"><a href="http://www.commercialloopcrm.com.au/store" title="Online Store">Online Store</a> | </span>
    <span class="link link4"><a href="http://www.commercialloopcrm.com.au/forum" title="Forum">Forum</a> | </span>
    <span class="link link4"><a href="http://www.commercialloopcrm.com.au/support" title="Support">Support</a></span>

  </p> -->
</div><!-- end #nav -->

</div><!-- end #headerwrap -->
</div><!-- end #header -->

<div id="main_body">

<div id="sidebar">
	<div class="block">
	<h4>FAQs</h4>
	<ul id="additional_features">

	<li><strong>Is there a free trial?</strong><br />Everyone who sets up an account will receive 1 free office account for a 30 day trial of the Agent's system.</li>
	<li><strong>Which web browsers work with Commercial Loop?</strong><br />Commercial Loop works on any of the following web browsers:
		<ul>
			<li><strong>IE 7</strong> (PC)</li>
			<li><strong>Firefox 2 or later</strong> (Mac, PC, or Linux)</li>

			<li><strong>Safari 2 or later</strong> (Mac).</li>
                        <li><strong>Google Chrome</strong> (Mac or PC).</li>
		</ul>
	</li>

	<li><strong>Can I cancel later?</strong><br />Absolutely. Commercial Loop is a month-to-month service so you can cancel at any time.</li>

	<li><strong>Which forms of payment do you accept?</strong><br />We accept payment from leading credit cards including <strong>Visa</strong> and <strong>Mastercard</strong>. We do not accept cheques, money orders over the phone or invoices to be paid at a later date. You will be emailed a "PAID" invoice each time you are billed.</li>
	</ul>
	</div>
</div>

<div id="content" class="narrowcolumn">
<%= yield %>
</div><!-- end #content -->
<div class="clearer"></div>

</div><!-- end #main_body -->
<div id="footer">
	<div id="footerwrap">
	<p id="footerlogo">
		<a href="http://www.commercialloopcrm.com.au"><img src="http://www.commercialloopcrm.com.au/wp-content/uploads/logos/logo_zoo_property_black150.gif" alt="logo_zoo_property_black" width="150" height="27"/></a>

	</p>
	<p><strong>Real Estate &#8212; Evolved</strong><br />
	Copyright &#169;2009
		<a href="http://www.commercialloopcrm.com.au" title="Commercial Loop">Commercial Loop</a>. All Rights Reserved.
 		<a href="http://www.commercialloopcrm.com.au/terms-of-use/" target="_blank" title="Terms of Use">Terms of Use</a> &#8226;
		<a href="http://www.commercialloopcrm.com.au/privacy-policy/" title="Privacy Policy" target="_blank">Privacy Policy</a> &#8226;
		<a href="http://www.commercialloopcrm.com.au/contact-us" title="Contact Us">Contact Us</a>

	</p>
	</div>
<div class="clearer"></div>
</div><!-- end #footer -->

</body>
</html>