<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <% if params[:controller] == "vaults" %>
      <title>Commercial Loop CRM - Vault</title>
    <%else%>
      <title>Commercial Loop CRM - Residential Project</title>
    <%end%>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
  </head>
  <%= stylesheet_link_tag 'style', 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery.spellchecker','ui/jquery.flexbox.min', 'jquery.tooltip.pack.js','thickbox','application','jquery.rte', 'jquery-ui'%>
  <% if (params[:controller] == "residential_projects" && params[:action] == "index") || (params[:controller] == "children_listings" && params[:action] == "index" ) || (params[:controller] == "available_children_listings" && params[:action] == "index" ) || (params[:controller] == "sold_children_listings" && params[:action] == "index" ) || (params[:controller] == "on_hold_children_listings" && params[:action] == "index" ) %>
    <%= stylesheet_link_tag '/javascripts/ext/resources/css/ext-all.css' %>
    <%= javascript_include_tag 'ext/adapter/ext/ext-base.js',"ext/ext-all-debug.js",
      "ext/examples/ux/gridfilters/menu/RangeMenu.js",
      "ext/examples/ux/gridfilters/menu/ListMenu.js",
      "ext/examples/ux/gridfilters/GridFilters.js",
      "ext/examples/ux/gridfilters/filter/Filter.js",
      "ext/examples/ux/gridfilters/filter/StringFilter.js",
      "ext/examples/ux/gridfilters/filter/ListFilter.js",
      "ext/examples/ux/gridfilters/filter/NumericFilter.js",
      "ext/examples/ux/gridfilters/filter/DateFilter.js",
      "ext/examples/ux/gridfilters/filter/BooleanFilter.js"
  %>
    <script type="text/javascript">
      Ext.BLANK_IMAGE_URL = '/javascripts/ext/resources/images/default/s.gif';
      $(document).ready(function(){
        function callPreview(path) {
          window.open(path,'sharer','menubar=1,toolbar=0,scrollbars=1,status=0,width=800,height=800');
        };
      });
    </script>
  <%end%>
  <%= yield :head %>
  <body style="background-color:#f0f0f0;">
    <div id="main_body" >
      <% if params[:controller] == "residential_projects" || params[:controller] == "children_listings" || params[:controller] == "available_children_listings" || params[:controller] == "sold_children_listings" || params[:controller] == "on_hold_children_listings" || params[:controller] == "documents" %>
        <div style="margin-top:10px;text-align:right;margin-right:10px;font-size:9pt;">
          <%= link_to 'Sign Out', logout_path %>
        </div>
        <div id="helpdiv" class="block help full">
          <% if flash.now[:notice] %>
            <div class='group'>
              <p class="help_message"><%= h flash.now[:notice] %></p>
            </div>
          <% end %>
        </div>

        <% @agent_contact = AgentContact.find(session[:contact_login]) %>
        <% @office = Office.find(@agent_contact.office_id) %>
        <% @logo =Attachment.find(:first, :conditions => "attachable_type = 'Office' AND attachable_id = '#{@office.id}' AND category = 'Office Logo'") %>
        <div class="title_block block" style="vertical-align:middle;">
          <% unless @logo.blank? %>
            <img style="width: 200px;vertical-align: middle;display: inline-block;*zoom:1; *display: inline;" src="<%=@logo.public_filename%>">
            <%end%>
            <div style="display: inline-block;vertical-align: middle;margin-left: 10px;*zoom:1; *display: inline;">
              <% if params[:controller] == "residential_projects" && params[:action] == "status" %>
                <h2 style="font-size: 20px;margin-bottom: 0;"><%=@agent_contact.office.name%></h2>
              <%else%>
                <h2 style="font-size: 20px;"><%=@agent_contact.office.name%></h2>
              <%end%>
            </div>
        </div>
        <% if params[:controller] == "residential_projects" && params[:action] == "index" %>
          <p>(Below are the Residential Buildings we have stock listed in. You can view the stock/listings for each Building)</p>
        <%elsif (params[:controller] == "children_listings" && params[:action] == "index") || (params[:controller] == "available_children_listings" && params[:action] == "index") || (params[:controller] == "sold_children_listings" && params[:action] == "index") || (params[:controller] == "on_hold_children_listings" && params[:action] == "index") || (params[:controller] == "residential_projects" && params[:action] == "status") || (params[:controller] == "documents" && params[:action] == "index") %>
          <p style="float:left;padding:0" class="parent-address"><%= link_to "Residential Projects", residential_projects_path %> &gt;&gt; <%= @property.address %></p>
          <div style="clear:both;"></div>
        <%end%>
      <%end%>
      <%= yield %>
    </div> <!-- end #main_body -->
  </body>
</html>