<div class="sub2nav">
  <% unless @agent_contact.nil? %>
    <% if @agent_contact.id.nil? %>
      <div class="optnav <%= params[:controller] == "agent_contacts" && params[:action] == 'new' ? 'current-nav' : ''  %>" >
        <%= link_to 'Detail', new_agent_office_agent_contact_path(@agent,@office), :title => 'Details'%>
      </div>
    <% else %>
      <% if current_user.full_access? || (current_user.client_only_access? && current_user.include_accessible?(@agent_contact.id))  || (current_user.limited_client_access? && current_user.include_accessible?(@agent_contact.id)) %>
      <div class="optnav <%= params[:controller] == "agent_contacts" && params[:action] == 'edit' ? 'current-nav' : ''  %>">
        <%= link_to 'Detail', edit_agent_office_agent_contact_path(@agent,@office, @agent_contact), :title => 'Details'%>
      </div>
      <% end %>
      <div class="optnav <%= params[:controller] == "alerts" ? 'current-nav' : ''  %>">
       <%= link_to 'Requirements', agent_office_agent_contact_alerts_path(@agent, @office, @agent_contact), :title => 'Alerts'%>
      </div>
      <div class="optnav <%= params[:controller] == "notes" ? 'current-nav' : ''  %>">
        <%= link_to 'Notes', agent_office_agent_contact_notes_path(@agent, @office, @agent_contact), :title => 'Notes'%>
      </div>

      <div class="optnav <%= params[:controller] == "contact_tasks" ? 'current-nav' : ''  %>">
        <%= link_to 'Tasks', agent_office_agent_contact_contact_tasks_path(@agent, @office, @agent_contact), :title => 'Tasks'%>
      </div>
    <% end %>
  <% end %>
  <div class="clearer"></div>
</div>
