<script type="text/javascript">
  function add_group(){
    var all_id = $("#groups_id").val();
    var arry = all_id.split('#');
    var add =0;
    if($("#agent_contact_group_contact_id").val()!=''){
      for(var x=0; x < arry.length; x++){
        if((arry[x]!='')&&(arry[x]==$("#agent_contact_group_id").val())){
            add = 1
        }
      }
      if(add != 1){
        var new_groups = $("#groups_id").val() + '#' + $("#agent_contact_group_id").val()
        $("#groups_id").attr('value', new_groups);
        $("#groups").append('<div id="'+$("#agent_contact_group_id").val()+'" style="margin-right:20px;">'+$("#agent_contact_group_id option:selected").text()+'\
         <a href="javascript:remove_group('+$("#agent_contact_group_id").val()+')">x</a></div>');
      }
    }
  }

  function remove_group(id){
    var all_id = $("#groups_id").val();
    var arry = all_id.split('#');
    $("#groups_id").attr('value', "");
    for(var x=0; x < arry.length; x++){
      if((arry[x]!='')&&(arry[x]!=id)){
       var new_groups = $("#groups_id").val() + '#' + arry[x]
       $("#groups_id").attr('value', new_groups);
      }
    }
    $('#groups div#'+id).remove();
  }

  function update_groups(){
    var base_ptype = $("#wrap_group");
    var controller = "<%= populate_groups_agent_office_agent_contacts_path(@agent,@office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data:"",
      dataType:"JSON",
      beforeSend:function(){
        $("#agent_contact_group_id").attr("disabled","disabled");
        $("#group_loading").show();
        $("#add_new_group").hide();
      },
      success: function(jsonResponse){
        var eval_json = eval(jsonResponse);
        var option = "";
        if(eval_json == ""){
          option = "<option value =''>Please select</option>";
        }else{
          option = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json.length;i++){
            var to_string = new String("'"+eval_json[i][1]+"'");
            option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
          };
        };
        var html = "<select id='agent_contact_group_id' name='agent_contact[group_id]' onchange='add_group();' style='width:58%' class='select_box'>"+option+"</select>";
        base_ptype.empty().append($(html));
      },
      complete:function(){
        $("#agent_contact_group_id").removeAttr("disabled");
        $("#group_loading").hide();
        $("#add_new_group").show();
      }
    });
  }

 $(document).ready(function(){
      $(".ajax-loader").hide();
      $("#group_loading").hide();
      $("#add_new_group").hide();
      update_groups();
    });

</script>
<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">Mailing Groups </h6>
    <fieldset class="pf_fs5">
      <ul class="pf-ul">
        <li class="li--23"><label><span>Add Mailing Group:</span></label>
          <div id="wrap_group">
            <%= form.select :group_id, @group_contacts, {}, {:class => 'select_box', :style=> "width:58%", :onchange => "add_group();"} %>
          </div>
          <div id="group_loading" ><%= image_tag "/images/ajax-loader.gif" %></div>
          &nbsp;&nbsp;<%= link_to 'Add', agent_office_group_contacts_path(@agent,@office)+"?KeepThis=true&TB_iframe=true&height=550&width=700&modal=true",:class =>"thickbox",:id=>"add_new_group"%>
        </li>
        <li class="li--23">
          <input type="hidden" id="groups_id" name="groups_id" value="<%=@groups%>" />
          <div id="groups" style="width:300px;"><%=@list_groups%></div>
        </li>
      </ul>
    </fieldset>
  </div>
</div>