<script type="text/javascript">
  function add_category(){
    var all_id = $("#categories_id").val();
    var arry = all_id.split('#');
    var add =0;
    if($("#agent_contact_category_contact_id").val()!=''){
      for(var x=0; x < arry.length; x++){
        if((arry[x]!='')&&(arry[x]==$("#agent_contact_category_contact_id").val())){
          add = 1
        }
      }
      if(add != 1){
        var new_categories = $("#categories_id").val() + '#' + $("#agent_contact_category_contact_id").val()
        $("#categories_id").attr('value', new_categories);
        $("#categories").append('<div id="'+$("#agent_contact_category_contact_id").val()+'" style="margin-right:20px;">'+$("#agent_contact_category_contact_id option:selected").text()+'\
         <a href="javascript:remove_category('+$("#agent_contact_category_contact_id").val()+')">x</a></div>');
      }
    }
  }

  function add_industry_sub_category(){
    var all_id = $("#industry_sub_categories_id").val();
    var arry = all_id.split('#');
    var add =0;
    if($("#agent_contact_industry_sub_category_id").val()!=''){
      for(var x=0; x < arry.length; x++){
        if((arry[x]!='')&&(arry[x]==$("#agent_contact_industry_sub_category_id").val())){
          add = 1
        }
      }
      if(add != 1){
        var new_industry_sub_categories = $("#industry_sub_categories_id").val() + '#' + $("#agent_contact_industry_sub_category_id").val()
        $("#industry_sub_categories_id").attr('value', new_industry_sub_categories);
        $("#industry_sub_categories").append('<div id="'+$("#agent_contact_category_company_id").val()+'" style="margin-right:20px;">'+$("#agent_contact_industry_sub_category_id option:selected").text()+'\
         <a href="javascript:remove_sub_category_industry('+$("#agent_contact_industry_sub_category_id").val()+')">x</a></div>');
      }
    }
  }

  function remove_category(id){
    var all_id = $("#categories_id").val();
    var arry = all_id.split('#');
    $("#categories_id").attr('value', "");
    for(var x=0; x < arry.length; x++){
      if((arry[x]!='')&&(arry[x]!=id)){
        var new_categories = $("#categories_id").val() + '#' + arry[x]
        $("#categories_id").attr('value', new_categories);
      }
    }
    $('#categories div#'+id).remove();
  }

  function remove_sub_category_industry(id){
    var all_id = $("#industry_sub_categories_id").val();
    var arry = all_id.split('#');
    $("#industry_sub_categories_id").attr('value', "");
    for(var x=0; x < arry.length; x++){
      if((arry[x]!='')&&(arry[x]!=id)){
        var new_industry_sub_categories = $("#industry_sub_categories_id").val() + '#' + arry[x]
        $("#industry_sub_categories_id").attr('value', new_industry_sub_categories);
      }
    }
    $('#industry_sub_categories div#'+id).remove();
  }

  function update_categories(){
    var base_ptype = $("#wrap_category");
    var controller = "<%= populate_categories_agent_office_agent_contacts_path(@agent,@office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data:"",
      dataType:"JSON",
      beforeSend:function(){
        $("#agent_contact_category_contact_id").attr("disabled","disabled");
        $("#category_loading").show();
        $("#add_new").hide();
      },
      success: function(jsonResponse){
        var eval_json = eval(jsonResponse);
        var option = "";
        if(eval_json == ""){
          option = "<option value =''>Please select</option>";
        }else{
          option = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json.length;i++){
            var to_string = new String("'"+eval_json[i][1]+"'");
            option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
          };
        };
        var html = "<select id='agent_contact_category_contact_id' name='agent_contact[category_contact_id]' onchange='add_category();' style='width:58%' class='select_box'>"+option+"</select>";
        base_ptype.empty().append($(html));
      },
      complete:function(){
        $("#agent_contact_category_contact_id").removeAttr("disabled");
        $("#category_loading").hide();
        $("#add_new").show();
      }
    });
  }

  function update_industry_sub_categories(){
    var base_ptype = $("#wrap_industry_sub_category");
    var controller = "<%= populate_industry_sub_categories_agent_office_agent_contacts_path(@agent,@office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data:"",
      dataType:"JSON",
      beforeSend:function(){
        $("#agent_contact_industry_sub_category_id").attr("disabled","disabled");
        //$("#category_loading").show();
        //$("#add_new").hide();
      },
      success: function(jsonResponse){
        var eval_json = eval(jsonResponse);
        var option = "";
        if(eval_json == ""){
          option = "<option value =''>Please select</option>";
        }else{
          option = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json.length;i++){
            var to_string = new String("'"+eval_json[i][1]+"'");
            option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
          };
        };
        var html = "<select id='agent_contact_industry_sub_category_id' name='agent_contact[industry_sub_category_id]' onchange='add_industry_sub_category();' style='width:58%' class='select_box'>"+option+"</select>";
        base_ptype.empty().append($(html));
      },
      complete:function(){
        $("#agent_contact_industry_sub_category_id").removeAttr("disabled");
        //$("#category_loading").hide();
        //$("#add_new").show();
      }
    });
  }

  function update_heards(){
    var base_ptype = $("#heard_wrap");
    var controller = "<%= populate_heards_agent_office_agent_contacts_path(@agent,@office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data:"",
      dataType:"JSON",
      beforeSend:function(){
        $("#agent_contact_heard_from_id").attr("disabled","disabled");
        $("#heard_loading").show();
        $("#add_new_heard").hide();
      },
      success: function(jsonResponse){
        var eval_json = eval(jsonResponse);
        var option = "";
        if(eval_json == ""){
          option = "<option value =''>Please select</option>";
        }else{
          option = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json.length;i++){
            var to_string = new String("'"+eval_json[i][1]+"'");
            if(eval_json[i][1] == '<%= @agent_contact.heard_from_id %>'){
              option += '<option value ='+to_string+' selected>'+eval_json[i][0]+'</option>';
            }else{
              option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
            }
          };
        };
        var html = "<select id='agent_contact_heard_from_id' name='agent_contact[heard_from_id]' style='width:58%' class='select_box'>"+option+"</select>";
        base_ptype.empty().append($(html));
      },
      complete:function(){
        $("#agent_contact_heard_from_id").removeAttr("disabled");
        $("#heard_loading").hide();
        $("#add_new_heard").show();
      }
    });
  }

  function company_flexbox(){
    var query = "<%= @company_name %>";
    jQuery("#company_name").flexbox('<%= auto_complete_agent_office_agent_contacts_path(@agent, @office) %>',{
      customParameters: {q: query},
      method: 'post',
      watermark: query,
      showArrow: false,
      inputClass: 'single',
      minChars: 2,
      width:200,
      queryDelay: 300,
      paging:false,
      highlightMatches:false,
      containerClass:'ffbContainer',
      onSelect: function(){
        $('#agent_contact_agent_company_id').attr('value', this.getAttribute('hiddenValue'));
      }
    });
  }

  $(document).ready(function(){
    $(".ajax-loader").hide();
    $("#category_loading").hide();
    $("#add_new").hide();
    $("#heard_loading").hide();
    $("#add_new_heard").hide();
    company_flexbox();
    update_categories();
    update_heards();
  });
  jQuery(function($){
    $('#add_new').click(function(){
      return false
    })
  })

</script>
<script type="text/javascript">
  $(document).ready(function(){
    jQuery("#indicator1").ajaxStart(function(){
      jQuery(this).show();
    });
    jQuery("#indicator1").ajaxStop(function(){
      jQuery(this).hide();
    });
  })

</script>
<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">Category </h6>
    <fieldset class="pf_fs5">
      <ul class="pf-ul">
        <li class="li--23 required"><label><span>Contact Type:<span class="red_star">*</span></span></label>
          <div id="wrap_category">
            <%= form.select :category_contact_id, @category_contacts, {}, {:class => 'select_box', :style=> "width:58%", :onchange => "add_category();"} %>
          </div>
          <div id="category_loading" ><%= image_tag "/images/ajax-loader.gif" %></div>
          &nbsp;&nbsp;<%= link_to 'Add', agent_office_category_contacts_path(@agent,@office)+"?KeepThis=true&TB_iframe=true&height=550&width=700&modal=true",:class =>"thickbox",:id=>"add_new"%>
        </li>
        <li class="li--23">
          <input type="hidden" id="categories_id" name="categories_id" value="<%=@categories%>" />
          <div id="categories" style="width:300px;"><%=@list_categories%></div>
        </li>
        <li class="li--23"><label><span>Company:</span></label>
          <div id="company_name"></div>
          <%= form.hidden_field :agent_company_id, :class => "single" %>
          <span id="indicator1" style="display:none;"><img src="/images/search-loader.gif" id="contact-loader"></img></span>
          &nbsp;&nbsp;<%= link_to 'Add', agent_office_company_contacts_path(@agent,@office)+"?KeepThis=true&TB_iframe=true&height=550&width=700&modal=true",:class =>"thickbox",:id=>"add_new"%>
        </li>
        <li class="li--23 required"><label><span>Industry Category:</span><span class="red_star">*</span></label>
          <div id="wrap_category">
            <%= form.select :industry_category_id, @industry_categories, {}, { :class => 'select_box' }  %>
          </div>
        </li>
        <li class="li--23 required"><label><span>Industry Sub-Category:</span><span class="red_star">*</span></label>
          <div id="wrap_industry_sub_category">
            <%= form.select :industry_sub_category_id, @industry_sub_categories, {}, { :class => 'select_box', :style => "width:58%", :onchange => "add_industry_sub_category();"}  %>
          </div>
        </li>
        <li class="li--23">
          <input type="hidden" id="industry_sub_categories_id" name="industry_sub_categories_id" value="<%=@industry_sub_categories%>" />
          <div id="industry_sub_categories" style="width:300px;"><%=@list_industry_sub_categories%></div>
        </li>
      </ul>
    </fieldset>
  </div>
</div>