<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">Postal Details </h6>
    <fieldset class="pf_fs5">
      <ul class="pf-ul">
        <li class="li--23"><label><span>Country:</span></label>
          <%= form.select :country_id, @countries, :class => 'select_box' %>
        </li>
        <li class="li--23"><label><span>Suburb:</span></label>
          <%= form.text_field :suburb, :class => "single" %>
        </li>
        <li class="li--23"><label><span>Region:</span></label>
          <%= form.text_field :town_village, :class => "single" %>
        </li>
        <li class="li--23"><label><span>State:</span></label>
          <%= form.text_field :state, :class => "single" %>
        </li>
        <li class="li--23 required"><label><span>Post Code:</span></label>
          <%= form.text_field :post_code, :class => "single" %>
        </li>
        <!--<li class="li--23"><label><span>Province:</span></label>
        <%= form.text_field :province, :class => "single" %>
        </li>
        <li class="li--23"><label><span>City:</span></label>
        <%= form.text_field :city, :class => "single" %>
        </li>-->
        <li class="li--23"><label><span>Unit Number:</span></label>
          <%= form.text_field :unit_number, :class => "single" %>
        </li>
        <li class="li--23"><label><span>Street Number:</span></label>
          <%= form.text_field :street_number, :class => "single" %>
        </li>
        <li class="li--23"><label><span>Street Name/Type:</span></label>
          <%= form.text_field :street_name, :class => "single" %>
        </li>
      </ul>
    </fieldset>
  </div>
</div>