<div class="block help full sub-opt-nav">
  <div><%= render :partial => 'agent_contacts/contact_options' %></div>
</div>
<div id="clientdiv" class="block accounts full">
<% form_for :agent_contact, @agent_contact, :url => agent_office_agent_contact_path(@agent,@office,@agent_contact), :html => {:multipart => true, :class => 'propertyform full', :method=>:put} do |f| %>
   <%= f.error_messages :class => 'errortext' %>
  <div class="block form half leader" >
     <%= render :partial => 'contact', :locals => {:form => f} %>
     <%= render :partial => 'postal', :locals => {:form => f} %>
     <%= render :partial => 'login', :locals => {:form => f} %>
   </div><!-- end .half BLOCK (left side) -->

   <div class="block form half follower" style="width: 48.5% !important"><!-- start .half BLOCK (right side) -->
    <%= render :partial => 'category_edit', :locals => {:form => f} %>
    <%= render :partial => 'assigned_accessible', :locals => {:form => f} %>
     <%= render :partial => 'solicitor', :locals => {:form => f} %>
    <%= render :partial => 'heard', :locals => {:form => f} %>
    <%= render :partial => 'mail_group', :locals => {:form => f} %>
    <%= render :partial => 'submit', :locals => {:form => f} %>
   </div><!-- end .half BLOCK (right side) -->
<% end %>
</div><!-- end #clientdiv -->
<script type="text/javascript">
  $(document).ready(function(){
    <% if params[:action] == 'update' %>
      <% unless params[:agent_contact].blank? %>
        $("#agent_contact_first_name").val('<%= params[:agent_contact][:first_name] %>');
        $("#agent_contact_last_name").val('<%= params[:agent_contact][:last_name] %>');
        $("#agent_contact_website").val('<%= params[:agent_contact][:website] %>');
        $("#agent_contact_email").val('<%= params[:agent_contact][:email] %>');
        $("#agent_contact_home_number").val('<%= params[:agent_contact][:home_number] %>');
        $("#agent_contact_work_number").val('<%= params[:agent_contact][:work_number] %>');
        $("#agent_contact_mobile_number").val('<%= params[:agent_contact][:mobile_number] %>');
        $("#agent_contact_contact_number").val('<%= params[:agent_contact][:contact_number] %>');
        $("#agent_contact_fax_number").val('<%= params[:agent_contact][:fax_number] %>');
        $("#agent_contact_suburb").val('<%= params[:agent_contact][:suburb] %>');
        $("#agent_contact_town_village").val('<%= params[:agent_contact][:town_village] %>');
        $("#agent_contact_state").val('<%= params[:agent_contact][:state] %>');
        $("#agent_contact_post_code").val('<%= params[:agent_contact][:post_code] %>');
        $("#agent_contact_unit_number").val('<%= params[:agent_contact][:unit_number] %>');
        $("#agent_contact_street_number").val('<%= params[:agent_contact][:street_number] %>');
        $("#agent_contact_street_name").val('<%= params[:agent_contact][:street_name] %>');
        $("#agent_contact_solicitor_name").val('<%= params[:agent_contact][:solicitor_name] %>');
        $("#agent_contact_solicitor_email").val('<%= params[:agent_contact][:solicitor_email] %>');
        $("#agent_contact_solicitor_phone").val('<%= params[:agent_contact][:solicitor_phone] %>');

        <% if params[:agent_contact][:login_required] == 1 %>
          $("#agent_contact_username").val('<%= params[:agent_contact][:username] %>');
          $("#agent_contact_password").val('<%= params[:agent_contact][:password] %>');
        <% end %>

        $("#agent_contact_country_id").find("options[value='<%= params[:agent_contact][:country_id] %>']").attr('selected', 'selected');
      <%end%>
    <%end%>
  });
</script>